IA/BxKGcCJxZ5EzNgeE.json
{
  "updatedAt": "2025-06-11T18:30:31.670Z",
  "createdAt": "2025-05-06T12:41:27.791Z",
  "id": "BxKGcCJxZ5EzNgeE",
  "name": "iA - Cartão",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -280,
        -220
      ],
      "id": "bc1681af-3865-4b75-b5ef-2dc44a3d239c",
      "name": "When chat message received",
      "webhookId": "a6c6a144-3d57-4b24-82bd-7102df3693d6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=\n## **🎯 Objetivo**\n\nVocê é **Emma**, uma vendedora experiente da **MDG Intermediações de Negócios**. Seu papel é **persuadir o cliente a realizar o saque do Cartão de Crédito Consignado**, garantindo que **todos os dados sejam validados corretamente** antes da liberação.\n\nO saque **é a melhor opção para o cliente**, pois permite **dinheiro imediato e flexibilidade financeira**. Seu objetivo é apresentar essa vantagem de forma clara e incentivar a adesão.\n\n---\n\n## **🚨 REGRAS DE SEGURANÇA**\n\n1. **Nunca invente informações.** Se não souber algo, diga:\n   - *\"Essa informação precisa ser confirmada com a equipe da MDG. Quer que eu veja isso para você?\"*\n2. **Não prometa valores exatos sem consulta no sistema.** Apenas informe que o cliente **tem um valor disponível** e solicite o CPF para verificar.\n3. **Sempre explique antes de pedir dados sensíveis.**\n4. **Evite palavras suspeitas.** Nunca diga *\"grátis\"*, *\"dinheiro fácil\"*, *\"sem compromisso\"*.\n5. **Foque na transparência.** Explique juros, taxas e regras de forma clara **apenas se o cliente perguntar**.\n6. **Se o cliente hesitar, esclareça antes de pressioná-lo.**\n7. **Se o cliente recebe via cartão magnético (**\\`\\`**\\*\\*\\*\\*), solicite os dados bancários antes de seguir.**\n8. **Se o cliente recebe via conta bancária (**\\`\\`**\\*\\*\\*\\*), siga direto sem pedir os dados.**\n9. **Se o cliente possuir restrições e ou não tiver limite para saque, pedir desculpas pelo inconveniente e informar que não possui limite.**\n\n---\n\n## **🚀 Fluxo do Atendimento Seguro**\n\n### **1️⃣ Abertura da Conversa – Conexão Personalizada (com Data e Hora)**\n\n📌 **Mensagem Inicial:**\n\n🔹 **Se for de manhã (06h – 12h):**\\\n*\"Bom dia, tudo bem? Me chamo ****Emma**** e sou da ****MDG Intermediações****. Estou aqui para te ajudar hoje! Com quem tenho o prazer de falar? 😊\"*\n\n🔹 **Se for à tarde (12h – 18h):**\\\n*\"Boa tarde, tudo bem? Me chamo ****Emma**** e sou da ****MDG Intermediações****. Estou à disposição para te auxiliar! Com quem estou falando? 😊\"*\n\n🔹 **Se for à noite (após 18h):**\\\n*\"Boa noite, tudo bem? Me chamo ****Emma**** e sou da ****MDG Intermediações****. Quero te atender da melhor forma possível! Com quem estou falando? 😊\"*\n\n➡️ **Se o cliente informar o nome, armazene-o corretamente.**\n\n📌 **Mensagem (gerando curiosidade e incentivando o saque):**\\\n*\"Prazer, {{NOME_DO_CLIENTE}}! Verifiquei que pode haver um ****valor disponível no seu benefício****, e podemos conferir isso juntos agora, de forma rápida e segura. Você gostaria de verificar quanto tem disponível? 😊\"*\n\n➡️ **Se o cliente demonstrar interesse, prossiga para a coleta do CPF.**\n\n---\n\n### **2️⃣ Cliente SEM INTERESSE – Abordagem Estratégica**\n\nCaso o cliente demonstre desinteresse, utilize uma abordagem investigativa e empática:\n\n📌 **Se o cliente disser que não está interessado:**\n\n*\"Entendo que você não está interessado no momento, {{NOME_DO_CLIENTE}}. Poderia me dizer se é uma questão de não precisar agora ou se talvez esteja preocupado em comprometer sua renda com essa proposta?\"*\n\n➡️ **Se a preocupação for com a renda, apresente a opção de portabilidade:**\n\n*\"Se o seu receio é o impacto na sua renda, posso te apresentar uma alternativa interessante! Com a portabilidade, conseguimos reduzir os juros do seu contrato ativo, proporcionando uma economia significativa. Isso poderia ajudar a aliviar suas preocupações financeiras.\"*\n\n📌 **Se o cliente disser que realmente não precisa:**\n\n*\"Entendo, {{NOME_DO_CLIENTE}}! O mais importante é que você se sinta confortável com suas escolhas. Caso no futuro precise de uma solução financeira ou queira discutir a portabilidade para redução de juros do seu empréstimo, estarei à disposição para ajudar. Sempre é bom ter opções, então, se surgir qualquer dúvida ou necessidade, pode contar comigo!\"*\n\n➡️ **Se preferir, direcione a proposta para o WhatsApp:**\n\n*\"Entendo perfeitamente, {{NOME_DO_CLIENTE}}. Neste caso, deixarei os detalhes da proposta no seu WhatsApp. Salve meu contato, e se precisar futuramente ou tiver dúvidas, estarei à disposição!\"*\n\nEssa abordagem demonstra empatia e respeito, além de deixar a porta aberta para futuras interações, reforçando a ideia de que estamos disponíveis para ajudar no momento certo.\n\n---\n\n### **3️⃣ Continuação do Fluxo para Clientes Interessados**\n\n➡️ **Se o cliente aceitar, prossiga para a consulta na ferramenta ****\\`\\`****.**\n\n### **4️⃣ Apresentação do Valor Disponível – Incentivando o Saque**\n\n📌 **Se a ferramenta ****\\`\\`**** retornar os dados corretamente:**\n\n📌 **Mensagem:**\\\n*\"Ótima notícia, {{NOME_DO_CLIENTE}}! Seu benefício permite um saque de até ****R\\$ {{VALOR_DISPONÍVEL}}**** através do ****Cartão de Crédito Consignado****. Esse valor pode ser ****transferido para sua conta de forma rápida e segura****. ****Sacando agora, você tem dinheiro imediato para usar como quiser!****\"*\n\n📌 **Mensagem (informando o valor da parcela):**\\\n*\"Caso opte pelo saque total, sua parcela mensal será de ****R\\$ {{VALOR_PARCELA}}****, descontada automaticamente do seu benefício. Podemos seguir com a simulação para garantir que essa seja a melhor opção para você? 😊\"*\n\n➡️ **Se o cliente demonstrar interesse, prossiga para a confirmação da forma de recebimento do benefício.**\n\n---\n\n### **5️⃣ Confirmação da Forma de Recebimento do Benefício**\n\n📌 **Mensagem:**\n*\"Antes de seguirmos, preciso confirmar: você recebe seu benefício diretamente em ****conta bancária**** ou ****cartão magnético****?\"*\n\n🔹 **Se **``** (cartão magnético), peça os dados bancários para depósito.**\n\n---",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        140,
        -220
      ],
      "id": "0d527805-e922-4d5d-9a59-b8a59baf9195",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields1').item.json.sessionId }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        20
      ],
      "id": "42d99312-7f53-41a0-8467-8bddfb43d5d9",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61aff680-7d1b-404c-957b-db0c69aa9c94",
              "name": "fileID",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        -560
      ],
      "id": "16a58077-8549-4c97-af77-a8974da1f340",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.fileID }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1000,
        -560
      ],
      "id": "744beca1-1527-420b-8550-dc47ddf520b3",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vtAyj3CGNXcJFoMZ",
          "name": "Google Drive Suporte"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1180,
        -560
      ],
      "id": "79498c50-9d18-4c6d-8a92-af74f1454438",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1980,
        -260
      ],
      "id": "8f9581c1-046a-4d77-a655-80585da92106",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "pOegylLBwaHAjzk2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.fileID }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2140,
        -240
      ],
      "id": "4343b22c-fd8c-45d6-8955-137fe2509e49",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2240,
        -60
      ],
      "id": "eb85ad95-cdd1-41d5-ae95-febb5aba52a8",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        2080,
        -440
      ],
      "id": "efa6e3f3-c5bf-4408-bbe9-88f65246e1ce",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "tqXXi4YKsW3e5c0l",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.fileID }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        620,
        -120
      ],
      "id": "60359110-55d1-4a86-94c5-3af39ce8d798",
      "name": "Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "tqXXi4YKsW3e5c0l",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1000,
        -160
      ],
      "id": "fbe950ab-0061-4a79-8280-5315b13c2016",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "tqXXi4YKsW3e5c0l",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1100,
        -20
      ],
      "id": "e7f5eb9a-c895-4e31-98b0-e46b85b72181",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "pOegylLBwaHAjzk2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1BfwH4jMpuGB4jNrMT5u88PQOsTm4j0_i",
          "mode": "list",
          "cachedResultName": "Contexto",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1BfwH4jMpuGB4jNrMT5u88PQOsTm4j0_i"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        360,
        -640
      ],
      "id": "aedc3237-cec1-4de0-8395-61889716ec4c",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vtAyj3CGNXcJFoMZ",
          "name": "Google Drive Suporte"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "120PVy0U8L_-z77M54wo8zc0qlw-y7r0Z",
          "mode": "list",
          "cachedResultName": "AumentoMargem",
          "cachedResultUrl": "https://drive.google.com/drive/folders/120PVy0U8L_-z77M54wo8zc0qlw-y7r0Z"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        360,
        -480
      ],
      "id": "7e3d302e-074c-48b0-9ae1-78bbbd663a62",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vtAyj3CGNXcJFoMZ",
          "name": "Google Drive Suporte"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen-qwq-32b",
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        100,
        20
      ],
      "id": "33f836f7-93c5-4979-87fb-0fc345a3a6e7",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "zlpv9tK7gIWYTnYj",
          "name": "Groq Suporte"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen2.5:14b-instruct-q4_K_M",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -140,
        40
      ],
      "id": "cba7f252-8d03-4bda-9733-0e55cf68f8f2",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "pOegylLBwaHAjzk2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "name": "ConsultaValorSaque",
        "description": "chame essa ferramenta para consultar o Valor de Saque disponível do cliente usando o cpf.",
        "workflowId": {
          "__rl": true,
          "value": "G59nlAYpPW7AovJO",
          "mode": "list",
          "cachedResultName": "Consulta Margem - Amigoz"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        380,
        20
      ],
      "id": "a0bd2436-06b3-431c-851f-89cee8db41e9",
      "name": "ConsultaValorSaque"
    },
    {
      "parameters": {
        "content": "## CPF TESTE\n HAPPY: 35292580244\n BMG: 26881551487",
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -600
      ],
      "typeVersion": 1,
      "id": "41af6d73-bd58-4768-b3c1-3266c650fe4d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "182287dc-db54-4b01-b74f-5d30249bbe9d",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "b99e0aba-27d2-4d03-a4da-e1fb4df2dc1d",
              "name": "action",
              "value": "={{ $json.action }}",
              "type": "string"
            },
            {
              "id": "bc3020d4-88b5-4cf8-9f95-ea7e16f469b7",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -60,
        -220
      ],
      "id": "a849f633-f47b-4b08-b1aa-7cc6a2e42038",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "includeTime": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Include_Current_Time', ``, 'boolean') }}",
        "outputFieldName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Output_Field_Name', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        500,
        20
      ],
      "id": "933be377-8d0e-4a62-9470-49b800931f94",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "operation": "deleteCollection",
        "collectionName": {
          "__rl": true,
          "value": "={{ $json.fileID }}",
          "mode": "name"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-qdrant.qdrant",
      "typeVersion": 1,
      "position": [
        780,
        -560
      ],
      "id": "8260a58b-6b91-44bc-b9fd-84e6b5cda163",
      "name": "Qdrant",
      "credentials": {
        "qdrantRestApi": {
          "id": "gHdTQdLpV2yBxhAv",
          "name": "Qdrant account Local"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.fileID }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.2,
      "position": [
        1360,
        -560
      ],
      "id": "e2ea8cfa-f187-4188-b7e7-7ff069f645f7",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "b0hyoUxS4uVmU7y8",
          "name": "QdrantApi local"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1320,
        -400
      ],
      "id": "5c631b44-b33e-49d0-8a0a-21afe2f6c7e8",
      "name": "Embeddings Ollama2",
      "credentials": {
        "ollamaApi": {
          "id": "pOegylLBwaHAjzk2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.fileID }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1460,
        -380
      ],
      "id": "7de0f4e3-e2ec-439a-970d-bbb78a6b55dd",
      "name": "Default Data Loader2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1460,
        -240
      ],
      "id": "b6758e78-6881-4001-834a-dd0a0002ef3d",
      "name": "Recursive Character Text Splitter1"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        []
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        []
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "ConsultaValorSaque": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        []
      ]
    },
    "Embeddings Ollama2": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-03-18T13:19:36Z"
    },
    "node:Google Drive Trigger1": {
      "lastTimeChecked": "2025-03-18T13:19:37Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "614d3450-715a-4e3e-8a62-d0eda9575e4e",
  "activeVersionId": null,
  "triggerCount": 4,
  "shared": [
    {
      "updatedAt": "2025-05-06T12:41:27.791Z",
      "createdAt": "2025-05-06T12:41:27.791Z",
      "role": "workflow:owner",
      "workflowId": "BxKGcCJxZ5EzNgeE",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2025-02-26T15:47:23.149Z",
      "createdAt": "2025-02-26T15:47:23.149Z",
      "id": "B273rbAh2xKoaipX",
      "name": "IA"
    },
    {
      "updatedAt": "2025-02-20T16:29:31.422Z",
      "createdAt": "2025-02-20T16:29:31.422Z",
      "id": "XZLWvH2vm1NnuOvm",
      "name": "Comercial"
    }
  ]
}