Precatório/n2OxnCgyd9svtRli.json
{
  "updatedAt": "2025-09-03T14:10:40.240Z",
  "createdAt": "2025-04-30T15:58:37.409Z",
  "id": "n2OxnCgyd9svtRli",
  "name": "Higenizador -  Precatorio Nome",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "140aLMiuGrZhRLlxdw5-AAN80QCe8HGNHQl9tFf74Wkk",
          "mode": "list",
          "cachedResultName": "Relatório Geral de Cálculo de Liquidação de Sentença , emitido pela 17ª Vara da Seção Judiciária de Brasília/DF",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/140aLMiuGrZhRLlxdw5-AAN80QCe8HGNHQl9tFf74Wkk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/140aLMiuGrZhRLlxdw5-AAN80QCe8HGNHQl9tFf74Wkk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "CPFCNPJ"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "VALOR",
              "displayName": "VALOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CPFCNPJ",
              "displayName": "CPFCNPJ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ENDERECO",
              "displayName": "ENDERECO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NUMERO",
              "displayName": "NUMERO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "COMPLEMENTO",
              "displayName": "COMPLEMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "BAIRRO",
              "displayName": "BAIRRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CEP",
              "displayName": "CEP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CIDADE",
              "displayName": "CIDADE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UF",
              "displayName": "UF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EMAILS",
              "displayName": "EMAILS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TELEFONE1",
              "displayName": "TELEFONE1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TELEFONE2",
              "displayName": "TELEFONE2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TELEFONE3",
              "displayName": "TELEFONE3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TELEFONE4",
              "displayName": "TELEFONE4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TELEFONE5",
              "displayName": "TELEFONE5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1840,
        200
      ],
      "id": "a7df7905-f712-43a4-b3eb-340a668bf3de",
      "name": "Insere planilha",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TckYcAKTANWzd2jN",
          "name": "Google Sheets account DEV"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "Nome do Beneficiário",
              "field2": "NOME"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1000,
        200
      ],
      "id": "0bb978c2-ac60-4a70-889e-3b27657e6cd3",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        540,
        520
      ],
      "id": "60614bcf-d45a-4587-becc-9ff03d37b3b5",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Objeto para armazenar clientes agrupados pelo CPF\nconst clientes = {};\n\nitems.forEach(item => {\n    const cpf = item.json[\"CPFCNPJ\"];\n    const telefone = item.json[\"TELEFONE\"];\n    \n    if (!clientes[cpf]) {\n        clientes[cpf] = {\n            \"NOME\": item.json[\"NOME\"],\n            VALOR: item.json[\"VALOR\"],\n            CPFCNPJ: item.json[\"CPFCNPJ\"],\n            ENDERECO: item.json[\"ENDERECO\"],\n            NUMERO: item.json[\"NUMERO\"],\n            COMPLEMENTO: item.json[\"COMPLEMENTO\"],\n            BAIRRO: item.json[\"BAIRRO\"],\n            CEP: item.json[\"CEP\"],\n            CIDADE: item.json[\"CIDADE\"],\n            UF: item.json[\"UF\"],\n            EMAILS: item.json[\"EMAILS\"],\n            TELEFONE1: null,\n            TELEFONE2: null,\n            TELEFONE3: null,\n            TELEFONE4: null,\n            TELEFONE5: null,\n            TELEFONES: new Set()\n        };\n    }\n    \n    // Adiciona o telefone apenas se ainda não estiver armazenado\n    if (!clientes[cpf].TELEFONES.has(telefone)) {\n        clientes[cpf].TELEFONES.add(telefone);\n        \n        for (let i = 1; i <= 5; i++) {\n            if (!clientes[cpf][`TELEFONE${i}`]) {\n                clientes[cpf][`TELEFONE${i}`] = telefone;\n                break;\n            }\n        }\n    }\n});\n\n// Remove a propriedade Set antes de retornar os dados\nreturn Object.values(clientes).map(cliente => {\n    delete cliente.TELEFONES;\n    return { json: cliente };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1620,
        200
      ],
      "id": "31359262-475c-4384-8b16-5a29ff21b6f6",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a6d38a4-a998-47d1-9bba-43e5e06e828d",
              "name": "CPF",
              "value": "={{ $json.content.parseJson().CPF.replaceAll('.', '').replaceAll('-', '') }}",
              "type": "string"
            },
            {
              "id": "f59b09df-e097-4cf5-928e-1ef4a2230bd9",
              "name": "Nome do Beneficiário",
              "value": "={{ $json.content.parseJson()['Nome do Beneficiário'].trim() }}",
              "type": "string"
            },
            {
              "id": "ea0fd962-5931-4747-a7ae-cc58f4589040",
              "name": "VALOR",
              "value": "={{ $json.content.parseJson().Valor }}",
              "type": "string"
            },
            {
              "id": "71419c82-afe6-4361-a679-96c173ee9eab",
              "name": "AquivoName",
              "value": "={{ $json.content.parseJson().driver.AquivoName }}",
              "type": "string"
            },
            {
              "id": "a5048d9d-cc10-4ce3-a27b-66780a211d70",
              "name": "email",
              "value": "={{ $json.content.parseJson().driver.EMAIL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        180
      ],
      "id": "06d217e3-ede1-4fbe-9612-2b0307a7233e",
      "name": "Dados"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2060,
        180
      ],
      "id": "b0d92576-64f1-4510-9998-9b7ef1232377",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18f9fe66-3b90-4c89-828b-a32ccc1b8f11",
              "name": "NOME",
              "value": "={{ $json.NOME }}",
              "type": "string"
            },
            {
              "id": "e510686e-adb9-42c3-98ce-87dde159c9d7",
              "name": "CPFCNPJ",
              "value": "={{ $json.CPFCNPJ }}",
              "type": "string"
            },
            {
              "id": "eaf8c37f-462f-453a-9485-39eb6dd535c4",
              "name": "VALOR",
              "value": "={{ $json[\"VALOR\"] }}",
              "type": "string"
            },
            {
              "id": "d5b267d1-d00c-4186-9cef-d1ba83cc203f",
              "name": "TELEFONE",
              "value": "={{ $json.TELEFONE }}",
              "type": "string"
            },
            {
              "id": "a8cf593e-b4b4-4614-8108-3caa3d4c0cd7",
              "name": "ENDERECO",
              "value": "={{ $json.ENDERECO }}",
              "type": "string"
            },
            {
              "id": "dbd40e4f-2e72-4202-9822-a5573ee53834",
              "name": "NUMERO",
              "value": "={{ $json.NUMERO }}",
              "type": "string"
            },
            {
              "id": "d83d38ca-bc0c-4ed8-b0d9-ac0ae0193694",
              "name": "COMPLEMENTO",
              "value": "={{ $json.COMPLEMENTO }}",
              "type": "string"
            },
            {
              "id": "1cb8988b-6d39-4c93-a389-64613a6fdb59",
              "name": "BAIRRO",
              "value": "={{ $json.BAIRRO }}",
              "type": "string"
            },
            {
              "id": "87319a51-2291-4507-affb-443dc6b83bca",
              "name": "CEP",
              "value": "={{ $json.CEP }}",
              "type": "string"
            },
            {
              "id": "5a52aef9-9490-4c64-9139-9c15b9ade493",
              "name": "CIDADE",
              "value": "={{ $json.CIDADE }}",
              "type": "string"
            },
            {
              "id": "46d0cb0e-5343-4aed-89fe-d0daebf35069",
              "name": "UF",
              "value": "={{ $json.UF }}",
              "type": "string"
            },
            {
              "id": "b19f51b8-14ca-49f2-ae44-6c0f13e8d5ef",
              "name": "EMAILS",
              "value": "={{ $json.EMAILS }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1220,
        200
      ],
      "id": "00ac7eeb-aabe-4b06-8169-976345e4e98b",
      "name": "CONCILIA DADOS"
    },
    {
      "parameters": {
        "queue": "higenizador_preca_name",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "xqueue-type",
                "value": "quorum"
              }
            ]
          },
          "binding": {
            "bindings": [
              {
                "exchange": "higenizador_exchange",
                "routingKey": "higenizador_preca_name"
              }
            ]
          },
          "acknowledge": "executionFinishes",
          "durable": true,
          "parallelMessages": 3
        }
      },
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -380,
        180
      ],
      "id": "c5e749b8-09a5-42e8-b75f-4ea4f4b689d0",
      "name": "RabbitMQ Trigger1",
      "credentials": {
        "rabbitmq": {
          "id": "8S2CCfj4pf5t6xWv",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a6d38a4-a998-47d1-9bba-43e5e06e828d",
              "name": "ORDEM",
              "value": "={{ $json.content.parseJson().ORDEM }}",
              "type": "string"
            },
            {
              "id": "ea0fd962-5931-4747-a7ae-cc58f4589040",
              "name": "N° PRECATÓRIO",
              "value": "={{ $json.content.parseJson()['N° PRECATÓRIO'] }}",
              "type": "string"
            },
            {
              "id": "29d04a0a-02f9-4eea-9422-aff17a2d0e88",
              "name": "NATUREZA",
              "value": "={{ $json.content.parseJson().NATUREZA }}",
              "type": "string"
            },
            {
              "id": "42e8bb5b-52e4-4fd8-8026-df771e5555da",
              "name": "ORG",
              "value": "={{ $json.content.parseJson().ORG}}",
              "type": "string"
            },
            {
              "id": "b124c737-09cc-4b87-a983-3cdae95a976f",
              "name": "NOME DO BENEFICIÁRIO",
              "value": "={{ $json.content.parseJson()['NOME DO BENEFICIÁRIO'].replaceSpecialChars() }}",
              "type": "string"
            },
            {
              "id": "eb0d96ad-cffe-43d3-ac99-1168327606ea",
              "name": "VALOR ATUALIZADO",
              "value": "={{ $json.content.parseJson()['VALOR ATUALIZADO'] }}",
              "type": "string"
            },
            {
              "id": "b6fa667b-9dcd-4813-8536-2fde596d93c3",
              "name": "UF",
              "value": "={{ $json.content.parseJson().UF }}",
              "type": "string"
            },
            {
              "id": "66dad640-88e1-4a68-912c-d67192f50cba",
              "name": "sheetsID",
              "value": "={{ $json.content.parseJson().sheetsID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -280,
        520
      ],
      "id": "8537921e-f321-485c-a9a7-63bcee843538",
      "name": "Dados1",
      "disabled": true
    },
    {
      "parameters": {
        "url": "http://10.3.60.14:9001/api/v1/credilink/search/wsdl/cpf",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "cpf",
              "value": "={{ $json.CPF }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ***REDACTED***"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 100000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40,
        320
      ],
      "id": "aecf6f31-e44d-40d1-b184-3f4c3ee4b9e4",
      "name": "Consulta credilus",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "http://10.3.60.14:9001/api/v1/credilink/search/wsdl/name",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Dados').item.json['Nome do Beneficiário'] }}"
            },
            {
              "name": "state",
              "value": "sp"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ***REDACTED***"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40,
        540
      ],
      "id": "866a6860-c594-4771-acbe-7a622c475405",
      "name": "Consulta NOME",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "http://10.3.60.14:9001/api/v1/credilink/search/wsdl/cpf",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "cpf",
              "value": "={{ $json.data[0].CPFCNPJ }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ***REDACTED***"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 100000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        540
      ],
      "id": "6793199c-3767-42bc-9070-d726b1843683",
      "name": "Consulta credilus1",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "CPFCNPJ",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1420,
        200
      ],
      "id": "f7fbd812-f31a-40f0-b6b6-d41430c6c499",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        580,
        700
      ],
      "id": "fa8abf55-5061-41d2-913c-fca9f4d93965",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        720,
        320
      ],
      "id": "de029315-58d8-4a3e-acb8-f7910d7ab637",
      "name": "Merge2"
    }
  ],
  "connections": {
    "Insere planilha": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "CONCILIA DADOS",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Insere planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Consulta credilus",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONCILIA DADOS": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ Trigger1": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta credilus": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consulta NOME",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta NOME": {
      "main": [
        [
          {
            "node": "Consulta credilus1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta credilus1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        []
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ef564184-814b-40bc-a000-510a405243c2",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-04-30T15:58:37.409Z",
      "createdAt": "2025-04-30T15:58:37.409Z",
      "role": "workflow:owner",
      "workflowId": "n2OxnCgyd9svtRli",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2025-03-12T12:36:54.367Z",
      "createdAt": "2025-03-12T12:36:54.367Z",
      "id": "QZdk22jygnFSCxrA",
      "name": "Precatório"
    }
  ]
}