Ferramentas🛠/uWZBwmfwxWUbkeLn.json
{
  "updatedAt": "2026-03-19T13:02:06.733Z",
  "createdAt": "2025-04-30T16:14:09.209Z",
  "id": "uWZBwmfwxWUbkeLn",
  "name": "NOTIFICAÇÃO - GOOGLE CHAT",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "queue": "google_chat-queue",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "xqueue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "durable": true,
          "parallelMessages": 1
        }
      },
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        -64
      ],
      "id": "d20236ee-5753-4b12-9194-9a82f008c75d",
      "name": "RabbitMQ Trigger",
      "credentials": {
        "rabbitmq": {
          "id": "8S2CCfj4pf5t6xWv",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.properties.headers[\"Space  ID\"] }}",
                    "rightValue": "spaces/AAQAnZgImOA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fabfb709-8768-45a1-8a1f-bb7897537d0e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BKO - AMIGOZ"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5484395a-4c93-45c3-9326-af50355c52e3",
                    "leftValue": "={{ $json.properties.headers[\"Space  ID\"] }}",
                    "rightValue": "spaces/AAAA-XXOyVI",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TI"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f5212b4a-04fa-416e-8977-c4059c3540ca",
                    "leftValue": "={{ $json.properties.headers[\"Space  ID\"] }}",
                    "rightValue": "spaces/AAQAuYbCSxo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Desenvolvimento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "52f59a00-3a3f-4741-8b3e-ee37fe26ef01",
                    "leftValue": "={{ $json.properties.headers[\"Space  ID\"] }}",
                    "rightValue": "spaces/AAQAUR0GSyo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SDR_ENTRANTES"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        144,
        -96
      ],
      "id": "b60dd035-3f12-4e94-8102-1e66008e9cc5",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ecd826da-6fcc-4b76-8ead-4c17dd991896",
              "name": "content",
              "value": "={{ $json.content.parseJson().textMessage}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        -80
      ],
      "id": "7d8429a6-4b42-4eb6-b31b-579b99766234",
      "name": "TI"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "spaceId": "={{ $('Switch').item.json.properties.headers[\"Space  ID\"] }}",
        "messageUi": {
          "text": "={{ $json.content.replace(/\\\\n/g, '\\n') }}"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        560,
        -80
      ],
      "id": "e9529e4a-ab26-4032-98ba-de0ed7923f2d",
      "name": "Google Chat MDG - Tecnologia da Informação e Gestão de Acessos",
      "webhookId": "81cf8d91-6788-46d4-abac-0af7e80607cd",
      "credentials": {
        "googleChatOAuth2Api": {
          "id": "bZ3Uw0MR5VFeM4CJ",
          "name": "Chat Desenvolvimento"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let entrada = items[0].json.content;\nlet mensagemFormatada = '';\n\ntry {\n  // Tentamos transformar a string em objeto JSON\n  const parsed = JSON.parse(entrada);\n\n  // Se conseguir, formata como mensagem estruturada\n  mensagemFormatada = `\n📄 *Detalhes da Proposta* 📄\n\n🏦 Banco: ${parsed.nome_banco || 'Não informado'}\n📍 Fase: ${parsed.descricao_fase || 'Não informado'}\n📌 Status: ${parsed.Status || 'Não informado'}\n📑 Código AF: ${parsed.af_codigo || 'Não informado'}\n📃 Contrato: ${parsed.contrato || 'Não informado'}\n  `.trim();\n\n} catch (error) {\n  // Se não for JSON, trata como texto simples e só remove aspas ou chaves\n  mensagemFormatada = entrada\n    .replace(/^\"|\"$/g, '')    // remove aspas do começo/fim se tiver\n    .replace(/[{}\"]/g, '')    // remove chaves e aspas internas\n    .trim();\n}\n\nreturn [{ json: { mensagem: mensagemFormatada } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -240
      ],
      "id": "22d6ad27-899d-4051-946b-b980c2a53fcf",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ecd826da-6fcc-4b76-8ead-4c17dd991896",
              "name": "content",
              "value": "={{ $json.content}}",
              "type": "string"
            },
            {
              "id": "2915b422-30f0-4d4c-8cd4-68598d353795",
              "name": "SpaceID",
              "value": "={{ $json.properties.headers[\"Space  ID\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        -240
      ],
      "id": "9f2ae949-d501-482b-9fc7-cc149f6b64d9",
      "name": "bko"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "spaceId": "={{ $('bko').item.json.SpaceID }}",
        "messageUi": {
          "text": "={{ $json.mensagem }}"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        752,
        -240
      ],
      "id": "ce390467-de9b-4074-aec2-bae050b6d51b",
      "name": "Notificação - RPA 🤖",
      "webhookId": "f8866a3a-5420-46e0-a192-c1d2789ab815",
      "credentials": {
        "googleChatOAuth2Api": {
          "id": "bZ3Uw0MR5VFeM4CJ",
          "name": "Chat Desenvolvimento"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        976,
        -240
      ],
      "id": "57fa1764-be3a-436f-8b01-86cb12def71f",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        752,
        -80
      ],
      "id": "81892125-34aa-4414-9006-b3078695692c",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        752,
        112
      ],
      "id": "a16d40fd-46c5-4da1-8159-65bbe1a8ebdf",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ecd826da-6fcc-4b76-8ead-4c17dd991896",
              "name": "content",
              "value": "={{ $json.content.parseJson().textMessage}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        112
      ],
      "id": "a342df41-7a61-4a05-9806-1f4f00aea889",
      "name": "Desenvolvimento"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "spaceId": "={{ $('Switch').item.json.properties.headers[\"Space  ID\"] }}",
        "messageUi": {
          "text": "={{ $json.content.replace(/\\\\n/g, '\\n') }}"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        560,
        112
      ],
      "id": "21098314-8193-44b9-8cc1-58e7a84d0867",
      "name": "MDG - ALERTAS ⚠",
      "webhookId": "81cf8d91-6788-46d4-abac-0af7e80607cd",
      "credentials": {
        "googleChatOAuth2Api": {
          "id": "bZ3Uw0MR5VFeM4CJ",
          "name": "Chat Desenvolvimento"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        992,
        304
      ],
      "id": "d16c9e72-44f7-48f9-9ea8-ebc40a22737d",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe002499-93ce-4204-836b-ac9f76880960",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        320
      ],
      "id": "4d0b9762-46e7-4dbe-80fb-c41c48a32566",
      "name": "SDR"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "spaceId": "={{ $('Switch').item.json.properties.headers[\"Space  ID\"] }}",
        "messageUi": {
          "text": "={{ $json.message }}"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        752,
        304
      ],
      "id": "5449cdad-dba8-409e-a32d-357ba14b8d9c",
      "name": "SDR - ENTRANTES",
      "webhookId": "5eaa77fb-a857-42b8-a771-a85d421d6c1e",
      "credentials": {
        "googleChatOAuth2Api": {
          "id": "bZ3Uw0MR5VFeM4CJ",
          "name": "Chat Desenvolvimento"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Pega e interpreta o content\nlet raw = $json.content;\nlet data;\n\ntry {\n  data = JSON.parse(raw);\n} catch (e) {\n  data = {};\n}\n\n// Captura segura dos campos\nconst nome = data.full_name || \"\";\nconst proposta = data.proposta_lead || \"\";\nconst cpf = data.cpf || \"\";\nconst phone = data.phone || \"\";\nconst offer = data.real_offer ? Number(data.real_offer).toFixed(2) : null;\nconst parcela = data.installment_value ? Number(data.installment_value).toFixed(2) : null;\n\n// Monta a mensagem\nlet msg = `Resumo rápido do atendimento:\\n`;\n\nif (nome) msg += `• Cliente: ${nome}\\n`;\nif (cpf) msg += `• CPF: ${cpf}\\n`;\nif (phone) msg += `• Telefone/WhatsApp: ${phone}\\n`;\n\nif (offer || parcela) {\n  msg += `• Simulação enviada:\\n`;\n  if (offer) msg += `  - Valor aproximado liberado: R$ ${offer}\\n`;\n  if (parcela) msg += `  - Parcela estimada: R$ ${parcela}\\n`;\n}\n\nif (proposta) {\n  msg += `\\nContexto do atendimento:\\n${proposta}`;\n}\n\n// Retorno\nreturn [{ json: { message: msg } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        320
      ],
      "id": "d7d91e82-fcdf-4c2b-a87a-9a0a1dc8030e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.mdgintermediacoes.com.br/message/sendText/CL193A",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "5519960001690"
            },
            {
              "name": "text",
              "value": "={{ $json.message }}"
            },
            {
              "name": "delay",
              "value": "={{ Math.floor(Math.random() * (10000 - 1000 + 1)) + 1000 }}"
            },
            {
              "name": "presence",
              "value": "=composing"
            }
          ]
        },
        "options": {}
      },
      "id": "a2863a69-8eee-4663-9d5b-037f3cad8909",
      "name": "(EVO) Enviar Mensagem2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        592
      ],
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "u7nL5NaclniYBklz",
          "name": "EvolutionAPI- CL193a"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "content": "## WhatsApp Temporário \n",
        "height": 320,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        448
      ],
      "typeVersion": 1,
      "id": "4d347b26-af45-4c34-81de-28687bd177fe",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "RabbitMQ Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "bko",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Desenvolvimento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SDR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TI": {
      "main": [
        [
          {
            "node": "Google Chat MDG - Tecnologia da Informação e Gestão de Acessos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Chat MDG - Tecnologia da Informação e Gestão de Acessos": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Notificação - RPA 🤖",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bko": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificação - RPA 🤖": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desenvolvimento": {
      "main": [
        [
          {
            "node": "MDG - ALERTAS ⚠",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MDG - ALERTAS ⚠": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SDR": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SDR - ENTRANTES": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "(EVO) Enviar Mensagem2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(EVO) Enviar Mensagem2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 30,
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "RabbitMQ Trigger": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-n3qi0sN6zkKlccgdCeZk4A",
            "deliveryTag": 6,
            "redelivered": false,
            "exchange": "",
            "routingKey": "google_chat-queue"
          },
          "properties": {
            "headers": {
              "Space  ID": "spaces/AAQAUR0GSyo"
            }
          },
          "content": "{\"id_lead\":\"1325\",\"proposta_lead\":\"O cliente Benedito confirmou interesse em conhecer a oportunidade exclusiva de crédito consignado oferecida para aposentados e pensionistas do INSS. Já informei que se trata de uma linha especial, pensada para ajudar na realização de projetos pessoais (como viagem, reforma ou presente para alguém querido), com parcelas fixas, segurança e uma das menores taxas do mercado. Benedito autorizou o envio da simulação completa pelo WhatsApp e confirmou que este número possui WhatsApp. Comuniquei também que receberá o link do nosso Instagram oficial (@mdgpromotora) para conferir depoimentos e informações da empresa. O atendimento foi cordial, interessado e receptivo.\",\"id_lead_telefone\":10414,\"full_name\":\"BENEDITO APARECIDO FARAONE\",\"cpf\":\"3081197899\",\"phone\":\"+5519981262437\",\"real_offer\":\"50023.4501\",\"installment_value\":\"1221.2072\"}"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "2573f044-cad6-48c9-96bf-d9781d7c0d72",
  "activeVersionId": "4221057d-eaae-45e3-b0c2-78352d14423b",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-04-30T16:14:09.209Z",
      "createdAt": "2025-04-30T16:14:09.209Z",
      "role": "workflow:owner",
      "workflowId": "uWZBwmfwxWUbkeLn",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-15T14:54:45.204Z",
    "createdAt": "2025-12-15T14:54:45.204Z",
    "versionId": "4221057d-eaae-45e3-b0c2-78352d14423b",
    "workflowId": "uWZBwmfwxWUbkeLn",
    "nodes": [
      {
        "parameters": {
          "queue": "google_chat-queue",
          "options": {
            "arguments": {
              "argument": [
                {
                  "key": "xqueue-type",
                  "value": "quorum"
                }
              ]
            },
            "acknowledge": "executionFinishesSuccessfully",
            "durable": true,
            "parallelMessages": 1
          }
        },
        "type": "n8n-nodes-base.rabbitmqTrigger",
        "typeVersion": 1,
        "position": [
          -80,
          -64
        ],
        "id": "d20236ee-5753-4b12-9194-9a82f008c75d",
        "name": "RabbitMQ Trigger",
        "credentials": {
          "rabbitmq": {
            "id": "8S2CCfj4pf5t6xWv",
            "name": "RabbitMQ account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.properties.headers[\"Space  ID\"] }}",
                      "rightValue": "spaces/AAQAnZgImOA",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "fabfb709-8768-45a1-8a1f-bb7897537d0e"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "BKO - AMIGOZ"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "5484395a-4c93-45c3-9326-af50355c52e3",
                      "leftValue": "={{ $json.properties.headers[\"Space  ID\"] }}",
                      "rightValue": "spaces/AAAA-XXOyVI",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "TI"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "f5212b4a-04fa-416e-8977-c4059c3540ca",
                      "leftValue": "={{ $json.properties.headers[\"Space  ID\"] }}",
                      "rightValue": "spaces/AAQAuYbCSxo",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Desenvolvimento"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "52f59a00-3a3f-4741-8b3e-ee37fe26ef01",
                      "leftValue": "={{ $json.properties.headers[\"Space  ID\"] }}",
                      "rightValue": "spaces/AAQAUR0GSyo",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "SDR_ENTRANTES"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          144,
          -96
        ],
        "id": "b60dd035-3f12-4e94-8102-1e66008e9cc5",
        "name": "Switch"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ecd826da-6fcc-4b76-8ead-4c17dd991896",
                "name": "content",
                "value": "={{ $json.content.parseJson().textMessage}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          352,
          -80
        ],
        "id": "7d8429a6-4b42-4eb6-b31b-579b99766234",
        "name": "TI"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "spaceId": "={{ $('Switch').item.json.properties.headers[\"Space  ID\"] }}",
          "messageUi": {
            "text": "={{ $json.content.replace(/\\\\n/g, '\\n') }}"
          },
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.googleChat",
        "typeVersion": 1,
        "position": [
          560,
          -80
        ],
        "id": "e9529e4a-ab26-4032-98ba-de0ed7923f2d",
        "name": "Google Chat MDG - Tecnologia da Informação e Gestão de Acessos",
        "webhookId": "81cf8d91-6788-46d4-abac-0af7e80607cd",
        "credentials": {
          "googleChatOAuth2Api": {
            "id": "bZ3Uw0MR5VFeM4CJ",
            "name": "Chat Desenvolvimento"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "let entrada = items[0].json.content;\nlet mensagemFormatada = '';\n\ntry {\n  // Tentamos transformar a string em objeto JSON\n  const parsed = JSON.parse(entrada);\n\n  // Se conseguir, formata como mensagem estruturada\n  mensagemFormatada = `\n📄 *Detalhes da Proposta* 📄\n\n🏦 Banco: ${parsed.nome_banco || 'Não informado'}\n📍 Fase: ${parsed.descricao_fase || 'Não informado'}\n📌 Status: ${parsed.Status || 'Não informado'}\n📑 Código AF: ${parsed.af_codigo || 'Não informado'}\n📃 Contrato: ${parsed.contrato || 'Não informado'}\n  `.trim();\n\n} catch (error) {\n  // Se não for JSON, trata como texto simples e só remove aspas ou chaves\n  mensagemFormatada = entrada\n    .replace(/^\"|\"$/g, '')    // remove aspas do começo/fim se tiver\n    .replace(/[{}\"]/g, '')    // remove chaves e aspas internas\n    .trim();\n}\n\nreturn [{ json: { mensagem: mensagemFormatada } }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          560,
          -240
        ],
        "id": "22d6ad27-899d-4051-946b-b980c2a53fcf",
        "name": "Code"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ecd826da-6fcc-4b76-8ead-4c17dd991896",
                "name": "content",
                "value": "={{ $json.content}}",
                "type": "string"
              },
              {
                "id": "2915b422-30f0-4d4c-8cd4-68598d353795",
                "name": "SpaceID",
                "value": "={{ $json.properties.headers[\"Space  ID\"] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          352,
          -240
        ],
        "id": "9f2ae949-d501-482b-9fc7-cc149f6b64d9",
        "name": "bko"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "spaceId": "={{ $('bko').item.json.SpaceID }}",
          "messageUi": {
            "text": "={{ $json.mensagem }}"
          },
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.googleChat",
        "typeVersion": 1,
        "position": [
          752,
          -240
        ],
        "id": "ce390467-de9b-4074-aec2-bae050b6d51b",
        "name": "Notificação - RPA 🤖",
        "webhookId": "f8866a3a-5420-46e0-a192-c1d2789ab815",
        "credentials": {
          "googleChatOAuth2Api": {
            "id": "bZ3Uw0MR5VFeM4CJ",
            "name": "Chat Desenvolvimento"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          976,
          -240
        ],
        "id": "57fa1764-be3a-436f-8b01-86cb12def71f",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          752,
          -80
        ],
        "id": "81892125-34aa-4414-9006-b3078695692c",
        "name": "No Operation, do nothing1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          752,
          112
        ],
        "id": "a16d40fd-46c5-4da1-8159-65bbe1a8ebdf",
        "name": "No Operation, do nothing2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ecd826da-6fcc-4b76-8ead-4c17dd991896",
                "name": "content",
                "value": "={{ $json.content.parseJson().textMessage}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          352,
          112
        ],
        "id": "a342df41-7a61-4a05-9806-1f4f00aea889",
        "name": "Desenvolvimento"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "spaceId": "={{ $('Switch').item.json.properties.headers[\"Space  ID\"] }}",
          "messageUi": {
            "text": "={{ $json.content.replace(/\\\\n/g, '\\n') }}"
          },
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.googleChat",
        "typeVersion": 1,
        "position": [
          560,
          112
        ],
        "id": "21098314-8193-44b9-8cc1-58e7a84d0867",
        "name": "MDG - ALERTAS ⚠",
        "webhookId": "81cf8d91-6788-46d4-abac-0af7e80607cd",
        "credentials": {
          "googleChatOAuth2Api": {
            "id": "bZ3Uw0MR5VFeM4CJ",
            "name": "Chat Desenvolvimento"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          992,
          304
        ],
        "id": "d16c9e72-44f7-48f9-9ea8-ebc40a22737d",
        "name": "No Operation, do nothing3"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fe002499-93ce-4204-836b-ac9f76880960",
                "name": "content",
                "value": "={{ $json.content }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          352,
          320
        ],
        "id": "4d0b9762-46e7-4dbe-80fb-c41c48a32566",
        "name": "SDR"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "spaceId": "={{ $('Switch').item.json.properties.headers[\"Space  ID\"] }}",
          "messageUi": {
            "text": "={{ $json.message }}"
          },
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.googleChat",
        "typeVersion": 1,
        "position": [
          752,
          304
        ],
        "id": "5449cdad-dba8-409e-a32d-357ba14b8d9c",
        "name": "SDR - ENTRANTES",
        "webhookId": "5eaa77fb-a857-42b8-a771-a85d421d6c1e",
        "credentials": {
          "googleChatOAuth2Api": {
            "id": "bZ3Uw0MR5VFeM4CJ",
            "name": "Chat Desenvolvimento"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "// Pega e interpreta o content\nlet raw = $json.content;\nlet data;\n\ntry {\n  data = JSON.parse(raw);\n} catch (e) {\n  data = {};\n}\n\n// Captura segura dos campos\nconst nome = data.full_name || \"\";\nconst proposta = data.proposta_lead || \"\";\nconst cpf = data.cpf || \"\";\nconst phone = data.phone || \"\";\nconst offer = data.real_offer ? Number(data.real_offer).toFixed(2) : null;\nconst parcela = data.installment_value ? Number(data.installment_value).toFixed(2) : null;\n\n// Monta a mensagem\nlet msg = `Resumo rápido do atendimento:\\n`;\n\nif (nome) msg += `• Cliente: ${nome}\\n`;\nif (cpf) msg += `• CPF: ${cpf}\\n`;\nif (phone) msg += `• Telefone/WhatsApp: ${phone}\\n`;\n\nif (offer || parcela) {\n  msg += `• Simulação enviada:\\n`;\n  if (offer) msg += `  - Valor aproximado liberado: R$ ${offer}\\n`;\n  if (parcela) msg += `  - Parcela estimada: R$ ${parcela}\\n`;\n}\n\nif (proposta) {\n  msg += `\\nContexto do atendimento:\\n${proposta}`;\n}\n\n// Retorno\nreturn [{ json: { message: msg } }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          560,
          320
        ],
        "id": "d7d91e82-fcdf-4c2b-a87a-9a0a1dc8030e",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://evolutionapi.mdgintermediacoes.com.br/message/sendText/CL193A",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "number",
                "value": "5519960001690"
              },
              {
                "name": "text",
                "value": "={{ $json.message }}"
              },
              {
                "name": "delay",
                "value": "={{ Math.floor(Math.random() * (10000 - 1000 + 1)) + 1000 }}"
              },
              {
                "name": "presence",
                "value": "=composing"
              }
            ]
          },
          "options": {}
        },
        "id": "a2863a69-8eee-4663-9d5b-037f3cad8909",
        "name": "(EVO) Enviar Mensagem2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          736,
          592
        ],
        "executeOnce": true,
        "retryOnFail": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "u7nL5NaclniYBklz",
            "name": "EvolutionAPI- CL193a"
          }
        },
        "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
      },
      {
        "parameters": {
          "content": "## WhatsApp Temporário \n",
          "height": 320,
          "width": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          688,
          448
        ],
        "typeVersion": 1,
        "id": "4d347b26-af45-4c34-81de-28687bd177fe",
        "name": "Sticky Note"
      }
    ],
    "connections": {
      "RabbitMQ Trigger": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "bko",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "TI",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Desenvolvimento",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "SDR",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "TI": {
        "main": [
          [
            {
              "node": "Google Chat MDG - Tecnologia da Informação e Gestão de Acessos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Chat MDG - Tecnologia da Informação e Gestão de Acessos": {
        "main": [
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "Notificação - RPA 🤖",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "bko": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notificação - RPA 🤖": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Desenvolvimento": {
        "main": [
          [
            {
              "node": "MDG - ALERTAS ⚠",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MDG - ALERTAS ⚠": {
        "main": [
          [
            {
              "node": "No Operation, do nothing2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SDR": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SDR - ENTRANTES": {
        "main": [
          [
            {
              "node": "No Operation, do nothing3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "(EVO) Enviar Mensagem2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "(EVO) Enviar Mensagem2": {
        "main": [
          [
            {
              "node": "No Operation, do nothing3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Suporte MDG Suporte",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2025-02-12T17:25:42.421Z",
      "createdAt": "2025-02-12T17:25:42.421Z",
      "id": "uFWVgunLNnjiNHEV",
      "name": "Ferramentas🛠"
    }
  ]
}