Sem_Categoria/4vqFr4mzLJ1834IM.json
{
  "updatedAt": "2026-01-08T13:32:22.446Z",
  "createdAt": "2026-01-08T13:27:24.481Z",
  "id": "4vqFr4mzLJ1834IM",
  "name": "consulta_multcorban",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4cc12e89-e69c-4d2c-a58c-92f25d331559",
              "name": "novaEraToken",
              "value": "9242690b665f5ac0af0d66421e2f7dc9",
              "type": "string"
            },
            {
              "id": "9546bd97-b387-4e54-bc64-51795b95fc3c",
              "name": "novaEraUrl",
              "value": "https://api.multicorban.com/",
              "type": "string"
            },
            {
              "id": "81827381-cadc-4500-9926-3e58f3750a6d",
              "name": "retencao",
              "value": "90",
              "type": "string"
            },
            {
              "id": "5c1bc87e-7e5b-4ce9-b7df-ebb8a4bcefe6",
              "name": "cpf",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        -32
      ],
      "id": "81013247-a73c-4aeb-bf41-09ef570e2c4d",
      "name": "Credenciais"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.multicorban.com/cpf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Credenciais').item.json.novaEraToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=cpf",
              "value": "={{ $json.cpf }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        -32
      ],
      "id": "78912f4c-49fc-4efa-872f-5f77419a08d2",
      "name": "Nova Era Request",
      "alwaysOutputData": false,
      "executeOnce": true,
      "notesInFlow": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "digite o cpf",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        144,
        -32
      ],
      "id": "5e88b012-6077-476a-a871-f4e9f351014a",
      "name": "When chat message received",
      "webhookId": "ac0fb491-7948-4226-aeff-3232da442308"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bceb16ae-e624-4382-aeaa-602b78a1f0b9",
              "name": "error.message",
              "value": "={{ $json.error.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        64
      ],
      "id": "ae7aa774-dcb9-4004-9981-4ecf5bcaffd6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8f6b11e-d31f-44e9-a520-63984e48858a",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -128
      ],
      "id": "7a7a95cb-6799-4b49-a156-767342623ef5",
      "name": "Edit Fields1"
    }
  ],
  "connections": {
    "Credenciais": {
      "main": [
        [
          {
            "node": "Nova Era Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Credenciais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nova Era Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "556ea2f5-90e3-4e62-8c9e-35638238e79f",
  "activeVersionId": "556ea2f5-90e3-4e62-8c9e-35638238e79f",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-08T13:27:24.481Z",
      "createdAt": "2026-01-08T13:27:24.481Z",
      "role": "workflow:owner",
      "workflowId": "4vqFr4mzLJ1834IM",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-08T13:32:24.959Z",
    "createdAt": "2026-01-08T13:32:22.449Z",
    "versionId": "556ea2f5-90e3-4e62-8c9e-35638238e79f",
    "workflowId": "4vqFr4mzLJ1834IM",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4cc12e89-e69c-4d2c-a58c-92f25d331559",
                "name": "novaEraToken",
                "value": "9242690b665f5ac0af0d66421e2f7dc9",
                "type": "string"
              },
              {
                "id": "9546bd97-b387-4e54-bc64-51795b95fc3c",
                "name": "novaEraUrl",
                "value": "https://api.multicorban.com/",
                "type": "string"
              },
              {
                "id": "81827381-cadc-4500-9926-3e58f3750a6d",
                "name": "retencao",
                "value": "90",
                "type": "string"
              },
              {
                "id": "5c1bc87e-7e5b-4ce9-b7df-ebb8a4bcefe6",
                "name": "cpf",
                "value": "={{ $json.chatInput }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          368,
          -32
        ],
        "id": "81013247-a73c-4aeb-bf41-09ef570e2c4d",
        "name": "Credenciais"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.multicorban.com/cpf",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ $('Credenciais').item.json.novaEraToken }}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "=cpf",
                "value": "={{ $json.cpf }}"
              }
            ]
          },
          "options": {
            "allowUnauthorizedCerts": true
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          592,
          -32
        ],
        "id": "78912f4c-49fc-4efa-872f-5f77419a08d2",
        "name": "Nova Era Request",
        "alwaysOutputData": false,
        "executeOnce": true,
        "notesInFlow": false,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "public": true,
          "initialMessages": "digite o cpf",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.4,
        "position": [
          144,
          -32
        ],
        "id": "5e88b012-6077-476a-a871-f4e9f351014a",
        "name": "When chat message received",
        "webhookId": "ac0fb491-7948-4226-aeff-3232da442308"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "bceb16ae-e624-4382-aeaa-602b78a1f0b9",
                "name": "error.message",
                "value": "={{ $json.error.message }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          800,
          64
        ],
        "id": "ae7aa774-dcb9-4004-9981-4ecf5bcaffd6",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c8f6b11e-d31f-44e9-a520-63984e48858a",
                "name": "data",
                "value": "={{ $json.data }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          800,
          -128
        ],
        "id": "7a7a95cb-6799-4b49-a156-767342623ef5",
        "name": "Edit Fields1"
      }
    ],
    "connections": {
      "Credenciais": {
        "main": [
          [
            {
              "node": "Nova Era Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "Credenciais",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Nova Era Request": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Suporte MDG Suporte",
    "name": "Version 556ea2f5",
    "description": "",
    "autosaved": false
  },
  "tags": []
}