Sem_Categoria/5pyjC17tZe6fwV0K.json
{
  "updatedAt": "2025-02-21T17:09:33.092Z",
  "createdAt": "2025-02-05T13:38:19.478Z",
  "id": "5pyjC17tZe6fwV0K",
  "name": "Integração - TypeBot Saque complementar",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "f368869d-c557-4cf3-bb6d-d0f0aa8cca18",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -100,
        0
      ],
      "id": "24ec9b3c-e749-40e1-b022-20e76828037d",
      "name": "Webhook",
      "webhookId": "f368869d-c557-4cf3-bb6d-d0f0aa8cca18"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a4fd4c6-0305-4685-90a1-4cbfa2e4a7f5",
              "name": "CPF",
              "value": "={{ $json.body.CPF.replaceAll(\".\",\"\").replaceAll(\"-\",\"\").trim() }}",
              "type": "string"
            },
            {
              "id": "1cdc7ea9-a4ca-4c93-a3cc-a0a5014fd353",
              "name": "remoteJid",
              "value": "={{ $json.body.remoteJid }}",
              "type": "string"
            },
            {
              "id": "a3929f30-1a70-4dd2-beb4-06b80d5a924d",
              "name": "type_digitation",
              "value": "={{ $json.body.type_digitation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        100,
        0
      ],
      "id": "4bb7e8e7-9d9e-43d1-b732-d78a966c79db",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet results = [];\n\nitems.forEach(item => {\n    let rawData = JSON.parse(item.json.data);\n    \n    rawData.forEach(entry => {\n        let beneficiario = entry.Beneficiario;\n        let resumoFinanceiro = entry.ResumoFinanceiro;\n        let dadosBancarios = entry.DadosBancarios;\n        let rmc = entry.Rmc;\n        let rcc = entry.RCC;\n        let associacao = entry.Associacao;\n        let emprestimos = entry.Emprestimos;\n\n        results.push({\n            json: {\n                Nome: beneficiario.Nome,\n                CPF: beneficiario.CPF,\n                DataNascimento: beneficiario.DataNascimento,\n                Beneficio: beneficiario.Beneficio,\n                Situacao: beneficiario.Situacao,\n                NomeMae: beneficiario.NomeMae,\n                Endereco: beneficiario.Endereco,\n                Cidade: beneficiario.Cidade,\n                CEP: beneficiario.CEP,\n                UF: beneficiario.UF,\n                ValorBeneficio: resumoFinanceiro.ValorBeneficio,\n                BaseCalculo: resumoFinanceiro.BaseCalculo,\n                MargemDisponivelEmprestimo: resumoFinanceiro.MargemDisponivelEmprestimo,\n                TotalEmprestimos: resumoFinanceiro.TotalEmprestimos,\n                Banco: dadosBancarios.Banco,\n                Agencia: dadosBancarios.Agencia,\n                ContaPagto: dadosBancarios.ContaPagto,\n                MeioPagamento: dadosBancarios.MeioPagamento,\n                RMC_Contrato: rmc?.Contrato || null,\n                RMC_Banco: rmc?.NomeBanco || null,\n                RMC_Valor: rmc?.Valor || null,\n                RMC_ValorParcela: rmc?.ValorParcela || null,\n                RCC_Contrato: rcc?.Contrato || null,\n                RCC_Banco: rcc?.NomeBanco || null,\n                RCC_Valor: rcc?.Valor || null,\n                RCC_ValorParcela: rcc?.ValorParcela || null,\n                Associacao_Taxa: associacao?.TaxaAssociativa || null,\n                Associacao_Parcela: associacao?.Parcela || null,\n                Emprestimos: emprestimos.map(e => ({\n                    Banco: e.Banco,\n                    NomeBanco: e.NomeBanco,\n                    ValorParcela: e.ValorParcela,\n                    Quitacao: e.Quitacao,\n                    Prazo: e.Prazo,\n                    Taxa: e.Taxa,\n                    ParcelasRestantes: e.ParcelasRestantes,\n                    Contrato: e.Contrato,\n                    ValorEmprestimo: e.ValorEmprestimo,\n                    DataAverbacao: e.DataAverbacao,\n                    InicioDesconto: e.InicioDesconto,\n                    FinalDesconto: e.FinalDesconto,\n                }))\n            }\n        });\n    });\n});\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -840
      ],
      "id": "9f490955-81ee-4148-9c58-8167389b6a4f",
      "name": "Code"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4040,
        800
      ],
      "id": "f24dfa16-d947-4c8e-9963-f64242601ede",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.RMC_Banco }}",
                    "rightValue": "BMG",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BMG"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a9f32f51-f390-4f11-9fe9-86eca4961a45",
                    "leftValue": "={{ $json.RCC_Banco }}",
                    "rightValue": "=BMG",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BMG"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e1f6ae7e-de81-44de-ae96-8de36b93cccf",
                    "leftValue": "={{ $json.RMC_Banco }}",
                    "rightValue": "HAPPY",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HAPPY"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3d75708a-7a04-4b7f-ae5c-a096cc18e078",
                    "leftValue": "={{ $json.RCC_Banco }}",
                    "rightValue": "=HAPPY",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HAPPY"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aeb261e3-3801-481f-a840-815316f78e23",
                    "leftValue": "={{ $json.RMC_Banco }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RMC NULL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2520,
        580
      ],
      "id": "4aba04fb-745b-4bf3-a0ac-438c19c00458",
      "name": "Switch"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "CPF",
              "field2": "CPF"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1760,
        580
      ],
      "id": "acfbbb37-6baa-4292-9816-39c158c030dc",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "http://10.3.60.14:9001/api/v1/credilink/search/wsdl/cpf",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "cpf",
              "value": "={{ $('Edit Fields').item.json.CPF }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ***REDACTED***"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        -20
      ],
      "id": "7057d189-c5ec-484c-a2e6-c4de8bbcef3a",
      "name": "Consulta credilus"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "CPF",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        2220,
        580
      ],
      "id": "92a008f1-cdaa-4b45-a843-64ea7260a4aa",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "83173495-23ba-4f9e-a332-1a846a3c8645",
              "name": "NOME",
              "value": "={{ $json.data[0].NOME }}",
              "type": "string"
            },
            {
              "id": "4db1708e-1479-4043-9eaa-2cfede3f7cf3",
              "name": "CPF",
              "value": "={{ $json.data[0].CPFCNPJ }}",
              "type": "string"
            },
            {
              "id": "577bdb23-f230-49b0-8f40-72f1af5e609f",
              "name": "SEXO",
              "value": "={{ $json.data[0].SEXO }}",
              "type": "string"
            },
            {
              "id": "8139b7a4-e48b-488d-80e3-9c9bdf6352a6",
              "name": "EMAILS",
              "value": "={{ $json.data[0].EMAILS }}",
              "type": "string"
            },
            {
              "id": "337c07b1-b3b4-4734-be4c-c1632d3d1c11",
              "name": "MAE",
              "value": "={{ $json.data[0].MAE }}",
              "type": "string"
            },
            {
              "id": "07b19592-09c9-4bf5-9f3b-eec9d7187bcd",
              "name": "CEP",
              "value": "={{ $json.data[0].CEP }}",
              "type": "string"
            },
            {
              "id": "a19e0c7b-28be-479f-a9c2-8ac2f3e36ea0",
              "name": "ENDERECO",
              "value": "={{ $json.data[0].ENDERECO }}",
              "type": "string"
            },
            {
              "id": "46869a0d-f668-4ae8-9211-1ecf753c71a2",
              "name": "BAIRRO",
              "value": "={{ $json.data[0].BAIRRO }}",
              "type": "string"
            },
            {
              "id": "9e1c5f7b-ed12-42bd-8ad8-9146207e9bf3",
              "name": "CIDADE",
              "value": "={{ $json.data[0].CIDADE }}",
              "type": "string"
            },
            {
              "id": "841c2ec6-c750-46be-82cb-5a8017f34865",
              "name": "UF",
              "value": "={{ $json.data[0].UF }}",
              "type": "string"
            },
            {
              "id": "a6f54a92-0652-4b2d-ba51-2f058facee12",
              "name": "TELEFONE",
              "value": "={{ $json.data[0].TELEFONE.replace(/(\\d{2})(\\d{5})(\\d{4})/, \"($1) $2-$3\") }}",
              "type": "string"
            },
            {
              "id": "d82be62b-9cae-4055-8f4f-551a871585e3",
              "name": "NASC",
              "value": "={{ $json.data[0].NASC }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        980,
        -840
      ],
      "id": "9acace3c-6518-4ee0-9ed0-6c1f5bb572fa",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backoffice-staging.happyconsig.com.br/api/oferta/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numero_cpf\": \"{{ $('Switch').item.json.CPF }}\",\n  \"convenio\": 5,\n  \"dt_nascimento\": \"{{ $('Switch').item.json.DataNascimento }}\",\n  \"nome_cliente\": \"{{ $('Switch').item.json.Nome }}\",\n  \"escolaridade\": 1,\n  \"numero_telefone\": \"{{ $('Switch').item.json.TELEFONE }}\",\n  \"margem\": [\n    {\n      \"margem_atual\": 1000,\n      \"numero_matricula\": \"465489abc\",\n      \"tipo_margem\": 3,\n      \"tipo_produto\": 7\n    },\n    {\n      \"margem_atual\": 1000,\n      \"numero_matricula\": \"12345325abc\",\n      \"tipo_margem\": 3,\n      \"tipo_produto\": 15\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        1080
      ],
      "id": "5e97b3fc-624a-497c-897c-92715e195d83",
      "name": "Simula Oferta - com margem"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backoffice-staging.happyconsig.com.br/api/oferta/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "numero_cpf",
              "value": "={{ $('Switch').item.json.CPF.trim()}}"
            },
            {
              "name": "averbadora",
              "value": "={{ $('Switch').item.json.AVERBADORA }}"
            },
            {
              "name": "convenio",
              "value": "={{ $('Switch').item.json.CONVENIO }}"
            },
            {
              "name": "dt_nascimento",
              "value": "={{ $('Switch').item.json.DataNascimento.trim() }}"
            },
            {
              "name": "nome_cliente",
              "value": "={{ $('Switch').item.json.Nome.trim() }}"
            },
            {
              "name": "escolaridade",
              "value": "={{ $('Switch').item.json.ESCOLARIDADE }}"
            },
            {
              "name": "numero_telefone",
              "value": "={{ $('Switch').item.json.TELEFONE.trim() }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        800
      ],
      "id": "3df74780-4ae4-426e-a9fc-85a9ea675968",
      "name": "Simula Oferta - sem margem"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backoffice-staging.happyconsig.com.br/api/auth/token/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "identifier",
              "value": "={{ $json.usuarioHappy }}"
            },
            {
              "name": "password",
              "value": "={{ $json.SenhaHappy }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3080,
        800
      ],
      "id": "546f28cb-58ae-4999-82a0-9242934973b9",
      "name": "token"
    },
    {
      "parameters": {
        "content": "## CONSULTA DADOS ATRAVEZ DO CPF\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 540,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        360,
        -180
      ],
      "typeVersion": 1,
      "id": "db6d31cf-a62e-42e4-a58c-b68c2f04fcec",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## TRATIVA DOS DADOS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 300,
        "width": 680
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1720,
        480
      ],
      "typeVersion": 1,
      "id": "75b5e07d-b1f2-4cbb-93ef-1f3a2ba67ef4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## SELECIONA BANCO\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 340,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2460,
        440
      ],
      "typeVersion": 1,
      "id": "9541651f-0065-48e8-be98-e3824ef5ac02",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## CPF TESTE\n HAPPY: 35292580244\n BMG: 26881551487 \n\n\n2 - CONTA CORRENTE\n1 - CARTÃO MAGNETICO\n",
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -460
      ],
      "typeVersion": 1,
      "id": "cc72d639-9449-44a6-add6-31d0a9b773c9",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## RECEBIMENTO DOS DAODS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 320,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -140,
        -100
      ],
      "typeVersion": 1,
      "id": "708f0330-cc6c-49d9-be18-fa4778e7f532",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ws1.bmgconsig.com.br/webservices/SaqueComplementar?wsdl",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "text/xml; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/xml; charset=utf-8",
        "body": "=<soapenv:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" \nxmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" \nxmlns:web=\"http://webservice.econsig.bmg.com\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"> \n\n   <soapenv:Header/> \n   <soapenv:Body> \n      <web:gravarPropostaSaqueComplementar soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"> \n         <proposta xsi:type=\"web:SaqueComplementarParameter\">          \n            <login xsi:type=\"soapenc:string\">{{ $json.client_id }}</login> \n            <senha xsi:type=\"soapenc:string\">{{ $json['client secret'] }}</senha> \n            <loginConsig xsi:type=\"soapenc:string\">{{ $json.usuarioBmg }}</loginConsig> \n            <senhaConsig xsi:type=\"soapenc:string\">{{ $json.SenhaBmg }}</senhaConsig> \n            <codigoEntidade xsi:type=\"xsd:int\">1581</codigoEntidade> \n            <cpf xsi:type=\"soapenc:string\">12345678901</cpf> \n            <numeroContaInterna xsi:type=\"xsd:long\">123456</numeroContaInterna> \n            <tipoSaque xsi:type=\"xsd:int\">1</tipoSaque> \n            <banco xsi:type=\"web:BancoParameter\">              \n                <numero xsi:type=\"xsd:int\">104</numero> \n            </banco> \n            <agencia xsi:type=\"web:AgenciaParameter\"> \n                <numero xsi:type=\"soapenc:string\">1234</numero> \n                <digitoVerificador xsi:type=\"soapenc:string\">5</digitoVerificador> \n            </agencia> \n            <conta xsi:type=\"web:ContaParameter\"> \n                <numero xsi:type=\"soapenc:string\">987654</numero> \n                <digitoVerificador xsi:type=\"soapenc:string\">0</digitoVerificador> \n            </conta> \n            <finalidadeCredito xsi:type=\"xsd:int\">1</finalidadeCredito> \n            <formaCredito xsi:type=\"xsd:int\">2</formaCredito> \n            <valorSaque xsi:type=\"soapenc:double\">500.00</valorSaque> \n         </proposta> \n      </web:gravarPropostaSaqueComplementar> \n   </soapenv:Body> \n</soapenv:Envelope>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -840
      ],
      "id": "a87f40b4-5e37-4409-8e3c-52ec6302d3a9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68042c07-6f5b-41c0-b153-8cfbab9a4b22",
              "name": "usuarioHappy",
              "value": "38075290801",
              "type": "string"
            },
            {
              "id": "0a15880a-07de-4756-8133-25c6a07bfa9f",
              "name": "SenhaHappy",
              "value": "2025@Ferreira",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2860,
        800
      ],
      "id": "052233d5-8484-4ca0-aa74-10cfc71d682a",
      "name": "AcessosHappy"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f522e242-5add-496e-96c0-768c0736aacf",
              "name": "usuarioBmg",
              "value": "robo.54873",
              "type": "string"
            },
            {
              "id": "ddd71b39-e762-46f9-938d-9f1ed29cd82b",
              "name": "SenhaBmg",
              "value": "Cosmo@001",
              "type": "string"
            },
            {
              "id": "f06bace9-2b71-4e01-9e84-9e914897cd43",
              "name": "client_id",
              "value": " eeca6c43-f334-4709-8ca1-e8e34722ad63",
              "type": "string"
            },
            {
              "id": "ff17d5b4-3820-4302-97f0-37e51cae976d",
              "name": "client secret",
              "value": "35e89951-4dc0-4b5d-8c6b-34ff173c593a",
              "type": "string"
            },
            {
              "id": "9b1eed56-155f-423c-aea7-3848d2b6c2ee",
              "name": "codigoEntidade",
              "value": "1581",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2920,
        180
      ],
      "id": "39afcce3-749e-4e64-9d6c-5bc2e763b34f",
      "name": "AcessosBmg"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"parameters\": {\n    \"values\": {\n      \"margem_tipoMargem\": 2,\n      \"margem_numeroMatricula\": \"465489abc\",\n      \"margem_margem_atual\": \"1000.00\",\n      \"margem_nome\": \"MATEUS ALEX DE OLIVEIRA\",\n      \"margem_nascimento\": \"1999-12-13\",\n      \"margem_idProduto\": 7,\n      \"margem_tipoProduto\": \"Cartão Benefício\",\n      \"simulacao_cliente_id\": 4745,\n      \"simulacao_cliente_nome\": \"MATEUS ALEX DE OLIVEIRA\",\n      \"simulacao_cliente_dt_nascimento\": \"1999-12-13\",\n      \"simulacao_cliente_id_cliente_cartao\": \"3357\",\n      \"simulacao_dados_adicionais_permite_saque_parcelado\": true,\n      \"simulacao_dados_adicionais_permite_saque_rotativo\": false,\n      \"simulacao_dados_adicionais_saque_minimo_rotativo\": \"50.00\",\n      \"simulacao_dados_adicionais_saque_maximo_rotativo\": 10000.0,\n      \"simulacao_dados_adicionais_saque_minimo_parcelado\": 50,\n      \"simulacao_simulacao_sem_saque_limite_pre_aprovado\": \"10000.00\",\n      \"simulacao_simulacao_sem_saque_valor_disponivel_saque\": 10000.0,\n      \"simulacao_simulacao_sem_saque_taxa_produto\": 5.0,\n      \"simulacao_simulacao_sem_saque_taxa_anual_produto\": 81.05,\n      \"simulacao_simulacao_sem_saque_taxa_iof_diario\": \"0.0082000\",\n      \"simulacao_simulacao_sem_saque_taxa_iof_adicional\": \"0.3800000\",\n      \"simulacao_simulacao_sem_saque_cet_anual\": 94.05,\n      \"simulacao_simulacao_sem_saque_cet_mensal\": 5.6,\n      \"simulacao_simulacao_sem_saque_vencimento\": \"2024-09-01\",\n      \"simulacao_simulacao_saque_parcelado_valor_solicitado\": \"10000.00\",\n      \"simulacao_simulacao_saque_parcelado_valor_iof_total\": 346.24,\n      \"simulacao_simulacao_saque_parcelado_valor_total_financiado\": 10346.24,\n      \"simulacao_simulacao_saque_parcelado_valor_total_a_pagar\": 49881.6,\n      \"simulacao_simulacao_saque_parcelado_valor_parcela\": 519.6,\n      \"simulacao_simulacao_saque_parcelado_qtd_parcela\": 96,\n      \"simulacao_simulacao_saque_parcelado_taxa_produto\": \"5.0000\",\n      \"simulacao_simulacao_saque_parcelado_cet_anual\": 94.72,\n      \"simulacao_simulacao_saque_parcelado_cet_mensal\": 5.63,\n      \"simulacao_simulacao_saque_parcelado_vencimento_primeira_parcela\": \"01/09/2024\",\n      \"seguros_0_id\": \"10\",\n      \"seguros_0_nome\": \"Tem Saude\",\n      \"seguros_0_nome_seguradora\": \"1\",\n      \"seguros_0_tipo_plano\": \"1\",\n      \"seguros_0_obrigatorio\": true,\n      \"seguros_0_prioridade_oferta\": false,\n      \"seguros_0_valor_plano\": \"0.00\",\n      \"seguros_0_premio\": \"0\",\n      \"seguros_0_validade\": 12,\n      \"seguros_0_renovacao_automatica\": true,\n      \"seguros_0_carencia\": \"0\",\n      \"seguros_0_descricao_plano\": \"Desconto em Medicamentos - Telemedicina\"\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3500,
        800
      ],
      "id": "6c0b86ce-8468-4fef-9dd5-ae1c7be8f88c",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1aba8810-b0bb-4417-9392-8664002d165f",
              "name": "Margem",
              "value": "={{ $json.parameters.values.margem_margem_atual }}",
              "type": "string"
            },
            {
              "id": "5ec173c5-3941-46f9-a047-d1dd6b60620c",
              "name": "ValorParcela",
              "value": "={{ $json.parameters.values.simulacao_simulacao_saque_parcelado_valor_parcela }}",
              "type": "number"
            },
            {
              "id": "d5262739-29e3-4e9a-85e6-c080469fbc70",
              "name": "ValorSaque",
              "value": "={{ $json.parameters.values.simulacao_simulacao_saque_parcelado_valor_solicitado }}",
              "type": "string"
            },
            {
              "id": "308e648a-59f7-4b3a-9d31-6aa652b69ce7",
              "name": "Banco",
              "value": "={{ $('Edit Fields5').item.json.Banco }}",
              "type": "string"
            },
            {
              "id": "78ccc9f1-a7b5-4e87-b8cf-5ec8b2d32972",
              "name": "Agencia",
              "value": "={{ $('Edit Fields5').item.json.Agencia }}",
              "type": "string"
            },
            {
              "id": "99905375-c779-480d-8f46-b10c895c5723",
              "name": "ContaPagto",
              "value": "={{ $('Edit Fields5').item.json.ContaPagto }}",
              "type": "string"
            },
            {
              "id": "5ce5cd7e-7219-499d-91af-425d6d78a13d",
              "name": "MeioPagamento",
              "value": "={{ $('Edit Fields5').item.json.MeioPagamento }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3720,
        800
      ],
      "id": "b90d1259-8ae7-40a3-a126-389424d7653e",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a186a49-e9bd-4f0a-8e15-5eda21dffa4d",
              "name": "Nome",
              "value": "={{ $json.Nome }}",
              "type": "string"
            },
            {
              "id": "b347af89-94ef-4908-a4a4-da0d4f87bb7e",
              "name": "CPF",
              "value": "={{ $json.CPF.replace(/(\\d{3})(\\d{3})(\\d{3})(\\d{2})/, \"$1.$2.$3-$4\") }}",
              "type": "string"
            },
            {
              "id": "6ce6fe0f-5890-4e58-b1c4-beb75a22cc17",
              "name": "Beneficio",
              "value": "={{ $json.Beneficio }}",
              "type": "string"
            },
            {
              "id": "6f722ba7-6f11-4202-908b-e05e8c8431d7",
              "name": "SEXO",
              "value": "={{ $json.SEXO }}",
              "type": "string"
            },
            {
              "id": "ddeb303b-4e81-4574-a683-69ff7e625ea2",
              "name": "EMAILS",
              "value": "={{ $json.EMAILS }}",
              "type": "string"
            },
            {
              "id": "6d1de74c-4f47-445a-ac72-2ce4f9869786",
              "name": "ValorBeneficio",
              "value": "={{ $json.ValorBeneficio }}",
              "type": "number"
            },
            {
              "id": "eb133007-c5da-401e-ae8f-06c8a6139d0e",
              "name": "NomeMae",
              "value": "={{ $json.NomeMae }}",
              "type": "string"
            },
            {
              "id": "ed0c3ae6-4051-4e5c-8152-81fc7b52bcbf",
              "name": "CEP",
              "value": "={{ $json.CEP }}",
              "type": "string"
            },
            {
              "id": "21946257-59e8-4f7e-bda4-0a27fa12f6ab",
              "name": "Endereco",
              "value": "={{ $json.Endereco }}",
              "type": "string"
            },
            {
              "id": "337cf627-a45a-473e-ae5c-250fb9e7276e",
              "name": "Cidade",
              "value": "={{ $json.Cidade }}",
              "type": "string"
            },
            {
              "id": "d63ad54a-4357-4463-9526-21c20072ca86",
              "name": "UF",
              "value": "={{ $json.UF }}",
              "type": "string"
            },
            {
              "id": "c7428ed4-50f3-4e74-86c9-5ae1efd8e8e9",
              "name": "Banco",
              "value": "={{ $json.Banco }}",
              "type": "string"
            },
            {
              "id": "b5985af5-61fb-4923-af79-4604a0be3a7d",
              "name": "TIPO CONTA",
              "value": "",
              "type": "string"
            },
            {
              "id": "cb851ba2-cbdb-4f97-b14e-036c162bc5ee",
              "name": "Agencia",
              "value": "={{ $json.Agencia }}",
              "type": "string"
            },
            {
              "id": "66166347-825a-4b0a-bfc9-33f87ea60284",
              "name": "ContaPagto",
              "value": "={{ $json.ContaPagto }}",
              "type": "string"
            },
            {
              "id": "d2cd4f82-4e7a-4f26-a4d2-e0a3dc48f871",
              "name": "MeioPagamento",
              "value": "={{ $json.MeioPagamento }}",
              "type": "string"
            },
            {
              "id": "b9a3ea4a-61e7-4b0d-8ee9-6fa66cb630a2",
              "name": "RMC_Banco",
              "value": "={{ $json.RMC_Banco }}",
              "type": "string"
            },
            {
              "id": "44fad447-b93a-4fec-82c3-7032fe4e28b1",
              "name": "RCC_Banco",
              "value": "={{ $json.RCC_Banco }}",
              "type": "string"
            },
            {
              "id": "9db3e4d6-ac6c-4747-aec4-9ab137e150c8",
              "name": "DataNascimento",
              "value": "={{ $json.NASC }}",
              "type": "string"
            },
            {
              "id": "3fd45453-c61c-4d26-8956-38a74f08f833",
              "name": "TELEFONE",
              "value": "={{ $json.TELEFONE }}",
              "type": "string"
            },
            {
              "id": "f58a5201-1410-4be0-a6be-0543225690f9",
              "name": "MargemDisponivelEmprestimo",
              "value": "={{ $json.MargemDisponivelEmprestimo }}",
              "type": "number"
            },
            {
              "id": "786f9da3-dd45-43fb-8dae-d5317fb037f3",
              "name": "AVERBADORA",
              "value": 5,
              "type": "number"
            },
            {
              "id": "78452353-447b-4405-98a0-9b6b0c028041",
              "name": "CONVENIO",
              "value": 3,
              "type": "number"
            },
            {
              "id": "595cf001-7681-421a-8268-11d726d24836",
              "name": "ESCOLARIDADE",
              "value": 2,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2000,
        580
      ],
      "id": "36dea900-77a7-4bc6-b86f-2980639f2f09",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.multicorban.com/cpf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "9242690b665f5ac0af0d66421e2f7dc9"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cpf",
              "value": "={{ $json.CPF }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        -840
      ],
      "id": "3421361c-7a50-48a7-b033-ff8b8318f3c9",
      "name": "HTTP Request Multicorban1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.mdgintermediacoes.com.br/webhook/novaera",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cpf",
              "value": "={{ $json.CPF }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        0
      ],
      "id": "7e66d9e2-26a8-41b0-ad85-1dff0b324847",
      "name": "Nova era Retenção",
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"message\": \"Erro ao consultar no nova era!\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        400,
        240
      ],
      "id": "8abd91ed-84c1-489d-a1d6-ece64cf45025",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "const allDataNovaEra = $(\"Nova era Retenção\").all();\n\nconst bmg = allDataNovaEra.filter((novaEra) => novaEra.json.Rmc.Banco == \"318\" || novaEra.json.RCC.Banco == \"318\")\n\nconst happy = allDataNovaEra.filter((novaEra) => novaEra.json.Rmc.Banco == \"329\" || novaEra.json.RCC.Banco == \"329\")\n\nif (bmg.length >= 1) {\n  return {\n    \"bank_name\":\"bmg\", \n    \"info\": bmg\n  };\n} else if (happy.length >= 1) {\n  return {\n    \"bank\":\"happy\",\n    \"info\": happy\n  };\n} else {\n  return {\"bank\": \"other\"};\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        -20
      ],
      "id": "3540cf0c-3ac1-4c1d-872e-670f9546ecfc",
      "name": "Procura banco"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Procura banco').item.json.bank_name }}",
                    "rightValue": "bmg",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "bmg"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9d30091a-0112-4d99-944f-69d271958aac",
                    "leftValue": "={{ $('Procura banco').item.json.bank_name }}",
                    "rightValue": "happy",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "happy"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1060,
        -20
      ],
      "id": "5f092c92-bd6e-4820-aaea-83c220d7a13d",
      "name": "Escolha dos bancos"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.mdgintermediacoes.com.br/webhook/bmg/simulacao",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cpf",
              "value": "={{ $('Edit Fields').first().json.CPF }}"
            },
            {
              "name": "remoteJid",
              "value": "={{ $('Edit Fields').first().json.remoteJid }}"
            },
            {
              "name": "type_digitation",
              "value": "={{ $('Edit Fields').first().json.type_digitation }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        -140
      ],
      "id": "11f2852a-9615-4b2e-b949-497ce5d65916",
      "name": "Resultado Simulação"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1500,
        -140
      ],
      "id": "1039c439-f053-4184-9a8f-4207386aea49",
      "name": "Respond to Webhook2"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Nova era Retenção",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AcessosBmg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AcessosBmg",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [
          {
            "node": "AcessosHappy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta credilus": {
      "main": [
        [
          {
            "node": "Procura banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    },
    "Simula Oferta - sem margem": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "token": {
      "main": [
        [
          {
            "node": "Simula Oferta - sem margem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AcessosHappy": {
      "main": [
        [
          {
            "node": "token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AcessosBmg": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nova era Retenção": {
      "main": [
        [
          {
            "node": "Consulta credilus",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Multicorban1": {
      "main": [
        []
      ]
    },
    "Procura banco": {
      "main": [
        [
          {
            "node": "Escolha dos bancos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escolha dos bancos": {
      "main": [
        [
          {
            "node": "Resultado Simulação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resultado Simulação": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "upgrade",
            "x-real-ip": "10.3.60.26",
            "x-forwarded-proto": "http",
            "x-forwarded-for": "10.3.60.5, 10.3.60.26",
            "host": "n8napp",
            "content-length": "138",
            "x-forwarded-host": "n8n.mdgintermediacoes.com.br",
            "x-forwarded-port": "443",
            "content-type": "application/json",
            "accept": "*/*",
            "accept-language": "*",
            "sec-fetch-mode": "cors",
            "user-agent": "node",
            "accept-encoding": "br, gzip, deflate"
          },
          "params": {},
          "query": {},
          "body": {
            "submittedAt": "2025-02-21T14:11:51.506Z",
            "Opcao_Inicio": "1",
            "Opcao_1": "1",
            "CPF": "26881551487",
            "remoteJid": "5519981150857@s.whatsapp.net",
            "type_digitation": "simulation"
          },
          "webhookUrl": "https://n8n.mdgintermediacoes.com.br/webhook/f368869d-c557-4cf3-bb6d-d0f0aa8cca18",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "8bc841a5-feb7-48f7-b5d9-e2b37809b866",
  "activeVersionId": "8bc841a5-feb7-48f7-b5d9-e2b37809b866",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-02-05T13:38:19.478Z",
      "createdAt": "2025-02-05T13:38:19.478Z",
      "role": "workflow:owner",
      "workflowId": "5pyjC17tZe6fwV0K",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-11-29T01:50:38.405Z",
    "createdAt": "2025-11-29T01:50:38.405Z",
    "versionId": "8bc841a5-feb7-48f7-b5d9-e2b37809b866",
    "workflowId": "5pyjC17tZe6fwV0K",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "PUT",
          "path": "f368869d-c557-4cf3-bb6d-d0f0aa8cca18",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -100,
          0
        ],
        "id": "24ec9b3c-e749-40e1-b022-20e76828037d",
        "name": "Webhook",
        "webhookId": "f368869d-c557-4cf3-bb6d-d0f0aa8cca18"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9a4fd4c6-0305-4685-90a1-4cbfa2e4a7f5",
                "name": "CPF",
                "value": "={{ $json.body.CPF.replaceAll(\".\",\"\").replaceAll(\"-\",\"\").trim() }}",
                "type": "string"
              },
              {
                "id": "1cdc7ea9-a4ca-4c93-a3cc-a0a5014fd353",
                "name": "remoteJid",
                "value": "={{ $json.body.remoteJid }}",
                "type": "string"
              },
              {
                "id": "a3929f30-1a70-4dd2-beb4-06b80d5a924d",
                "name": "type_digitation",
                "value": "={{ $json.body.type_digitation }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          100,
          0
        ],
        "id": "4bb7e8e7-9d9e-43d1-b732-d78a966c79db",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nlet results = [];\n\nitems.forEach(item => {\n    let rawData = JSON.parse(item.json.data);\n    \n    rawData.forEach(entry => {\n        let beneficiario = entry.Beneficiario;\n        let resumoFinanceiro = entry.ResumoFinanceiro;\n        let dadosBancarios = entry.DadosBancarios;\n        let rmc = entry.Rmc;\n        let rcc = entry.RCC;\n        let associacao = entry.Associacao;\n        let emprestimos = entry.Emprestimos;\n\n        results.push({\n            json: {\n                Nome: beneficiario.Nome,\n                CPF: beneficiario.CPF,\n                DataNascimento: beneficiario.DataNascimento,\n                Beneficio: beneficiario.Beneficio,\n                Situacao: beneficiario.Situacao,\n                NomeMae: beneficiario.NomeMae,\n                Endereco: beneficiario.Endereco,\n                Cidade: beneficiario.Cidade,\n                CEP: beneficiario.CEP,\n                UF: beneficiario.UF,\n                ValorBeneficio: resumoFinanceiro.ValorBeneficio,\n                BaseCalculo: resumoFinanceiro.BaseCalculo,\n                MargemDisponivelEmprestimo: resumoFinanceiro.MargemDisponivelEmprestimo,\n                TotalEmprestimos: resumoFinanceiro.TotalEmprestimos,\n                Banco: dadosBancarios.Banco,\n                Agencia: dadosBancarios.Agencia,\n                ContaPagto: dadosBancarios.ContaPagto,\n                MeioPagamento: dadosBancarios.MeioPagamento,\n                RMC_Contrato: rmc?.Contrato || null,\n                RMC_Banco: rmc?.NomeBanco || null,\n                RMC_Valor: rmc?.Valor || null,\n                RMC_ValorParcela: rmc?.ValorParcela || null,\n                RCC_Contrato: rcc?.Contrato || null,\n                RCC_Banco: rcc?.NomeBanco || null,\n                RCC_Valor: rcc?.Valor || null,\n                RCC_ValorParcela: rcc?.ValorParcela || null,\n                Associacao_Taxa: associacao?.TaxaAssociativa || null,\n                Associacao_Parcela: associacao?.Parcela || null,\n                Emprestimos: emprestimos.map(e => ({\n                    Banco: e.Banco,\n                    NomeBanco: e.NomeBanco,\n                    ValorParcela: e.ValorParcela,\n                    Quitacao: e.Quitacao,\n                    Prazo: e.Prazo,\n                    Taxa: e.Taxa,\n                    ParcelasRestantes: e.ParcelasRestantes,\n                    Contrato: e.Contrato,\n                    ValorEmprestimo: e.ValorEmprestimo,\n                    DataAverbacao: e.DataAverbacao,\n                    InicioDesconto: e.InicioDesconto,\n                    FinalDesconto: e.FinalDesconto,\n                }))\n            }\n        });\n    });\n});\n\nreturn results;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          320,
          -840
        ],
        "id": "9f490955-81ee-4148-9c58-8167389b6a4f",
        "name": "Code"
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          4040,
          800
        ],
        "id": "f24dfa16-d947-4c8e-9963-f64242601ede",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.RMC_Banco }}",
                      "rightValue": "BMG",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "BMG"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "a9f32f51-f390-4f11-9fe9-86eca4961a45",
                      "leftValue": "={{ $json.RCC_Banco }}",
                      "rightValue": "=BMG",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "BMG"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "e1f6ae7e-de81-44de-ae96-8de36b93cccf",
                      "leftValue": "={{ $json.RMC_Banco }}",
                      "rightValue": "HAPPY",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "HAPPY"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "3d75708a-7a04-4b7f-ae5c-a096cc18e078",
                      "leftValue": "={{ $json.RCC_Banco }}",
                      "rightValue": "=HAPPY",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "HAPPY"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "aeb261e3-3801-481f-a840-815316f78e23",
                      "leftValue": "={{ $json.RMC_Banco }}",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "empty",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "RMC NULL"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          2520,
          580
        ],
        "id": "4aba04fb-745b-4bf3-a0ac-438c19c00458",
        "name": "Switch"
      },
      {
        "parameters": {
          "mode": "combine",
          "advanced": true,
          "mergeByFields": {
            "values": [
              {
                "field1": "CPF",
                "field2": "CPF"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1760,
          580
        ],
        "id": "acfbbb37-6baa-4292-9816-39c158c030dc",
        "name": "Merge"
      },
      {
        "parameters": {
          "url": "http://10.3.60.14:9001/api/v1/credilink/search/wsdl/cpf",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "cpf",
                "value": "={{ $('Edit Fields').item.json.CPF }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer ***REDACTED***"
              }
            ]
          },
          "options": {
            "allowUnauthorizedCerts": true
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          620,
          -20
        ],
        "id": "7057d189-c5ec-484c-a2e6-c4de8bbcef3a",
        "name": "Consulta credilus"
      },
      {
        "parameters": {
          "compare": "selectedFields",
          "fieldsToCompare": "CPF",
          "options": {}
        },
        "type": "n8n-nodes-base.removeDuplicates",
        "typeVersion": 2,
        "position": [
          2220,
          580
        ],
        "id": "92a008f1-cdaa-4b45-a843-64ea7260a4aa",
        "name": "Remove Duplicates"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "83173495-23ba-4f9e-a332-1a846a3c8645",
                "name": "NOME",
                "value": "={{ $json.data[0].NOME }}",
                "type": "string"
              },
              {
                "id": "4db1708e-1479-4043-9eaa-2cfede3f7cf3",
                "name": "CPF",
                "value": "={{ $json.data[0].CPFCNPJ }}",
                "type": "string"
              },
              {
                "id": "577bdb23-f230-49b0-8f40-72f1af5e609f",
                "name": "SEXO",
                "value": "={{ $json.data[0].SEXO }}",
                "type": "string"
              },
              {
                "id": "8139b7a4-e48b-488d-80e3-9c9bdf6352a6",
                "name": "EMAILS",
                "value": "={{ $json.data[0].EMAILS }}",
                "type": "string"
              },
              {
                "id": "337c07b1-b3b4-4734-be4c-c1632d3d1c11",
                "name": "MAE",
                "value": "={{ $json.data[0].MAE }}",
                "type": "string"
              },
              {
                "id": "07b19592-09c9-4bf5-9f3b-eec9d7187bcd",
                "name": "CEP",
                "value": "={{ $json.data[0].CEP }}",
                "type": "string"
              },
              {
                "id": "a19e0c7b-28be-479f-a9c2-8ac2f3e36ea0",
                "name": "ENDERECO",
                "value": "={{ $json.data[0].ENDERECO }}",
                "type": "string"
              },
              {
                "id": "46869a0d-f668-4ae8-9211-1ecf753c71a2",
                "name": "BAIRRO",
                "value": "={{ $json.data[0].BAIRRO }}",
                "type": "string"
              },
              {
                "id": "9e1c5f7b-ed12-42bd-8ad8-9146207e9bf3",
                "name": "CIDADE",
                "value": "={{ $json.data[0].CIDADE }}",
                "type": "string"
              },
              {
                "id": "841c2ec6-c750-46be-82cb-5a8017f34865",
                "name": "UF",
                "value": "={{ $json.data[0].UF }}",
                "type": "string"
              },
              {
                "id": "a6f54a92-0652-4b2d-ba51-2f058facee12",
                "name": "TELEFONE",
                "value": "={{ $json.data[0].TELEFONE.replace(/(\\d{2})(\\d{5})(\\d{4})/, \"($1) $2-$3\") }}",
                "type": "string"
              },
              {
                "id": "d82be62b-9cae-4055-8f4f-551a871585e3",
                "name": "NASC",
                "value": "={{ $json.data[0].NASC }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          980,
          -840
        ],
        "id": "9acace3c-6518-4ee0-9ed0-6c1f5bb572fa",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://backoffice-staging.happyconsig.com.br/api/oferta/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $json.access }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"numero_cpf\": \"{{ $('Switch').item.json.CPF }}\",\n  \"convenio\": 5,\n  \"dt_nascimento\": \"{{ $('Switch').item.json.DataNascimento }}\",\n  \"nome_cliente\": \"{{ $('Switch').item.json.Nome }}\",\n  \"escolaridade\": 1,\n  \"numero_telefone\": \"{{ $('Switch').item.json.TELEFONE }}\",\n  \"margem\": [\n    {\n      \"margem_atual\": 1000,\n      \"numero_matricula\": \"465489abc\",\n      \"tipo_margem\": 3,\n      \"tipo_produto\": 7\n    },\n    {\n      \"margem_atual\": 1000,\n      \"numero_matricula\": \"12345325abc\",\n      \"tipo_margem\": 3,\n      \"tipo_produto\": 15\n    }\n  ]\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2880,
          1080
        ],
        "id": "5e97b3fc-624a-497c-897c-92715e195d83",
        "name": "Simula Oferta - com margem"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://backoffice-staging.happyconsig.com.br/api/oferta/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $json.access }}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "numero_cpf",
                "value": "={{ $('Switch').item.json.CPF.trim()}}"
              },
              {
                "name": "averbadora",
                "value": "={{ $('Switch').item.json.AVERBADORA }}"
              },
              {
                "name": "convenio",
                "value": "={{ $('Switch').item.json.CONVENIO }}"
              },
              {
                "name": "dt_nascimento",
                "value": "={{ $('Switch').item.json.DataNascimento.trim() }}"
              },
              {
                "name": "nome_cliente",
                "value": "={{ $('Switch').item.json.Nome.trim() }}"
              },
              {
                "name": "escolaridade",
                "value": "={{ $('Switch').item.json.ESCOLARIDADE }}"
              },
              {
                "name": "numero_telefone",
                "value": "={{ $('Switch').item.json.TELEFONE.trim() }}"
              }
            ]
          },
          "options": {
            "allowUnauthorizedCerts": true,
            "response": {
              "response": {
                "fullResponse": true,
                "neverError": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3300,
          800
        ],
        "id": "3df74780-4ae4-426e-a9fc-85a9ea675968",
        "name": "Simula Oferta - sem margem"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://backoffice-staging.happyconsig.com.br/api/auth/token/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "identifier",
                "value": "={{ $json.usuarioHappy }}"
              },
              {
                "name": "password",
                "value": "={{ $json.SenhaHappy }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3080,
          800
        ],
        "id": "546f28cb-58ae-4999-82a0-9242934973b9",
        "name": "token"
      },
      {
        "parameters": {
          "content": "## CONSULTA DADOS ATRAVEZ DO CPF\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 540,
          "width": 420
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          360,
          -180
        ],
        "typeVersion": 1,
        "id": "db6d31cf-a62e-42e4-a58c-b68c2f04fcec",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## TRATIVA DOS DADOS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 300,
          "width": 680
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1720,
          480
        ],
        "typeVersion": 1,
        "id": "75b5e07d-b1f2-4cbb-93ef-1f3a2ba67ef4",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## SELECIONA BANCO\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 340,
          "width": 280
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2460,
          440
        ],
        "typeVersion": 1,
        "id": "9541651f-0065-48e8-be98-e3824ef5ac02",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## CPF TESTE\n HAPPY: 35292580244\n BMG: 26881551487 \n\n\n2 - CONTA CORRENTE\n1 - CARTÃO MAGNETICO\n",
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -160,
          -460
        ],
        "typeVersion": 1,
        "id": "cc72d639-9449-44a6-add6-31d0a9b773c9",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "## RECEBIMENTO DOS DAODS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 320,
          "width": 420
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -140,
          -100
        ],
        "typeVersion": 1,
        "id": "708f0330-cc6c-49d9-be18-fa4778e7f532",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ws1.bmgconsig.com.br/webservices/SaqueComplementar?wsdl",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "text/xml; charset=utf-8"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "text/xml; charset=utf-8",
          "body": "=<soapenv:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" \nxmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" \nxmlns:web=\"http://webservice.econsig.bmg.com\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"> \n\n   <soapenv:Header/> \n   <soapenv:Body> \n      <web:gravarPropostaSaqueComplementar soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"> \n         <proposta xsi:type=\"web:SaqueComplementarParameter\">          \n            <login xsi:type=\"soapenc:string\">{{ $json.client_id }}</login> \n            <senha xsi:type=\"soapenc:string\">{{ $json['client secret'] }}</senha> \n            <loginConsig xsi:type=\"soapenc:string\">{{ $json.usuarioBmg }}</loginConsig> \n            <senhaConsig xsi:type=\"soapenc:string\">{{ $json.SenhaBmg }}</senhaConsig> \n            <codigoEntidade xsi:type=\"xsd:int\">1581</codigoEntidade> \n            <cpf xsi:type=\"soapenc:string\">12345678901</cpf> \n            <numeroContaInterna xsi:type=\"xsd:long\">123456</numeroContaInterna> \n            <tipoSaque xsi:type=\"xsd:int\">1</tipoSaque> \n            <banco xsi:type=\"web:BancoParameter\">              \n                <numero xsi:type=\"xsd:int\">104</numero> \n            </banco> \n            <agencia xsi:type=\"web:AgenciaParameter\"> \n                <numero xsi:type=\"soapenc:string\">1234</numero> \n                <digitoVerificador xsi:type=\"soapenc:string\">5</digitoVerificador> \n            </agencia> \n            <conta xsi:type=\"web:ContaParameter\"> \n                <numero xsi:type=\"soapenc:string\">987654</numero> \n                <digitoVerificador xsi:type=\"soapenc:string\">0</digitoVerificador> \n            </conta> \n            <finalidadeCredito xsi:type=\"xsd:int\">1</finalidadeCredito> \n            <formaCredito xsi:type=\"xsd:int\">2</formaCredito> \n            <valorSaque xsi:type=\"soapenc:double\">500.00</valorSaque> \n         </proposta> \n      </web:gravarPropostaSaqueComplementar> \n   </soapenv:Body> \n</soapenv:Envelope>\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          720,
          -840
        ],
        "id": "a87f40b4-5e37-4409-8e3c-52ec6302d3a9",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "68042c07-6f5b-41c0-b153-8cfbab9a4b22",
                "name": "usuarioHappy",
                "value": "38075290801",
                "type": "string"
              },
              {
                "id": "0a15880a-07de-4756-8133-25c6a07bfa9f",
                "name": "SenhaHappy",
                "value": "2025@Ferreira",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2860,
          800
        ],
        "id": "052233d5-8484-4ca0-aa74-10cfc71d682a",
        "name": "AcessosHappy"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f522e242-5add-496e-96c0-768c0736aacf",
                "name": "usuarioBmg",
                "value": "robo.54873",
                "type": "string"
              },
              {
                "id": "ddd71b39-e762-46f9-938d-9f1ed29cd82b",
                "name": "SenhaBmg",
                "value": "Cosmo@001",
                "type": "string"
              },
              {
                "id": "f06bace9-2b71-4e01-9e84-9e914897cd43",
                "name": "client_id",
                "value": " eeca6c43-f334-4709-8ca1-e8e34722ad63",
                "type": "string"
              },
              {
                "id": "ff17d5b4-3820-4302-97f0-37e51cae976d",
                "name": "client secret",
                "value": "35e89951-4dc0-4b5d-8c6b-34ff173c593a",
                "type": "string"
              },
              {
                "id": "9b1eed56-155f-423c-aea7-3848d2b6c2ee",
                "name": "codigoEntidade",
                "value": "1581",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2920,
          180
        ],
        "id": "39afcce3-749e-4e64-9d6c-5bc2e763b34f",
        "name": "AcessosBmg"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "{\n  \"parameters\": {\n    \"values\": {\n      \"margem_tipoMargem\": 2,\n      \"margem_numeroMatricula\": \"465489abc\",\n      \"margem_margem_atual\": \"1000.00\",\n      \"margem_nome\": \"MATEUS ALEX DE OLIVEIRA\",\n      \"margem_nascimento\": \"1999-12-13\",\n      \"margem_idProduto\": 7,\n      \"margem_tipoProduto\": \"Cartão Benefício\",\n      \"simulacao_cliente_id\": 4745,\n      \"simulacao_cliente_nome\": \"MATEUS ALEX DE OLIVEIRA\",\n      \"simulacao_cliente_dt_nascimento\": \"1999-12-13\",\n      \"simulacao_cliente_id_cliente_cartao\": \"3357\",\n      \"simulacao_dados_adicionais_permite_saque_parcelado\": true,\n      \"simulacao_dados_adicionais_permite_saque_rotativo\": false,\n      \"simulacao_dados_adicionais_saque_minimo_rotativo\": \"50.00\",\n      \"simulacao_dados_adicionais_saque_maximo_rotativo\": 10000.0,\n      \"simulacao_dados_adicionais_saque_minimo_parcelado\": 50,\n      \"simulacao_simulacao_sem_saque_limite_pre_aprovado\": \"10000.00\",\n      \"simulacao_simulacao_sem_saque_valor_disponivel_saque\": 10000.0,\n      \"simulacao_simulacao_sem_saque_taxa_produto\": 5.0,\n      \"simulacao_simulacao_sem_saque_taxa_anual_produto\": 81.05,\n      \"simulacao_simulacao_sem_saque_taxa_iof_diario\": \"0.0082000\",\n      \"simulacao_simulacao_sem_saque_taxa_iof_adicional\": \"0.3800000\",\n      \"simulacao_simulacao_sem_saque_cet_anual\": 94.05,\n      \"simulacao_simulacao_sem_saque_cet_mensal\": 5.6,\n      \"simulacao_simulacao_sem_saque_vencimento\": \"2024-09-01\",\n      \"simulacao_simulacao_saque_parcelado_valor_solicitado\": \"10000.00\",\n      \"simulacao_simulacao_saque_parcelado_valor_iof_total\": 346.24,\n      \"simulacao_simulacao_saque_parcelado_valor_total_financiado\": 10346.24,\n      \"simulacao_simulacao_saque_parcelado_valor_total_a_pagar\": 49881.6,\n      \"simulacao_simulacao_saque_parcelado_valor_parcela\": 519.6,\n      \"simulacao_simulacao_saque_parcelado_qtd_parcela\": 96,\n      \"simulacao_simulacao_saque_parcelado_taxa_produto\": \"5.0000\",\n      \"simulacao_simulacao_saque_parcelado_cet_anual\": 94.72,\n      \"simulacao_simulacao_saque_parcelado_cet_mensal\": 5.63,\n      \"simulacao_simulacao_saque_parcelado_vencimento_primeira_parcela\": \"01/09/2024\",\n      \"seguros_0_id\": \"10\",\n      \"seguros_0_nome\": \"Tem Saude\",\n      \"seguros_0_nome_seguradora\": \"1\",\n      \"seguros_0_tipo_plano\": \"1\",\n      \"seguros_0_obrigatorio\": true,\n      \"seguros_0_prioridade_oferta\": false,\n      \"seguros_0_valor_plano\": \"0.00\",\n      \"seguros_0_premio\": \"0\",\n      \"seguros_0_validade\": 12,\n      \"seguros_0_renovacao_automatica\": true,\n      \"seguros_0_carencia\": \"0\",\n      \"seguros_0_descricao_plano\": \"Desconto em Medicamentos - Telemedicina\"\n    }\n  }\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3500,
          800
        ],
        "id": "6c0b86ce-8468-4fef-9dd5-ae1c7be8f88c",
        "name": "Edit Fields3"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1aba8810-b0bb-4417-9392-8664002d165f",
                "name": "Margem",
                "value": "={{ $json.parameters.values.margem_margem_atual }}",
                "type": "string"
              },
              {
                "id": "5ec173c5-3941-46f9-a047-d1dd6b60620c",
                "name": "ValorParcela",
                "value": "={{ $json.parameters.values.simulacao_simulacao_saque_parcelado_valor_parcela }}",
                "type": "number"
              },
              {
                "id": "d5262739-29e3-4e9a-85e6-c080469fbc70",
                "name": "ValorSaque",
                "value": "={{ $json.parameters.values.simulacao_simulacao_saque_parcelado_valor_solicitado }}",
                "type": "string"
              },
              {
                "id": "308e648a-59f7-4b3a-9d31-6aa652b69ce7",
                "name": "Banco",
                "value": "={{ $('Edit Fields5').item.json.Banco }}",
                "type": "string"
              },
              {
                "id": "78ccc9f1-a7b5-4e87-b8cf-5ec8b2d32972",
                "name": "Agencia",
                "value": "={{ $('Edit Fields5').item.json.Agencia }}",
                "type": "string"
              },
              {
                "id": "99905375-c779-480d-8f46-b10c895c5723",
                "name": "ContaPagto",
                "value": "={{ $('Edit Fields5').item.json.ContaPagto }}",
                "type": "string"
              },
              {
                "id": "5ce5cd7e-7219-499d-91af-425d6d78a13d",
                "name": "MeioPagamento",
                "value": "={{ $('Edit Fields5').item.json.MeioPagamento }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3720,
          800
        ],
        "id": "b90d1259-8ae7-40a3-a126-389424d7653e",
        "name": "Edit Fields4"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2a186a49-e9bd-4f0a-8e15-5eda21dffa4d",
                "name": "Nome",
                "value": "={{ $json.Nome }}",
                "type": "string"
              },
              {
                "id": "b347af89-94ef-4908-a4a4-da0d4f87bb7e",
                "name": "CPF",
                "value": "={{ $json.CPF.replace(/(\\d{3})(\\d{3})(\\d{3})(\\d{2})/, \"$1.$2.$3-$4\") }}",
                "type": "string"
              },
              {
                "id": "6ce6fe0f-5890-4e58-b1c4-beb75a22cc17",
                "name": "Beneficio",
                "value": "={{ $json.Beneficio }}",
                "type": "string"
              },
              {
                "id": "6f722ba7-6f11-4202-908b-e05e8c8431d7",
                "name": "SEXO",
                "value": "={{ $json.SEXO }}",
                "type": "string"
              },
              {
                "id": "ddeb303b-4e81-4574-a683-69ff7e625ea2",
                "name": "EMAILS",
                "value": "={{ $json.EMAILS }}",
                "type": "string"
              },
              {
                "id": "6d1de74c-4f47-445a-ac72-2ce4f9869786",
                "name": "ValorBeneficio",
                "value": "={{ $json.ValorBeneficio }}",
                "type": "number"
              },
              {
                "id": "eb133007-c5da-401e-ae8f-06c8a6139d0e",
                "name": "NomeMae",
                "value": "={{ $json.NomeMae }}",
                "type": "string"
              },
              {
                "id": "ed0c3ae6-4051-4e5c-8152-81fc7b52bcbf",
                "name": "CEP",
                "value": "={{ $json.CEP }}",
                "type": "string"
              },
              {
                "id": "21946257-59e8-4f7e-bda4-0a27fa12f6ab",
                "name": "Endereco",
                "value": "={{ $json.Endereco }}",
                "type": "string"
              },
              {
                "id": "337cf627-a45a-473e-ae5c-250fb9e7276e",
                "name": "Cidade",
                "value": "={{ $json.Cidade }}",
                "type": "string"
              },
              {
                "id": "d63ad54a-4357-4463-9526-21c20072ca86",
                "name": "UF",
                "value": "={{ $json.UF }}",
                "type": "string"
              },
              {
                "id": "c7428ed4-50f3-4e74-86c9-5ae1efd8e8e9",
                "name": "Banco",
                "value": "={{ $json.Banco }}",
                "type": "string"
              },
              {
                "id": "b5985af5-61fb-4923-af79-4604a0be3a7d",
                "name": "TIPO CONTA",
                "value": "",
                "type": "string"
              },
              {
                "id": "cb851ba2-cbdb-4f97-b14e-036c162bc5ee",
                "name": "Agencia",
                "value": "={{ $json.Agencia }}",
                "type": "string"
              },
              {
                "id": "66166347-825a-4b0a-bfc9-33f87ea60284",
                "name": "ContaPagto",
                "value": "={{ $json.ContaPagto }}",
                "type": "string"
              },
              {
                "id": "d2cd4f82-4e7a-4f26-a4d2-e0a3dc48f871",
                "name": "MeioPagamento",
                "value": "={{ $json.MeioPagamento }}",
                "type": "string"
              },
              {
                "id": "b9a3ea4a-61e7-4b0d-8ee9-6fa66cb630a2",
                "name": "RMC_Banco",
                "value": "={{ $json.RMC_Banco }}",
                "type": "string"
              },
              {
                "id": "44fad447-b93a-4fec-82c3-7032fe4e28b1",
                "name": "RCC_Banco",
                "value": "={{ $json.RCC_Banco }}",
                "type": "string"
              },
              {
                "id": "9db3e4d6-ac6c-4747-aec4-9ab137e150c8",
                "name": "DataNascimento",
                "value": "={{ $json.NASC }}",
                "type": "string"
              },
              {
                "id": "3fd45453-c61c-4d26-8956-38a74f08f833",
                "name": "TELEFONE",
                "value": "={{ $json.TELEFONE }}",
                "type": "string"
              },
              {
                "id": "f58a5201-1410-4be0-a6be-0543225690f9",
                "name": "MargemDisponivelEmprestimo",
                "value": "={{ $json.MargemDisponivelEmprestimo }}",
                "type": "number"
              },
              {
                "id": "786f9da3-dd45-43fb-8dae-d5317fb037f3",
                "name": "AVERBADORA",
                "value": 5,
                "type": "number"
              },
              {
                "id": "78452353-447b-4405-98a0-9b6b0c028041",
                "name": "CONVENIO",
                "value": 3,
                "type": "number"
              },
              {
                "id": "595cf001-7681-421a-8268-11d726d24836",
                "name": "ESCOLARIDADE",
                "value": 2,
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2000,
          580
        ],
        "id": "36dea900-77a7-4bc6-b86f-2980639f2f09",
        "name": "Edit Fields5"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.multicorban.com/cpf",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "9242690b665f5ac0af0d66421e2f7dc9"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "cpf",
                "value": "={{ $json.CPF }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          520,
          -840
        ],
        "id": "3421361c-7a50-48a7-b033-ff8b8318f3c9",
        "name": "HTTP Request Multicorban1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n.mdgintermediacoes.com.br/webhook/novaera",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "cpf",
                "value": "={{ $json.CPF }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          380,
          0
        ],
        "id": "7e66d9e2-26a8-41b0-ad85-1dff0b324847",
        "name": "Nova era Retenção",
        "executeOnce": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\n  \"message\": \"Erro ao consultar no nova era!\"\n}",
          "options": {
            "responseCode": 400
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          400,
          240
        ],
        "id": "8abd91ed-84c1-489d-a1d6-ece64cf45025",
        "name": "Respond to Webhook1"
      },
      {
        "parameters": {
          "jsCode": "const allDataNovaEra = $(\"Nova era Retenção\").all();\n\nconst bmg = allDataNovaEra.filter((novaEra) => novaEra.json.Rmc.Banco == \"318\" || novaEra.json.RCC.Banco == \"318\")\n\nconst happy = allDataNovaEra.filter((novaEra) => novaEra.json.Rmc.Banco == \"329\" || novaEra.json.RCC.Banco == \"329\")\n\nif (bmg.length >= 1) {\n  return {\n    \"bank_name\":\"bmg\", \n    \"info\": bmg\n  };\n} else if (happy.length >= 1) {\n  return {\n    \"bank\":\"happy\",\n    \"info\": happy\n  };\n} else {\n  return {\"bank\": \"other\"};\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          840,
          -20
        ],
        "id": "3540cf0c-3ac1-4c1d-872e-670f9546ecfc",
        "name": "Procura banco"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Procura banco').item.json.bank_name }}",
                      "rightValue": "bmg",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "bmg"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "9d30091a-0112-4d99-944f-69d271958aac",
                      "leftValue": "={{ $('Procura banco').item.json.bank_name }}",
                      "rightValue": "happy",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "happy"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          1060,
          -20
        ],
        "id": "5f092c92-bd6e-4820-aaea-83c220d7a13d",
        "name": "Escolha dos bancos"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n.mdgintermediacoes.com.br/webhook/bmg/simulacao",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "cpf",
                "value": "={{ $('Edit Fields').first().json.CPF }}"
              },
              {
                "name": "remoteJid",
                "value": "={{ $('Edit Fields').first().json.remoteJid }}"
              },
              {
                "name": "type_digitation",
                "value": "={{ $('Edit Fields').first().json.type_digitation }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1280,
          -140
        ],
        "id": "11f2852a-9615-4b2e-b949-497ce5d65916",
        "name": "Resultado Simulação"
      },
      {
        "parameters": {
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1500,
          -140
        ],
        "id": "1039c439-f053-4184-9a8f-4207386aea49",
        "name": "Respond to Webhook2"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Nova era Retenção",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          []
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "AcessosBmg",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AcessosBmg",
              "type": "main",
              "index": 0
            }
          ],
          [],
          [],
          [
            {
              "node": "AcessosHappy",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Edit Fields5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consulta credilus": {
        "main": [
          [
            {
              "node": "Procura banco",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove Duplicates": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          []
        ]
      },
      "Simula Oferta - sem margem": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "token": {
        "main": [
          [
            {
              "node": "Simula Oferta - sem margem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AcessosHappy": {
        "main": [
          [
            {
              "node": "token",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AcessosBmg": {
        "main": [
          []
        ]
      },
      "HTTP Request": {
        "main": [
          []
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Edit Fields4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields4": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields5": {
        "main": [
          [
            {
              "node": "Remove Duplicates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Nova era Retenção": {
        "main": [
          [
            {
              "node": "Consulta credilus",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond to Webhook1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request Multicorban1": {
        "main": [
          []
        ]
      },
      "Procura banco": {
        "main": [
          [
            {
              "node": "Escolha dos bancos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Escolha dos bancos": {
        "main": [
          [
            {
              "node": "Resultado Simulação",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Resultado Simulação": {
        "main": [
          [
            {
              "node": "Respond to Webhook2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}