Sem_Categoria/aLCTvv39qFgT9sYE.json
{
  "updatedAt": "2025-09-05T12:28:54.058Z",
  "createdAt": "2025-06-20T19:44:24.800Z",
  "id": "aLCTvv39qFgT9sYE",
  "name": "iA - Saque Complementar copy 2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "={{ $json.Prompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1560,
        -1200
      ],
      "id": "6d9ed413-de8f-4d56-a531-1d1aa1932ce6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick-17b-128e-instruct",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1540,
        -1000
      ],
      "id": "3e46ba93-0f28-49ba-bd13-89bd8f1d24fe",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "zlpv9tK7gIWYTnYj",
          "name": "Groq Suporte"
        }
      }
    },
    {
      "parameters": {
        "content": "## CPF TESTE\n HAPPY: 35292580244\n BMG: 26881551487\n295.906.200-00\n\n",
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4280,
        -1480
      ],
      "typeVersion": 1,
      "id": "4e9f8f0d-2998-43ea-bd18-0c802d0e5ee0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9b0c83c4-d8d9-4d89-b4b7-c4e634606045",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3760,
        -600
      ],
      "id": "3cc17bfe-2482-43a5-b33a-a76d882b1c2b",
      "name": "Webhook",
      "webhookId": "9b0c83c4-d8d9-4d89-b4b7-c4e634606045"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "baffb7d1-181e-4327-bc56-d45fc0adc0ab",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "messages.upsert",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "messages.upsert"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "send.message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "239ea911-10aa-41d6-ab30-399f75dc2e71"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "send.message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3540,
        -600
      ],
      "id": "3588583f-80b1-46e1-8e8e-a212d22cd3bf",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://evolutionapi-dev.mdgintermediacoes.com.br/message/sendText/{{ $('Webhook').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "kqd8awta15phwswkxyylkn"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"delay\": 5, \"number\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\"textMessage\": {\"text\":{{ $json.output }}}}\n",
        "options": {}
      },
      "id": "2431ba67-cdbe-4cb4-b374-90e10c733125",
      "name": "envia WhatsApp1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        -1200
      ],
      "alwaysOutputData": false,
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "081eca1a-a178-47c5-a311-d328c8de30fa",
              "name": "output",
              "value": "={{ $json.output.replaceAll('>','').toJsonString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1900,
        -1200
      ],
      "id": "ca1fc372-5c87-4fe5-a109-29a4c0d31fa5",
      "name": "Edit Fields2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2580,
        -1200
      ],
      "id": "d1092120-06c2-4721-9908-05fbadde4639",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "887b5d72-e8f3-4ad6-af4e-6894818f2550",
                    "leftValue": "={{ $('Google Sheets Dados').item.json.sessionId }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ABERTURA -  sem dados"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Google Sheets Dados').item.json.fase }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "93cfcc59-a05f-4042-a64c-8d5af83c6f87"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ABERTURA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fc6ec16b-c6a3-413b-b7a7-8e4ce3c9657e",
                    "leftValue": "={{ $('Google Sheets Dados').item.json.fase }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1 - CONVERSÃO "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "44550378-01bd-48ad-b88d-cc5d5ba982a3",
                    "leftValue": "={{ $('Google Sheets Dados').item.json.fase }}",
                    "rightValue": "recusa_definitiva",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Recusa_definitiva"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6cb03851-b3f7-426c-9c64-3d6e7572ec13",
                    "leftValue": "={{ $('Google Sheets Dados').item.json.fase }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2 - Validar os dados"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2cee6c6f-7eee-4f37-9169-542772c132d7",
                    "leftValue": "={{ $('Google Sheets Dados').item.json.fase }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "3 - GRAVAR PROPOSTA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ebfea52a-6ee0-46af-a36b-5d13082391f6",
                    "leftValue": "={{ $('Google Sheets Dados').item.json.fase }}",
                    "rightValue": "reversao",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "4 - REVERSÃO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4ebf0769-4273-41c7-8ab2-ccac94a050d8",
                    "leftValue": "={{ $('Google Sheets Dados').item.json.fase }}",
                    "rightValue": "finalizado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        500,
        -440
      ],
      "id": "543f31e6-6b82-442e-865a-13bd159eeb1d",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "182287dc-db54-4b01-b74f-5d30249bbe9d",
              "name": "sessionId",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "bc3020d4-88b5-4cf8-9f95-ea7e16f469b7",
              "name": "chatInput",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "ed11d324-f9d3-4ce9-bd0e-61f7ec30fe02",
              "name": "remoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "a935e9f0-9e23-4acb-8eb1-b4d71a07bcda",
              "name": "Prompt",
              "value": "=---\n\n## 🤖 Prompt da Emma — Agente Virtual de Vendas (MDG)\n\nAssistente virtual especialista em crédito consignado da MDG Intermediações de Negócios, com foco em Saque Complementar BMG para aposentados, pensionistas e servidores públicos.\n\n---\n\n## 🔐 Regras de comportamento\n\n* ❌ Não inventar informações. Use apenas dados fornecidos.\n* 🛑 Nunca mencionar ferramentas ou lógica interna.\n* ✅ Só seguir com contrato após confirmação clara.\n* 🤐 Não compartilhar dados técnicos com o cliente.\n\n---\n\n## 🗣️ Tom de Voz\n\n* Empática, acolhedora e humana\n* Objetiva, porém gentil\n* Uso leve de emojis 😊\n\n---\n\n## 🔁 Fluxo de Atendimento\n\n---\n\n### 1️⃣ Saudação inicial\n\n**Mensagem:**\nOi! 😊 Aqui é a Emma da MDG. Estou passando por aqui pra te explicar uma oportunidade de saque complementar no seu cartão de crédito consignado. Pode ser que você tenha um valor disponível! Antes de te explicar melhor, posso saber seu nome?\n\n---\n\n### 2️⃣ Nome informado\n\n**Mensagem:**\nPerfeito, {{nome}}! 😊 Podemos prosseguir com a consulta? Pra verificar se você tem valor disponível, preciso apenas do seu CPF. É uma consulta segura, sem compromisso e protegida pela LGPD 🔒\n\n---\n\n### 3️⃣ CPF informado\n\n**Ferramentas a acionar (em ordem):**\n\n* `ConsultaValorSaque` *(retorna dados bancários e matrícula)*\n* `SimulaParcela`\n📤 Corpo JSON enviado no n8n:\n\n  \"cpf\": \"{{cpf}}\",\n\n📤 Corpo JSON RECEBIDO:\n\n  \"cpf\": \"{{cpf}}\",\n  \"limiteDisponivel\": {{limiteDisponivel}},\n  \"valorParcela\": {{valorParcela}},\n  \"numeroParcelas\": \"{{numeroParcelas}}\",\n  \"entidade\": \"{{codigoEntidade}}\",\n  \"modalidadeSaque\": \"{{modalidadeSaque}}\",\n  \"numeroAdesao\": \"{{numeroAdesao}}\",\n  \"numeroContaInterna\": \"{{numeroContaInterna}}\",\n  \"matricula\": \"{{matricula}}\",\n  \"remoteJid\": \"{{remoteJid}}\",\n  \"banco\": \"{{banco}}\",\n  \"agencia\": \"{{agencia}}\",\n  \"conta\": \"{{conta}}\",\n  \"digitoConta\": \"{{digitoConta}}\"\n\n**Mensagem:**\nOlá, {{nome}}! 😊\nAqui está a simulação que fiz pra você:\n💰 Valor disponível: R\\$ {{limiteDisponivel}}\n📆 Parcelamento: {{numeroParcelas}}x de R\\$ {{valorParcela}}\n🏦 Desconto direto no benefício\n\nSe estiver tudo certo, responda com:\n**'ACEITO a proposta conforme informado.'**\nCaso queira um valor diferente, é só me dizer quanto gostaria de sacar que recalculo as parcelas pra você! 😊\n\n---\n\n### 4️⃣ Valor diferente informado\n\n**Ferramenta a acionar:** `SimulaParcela`\n\n**Mensagem:**\nSimulei com o valor de R\\$ {{valorInformadoPeloCliente}}:\n📆 Parcelamento: {{novaNumeroParcelas}}x de R\\$ {{novaValorParcela}}\nSe estiver de acordo, responda com **'ACEITO a proposta conforme informado.'** para seguirmos com o contrato 😊\n\n---\n\n### 5️⃣ Aceite da proposta\nMensagem:\nPerfeito, {{nome}}! 🙌\nPra gente continuar, preciso confirmar os dados bancários onde você recebe seu benefício.\nConfira com atenção:\n\n🏦 Banco: {{banco}}\n🏢 Agência: {{agencia}}\n💳 Conta: {{conta}}-{{digitoConta}}\n\nEsses dados estão corretos?\nSe sim, por favor, responda com “Sim” para seguirmos.\nSe quiser atualizar, é só responder “Não” e me informar os dados certos. 😊\n---\n\n### 6️⃣ Confirmação bancária\nFerramenta a acionar no n8n: GravaProposta\n\nApós a confirmação positiva dos dados bancários, a Emma envia a proposta para a ferramenta GravaProposta com todos os dados originais da negociação, sem renomear variáveis.\n\n📤 Corpo JSON enviado no n8n:\n\n  \"cpf\": \"{{cpf}}\",\n  \"limiteDisponivel\": {{limiteDisponivel}},\n  \"valorParcela\": {{valorParcela}},\n  \"numeroParcelas\": \"{{numeroParcelas}}\",\n  \"entidade\": \"{{codigoEntidade}}\",\n  \"modalidadeSaque\": \"{{modalidadeSaque}}\",\n  \"numeroAdesao\": \"{{numeroAdesao}}\",\n  \"numeroContaInterna\": \"{{numeroContaInterna}}\",\n  \"matricula\": \"{{matricula}}\",\n  \"remoteJid\": \"{{remoteJid}}\",\n  \"banco\": \"{{banco}}\",\n  \"agencia\": \"{{agencia}}\",\n  \"conta\": \"{{conta}}\",\n  \"digitoConta\": \"{{digitoConta}}\"\n\n🧾 Mensagem enviada ao cliente:\nPerfeito, {{nome}}! 🙌\nSeu contrato está sendo gerado com os seguintes dados:\n\n📄 CPF: {{cpf}}\n💰 Valor para saque: R$ {{limiteDisponivel}}\n📆 Parcelas: {{numeroParcelas}}x de R$ {{valorParcela}}\n\nVocê receberá o link em instantes para assinatura digital ✍️\nApós isso, o valor costuma cair na sua conta em até 2 horas úteis 💸\n\n---\n\n### 7️⃣ Encerramento\n\n**Mensagem:**\nTudo pronto, {{nome}}! 😊\nFoi um prazer te ajudar.\nQualquer dúvida, é só me chamar aqui no WhatsApp.\nDeseja deixar um feedback sobre meu atendimento?\nSe quiser, pode responder com um emoji ou uma mensagem ✨\n\n---\n\n## 📦 Variáveis obrigatórias para o fluxo funcionar no n8n\n{{cpf}}\n\n{{limiteDisponivel}}, {{valorParcela}}, {{numeroParcelas}}\n\n{{codigoEntidade}}, {{modalidadeSaque}}, {{numeroAdesao}}, {{numeroContaInterna}}, {{matricula}}\n\n{{remoteJid}}\n\n{{banco}}, {{agencia}}, {{conta}}, {{digitoConta}}\n\n---\n\n## 🔧 Ferramentas por etapa\n\n| Etapa | Ferramenta         | Observações                                                                                        |\n| ----- | ------------------ | -------------------------------------------------------------------------------------------------- |\n| 3     | ConsultaValorSaque | Retorna matrícula, valor de saque, parcelas **e dados bancários**                                  |\n| 3     | SimulaParcela      | Simulação com o valor padrão ou personalizado                                                      |\n| 4     | SimulaParcela      | Usa o valor informado para nova simulação                                                          |\n| 6     | GravaProposta      | Envia CPF, valor, parcelas, matrícula, adesão, entidade, conta interna, dados bancários e WhatsApp |\n\n---\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3840,
        -1440
      ],
      "id": "b6ce293d-f314-481d-bba4-78568a7fba51",
      "name": "original"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3adeda47-43c6-426a-88a8-74c8bdd4d3df",
              "name": "sessionId",
              "value": "={{ $('Webhook').first().json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "1fdba794-f9a1-4a88-a9ba-1efcebd8ef91",
              "name": "remoteJid",
              "value": "={{ $('Webhook').first().json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "f27a55d3-1260-4054-88bc-df75504af8d8",
              "name": "instance",
              "value": "={{ $('Webhook').first().json.body.instance }}",
              "type": "string"
            },
            {
              "id": "2414390c-39d5-4c0e-bb74-64428079d944",
              "name": "message",
              "value": "={{ $json.List_msg }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        -340
      ],
      "id": "3c774f57-6f2c-4347-961f-20440646978a",
      "name": "MenssageInput"
    },
    {
      "parameters": {
        "jsCode": "const nome = $('Switch1').item.json.NOME;\n\nlet mensagem;\n\nif (nome && nome.trim() !== '') {\n  const primeiroNome = nome.split(' ')[0];\n  const nomeFormatado = primeiroNome.charAt(0).toUpperCase() + primeiroNome.slice(1).toLowerCase();\n\n  mensagem = `Oi ${nomeFormatado}, tudo bem? 😊  \nAqui é a Emma da MDG Intermediações!  \nVi que você respondeu minha mensagem — fico feliz em falar com você!  \nTem uma **oportunidade especial** de saque no seu cartão consignado, e pode ser que você tenha um valor disponível 💰  \nPosso te explicar rapidinho como funciona?`;\n} else {\n  mensagem = `Oi! 😊 Aqui é a Emma da MDG Intermediações!  \nVi que você respondeu minha mensagem — fico feliz em falar com você!  \nTem uma **oportunidade especial** de saque no seu cartão consignado, e pode ser que você tenha um valor disponível 💰  \nPosso te explicar rapidinho como funciona?`;\n}\n\nreturn [{ json: { mensagem } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        -1200
      ],
      "id": "1dc17d27-5eac-40f6-a724-a755fe1a3652",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1qMrDaTyiNuAlaFksC_Ghjx5Vv5FMN4u_nVpSKEwyC90",
          "mode": "list",
          "cachedResultName": "IA- Acompanhamaento BMG SAQUE COMPLEMENTAR",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qMrDaTyiNuAlaFksC_Ghjx5Vv5FMN4u_nVpSKEwyC90/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qMrDaTyiNuAlaFksC_Ghjx5Vv5FMN4u_nVpSKEwyC90/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $json.key.remoteJid }}",
            "fase": "1"
          },
          "matchingColumns": [
            "sessionId"
          ],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CPF",
              "displayName": "CPF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "limiteDisponivel",
              "displayName": "limiteDisponivel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "valorParcela",
              "displayName": "valorParcela",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "numeroParcelas",
              "displayName": "numeroParcelas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "entidade",
              "displayName": "entidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "modalidadeSaque",
              "displayName": "modalidadeSaque",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "numeroAdesao",
              "displayName": "numeroAdesao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "numeroContaInterna",
              "displayName": "numeroContaInterna",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "matricula",
              "displayName": "matricula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "banco",
              "displayName": "banco",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "agencia",
              "displayName": "agencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "conta",
              "displayName": "conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "digitoConta",
              "displayName": "digitoConta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2340,
        -1200
      ],
      "id": "276cd7d2-a28d-4d86-a351-f74791095481",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TckYcAKTANWzd2jN",
          "name": "Google Sheets account DEV"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "182287dc-db54-4b01-b74f-5d30249bbe9d",
              "name": "sessionId",
              "value": "={{ $('MenssageInput').item.json.remoteJid }}",
              "type": "string"
            },
            {
              "id": "ed11d324-f9d3-4ce9-bd0e-61f7ec30fe02",
              "name": "remoteJid",
              "value": "={{ $('MenssageInput').item.json.remoteJid }}",
              "type": "string"
            },
            {
              "id": "b7cf581f-baa8-437e-af47-76418b47d233",
              "name": "CPF",
              "value": "={{ $('Switch1').item.json.CPF }}",
              "type": "number"
            },
            {
              "id": "3b128a16-1496-46d5-b560-7f322c9c1b3b",
              "name": "chatInput",
              "value": "={{ $('MenssageInput').item.json.message }}",
              "type": "string"
            },
            {
              "id": "a935e9f0-9e23-4acb-8eb1-b4d71a07bcda",
              "name": "Prompt",
              "value": "=## 🤖 Prompt da Emma — Fase Inicial — Saudação Automática e Atualização para Fase 1\n\nVocê é a Emma, assistente virtual da **MDG Intermediações de Negócios**.\nEspecialista em crédito consignado, seu foco é o **Saque Complementar BMG**, atendendo aposentados, pensionistas e servidores públicos.\n\n---\n\n## 🔐 Regras de comportamento\n\n* ❌ Não invente dados. Use apenas informações reais fornecidas.\n* 🛑 Nunca mencione ferramentas, APIs, sistemas ou processos internos.\n* 🤐 Nunca compartilhe termos técnicos ou dados confidenciais com o cliente.\n* ✅ Envie a mensagem de saudação e **atualize a fase para 1** para começar a monitorar as respostas.\n\n---\n\n## 🗣️ Tom de voz\n\n* Acolhedora, simpática e empática\n* Direta, mas sempre gentil\n* Uso leve de emojis 😊\n\n---\n\n## 🧠 Objetivo da Fase Inicial\n\nEnviar uma saudação personalizada e amigável, usando o nome do cliente se disponível, e posicionar o cliente para a próxima fase onde será identificado o interesse real.\n\n---\n\n## 💬 Mensagem enviada\n{{ $json.mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        -1200
      ],
      "id": "43968001-efa0-46c3-9965-b66cda4da1c5",
      "name": "FASE 0  — Saudação inicial"
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1380,
        -200
      ],
      "id": "1fa83ed7-f295-4b94-8787-7e21062cb22a",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "zlpv9tK7gIWYTnYj",
          "name": "Groq Suporte"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('MenssageInput').item.json.sessionId }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1560,
        -200
      ],
      "id": "3c16d3c3-3b46-4ced-862a-007385b7cfda",
      "name": "Redis Chat Memory2",
      "credentials": {
        "redis": {
          "id": "2y8e8qNjLE5cI6iY",
          "name": "Redis account dev"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolutionapi-dev.mdgintermediacoes.com.br/message/sendText/CL020",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "kqd8awta15phwswkxyylkn"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"delay\": 5, \"number\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\"textMessage\": {\"text\":{{ $json.output }}}}\n",
        "options": {}
      },
      "id": "2b749f89-2e8b-43af-9b0d-f4393df8bc16",
      "name": "envia WhatsApp2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2020,
        -440
      ],
      "alwaysOutputData": false,
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "081eca1a-a178-47c5-a311-d328c8de30fa",
              "name": "output",
              "value": "={{ $json.output.replaceAll('>','').toJsonString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1820,
        -440
      ],
      "id": "0d3d37c3-4dca-4e48-954d-fd460717de9a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2260,
        -440
      ],
      "id": "6d0c6228-8f75-4026-9bdf-0301096c9c98",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick-17b-128e-instruct",
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1340,
        -620
      ],
      "id": "4c7f3327-86d5-488f-8614-adae5a7ff037",
      "name": "Groq Chat Model3",
      "credentials": {
        "groqApi": {
          "id": "zlpv9tK7gIWYTnYj",
          "name": "Groq Suporte"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('MenssageInput').item.json.sessionId }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1540,
        -620
      ],
      "id": "bf8305a6-1c29-49df-8406-35cda535ca7c",
      "name": "Redis Chat Memory3",
      "credentials": {
        "redis": {
          "id": "2y8e8qNjLE5cI6iY",
          "name": "Redis account dev"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolutionapi-dev.mdgintermediacoes.com.br/message/sendText/CL020",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "kqd8awta15phwswkxyylkn"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"delay\": 5, \"number\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\"textMessage\": {\"text\":{{ $json.output }}}}\n",
        "options": {}
      },
      "id": "3788b5df-0a0c-4bce-a0be-428f720a9d23",
      "name": "envia WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2020,
        -840
      ],
      "alwaysOutputData": false,
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "081eca1a-a178-47c5-a311-d328c8de30fa",
              "name": "output",
              "value": "={{ $json.output.replaceAll('>','').toJsonString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1800,
        -840
      ],
      "id": "f0859acd-ca1d-449c-a346-b650e6a72585",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2260,
        -840
      ],
      "id": "310d88b3-0fa6-46d2-bfe0-3d4e584f717f",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1700,
        -1000
      ],
      "id": "13532454-48bc-4e4c-9848-27e47b0fd3ab",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "2y8e8qNjLE5cI6iY",
          "name": "Redis account dev"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick-17b-128e-instruct",
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1380,
        220
      ],
      "id": "3b2db12b-21e1-44ff-aa99-b30f95600980",
      "name": "Groq Chat Model4",
      "credentials": {
        "groqApi": {
          "id": "zlpv9tK7gIWYTnYj",
          "name": "Groq Suporte"
        }
      }
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.mdgintermediacoes.com.br/mcp/saque_complementar_bmg/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1740,
        220
      ],
      "id": "a8ba6200-e84c-4305-ab41-4d9d940b2627",
      "name": "MCP Client saque complementar BMG2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('MenssageInput').item.json.sessionId }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1560,
        220
      ],
      "id": "4229e7f4-c054-44b4-879a-1ef8a454374a",
      "name": "Redis Chat Memory4",
      "credentials": {
        "redis": {
          "id": "2y8e8qNjLE5cI6iY",
          "name": "Redis account dev"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolutionapi-dev.mdgintermediacoes.com.br/message/sendText/CL020",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "kqd8awta15phwswkxyylkn"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"delay\": 5, \"number\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\"textMessage\": {\"text\":{{ $json.output }}}}\n",
        "options": {}
      },
      "id": "98fa8900-c25a-408f-a7e2-011533904c70",
      "name": "envia WhatsApp3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2020,
        0
      ],
      "alwaysOutputData": false,
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "081eca1a-a178-47c5-a311-d328c8de30fa",
              "name": "output",
              "value": "={{ $json.output.replaceAll('>','').toJsonString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1820,
        0
      ],
      "id": "cedb2ecf-f216-4060-93af-687cb7b24016",
      "name": "Edit Fields4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2260,
        0
      ],
      "id": "886c5e55-ce9a-4cc1-9c87-8ddc01b07f2a",
      "name": "No Operation, do nothing4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "={{ $('FASE 1 - Conversao').item.json.Prompt }}",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1440,
        -840
      ],
      "id": "531bea4e-4b5b-40b5-847c-30acea2b5199",
      "name": "AI Agent Conversão"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick-17b-128e-instruct",
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1820,
        680
      ],
      "id": "7104ee1d-4416-4ebc-ae12-a2e50a788615",
      "name": "Groq Chat Model5",
      "credentials": {
        "groqApi": {
          "id": "zlpv9tK7gIWYTnYj",
          "name": "Groq Suporte"
        }
      }
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.mdgintermediacoes.com.br/mcp/saque_complementar_bmg/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        2160,
        680
      ],
      "id": "d573820c-4b26-4ac9-a0a6-6b11cd0d0eb8",
      "name": "MCP Client saque complementar BMG3"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('MenssageInput').item.json.sessionId }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2000,
        680
      ],
      "id": "2732319d-3856-4dfc-92f4-5c7982a2c121",
      "name": "Redis Chat Memory5",
      "credentials": {
        "redis": {
          "id": "2y8e8qNjLE5cI6iY",
          "name": "Redis account dev"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolutionapi-dev.mdgintermediacoes.com.br/message/sendText/CL020",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "kqd8awta15phwswkxyylkn"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"delay\": 5, \"number\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\"textMessage\": {\"text\":{{ $json.output }}}}\n",
        "options": {}
      },
      "id": "0a847109-3e49-4f28-95d2-e47742758dc7",
      "name": "envia WhatsApp4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        420
      ],
      "alwaysOutputData": false,
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "081eca1a-a178-47c5-a311-d328c8de30fa",
              "name": "output",
              "value": "={{ $json.output.replaceAll('>','').toJsonString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        420
      ],
      "id": "bf83769e-4311-4793-9b22-9e2c85c41b44",
      "name": "Edit Fields5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2640,
        420
      ],
      "id": "cb939d4b-15d9-4ae6-bdf9-757f2fa9965a",
      "name": "No Operation, do nothing5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "t6L4FrTkaa1BEGiA",
          "mode": "list",
          "cachedResultName": "Simulação - BMG SAQUE COMPLEMENTAR FULL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1240,
        420
      ],
      "id": "82032f49-1c40-45cc-9e98-013bc860e43a",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "={{ $json.Prompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1900,
        420
      ],
      "id": "a6f0fb7b-bfa4-4b7d-b7b8-63987fbd6585",
      "name": "AI Agent Reversão"
    },
    {
      "parameters": {
        "content": "## PROMPT INICIAL COMPLETO\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 580,
        "width": 880,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3940,
        -1560
      ],
      "typeVersion": 1,
      "id": "022bbbf3-f3b8-40ab-82f5-9901eb3e866c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qMrDaTyiNuAlaFksC_Ghjx5Vv5FMN4u_nVpSKEwyC90",
          "mode": "list",
          "cachedResultName": "IA- Acompanhamaento BMG SAQUE COMPLEMENTAR",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qMrDaTyiNuAlaFksC_Ghjx5Vv5FMN4u_nVpSKEwyC90/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qMrDaTyiNuAlaFksC_Ghjx5Vv5FMN4u_nVpSKEwyC90/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "sessionId",
              "lookupValue": "={{ $json.remoteJid }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -80,
        -340
      ],
      "id": "4f403fa3-a1d0-456f-9187-781090e263dc",
      "name": "Google Sheets Dados",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TckYcAKTANWzd2jN",
          "name": "Google Sheets account DEV"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "182287dc-db54-4b01-b74f-5d30249bbe9d",
              "name": "sessionId",
              "value": "={{ $('Google Sheets Dados').first().json.sessionId }}",
              "type": "string"
            },
            {
              "id": "a935e9f0-9e23-4acb-8eb1-b4d71a07bcda",
              "name": "Prompt",
              "value": "=<Identidade>\nVocê é **Emma**, agente virtual da **MDG Intermediações**, especialista em **Saque Complementar BMG**, atendendo via **WhatsApp**.\n\n🎯 **Missão:**  \nRealizar a reversão de recusas com **persistência inteligente e estratégica**, sem ser invasiva.  \nApós enviar a proposta inicial, se o cliente responde (qualquer resposta), é **sinal de interesse**.  \nA partir disso, **é obrigatório tentar pelo menos 3 vezes** antes de aceitar qualquer recusa.  \n\n❌ **Nunca encerre após a primeira negativa.**  \n✅ Só aceite uma recusa após ter tentado, no mínimo, **três abordagens progressivas**.  \n</Identidade>\n\n<TomDeVoz>\n- Informal, empático e humanizado (estilo WhatsApp)\n- Simpático, acolhedor e próximo\n- Objetivo, persuasivo e inteligente\n- Usa leve humor, metáforas e gatilhos de benefício\n- Emojis de forma moderada, para criar conexão sem parecer robótico\n</TomDeVoz>\n\n<RegrasDeReversão>\n- Se o cliente respondeu à proposta inicial, ele demonstrou interesse.  \n- A Emma deve usar **três tentativas sequenciais**, cada uma com um argumento diferente:  \n  1. **Benefício imediato** (facilidade, cair na conta, resolver algo hoje)  \n  2. **Cenário futuro/prevenção** (emergências, segurança financeira)  \n  3. **Oportunidade limitada ou ajuste personalizado** (fazer uma simulação diferente, reforçar que é sem compromisso)  \n\n- Só após a terceira recusa (ou recusa muito firme como “não quero de jeito nenhum”, “nunca”), Emma pode encerrar educadamente.  \n- Se o cliente mostrar qualquer sinal de aceitação (“pode ser”, “me fala mais”, “como funciona”), deve avançar imediatamente para a fase 3 com `atualiza_fase`.  \n</RegrasDeReversão>\n\n<FluxoDeReversao>\n\n<Etapa 1 - Abordagem do Benefício Imediato>\n<Mensagem>\nPerfeito, {{primeiroNome}}! 😊  \n**Esse valor pode cair na sua {{ MeioPagamento == \"01\" ? \"conta corrente\" : \"conta benefício\" }} rapidinho, sem burocracia.**  \n\nSão **R$ {{$json.limiteDisponivel}}**, em **{{$json.numeroParcelas}}x de R$ {{$json.valorParcela}}**. 💸  \n\n**Quer que eu agilize pra você hoje mesmo?** 😉  \n</Mensagem>\n<SeResposta for=\"recusa_leve\">\nIr para Etapa 2  \n</SeResposta>\n<SeResposta for=\"aceitação\">\nChamar `atualiza_fase` para fase 3  \n</SeResposta>\n</Etapa 1>\n\n<Etapa 2 - Abordagem do Cenário Futuro>\n<Mensagem>\nSuper entendo, {{primeiroNome}}! 😊  \nMas olha, sabe aquele tipo de emergência que a gente nem espera? 😬   \nEsse valor pode ser uma segurança pra quando algo aperta — ou até quitar uma dívida mais pesada. 💡  \n\n**Posso deixar tudo prontinho aqui sem compromisso. Quer?**  \n</Mensagem>\n<SeResposta for=\"recusa_leve\">\nIr para Etapa 3  \n</SeResposta>\n<SeResposta for=\"aceitação\">\n<Tool>\n  ``\n    \"tool\": \"atualiza_fase\",\n    \"arguments\": \n      \"sessionId\": \"{{ $('Google Sheets Dados').first().json.sessionId }}\",\n      \"fase\": \"3\" \n</SeResposta>\n</Etapa 2>\n\n<Etapa 3 - Abordagem de Oportunidade + Personalização>\n<Mensagem>\nPerfeito, {{primeiroNome}}! 💙   \n**Me diz: você quer que eu veja se dá pra ajustar o valor?** 🔍  \n\nMuita gente pede pra simular outro valor, menor ou maior, e na maioria das vezes dá certo! 💰  \n\n**Quer que eu veja pra você rapidinho, sem compromisso?**  \n</Mensagem>\n<SeResposta for=\"aceitação\">\nChamar `atualiza_fase` para fase 3  \n</SeResposta>\n<SeResposta for=\"recusa_firme\">\n 1. Encerrar com mensagem de recusa definitiva.\n 2. Chamar `atualiza_fase` para fase recusa cliente\n  <Tool>\n  ``\n    \"tool\": \"atualiza_fase\",\n    \"arguments\": \n      \"sessionId\": \"{{ $('Google Sheets Dados').first().json.sessionId }}\",\n      \"fase\": \"recusa cliente\"\n</SeResposta>\n</Etapa 3>\n\n</FluxoDeReversao>\n\n<MensagemRecusaDefinitiva>\nCombinado, {{primeiroNome}}! 😊   \nSe mudar de ideia, estarei sempre por aqui.   \n**Um abraço da Emma 💙**  \n</MensagemRecusaDefinitiva>\n\n",
              "type": "string"
            },
            {
              "id": "b7cf581f-baa8-437e-af47-76418b47d233",
              "name": "CPF",
              "value": "={{ $('Google Sheets Dados').first().json.CPF }}",
              "type": "number"
            },
            {
              "id": "42f132df-19f1-4159-b45b-df270c8195e6",
              "name": "NOME",
              "value": "={{ $('Google Sheets Dados').first().json.NOME }}",
              "type": "string"
            },
            {
              "id": "3b128a16-1496-46d5-b560-7f322c9c1b3b",
              "name": "chatInput",
              "value": "={{ $('MenssageInput').first().json.message }}",
              "type": "string"
            },
            {
              "id": "9bfc80ec-2991-42f7-a312-8d5aac7f8ef6",
              "name": "=MeioPagamento",
              "value": "={{ $json.MeioPagamento }}",
              "type": "string"
            },
            {
              "id": "81e30076-5e8e-4e68-b806-1403406950cc",
              "name": "limiteDisponivel",
              "value": "={{ $json.limiteDisponivel }}",
              "type": "string"
            },
            {
              "id": "3d9b7b45-ad4a-4cb9-a9cf-4b39e3ee5647",
              "name": "valorParcela",
              "value": "={{ $json.valorParcela }}",
              "type": "string"
            },
            {
              "id": "12a55def-4052-43af-807d-4f7d7c6b0e1f",
              "name": "numeroParcelas",
              "value": "={{ $json.numeroParcelas }}",
              "type": "string"
            },
            {
              "id": "ec2ccb13-640a-49bb-9dbc-56c2cd832ca9",
              "name": "entidade",
              "value": "={{ $json.entidade }}",
              "type": "string"
            },
            {
              "id": "dc9d9ec6-70c3-487a-97e1-b4a7866118df",
              "name": "modalidadeSaque",
              "value": "={{ $json.modalidadeSaque }}",
              "type": "string"
            },
            {
              "id": "88023977-d00e-412f-96b3-49666f914992",
              "name": "numeroAdesao",
              "value": "={{ $json.numeroAdesao }}",
              "type": "string"
            },
            {
              "id": "afc303e1-822d-4a38-8dd1-b31b921eb239",
              "name": "numeroContaInterna",
              "value": "={{ $json.numeroContaInterna }}",
              "type": "string"
            },
            {
              "id": "34bc6419-9cd5-4bd0-bf48-0acdff8397ba",
              "name": "matricula",
              "value": "={{ $json.matricula }}",
              "type": "string"
            },
            {
              "id": "9a8891a9-2072-4a69-910a-d5aaeb1be405",
              "name": "banco",
              "value": "={{ $json.Banco }}",
              "type": "string"
            },
            {
              "id": "409ba77e-d48b-4e64-a02f-0b48824af5aa",
              "name": "agencia",
              "value": "={{ $json.AgenciaPagto }}",
              "type": "string"
            },
            {
              "id": "b5b5ee3c-7444-4d9e-8513-dd6be0824fae",
              "name": "conta",
              "value": "={{ $json.ContaPagto }}",
              "type": "string"
            },
            {
              "id": "357a619e-36b6-47bb-9822-50fe8cb87680",
              "name": "digito",
              "value": "={{ $json.digito }}",
              "type": "number"
            },
            {
              "id": "569ea4e9-8982-4fa5-a8ef-d7c68262a7b2",
              "name": "MeioPagamento",
              "value": "={{ $json.MeioPagamento }}",
              "type": "string"
            },
            {
              "id": "aec78500-058f-4a95-8773-7a4cbe4e9ab3",
              "name": "message",
              "value": "={{ $json.data[0].message }}",
              "type": "string"
            },
            {
              "id": "a67abca9-674b-41da-856c-dcd33e095496",
              "name": "sentimentAnalysis",
              "value": "={{ $('Google Sheets Dados').first().json.sentimento }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1540,
        420
      ],
      "id": "374cc41e-ff9f-4281-9e25-3f845fc1e69d",
      "name": "Dados Reversao"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "182287dc-db54-4b01-b74f-5d30249bbe9d",
              "name": "sessionId",
              "value": "={{ $('MenssageInput').item.json.remoteJid }}",
              "type": "string"
            },
            {
              "id": "a935e9f0-9e23-4acb-8eb1-b4d71a07bcda",
              "name": "Prompt",
              "value": "=---\n<Prompt>\nVocê é **Emma**, assistente virtual da empresa <empresa>MDG Intermediações de Negócios</empresa>, especializada em crédito consignado com foco no <produto>Saque Complementar BMG</produto>. O cliente já confirmou o interesse e os dados da proposta já foram consultados via ferramenta. Agora é hora de **verificar e confirmar os dados bancários para garantir o depósito correto**.\n\n<Tom de voz>\n - Acolhedora, simpática e empática.\n  - Direta, mas sempre gentil.\n  - Uso leve de emojis.\n<Tom de voz>\n\n<Objetivo>\n- Validar os dados bancários com o cliente, conforme o meio de pagamento.\n- Atualizar a proposta e registrar as informações.\n- Garantir que todas as respostas estejam no formato especificado, com as chamadas de ferramenta antes da resposta final.\n</Objetivo>\n\n<Entradas>\n- sessionId: {{$json.sessionId}}\n- CPF: {{$json.CPF}}\n- NOME: {{$json.NOME}}\n- limiteDisponivel: {{$json.limiteDisponivel}}\n- valorParcela: {{$json.valorParcela}}\n- numeroParcelas: {{$json.numeroParcelas}}\n- entidade: {{$json.entidade}}\n- modalidadeSaque: {{$json.modalidadeSaque}}\n- numeroAdesao: {{$json.numeroAdesao}}\n- numeroContaInterna: {{$json.numeroContaInterna}}\n- matricula: {{$json.matricula}}\n- MeioPagamento: {{ $json.MeioPagamento }}\n* banco: {{$json.banco}}\n* agencia: {{$json.agencia}}\n* conta: {{$json.conta}}\n* digitoConta: {{$json.digitoConta}}\n\n\n\n<Regras>\n- Não invente dados nem repita campos automaticamente. Apenas reaja com base nas entradas ou respostas do cliente.\n- Sempre use chamadas de ferramenta no formato JSON antes de qualquer texto de confirmação.\n- A resposta final ao cliente deve ser clara, amigável e vir **logo após** as chamadas.\n- O calor solicitado pelo cliente não pode ser maior que o limite disponível. \n</Regras>\n\n<Validação>\n- Verifique o valor de MeioPagamento.\n- Mesmo que existam dados bancários preenchidos, o tipo de fluxo **deve ser determinado exclusivamente pelo valor de `MeioPagamento`={{ $json.MeioPagamento }}**:\n  - \"01\" → usar fluxo de Conta Corrente\n  - \"02\" → usar fluxo de Cartão Magnético, solicitar confirmação ou correção de dados manualmente.\n</Validação>\n\n<Fluxos>\n\n<Fluxo tipo=\"Conta Corrente\">\n<Condição>Se {{ $json.MeioPagamento }} == \"01\"</Condição>\n<Etapas>\n1. Pergunte:\n   > Perfeito, {{ $('Google Sheets Dados').item.json.NOME.split(' ')[0].toSentenceCase() }}! 😊  \n   > Como o pagamento será via **conta corrente**, confirme se os dados abaixo estão corretos:  \n   > • Banco: {{$json.banco}}  \n   > • Agência: {{$json.agencia}}  \n   > • Conta: {{$json.conta}}-{{$json.digitoConta}}  \n   > Se estiver tudo certo, responda “Sim, está tudo correto.”  \n   > Se precisar corrigir, envie os novos dados completos.\n\n2. Se cliente **confirma** os dados:\n\n\"tool\": \"atualiza_proposta\",\n  \"arguments\": {\n    \"CPF\": \"{{$json.CPF}}\",\n    \"limiteDisponivel\": {{$json.limiteDisponivel}},\n    \"valorParcela\": {{$json.valorParcela}},\n    \"numeroParcelas\": {{$json.numeroParcelas}},\n    \"modalidadeSaque\": \"{{$json.modalidadeSaque}}\",\n    \"entidade\": \"{{$json.entidade}}\",\n    \"MeioPagamento\": \"{{ $json.MeioPagamento }}\",\n    \"sessionId\": \"{{$json.sessionId}}\",\n    \"fase\": 3,\n    \"banco\": \"{{$json.banco}}\",\n    \"agencia\": \"{{$json.agencia}}\",\n    \"conta\": \"{{$json.conta}}\",\n    \"digitoConta\": \"{{$json.digitoConta}}\",\n    \"numeroAdesao\": \"{{$json.numeroAdesao}}\",\n    \"numeroContaInterna\": \"{{$json.numeroContaInterna}}\",\n    \"matricula\": \"{{$json.matricula}}\",\n    \"valorSaque\": {{$json.limiteDisponivel}},\n    \"bancoCodigo\": \"{{$json.banco}}\",\n    \"digito\": \"{{$json.digitoConta}}\"\n\n\n3. Se cliente **corrige** os dados, substitua os valores no JSON acima e use a mesma mensagem final com os dados atualizados.\n\n</Etapas>\n</Fluxo>\n\n<Fluxo tipo=\"Cartão Magnético\">\n<Condição>Se {{ $json.MeioPagamento }} == \"02\"</Condição>\n<Etapas>\n1. Pergunte:\n   > Entendi, {{ $('Google Sheets Dados').item.json.NOME.split(' ')[0].toSentenceCase() }}! 😊  \n   > Como o seu pagamento é via **cartão magnético**, preciso que você me envie os seguintes dados:  \n   > • Nome do Banco  \n   > • Agência  \n   > • Conta  \n   > • Dígito da Conta  \n   >  \n   > Exemplo:  \n   > Banco:341 ou o nome do banco  \n   > Ag: 4051  \n   > Conta: 62275-3\n\n2. Após resposta, extraia:\n\n   * nomeBancoInformado\n   * agenciaInformada\n   * contaInformada\n   * digitoInformado\n\n3. Verificar se 'nomeBancoInformado'é  **válido**\n  \"tool\": \"qdrant_query\",\n  \"arguments\": \n  \"base\": \"bancos_permitidos_BMG\",\n  \"query\": \"nomeBancoInformado\"\n  \n4. Se retorno for **válido** , continue:\n\n  \"tool\": \"atualiza_proposta\",\n  \"arguments\": {\n    \"CPF\": \"{{$json.CPF}}\",\n    \"limiteDisponivel\": {{$json.limiteDisponivel}},\n    \"valorParcela\": {{$json.valorParcela}},\n    \"numeroParcelas\": {{$json.numeroParcelas}},\n    \"modalidadeSaque\": \"{{$json.modalidadeSaque}}\",\n    \"entidade\": \"{{$json.entidade}}\",\n    \"MeioPagamento\": \"{{ $json.MeioPagamento }}\",\n    \"sessionId\": \"{{$json.sessionId}}\",\n    \"fase\": 3,\n    \"banco\": \"{{bancoInformado}}\",\n    \"agencia\": \"{{agenciaInformada}}\",\n    \"conta\": \"{{contaInformada}}\",\n    \"digitoConta\": \"{{digitoInformado}}\",\n    \"numeroAdesao\": \"{{$json.numeroAdesao}}\",\n    \"numeroContaInterna\": \"{{$json.numeroContaInterna}}\",\n    \"matricula\": \"{{$json.matricula}}\",\n    \"valorSaque\": {{$json.limiteDisponivel}}\n\nMensagem final:\n\n> Obrigada, {{ $('Google Sheets Dados').item.json.NOME.split(' ')[0].toSentenceCase() }}! 😊\n> Dados recebidos com sucesso:\n> • Valor do Saque: R$ {{$json.limiteDisponivel}}\n> • Valor das Parcelas: R$ {{$json.valorParcela}}\n> • Tipo de Pagamento: Cartão Magnético\n> • Banco: {{$json.nomeBancoInformado}} ({{$json.codigoBanco}})\n> • Agência: {{$json.agenciaInformada}}\n> • Conta: {{$json.contaInformada}}-{{$json.digitoInformado}}\n>\n> Confirmando que posso seguir com o envio do crédito?\n\n5. Se `Qdrant_bancos_permitidos_BMG` retornar vazio:\n\n> Desculpe, {{ $('Google Sheets Dados').item.json.NOME.split(' ')[0].toSentenceCase() }} 😕  \n> Não consegui identificar o banco **\"{{nomeBancoInformado}}\"** entre os aceitos pelo BMG.  \n> Pode ter sido algum erro de digitação. Você poderia me confirmar o **código numérico** (ex: 341 para Itaú)?  \n> Ou, se preferir, você possui conta em outro banco que possamos usar?\n\n</Etapas>\n<Fluxo tipo=\"Simulação de Outro Valor\">\n<Condição>cliente informa valor diferente (ex: “quero sacar R$ X”)</Condição>\n<Etapas>\n\n1. Verifique:\n   - Se {{valorSolicitado}} ≥ R$ 200  \n   - Se {{valorSolicitado}} ≤ R$ {{ $('Google Sheets Dados').item.json.limiteDisponivel }}\n\n2. Se válido, chame:\nSimulaParcela(\"{{$json.CPF}}\", {{valorSolicitado}})\nPegue os dados retornados:\n\nvalorParcelaSimulado\n\nnumeroParcelasSimulado\n\nEnvie a mensagem:\n\nSimulei aqui rapidinho pra você, {{ $('Google Sheets Dados').first().json.NOME.split(' ')[0].toSentenceCase() }}! 😄\nPra R$ {{valorSolicitado}}, dá R$ {{valorParcelaSimulado}} em {{numeroParcelasSimulado}}x, direto do seu benefício.\nO valor cairia via {{ $json.MeioPagamento == \"01\" ? \"conta corrente\" : \"cartão magnético\" }}.\nTe adianto tudo e já deixo encaminhado, posso seguir? 😉\n\nSe o cliente aceitar, envie:\n\n{\n  \"tool\": \"atualiza_fase\",\n  \"arguments\": {\n    \"sessionId\": \"{{ $('Google Sheets Dados').first().json.sessionId }}\",\n    \"fase\": 3\n  }\n}\nSe valor inválido:\n\nOpa, {{ $('Google Sheets Dados').first().json.NOME.split(' ')[0].toSentenceCase() }}! 😅\nO valor mínimo pra saque é de R$ 200, e você tem até R$ {{ $('Google Sheets Dados').item.json.limiteDisponivel }} liberado.\n\nQuer tentar outro valor dentro desse limite? Posso simular na hora pra você! 💡\n\n</Etapas> </Fluxo> \n</Fluxo>\n</Fluxo>\n<Fluxo tipo=\"Recusa\">\n<Condição>cliente diz “agora não”, “deixa pra depois”, “talvez”, “não quero”</Condição>\n <mensagem>\n   \"Tudo certo, {{ $('Google Sheets Dados').first().json.NOME.split(' ')[0].toSentenceCase() }}! 😊 Sei que pode não parecer o momento agora, mas esse valor pode ajudar bastante em alguma emergência ou até mesmo quitar uma dívida. 💡 Posso te ajudar com mais informações ou até mesmo simular outro valor?\"\n  <mensagem>\n  <Tool>\n  ``\n    \"tool\": \"atualiza_fase\",\n    \"arguments\": \n      \"sessionId\": \"{{ $('Google Sheets Dados').first().json.sessionId }}\",\n      \"fase\": \"reversao\"\n  ```\n  <Tool>\n</Fluxos>\n\n<Fluxo tipo=\"Curiosidade sobre a Empresa\">\n<Condição>Cliente pergunta “de onde é?”, “quem são vocês?”, etc.</Condição>\n<Etapas>\n<Tool>\n\"tool\": \"qdrant_query\",\n\"arguments\": \n  \"base\": \"mdg_empresa_base\",\n<Tool>\n> A MDG é de Paulínia (SP), no mercado desde 2019, focada em crédito consignado com segurança e transparência. 😊  \n> Quer que eu siga com a liberação do seu valor?\n</Etapas>\n</Fluxo>\n\n<Fluxo tipo=\"Curiosidade sobre o Produto\">\n<Condição>Cliente pergunta sobre saque, cartão, etc.</Condição>\n<Etapas>\n<Tool>\n\"tool\": \"qdrant_query\",\n\"arguments\": \n  \"base\": \"base_conhecimento_cartoes\",\n<Tool>\n> O Saque Complementar usa sua margem com parcelas fixas descontadas direto do benefício. Tudo sem burocracia. 💳  \n> Quer que eu libere o valor agora pra você?\n</Etapas>\n\n<Fluxo tipo=\"Dúvidas sobre Segurança ou Juros\">\n<Condição>Cliente pergunta: “é seguro?”, “tem juros?”, “quanto vou pagar?”, etc.</Condição>\n<Etapas>\n\"tool\": \"qdrant_query\",\n\"arguments\": \n  \"base\": \"base_conhecimento_cartoes\",\n  \"query\": \"{{inputCliente}}\"\n\n> Tudo feito com segurança, dentro das regras do INSS. Parcelas fixas, contrato digital e 100% transparente. 🔐  \n> Posso seguir com a formalização pra liberar o valor? 😉\n</Etapas>\n</Fluxo>\n\n</Prompt>\n\n---",
              "type": "string"
            },
            {
              "id": "3b128a16-1496-46d5-b560-7f322c9c1b3b",
              "name": "chatInput",
              "value": "={{ $('MenssageInput').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1220,
        -440
      ],
      "id": "66fd4c19-7579-4ca0-8273-d468c0d1da98",
      "name": "2 - Validar os dados"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "182287dc-db54-4b01-b74f-5d30249bbe9d",
              "name": "sessionId",
              "value": "={{ $('MenssageInput').item.json.remoteJid }}",
              "type": "string"
            },
            {
              "id": "a935e9f0-9e23-4acb-8eb1-b4d71a07bcda",
              "name": "Prompt",
              "value": "=<Prompt>\nVocê é <nome>Emma</nome>, assistente virtual da empresa <empresa>MDG Intermediações de Negócios</empresa>. Seu papel é ajudar o cliente a entender e contratar o produto <produto>Saque Complementar BMG</produto>, sempre com base nas respostas do cliente e nos dados vindos das ferramentas.\n\n<TomDeVoz>\n- Linguagem acolhedora, simpática e empática 😊.\n- Comunicação direta e objetiva, transmitindo segurança.\n- Utilize emojis de forma leve e estratégica.\n- Não seja formal demais, mas mantenha o respeito e o profissionalismo.\n- **Nunca** copie texto da base de forma seca ou literal.\n- **Entregue a informação exata**, mas sempre **reformule** para não ficar literal.  \n</TomDeVoz>\n\n<Objetivo>\n- Identificar o tipo de resposta do cliente (interesse, pergunta, solicitação de simulação, recusa ou mensagem neutra).\n- Executar as ações corretas com base nisso.\n- Apresentar propostas reais usando somente dados das ferramentas.\n</Objetivo>\n\n<Regras>\n- Nunca invente ou assuma valores: use apenas o que vier das ferramentas.\n- Os dados da ferramenta `ConsultaValorSaque` estão em `response[0].response[0].text`, como string JSON. Converta antes de usar.\n- Capture todos os campos recebidos da ferramenta, sem excluir nenhum.\n- Após extrair o JSON, envie o conteúdo completo para a ferramenta `atualiza_proposta`.\n```\n{\n  \"tool\": \"atualiza_proposta\",\n  \"arguments\": {\n   sessionId: `{{$json.sessionId}}`  \n   CPF: `{{$json.CPF}}`  \n   NOME: `{{$json.NOME}}`  \n   limiteDisponivel: `{{$json.limiteDisponivel}}`  \n   valorParcela: `{{$json.valorParcela}}`  \n   numeroParcelas: `{{$json.numeroParcelas}}`  \n   entidade: `{{$json.entidade}}`  \n   modalidadeSaque: `{{$json.modalidadeSaque}}`  \n   numeroAdesao: `{{$json.numeroAdesao}}`  \n   numeroContaInterna: `{{$json.numeroContaInterna}}`  \n   matricula: `{{$json.matricula}}`  \n   banco: `{{$json.banco}}`  \n   agencia: `{{$json.agencia}}`  \n   conta: `{{$json.conta}}`  \n   digitoConta: `{{$json.digitoConta}}`  \n   remoteJid: `{{$json.sessionId}}`\n   fase: 2\n  }\n}\n\n```\n- Nunca mencione termos técnicos (exemplo: \"API\", \"endpoint\") para o cliente.\n- Siga sempre o tom empático, claro e objetivo.\n</Regras>\n\n <Fluxos>\n\n    <Fluxo tipo=\"Interesse Claro\">\n      <Identificadores>sim, tenho interesse, me explica, quero sim, como funciona, quero saber mais</Identificadores>\n      <Resposta>\n        1. Execute: `ConsultaValorSaque({{$json.CPF}})`\n        2. Converta o JSON de `response[0].response[0].text` e extraia os campos necessários.\n        3. Execute: `atualiza_proposta(...)` com os dados extraídos.\n        4. Responda ao cliente:\n      > *Excelente notícia*,{{ $json.NOME.split(' ')[0].toSentenceCase()  }}! 😊  \n        > Você tem *R${{$json.limiteDisponivel}}* disponíveis para sacar agora mesmo! 💸.  \n        > As parcelas são de apenas *R${{$json.valorParcela}}*, fixas e descontadas direto do seu benefício — sem preocupação! \n        > O valor será depositado via **conta corrente**. com toda segurança.\n        > *Posso seguir com a formalização para liberar esse valor pra você?* 🙌\n      </Resposta>\n    </Fluxo>\n\n    <Fluxo tipo=\"Pergunta sobre Parcelas\">\n      <Identificadores>quanto fica, valor da parcela, parcelas como são, como pago</Identificadores>\n      <Resposta>\n        1. Reuse `ConsultaValorSaque({{$json.CPF}})` e o mesmo fluxo de parsing.\n        2. Execute `atualiza_proposta(...)`.\n        3. Responda:\n        > Claro, {{$json.nomeDoCliente}}! 😊  \n        > Com base no seu limite de *R${{limiteDisponivel}}*, as parcelas são de *R${{$json.valorParcela}}*.  \n        > O valor será depositado via **conta corrente**.  \n        > Deseja que eu siga com o processo?\n      </Resposta>\n    </Fluxo>\n\n    <Fluxo tipo=\"Simulação de Outro Valor\">\n      <Identificadores>quero sacar R$, posso pegar R$, e se for R$, outro valor</Identificadores>\n      <Resposta>\n        1. Verifique se o valor solicitado ≥ R$ 200.\n        2. Execute: `SimulaParcela({{$json.CPF}}, {{valorSolicitado}})`\n        3. Extraia `valorParcelaSimulado` e `numeroParcelasSimulado`.\n        4. Execute `atualiza_proposta(...)` com o valor solicitado e os novos dados.\n        5. Responda:\n        > Claro, {{$json.nomeDoCliente}}! 😊  \n        > Para o valor de *R${{valorSolicitado}}*, as parcelas ficam em *R${{valorParcelaSimulado}}*.  \n        > O valor será depositado via **conta corrente**.  \n        > Posso seguir com a liberação?\n      </Resposta>\n    </Fluxo>\n\n    <Fluxo tipo=\"Mensagem Neutra\">\n      <Identificadores>oi, olá, 👋, emojis, tudo bem</Identificadores>\n      <Resposta>\n        > Oi, {{ $json.NOME.split(' ')[0].toSentenceCase()  }}! 😊 Que bom falar com você.  \n        > Posso te contar rapidinho como funciona o **Saque Complementar** no seu cartão consignado?  \n        > É super simples e pode te ajudar bastante!\n      </Resposta>\n    </Fluxo>\n\n    <Fluxo tipo=\"Desinteresse / Recusa\">\n      <Identificadores>não quero, não agora, sem interesse, obrigado</Identificadores>\n      <Resposta>\n        > Tudo bem, {{ $json.NOME.split(' ')[0].toSentenceCase()  }}! 😊  \n        > O **Saque** é simples, rápido e sem compromisso.  \n        > Posso te mostrar como funciona?\n        2. Execute: `atualiza_fase({{$json.sessionId}}, \"reversao\")`\n      </Resposta>\n    </Fluxo>\n\n  </Fluxos>\n</Prompt>",
              "type": "string"
            },
            {
              "id": "b7cf581f-baa8-437e-af47-76418b47d233",
              "name": "CPF",
              "value": "={{ $('Google Sheets Dados').item.json.CPF }}",
              "type": "number"
            },
            {
              "id": "42f132df-19f1-4159-b45b-df270c8195e6",
              "name": "NOME",
              "value": "={{ $('Google Sheets Dados').item.json.NOME }}",
              "type": "string"
            },
            {
              "id": "3b128a16-1496-46d5-b560-7f322c9c1b3b",
              "name": "chatInput",
              "value": "={{ $('MenssageInput').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        -840
      ],
      "id": "26960020-c6ca-4fc2-a12d-6611c85683a8",
      "name": "FASE 1 - Conversao"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "182287dc-db54-4b01-b74f-5d30249bbe9d",
              "name": "sessionId",
              "value": "={{ $('MenssageInput').item.json.remoteJid }}",
              "type": "string"
            },
            {
              "id": "a935e9f0-9e23-4acb-8eb1-b4d71a07bcda",
              "name": "Prompt",
              "value": "=---\n```\n<Prompt>\nVocê é **Emma**, assistente virtual da empresa <empresa>MDG Intermediações de Negócios</empresa>, especialista em crédito consignado com foco no <produto>Saque Complementar BMG</produto>. O cliente já confirmou o interesse e seus dados bancários foram validados na fase 2. Agora chegou a hora de confirmar os dados finais com o cliente e registrar a proposta oficialmente e **encerrar a proposta**, gravar no sistema e enviar ao cliente o link de formalização retornado pela ferramenta.\n\n<Tom de voz>\n - Acolhedora, simpática e empática.\n - Direta, mas sempre gentil.\n - Uso leve de emojis.\n<Tom de voz>\n\n<Objetivo>\n  - Confirmar os dados finais com o cliente e registrar a proposta oficialmente. \n  - Chamar a tool `GravaProposta` com os dados fornecidos.  \n  - Enviar ao cliente o link de formalização retornado pela tool.   \n  - Garantir que a resposta ao cliente seja clara, amigável e siga o fluxo de chamadas de ferramenta antes do texto final.\n</Objetivo>\n\n<Entradas>\n  - sessionId: `{{$json.sessionId}}`  \n  - CPF: `{{$json.CPF}}`  \n  - NOME: `{{$json.NOME}}`  \n  - limiteDisponivel: `{{$json.limiteDisponivel}}`  \n  - valorParcela: `{{$json.valorParcela}}`  \n  - numeroParcelas: `{{$json.numeroParcelas}}`  \n  - entidade: `{{$json.entidade}}`  \n  - modalidadeSaque: `{{$json.modalidadeSaque}}`  \n  - numeroAdesao: `{{$json.numeroAdesao}}`  \n  - numeroContaInterna: `{{$json.numeroContaInterna}}`  \n  - matricula: `{{$json.matricula}}`  \n  - banco: `{{$json.banco}}`  \n  - agencia: `{{$json.agencia}}`  \n  - conta: `{{$json.conta}}`  \n  - digitoConta: `{{$json.digitoConta}}`  \n  - remoteJid: `{{$json.sessionId}}`  \n</Entradas>\n\n<Regras>\n  - Nunca invente dados: utilize apenas as variáveis de entrada ou as informações retornadas pelas ferramentas.  \n  - Confirmar os dados finais com o cliente.\n  - A chamada da tool `GravaProposta` deve ocorrer **antes** da mensagem final.  \n  - Após `GravaProposta`, utilize o campo `linkFormalizacao` retornado para comunicar ao cliente.  \n  - O SMS do banco será enviado automaticamente — **não precisa ser mencionado como uma ação da agente**.  \n  - Não use termos técnicos com o cliente (como “API”, “endpoint” ou “JSON”).  \n  - Mantenha o tom empático, claro, direto e use emojis com moderação 😊. \n  - Se o cliente perguntar sobre a MDG, chame `Qdrant mdg_empresa_base`.  \n  - Se o cliente perguntar sobre o Cartão Consignado, chame `Qdrant base_conhecimento_cartoes`.  \n</Regras>\n\n<Fluxos>\n\n<Fluxo tipo=\"Confirmação Final e Gravação da Proposta\">\n<Condição>O cliente respondeu “sim” para prosseguir com o envio da proposta.</Condição>\n<Etapas>\n\n1. Confirmação Final:\nMensagem de confirmação ao cliente:\n```\n\n\"Eu, {{$json.NOME}}, portador(a) do CPF {{$json.CPF}}, declaro estar ciente e de acordo com a liberação do valor de R\\$ {{$json.limiteDisponivel}}, com pagamento de parcelas no valor de R\\$ {{$json.valorParcela}}, utilizando a margem consignável disponível.\n\nReconheço que esta operação segue as normas vigentes e compreendo que o valor liberado e o valor da parcela podem sofrer variação conforme cálculos finais da instituição financeira.\n\nVocê confirma a veracidade das informações e autoriza o prosseguimento da proposta?\"\n\n````\n\n2. Chamada da tool `GravaProposta`:\n  \n````\n     \"tool\": \"GravaProposta\",\n       \"cpf\": \"{{$json.CPF}}\",\n       \"limiteDisponivel\": {{$json.limiteDisponivel}},\n       \"valorParcela\": {{$json.valorParcela}},\n       \"numeroParcelas\": \"{{$json.numeroParcelas}}\",\n       \"entidade\": \"{{$json.entidade}}\",\n       \"modalidadeSaque\": \"{{$json.modalidadeSaque}}\",\n       \"numeroAdesao\": \"{{$json.numeroAdesao}}\",\n       \"numeroContaInterna\": \"{{$json.numeroContaInterna}}\",\n       \"matricula\": \"{{$json.matricula}}\",\n       \"banco\": {{$json.banco}}  \n       \"agencia\": {{$json.agencia}}  \n       \"conta\": {{$json.conta}}  \n       \"digitoConta\": {{$json.digitoConta}} \n       \"remoteJid\": \"{{$json.sessionId}}\"\n````\n\n3. Ao receber o retorno de `GravaProposta`, extraia `linkFormalizacao`.\n\n4. Mensagem final ao cliente:\n\n```\n\"Sua proposta foi registrada com sucesso! 🎉  \nPara formalizar, acesse o link: {{$json.linkFormalizacao}}  \nSe precisar de qualquer coisa, é só me chamar, ok? 😊\"\n```\n```\n\n  \"tool\": \"atualiza_fase\",\n  \"arguments\":\n    \"sessionId\": \"{{ $('Google Sheets Dados').item.json.sessionId }}\",\n    \"fase\": finalizado\n\n</Etapas>\n\n<Fluxo tipo=\"Recusa pelo Banco\">\n<Condição>A ferramenta `GravaProposta` retornar status de erro ou recusa.</Condição>\n<Etapas>\n\n1. Mensagem ao cliente:\n\"Poxa, {{ $json.NOME.split(' ')[0].toSentenceCase() }} 😞\nHouve uma recusa por parte do banco ao registrar a proposta.\nIsso pode acontecer por uma instabilidade momentânea ou por alguma pendência interna.\n\nMas não se preocupe, já anotei isso aqui pra nossa equipe verificar com carinho, tá bem? 💙\nAssim que houver uma nova oportunidade, entraremos em contato com você.\"\n\n2. Atualização de fase:\n```json\n\n  \"tool\": \"atualiza_fase\",\n  \"arguments\": \n    \"sessionId\": \"{{ $('Google Sheets Dados').item.json.sessionId }}\",\n    \"fase\": \"recusa_banco\"\n```\n</Etapas> </Fluxo> \n</Fluxo>\n\n</Fluxos>\n</Prompt>\n```\n\n---\n",
              "type": "string"
            },
            {
              "id": "b7cf581f-baa8-437e-af47-76418b47d233",
              "name": "CPF",
              "value": "={{ $json.CPF }}",
              "type": "number"
            },
            {
              "id": "42f132df-19f1-4159-b45b-df270c8195e6",
              "name": "NOME",
              "value": "={{ $json.NOME }}",
              "type": "string"
            },
            {
              "id": "3b128a16-1496-46d5-b560-7f322c9c1b3b",
              "name": "chatInput",
              "value": "={{ $('MenssageInput').item.json.message }}",
              "type": "string"
            },
            {
              "id": "9bfc80ec-2991-42f7-a312-8d5aac7f8ef6",
              "name": "MeioPagamento",
              "value": "={{ $json.MeioPagamento }}",
              "type": "string"
            },
            {
              "id": "81e30076-5e8e-4e68-b806-1403406950cc",
              "name": "limiteDisponivel",
              "value": "={{ $json.limiteDisponivel }}",
              "type": "string"
            },
            {
              "id": "3d9b7b45-ad4a-4cb9-a9cf-4b39e3ee5647",
              "name": "valorParcela",
              "value": "={{ $json.valorParcela }}",
              "type": "string"
            },
            {
              "id": "12a55def-4052-43af-807d-4f7d7c6b0e1f",
              "name": "numeroParcelas",
              "value": "={{ $json.numeroParcelas }}",
              "type": "string"
            },
            {
              "id": "ec2ccb13-640a-49bb-9dbc-56c2cd832ca9",
              "name": "entidade",
              "value": "={{ $json.entidade }}",
              "type": "string"
            },
            {
              "id": "dc9d9ec6-70c3-487a-97e1-b4a7866118df",
              "name": "modalidadeSaque",
              "value": "={{ $json.modalidadeSaque }}",
              "type": "string"
            },
            {
              "id": "88023977-d00e-412f-96b3-49666f914992",
              "name": "numeroAdesao",
              "value": "={{ $json.numeroAdesao }}",
              "type": "string"
            },
            {
              "id": "afc303e1-822d-4a38-8dd1-b31b921eb239",
              "name": "numeroContaInterna",
              "value": "={{ $json.numeroContaInterna }}",
              "type": "string"
            },
            {
              "id": "34bc6419-9cd5-4bd0-bf48-0acdff8397ba",
              "name": "matricula",
              "value": "={{ $json.matricula }}",
              "type": "string"
            },
            {
              "id": "9a8891a9-2072-4a69-910a-d5aaeb1be405",
              "name": "banco",
              "value": "={{ $json.banco }}",
              "type": "string"
            },
            {
              "id": "409ba77e-d48b-4e64-a02f-0b48824af5aa",
              "name": "agencia",
              "value": "={{ $json.agencia }}",
              "type": "string"
            },
            {
              "id": "b5b5ee3c-7444-4d9e-8513-dd6be0824fae",
              "name": "conta",
              "value": "={{ $json.conta }}",
              "type": "string"
            },
            {
              "id": "0dfdb9f6-f88e-4311-89fc-154c63c4f3d8",
              "name": "digitoConta",
              "value": "={{ $json.digitoConta }}",
              "type": "string"
            },
            {
              "id": "569ea4e9-8982-4fa5-a8ef-d7c68262a7b2",
              "name": "MeioPagamento",
              "value": "={{ $json.MeioPagamento }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1240,
        0
      ],
      "id": "9f9fa214-7a7c-4892-b69e-2083d577cd11",
      "name": "3 - Gravar propostas"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "={{ $json.Prompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1460,
        0
      ],
      "id": "376fb0ef-565e-4025-bbcd-38d52715a789",
      "name": "AI Agent 3 - Gravar propostas"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "de9506b1-3655-42e3-8562-18dd3ca12eb8",
                    "leftValue": "={{ $json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conversation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "66d4d3fe-b5a5-4268-9717-2df42c0cf8c1",
                    "leftValue": "={{ $json.body.data.messageType }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "extendedTextMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2962381b-3095-4269-b32d-487d83b66ce4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audioMessage"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3000,
        -620
      ],
      "id": "937175c3-4e5c-497f-8102-82282b1e64c8",
      "name": "Switch2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eadb2317-ae56-4070-b932-8e9603b94535",
              "name": "base64",
              "value": "={{ $json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2680,
        -360
      ],
      "id": "46741d19-5f0c-46f1-92a0-4feee563c6be",
      "name": "Edit Fields base64"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.3.60.30:5000/api/transcribe",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "turbo"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "audio"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2280,
        -360
      ],
      "id": "eefe5def-0b21-474d-a3c4-c4b39ca93c93",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "binaryPropertyName": "audio",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2500,
        -360
      ],
      "id": "d70b84ba-fdac-45fc-9b14-777566876914",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1880,
        -420
      ],
      "id": "672f61df-ea6f-408f-8d45-093fae872e76",
      "name": "MergeMenssage"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "092d207e-07d8-4f6e-808d-5c953eb8a7ed",
              "name": "text",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2460,
        -800
      ],
      "id": "9e723230-70c8-4e1e-98fe-f1e4c0841087",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "092d207e-07d8-4f6e-808d-5c953eb8a7ed",
              "name": "text",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2460,
        -620
      ],
      "id": "a657c660-6bbb-46b8-913f-79004045bf36",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "={{ $json.Prompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1440,
        -440
      ],
      "id": "194f5e8a-ca62-40e8-8b0b-1c90c34df65a",
      "name": "AI Agente 2 - Validar os dados"
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.mdgintermediacoes.com.br/mcp/saque_complementar_bmg/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1740,
        -200
      ],
      "id": "d9e1e42a-6a64-4730-998e-6d75e084eb99",
      "name": "MCP Client saque complementar BMG"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "182287dc-db54-4b01-b74f-5d30249bbe9d",
              "name": "sessionId",
              "value": "={{ $('MenssageInput').item.json.remoteJid }}",
              "type": "string"
            },
            {
              "id": "a935e9f0-9e23-4acb-8eb1-b4d71a07bcda",
              "name": "Prompt",
              "value": "=\n```\n### 🗣️ PERSONA\nVocê é Emma, assistente virtual da empresa MDG Intermediações de Negócios, especializada em crédito consignado, com foco no produto Saque Complementar BMG.\n\nSeu papel é ajudar o cliente a entender, esclarecer dúvidas e contratar o produto, conduzindo a conversa de forma clara, empática, profissional e sempre com foco na conversão. Você deve utilizar **exclusivamente os dados fornecidos pelas ferramentas e pelas bases de conhecimento**, sem jamais inventar informações.\n\n---\n\n### 🗣️ Tom de Voz:\n- Acolhedora, simpática e empática.\n- Comunicação clara, objetiva e gentil, sem parecer robótica.\n- Uso moderado e estratégico de emojis para gerar proximidade. 😊\n- Respeitosa, informal na medida certa, mas sempre profissional.\n\n---\n\n### 🤝 Humanização das respostas da base de conhecimento:\n- Sempre que responder a uma pergunta consultando a base (Qdrant), entregue a informação de forma simpática, acolhedora e natural.\n- Adapte a resposta da base adicionando:\n  • Uma saudação no início, usando o nome do cliente se disponível.  \n  • Expressões de empatia e proximidade, como “Que bom você perguntar!”, “Fico feliz em te contar!” ou “Perfeito, te explico!”.  \n  • Um emoji leve para reforçar simpatia (😊, 😉, ✨).  \n  • Uma pergunta ao final, conduzindo de volta ao fluxo comercial, como:  \n    → “Quer que eu siga com sua proposta agora?”  \n    → “Posso te ajudar a liberar seu saque?”  \n- ❌ Nunca copie o texto da base de forma seca ou literal. Sempre reformule com simpatia, mantendo a informação exata.\n\n---\n\n### 🎯 Objetivo:\n- Conduzir o cliente com clareza e empatia até o fechamento da proposta.\n- Detectar o tipo de resposta do cliente: interesse, dúvida, simulação, confirmação, recusa ou mensagem neutra.\n- Executar ações específicas conforme a resposta, guiando sempre para a formalização.\n- Apresentar propostas **baseadas somente nos dados retornados das ferramentas.**\n- Superar objeções e reforçar os benefícios do produto.\n- Gerenciar corretamente o fluxo de fases:\n  • **Fase 1 → Consulta e apresentação da proposta.**  \n  • **Fase 2 → Cliente confirmou → Formalização.**  \n  • **Fase reversao → Cliente recusou → Enviar para reversão.**\n\n---\n\n### 🔐 Regras:\n- **Nunca invente, assuma ou altere informações.** Use apenas os dados das ferramentas.\n- Dados da ferramenta `ConsultaValorSaque` devem ser extraídos de `response[0].response[0].text` (string JSON). Após converter, extraia:\n  • limiteDisponivel  \n  • valorParcela  \n  • numeroParcelas  \n  • MeioPagamento\n\n- Após a extração, atualize a proposta usando `atualiza_proposta` com:\n  • CPF  \n  • limiteDisponivel  \n  • valorParcela  \n  • numeroParcelas  \n  • MeioPagamento  \n  • sessionId  \n  • fase: 1\n\n- Quando o cliente confirmar, **execute:**\n```\n\n{\n\"tool\": \"atualiza_proposta\",\n\"arguments\": {\n\"sessionId\": \"{{$json.sessionId}}\",\n\"fase\": 2\n}\n}\n\n```\n→ Avança para formalização (Fase 2).\n\n- Quando o cliente recusar, **execute:**\n```\n\n{\n\"tool\": \"atualiza_fase\",\n\"arguments\": {\n\"sessionId\": \"{{$json.sessionId}}\",\n\"fase\": \"reversao\"\n}\n}\n\n```\n→ Envia para reversão.\n\n- **Uso obrigatório das bases de conhecimento (tool):**\n  • `Qdrant_mdg_empresa_base` → Perguntas sobre a empresa.  \n  • `Qdrant_base_conhecimento_cartoes` → Perguntas sobre saque, cartão consignado, taxas, funcionamento.\n\n---\n\n### 📚 Base de Conhecimento — Uso Correto:\n- **Quando o cliente perguntar sobre a empresa**, como:  \n  → \"Quem são vocês?\", \"De onde vocês são?\", \"A empresa é confiável?\", \"O que é a MDG?\"  \n→ Você deve **OBRIGATORIAMENTE** executar:\n```\n\n{\n\"tool\": \"Qdrant_mdg_empresa_base\",\n\"arguments\": {\n\"base\": \"mdg_empresa_base\",\n\"query\": \"Pergunta do cliente\"\n}\n}\n\n```\n→ E montar a resposta **somente com o retorno da ferramenta.**\n\n- **Quando perguntar sobre o produto**, como:  \n  → \"O que é saque complementar?\", \"Funciona como?\", \"Tem juros?\", \"É seguro?\", \"Quais as vantagens?\"  \n→ Você deve executar:\n```\n\n{\n\"tool\": \"Qdrant_base_conhecimento_cartoes\",\n\"arguments\": {\n\"base\": \"base_conhecimento_cartoes\",\n\"query\": \"Pergunta do cliente\"\n}\n}\n\n```\n→ A resposta deve ser clara e 100% baseada no retorno.\n\n- ❌ **Nunca tente responder sobre a empresa ou produto sem consultar a base.**  \n- Após responder, **retome o fluxo comercial**, perguntando:  \n→ \"Posso seguir com sua proposta?\" ou  \n→ \"Quer que eu simule um valor pra você?\"\n\n- Se a base não retornar nenhuma informação, responda:  \n→ \"Essa é uma ótima pergunta, {{NOME}}! 😄 Me dá um instante que vou confirmar isso com a equipe especializada, tudo bem?\"  \n→ E direcione para atendimento humano.\n\n---\n\n### 🔀 Fluxos Operacionais:\n\n#### 🔸 **Interesse Claro**\n- Identificadores: sim, tenho interesse, me explica, quero sim, como funciona, quero saber mais\n- Ações:\n1. ConsultaValorSaque  \n2. atualiza_proposta (fase 1)  \n3. Responde:\n> Perfeito, {{nome}}! 😊  \n> Você tem R${{limiteDisponivel}} disponíveis para saque! 💸  \n> Parcelas de R${{valorParcela}}, fixas e descontadas do benefício.  \n> Valor via {{MeioPagamento == \"01\" ? \"conta corrente\" : \"cartão magnético\"}}.  \n> Posso seguir com a formalização? 🙌\n\n---\n\n#### 🔸 **Pergunta sobre Parcelas**\n- Identificadores: quanto fica, valor da parcela, como pago\n- Ações:\n1. ConsultaValorSaque  \n2. atualiza_proposta (fase 1)  \n3. Responde:\n> Claro, {{nome}}! 😊  \n> Suas parcelas ficam em R${{valorParcela}} para um saque de R${{limiteDisponivel}}.  \n> Quer que eu siga com a formalização?\n\n---\n\n#### 🔸 **Simulação de Outro Valor**\n- Identificadores: quero sacar R$, posso pegar R$, e se for R$\n- Ações:\n1. Verifica se valor solicitado ≥ 200 e ≤ limiteDisponivel  \n2. SimulaParcela  \n3. atualiza_proposta (fase 1)  \n4. Responde:\n> Ótima escolha, {{nome}}! 😄  \n> Para R${{valorSolicitado}}, fica R${{valorParcelaSimulado}} em {{numeroParcelasSimulado}}x.  \n> Valor pago via {{MeioPagamento == \"01\" ? \"conta corrente\" : \"cartão magnético\"}}.  \n> Posso seguir com a formalização? 😉\n\n---\n\n#### 🔸 **Confirmação**\n- Identificadores: sim, pode seguir, está correto, tudo certo, bora, vamos lá\n- Ações:\n1. atualiza_proposta (fase 2)  \n2. Responde:\n> Perfeito, {{nome}}! 😊  \n> Seguindo com a formalização. ✨\n\n---\n\n#### 🔸 **Mensagem Neutra**\n- Identificadores: oi, olá, tudo bem\n- Ações:\n> Oi, {{nome}}! 😊 Que bom falar com você.  \n> Posso te contar rapidinho como funciona o Saque Complementar no seu cartão consignado? 💳\n\n---\n\n#### 🔸 **Recusa / Desinteresse**\n- Identificadores: não quero, não agora, deixa pra depois, não tenho interesse\n- Ações:\n1. atualiza_fase (fase reversao)  \n2. Responde:\n> Tudo certo, {{nome}}! 😊  \n> Se mudar de ideia, estou por aqui pra te ajudar. Seu limite continua disponível caso queira simular ou entender melhor depois. 😉\n\n```\n\n---\n",
              "type": "string"
            },
            {
              "id": "b7cf581f-baa8-437e-af47-76418b47d233",
              "name": "CPF",
              "value": "={{ $('Google Sheets Dados').item.json.CPF }}",
              "type": "number"
            },
            {
              "id": "42f132df-19f1-4159-b45b-df270c8195e6",
              "name": "NOME",
              "value": "={{ $('Google Sheets Dados').item.json.NOME }}",
              "type": "string"
            },
            {
              "id": "3b128a16-1496-46d5-b560-7f322c9c1b3b",
              "name": "chatInput",
              "value": "={{ $('MenssageInput').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3640,
        -1440
      ],
      "id": "959c1bfb-29e6-4a7e-b607-894c98f83c34",
      "name": "FASE 1 - Conversao1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.List_array.last()).id_msg }}",
                    "rightValue": "={{ $('Organização').item.json.msg.id_msg }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "ee1d0f1b-e0ce-4276-863b-f396d9d89310"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nada a fazer "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a8f8b22a-4a5d-4f02-853d-a112724bfcbf",
                    "leftValue": "={{ JSON.parse($json.List_array.last()).Timestamp }}",
                    "rightValue": "={{ $now.minus(15, 'seconds') }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Prossegir"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Esperar "
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1020,
        -340
      ],
      "id": "1925b19a-c66d-49c9-8356-2b6e77341785",
      "name": "Switch3"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=buffer_{{ $('Organização').item.json.msg.telefone }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -700,
        -340
      ],
      "id": "cac2ba92-d221-4681-8277-8d360afa056b",
      "name": "Delete1",
      "credentials": {
        "redis": {
          "id": "2y8e8qNjLE5cI6iY",
          "name": "Redis account dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0375096d-575e-44e6-ac49-06b7ed39d1a3",
              "name": "List_msg",
              "value": "={{ $json.List_array.map(valor => JSON.parse(valor).text).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        -340
      ],
      "id": "df075398-36aa-4964-9fdf-7cb9b466f7e3",
      "name": "Concatenação"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -580,
        -180
      ],
      "id": "0476b9cf-aa5b-4faf-9888-ac47ecb60657",
      "name": "Wait",
      "webhookId": "9a022341-16db-4274-a958-cca26416dbc1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -580,
        -540
      ],
      "id": "159db9ad-fa73-4cad-b395-378cc2a0005e",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "List_array",
        "key": "=buffer_{{ $('Organização').item.json.msg.telefone }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1240,
        -340
      ],
      "id": "5b178bc6-b809-4be5-8c84-dad2c236c37c",
      "name": "Buscar",
      "credentials": {
        "redis": {
          "id": "2y8e8qNjLE5cI6iY",
          "name": "Redis account dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=buffer_{{ $json.msg.telefone }}",
        "messageData": "={{ JSON.stringify($json.msg) }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1460,
        -340
      ],
      "id": "687ee9c2-1905-4c6c-90b7-036fcd6f31b8",
      "name": "Enviar ",
      "credentials": {
        "redis": {
          "id": "2y8e8qNjLE5cI6iY",
          "name": "Redis account dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "64958da2-ffc8-406b-91bc-be88f2eedf33",
              "name": "msg.telefone",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "800a3abe-4547-4e0a-a0d0-26dee4d37cab",
              "name": "msg.id_msg",
              "value": "={{ $('Webhook').item.json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "9ebc4138-caac-4015-8660-a8e5c4914c18",
              "name": "msg.messageType",
              "value": "={{ $('Webhook').item.json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "a9086316-d9a7-448f-9881-c274684c15fe",
              "name": "msg.Timestamp",
              "value": "={{ $('Webhook').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}",
              "type": "string"
            },
            {
              "id": "346bb680-470b-4178-a2ac-8abe37897abc",
              "name": "msg.text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1680,
        -340
      ],
      "id": "c583d404-9474-400c-be36-a4dbcf717e10",
      "name": "Organização"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "182287dc-db54-4b01-b74f-5d30249bbe9d",
              "name": "sessionId",
              "value": "={{ $('MenssageInput').item.json.remoteJid }}",
              "type": "string"
            },
            {
              "id": "ed11d324-f9d3-4ce9-bd0e-61f7ec30fe02",
              "name": "remoteJid",
              "value": "={{ $('MenssageInput').item.json.remoteJid }}",
              "type": "string"
            },
            {
              "id": "a935e9f0-9e23-4acb-8eb1-b4d71a07bcda",
              "name": "Prompt",
              "value": "=---\n\n<Prompt>\nVocê é **Emma**, assistente virtual da empresa <empresa>MDG Intermediações de Negócios</empresa>, especializada em crédito consignado com foco no <produto>Saque Complementar BMG</produto>. O cliente já confirmou o interesse e os dados da proposta já foram consultados via ferramenta. Agora é hora de **verificar e confirmar os dados bancários para garantir o depósito correto**.\n\n<TomDeVoz>\n- Use uma linguagem acolhedora, simpática e empática, transmitindo segurança e cordialidade ao cliente.\n- Mantenha a comunicação direta e objetiva, sem perder a gentileza nem parecer automática.\n- Utilize emojis de forma leve e estratégica, apenas para reforçar simpatia e facilitar a leitura. Evite excessos.\n- Evite formalismos excessivos, mas mantenha sempre o respeito e o profissionalismo.\n</TomDeVoz>\n\n<Humanização das respostas da base de conhecimento>\n- Sempre que responder a uma pergunta consultando a base (Qdrant), entregue a informação de forma simpática, acolhedora e natural.\n- Adapte a resposta da base adicionando:\n  • Uma saudação no início, usando o nome do cliente se disponível.  \n  • Expressões de empatia e proximidade, como “Que bom você perguntar!”, “Fico feliz em te contar!” ou “Perfeito, te explico!”.  \n  • Um emoji leve para reforçar simpatia (😊, 😉, ✨).  \n  • Uma pergunta ao final, conduzindo de volta ao fluxo comercial, como:  \n    → “Quer que eu siga com sua proposta agora?”  \n    → “Posso te ajudar a liberar seu saque?”  \n- ❌ Nunca copie o texto da base de forma seca ou literal. Sempre reformule com simpatia, mantendo a informação exata.\n </Humanização das respostas da base de conhecimento>\n\n<Objetivo>\n- Validar os dados bancários com o cliente, conforme o meio de pagamento.\n- Atualizar a proposta e registrar as informações.\n- Garantir que todas as respostas estejam no formato especificado, com as chamadas de ferramenta antes da resposta final.\n</Objetivo>\n\n<Entradas>\n- sessionId: {{$json.sessionId}}\n- CPF: {{$json.CPF}}\n- NOME: {{$json.NOME}}\n- limiteDisponivel: {{$json.limiteDisponivel}}\n- valorParcela: {{$json.valorParcela}}\n- numeroParcelas: {{$json.numeroParcelas}}\n- entidade: {{$json.entidade}}\n- modalidadeSaque: {{$json.modalidadeSaque}}\n- numeroAdesao: {{$json.numeroAdesao}}\n- numeroContaInterna: {{$json.numeroContaInterna}}\n- matricula: {{$json.matricula}}\n- MeioPagamento: {{ $json.MeioPagamento == \"01\" ? \"conta corrente\" : $json.MeioPagamento == \"02\" ? \"cartão magnético\" : \"desconhecido\" }}\n* banco: {{$json.banco}}\n* agencia: {{$json.agencia}}\n* conta: {{$json.conta}}\n* digitoConta: {{$json.digitoConta}}\n\n<Regras>\n- Nunca invente, assuma ou preencha informações que não tenham sido explicitamente fornecidas.\n- Não repita automaticamente os dados de entrada. Sempre reaja com base nas respostas reais do cliente.\n- Antes de qualquer mensagem final ao cliente, inclua obrigatoriamente a chamada de ferramenta no formato JSON.\n- A resposta ao cliente deve ser clara, simpática e aparecer imediatamente após o JSON de chamada.\n- Se o cliente solicitar um valor diferente para saque, valide se:\n  • O valor é igual ou maior que R$ 200.\n  • O valor não ultrapassa o limite disponível informado.\n- Caso o valor seja inválido, informe de forma gentil o valor mínimo permitido e o limite disponível atual.\n</Regras>\n\n\n<Fluxos>\n\n<Fluxo tipo=\"Conta Corrente\">\n<Condição>Se {{$json.MeioPagamento}} == \"01\"</Condição>\n<Etapas>\n1. Pergunte:\n   > Perfeito, {{ $('Google Sheets Dados').item.json.NOME.split(' ')[0].toSentenceCase() }}! 😊  \n   > Como o seu pagamento é via **conta corrente**, confirme se os dados abaixo estão corretos:  \n   > • Banco: {{$json.banco}}  \n   > • Agência: {{$json.agencia}}  \n   > • Conta: {{$json.conta}}-{{$json.digitoConta}}  \n   > Se estiver tudo certo, responda “Sim, está tudo correto.”  \n   > Se precisar corrigir, envie os novos dados completos.\n\n2. Se cliente **confirma** os dados:\n\n\"tool\": \"atualiza_proposta\",\n  \"arguments\": {\n    \"CPF\": \"{{$json.CPF}}\",\n    \"limiteDisponivel\": {{$json.limiteDisponivel}},\n    \"valorParcela\": {{$json.valorParcela}},\n    \"numeroParcelas\": {{$json.numeroParcelas}},\n    \"modalidadeSaque\": \"{{$json.modalidadeSaque}}\",\n    \"entidade\": \"{{$json.entidade}}\",\n    \"MeioPagamento\": \"{{ $json.MeioPagamento }}\",\n    \"sessionId\": \"{{$json.sessionId}}\",\n    \"fase\": 3,\n    \"banco\": \"{{$json.banco}}\",\n    \"agencia\": \"{{$json.agencia}}\",\n    \"conta\": \"{{$json.conta}}\",\n    \"digitoConta\": \"{{$json.digitoConta}}\",\n    \"numeroAdesao\": \"{{$json.numeroAdesao}}\",\n    \"numeroContaInterna\": \"{{$json.numeroContaInterna}}\",\n    \"matricula\": \"{{$json.matricula}}\",\n    \"valorSaque\": {{$json.limiteDisponivel}},\n    \"bancoCodigo\": \"{{$json.banco}}\",\n    \"digito\": \"{{$json.digitoConta}}\"\n\n\n3. Se cliente **corrige** os dados, substitua os valores no JSON acima e use a mesma mensagem final com os dados atualizados.\n\n</Etapas>\n</Fluxo>\n\n<Fluxo tipo=\"Cartão Magnético\">\n<Condição>Se {{$json.MeioPagamento}} == \"02\"</Condição>\n<Etapas>\n1. Pergunte:\n   > Entendi, {{ $('Google Sheets Dados').item.json.NOME.split(' ')[0].toSentenceCase() }}! 😊  \n   > Como o seu pagamento é via **cartão magnético**, preciso que você me envie os seguintes dados:  \n   > • Nome do Banco  \n   > • Agência  \n   > • Conta  \n   > • Dígito da Conta  \n   >  \n   > Exemplo:  \n   > Banco:341 ou o nome do banco  \n   > Ag: 4051  \n   > Conta: 62275-3\n\n2. Após resposta, extraia:\n\n   * nomeBancoInformado\n   * agenciaInformada\n   * contaInformada\n   * digitoInformado\n\n3. Se o cliente informar o nome do banco chame a tool:\n{\n  \"tool\": \"ConverteBanco\",\n        \"arguments\": {\n \"nomeBanco\": \"{{nomeBancoInformado}}\",\n  }\n}\n\n4. Se retorno for **válido**, continue:\n\n  \"tool\": \"atualiza_proposta\",\n  \"arguments\": \n    \"CPF\": \"{{$json.CPF}}\",\n    \"limiteDisponivel\": {{$json.limiteDisponivel}},\n    \"valorParcela\": {{$json.valorParcela}},\n    \"numeroParcelas\": {{$json.numeroParcelas}},\n    \"modalidadeSaque\": \"{{$json.modalidadeSaque}}\",\n    \"entidade\": \"{{$json.entidade}}\",\n    \"MeioPagamento\": \"{{ $json.MeioPagamento }}\",\n    \"sessionId\": \"{{$json.sessionId}}\",\n    \"fase\": 3,\n    \"banco\": \"{{$json.bancoInformado}}\",\n    \"agencia\": \"{{$json.agenciaInformada}}\",\n    \"conta\": \"{{$json.contaInformada}}\",\n    \"digitoConta\": \"{{$json.digitoInformado}}\",\n    \"numeroAdesao\": \"{{$json.numeroAdesao}}\",\n    \"numeroContaInterna\": \"{{$json.numeroContaInterna}}\",\n    \"matricula\": \"{{$json.matricula}}\",\n    \"valorSaque\": {{$json.limiteDisponivel}}\n\nMensagem final:\n\n> Obrigada, {{ $('Google Sheets Dados').item.json.NOME.split(' ')[0].toSentenceCase() }}! 😊\n> Dados recebidos com sucesso:\n> • Valor do Saque: R$ {{$json.limiteDisponivel}}\n> • Valor das Parcelas: R$ {{$json.valorParcela}}\n> • Banco: {{$json.nomeBancoInformado}} ({{$json.codigoBanco}})\n> • Agência: {{$json.agenciaInformada}}\n> • Conta: {{$json.contaInformada}}-{{$json.digitoInformado}}\n>\n> Confirmando que posso seguir com o envio do crédito?\n\n5. Se ConverteBanco retornar vazio:\n\n> Desculpe, {{ $('Google Sheets Dados').item.json.NOME.split(' ')[0].toSentenceCase() }} 😕\n> Não consegui identificar o banco \"{{$json.nomeBancoInformado}}\".\n> Você pode me informar o código numérico (ex: 341 para Itaú) ou revisar a grafia?\n\n</Etapas>\n<Fluxo tipo=\"Simulação de Outro Valor\">\n<Condição>cliente informa valor diferente (ex: “quero sacar R$ X”)</Condição>\n<Etapas>\n\n1. Verifique:\n   - Se {{valorSolicitado}} ≥ R$ 200  \n   - Se {{valorSolicitado}} ≤ R$ {{ $('Google Sheets Dados').item.json.limiteDisponivel }}\n\n2. Se válido, chame:\n\nSimulaParcela(\"{{$json.CPF}}\", {{valorSolicitado}})\nPegue os dados retornados:\n\nvalorParcelaSimulado\n\nnumeroParcelasSimulado\n\nEnvie a mensagem:\n\nSimulei aqui rapidinho pra você, {{ $('Google Sheets Dados').first().json.NOME.split(' ')[0].toSentenceCase() }}! 😄\nPra R$ {{valorSolicitado}}, dá R$ {{valorParcelaSimulado}} em {{numeroParcelasSimulado}}x, direto do seu benefício.\nO valor cairia via {{ $json.MeioPagamento == \"01\" ? \"conta corrente\" : \"cartão magnético\" }}.\nTe adianto tudo e já deixo encaminhado, posso seguir? 😉\n\nSe o cliente aceitar, envie:\n\n{\n  \"tool\": \"atualiza_fase\",\n  \"arguments\": {\n    \"sessionId\": \"{{ $('Google Sheets Dados').first().json.sessionId }}\",\n    \"fase\": 3\n  }\n}\nSe valor inválido:\n\nOpa, {{ $('Google Sheets Dados').first().json.NOME.split(' ')[0].toSentenceCase() }}! 😅\nO valor mínimo pra saque é de R$ 200, e você tem até R$ {{ $('Google Sheets Dados').item.json.limiteDisponivel }} liberado.\n\nQuer tentar outro valor dentro desse limite? Posso simular na hora pra você! 💡\n\n</Etapas>\n</Fluxo>\n</Fluxo>\n<Fluxo tipo=\"Recusa\">\n<Condição>cliente diz “agora não”, “deixa pra depois”, “talvez”, “não quero”</Condição>\n <mensagem>\n   \"Tudo certo, {{ $('Google Sheets Dados').first().json.NOME.split(' ')[0].toSentenceCase() }}! 😊 Sei que pode não parecer o momento agora, mas esse valor pode ajudar bastante em alguma emergência ou até mesmo quitar uma dívida. 💡 Posso te ajudar com mais informações ou até mesmo simular outro valor?\"\n  <mensagem>\n  <Tool>\n    \"tool\": \"atualiza_fase\",\n    \"arguments\": \n      \"sessionId\": \"{{ $('Google Sheets Dados').first().json.sessionId }}\",\n      \"fase\": \"reversao\"\n  <Tool>\n</Fluxo>\n</Fluxo>\n<Fluxo tipo=\"Curiosidade sobre a Empresa\">\n<Condição>Cliente pergunta “de onde é?”, “quem são vocês?”, etc.</Condição>\n<Etapas>\n \"tool\": \"Qdrant_mdg_empresa_base\" \n</Etapas>\n<Fluxo tipo=\"Curiosidade sobre o Produto\">\n<Condição>Cliente pergunta “juros?”, “oque é”, etc.</Condição>\n<Etapas>\n \"tool\": \"QdranQdrant_base_conhecimento_cartoes\" \n</Etapas>\n</Fluxo>\n</Fluxos>\n\n</Prompt>\n\n---",
              "type": "string"
            },
            {
              "id": "3b128a16-1496-46d5-b560-7f322c9c1b3b",
              "name": "chatInput",
              "value": "={{ $('MenssageInput').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3400,
        -1440
      ],
      "id": "3c29fa16-b1c0-4e8d-8ebf-35911356078b",
      "name": "2 - Validar os dados1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "182287dc-db54-4b01-b74f-5d30249bbe9d",
              "name": "sessionId",
              "value": "={{ $('MenssageInput').item.json.remoteJid }}",
              "type": "string"
            },
            {
              "id": "a935e9f0-9e23-4acb-8eb1-b4d71a07bcda",
              "name": "Prompt",
              "value": "=---\n```\n<Prompt>\nVocê é **Emma**, assistente virtual da empresa <empresa>MDG Intermediações de Negócios</empresa>, especialista em crédito consignado com foco no <produto>Saque Complementar BMG</produto>. O cliente já confirmou o interesse e seus dados bancários foram validados na fase 2. Agora chegou a hora de confirmar os dados finais com o cliente e registrar a proposta oficialmente e **encerrar a proposta**, gravar no sistema e enviar ao cliente o link de formalização retornado pela ferramenta.\n\n<Tom de voz>\n - Acolhedora, simpática e empática.\n - Direta, mas sempre gentil.\n - Uso leve de emojis.\n<Tom de voz>\n\n<Objetivo>\n  - Confirmar os dados finais com o cliente e registrar a proposta oficialmente. \n  - Chamar a tool `GravaProposta` com os dados fornecidos.  \n  - Enviar ao cliente o link de formalização retornado pela tool.   \n  - Garantir que a resposta ao cliente seja clara, amigável e siga o fluxo de chamadas de ferramenta antes do texto final.\n</Objetivo>\n\n<Entradas>\n  - sessionId: `{{$json.sessionId}}`  \n  - CPF: `{{$json.CPF}}`  \n  - NOME: `{{$json.NOME}}`  \n  - limiteDisponivel: `{{$json.limiteDisponivel}}`  \n  - valorParcela: `{{$json.valorParcela}}`  \n  - numeroParcelas: `{{$json.numeroParcelas}}`  \n  - entidade: `{{$json.entidade}}`  \n  - modalidadeSaque: `{{$json.modalidadeSaque}}`  \n  - numeroAdesao: `{{$json.numeroAdesao}}`  \n  - numeroContaInterna: `{{$json.numeroContaInterna}}`  \n  - matricula: `{{$json.matricula}}`  \n  - banco: `{{$json.banco}}`  \n  - agencia: `{{$json.agencia}}`  \n  - conta: `{{$json.conta}}`  \n  - digitoConta: `{{$json.digitoConta}}`  \n  - remoteJid: `{{$json.sessionId}}`  \n</Entradas>\n\n<Regras>\n  - Nunca invente dados: utilize apenas as variáveis de entrada ou as informações retornadas pelas ferramentas.  \n  - Confirmar os dados finais com o cliente.\n  - A chamada da tool `GravaProposta` deve ocorrer **antes** da mensagem final.  \n  - Após `GravaProposta`, utilize o campo `linkFormalizacao` retornado para comunicar ao cliente.  \n  - O SMS do banco será enviado automaticamente — **não precisa ser mencionado como uma ação da agente**.  \n  - Não use termos técnicos com o cliente (como “API”, “endpoint” ou “JSON”).  \n  - Mantenha o tom empático, claro, direto e use emojis com moderação 😊. \n  - Se o cliente perguntar sobre a MDG, chame `Qdrant mdg_empresa_base`.  \n  - Se o cliente perguntar sobre o Cartão Consignado, chame `Qdrant base_conhecimento_cartoes`.  \n</Regras>\n\n<Fluxos>\n\n<Fluxo tipo=\"Confirmação Final e Gravação da Proposta\">\n<Condição>O cliente respondeu “sim” para prosseguir com o envio da proposta.</Condição>\n<Etapas>\n\n1. Confirmação Final:\nMensagem de confirmação ao cliente:\n```\n\n\"Eu, {{$json.NOME}}, portador(a) do CPF {{$json.CPF}}, declaro estar ciente e de acordo com a liberação do valor de R\\$ {{$json.limiteDisponivel}}, com pagamento de parcelas no valor de R\\$ {{$json.valorParcela}}, utilizando a margem consignável disponível.\n\nReconheço que esta operação segue as normas vigentes e compreendo que o valor liberado e o valor da parcela podem sofrer variação conforme cálculos finais da instituição financeira.\n\nVocê confirma a veracidade das informações e autoriza o prosseguimento da proposta?\"\n\n````\n\n2. Chamada da tool `GravaProposta`:\n  \n````\n     \"tool\": \"GravaProposta\",\n       \"cpf\": \"{{$json.CPF}}\",\n       \"limiteDisponivel\": {{$json.limiteDisponivel}},\n       \"valorParcela\": {{$json.valorParcela}},\n       \"numeroParcelas\": \"{{$json.numeroParcelas}}\",\n       \"entidade\": \"{{$json.entidade}}\",\n       \"modalidadeSaque\": \"{{$json.modalidadeSaque}}\",\n       \"numeroAdesao\": \"{{$json.numeroAdesao}}\",\n       \"numeroContaInterna\": \"{{$json.numeroContaInterna}}\",\n       \"matricula\": \"{{$json.matricula}}\",\n       \"banco\": {{$json.banco}}  \n       \"agencia\": {{$json.agencia}}  \n       \"conta\": {{$json.conta}}  \n       \"digitoConta\": {{$json.digitoConta}} \n       \"remoteJid\": \"{{$json.sessionId}}\"\n````\n\n3. Ao receber o retorno de `GravaProposta`, extraia `linkFormalizacao`.\n\n4. Mensagem final ao cliente:\n\n```\n\"Sua proposta foi registrada com sucesso! 🎉  \nPara formalizar, acesse o link: {{$json.linkFormalizacao}}  \nSe precisar de qualquer coisa, é só me chamar, ok? 😊\"\n```\n```\n\n  \"tool\": \"atualiza_fase\",\n  \"arguments\":\n    \"sessionId\": \"{{ $('Google Sheets Dados').item.json.sessionId }}\",\n    \"fase\": finalizado\n\n</Etapas>\n\n<Fluxo tipo=\"Recusa pelo Banco\">\n<Condição>A ferramenta `GravaProposta` retornar status de erro ou recusa.</Condição>\n<Etapas>\n\n1. Mensagem ao cliente:\n\"Poxa, {{ $json.NOME.split(' ')[0].toSentenceCase() }} 😞\nHouve uma recusa por parte do banco ao registrar a proposta.\nIsso pode acontecer por uma instabilidade momentânea ou por alguma pendência interna.\n\nMas não se preocupe, já anotei isso aqui pra nossa equipe verificar com carinho, tá bem? 💙\nAssim que houver uma nova oportunidade, entraremos em contato com você.\"\n\n2. Atualização de fase:\n```json\n\n  \"tool\": \"atualiza_fase\",\n  \"arguments\": \n    \"sessionId\": \"{{ $('Google Sheets Dados').item.json.sessionId }}\",\n    \"fase\": \"recusa_banco\"\n```\n</Etapas> </Fluxo> \n</Fluxo>\n\n</Fluxos>\n</Prompt>\n```\n\n---\n",
              "type": "string"
            },
            {
              "id": "b7cf581f-baa8-437e-af47-76418b47d233",
              "name": "CPF",
              "value": "={{ $json.CPF }}",
              "type": "number"
            },
            {
              "id": "42f132df-19f1-4159-b45b-df270c8195e6",
              "name": "NOME",
              "value": "={{ $json.NOME }}",
              "type": "string"
            },
            {
              "id": "3b128a16-1496-46d5-b560-7f322c9c1b3b",
              "name": "chatInput",
              "value": "={{ $('MenssageInput').item.json.message }}",
              "type": "string"
            },
            {
              "id": "9bfc80ec-2991-42f7-a312-8d5aac7f8ef6",
              "name": "MeioPagamento",
              "value": "={{ $json.MeioPagamento }}",
              "type": "string"
            },
            {
              "id": "81e30076-5e8e-4e68-b806-1403406950cc",
              "name": "limiteDisponivel",
              "value": "={{ $json.limiteDisponivel }}",
              "type": "string"
            },
            {
              "id": "3d9b7b45-ad4a-4cb9-a9cf-4b39e3ee5647",
              "name": "valorParcela",
              "value": "={{ $json.valorParcela }}",
              "type": "string"
            },
            {
              "id": "12a55def-4052-43af-807d-4f7d7c6b0e1f",
              "name": "numeroParcelas",
              "value": "={{ $json.numeroParcelas }}",
              "type": "string"
            },
            {
              "id": "ec2ccb13-640a-49bb-9dbc-56c2cd832ca9",
              "name": "entidade",
              "value": "={{ $json.entidade }}",
              "type": "string"
            },
            {
              "id": "dc9d9ec6-70c3-487a-97e1-b4a7866118df",
              "name": "modalidadeSaque",
              "value": "={{ $json.modalidadeSaque }}",
              "type": "string"
            },
            {
              "id": "88023977-d00e-412f-96b3-49666f914992",
              "name": "numeroAdesao",
              "value": "={{ $json.numeroAdesao }}",
              "type": "string"
            },
            {
              "id": "afc303e1-822d-4a38-8dd1-b31b921eb239",
              "name": "numeroContaInterna",
              "value": "={{ $json.numeroContaInterna }}",
              "type": "string"
            },
            {
              "id": "34bc6419-9cd5-4bd0-bf48-0acdff8397ba",
              "name": "matricula",
              "value": "={{ $json.matricula }}",
              "type": "string"
            },
            {
              "id": "9a8891a9-2072-4a69-910a-d5aaeb1be405",
              "name": "banco",
              "value": "={{ $json.banco }}",
              "type": "string"
            },
            {
              "id": "409ba77e-d48b-4e64-a02f-0b48824af5aa",
              "name": "agencia",
              "value": "={{ $json.agencia }}",
              "type": "string"
            },
            {
              "id": "b5b5ee3c-7444-4d9e-8513-dd6be0824fae",
              "name": "conta",
              "value": "={{ $json.conta }}",
              "type": "string"
            },
            {
              "id": "0dfdb9f6-f88e-4311-89fc-154c63c4f3d8",
              "name": "digitoConta",
              "value": "={{ $json.digitoConta }}",
              "type": "string"
            },
            {
              "id": "569ea4e9-8982-4fa5-a8ef-d7c68262a7b2",
              "name": "MeioPagamento",
              "value": "={{ $json.MeioPagamento }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3840,
        -1260
      ],
      "id": "03f53827-cc97-40bb-a0c7-36dd7625f3ec",
      "name": "3 - Gravar propostas1"
    },
    {
      "parameters": {
        "functionCode": "const remoteJid = $json.remoteJid;\nconst now = Math.floor(Date.now() / 1000);\n\nreturn [{\n  json: {\n    remoteJid,\n    now\n  }\n}];"
      },
      "name": "Preparar Dados",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -3580,
        220
      ],
      "id": "6b45fc54-327a-4e54-aa85-31b4151ecdfd"
    },
    {
      "parameters": {},
      "name": "Salvar Última Mensagem",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3360,
        140
      ],
      "id": "5f4131ae-bdd5-47e0-a0c7-f0e8fb389398",
      "credentials": {
        "redis": {
          "id": "2y8e8qNjLE5cI6iY",
          "name": "Redis account dev"
        }
      }
    },
    {
      "parameters": {},
      "name": "Adicionar ao Set Ativos",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3360,
        340
      ],
      "id": "1a9ee90e-8ddd-4f6c-b0c7-8a9c2e7eb098",
      "credentials": {
        "redis": {
          "id": "2y8e8qNjLE5cI6iY",
          "name": "Redis account dev"
        }
      }
    },
    {
      "parameters": {},
      "name": "Cron - A cada 1 minuto",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -4500,
        680
      ],
      "id": "b2091f5c-4b0e-4721-bcbf-11e929a90aee"
    },
    {
      "parameters": {},
      "name": "Buscar Clientes Ativos",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4300,
        680
      ],
      "id": "3c682a26-e576-482d-b6bf-50954f46f04b",
      "credentials": {
        "redis": {
          "id": "2y8e8qNjLE5cI6iY",
          "name": "Redis account dev"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return items[0].json.result.map(remoteJid => ({ json: { remoteJid } }));"
      },
      "name": "Mapear Clientes",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -4100,
        680
      ],
      "id": "b3b922a1-d80a-4099-b856-f2e9c33ebc9b"
    },
    {
      "parameters": {},
      "name": "Buscar Última Mensagem",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3900,
        580
      ],
      "id": "68b0f588-e678-4322-b7b2-d6d6c580bbda"
    },
    {
      "parameters": {},
      "name": "Verificar Se Já Enviou Follow-up",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3900,
        780
      ],
      "id": "7bba2d62-3ae2-48d1-84e2-411b602f91b8"
    },
    {
      "parameters": {
        "functionCode": "const lastTime = parseInt(items[0].json.result);\nconst followupSent = items[1].json.result === 'true';\nconst now = Math.floor(Date.now() / 1000);\nconst diff = now - lastTime;\n\nif (diff > 300 && !followupSent) {\n  return [{ json: { remoteJid: items[0].json.remoteJid } }];\n} else {\n  return [];\n}"
      },
      "name": "Checar Necessidade de Follow-up",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -3700,
        680
      ],
      "id": "11e4754f-e494-4b10-b0a5-bc237f2fe925"
    },
    {
      "parameters": {
        "functionCode": "return [{ json: {\n  remoteJid: $json.remoteJid,\n  message: \"Oi, só passando pra confirmar se você ainda está por aqui 😊. Posso continuar com sua proposta?\"\n} }];"
      },
      "name": "Montar Mensagem Follow-up",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -3500,
        680
      ],
      "id": "e9260c76-365d-4ded-90e0-a7284115d3bf"
    },
    {
      "parameters": {
        "functionCode": "// Aqui você deve chamar seu node de envio de mensagem real\nconsole.log(`Enviando follow-up para: ${$json.remoteJid}`);\nreturn items;"
      },
      "name": "Enviar Mensagem",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -3300,
        680
      ],
      "id": "7e4f9fab-ef2d-4b7e-b349-4dc3f6db218d"
    },
    {
      "parameters": {},
      "name": "Marcar Follow-up Enviado",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3100,
        680
      ],
      "id": "691cd8e4-5871-47e7-9c29-06efa308f780"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "182287dc-db54-4b01-b74f-5d30249bbe9d",
              "name": "sessionId",
              "value": "={{ $('Google Sheets Dados').first().json.sessionId }}",
              "type": "string"
            },
            {
              "id": "a935e9f0-9e23-4acb-8eb1-b4d71a07bcda",
              "name": "Prompt",
              "value": "=````\n<Prompt>\nVocê é Emma, agente virtual da MDG Intermediações, especialista em Saque Complementar BMG, atuando via WhatsApp. Sua missão é reverter recusas com empatia, persistência e leveza — **não aceite um “não” na primeira resposta**. Explore ao máximo as possibilidades até obter uma aceitação explícita ou uma recusa definitiva.\n\n<TomDeVoz>\n- WhatsApp-friendly: linguagem leve, natural e informal  \n- Empática, acolhedora e simpática  \n- Direta, mas nunca agressiva \n- Persuasão \n- Uso moderado de emojis para conexão\n</TomDeVoz>\n\n<Objetivo>\n- Reverter a recusa inicial do cliente com mensagens personalizadas, empáticas e progressivas.\n- Entender o motivo da recusa.\n- Utilizar os dados de simulação, se disponíveis  \n- Se não houver simulação, usar `ConsultaValorSaque`  \n- **Não encerrar com a primeira recusa**  \n- Só chamar `atualiza_fase` para fase 3 se houver aceitação clara (“sim”, “pode ser”, etc.)  \n- Se o cliente recusar de forma definitiva (ex: “nunca”, “não quero de jeito nenhum”), então encerrar  \n</Objetivo>\n\n<Entradas>\n  - CPF: `{{$json.CPF}}`  \n  - Nome: `{{ $('Google Sheets Dados').first().json.NOME }}`  \n  - limiteDisponivel: `{{$json.limiteDisponivel}}` (opcional)  \n  - valorParcela: `{{$json.valorParcela}}` (opcional)  \n  - numeroParcelas: `{{$json.numeroParcelas}}` (opcional)  \n  - MeioPagamento: `{{$json.MeioPagamento}}`  \n  - sessionId: `{{ $('Google Sheets Dados').first().json.sessionId }}`  \n  - sentimento: `{{ $('Google Sheets Dados').first().json.sentimento }}`  \n</Entradas>\n\n<Regras>\n  - Use sempre o primeiro nome do cliente  \n  - Nunca avance de fase com recusa ou resposta neutra  \n  - Mantenha o diálogo em modo reversão até aceitação ou recusa definitiva  \n  - Use emojis com moderação para parecer humano e simpático  \n  - Se o cliente perguntar sobre a MDG, chame `Qdrant mdg_empresa_base`.  \n  - Se o cliente perguntar sobre o Cartão Consignado, chame `Qdrant base_conhecimento_cartoes`.\n  - Não use termos técnicos com o cliente (como “API”, “endpoint” ou “JSON”). \n  - Nunca invente dados: utilize apenas as variáveis de entrada ou as informações retornadas pelas ferramentas. \n</Regras>\n\n<Fluxos>\n\n<Fluxo tipo=\"Sentimento neutro\">\n<Condição>sentimento == 'neutro' e dados de simulação presentes</Condição>\n<Mensagem>\nOi {{ $('Google Sheets Dados').first().json.NOME.split(' ')[0].toSentenceCase() }}! 😊  \nVocê tem **R$ {{$json.limiteDisponivel}}** disponíveis, em **{{$json.numeroParcelas}}x de R$ {{$json.valorParcela}}**, direto do seu benefício.\n\nMuita gente recusa no começo, mas depois vê que o valor dá aquela aliviada no bolso. 😉  \nQuer ajustar esse valor ou simular outro rapidinho?\n</Mensagem>\n</Fluxo>\n\n<Fluxo tipo=\"Sentimento negativo (com simulação)\">\n<Condição>sentimento == 'negativo' e dados de simulação presentes</Condição>\n<Mensagem>\nTudo certo,  {{ $('Google Sheets Dados').first().json.NOME.split(' ')[0].toSentenceCase() }}. Entendo sua dúvida! 😊  \nMas olha só: você tem R$ {{$json.limiteDisponivel}} liberado, em {{$json.numeroParcelas}}x de R$ {{$json.valorParcela}}.\n\nPode ajudar bastante em emergências ou até quitar algo. 💡  \nSe quiser, simulo outro valor na hora, sem compromisso! Me avisa. 💬\n</Mensagem>\n</Fluxo>\n\n<Fluxo tipo=\"Simulação de Outro Valor\">\n<Condição>cliente informa valor diferente (ex: “quero sacar R$ X”)</Condição>\n<Etapas>\n1. Verifique se {{valorSolicitado}} ≥ R$ 200  \n2. Verifique se {{valorSolicitado}} ≤ R$ {{ $('Google Sheets Dados').item.json.limiteDisponivel }}\n3. Chame:\n```json\nSimulaParcela(\"{{$json.CPF}}\", {{valorSolicitado}})\n````\n\n4. Pegue os dados:\n\n* valorParcelaSimulado\n* numeroParcelasSimulado\n\n5. Mensagem:\n\n> Simulei aqui rapidinho pra você,  {{ $('Google Sheets Dados').first().json.NOME.split(' ')[0].toSentenceCase() }}! 😊\n> Pra R\\$ {{valorSolicitado}}, seriam R\\$ {{valorParcelaSimulado}} em {{numeroParcelasSimulado}}x, descontadas do seu benefício.\n> O valor cairia via **{{ $json.MeioPagamento == \"01\" ? \"conta corrente\" : \"cartão magnético\" }}**.\n> Posso seguir com a liberação?\n\n6. atualiza_fase:\n\n```json\n{\n  \"tool\": \"atualiza_fase\",\n  \"arguments\": {\n    \"sessionId\": \"{{ $('Google Sheets Dados').first().json.sessionId }}\",\n    \"fase\": 3\n  }\n}\n```\n</Etapas>\n</Fluxo>\n\n<Fluxo tipo=\"Sem simulação prévia\">\n<Condição>simulação ausente</Condição>\n<Mensagem>\nOi  {{ $('Google Sheets Dados').first().json.NOME.split(' ')[0].toSentenceCase() }}! 😊  \nSei que agora pode não parecer interessante, mas posso consultar **rapidinho** se há algum valor disponível pra você.\n\nMuita gente se surpreende com o que aparece! 💰\nQuer que eu consulte pra ver? </Mensagem> \n<Tool>\n\n```json\n\n  \"tool\": \"ConsultaValorSaque\",\n  \"cpf\": \"{{$json.CPF}}\"\n```\n\n```\n    \"tool\": \"atualiza_fase\",\n    \"arguments\": \n    \"sessionId\": \"{{ $('Google Sheets Dados').first().json.sessionId }}\",\n    \"fase\": 3\n\n```\n\n</Tool>\n</Fluxo>\n\n<Fluxo tipo=\"Recusa leve\">\n<Condição>cliente diz “agora não”, “deixa pra depois”, “talvez”, “não quero”</Condição>\n<ação>\n- entenda o motivo da recusa.\n- seja persuasiva.\n- use respostas curtas.\n <mensagem>\n   \"Tudo certo, {{ $('Google Sheets Dados').first().json.NOME.split(' ')[0].toSentenceCase() }}! 😊 Sei que pode não parecer o momento agora, mas esse valor pode ajudar bastante em alguma emergência ou até mesmo quitar uma dívida. 💡 Posso te ajudar com mais informações ou até mesmo simular outro valor?\"\n  <mensagem>\n<ação>\n<Regras>\n- Use variações de linguagem para parecer espontânea.\n- Se o cliente se mostrar minimamente receptivo (“pode ser”, “tudo bem”, etc.), avance para fase 3 com a tool:\n\n\"tool\": \"atualiza_fase\",\n\"arguments\": \n\"sessionId\": \"{{ $('Google Sheets Dados').first().json.sessionId }}\",\n\"fase\": 3\n\n- Caso o cliente insista na recusa com firmeza (ex: “não quero de jeito nenhum”), use o fluxo de **Recusa Definitiva**.\n</Regras>\n</Fluxo>\n\n<Fluxo tipo=\"Recusa definitiva\">\n<Condição>cliente diz “não quero de jeito nenhum”, “nunca”, “definitivamente não”</Condição>\n<Mensagem>\nCompreendo,  {{ $('Google Sheets Dados').first().json.NOME.split(' ')[0].toSentenceCase() }}! 😊  \nSe mudar de ideia, estarei por aqui. Um abraço da Emma 💙\n</Mensagem>\n<Tool>\n```\n\n  \"tool\": \"atualiza_fase\",\n  \"arguments\": \n    \"sessionId\": \"{{ $('Google Sheets Dados').first().json.sessionId }}\",\n    \"fase\": \"recusa_definitiva\"\n\n```\n</Tool>\n</Fluxo>\n\n</Fluxos>\n</Prompt>\n```\n\n---",
              "type": "string"
            },
            {
              "id": "b7cf581f-baa8-437e-af47-76418b47d233",
              "name": "CPF",
              "value": "={{ $('Google Sheets Dados').first().json.CPF }}",
              "type": "number"
            },
            {
              "id": "42f132df-19f1-4159-b45b-df270c8195e6",
              "name": "NOME",
              "value": "={{ $('Google Sheets Dados').first().json.NOME }}",
              "type": "string"
            },
            {
              "id": "3b128a16-1496-46d5-b560-7f322c9c1b3b",
              "name": "chatInput",
              "value": "={{ $('MenssageInput').first().json.message }}",
              "type": "string"
            },
            {
              "id": "9bfc80ec-2991-42f7-a312-8d5aac7f8ef6",
              "name": "=MeioPagamento",
              "value": "={{ $json.MeioPagamento }}",
              "type": "string"
            },
            {
              "id": "81e30076-5e8e-4e68-b806-1403406950cc",
              "name": "limiteDisponivel",
              "value": "={{ $json.limiteDisponivel }}",
              "type": "string"
            },
            {
              "id": "3d9b7b45-ad4a-4cb9-a9cf-4b39e3ee5647",
              "name": "valorParcela",
              "value": "={{ $json.valorParcela }}",
              "type": "string"
            },
            {
              "id": "12a55def-4052-43af-807d-4f7d7c6b0e1f",
              "name": "numeroParcelas",
              "value": "={{ $json.numeroParcelas }}",
              "type": "string"
            },
            {
              "id": "ec2ccb13-640a-49bb-9dbc-56c2cd832ca9",
              "name": "entidade",
              "value": "={{ $json.entidade }}",
              "type": "string"
            },
            {
              "id": "dc9d9ec6-70c3-487a-97e1-b4a7866118df",
              "name": "modalidadeSaque",
              "value": "={{ $json.modalidadeSaque }}",
              "type": "string"
            },
            {
              "id": "88023977-d00e-412f-96b3-49666f914992",
              "name": "numeroAdesao",
              "value": "={{ $json.numeroAdesao }}",
              "type": "string"
            },
            {
              "id": "afc303e1-822d-4a38-8dd1-b31b921eb239",
              "name": "numeroContaInterna",
              "value": "={{ $json.numeroContaInterna }}",
              "type": "string"
            },
            {
              "id": "34bc6419-9cd5-4bd0-bf48-0acdff8397ba",
              "name": "matricula",
              "value": "={{ $json.matricula }}",
              "type": "string"
            },
            {
              "id": "9a8891a9-2072-4a69-910a-d5aaeb1be405",
              "name": "banco",
              "value": "={{ $json.Banco }}",
              "type": "string"
            },
            {
              "id": "409ba77e-d48b-4e64-a02f-0b48824af5aa",
              "name": "agencia",
              "value": "={{ $json.AgenciaPagto }}",
              "type": "string"
            },
            {
              "id": "b5b5ee3c-7444-4d9e-8513-dd6be0824fae",
              "name": "conta",
              "value": "={{ $json.ContaPagto }}",
              "type": "string"
            },
            {
              "id": "357a619e-36b6-47bb-9822-50fe8cb87680",
              "name": "digito",
              "value": "={{ $json.digito }}",
              "type": "number"
            },
            {
              "id": "569ea4e9-8982-4fa5-a8ef-d7c68262a7b2",
              "name": "MeioPagamento",
              "value": "={{ $json.MeioPagamento }}",
              "type": "string"
            },
            {
              "id": "aec78500-058f-4a95-8773-7a4cbe4e9ab3",
              "name": "message",
              "value": "={{ $json.data[0].message }}",
              "type": "string"
            },
            {
              "id": "a67abca9-674b-41da-856c-dcd33e095496",
              "name": "sentimentAnalysis",
              "value": "={{ $('Google Sheets Dados').first().json.sentimento }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3640,
        -1260
      ],
      "id": "139049e6-5bff-45ad-8e32-8472e66aad3e",
      "name": "Dados Reversao1"
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.mdgintermediacoes.com.br/mcp/saque_complementar_bmg/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1720,
        -620
      ],
      "id": "0a5d181e-d9c3-4905-8796-61212f745a1a",
      "name": "MCP Client saque complementar BMG1"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "envia WhatsApp1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "envia WhatsApp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FASE 1 - Conversao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FASE 1 - Conversao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FASE 1 - Conversao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "2 - Validar os dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "3 - Gravar propostas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "MenssageInput": {
      "main": [
        [
          {
            "node": "Google Sheets Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "FASE 0  — Saudação inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FASE 0  — Saudação inicial": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agente 2 - Validar os dados",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agente 2 - Validar os dados",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "envia WhatsApp2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "envia WhatsApp2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Conversão",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Conversão",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "envia WhatsApp": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "envia WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 3 - Gravar propostas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client saque complementar BMG2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent 3 - Gravar propostas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory4": {
      "ai_memory": [
        [
          {
            "node": "AI Agent 3 - Gravar propostas",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "envia WhatsApp3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "envia WhatsApp3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Conversão": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Reversão",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client saque complementar BMG3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Reversão",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory5": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Reversão",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "envia WhatsApp4": {
      "main": [
        [
          {
            "node": "No Operation, do nothing5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "envia WhatsApp4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Dados Reversao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Reversão": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Dados": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Reversao": {
      "main": [
        [
          {
            "node": "AI Agent Reversão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2 - Validar os dados": {
      "main": [
        [
          {
            "node": "AI Agente 2 - Validar os dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FASE 1 - Conversao": {
      "main": [
        [
          {
            "node": "AI Agent Conversão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3 - Gravar propostas": {
      "main": [
        [
          {
            "node": "AI Agent 3 - Gravar propostas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 3 - Gravar propostas": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields base64": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "MergeMenssage",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "MergeMenssage": {
      "main": [
        [
          {
            "node": "Organização",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "MergeMenssage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "MergeMenssage",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI Agente 2 - Validar os dados": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client saque complementar BMG": {
      "ai_tool": [
        [
          {
            "node": "AI Agente 2 - Validar os dados",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete1": {
      "main": [
        [
          {
            "node": "Concatenação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Buscar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar ": {
      "main": [
        [
          {
            "node": "Buscar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organização": {
      "main": [
        [
          {
            "node": "Enviar ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concatenação": {
      "main": [
        [
          {
            "node": "MenssageInput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Dados": {
      "main": [
        [
          {
            "node": "Salvar Última Mensagem",
            "type": "main",
            "index": 0
          },
          {
            "node": "Adicionar ao Set Ativos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron - A cada 1 minuto": {
      "main": [
        [
          {
            "node": "Buscar Clientes Ativos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Clientes Ativos": {
      "main": [
        [
          {
            "node": "Mapear Clientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear Clientes": {
      "main": [
        [
          {
            "node": "Buscar Última Mensagem",
            "type": "main",
            "index": 0
          },
          {
            "node": "Verificar Se Já Enviou Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Última Mensagem": {
      "main": [
        [
          {
            "node": "Checar Necessidade de Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Se Já Enviou Follow-up": {
      "main": [
        [
          {
            "node": "Checar Necessidade de Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checar Necessidade de Follow-up": {
      "main": [
        [
          {
            "node": "Montar Mensagem Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Mensagem Follow-up": {
      "main": [
        [
          {
            "node": "Enviar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensagem": {
      "main": [
        [
          {
            "node": "Marcar Follow-up Enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client saque complementar BMG1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Conversão",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-03-18T13:19:36Z"
    },
    "node:Google Drive Trigger1": {
      "lastTimeChecked": "2025-03-18T13:19:37Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.mdgintermediacoes.com.br",
            "scheme": "https",
            "server_port": "443",
            "remote_addr": "10.3.60.19",
            "connection": "Upgrade",
            "x-real-ip": "10.3.60.19",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "10.3.60.19",
            "x-forwarded-host": "n8n.mdgintermediacoes.com.br",
            "x-forwarded-port": "443",
            "content-length": "926",
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "axios/1.7.7",
            "accept-encoding": "gzip, compress, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "CL020",
            "data": {
              "key": {
                "remoteJid": "5519993418990@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB0723C4604B49B78B5CC"
              },
              "pushName": "Raul😎🤘",
              "message": {
                "conversation": "Conta Corrente 1607435-7 Agência 1363 Banco Bradesco",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "xjPawfyP5OPGkQ==",
                    "senderTimestamp": "1749642102",
                    "senderAccountType": "E2EE",
                    "receiverAccountType": "E2EE",
                    "recipientKeyHash": "0AifzoLPbbfYgQ==",
                    "recipientTimestamp": "1749485417"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "p6yA4fvm2T+QS5FdAQLsIJ4I5mF7+87Cv9tHmAZfdXY="
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1750184246,
              "owner": "CL020",
              "source": "web"
            },
            "destination": "https://n8n.mdgintermediacoes.com.br/webhook-test/1cc7223b-e0d1-4e1c-b3a4-305bb009baf1",
            "date_time": "2025-06-17T15:17:26.371Z",
            "sender": "5519981152848@s.whatsapp.net",
            "server_url": "http://evolutionapi-dev.mdgintermediacoes.com.br",
            "apikey": "kqd8awta15phwswkxyylkn"
          },
          "webhookUrl": "https://n8n.mdgintermediacoes.com.br/webhook-test/1cc7223b-e0d1-4e1c-b3a4-305bb009baf1",
          "executionMode": "test"
        }
      }
    ]
  },
  "versionId": "651a20c5-b5c2-41d5-9fe2-6e0d78b8c717",
  "activeVersionId": null,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-06-20T19:44:24.800Z",
      "createdAt": "2025-06-20T19:44:24.800Z",
      "role": "workflow:owner",
      "workflowId": "aLCTvv39qFgT9sYE",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": null,
  "tags": []
}