Sem_Categoria/Bs0eyX0SnmxUd4br.json
{
  "updatedAt": "2026-02-24T13:16:00.434Z",
  "createdAt": "2024-12-12T13:02:47.487Z",
  "id": "Bs0eyX0SnmxUd4br",
  "name": "BKP workflow",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        752,
        288
      ],
      "typeVersion": 1,
      "id": "a3f11f11-d6a0-4c6b-bde5-852f8584b3f6",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "destinationKey": "=data",
        "options": {
          "useRawData": false
        }
      },
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "position": [
        960,
        384
      ],
      "typeVersion": 1,
      "id": "e1fcd4dc-74aa-4d21-a236-958239886c90",
      "disabled": true
    },
    {
      "parameters": {
        "functionCode": "return items[0].json.data.map(item => {\n  return {json: item}\n});"
      },
      "name": "Map",
      "type": "n8n-nodes-base.function",
      "position": [
        448,
        352
      ],
      "typeVersion": 1,
      "id": "f5e2b519-d9c8-49d5-9ea9-d25ee8865662",
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=http://n8n.mdgintermediacoes.com.br/api/v1/workflows/{{$node[\"Map\"].data[\"id\"]}}",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        752,
        448
      ],
      "notesInFlow": false,
      "typeVersion": 1,
      "id": "144b0587-05c3-4f8e-9654-f0776d2f34c9",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mA2VvZYVQXL9Gaag",
          "name": "N8N-API-KEY"
        }
      },
      "disabled": true,
      "notes": "Don't forget to add your credentials for your n8n instance in this Node. Use Basic Auth for this. "
    },
    {
      "parameters": {
        "name": "={{ $('Merge').item.json.name }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Imw6Q5pkWIw5FGpiXZ2WziDhN_rcRacJ",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Imw6Q5pkWIw5FGpiXZ2WziDhN_rcRacJ"
        },
        "options": {}
      },
      "id": "746b4383-4159-49a8-8094-c4e4831e0325",
      "name": "UpLoad",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1168,
        384
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "j7toogcecstYbeiM",
          "name": "Google Drive Gestão de Acessos "
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.mdgintermediacoes.com.br/webhook/3bbcfb3e-3e11-48a1-8adc-6ffdca7c2b39",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "-1001534937224"
            },
            {
              "name": "message",
              "value": "=Realizado Backup de {{ $json.count_id }} workflows do N8N :D "
            }
          ]
        },
        "options": {}
      },
      "id": "83aee884-3596-474c-9c99-2a5d66b9378f",
      "name": "Envio telegram Kira Dev",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1984,
        560
      ],
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "4aad8986-0178-4bbc-b0db-3695fad2085f",
      "name": "Sort",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1392,
        384
      ],
      "disabled": true
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "7de456e2-e692-450e-afdd-07c538aa58a2",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        1600,
        384
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "=http://n8n.mdgintermediacoes.com.br/api/v1/workflows",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": false,
          "timeout": 10000
        }
      },
      "id": "f8b64e11-a451-43fb-9725-83d6215004f6",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        208,
        352
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mA2VvZYVQXL9Gaag",
          "name": "N8N-API-KEY"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "3190f117-4b05-47b3-a2dd-9f2a5f2163a6",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        352
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45408678-141b-47da-bcb0-595368113bda",
              "name": "textMessage",
              "value": "=Realizado Backup de {{ $json.count_id }} workflows do N8N :D ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        384
      ],
      "id": "b8584317-2521-4451-8f95-7d04a97389b7",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "queue": "google_chat-queue",
        "options": {
          "headers": {
            "header": [
              {
                "key": "Space  ID",
                "value": "spaces/AAAA-XXOyVI"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        2000,
        384
      ],
      "id": "cf574b9e-4ea9-4ff8-8746-72a3b8b80758",
      "name": "RabbitMQ",
      "credentials": {
        "rabbitmq": {
          "id": "8S2CCfj4pf5t6xWv",
          "name": "RabbitMQ account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        784,
        -208
      ],
      "id": "e49dfa8c-624c-4a68-893f-2a03bd91d643",
      "name": "n8n",
      "retryOnFail": true,
      "credentials": {
        "n8nApi": {
          "id": "cv70TBpNYj5AFvIr",
          "name": "n8n account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "binaryPropertyName": "=data",
        "path": "F:\\Dados\\TI\\05 - BKP\\N8N",
        "options": {
          "fileName": "={{ $('n8n').item.json.name }}"
        }
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1200,
        -208
      ],
      "id": "f5bd66b0-7c45-43eb-bec2-7846cf4e1fe1",
      "name": "SSH",
      "credentials": {
        "sshPassword": {
          "id": "ycQRi5glz56987vv",
          "name": "SSH Password account SRV01"
        }
      }
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "destinationKey": "=data",
        "options": {
          "useRawData": false
        }
      },
      "name": "Move Binary Data1",
      "type": "n8n-nodes-base.moveBinaryData",
      "position": [
        1008,
        -208
      ],
      "typeVersion": 1,
      "id": "910ea8b8-37e9-4f4c-9356-6a5dc936a3c4"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "success"
            }
          ]
        },
        "options": {}
      },
      "id": "9212e113-1763-4dc3-9d02-d9ae80ab26d7",
      "name": "Summarize1",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        1360,
        -208
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "c88be831-5f3d-4af1-995c-5b41ef7583ff",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        544,
        -208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45408678-141b-47da-bcb0-595368113bda",
              "name": "textMessage",
              "value": "=Realizado Backup de {{ $json.count_success }} workflows do N8N :D ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        -208
      ],
      "id": "fde0a77d-6033-40d6-bf40-056a0a4aec6d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "queue": "google_chat-queue",
        "options": {
          "headers": {
            "header": [
              {
                "key": "Space  ID",
                "value": "spaces/AAAA-XXOyVI"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        1840,
        -208
      ],
      "id": "76184d92-561f-49f6-be56-b495d74ce399",
      "name": "RabbitMQ1",
      "credentials": {
        "rabbitmq": {
          "id": "8S2CCfj4pf5t6xWv",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "content": "##OLD\n** Backup direto para google Driver",
        "height": 640,
        "width": 2320,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        128
      ],
      "typeVersion": 1,
      "id": "e5a41625-1c45-40c3-bcf9-df728164d12d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## BKP\n** Backup local \\\\srv01\\dados\\TI\\05 - BKP\\N8N",
        "height": 400,
        "width": 1760,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        -368
      ],
      "typeVersion": 1,
      "id": "a168a6b5-5d8d-4eed-ba8a-9dbdf4a9fe87",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2064,
        -208
      ],
      "id": "81caffd2-0ce2-4ea1-baf8-33f07fd00401",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "Map": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "UpLoad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpLoad": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "RabbitMQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Move Binary Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH": {
      "main": [
        [
          {
            "node": "Summarize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data1": {
      "main": [
        [
          {
            "node": "SSH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "RabbitMQ1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": [],
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "76d9333a-574e-4a3d-b6a0-abade4ecd545",
  "activeVersionId": "76d9333a-574e-4a3d-b6a0-abade4ecd545",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2024-12-12T13:02:47.487Z",
      "createdAt": "2024-12-12T13:02:47.487Z",
      "role": "workflow:owner",
      "workflowId": "Bs0eyX0SnmxUd4br",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-24T13:16:02.736Z",
    "createdAt": "2026-02-24T13:16:00.436Z",
    "versionId": "76d9333a-574e-4a3d-b6a0-abade4ecd545",
    "workflowId": "Bs0eyX0SnmxUd4br",
    "nodes": [
      {
        "parameters": {
          "mode": "mergeByIndex"
        },
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "position": [
          752,
          288
        ],
        "typeVersion": 1,
        "id": "a3f11f11-d6a0-4c6b-bde5-852f8584b3f6",
        "disabled": true
      },
      {
        "parameters": {
          "mode": "jsonToBinary",
          "destinationKey": "=data",
          "options": {
            "useRawData": false
          }
        },
        "name": "Move Binary Data",
        "type": "n8n-nodes-base.moveBinaryData",
        "position": [
          960,
          384
        ],
        "typeVersion": 1,
        "id": "e1fcd4dc-74aa-4d21-a236-958239886c90",
        "disabled": true
      },
      {
        "parameters": {
          "functionCode": "return items[0].json.data.map(item => {\n  return {json: item}\n});"
        },
        "name": "Map",
        "type": "n8n-nodes-base.function",
        "position": [
          448,
          352
        ],
        "typeVersion": 1,
        "id": "f5e2b519-d9c8-49d5-9ea9-d25ee8865662",
        "disabled": true
      },
      {
        "parameters": {
          "authentication": "headerAuth",
          "url": "=http://n8n.mdgintermediacoes.com.br/api/v1/workflows/{{$node[\"Map\"].data[\"id\"]}}",
          "allowUnauthorizedCerts": true,
          "options": {}
        },
        "name": "Get Workflow",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          752,
          448
        ],
        "notesInFlow": false,
        "typeVersion": 1,
        "id": "144b0587-05c3-4f8e-9654-f0776d2f34c9",
        "credentials": {
          "httpHeaderAuth": {
            "id": "mA2VvZYVQXL9Gaag",
            "name": "N8N-API-KEY"
          }
        },
        "disabled": true,
        "notes": "Don't forget to add your credentials for your n8n instance in this Node. Use Basic Auth for this. "
      },
      {
        "parameters": {
          "name": "={{ $('Merge').item.json.name }}",
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1Imw6Q5pkWIw5FGpiXZ2WziDhN_rcRacJ",
            "mode": "list",
            "cachedResultName": "N8N",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1Imw6Q5pkWIw5FGpiXZ2WziDhN_rcRacJ"
          },
          "options": {}
        },
        "id": "746b4383-4159-49a8-8094-c4e4831e0325",
        "name": "UpLoad",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1168,
          384
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "j7toogcecstYbeiM",
            "name": "Google Drive Gestão de Acessos "
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n.mdgintermediacoes.com.br/webhook/3bbcfb3e-3e11-48a1-8adc-6ffdca7c2b39",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "-1001534937224"
              },
              {
                "name": "message",
                "value": "=Realizado Backup de {{ $json.count_id }} workflows do N8N :D "
              }
            ]
          },
          "options": {}
        },
        "id": "83aee884-3596-474c-9c99-2a5d66b9378f",
        "name": "Envio telegram Kira Dev",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1984,
          560
        ],
        "executeOnce": true,
        "disabled": true
      },
      {
        "parameters": {
          "sortFieldsUi": {
            "sortField": [
              {
                "fieldName": "id"
              }
            ]
          },
          "options": {}
        },
        "id": "4aad8986-0178-4bbc-b0db-3695fad2085f",
        "name": "Sort",
        "type": "n8n-nodes-base.sort",
        "typeVersion": 1,
        "position": [
          1392,
          384
        ],
        "disabled": true
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "field": "id"
              }
            ]
          },
          "options": {}
        },
        "id": "7de456e2-e692-450e-afdd-07c538aa58a2",
        "name": "Summarize",
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1,
        "position": [
          1600,
          384
        ],
        "disabled": true
      },
      {
        "parameters": {
          "url": "=http://n8n.mdgintermediacoes.com.br/api/v1/workflows",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "allowUnauthorizedCerts": false,
            "timeout": 10000
          }
        },
        "id": "f8b64e11-a451-43fb-9725-83d6215004f6",
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          208,
          352
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "mA2VvZYVQXL9Gaag",
            "name": "N8N-API-KEY"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 17,
                "triggerAtMinute": 30
              }
            ]
          }
        },
        "id": "3190f117-4b05-47b3-a2dd-9f2a5f2163a6",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          352
        ],
        "disabled": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "45408678-141b-47da-bcb0-595368113bda",
                "name": "textMessage",
                "value": "=Realizado Backup de {{ $json.count_id }} workflows do N8N :D ",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1824,
          384
        ],
        "id": "b8584317-2521-4451-8f95-7d04a97389b7",
        "name": "Edit Fields",
        "disabled": true
      },
      {
        "parameters": {
          "queue": "google_chat-queue",
          "options": {
            "headers": {
              "header": [
                {
                  "key": "Space  ID",
                  "value": "spaces/AAAA-XXOyVI"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.rabbitmq",
        "typeVersion": 1.1,
        "position": [
          2000,
          384
        ],
        "id": "cf574b9e-4ea9-4ff8-8746-72a3b8b80758",
        "name": "RabbitMQ",
        "credentials": {
          "rabbitmq": {
            "id": "8S2CCfj4pf5t6xWv",
            "name": "RabbitMQ account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          784,
          -208
        ],
        "id": "e49dfa8c-624c-4a68-893f-2a03bd91d643",
        "name": "n8n",
        "retryOnFail": true,
        "credentials": {
          "n8nApi": {
            "id": "cv70TBpNYj5AFvIr",
            "name": "n8n account 2"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "binaryPropertyName": "=data",
          "path": "F:\\Dados\\TI\\05 - BKP\\N8N",
          "options": {
            "fileName": "={{ $('n8n').item.json.name }}"
          }
        },
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          1200,
          -208
        ],
        "id": "f5bd66b0-7c45-43eb-bec2-7846cf4e1fe1",
        "name": "SSH",
        "credentials": {
          "sshPassword": {
            "id": "ycQRi5glz56987vv",
            "name": "SSH Password account SRV01"
          }
        }
      },
      {
        "parameters": {
          "mode": "jsonToBinary",
          "destinationKey": "=data",
          "options": {
            "useRawData": false
          }
        },
        "name": "Move Binary Data1",
        "type": "n8n-nodes-base.moveBinaryData",
        "position": [
          1008,
          -208
        ],
        "typeVersion": 1,
        "id": "910ea8b8-37e9-4f4c-9356-6a5dc936a3c4"
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "field": "success"
              }
            ]
          },
          "options": {}
        },
        "id": "9212e113-1763-4dc3-9d02-d9ae80ab26d7",
        "name": "Summarize1",
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1,
        "position": [
          1360,
          -208
        ]
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 17,
                "triggerAtMinute": 30
              }
            ]
          }
        },
        "id": "c88be831-5f3d-4af1-995c-5b41ef7583ff",
        "name": "Schedule Trigger1",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          544,
          -208
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "45408678-141b-47da-bcb0-595368113bda",
                "name": "textMessage",
                "value": "=Realizado Backup de {{ $json.count_success }} workflows do N8N :D ",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1584,
          -208
        ],
        "id": "fde0a77d-6033-40d6-bf40-056a0a4aec6d",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "queue": "google_chat-queue",
          "options": {
            "headers": {
              "header": [
                {
                  "key": "Space  ID",
                  "value": "spaces/AAAA-XXOyVI"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.rabbitmq",
        "typeVersion": 1.1,
        "position": [
          1840,
          -208
        ],
        "id": "76184d92-561f-49f6-be56-b495d74ce399",
        "name": "RabbitMQ1",
        "credentials": {
          "rabbitmq": {
            "id": "8S2CCfj4pf5t6xWv",
            "name": "RabbitMQ account"
          }
        }
      },
      {
        "parameters": {
          "content": "##OLD\n** Backup direto para google Driver",
          "height": 640,
          "width": 2320,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -128,
          128
        ],
        "typeVersion": 1,
        "id": "e5a41625-1c45-40c3-bcf9-df728164d12d",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## BKP\n** Backup local \\\\srv01\\dados\\TI\\05 - BKP\\N8N",
          "height": 400,
          "width": 1760,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          480,
          -368
        ],
        "typeVersion": 1,
        "id": "a168a6b5-5d8d-4eed-ba8a-9dbdf4a9fe87",
        "name": "Sticky Note1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          2064,
          -208
        ],
        "id": "81caffd2-0ce2-4ea1-baf8-33f07fd00401",
        "name": "No Operation, do nothing"
      }
    ],
    "connections": {
      "Map": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Move Binary Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Workflow": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Move Binary Data": {
        "main": [
          [
            {
              "node": "UpLoad",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UpLoad": {
        "main": [
          [
            {
              "node": "Sort",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sort": {
        "main": [
          [
            {
              "node": "Summarize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Map",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "RabbitMQ",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "n8n": {
        "main": [
          [
            {
              "node": "Move Binary Data1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SSH": {
        "main": [
          [
            {
              "node": "Summarize1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Move Binary Data1": {
        "main": [
          [
            {
              "node": "SSH",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize1": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger1": {
        "main": [
          [
            {
              "node": "n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "RabbitMQ1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "RabbitMQ1": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Suporte MDG Suporte",
    "name": "Version 76d9333a",
    "description": "",
    "autosaved": true
  },
  "tags": []
}