Sem_Categoria/cd94ec58-9c80-48ca-9015-f8c647d7889b.json
{
  "updatedAt": "2026-05-20T19:23:31.288Z",
  "createdAt": "2026-05-20T19:23:31.288Z",
  "id": "cd94ec58-9c80-48ca-9015-f8c647d7889b",
  "name": "Emma WhatsApp Inbound",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "emma-whatsapp-inbound",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "7f1a16d7-5fe4-40dd-b3ec-4d9a3a509821",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ],
      "webhookId": "emma-whatsapp-inbound"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.3.60.49:3000/api/messages/webhook",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "={{ $json.body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3599ce93-0557-46b2-8f1b-7d5575b5710f",
      "name": "Repassar ChatRox",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Extrair dados e logar\nconst data = $input.first().json;\nconst msg = data?.body?.data?.message?.conversation || '[outro tipo]';\nconst from = data?.body?.data?.key?.remoteJid || '?';\nconsole.log(`WhatsApp de ${from}: ${msg}`);\nreturn $input.all();\n"
      },
      "id": "3d7fa6df-48e2-481e-9245-0bc5eda7dbec",
      "name": "Log",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolutionapi.mdgintermediacoes.com.br/message/sendText/CL193B/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.body.data.key.remoteJid.split('@')[0] }}"
            },
            {
              "name": "text",
              "value": "={{ 'Olá! Recebi sua mensagem. Aqui é a Emma do Ben+! Como posso ajudar?' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7d67436f-33b8-4189-a3e1-bf754ea14edb",
      "name": "Responder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "u7nL5NaclniYBklz",
          "name": "EvolutionAPI- AGENT_L1093L8W - cl121a"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.3.60.49:3000/api/messages/webhook",
        "authentication": "none",
        "sendBody": true,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-evolution-secret",
              "value": "B6D711FCDE4D4FD5936544120E713976"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "event",
              "value": "={{ $json.body.event }}"
            },
            {
              "name": "instance",
              "value": "={{ $json.body.instance }}"
            },
            {
              "name": "data",
              "value": "={{ $json.body.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d3a07406-ac37-4d9b-8918-498c0ca87156",
      "name": "Repassar ChatRox",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Repassar ChatRox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repassar ChatRox": {
      "main": [
        [
          {
            "node": "Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": null,
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "d3af8217-819a-4c98-bca3-46cad1f995b1",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [],
  "activeVersion": null,
  "tags": []
}