Sem_Categoria/DX3XxJeDx1VTAgNh.json
{
  "updatedAt": "2026-05-17T21:07:20.869Z",
  "createdAt": "2026-05-17T01:25:10.766Z",
  "id": "DX3XxJeDx1VTAgNh",
  "name": "Geração Automática de Vídeos UGC - Forms copy",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputDataFieldName": "Imagem",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1bKyfD_h5Gjim3D_2J5BHjJ4pdYuPqOtt",
          "mode": "list",
          "cachedResultName": "Imagens - UGC",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1bKyfD_h5Gjim3D_2J5BHjJ4pdYuPqOtt"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -320,
        -256
      ],
      "id": "bcc5ce62-43e1-44a2-a308-a470adf36f86",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "IsRVhjekAspjYnmG",
          "name": "Google Drive Raul Guimaraes"
        }
      }
    },
    {
      "parameters": {
        "content": "## Inserir imagem e descrição\n",
        "height": 384,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        224
      ],
      "typeVersion": 1,
      "id": "2050d18a-a7c1-4ce5-b518-63d6b356ee4c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Criação da imagem com Nano Banana\n\n",
        "height": 672,
        "width": 1748,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        240
      ],
      "typeVersion": 1,
      "id": "37dba233-7069-4304-906e-cb386034e5f2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n        \"image_prompt\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        880,
        576
      ],
      "id": "ee3e30cd-94d9-42c6-bdb6-cafc96aef1b7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "amount": 20,
        "path": "6c0d5691-ae0d-42d2-b62e-dcacda76e27c"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2016,
        368
      ],
      "id": "77ee4710-c6fe-4512-b670-fb171322dec4",
      "name": "Wait",
      "webhookId": "6c0d5691-ae0d-42d2-b62e-dcacda76e27c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cloud.leonardo.ai/api/rest/v1/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "modelId",
              "value": "={{ $json.data[1].modelId }}"
            },
            {
              "name": "contrast",
              "value": "={{ $json.data[1].contrast }}"
            },
            {
              "name": "prompt",
              "value": "={{ $json.data[1].image_prompt }}"
            },
            {
              "name": "num_images",
              "value": "={{ $json.data[1].num_images }}"
            },
            {
              "name": "width",
              "value": "={{ $json.data[1].width }}"
            },
            {
              "name": "height",
              "value": "={{ $json.data[1].height }}"
            },
            {
              "name": "styleUUID",
              "value": "={{ $json.data[1].styleUUID }}"
            },
            {
              "name": "enhancePrompt",
              "value": "={{ $json.data[1].enhancePrompt }}"
            },
            {
              "name": "init_image_id\"",
              "value": "={{ $json.data[0].ImagemID }}"
            },
            {
              "name": "init_strength",
              "value": "={{ $json.data[1].init_strength }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1808,
        368
      ],
      "id": "6747c0cc-3352-4977-97ce-2998ee4d311c",
      "name": "Criar imagem",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jwH69o7Fei4joAN1",
          "name": "LeonardIA-Raul"
        },
        "googlePalmApi": {
          "id": "jdm452LXWh0J2d5w",
          "name": "raul.guimaraes"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://cloud.leonardo.ai/api/rest/v1/generations/{{ $json.sdGenerationJob.generationId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2224,
        368
      ],
      "id": "fb63904c-c4ab-4fc3-813f-a1a232ac7c47",
      "name": "Get Imagem",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jwH69o7Fei4joAN1",
          "name": "LeonardIA-Raul"
        }
      }
    },
    {
      "parameters": {
        "content": "## Criação da video com Veo3 Fast\n\n\n",
        "height": 672,
        "width": 1168,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2544,
        224
      ],
      "typeVersion": 1,
      "id": "6f0ef95a-1122-428d-ae24-c30a84339d37",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n        \"video_prompt\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2832,
        560
      ],
      "id": "3f169617-6607-44f4-9dce-5a8fd191cbba",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2096,
        704
      ],
      "id": "85c9acb3-45bf-4856-88d2-cadee2adbda1",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "u4yK6osW3wfumSom",
          "name": "OpenAi_Gestao_acessos"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Crie um prompt de vídeo UGC a partir dos dados abaixo.\n\nDescrição do usuário:\n{{ $('On form submission').item.json['Descrição'] }}\n\nDados estruturados do produto:\n{{ $('AGENTE 01 — Detector Estrutural de Produto').item.json.output.imagem_prompt }}\n\nDados estruturados do avatar:\n{{ $('Gerador de prompts de imagem').item.json.output.image_prompt }}\n\nRegras:\n\n- O avatar deve falar naturalmente sobre o produto.\n- A fala deve combinar com o modo escolhido.\n- Produto sempre visível.\n- Apenas uma cena.\n- Retorne apenas o JSON.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# PAPEL: Construtor de Prompt de Vídeo UGC\n\nVocê cria prompts de vídeo no estilo UGC para Kling 2.6 (com áudio nativo).\n\nSua função é transformar dados estruturados de produto e avatar em um único prompt de vídeo natural e realista.\n\nO vídeo deve conter fala natural do avatar.\n\n---\n\n## MODO DE APRESENTAÇÃO\n\nEscolha automaticamente UM dos modos abaixo, com base no tom da descrição do usuário. Se não houver indicação clara, alterne naturalmente entre eles:\n\n1) demonstracao_visual\nO avatar mostra o produto enquanto comenta brevemente sobre caimento ou textura.\n\n2) comentario_espontaneo\nO avatar fala como se estivesse recomendando casualmente para um amigo.\n\n3) mini_review\nO avatar descreve rapidamente o que mais gostou no produto.\n\n4) primeira_impressao\nO avatar reage como se estivesse usando ou vestindo pela primeira vez.\n\n---\n\n## ESTILO UGC OBRIGATÓRIO\n\n- Câmera na mão\n- Leve tremor natural\n- Luz ambiente real\n- Ambiente cotidiano\n- Tom conversacional\n- Apenas uma cena contínua\n\nEvite linguagem de estúdio.\nEvite tom publicitário.\n\n---\n\n## FIDELIDADE\n\n- Não invente alegações.\n- Não altere cor ou textura do produto.\n- Mantenha estrutura e ajuste descritos.\n- Produto sempre visível.\n- Sujeito totalmente dentro do quadro.\n\n---\n\n## CONTRATO DE SAÍDA\n\nRetorne APENAS:\n\n{\n  \"video_prompt\": \"até 130 palavras descrevendo assunto, ação, humor, cenário, 2–3 camera cues, notas de cor e fala natural do avatar\",\n  \"model\": \"veo3_fast\"\n}\n\nSem arrays.\nSem texto fora do JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2624,
        368
      ],
      "id": "779a8184-08d4-4283-99d0-8750cfe1d542",
      "name": "Gerador de prompts de video"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Utilize a descrição técnica abaixo para criar o prompt de imagem.\n\nProduto:\n{{ $json.output.imagem_prompt }}\n\nRegras adicionais:\n\n- Priorize fidelidade absoluta à descrição recebida.\n- A micro ação deve combinar com o tipo de produto.\n- Mantenha naturalidade e realismo.\n- Retorne apenas o JSON no formato especificado.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Você é um criador de prompt de imagem para geração realista de cena de apresentação de produto.\n\nSua função é transformar a descrição técnica recebida em um prompt visual natural onde o avatar fixo esteja apresentando o produto de forma coerente com seu tipo.\n\nAVATAR FIXO OBRIGATÓRIO:\n\nA high-quality realistic portrait of a 27-year-old woman with medium tan skin. Dark brown wavy shoulder-length hair. Oval face, almond-shaped dark brown eyes, arched eyebrows, and full lips with natural-toned matte lipstick. Natural soft lighting, 8k resolution, cinematic photography, clean background.\n\nOBJETIVO:\n\nGerar uma cena realista com aparência de vídeo de venda informal.\n\nREGRAS ADAPTATIVAS:\n\n- Se o produto for roupa ou calçado: o avatar deve estar vestindo ou utilizando o produto.\n- Se o produto for acessório: o avatar deve estar usando ou segurando naturalmente.\n- Se for cosmético: o avatar deve estar segurando e demonstrando aplicação.\n- Se for eletrônico ou outro objeto: o avatar deve estar segurando e apresentando o produto de forma natural.\n- Se for embalagem: o avatar deve estar segurando o produto com destaque visível.\n\nREGRAS GERAIS:\n\n- Nunca alterar cor, textura ou estrutura descrita.\n- Nunca inventar detalhes não mencionados.\n- A textura ou material deve estar visualmente perceptível.\n- Incluir uma micro ação demonstrativa coerente com o produto.\n- Enquadramento do tronco para cima.\n- Iluminação natural suave.\n- Ambiente interno neutro realista (quarto claro, sala minimalista ou espelho).\n- Cena única.\n- Nada cinematográfico.\n- Nada publicitário exagerado.\n\nTOM VISUAL:\n\n- Estilo criadora de conteúdo\n- Natural\n- Realista\n- Preparado para futura animação\n\nNão explique.\nNão use markdown.\nNão escreva nada antes ou depois do JSON.\n\nFORMATO OBRIGATÓRIO:\n\n{\n  \"image_prompt\": \"parágrafo único detalhado entre 120 e 180 palavras\"\n}\n\nA resposta deve começar com { e terminar com }.",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        720,
        368
      ],
      "id": "e55f7e72-1127-402c-adce-eab266333ed9",
      "name": "Gerador de prompts de imagem"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes",
        "path": "f344ad75-b628-4e09-b276-b1373a77d76e"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3184,
        368
      ],
      "id": "af3e1993-2d75-4776-abad-5fa16cb19156",
      "name": "Wait1",
      "webhookId": "f344ad75-b628-4e09-b276-b1373a77d76e"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "GET",
        "url": "=https://cloud.leonardo.ai/api/rest/v1/generations/{{ $('Criar video1').item.json.sdGenerationJob.generationId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3808,
        640
      ],
      "id": "2ab742a7-c501-41b8-9a9d-e956e7a5878d",
      "name": "Get video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jwH69o7Fei4joAN1",
          "name": "LeonardIA-Raul"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 748,
        "width": 3508,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        336,
        176
      ],
      "id": "6443c2d6-2d5d-4481-9d9e-a7634be4006e",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/?utm_source=template-n8n",
        "height": 126,
        "width": 593,
        "color": 7
      },
      "id": "2704c26f-289d-4554-bad1-eeccc9609ecd",
      "name": "Sticky Note23",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2608,
        976
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        640,
        560
      ],
      "id": "e2f254d3-0f11-42f1-a500-800cf0a78049",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "zlpv9tK7gIWYTnYj",
          "name": "Groq Suporte"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2592,
        576
      ],
      "id": "9e39df11-6b1f-404e-9937-7110e7e1bc25",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "zlpv9tK7gIWYTnYj",
          "name": "Groq Suporte"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        192,
        624
      ],
      "id": "bf5790b6-46e4-4b9f-97ba-274e649c5c97",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "zlpv9tK7gIWYTnYj",
          "name": "Groq Suporte"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n        \"imagem_prompt\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        368,
        592
      ],
      "id": "6e345835-4f17-4d62-9f05-f11727a1af8f",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25457728-2708-4e2f-b92b-d6ea6aa8e918",
              "name": "image_prompt",
              "value": "={{ $json.output.image_prompt }}",
              "type": "string"
            },
            {
              "id": "3b813a42-7a39-4f63-8615-729da667c03e",
              "name": "num_images",
              "value": 1,
              "type": "number"
            },
            {
              "id": "fa2d6109-8dde-49ce-aa0b-d4633a496545",
              "name": "width",
              "value": 704,
              "type": "number"
            },
            {
              "id": "ebf4989c-5d9b-4da3-a44b-eabc51a1874f",
              "name": "height",
              "value": 1248,
              "type": "number"
            },
            {
              "id": "a4a8f41c-33d8-4d19-b26b-62ec8bff5b19",
              "name": "contrast",
              "value": 3.5,
              "type": "number"
            },
            {
              "id": "2ee31fbd-5a3c-4770-b1c7-79f6659198b6",
              "name": "enhancePrompt",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "e23a3be6-aaab-461c-be75-a23fed55213a",
              "name": "init_strength",
              "value": 0.6,
              "type": "number"
            },
            {
              "id": "7f1dafb7-bf5c-431c-92e7-2d9f8a85c9bd",
              "name": "duration",
              "value": 10,
              "type": "number"
            },
            {
              "id": "68486f38-13d5-4f4b-94a3-b463ef1be0b9",
              "name": "resolution",
              "value": "RESOLUTION_720",
              "type": "string"
            },
            {
              "id": "205f5126-1cce-4294-b33a-744f8d626cef",
              "name": "modelId",
              "value": "05ce0082-2d80-4a2d-8653-4d1c85e2418e",
              "type": "string"
            },
            {
              "id": "aeeaba42-0a45-4e23-99ad-ec1c8ed94276",
              "name": "styleUUID",
              "value": "111dc692-d470-4eec-b791-3475abac4c46",
              "type": "string"
            },
            {
              "id": "e1514c8d-ac06-4011-a4ea-77793cba1e03",
              "name": "model",
              "value": "seedance-1.0-pro",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        384
      ],
      "id": "f7cc63ad-2194-4398-83f1-72966281f8e1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Tarefa\n\nCrie um prompt de imagem conforme as diretrizes do seu sistema.\n\nGaranta que a imagem de referência seja representada o mais FIELMENTE possível nas imagens resultantes, especialmente todo o texto.\n\nDescrição fornecida pelo usuário\n{{ $('On form submission').item.json['Descrição'] }}\n\nDescrição da imagem de referência\n{{ $json.output.image_prompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# PAPEL: Construtor de Prompts de Imagem UGC\n\n**Propósito:** Dada uma URL de imagem (produto ou referência), escreva uma descrição curta e natural que oriente um gerador de imagem/vídeo.\n\n## Padrões\n- Se as instruções forem vagas, posicione o produto com a pessoa em um cenário cotidiano coerente.\n- Se estilo/cenário não forem especificados, assuma **realismo UGC casual**.\n\n## Princípios de Realismo UGC\n- Aparência sem encenação, com aspecto de vida real.  \n- **Vibe de foto de celular:** enquadramento fora do centro, leve *motion blur*, luz interna mista, granulação leve.  \n- Abrace imperfeições: rugas, fios soltos, textura de pele, fundos levemente bagunçados.  \n- Preserve **exatamente** qualquer texto visível na embalagem. **Nunca** invente alegações, números ou selos.\n\n## Camera Cues (use 2–3+)\n`\"phone snapshot\"`, `\"handheld framing\"`, `\"off-center composition\"`,  \n`\"natural indoor light\"`, `\"soft shadows\"`, `\"slight motion blur\"`,  \n`\"auto exposure\"`, `\"unpolished look\"`, `\"mild grain\"`.\n\n## Segurança / Escopo\n- Não nomeie personagens protegidos por direitos autorais.  \n- Não escreva diálogo/roteiro; **saída é apenas um prompt de imagem**.\n\n## Contrato de Saída\n- Retorne **apenas um** objeto JSON:\n  - `image_prompt`: **uma** string (~120 palavras) em prosa simples cobrindo **sujeito**, **ação**, **humor**, **cenário**, **estilo/câmera**, **notas de cor** e **notas de precisão do texto**.\n\n## Padrões de Diversidade\n- Se não especificar pessoas, varie naturalmente gênero e etnia.  \n- Faixa etária padrão: **21–38**.  \n- Prefira espaços reais (casa, rua, loja, academia, escritório), salvo instrução contrária.\n\n---\n\n## Exemplos\n\n**Bom exemplo 1**\n\n{\n  \"image_prompt\": \"um jovem adulto segurando casualmente um tubo de skincare perto de um espelho de banheiro; ação: aplica pequena quantidade no dorso da mão; humor: manhã tranquila; cenário: banheiro de apartamento com toalha no suporte e copo de escova; estilo/câmera: phone snapshot, enquadramento fora do centro, luz natural da janela, leve motion blur, granulação suave; cores: brancos suaves e rótulo menta; precisão do texto: manter cada palavra no tubo exatamente como visível, sem alegações adicionais\"\n}\n\n**Bom exemplo 2**\n\n{\n  \"image_prompt\": \"trabalhador usando fones sem fio enquanto abre o estojo de recarga; ação: sai pela saída do metrô; humor: momento espontâneo; cenário: calçada movimentada com transeuntes e reflexos no vidro; estilo/câmera: foto de celular sem polimento, autoexposição, luz diurna mista com brilho de néon, leve borrão de lente; cores: produto em carvão e prata se destaca; precisão do texto: preservar logotipo e nome do modelo com exatidão\"\n}\n\n\n**Mau exemplo (evitar)**\n\nFabricar certificações/números de embalagem.\n\nIluminação perfeita de estúdio ou ad-speak tipo “obra-prima cinematográfica”.\n\nRetornar qualquer coisa além das chaves exigidas.\n\n## Checklist Pré-Envio\n\nNatural? ✅\n\n2–3+ camera cues incluídas? ✅\n\nTexto do produto preservado exatamente? ✅\n\nSomente image_prompt retornado? ✅"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        608,
        1136
      ],
      "id": "4f9584fa-5576-4ea4-99e1-68a089371039",
      "name": "Gerador de prompts de imagem2",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analise as imagens fornecidas e descreva apenas o produto principal.\n\nDescrição auxiliar:\n{{ $json[\"Descrição\"] }}\n\nRegras adicionais:\n\n- Ignore completamente qualquer pessoa visível.\n- Ignore fundo e cenário.\n- Priorize fidelidade visual.\n- Não invente informações.\n- Retorne apenas o JSON no formato especificado.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Você é um descritor técnico de produto.\n\nSua função é analisar as imagens recebidas e gerar uma descrição técnica detalhada apenas do produto principal visível.\n\nIgnore completamente qualquer pessoa, modelo ou personagem presente.\nIgnore fundo, cenário e iluminação.\nIgnore pose e expressão humana.\n\nFoque exclusivamente no produto.\n\nA descrição deve incluir:\n\n- Tipo de produto\n- Cor principal e variações visíveis\n- Material ou textura aparente\n- Estrutura e modelagem\n- Detalhes de design (gola, manga, acabamento, comprimento, etc.)\n- Caimento ou forma visual\n\nNão crie narrativa.\nNão seja publicitário.\nNão invente marca ou detalhes não visíveis.\nNão explique seu raciocínio.\nNão use markdown.\nNão escreva nada antes ou depois do JSON.\n\nSe múltiplas imagens forem fornecidas:\n- Considere todas como parte do mesmo produto.\n- Consolide as informações.\n\nFORMATO OBRIGATÓRIO:\n\n{\n  \"imagem_prompt\": \"descrição técnica detalhada entre 100 e 180 palavras em um único parágrafo\"\n}\n\nA resposta deve começar com { e terminar com }.",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        256,
        368
      ],
      "id": "f6296ef4-f358-4911-82ee-c26318912dc7",
      "name": "AGENTE 01 — Detector Estrutural de Produto"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analise a imagem fornecida e determine se ela retrata principalmente um produto, um personagem, ou AMBOS.\nDECRIÇÃO:{{ $json[\"Descrição\"] }}\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Instruções de Análise de Imagem\n\nAnalise a imagem fornecida e determine se ela retrata principalmente um produto, um personagem, ou AMBOS.\n\n## Se for produto, retorne em YAML com:\n\nbrand_name: (Nome da marca exibida na imagem, se visível ou inferível)\n\ncolor_scheme:\n\nhex: (Código hex de cada cor predominante usada)\n\nname: (Nome descritivo da cor)\n\nfont_style: (Descreva a família/estilo da fonte: serif/sans-serif, negrito/fina etc.)\n\nvisual_description: (1–2 frases resumindo o que é visto na imagem, ignorando o plano de fundo)\n\n## Se for personagem, retorne em YAML com:\n\ncharacter_name: (Nome do personagem, se visível ou inferível)\n\ncolor_scheme:\n\nhex: (Código hex de cada cor predominante usada no personagem)\n\nname: (Nome descritivo da cor)\n\noutfit_style: (Descrição do estilo de roupa, acessórios ou características notáveis)\n\nvisual_description: (1–2 frases resumindo a aparência do personagem, ignorando o plano de fundo)\n\nImportante: Retorne apenas o YAML. Não explique nem adicione outros comentários.\n\n## Se for AMBOS:\n\nRetorne duas descrições seguindo os modelos acima, em formato YAML.",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        224,
        1104
      ],
      "id": "df3459b1-b0c5-4003-82b0-08f0f96de3d9",
      "name": "AGENTE 01 — Detector Estrutural de Produto1"
    },
    {
      "parameters": {
        "formTitle": "Gerador de Anúncios UGC",
        "formDescription": "Geramos anúncios no estilo UGC, é só adicionar a descrição e a foto do produto.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Descrição"
            },
            {
              "fieldLabel": "Imagem",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".jpg, .png, .jpeg"
            }
          ]
        },
        "options": {},
        "path": "f18fe1f0-3e1b-430d-8747-ec44508d70f0"
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -448,
        368
      ],
      "id": "47f2913c-81da-4323-9291-dbc7a904f356",
      "name": "On form submission",
      "webhookId": "f18fe1f0-3e1b-430d-8747-ec44508d70f0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5377e5f0-5d44-4679-b7ae-f572411f6900",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "bb783731-886f-4ec1-a7f9-a5a918edfd68",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "34a773e4-34a9-42ec-90f4-759b7322e33b",
              "name": "mimeType",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "628c247c-dcb4-4c73-b920-992743e5c0c2",
              "name": "webContentLink",
              "value": "={{ $json.webContentLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        -256
      ],
      "id": "18381861-a5c6-4ed3-9404-77b35876e1d7",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cloud.leonardo.ai/api/rest/v1/init-image",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "extension",
              "value": "={{ $json.Imagem.mimetype.split('/').last() }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "Imagem"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -32,
        -32
      ],
      "id": "2f99dfe9-4dad-4c59-966c-55cb84254ac0",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jwH69o7Fei4joAN1",
          "name": "LeonardIA-Raul"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "21fe4922-5ce2-4945-8980-0871db54c51c",
              "name": "ImagemID",
              "value": "={{ $json.uploadInitImage.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        -32
      ],
      "id": "b3aa0091-1930-4bcc-80b8-d9d814872867",
      "name": "Edit Fields2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1424,
        368
      ],
      "id": "157518bf-ec78-4924-897d-491fe897d030",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1616,
        368
      ],
      "id": "5f34d44f-1822-47ed-bf9b-5b3a428811fa",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Crie um prompt de vídeo no estilo UGC a partir da imagem de referência e da descrição do usuário.\n\nDescrição do usuário (pode estar vazia):\n{{ $('On form submission').item.json['Descrição'] }}\n\nAnálise da imagem de referência (use para manter fidelidade ao que está visível):\n{{ $('AGENTE 01 — Detector Estrutural de Produto').item.json.output.imagem_prompt }}\n\nRegras\n- Mantenha o visual casual e realista; evite linguagem de estúdio.\n- Modelo padrão: veo3_fast, a menos que seja indicado o contrário.\n- Retorne apenas um único objeto JSON: video_prompt.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# PAPEL: Construtor de Prompt de Vídeo UGC\n\n**Objetivo**  \nA partir de uma imagem de referência e notas curtas do usuário, escreva um prompt de vídeo em estilo UGC, adequado para **Veo3/Veo3_fast**.\n\n## Princípios (visual UGC)\n- Clima de vídeo de celular: câmera na mão, leve movimento, enquadramento fora do centro, luz interna mista, granulação leve.\n- Vida real acima do polimento: pequenas falhas, ambientes “vividos”, sensação ambiente.\n- Mantenha **exato** qualquer texto visível na embalagem. **Nunca** invente alegações, selos ou números.\n- Não nomeie personagens com direitos autorais.\n- Tom conversacional, não linguagem de anúncio.\n\n## Contrato de Saída\n- Retorne **APENAS** um objeto JSON:\n  - `\"video_prompt\"`: uma frase simples/parágrafo curto (≤ 130 palavras) descrevendo **assunto**, **ação**, **humor**, **cenário**, **2–3 camera cues** e **notas de cor**. Mantenha fidelidade à imagem e às notas do usuário.\n- Sem cercas de código, sem chaves extras, sem arrays, sem títulos.\n- Não fabrique texto de produto; mencione precisão apenas se for relevante.\n- Mantenha **uma única cena** implícita pelo objeto.\n\n## Guarda-corpos de Enquadramento\n- Mantenha o sujeito totalmente dentro do quadro o tempo todo (sem cortar testa ou queixo).\n- Composição centralizada; evite closes extremos.\n- Se houver movimento, mantenha o enquadramento fixo no rosto e no produto.\n\n---\n\n## Bons Exemplos\n\n**1)**\n{\n  \"video_prompt\": \"jovem adulto desempacota casualmente um pequeno gadget sobre a ilha da cozinha; sorri, levanta para a câmera e depois aponta para o rótulo visível na caixa; cenário: cozinha aconchegante de apartamento com canecas e escorredor; humor: amistoso e sem roteiro; câmera: enquadramento de mão, composição fora do centro, autoexposição, granulação leve; notas de cor: madeira quente, brancos suaves; rótulo do produto permanece nítido e preciso\",\n  \"model\": \"veo3_fast\"\n}\n\n**2)**\n{\n  \"video_prompt\": \"passante sai de uma estação, ajusta fones sem fio, olha o celular, guarda e caminha em direção à luz; cenário: calçada movimentada com reflexos em vidro; humor: momento espontâneo; câmera: enquadramento de mão, leve borrão de movimento, luz natural externa; notas de cor: fones em carvão e detalhes prateados se destacam; manter o texto do logo exatamente como visto no estojo\",\n  \"model\": \"veo3_fast\"\n}\n\n\n## Maus Exemplos\n\n**A)**\n\n{\n  \"scenes\": [{ \"video_prompt\": \"...\" }],\n  \"duration\": 8\n}\n\n\nErrado: usa array e chaves extras; viola o contrato de objeto único.\n\n**B)**\n\n{\n  \"video_prompt\": \"iluminação de estúdio cinematográfica com fundo perfeito; o frasco afirma 'melhora clinicamente comprovada de 300%'\",\n  \"aspect_ratio_video\": \"9:16\",\n  \"model\": \"veo3\"\n}\n\n\nErrado: tom de estúdio e alegação inventada.\n\n**C)**\n\nFaça um vídeo casual de celular de...\n\n\nErrado: não é um objeto JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1408,
        1136
      ],
      "id": "03021022-4692-457f-8c13-addb4d1e2621",
      "name": "Gerador de prompts de video1"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "GET",
        "url": "=https://cloud.leonardo.ai/api/rest/v1/generations/{{ $('Criar video1').item.json.sdGenerationJob.generationId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3392,
        368
      ],
      "id": "3cdca8af-926a-47ec-8803-de1fba869730",
      "name": "Get Imagem1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jwH69o7Fei4joAN1",
          "name": "LeonardIA-Raul"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "url": "https://cloud.leonardo.ai/api/rest/v1/generations-image-to-video",
        "sendBody": true,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "imageId",
              "value": "={{ $('Get Imagem').item.json.generations_by_pk.generated_images[0].id }}"
            },
            {
              "name": "imageType",
              "value": "GENERATED"
            },
            {
              "name": "model",
              "value": "kling-2.6"
            },
            {
              "name": "prompt",
              "value": "={{ $json.output.video_prompt }}"
            },
            {
              "name": "duration",
              "value": 5
            },
            {
              "name": "width",
              "value": 1080
            },
            {
              "name": "height",
              "value": 1920
            },
            {
              "name": "public",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2976,
        368
      ],
      "id": "252a480a-e8d7-4408-804a-4a1a65e90805",
      "name": "Criar video1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jwH69o7Fei4joAN1",
          "name": "LeonardIA-Raul"
        }
      }
    }
  ],
  "connections": {
    "Upload file": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Gerador de prompts de imagem",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar imagem": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Imagem": {
      "main": [
        [
          {
            "node": "Gerador de prompts de video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Gerador de prompts de video",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Gerador de prompts de imagem": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerador de prompts de video": {
      "main": [
        [
          {
            "node": "Criar video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Imagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gerador de prompts de imagem",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Gerador de prompts de video",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AGENTE 01 — Detector Estrutural de Produto",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AGENTE 01 — Detector Estrutural de Produto",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AGENTE 01 — Detector Estrutural de Produto": {
      "main": [
        [
          {
            "node": "Gerador de prompts de imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "AGENTE 01 — Detector Estrutural de Produto",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Criar imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar video1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Gerador de prompts de imagem2": [
      {
        "json": {
          "output": {
            "image_prompt": "uma mulher de 27 anos, pele morena, cabelos pretos longos soltos, segurando e mostrando uma blusa regata de gola alta; a blusa tem três variações de cor – preto, bege e branco – cada uma visível em um detalhe da peça (por exemplo, costura ou etiqueta), estilo casual elegante, ação: ela gira levemente para exibir a roupa, humor: descontraído e confiante, cenário: sala de estar iluminada por luz natural que entra pela janela, sofá e planta ao fundo, estilo/câmera: phone snapshot, enquadramento fora do centro, handheld framing, natural indoor light, slight motion blur, mild grain, cores suaves com destaque nas três cores da blusa, precisão do texto: manter exatamente qualquer rótulo ou texto presente na blusa sem alterações"
          }
        }
      }
    ],
    "Wait": [
      {
        "json": {
          "sdGenerationJob": {
            "generationId": "b480828c-2686-45d0-ac3d-b2c954f1b4d9",
            "apiCreditCost": null,
            "cost": {
              "amount": "0.012",
              "unit": "DOLLARS"
            }
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Gerador de prompts de video": [
      {
        "json": {
          "output": {
            "video_prompt": "A 27‑year‑old woman in a bright minimalistic room holds up a black high‑neck sleeveless blouse, adjusts the collar, smiles, and says: \"Nossa, essa blusa fica super justa, mas confortável, o canelado dá um toque elegante e o caimento acompanha o corpo sem apertar. Adoro o visual clean, dá pra usar no trabalho ou num passeio casual.\" Handheld camera from waist up with slight wobble, then a gentle left‑to‑right pan to capture the ribbed texture, followed by a close‑up on the neckline. Natural light, neutral background, relaxed friendly tone."
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "On form submission": [
      {
        "json": {
          "Descrição": "Blusa Feminina Regata Gola Alta Canelada Elegante Casual Básica e Confortável",
          "Imagem": {
            "filename": "br-11134207-7r98o-m52x5xww8jw294.jpg",
            "mimetype": "image/jpeg",
            "size": 780546
          },
          "submittedAt": "2026-02-22T20:34:22.779-03:00",
          "formMode": "test"
        },
        "binary": {
          "Imagem": {
            "mimeType": "image/jpeg",
            "fileType": "image",
            "fileExtension": "jpg",
            "data": "database",
            "fileName": "br-11134207-7r98o-m52x5xww8jw294.jpg",
            "id": "database:61f9e187-37df-4045-97d6-a12b242a6ec0",
            "fileSize": "781 kB",
            "bytes": 780546
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Criar imagem": [
      {
        "json": {
          "sdGenerationJob": {
            "generationId": "b78ebb07-aa7a-4d9f-a8cd-0f69263a08bc",
            "apiCreditCost": null,
            "cost": {
              "amount": "0.0105",
              "unit": "DOLLARS"
            }
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "AGENTE 01 — Detector Estrutural de Produto": [
      {
        "json": {
          "output": {
            "imagem_prompt": "Blusa Feminina Regata Gola Alta. Cores: preto, bege, branco. Material: tecido liso e alongado, aparentando ser de algodão ou mistura. Estrutura: regata com gola alta, modelagem justa ao corpo. Detalhes de design: sem detalhes adicionais, corte reto e comprimento padrão. Caimento: acompanha a silhueta, proporcionando um visual clean e sofisticado."
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Gerador de prompts de imagem": [
      {
        "json": {
          "output": {
            "image_prompt": "A high-quality realistic portrait of a 27-year-old woman with medium tan skin, dark brown wavy shoulder-length hair, oval face, almond-shaped dark brown eyes, arched eyebrows, and full lips wearing a sleek, tight-fitting women's tank top with a high neckline. The blouse is shown in classic black, crafted from a smooth, elongated cotton‑blend fabric that drapes cleanly along her silhouette, with a straight cut and standard length, emphasizing a sophisticated, minimalist look. She stands in a bright, neutral indoor space, a minimalist living room with a soft, natural light filling the scene, and the camera frames her from the torso up. In a subtle micro‑action, she gently lifts her left hand to adjust the high collar, demonstrating the garment’s fit and fabric texture. The background is clean, the lighting soft and even, and the overall feel is natural, content‑creator style, ready for future animation."
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "571fefc6-8558-43b0-92fa-40e17e1ca192",
  "activeVersionId": "571fefc6-8558-43b0-92fa-40e17e1ca192",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-17T01:25:10.766Z",
      "createdAt": "2026-05-17T01:25:10.766Z",
      "role": "workflow:owner",
      "workflowId": "DX3XxJeDx1VTAgNh",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-17T21:07:20.872Z",
    "createdAt": "2026-05-17T21:07:20.872Z",
    "versionId": "571fefc6-8558-43b0-92fa-40e17e1ca192",
    "workflowId": "DX3XxJeDx1VTAgNh",
    "nodes": [
      {
        "parameters": {
          "inputDataFieldName": "Imagem",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1bKyfD_h5Gjim3D_2J5BHjJ4pdYuPqOtt",
            "mode": "list",
            "cachedResultName": "Imagens - UGC",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1bKyfD_h5Gjim3D_2J5BHjJ4pdYuPqOtt"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -320,
          -256
        ],
        "id": "bcc5ce62-43e1-44a2-a308-a470adf36f86",
        "name": "Upload file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "IsRVhjekAspjYnmG",
            "name": "Google Drive Raul Guimaraes"
          }
        }
      },
      {
        "parameters": {
          "content": "## Inserir imagem e descrição\n",
          "height": 384,
          "width": 496
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -576,
          224
        ],
        "typeVersion": 1,
        "id": "2050d18a-a7c1-4ce5-b518-63d6b356ee4c",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Criação da imagem com Nano Banana\n\n",
          "height": 672,
          "width": 1748,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          592,
          240
        ],
        "typeVersion": 1,
        "id": "37dba233-7069-4304-906e-cb386034e5f2",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n        \"image_prompt\": \"string\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          880,
          576
        ],
        "id": "ee3e30cd-94d9-42c6-bdb6-cafc96aef1b7",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "amount": 20,
          "path": "6c0d5691-ae0d-42d2-b62e-dcacda76e27c"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          2016,
          368
        ],
        "id": "77ee4710-c6fe-4512-b670-fb171322dec4",
        "name": "Wait",
        "webhookId": "6c0d5691-ae0d-42d2-b62e-dcacda76e27c"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://cloud.leonardo.ai/api/rest/v1/generations",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "modelId",
                "value": "={{ $json.data[1].modelId }}"
              },
              {
                "name": "contrast",
                "value": "={{ $json.data[1].contrast }}"
              },
              {
                "name": "prompt",
                "value": "={{ $json.data[1].image_prompt }}"
              },
              {
                "name": "num_images",
                "value": "={{ $json.data[1].num_images }}"
              },
              {
                "name": "width",
                "value": "={{ $json.data[1].width }}"
              },
              {
                "name": "height",
                "value": "={{ $json.data[1].height }}"
              },
              {
                "name": "styleUUID",
                "value": "={{ $json.data[1].styleUUID }}"
              },
              {
                "name": "enhancePrompt",
                "value": "={{ $json.data[1].enhancePrompt }}"
              },
              {
                "name": "init_image_id\"",
                "value": "={{ $json.data[0].ImagemID }}"
              },
              {
                "name": "init_strength",
                "value": "={{ $json.data[1].init_strength }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1808,
          368
        ],
        "id": "6747c0cc-3352-4977-97ce-2998ee4d311c",
        "name": "Criar imagem",
        "credentials": {
          "httpHeaderAuth": {
            "id": "jwH69o7Fei4joAN1",
            "name": "LeonardIA-Raul"
          },
          "googlePalmApi": {
            "id": "jdm452LXWh0J2d5w",
            "name": "raul.guimaraes"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://cloud.leonardo.ai/api/rest/v1/generations/{{ $json.sdGenerationJob.generationId }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2224,
          368
        ],
        "id": "fb63904c-c4ab-4fc3-813f-a1a232ac7c47",
        "name": "Get Imagem",
        "credentials": {
          "httpHeaderAuth": {
            "id": "jwH69o7Fei4joAN1",
            "name": "LeonardIA-Raul"
          }
        }
      },
      {
        "parameters": {
          "content": "## Criação da video com Veo3 Fast\n\n\n",
          "height": 672,
          "width": 1168,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2544,
          224
        ],
        "typeVersion": 1,
        "id": "6f0ef95a-1122-428d-ae24-c30a84339d37",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n        \"video_prompt\": \"string\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          2832,
          560
        ],
        "id": "3f169617-6607-44f4-9dce-5a8fd191cbba",
        "name": "Structured Output Parser1"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5-mini",
            "mode": "list",
            "cachedResultName": "gpt-5-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          2096,
          704
        ],
        "id": "85c9acb3-45bf-4856-88d2-cadee2adbda1",
        "name": "OpenAI Chat Model1",
        "credentials": {
          "openAiApi": {
            "id": "u4yK6osW3wfumSom",
            "name": "OpenAi_Gestao_acessos"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Crie um prompt de vídeo UGC a partir dos dados abaixo.\n\nDescrição do usuário:\n{{ $('On form submission').item.json['Descrição'] }}\n\nDados estruturados do produto:\n{{ $('AGENTE 01 — Detector Estrutural de Produto').item.json.output.imagem_prompt }}\n\nDados estruturados do avatar:\n{{ $('Gerador de prompts de imagem').item.json.output.image_prompt }}\n\nRegras:\n\n- O avatar deve falar naturalmente sobre o produto.\n- A fala deve combinar com o modo escolhido.\n- Produto sempre visível.\n- Apenas uma cena.\n- Retorne apenas o JSON.",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=# PAPEL: Construtor de Prompt de Vídeo UGC\n\nVocê cria prompts de vídeo no estilo UGC para Kling 2.6 (com áudio nativo).\n\nSua função é transformar dados estruturados de produto e avatar em um único prompt de vídeo natural e realista.\n\nO vídeo deve conter fala natural do avatar.\n\n---\n\n## MODO DE APRESENTAÇÃO\n\nEscolha automaticamente UM dos modos abaixo, com base no tom da descrição do usuário. Se não houver indicação clara, alterne naturalmente entre eles:\n\n1) demonstracao_visual\nO avatar mostra o produto enquanto comenta brevemente sobre caimento ou textura.\n\n2) comentario_espontaneo\nO avatar fala como se estivesse recomendando casualmente para um amigo.\n\n3) mini_review\nO avatar descreve rapidamente o que mais gostou no produto.\n\n4) primeira_impressao\nO avatar reage como se estivesse usando ou vestindo pela primeira vez.\n\n---\n\n## ESTILO UGC OBRIGATÓRIO\n\n- Câmera na mão\n- Leve tremor natural\n- Luz ambiente real\n- Ambiente cotidiano\n- Tom conversacional\n- Apenas uma cena contínua\n\nEvite linguagem de estúdio.\nEvite tom publicitário.\n\n---\n\n## FIDELIDADE\n\n- Não invente alegações.\n- Não altere cor ou textura do produto.\n- Mantenha estrutura e ajuste descritos.\n- Produto sempre visível.\n- Sujeito totalmente dentro do quadro.\n\n---\n\n## CONTRATO DE SAÍDA\n\nRetorne APENAS:\n\n{\n  \"video_prompt\": \"até 130 palavras descrevendo assunto, ação, humor, cenário, 2–3 camera cues, notas de cor e fala natural do avatar\",\n  \"model\": \"veo3_fast\"\n}\n\nSem arrays.\nSem texto fora do JSON."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          2624,
          368
        ],
        "id": "779a8184-08d4-4283-99d0-8750cfe1d542",
        "name": "Gerador de prompts de video"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Utilize a descrição técnica abaixo para criar o prompt de imagem.\n\nProduto:\n{{ $json.output.imagem_prompt }}\n\nRegras adicionais:\n\n- Priorize fidelidade absoluta à descrição recebida.\n- A micro ação deve combinar com o tipo de produto.\n- Mantenha naturalidade e realismo.\n- Retorne apenas o JSON no formato especificado.",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=Você é um criador de prompt de imagem para geração realista de cena de apresentação de produto.\n\nSua função é transformar a descrição técnica recebida em um prompt visual natural onde o avatar fixo esteja apresentando o produto de forma coerente com seu tipo.\n\nAVATAR FIXO OBRIGATÓRIO:\n\nA high-quality realistic portrait of a 27-year-old woman with medium tan skin. Dark brown wavy shoulder-length hair. Oval face, almond-shaped dark brown eyes, arched eyebrows, and full lips with natural-toned matte lipstick. Natural soft lighting, 8k resolution, cinematic photography, clean background.\n\nOBJETIVO:\n\nGerar uma cena realista com aparência de vídeo de venda informal.\n\nREGRAS ADAPTATIVAS:\n\n- Se o produto for roupa ou calçado: o avatar deve estar vestindo ou utilizando o produto.\n- Se o produto for acessório: o avatar deve estar usando ou segurando naturalmente.\n- Se for cosmético: o avatar deve estar segurando e demonstrando aplicação.\n- Se for eletrônico ou outro objeto: o avatar deve estar segurando e apresentando o produto de forma natural.\n- Se for embalagem: o avatar deve estar segurando o produto com destaque visível.\n\nREGRAS GERAIS:\n\n- Nunca alterar cor, textura ou estrutura descrita.\n- Nunca inventar detalhes não mencionados.\n- A textura ou material deve estar visualmente perceptível.\n- Incluir uma micro ação demonstrativa coerente com o produto.\n- Enquadramento do tronco para cima.\n- Iluminação natural suave.\n- Ambiente interno neutro realista (quarto claro, sala minimalista ou espelho).\n- Cena única.\n- Nada cinematográfico.\n- Nada publicitário exagerado.\n\nTOM VISUAL:\n\n- Estilo criadora de conteúdo\n- Natural\n- Realista\n- Preparado para futura animação\n\nNão explique.\nNão use markdown.\nNão escreva nada antes ou depois do JSON.\n\nFORMATO OBRIGATÓRIO:\n\n{\n  \"image_prompt\": \"parágrafo único detalhado entre 120 e 180 palavras\"\n}\n\nA resposta deve começar com { e terminar com }.",
            "passthroughBinaryImages": true
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          720,
          368
        ],
        "id": "e55f7e72-1127-402c-adce-eab266333ed9",
        "name": "Gerador de prompts de imagem"
      },
      {
        "parameters": {
          "amount": 3,
          "unit": "minutes",
          "path": "f344ad75-b628-4e09-b276-b1373a77d76e"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          3184,
          368
        ],
        "id": "af3e1993-2d75-4776-abad-5fa16cb19156",
        "name": "Wait1",
        "webhookId": "f344ad75-b628-4e09-b276-b1373a77d76e"
      },
      {
        "parameters": {
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "method": "GET",
          "url": "=https://cloud.leonardo.ai/api/rest/v1/generations/{{ $('Criar video1').item.json.sdGenerationJob.generationId }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "accept",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3808,
          640
        ],
        "id": "2ab742a7-c501-41b8-9a9d-e956e7a5878d",
        "name": "Get video",
        "credentials": {
          "httpHeaderAuth": {
            "id": "jwH69o7Fei4joAN1",
            "name": "LeonardIA-Raul"
          }
        }
      },
      {
        "parameters": {
          "content": "",
          "height": 748,
          "width": 3508,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          336,
          176
        ],
        "id": "6443c2d6-2d5d-4481-9d9e-a7634be4006e",
        "name": "Sticky Note14"
      },
      {
        "parameters": {
          "content": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/?utm_source=template-n8n",
          "height": 126,
          "width": 593,
          "color": 7
        },
        "id": "2704c26f-289d-4554-bad1-eeccc9609ecd",
        "name": "Sticky Note23",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2608,
          976
        ]
      },
      {
        "parameters": {
          "model": "openai/gpt-oss-120b",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          640,
          560
        ],
        "id": "e2f254d3-0f11-42f1-a500-800cf0a78049",
        "name": "Groq Chat Model",
        "credentials": {
          "groqApi": {
            "id": "zlpv9tK7gIWYTnYj",
            "name": "Groq Suporte"
          }
        }
      },
      {
        "parameters": {
          "model": "openai/gpt-oss-120b",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          2592,
          576
        ],
        "id": "9e39df11-6b1f-404e-9937-7110e7e1bc25",
        "name": "Groq Chat Model1",
        "credentials": {
          "groqApi": {
            "id": "zlpv9tK7gIWYTnYj",
            "name": "Groq Suporte"
          }
        }
      },
      {
        "parameters": {
          "model": "meta-llama/llama-4-scout-17b-16e-instruct",
          "options": {
            "temperature": 0.2
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          192,
          624
        ],
        "id": "bf5790b6-46e4-4b9f-97ba-274e649c5c97",
        "name": "Groq Chat Model2",
        "credentials": {
          "groqApi": {
            "id": "zlpv9tK7gIWYTnYj",
            "name": "Groq Suporte"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n        \"imagem_prompt\": \"string\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          368,
          592
        ],
        "id": "6e345835-4f17-4d62-9f05-f11727a1af8f",
        "name": "Structured Output Parser2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "25457728-2708-4e2f-b92b-d6ea6aa8e918",
                "name": "image_prompt",
                "value": "={{ $json.output.image_prompt }}",
                "type": "string"
              },
              {
                "id": "3b813a42-7a39-4f63-8615-729da667c03e",
                "name": "num_images",
                "value": 1,
                "type": "number"
              },
              {
                "id": "fa2d6109-8dde-49ce-aa0b-d4633a496545",
                "name": "width",
                "value": 704,
                "type": "number"
              },
              {
                "id": "ebf4989c-5d9b-4da3-a44b-eabc51a1874f",
                "name": "height",
                "value": 1248,
                "type": "number"
              },
              {
                "id": "a4a8f41c-33d8-4d19-b26b-62ec8bff5b19",
                "name": "contrast",
                "value": 3.5,
                "type": "number"
              },
              {
                "id": "2ee31fbd-5a3c-4770-b1c7-79f6659198b6",
                "name": "enhancePrompt",
                "value": false,
                "type": "boolean"
              },
              {
                "id": "e23a3be6-aaab-461c-be75-a23fed55213a",
                "name": "init_strength",
                "value": 0.6,
                "type": "number"
              },
              {
                "id": "7f1dafb7-bf5c-431c-92e7-2d9f8a85c9bd",
                "name": "duration",
                "value": 10,
                "type": "number"
              },
              {
                "id": "68486f38-13d5-4f4b-94a3-b463ef1be0b9",
                "name": "resolution",
                "value": "RESOLUTION_720",
                "type": "string"
              },
              {
                "id": "205f5126-1cce-4294-b33a-744f8d626cef",
                "name": "modelId",
                "value": "05ce0082-2d80-4a2d-8653-4d1c85e2418e",
                "type": "string"
              },
              {
                "id": "aeeaba42-0a45-4e23-99ad-ec1c8ed94276",
                "name": "styleUUID",
                "value": "111dc692-d470-4eec-b791-3475abac4c46",
                "type": "string"
              },
              {
                "id": "e1514c8d-ac06-4011-a4ea-77793cba1e03",
                "name": "model",
                "value": "seedance-1.0-pro",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1104,
          384
        ],
        "id": "f7cc63ad-2194-4398-83f1-72966281f8e1",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=# Tarefa\n\nCrie um prompt de imagem conforme as diretrizes do seu sistema.\n\nGaranta que a imagem de referência seja representada o mais FIELMENTE possível nas imagens resultantes, especialmente todo o texto.\n\nDescrição fornecida pelo usuário\n{{ $('On form submission').item.json['Descrição'] }}\n\nDescrição da imagem de referência\n{{ $json.output.image_prompt }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=# PAPEL: Construtor de Prompts de Imagem UGC\n\n**Propósito:** Dada uma URL de imagem (produto ou referência), escreva uma descrição curta e natural que oriente um gerador de imagem/vídeo.\n\n## Padrões\n- Se as instruções forem vagas, posicione o produto com a pessoa em um cenário cotidiano coerente.\n- Se estilo/cenário não forem especificados, assuma **realismo UGC casual**.\n\n## Princípios de Realismo UGC\n- Aparência sem encenação, com aspecto de vida real.  \n- **Vibe de foto de celular:** enquadramento fora do centro, leve *motion blur*, luz interna mista, granulação leve.  \n- Abrace imperfeições: rugas, fios soltos, textura de pele, fundos levemente bagunçados.  \n- Preserve **exatamente** qualquer texto visível na embalagem. **Nunca** invente alegações, números ou selos.\n\n## Camera Cues (use 2–3+)\n`\"phone snapshot\"`, `\"handheld framing\"`, `\"off-center composition\"`,  \n`\"natural indoor light\"`, `\"soft shadows\"`, `\"slight motion blur\"`,  \n`\"auto exposure\"`, `\"unpolished look\"`, `\"mild grain\"`.\n\n## Segurança / Escopo\n- Não nomeie personagens protegidos por direitos autorais.  \n- Não escreva diálogo/roteiro; **saída é apenas um prompt de imagem**.\n\n## Contrato de Saída\n- Retorne **apenas um** objeto JSON:\n  - `image_prompt`: **uma** string (~120 palavras) em prosa simples cobrindo **sujeito**, **ação**, **humor**, **cenário**, **estilo/câmera**, **notas de cor** e **notas de precisão do texto**.\n\n## Padrões de Diversidade\n- Se não especificar pessoas, varie naturalmente gênero e etnia.  \n- Faixa etária padrão: **21–38**.  \n- Prefira espaços reais (casa, rua, loja, academia, escritório), salvo instrução contrária.\n\n---\n\n## Exemplos\n\n**Bom exemplo 1**\n\n{\n  \"image_prompt\": \"um jovem adulto segurando casualmente um tubo de skincare perto de um espelho de banheiro; ação: aplica pequena quantidade no dorso da mão; humor: manhã tranquila; cenário: banheiro de apartamento com toalha no suporte e copo de escova; estilo/câmera: phone snapshot, enquadramento fora do centro, luz natural da janela, leve motion blur, granulação suave; cores: brancos suaves e rótulo menta; precisão do texto: manter cada palavra no tubo exatamente como visível, sem alegações adicionais\"\n}\n\n**Bom exemplo 2**\n\n{\n  \"image_prompt\": \"trabalhador usando fones sem fio enquanto abre o estojo de recarga; ação: sai pela saída do metrô; humor: momento espontâneo; cenário: calçada movimentada com transeuntes e reflexos no vidro; estilo/câmera: foto de celular sem polimento, autoexposição, luz diurna mista com brilho de néon, leve borrão de lente; cores: produto em carvão e prata se destaca; precisão do texto: preservar logotipo e nome do modelo com exatidão\"\n}\n\n\n**Mau exemplo (evitar)**\n\nFabricar certificações/números de embalagem.\n\nIluminação perfeita de estúdio ou ad-speak tipo “obra-prima cinematográfica”.\n\nRetornar qualquer coisa além das chaves exigidas.\n\n## Checklist Pré-Envio\n\nNatural? ✅\n\n2–3+ camera cues incluídas? ✅\n\nTexto do produto preservado exatamente? ✅\n\nSomente image_prompt retornado? ✅"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          608,
          1136
        ],
        "id": "4f9584fa-5576-4ea4-99e1-68a089371039",
        "name": "Gerador de prompts de imagem2",
        "disabled": true
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Analise as imagens fornecidas e descreva apenas o produto principal.\n\nDescrição auxiliar:\n{{ $json[\"Descrição\"] }}\n\nRegras adicionais:\n\n- Ignore completamente qualquer pessoa visível.\n- Ignore fundo e cenário.\n- Priorize fidelidade visual.\n- Não invente informações.\n- Retorne apenas o JSON no formato especificado.",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=Você é um descritor técnico de produto.\n\nSua função é analisar as imagens recebidas e gerar uma descrição técnica detalhada apenas do produto principal visível.\n\nIgnore completamente qualquer pessoa, modelo ou personagem presente.\nIgnore fundo, cenário e iluminação.\nIgnore pose e expressão humana.\n\nFoque exclusivamente no produto.\n\nA descrição deve incluir:\n\n- Tipo de produto\n- Cor principal e variações visíveis\n- Material ou textura aparente\n- Estrutura e modelagem\n- Detalhes de design (gola, manga, acabamento, comprimento, etc.)\n- Caimento ou forma visual\n\nNão crie narrativa.\nNão seja publicitário.\nNão invente marca ou detalhes não visíveis.\nNão explique seu raciocínio.\nNão use markdown.\nNão escreva nada antes ou depois do JSON.\n\nSe múltiplas imagens forem fornecidas:\n- Considere todas como parte do mesmo produto.\n- Consolide as informações.\n\nFORMATO OBRIGATÓRIO:\n\n{\n  \"imagem_prompt\": \"descrição técnica detalhada entre 100 e 180 palavras em um único parágrafo\"\n}\n\nA resposta deve começar com { e terminar com }.",
            "passthroughBinaryImages": true
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          256,
          368
        ],
        "id": "f6296ef4-f358-4911-82ee-c26318912dc7",
        "name": "AGENTE 01 — Detector Estrutural de Produto"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Analise a imagem fornecida e determine se ela retrata principalmente um produto, um personagem, ou AMBOS.\nDECRIÇÃO:{{ $json[\"Descrição\"] }}\n\n",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=# Instruções de Análise de Imagem\n\nAnalise a imagem fornecida e determine se ela retrata principalmente um produto, um personagem, ou AMBOS.\n\n## Se for produto, retorne em YAML com:\n\nbrand_name: (Nome da marca exibida na imagem, se visível ou inferível)\n\ncolor_scheme:\n\nhex: (Código hex de cada cor predominante usada)\n\nname: (Nome descritivo da cor)\n\nfont_style: (Descreva a família/estilo da fonte: serif/sans-serif, negrito/fina etc.)\n\nvisual_description: (1–2 frases resumindo o que é visto na imagem, ignorando o plano de fundo)\n\n## Se for personagem, retorne em YAML com:\n\ncharacter_name: (Nome do personagem, se visível ou inferível)\n\ncolor_scheme:\n\nhex: (Código hex de cada cor predominante usada no personagem)\n\nname: (Nome descritivo da cor)\n\noutfit_style: (Descrição do estilo de roupa, acessórios ou características notáveis)\n\nvisual_description: (1–2 frases resumindo a aparência do personagem, ignorando o plano de fundo)\n\nImportante: Retorne apenas o YAML. Não explique nem adicione outros comentários.\n\n## Se for AMBOS:\n\nRetorne duas descrições seguindo os modelos acima, em formato YAML.",
            "passthroughBinaryImages": true
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          224,
          1104
        ],
        "id": "df3459b1-b0c5-4003-82b0-08f0f96de3d9",
        "name": "AGENTE 01 — Detector Estrutural de Produto1"
      },
      {
        "parameters": {
          "formTitle": "Gerador de Anúncios UGC",
          "formDescription": "Geramos anúncios no estilo UGC, é só adicionar a descrição e a foto do produto.",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Descrição"
              },
              {
                "fieldLabel": "Imagem",
                "fieldType": "file",
                "multipleFiles": false,
                "acceptFileTypes": ".jpg, .png, .jpeg"
              }
            ]
          },
          "options": {},
          "path": "f18fe1f0-3e1b-430d-8747-ec44508d70f0"
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.3,
        "position": [
          -448,
          368
        ],
        "id": "47f2913c-81da-4323-9291-dbc7a904f356",
        "name": "On form submission",
        "webhookId": "f18fe1f0-3e1b-430d-8747-ec44508d70f0"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5377e5f0-5d44-4679-b7ae-f572411f6900",
                "name": "id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "bb783731-886f-4ec1-a7f9-a5a918edfd68",
                "name": "name",
                "value": "={{ $json.name }}",
                "type": "string"
              },
              {
                "id": "34a773e4-34a9-42ec-90f4-759b7322e33b",
                "name": "mimeType",
                "value": "={{ $json.mimeType }}",
                "type": "string"
              },
              {
                "id": "628c247c-dcb4-4c73-b920-992743e5c0c2",
                "name": "webContentLink",
                "value": "={{ $json.webContentLink }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -96,
          -256
        ],
        "id": "18381861-a5c6-4ed3-9404-77b35876e1d7",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://cloud.leonardo.ai/api/rest/v1/init-image",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "multipart/form-data"
              }
            ]
          },
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "name": "extension",
                "value": "={{ $json.Imagem.mimetype.split('/').last() }}"
              },
              {
                "parameterType": "formBinaryData",
                "name": "file",
                "inputDataFieldName": "Imagem"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -32,
          -32
        ],
        "id": "2f99dfe9-4dad-4c59-966c-55cb84254ac0",
        "name": "HTTP Request",
        "credentials": {
          "httpHeaderAuth": {
            "id": "jwH69o7Fei4joAN1",
            "name": "LeonardIA-Raul"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "21fe4922-5ce2-4945-8980-0871db54c51c",
                "name": "ImagemID",
                "value": "={{ $json.uploadInitImage.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          176,
          -32
        ],
        "id": "b3aa0091-1930-4bcc-80b8-d9d814872867",
        "name": "Edit Fields2"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1424,
          368
        ],
        "id": "157518bf-ec78-4924-897d-491fe897d030",
        "name": "Merge"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1616,
          368
        ],
        "id": "5f34d44f-1822-47ed-bf9b-5b3a428811fa",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Crie um prompt de vídeo no estilo UGC a partir da imagem de referência e da descrição do usuário.\n\nDescrição do usuário (pode estar vazia):\n{{ $('On form submission').item.json['Descrição'] }}\n\nAnálise da imagem de referência (use para manter fidelidade ao que está visível):\n{{ $('AGENTE 01 — Detector Estrutural de Produto').item.json.output.imagem_prompt }}\n\nRegras\n- Mantenha o visual casual e realista; evite linguagem de estúdio.\n- Modelo padrão: veo3_fast, a menos que seja indicado o contrário.\n- Retorne apenas um único objeto JSON: video_prompt.",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=# PAPEL: Construtor de Prompt de Vídeo UGC\n\n**Objetivo**  \nA partir de uma imagem de referência e notas curtas do usuário, escreva um prompt de vídeo em estilo UGC, adequado para **Veo3/Veo3_fast**.\n\n## Princípios (visual UGC)\n- Clima de vídeo de celular: câmera na mão, leve movimento, enquadramento fora do centro, luz interna mista, granulação leve.\n- Vida real acima do polimento: pequenas falhas, ambientes “vividos”, sensação ambiente.\n- Mantenha **exato** qualquer texto visível na embalagem. **Nunca** invente alegações, selos ou números.\n- Não nomeie personagens com direitos autorais.\n- Tom conversacional, não linguagem de anúncio.\n\n## Contrato de Saída\n- Retorne **APENAS** um objeto JSON:\n  - `\"video_prompt\"`: uma frase simples/parágrafo curto (≤ 130 palavras) descrevendo **assunto**, **ação**, **humor**, **cenário**, **2–3 camera cues** e **notas de cor**. Mantenha fidelidade à imagem e às notas do usuário.\n- Sem cercas de código, sem chaves extras, sem arrays, sem títulos.\n- Não fabrique texto de produto; mencione precisão apenas se for relevante.\n- Mantenha **uma única cena** implícita pelo objeto.\n\n## Guarda-corpos de Enquadramento\n- Mantenha o sujeito totalmente dentro do quadro o tempo todo (sem cortar testa ou queixo).\n- Composição centralizada; evite closes extremos.\n- Se houver movimento, mantenha o enquadramento fixo no rosto e no produto.\n\n---\n\n## Bons Exemplos\n\n**1)**\n{\n  \"video_prompt\": \"jovem adulto desempacota casualmente um pequeno gadget sobre a ilha da cozinha; sorri, levanta para a câmera e depois aponta para o rótulo visível na caixa; cenário: cozinha aconchegante de apartamento com canecas e escorredor; humor: amistoso e sem roteiro; câmera: enquadramento de mão, composição fora do centro, autoexposição, granulação leve; notas de cor: madeira quente, brancos suaves; rótulo do produto permanece nítido e preciso\",\n  \"model\": \"veo3_fast\"\n}\n\n**2)**\n{\n  \"video_prompt\": \"passante sai de uma estação, ajusta fones sem fio, olha o celular, guarda e caminha em direção à luz; cenário: calçada movimentada com reflexos em vidro; humor: momento espontâneo; câmera: enquadramento de mão, leve borrão de movimento, luz natural externa; notas de cor: fones em carvão e detalhes prateados se destacam; manter o texto do logo exatamente como visto no estojo\",\n  \"model\": \"veo3_fast\"\n}\n\n\n## Maus Exemplos\n\n**A)**\n\n{\n  \"scenes\": [{ \"video_prompt\": \"...\" }],\n  \"duration\": 8\n}\n\n\nErrado: usa array e chaves extras; viola o contrato de objeto único.\n\n**B)**\n\n{\n  \"video_prompt\": \"iluminação de estúdio cinematográfica com fundo perfeito; o frasco afirma 'melhora clinicamente comprovada de 300%'\",\n  \"aspect_ratio_video\": \"9:16\",\n  \"model\": \"veo3\"\n}\n\n\nErrado: tom de estúdio e alegação inventada.\n\n**C)**\n\nFaça um vídeo casual de celular de...\n\n\nErrado: não é um objeto JSON."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          1408,
          1136
        ],
        "id": "03021022-4692-457f-8c13-addb4d1e2621",
        "name": "Gerador de prompts de video1"
      },
      {
        "parameters": {
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "method": "GET",
          "url": "=https://cloud.leonardo.ai/api/rest/v1/generations/{{ $('Criar video1').item.json.sdGenerationJob.generationId }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "accept",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3392,
          368
        ],
        "id": "3cdca8af-926a-47ec-8803-de1fba869730",
        "name": "Get Imagem1",
        "credentials": {
          "httpHeaderAuth": {
            "id": "jwH69o7Fei4joAN1",
            "name": "LeonardIA-Raul"
          }
        }
      },
      {
        "parameters": {
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "method": "POST",
          "url": "https://cloud.leonardo.ai/api/rest/v1/generations-image-to-video",
          "sendBody": true,
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "accept",
                "value": "application/json"
              }
            ]
          },
          "bodyParameters": {
            "parameters": [
              {
                "name": "imageId",
                "value": "={{ $('Get Imagem').item.json.generations_by_pk.generated_images[0].id }}"
              },
              {
                "name": "imageType",
                "value": "GENERATED"
              },
              {
                "name": "model",
                "value": "kling-2.6"
              },
              {
                "name": "prompt",
                "value": "={{ $json.output.video_prompt }}"
              },
              {
                "name": "duration",
                "value": 5
              },
              {
                "name": "width",
                "value": 1080
              },
              {
                "name": "height",
                "value": 1920
              },
              {
                "name": "public",
                "value": false
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2976,
          368
        ],
        "id": "252a480a-e8d7-4408-804a-4a1a65e90805",
        "name": "Criar video1",
        "credentials": {
          "httpHeaderAuth": {
            "id": "jwH69o7Fei4joAN1",
            "name": "LeonardIA-Raul"
          }
        }
      }
    ],
    "connections": {
      "Upload file": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Gerador de prompts de imagem",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Get Imagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Criar imagem": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Imagem": {
        "main": [
          [
            {
              "node": "Gerador de prompts de video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser1": {
        "ai_outputParser": [
          [
            {
              "node": "Gerador de prompts de video",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          []
        ]
      },
      "Gerador de prompts de imagem": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gerador de prompts de video": {
        "main": [
          [
            {
              "node": "Criar video1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Get Imagem1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Groq Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Gerador de prompts de imagem",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Groq Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Gerador de prompts de video",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Groq Chat Model2": {
        "ai_languageModel": [
          [
            {
              "node": "AGENTE 01 — Detector Estrutural de Produto",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser2": {
        "ai_outputParser": [
          [
            {
              "node": "AGENTE 01 — Detector Estrutural de Produto",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "AGENTE 01 — Detector Estrutural de Produto": {
        "main": [
          [
            {
              "node": "Gerador de prompts de imagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On form submission": {
        "main": [
          [
            {
              "node": "AGENTE 01 — Detector Estrutural de Produto",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          []
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Criar imagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Criar video1": {
        "main": [
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Suporte MDG Suporte",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}