Sem_Categoria/EsOHUbWDs2vV6cPT.json
{
  "updatedAt": "2025-06-26T19:50:27.504Z",
  "createdAt": "2025-06-26T13:06:03.208Z",
  "id": "EsOHUbWDs2vV6cPT",
  "name": "SUPORTE - LIMPA BKP GOOGLE DRIVER",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "https://drive.google.com/drive/u/1/folders/1gaOlR5171Af1Q1NcJVCQC61iNSeo9cFb",
            "mode": "url"
          },
          "whatToSearch": "all"
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        180,
        0
      ],
      "id": "4f46c61b-1f8f-4cd9-8b54-3a567bfc5ada",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vtAyj3CGNXcJFoMZ",
          "name": "Google Drive Suporte"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f88200a-092f-47d6-9dc0-fc42622afbb0",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "b858c7e3-6fb8-420b-b35d-0d794bd37d5d",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "372a0a0f-274a-4a30-90a0-05a79cb3ea65",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "97b4b948-e6b9-46bc-aac2-4942592433af",
              "name": "createdTime",
              "value": "={{ $json.createdTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        0
      ],
      "id": "36c69756-59a2-4bed-86c7-20164a22b3d4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b334cc6-2db2-4572-a11b-11ce784a4fc0",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "e888e51f-7e0a-43a9-ad58-85ac88575f6f",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "c807d6d5-8054-4783-a95a-82efb4818434",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "df189212-0533-470d-a77d-b6a5ccc336db",
              "name": "createdTime",
              "value": "={{ $json.createdTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        760,
        0
      ],
      "id": "cae392ed-dba5-403e-8eac-25fa7f41a472",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "deletePermanently": true
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        960,
        0
      ],
      "id": "a97cd62d-0788-4373-ae4e-c39e2fe4d1a7",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vtAyj3CGNXcJFoMZ",
          "name": "Google Drive Suporte"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "20b959b8-3b7a-4dfc-8784-e01ca2cdc0b3",
              "leftValue": "={{ $json.createdTime }}",
              "rightValue": "={{ new Date(new Date().setDate(new Date().getDate() - 4)).toISOString() }}\n",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        540,
        0
      ],
      "id": "cade5304-6a7c-4a7d-b93b-de54139e5165",
      "name": "Filter"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "https://drive.google.com/drive/u/1/folders/1ok2wnU97EKaGE3TselAaQ4lNd9o-yRNi",
            "mode": "url"
          },
          "whatToSearch": "all"
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        180,
        200
      ],
      "id": "cc7adea2-5df3-4326-996b-c1e20526eb1c",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vtAyj3CGNXcJFoMZ",
          "name": "Google Drive Suporte"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f88200a-092f-47d6-9dc0-fc42622afbb0",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "b858c7e3-6fb8-420b-b35d-0d794bd37d5d",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "372a0a0f-274a-4a30-90a0-05a79cb3ea65",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "97b4b948-e6b9-46bc-aac2-4942592433af",
              "name": "createdTime",
              "value": "={{ $json.createdTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        200
      ],
      "id": "223f2839-d4a3-4c3e-b3e1-ce2acf45e3d0",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b334cc6-2db2-4572-a11b-11ce784a4fc0",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "e888e51f-7e0a-43a9-ad58-85ac88575f6f",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "c807d6d5-8054-4783-a95a-82efb4818434",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "df189212-0533-470d-a77d-b6a5ccc336db",
              "name": "createdTime",
              "value": "={{ $json.createdTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        200
      ],
      "id": "7ef55f14-23ea-46dc-83db-6d986f2a6c76",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "deletePermanently": true
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        980,
        200
      ],
      "id": "92d4ea02-b811-45c0-995e-a0ab455bc468",
      "name": "Google Drive3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vtAyj3CGNXcJFoMZ",
          "name": "Google Drive Suporte"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "20b959b8-3b7a-4dfc-8784-e01ca2cdc0b3",
              "leftValue": "={{ $json.createdTime }}",
              "rightValue": "={{ new Date(new Date().setDate(new Date().getDate() - 4)).toISOString() }}\n",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        560,
        200
      ],
      "id": "3a7ccbd1-536d-461a-9a0c-ae58d9a09a6e",
      "name": "Filter1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -60,
        100
      ],
      "id": "1c07c16a-194d-42f4-b6b1-769a5ed43758",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## BKP COSMOPOLIS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 220,
        "width": 1240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        120,
        160
      ],
      "typeVersion": 1,
      "id": "c8b03df0-e727-4ece-8561-422720c5b9d0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## BKP PAULINIA\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 220,
        "width": 1240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        120,
        -80
      ],
      "typeVersion": 1,
      "id": "398d9300-fda4-489b-824e-b13d52976705",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1140,
        0
      ],
      "id": "2b50c89a-2230-4549-a6af-f008b2c029fc",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1160,
        200
      ],
      "id": "e8032a0c-25e3-459e-8f91-edbc61f8250d",
      "name": "No Operation, do nothing1"
    }
  ],
  "connections": {
    "Google Drive": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Google Drive3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "88787c85-91bb-41b1-908a-bfe40e9024ca",
  "activeVersionId": "88787c85-91bb-41b1-908a-bfe40e9024ca",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-06-26T13:06:03.208Z",
      "createdAt": "2025-06-26T13:06:03.208Z",
      "role": "workflow:owner",
      "workflowId": "EsOHUbWDs2vV6cPT",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-11-29T01:50:38.405Z",
    "createdAt": "2025-11-29T01:50:38.405Z",
    "versionId": "88787c85-91bb-41b1-908a-bfe40e9024ca",
    "workflowId": "EsOHUbWDs2vV6cPT",
    "nodes": [
      {
        "parameters": {
          "resource": "fileFolder",
          "returnAll": true,
          "filter": {
            "driveId": {
              "__rl": true,
              "value": "My Drive",
              "mode": "list",
              "cachedResultName": "My Drive",
              "cachedResultUrl": "https://drive.google.com/drive/my-drive"
            },
            "folderId": {
              "__rl": true,
              "value": "https://drive.google.com/drive/u/1/folders/1gaOlR5171Af1Q1NcJVCQC61iNSeo9cFb",
              "mode": "url"
            },
            "whatToSearch": "all"
          },
          "options": {
            "fields": [
              "*"
            ]
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          180,
          0
        ],
        "id": "4f46c61b-1f8f-4cd9-8b54-3a567bfc5ada",
        "name": "Google Drive",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "vtAyj3CGNXcJFoMZ",
            "name": "Google Drive Suporte"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9f88200a-092f-47d6-9dc0-fc42622afbb0",
                "name": "id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "b858c7e3-6fb8-420b-b35d-0d794bd37d5d",
                "name": "name",
                "value": "={{ $json.name }}",
                "type": "string"
              },
              {
                "id": "372a0a0f-274a-4a30-90a0-05a79cb3ea65",
                "name": "description",
                "value": "={{ $json.description }}",
                "type": "string"
              },
              {
                "id": "97b4b948-e6b9-46bc-aac2-4942592433af",
                "name": "createdTime",
                "value": "={{ $json.createdTime }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          360,
          0
        ],
        "id": "36c69756-59a2-4bed-86c7-20164a22b3d4",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5b334cc6-2db2-4572-a11b-11ce784a4fc0",
                "name": "id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "e888e51f-7e0a-43a9-ad58-85ac88575f6f",
                "name": "name",
                "value": "={{ $json.name }}",
                "type": "string"
              },
              {
                "id": "c807d6d5-8054-4783-a95a-82efb4818434",
                "name": "description",
                "value": "={{ $json.description }}",
                "type": "string"
              },
              {
                "id": "df189212-0533-470d-a77d-b6a5ccc336db",
                "name": "createdTime",
                "value": "={{ $json.createdTime }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          760,
          0
        ],
        "id": "cae392ed-dba5-403e-8eac-25fa7f41a472",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "operation": "deleteFile",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {
            "deletePermanently": true
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          960,
          0
        ],
        "id": "a97cd62d-0788-4373-ae4e-c39e2fe4d1a7",
        "name": "Google Drive1",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "vtAyj3CGNXcJFoMZ",
            "name": "Google Drive Suporte"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "20b959b8-3b7a-4dfc-8784-e01ca2cdc0b3",
                "leftValue": "={{ $json.createdTime }}",
                "rightValue": "={{ new Date(new Date().setDate(new Date().getDate() - 4)).toISOString() }}\n",
                "operator": {
                  "type": "dateTime",
                  "operation": "before"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          540,
          0
        ],
        "id": "cade5304-6a7c-4a7d-b93b-de54139e5165",
        "name": "Filter"
      },
      {
        "parameters": {
          "resource": "fileFolder",
          "returnAll": true,
          "filter": {
            "driveId": {
              "__rl": true,
              "value": "My Drive",
              "mode": "list",
              "cachedResultName": "My Drive",
              "cachedResultUrl": "https://drive.google.com/drive/my-drive"
            },
            "folderId": {
              "__rl": true,
              "value": "https://drive.google.com/drive/u/1/folders/1ok2wnU97EKaGE3TselAaQ4lNd9o-yRNi",
              "mode": "url"
            },
            "whatToSearch": "all"
          },
          "options": {
            "fields": [
              "*"
            ]
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          180,
          200
        ],
        "id": "cc7adea2-5df3-4326-996b-c1e20526eb1c",
        "name": "Google Drive2",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "vtAyj3CGNXcJFoMZ",
            "name": "Google Drive Suporte"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9f88200a-092f-47d6-9dc0-fc42622afbb0",
                "name": "id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "b858c7e3-6fb8-420b-b35d-0d794bd37d5d",
                "name": "name",
                "value": "={{ $json.name }}",
                "type": "string"
              },
              {
                "id": "372a0a0f-274a-4a30-90a0-05a79cb3ea65",
                "name": "description",
                "value": "={{ $json.description }}",
                "type": "string"
              },
              {
                "id": "97b4b948-e6b9-46bc-aac2-4942592433af",
                "name": "createdTime",
                "value": "={{ $json.createdTime }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          360,
          200
        ],
        "id": "223f2839-d4a3-4c3e-b3e1-ce2acf45e3d0",
        "name": "Edit Fields2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5b334cc6-2db2-4572-a11b-11ce784a4fc0",
                "name": "id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "e888e51f-7e0a-43a9-ad58-85ac88575f6f",
                "name": "name",
                "value": "={{ $json.name }}",
                "type": "string"
              },
              {
                "id": "c807d6d5-8054-4783-a95a-82efb4818434",
                "name": "description",
                "value": "={{ $json.description }}",
                "type": "string"
              },
              {
                "id": "df189212-0533-470d-a77d-b6a5ccc336db",
                "name": "createdTime",
                "value": "={{ $json.createdTime }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          780,
          200
        ],
        "id": "7ef55f14-23ea-46dc-83db-6d986f2a6c76",
        "name": "Edit Fields3"
      },
      {
        "parameters": {
          "operation": "deleteFile",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {
            "deletePermanently": true
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          980,
          200
        ],
        "id": "92d4ea02-b811-45c0-995e-a0ab455bc468",
        "name": "Google Drive3",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "vtAyj3CGNXcJFoMZ",
            "name": "Google Drive Suporte"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "20b959b8-3b7a-4dfc-8784-e01ca2cdc0b3",
                "leftValue": "={{ $json.createdTime }}",
                "rightValue": "={{ new Date(new Date().setDate(new Date().getDate() - 4)).toISOString() }}\n",
                "operator": {
                  "type": "dateTime",
                  "operation": "before"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          560,
          200
        ],
        "id": "3a7ccbd1-536d-461a-9a0c-ae58d9a09a6e",
        "name": "Filter1"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "triggerAtHour": 8
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -60,
          100
        ],
        "id": "1c07c16a-194d-42f4-b6b1-769a5ed43758",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "content": "## BKP COSMOPOLIS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 220,
          "width": 1240
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          120,
          160
        ],
        "typeVersion": 1,
        "id": "c8b03df0-e727-4ece-8561-422720c5b9d0",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## BKP PAULINIA\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 220,
          "width": 1240
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          120,
          -80
        ],
        "typeVersion": 1,
        "id": "398d9300-fda4-489b-824e-b13d52976705",
        "name": "Sticky Note1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1140,
          0
        ],
        "id": "2b50c89a-2230-4549-a6af-f008b2c029fc",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1160,
          200
        ],
        "id": "e8032a0c-25e3-459e-8f91-edbc61f8250d",
        "name": "No Operation, do nothing1"
      }
    ],
    "connections": {
      "Google Drive": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Google Drive1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive2": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Filter1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Google Drive3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter1": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Google Drive",
              "type": "main",
              "index": 0
            },
            {
              "node": "Google Drive2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive1": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive3": {
        "main": [
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}