Sem_Categoria/K7FKLDg7OPKBCrI6.json
{
  "updatedAt": "2025-08-27T17:34:03.544Z",
  "createdAt": "2025-06-11T18:30:58.527Z",
  "id": "K7FKLDg7OPKBCrI6",
  "name": "RETRIVEL STORE",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61aff680-7d1b-404c-957b-db0c69aa9c94",
              "name": "fileID",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "85b689f0-c47d-4070-b3a3-fc839e6f4371",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "81e053b3-5a44-4dea-a69d-04c63b218a70",
              "name": "fileType",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        0
      ],
      "id": "126c83ce-3bb4-4dbf-8b65-50cc0546157d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.fileID }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        592,
        0
      ],
      "id": "23219404-ff1a-4d83-9cac-64376c41fd5a",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vtAyj3CGNXcJFoMZ",
          "name": "Google Drive Suporte"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        992,
        -16
      ],
      "id": "a5d0d798-d040-4bb7-86f1-c1596fcf4468",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1BfwH4jMpuGB4jNrMT5u88PQOsTm4j0_i",
          "mode": "list",
          "cachedResultName": "Contexto",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1BfwH4jMpuGB4jNrMT5u88PQOsTm4j0_i"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        -80
      ],
      "id": "04df9b9a-efd6-48a0-b9ed-2c59c380086f",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vtAyj3CGNXcJFoMZ",
          "name": "Google Drive Suporte"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1BfwH4jMpuGB4jNrMT5u88PQOsTm4j0_i",
          "mode": "list",
          "cachedResultName": "Contexto",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1BfwH4jMpuGB4jNrMT5u88PQOsTm4j0_i"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        80
      ],
      "id": "b4dacd06-73f5-4666-b039-af4c3490f34e",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vtAyj3CGNXcJFoMZ",
          "name": "Google Drive Suporte"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteCollection",
        "collectionName": {
          "__rl": true,
          "value": "={{ $json.fileID }}",
          "mode": "name"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-qdrant.qdrant",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "711e1814-b1d6-44ef-99c3-828882eaf37a",
      "name": "Qdrant",
      "credentials": {
        "qdrantRestApi": {
          "id": "gHdTQdLpV2yBxhAv",
          "name": "Qdrant account Local"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.name }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.2,
      "position": [
        2208,
        -32
      ],
      "id": "6c9187ff-43f5-4f09-8694-56d9ed79d295",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "b0hyoUxS4uVmU7y8",
          "name": "QdrantApi local"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        2176,
        160
      ],
      "id": "df703768-59e3-4466-a4e5-12cc47904d18",
      "name": "Embeddings Ollama2",
      "credentials": {
        "ollamaApi": {
          "id": "pOegylLBwaHAjzk2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 5000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2304,
        288
      ],
      "id": "6d824f0f-8322-4a04-a2f7-864087ca749a",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2720,
        -32
      ],
      "id": "888cf250-3de6-4216-9cb1-a1dcd28e206c",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.fileID }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2304,
        160
      ],
      "id": "ae12f232-94b4-477c-873f-3931c4b2992a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2e577cff-69ea-4e36-b1e1-17a2da7697c7",
                    "leftValue": "={{ $('Edit Fields').item.json.fileType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.fileType }}",
                    "rightValue": "text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "65176135-cdb2-4ae3-8af2-11e325ce2483"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text/csv"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        800,
        0
      ],
      "id": "54092d8d-fe53-40a8-9b37-c0fca40f3135",
      "name": "Switch"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        992,
        192
      ],
      "id": "bedf5f27-d35f-46ed-89c4-43e55c6a1c1c",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1200,
        192
      ],
      "id": "3b7c32a5-c6a7-41eb-95d5-cdf749f7eb48",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1408,
        192
      ],
      "id": "7d10eee9-1b8f-404c-8de2-705c3b10982f",
      "name": "Summarize"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "concatenated_data",
              "newKey": "data"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        1616,
        192
      ],
      "id": "4d892a89-7ad8-42f3-b1a1-894d89793ce3",
      "name": "Rename Keys"
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama2": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2026-06-22T23:40:42Z"
    },
    "node:Google Drive Trigger1": {
      "lastTimeChecked": "2026-06-22T23:40:43Z"
    }
  },
  "meta": null,
  "pinData": {
    "Google Drive Trigger1": [
      {
        "json": {
          "exportLinks": {
            "application/rtf": "https://docs.google.com/feeds/download/documents/export/Export?id=1EivPVzBOIRThXEcFwSIXg5Vkyle9xqioIvfrsgYMR_o&exportFormat=rtf",
            "application/vnd.oasis.opendocument.text": "https://docs.google.com/feeds/download/documents/export/Export?id=1EivPVzBOIRThXEcFwSIXg5Vkyle9xqioIvfrsgYMR_o&exportFormat=odt",
            "text/html": "https://docs.google.com/feeds/download/documents/export/Export?id=1EivPVzBOIRThXEcFwSIXg5Vkyle9xqioIvfrsgYMR_o&exportFormat=html",
            "application/pdf": "https://docs.google.com/feeds/download/documents/export/Export?id=1EivPVzBOIRThXEcFwSIXg5Vkyle9xqioIvfrsgYMR_o&exportFormat=pdf",
            "text/x-markdown": "https://docs.google.com/feeds/download/documents/export/Export?id=1EivPVzBOIRThXEcFwSIXg5Vkyle9xqioIvfrsgYMR_o&exportFormat=markdown",
            "text/markdown": "https://docs.google.com/feeds/download/documents/export/Export?id=1EivPVzBOIRThXEcFwSIXg5Vkyle9xqioIvfrsgYMR_o&exportFormat=markdown",
            "application/epub+zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1EivPVzBOIRThXEcFwSIXg5Vkyle9xqioIvfrsgYMR_o&exportFormat=epub",
            "application/zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1EivPVzBOIRThXEcFwSIXg5Vkyle9xqioIvfrsgYMR_o&exportFormat=zip",
            "application/vnd.openxmlformats-officedocument.wordprocessingml.document": "https://docs.google.com/feeds/download/documents/export/Export?id=1EivPVzBOIRThXEcFwSIXg5Vkyle9xqioIvfrsgYMR_o&exportFormat=docx",
            "text/plain": "https://docs.google.com/feeds/download/documents/export/Export?id=1EivPVzBOIRThXEcFwSIXg5Vkyle9xqioIvfrsgYMR_o&exportFormat=txt"
          },
          "parents": [
            "1BfwH4jMpuGB4jNrMT5u88PQOsTm4j0_i"
          ],
          "lastModifyingUser": {
            "displayName": "Suporte MDG",
            "kind": "drive#user",
            "me": true,
            "permissionId": "07353960546919341189",
            "emailAddress": "suporte@mdgintermediacoes.com.br",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocLFijLOnz9hY9UZY18fO9_K6e7qOtm5yPkeAoeUMTmOtPAXbQ=s64"
          },
          "owners": [
            {
              "displayName": "Raul Guimaraes",
              "kind": "drive#user",
              "me": false,
              "permissionId": "11534251328642009597",
              "emailAddress": "raul.guimaraes@mdgintermediacoes.com.br",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjVLinhVP5SDvzoRw_GHsctAF_4I7cLShq9XtTZG73xlYmt8F0I=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "17604633664812570778",
              "type": "domain",
              "domain": "mdgintermediacoes.com.br",
              "role": "reader",
              "allowFileDiscovery": true,
              "displayName": "DG Serviços"
            },
            {
              "kind": "drive#permission",
              "id": "11534251328642009597",
              "type": "user",
              "emailAddress": "raul.guimaraes@mdgintermediacoes.com.br",
              "role": "owner",
              "displayName": "Raul Guimaraes",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjVLinhVP5SDvzoRw_GHsctAF_4I7cLShq9XtTZG73xlYmt8F0I=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "17396091491176820708",
              "type": "user",
              "emailAddress": "felipe.ferreira@mdgintermediacoes.com.br",
              "role": "writer",
              "displayName": "Felipe Ferreira",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIVo4jgF5dbfi_mENN0QheznukCoeEWsSeJQSJA9IILQcmwzw=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "07353960546919341189",
              "type": "user",
              "emailAddress": "suporte@mdgintermediacoes.com.br",
              "role": "writer",
              "displayName": "Suporte MDG",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocLFijLOnz9hY9UZY18fO9_K6e7qOtm5yPkeAoeUMTmOtPAXbQ=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": false,
            "canChangeItemDownloadRestriction": false,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": false,
            "canComment": true,
            "canCopy": true,
            "canDelete": false,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": false,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": false,
            "canMoveItemOutOfDrive": false,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": false,
            "canUntrash": false
          },
          "permissionIds": [
            "17604633664812570778",
            "11534251328642009597",
            "17396091491176820708",
            "07353960546919341189"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "kind": "drive#file",
          "id": "1EivPVzBOIRThXEcFwSIXg5Vkyle9xqioIvfrsgYMR_o",
          "name": "Cartão de Crédito Consignado e Cartão de Crédito Benefício",
          "mimeType": "application/vnd.google-apps.document",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "37",
          "webViewLink": "https://docs.google.com/document/d/1EivPVzBOIRThXEcFwSIXg5Vkyle9xqioIvfrsgYMR_o/edit?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document",
          "hasThumbnail": true,
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBOBPEF59pWvOWeDc2A_t3kkwbhCMBHYWsxp7KyTbS7KPZGYs_1g-Q31bm2eGxvMSBfo5BrM8jPDjCCbbII0Hn2Ms0RMyk7YjC__hq32493jrMLu2tNRMvSSSztL1A=s220",
          "thumbnailVersion": "8",
          "viewedByMe": true,
          "viewedByMeTime": "2025-08-27T16:37:04.259Z",
          "createdTime": "2025-06-11T17:43:47.569Z",
          "modifiedTime": "2025-08-27T16:37:04.259Z",
          "modifiedByMeTime": "2025-08-27T16:37:04.259Z",
          "modifiedByMe": true,
          "shared": true,
          "ownedByMe": false,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "size": "13273",
          "quotaBytesUsed": "13273",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        }
      }
    ]
  },
  "versionId": "716700c9-f568-4ed3-9d7b-ce208458ea9c",
  "activeVersionId": "716700c9-f568-4ed3-9d7b-ce208458ea9c",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-06-11T18:30:58.527Z",
      "createdAt": "2025-06-11T18:30:58.527Z",
      "role": "workflow:owner",
      "workflowId": "K7FKLDg7OPKBCrI6",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-11-29T01:50:38.405Z",
    "createdAt": "2025-11-29T01:50:38.405Z",
    "versionId": "716700c9-f568-4ed3-9d7b-ce208458ea9c",
    "workflowId": "K7FKLDg7OPKBCrI6",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "61aff680-7d1b-404c-957b-db0c69aa9c94",
                "name": "fileID",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "85b689f0-c47d-4070-b3a3-fc839e6f4371",
                "name": "name",
                "value": "={{ $json.name }}",
                "type": "string"
              },
              {
                "id": "81e053b3-5a44-4dea-a69d-04c63b218a70",
                "name": "fileType",
                "value": "={{ $json.mimeType }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          192,
          0
        ],
        "id": "126c83ce-3bb4-4dbf-8b65-50cc0546157d",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $('Edit Fields').item.json.fileID }}",
            "mode": "id"
          },
          "options": {
            "googleFileConversion": {
              "conversion": {
                "docsToFormat": "text/plain"
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          592,
          0
        ],
        "id": "23219404-ff1a-4d83-9cac-64376c41fd5a",
        "name": "Google Drive",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "vtAyj3CGNXcJFoMZ",
            "name": "Google Drive Suporte"
          }
        }
      },
      {
        "parameters": {
          "operation": "text",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          992,
          -16
        ],
        "id": "a5d0d798-d040-4bb7-86f1-c1596fcf4468",
        "name": "Extract from File"
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1BfwH4jMpuGB4jNrMT5u88PQOsTm4j0_i",
            "mode": "list",
            "cachedResultName": "Contexto",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1BfwH4jMpuGB4jNrMT5u88PQOsTm4j0_i"
          },
          "event": "fileCreated",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          -16,
          -80
        ],
        "id": "04df9b9a-efd6-48a0-b9ed-2c59c380086f",
        "name": "Google Drive Trigger",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "vtAyj3CGNXcJFoMZ",
            "name": "Google Drive Suporte"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1BfwH4jMpuGB4jNrMT5u88PQOsTm4j0_i",
            "mode": "list",
            "cachedResultName": "Contexto",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1BfwH4jMpuGB4jNrMT5u88PQOsTm4j0_i"
          },
          "event": "fileUpdated",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          -16,
          80
        ],
        "id": "b4dacd06-73f5-4666-b039-af4c3490f34e",
        "name": "Google Drive Trigger1",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "vtAyj3CGNXcJFoMZ",
            "name": "Google Drive Suporte"
          }
        }
      },
      {
        "parameters": {
          "operation": "deleteCollection",
          "collectionName": {
            "__rl": true,
            "value": "={{ $json.fileID }}",
            "mode": "name"
          },
          "requestOptions": {}
        },
        "type": "n8n-nodes-qdrant.qdrant",
        "typeVersion": 1,
        "position": [
          400,
          0
        ],
        "id": "711e1814-b1d6-44ef-99c3-828882eaf37a",
        "name": "Qdrant",
        "credentials": {
          "qdrantRestApi": {
            "id": "gHdTQdLpV2yBxhAv",
            "name": "Qdrant account Local"
          }
        }
      },
      {
        "parameters": {
          "mode": "insert",
          "qdrantCollection": {
            "__rl": true,
            "value": "={{ $('Edit Fields').item.json.name }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
        "typeVersion": 1.2,
        "position": [
          2208,
          -32
        ],
        "id": "6c9187ff-43f5-4f09-8694-56d9ed79d295",
        "name": "Qdrant Vector Store",
        "credentials": {
          "qdrantApi": {
            "id": "b0hyoUxS4uVmU7y8",
            "name": "QdrantApi local"
          }
        }
      },
      {
        "parameters": {
          "model": "nomic-embed-text:latest"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
        "typeVersion": 1,
        "position": [
          2176,
          160
        ],
        "id": "df703768-59e3-4466-a4e5-12cc47904d18",
        "name": "Embeddings Ollama2",
        "credentials": {
          "ollamaApi": {
            "id": "pOegylLBwaHAjzk2",
            "name": "Ollama account"
          }
        }
      },
      {
        "parameters": {
          "chunkSize": 5000,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
        "typeVersion": 1,
        "position": [
          2304,
          288
        ],
        "id": "6d824f0f-8322-4a04-a2f7-864087ca749a",
        "name": "Recursive Character Text Splitter1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          2720,
          -32
        ],
        "id": "888cf250-3de6-4216-9cb1-a1dcd28e206c",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "jsonMode": "expressionData",
          "jsonData": "={{ $json.data }}",
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "file_id",
                  "value": "={{ $('Edit Fields').item.json.fileID }}"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1,
        "position": [
          2304,
          160
        ],
        "id": "ae12f232-94b4-477c-873f-3931c4b2992a",
        "name": "Default Data Loader"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "2e577cff-69ea-4e36-b1e1-17a2da7697c7",
                      "leftValue": "={{ $('Edit Fields').item.json.fileType }}",
                      "rightValue": "application/vnd.google-apps.document",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "document"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Edit Fields').item.json.fileType }}",
                      "rightValue": "text/csv",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "65176135-cdb2-4ae3-8af2-11e325ce2483"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "text/csv"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          800,
          0
        ],
        "id": "54092d8d-fe53-40a8-9b37-c0fca40f3135",
        "name": "Switch"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          992,
          192
        ],
        "id": "bedf5f27-d35f-46ed-89c4-43e55c6a1c1c",
        "name": "Extract from File1"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1200,
          192
        ],
        "id": "3b7c32a5-c6a7-41eb-95d5-cdf749f7eb48",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "concatenate",
                "field": "data"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          1408,
          192
        ],
        "id": "7d10eee9-1b8f-404c-8de2-705c3b10982f",
        "name": "Summarize"
      },
      {
        "parameters": {
          "keys": {
            "key": [
              {
                "currentKey": "concatenated_data",
                "newKey": "data"
              }
            ]
          },
          "additionalOptions": {}
        },
        "type": "n8n-nodes-base.renameKeys",
        "typeVersion": 1,
        "position": [
          1616,
          192
        ],
        "id": "4d892a89-7ad8-42f3-b1a1-894d89793ce3",
        "name": "Rename Keys"
      }
    ],
    "connections": {
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Qdrant",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Qdrant Vector Store",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive Trigger": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive Trigger1": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Qdrant": {
        "main": [
          [
            {
              "node": "Google Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Ollama2": {
        "ai_embedding": [
          [
            {
              "node": "Qdrant Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Recursive Character Text Splitter1": {
        "ai_textSplitter": [
          [
            {
              "node": "Default Data Loader",
              "type": "ai_textSplitter",
              "index": 0
            }
          ]
        ]
      },
      "Qdrant Vector Store": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "node": "Qdrant Vector Store",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Extract from File1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File1": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Summarize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize": {
        "main": [
          [
            {
              "node": "Rename Keys",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Rename Keys": {
        "main": [
          [
            {
              "node": "Qdrant Vector Store",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}