Sem_Categoria/KPu1d7IeQqyhSriB.json
{
  "updatedAt": "2026-06-09T17:58:01.721Z",
  "createdAt": "2026-02-24T12:41:39.736Z",
  "id": "KPu1d7IeQqyhSriB",
  "name": "PRECFACIL - Importacao Oficio GaloTop local",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        1392,
        416
      ],
      "id": "89457e13-3b55-4be8-8485-083d05d6bcf6",
      "name": "Compression"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
        "destinationKey": "arquivoBase64",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2048,
        416
      ],
      "id": "acfec661-191f-4b16-a4df-58f54a3b3d49",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da5a30b5-7951-4bee-8dbf-e7ae6eb0874d",
              "name": "arquivoBase64",
              "value": "={{ $json.arquivoBase64 }}",
              "type": "string"
            },
            {
              "id": "da0a7604-9338-490b-a120-26c9dd9714d8",
              "name": "nomeArquivo",
              "value": "={{ $('Edit Fields1').item.json.FileName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2288,
        416
      ],
      "id": "dd3e6da8-98b3-479c-ac5d-1054de6201a5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2afe62c8-73a4-469a-8c5e-11b220a90c88",
              "name": "=FileName",
              "value": "={{ Object.values($binary)[0].fileName }}",
              "type": "string"
            },
            {
              "id": "a6f1103a-8d3b-4a01-b010-968b7bbb2ab4",
              "name": "base64",
              "value": "={{ Object.keys($binary)[0] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        416
      ],
      "id": "b7119611-dafe-4162-904b-6e41c6b5d558",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "53d04119-7060-4e26-83ea-edad78ca0bc1",
              "leftValue": "={{ $json.data }}",
              "rightValue": "não",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "fe4fb723-65d5-4a5d-ad92-7b4f7884518f",
              "leftValue": "={{ $json.data }}",
              "rightValue": "saldo",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "f7af9a03-107d-4000-b88d-fd0de5f2a740",
              "leftValue": "={{ $json.data }}",
              "rightValue": "informe todos os dados",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1168,
        528
      ],
      "id": "591f1569-1797-4c1a-8bfd-2094cf5e1fb1",
      "name": "If"
    },
    {
      "parameters": {
        "url": "=https://www.galo.top/api/precatorio.php?key=f8fnxnijcaoendmuaxx5w8itjurip8&cpf={{ $json.CPF }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        960,
        528
      ],
      "id": "ed95a3d8-c919-4395-9e78-6a10e6a81eff",
      "name": "HTTP Request GaloTop",
      "retryOnFail": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "$binary",
        "options": {
          "disableDotNotation": false,
          "includeBinary": true
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1600,
        416
      ],
      "id": "61838f55-cf0c-4fdb-9444-36d3a8e40110",
      "name": "separa arquivos",
      "executeOnce": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4832,
        128
      ],
      "id": "729a2242-8659-43de-89e7-aa1fdb67d303",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "NumeroProcesso",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3648,
        240
      ],
      "id": "3581927e-002d-4c30-b377-73a390ef174c",
      "name": "Merge1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4352,
        240
      ],
      "id": "94c5e3a7-c31c-422b-a6cb-ccc185cb2008",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "nomeArquivo",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        4064,
        240
      ],
      "id": "84851297-b105-4ed7-b7cd-afb56f75c207",
      "name": "Remove Duplicates3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2496,
        416
      ],
      "id": "c28edc0c-04b6-4f7c-96e5-9e50a6ef225f",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "arquivoBase64",
        "options": {
          "fileName": "={{ $('Edit Fields').item.json.nomeArquivo }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2672,
        688
      ],
      "id": "41821e0a-f34a-4b48-ae79-3e2c60264505",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2880,
        688
      ],
      "id": "fb1ebbe3-48b4-4ba1-b43b-cf7e88b262df",
      "name": "Extract from File6"
    },
    {
      "parameters": {
        "jsCode": "/* =========================\n   ENTRADA\n========================= */\nconst rawText = $json.text || '';\n\nconst text = rawText\n  .replace(/\\u00A0/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\n/* =========================\n   1. PROCESSO (CNJ)\n   PRIORIDADE SEMÂNTICA\n========================= */\n\nlet numeroProcesso = null;\n\n/**\n * Linha explícita \"Processo:\"\n * Aceita CNJ cru (20 dígitos)\n * ou CNJ mascarado\n */\nconst processoLinhaRegex =\n  /Processo\\s*:\\s*(\\d{20}|\\d{7}-\\d{2}\\.\\d{4}\\.\\d\\.\\d{2}\\.\\d{4})/i;\n\nconst processoLinhaMatch = text.match(processoLinhaRegex);\n\nif (processoLinhaMatch) {\n  const p = processoLinhaMatch[1];\n\n  // CNJ cru → mascara\n  if (/^\\d{20}$/.test(p)) {\n    numeroProcesso =\n      `${p.slice(0,7)}-${p.slice(7,9)}.` +\n      `${p.slice(9,13)}.${p.slice(13,14)}.` +\n      `${p.slice(14,16)}.${p.slice(16,20)}`;\n  } else {\n    numeroProcesso = p;\n  }\n} else {\n  /**\n   * Fallback — CNJ mascarado solto\n   * (usado só se não existir \"Processo:\")\n   */\n  const cnjFallback =\n    text.match(/\\d{7}-\\d{2}\\.\\d{4}\\.\\d\\.\\d{2}\\.\\d{4}/);\n\n  if (cnjFallback) {\n    numeroProcesso = cnjFallback[0];\n  }\n}\n\n/* =========================\n   2. OFÍCIO REQUISITÓRIO\n   (multi-tribunal)\n========================= */\n\nconst oficioPatterns = [\n  /OF[IÍ]CIO\\s+REQUISIT[ÓO]RIO\\s*(?:n[ºo]\\s*)?([\\d.]+)/i,\n  /REQUISI[CÇ][AÃ]O(?:\\s+DE\\s+PAGAMENTO)?\\s*(?:n[ºo]\\s*)?([\\d.]+)/i,\n  /\\b(PRC|RPV)\\b\\s*(?:n[ºo]\\s*)?([\\d.]{6,})/i,\n  /N[ºo]\\s*[:\\-]?\\s*([\\d.]{6,})/i\n];\n\nlet oficio = null;\n\nfor (const regex of oficioPatterns) {\n  const match = text.match(regex);\n  if (match) {\n    oficio = match[2] || match[1];\n    break;\n  }\n}\n\n/* =========================\n   3. FALLBACK BRUTO\n========================= */\nif (!oficio) {\n  const brute = text.match(/\\b\\d{8,}\\b/);\n  if (brute) oficio = brute[0];\n}\n\n/* =========================\n   4. NORMALIZAÇÃO\n========================= */\nif (oficio) {\n  oficio = oficio.replace(/[^\\d.]/g, '');\n}\n\n/* =========================\n   SAÍDA (n8n)\n========================= */\nreturn [\n  {\n    json: {\n      numeroProcesso,\n      oficioRequisitorio: oficio\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3088,
        688
      ],
      "id": "c0287d00-7292-4aef-bc95-157cd07b53e6",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1136ce31-d8e7-4f9f-8e0a-2e0e7ad93691",
              "name": "oficioRequisitorio",
              "value": "={{ $json.oficioRequisitorio }}",
              "type": "string"
            },
            {
              "id": "1f9d0382-7172-4eca-beaa-005863e4711c",
              "name": "arquivoBase64",
              "value": "={{ $('Edit Fields').item.json.arquivoBase64 }}",
              "type": "string"
            },
            {
              "id": "7fc24607-30eb-4d16-b3fc-c94be93ee77b",
              "name": "NumeroProcesso",
              "value": "={{ $json.numeroProcesso }}",
              "type": "string"
            },
            {
              "id": "1cbc012f-db10-4528-b2cc-b2552555c4c7",
              "name": "nomeArquivo",
              "value": "={{ $('Convert to File').item.binary.data.fileName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3296,
        688
      ],
      "id": "72180dc5-6b56-4f93-9da3-5de879b87801",
      "name": "Edit Fields14"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f3cd585-f9ba-4e10-9eba-6c5242f80d87",
              "name": "oficioRequisitorio",
              "value": "={{ $json.oficioRequisitorio }}",
              "type": "string"
            },
            {
              "id": "dc03019a-e64b-42b2-9681-ee319adbb9b0",
              "name": "arquivoBase64",
              "value": "={{ $json.arquivoBase64 }}",
              "type": "string"
            },
            {
              "id": "392580c3-c1fd-4b83-8156-a1d6ecfa95fd",
              "name": "NumeroProcesso",
              "value": "={{ $json.NumeroProcesso }}",
              "type": "string"
            },
            {
              "id": "8f056b55-8f47-4ecc-8e89-98234f10d033",
              "name": "nomeArquivo",
              "value": "={{ $json.nomeArquivo }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2688,
        400
      ],
      "id": "e755b2b3-ac0c-4350-8bc1-e40c219bcf32",
      "name": "Edit Fields15"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff146a59-0ccb-4776-a5db-99d5137a2609",
              "name": "CPF",
              "value": "={{ $json.CPF }}",
              "type": "string"
            },
            {
              "id": "223be97f-ff1e-44c2-8ec9-b597c890f901",
              "name": "NomeCliente",
              "value": "={{ $json.NomeCliente }}",
              "type": "string"
            },
            {
              "id": "9ddade61-1b9c-4dad-98ff-2380ade17093",
              "name": "DataNascimento",
              "value": "={{ $json.DataNascimento }}",
              "type": "string"
            },
            {
              "id": "e272e298-dbaf-44c3-b9b8-0d3185560e7f",
              "name": "NumeroProcesso",
              "value": "={{ $json.NumeroProcesso }}",
              "type": "string"
            },
            {
              "id": "1ff211f4-a69b-498d-94ee-41d4e474de83",
              "name": "nomeArquivo",
              "value": "={{ $json.NumeroProcesso }}-{{ $json.oficioRequisitorio }}.pdf",
              "type": "string"
            },
            {
              "id": "e12dabe7-2d2e-444a-b960-948f1d50aac2",
              "name": "arquivoBase64",
              "value": "={{ $json.arquivoBase64 }}",
              "type": "string"
            },
            {
              "id": "df345b22-f588-4b3a-b099-a98f3a222160",
              "name": "tipo",
              "value": "={{ $json.tipo }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3856,
        240
      ],
      "id": "5798e128-60e8-42eb-a079-f5f22c985561",
      "name": "Edit Fields16"
    },
    {
      "parameters": {
        "content": "## ORGANIZA DADOS\n\n",
        "height": 336,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3808,
        128
      ],
      "typeVersion": 1,
      "id": "d92cf326-e1ae-43b7-a973-3cd2ebced26b",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## EXTRAI NUMERO OFICIO\n\n",
        "height": 336,
        "width": 784,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2640,
        544
      ],
      "typeVersion": 1,
      "id": "cea30fc5-074a-49ec-9668-e4599787e65e",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## DESCOMPACTA OFICIOS\n\n",
        "height": 336,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1344,
        288
      ],
      "typeVersion": 1,
      "id": "cdb1b2e4-846c-47b3-a625-a11b344f6665",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## GET OFÍCIOS \n",
        "height": 336,
        "width": 192,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        400
      ],
      "typeVersion": 1,
      "id": "8b21921d-40e0-440a-bba7-7d67055372fb",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "command": "=$basePath = \"{{ $json.stdout }}\"\n$folderName = \"{{ $('Loop Over Items1').item.json.NomeCliente }}\"\n$fullPath = Join-Path $basePath $folderName\n\nif (-not (Test-Path -Path $fullPath)) {\n    New-Item -Path $fullPath -ItemType Directory | Out-Null\n}\n\nWrite-Output $fullPath",
        "cwd": "c:\\n8n"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4784,
        272
      ],
      "id": "278063ad-f074-4b85-b7ee-afad8d85692b",
      "name": "Execute a command",
      "credentials": {
        "sshPassword": {
          "id": "ycQRi5glz56987vv",
          "name": "SSH Password account SRV01"
        }
      }
    },
    {
      "parameters": {
        "command": "=$basePath = \"{{ $json.stdout }}\"\n$folderName = \"{{ $('Loop Over Items1').item.json.NumeroProcesso }}\"\n$fullPath = Join-Path $basePath $folderName\n\nif (-not (Test-Path -Path $fullPath)) {\n    New-Item -Path $fullPath -ItemType Directory | Out-Null\n}\n\nWrite-Output $fullPath",
        "cwd": "c:\\n8n"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4960,
        272
      ],
      "id": "9afd867d-e429-423c-bbd6-2b1b589d23b7",
      "name": "Execute a command1",
      "credentials": {
        "sshPassword": {
          "id": "ycQRi5glz56987vv",
          "name": "SSH Password account SRV01"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "arquivoBase64",
        "options": {
          "fileName": "={{ $json.nomeArquivo }}",
          "mimeType": "application/pdf"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4784,
        480
      ],
      "id": "26fa1805-c8e4-4e44-a662-0c79f0abe71d",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d60119b-69ef-42b5-9cd1-7caf63e5440b",
              "name": "NomeCliente",
              "value": "={{ $('Loop Over Items1').item.json.NomeCliente }}",
              "type": "string"
            },
            {
              "id": "5f8061e8-b4d5-43d9-a1a9-93a2b5112022",
              "name": "NumeroProcesso",
              "value": "={{ $('Loop Over Items1').item.json.NumeroProcesso }}",
              "type": "string"
            },
            {
              "id": "1255d002-3a7c-452f-b050-e03e34ad1f42",
              "name": "nomeArquivo",
              "value": "={{ $('Loop Over Items1').item.json.nomeArquivo }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "stripBinary": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5040,
        480
      ],
      "id": "2dd6c446-8637-4700-80a4-3f4c31bc5ffb",
      "name": "Edit Fields17"
    },
    {
      "parameters": {
        "resource": "file",
        "path": "={{ $json.stdout }}",
        "options": {
          "fileName": "={{ $json.nomeArquivo }}"
        }
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        5504,
        464
      ],
      "id": "f37b0458-a987-498f-8443-5324efdb7723",
      "name": "Upload a file",
      "credentials": {
        "sshPassword": {
          "id": "ycQRi5glz56987vv",
          "name": "SSH Password account SRV01"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36c1ebb9-08ff-47d1-bd75-cb654e3f101f",
              "name": "stdout",
              "value": "={{ $json.stdout }}",
              "type": "string"
            },
            {
              "id": "c6eddfec-ce65-47e1-aca0-01daa4a6c1a9",
              "name": "NomeCliente",
              "value": "={{ $('Loop Over Items1').item.json.NomeCliente }}",
              "type": "string"
            },
            {
              "id": "3b699954-dd22-40fd-bd35-292e52eec946",
              "name": "nomeArquivo",
              "value": "={{ $('Loop Over Items1').item.json.nomeArquivo }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5152,
        272
      ],
      "id": "e8f71eb8-13ff-4abb-9926-cd52f531d8ed",
      "name": "Edit Fields18"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "NomeCliente",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5312,
        464
      ],
      "id": "25f06d11-0ed0-45df-a62f-9a5d98cbb771",
      "name": "Merge3"
    },
    {
      "parameters": {
        "command": "=$basePath = \"F:\\Dados\\Precatorio\\OFICIOS_RPA\"\n$folderName = \"{{ $json.tipo }}\"\n$fullPath = Join-Path $basePath $folderName\n\nif (-not (Test-Path -Path $fullPath)) {\n    New-Item -Path $fullPath -ItemType Directory | Out-Null\n}\n\nWrite-Output $fullPath\n",
        "cwd": "c:\\n8n"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4608,
        272
      ],
      "id": "6fac99d3-318d-4ede-a391-8ad0ba0983d8",
      "name": "Execute a command4",
      "credentials": {
        "sshPassword": {
          "id": "ycQRi5glz56987vv",
          "name": "SSH Password account SRV01"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function cpfValido(cpf) {\n  if (!cpf) return false;\n\n  cpf = cpf.toString().replace(/\\D/g, '');\n\n  if (cpf.length !== 11) return false;\n\n  if (/^(\\d)\\1{10}$/.test(cpf)) return false;\n\n  let soma = 0;\n  let resto;\n\n  // 1º dígito\n  for (let i = 0; i < 9; i++) {\n    soma += parseInt(cpf[i]) * (10 - i);\n  }\n\n  resto = (soma * 10) % 11;\n  if (resto === 10) resto = 0;\n  if (resto !== parseInt(cpf[9])) return false;\n\n  soma = 0;\n\n  // 2º dígito\n  for (let i = 0; i < 10; i++) {\n    soma += parseInt(cpf[i]) * (11 - i);\n  }\n\n  resto = (soma * 10) % 11;\n  if (resto === 10) resto = 0;\n  if (resto !== parseInt(cpf[10])) return false;\n\n  return true;\n}\n\nfunction extrairCpfDaUrl(url) {\n  if (!url) return null;\n  const match = url.match(/cpf=(\\d+)/);\n  return match ? match[1] : null;\n}\n\nconst itensValidos = items.filter(item => {\n  let cpf = item.json.CPF;\n\n  // Primeiro tenta validar o CPF direto\n  if (cpfValido(cpf)) {\n    return true;\n  }\n\n  // Se inválido, tenta extrair da URL\n  const cpfDaUrl = extrairCpfDaUrl(item.json.content);\n\n  if (cpfValido(cpfDaUrl)) {\n    // Atualiza o CPF no item para o correto\n    item.json.CPF = cpfDaUrl;\n    return true;\n  }\n\n  return false;\n});\n\nif (itensValidos.length === 0) {\n  return [];\n}\n\nreturn itensValidos;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        224
      ],
      "id": "6fe9ac5e-6fcb-4fcf-85f9-6f99a8435207",
      "name": "Code in JavaScript12"
    },
    {
      "parameters": {
        "queue": "precfacil_importacao_oficio_galotop",
        "options": {
          "binding": {
            "bindings": [
              {
                "exchange": "precfacil_exchange",
                "routingKey": "precfacil_importacao_oficio_galotop"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "durable": true,
          "parallelMessages": 2
        }
      },
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        64,
        224
      ],
      "id": "d521e9e9-64c2-4f60-bc4e-6c1f803d7d6e",
      "name": "RabbitMQ Trigger1",
      "credentials": {
        "rabbitmq": {
          "id": "8S2CCfj4pf5t6xWv",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00693003-6b08-47c3-b58c-226e0d894692",
              "name": "CPF",
              "value": "={{ $json.content.parseJson().CPF }}",
              "type": "string"
            },
            {
              "id": "b2c80a97-3b35-4b54-98c6-4d6ff7ee51dd",
              "name": "NomeCliente",
              "value": "={{ $json.content.parseJson().NomeCliente }}",
              "type": "string"
            },
            {
              "id": "80237cba-070b-46b6-8027-7f2a903db540",
              "name": "DataNascimento",
              "value": "={{ $json.content.parseJson().DataNascimento }}",
              "type": "string"
            },
            {
              "id": "e37c79ea-01b1-4e87-8683-13706e4de3ce",
              "name": "NumeroProcesso",
              "value": "={{ $json.content.parseJson().NumeroProcesso }}",
              "type": "string"
            },
            {
              "id": "97028d4a-dcab-44dd-af41-c9dd60be189a",
              "name": "content",
              "value": "={{ $json.content.parseJson().link }}",
              "type": "string"
            },
            {
              "id": "079665ab-783b-460c-8065-df9e6b102442",
              "name": "tipo",
              "value": "={{ $json.content.parseJson().TIPO }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        224
      ],
      "id": "d6a38c21-9b26-48c6-94bc-a7d60abba574",
      "name": "Edit Fields30"
    },
    {
      "parameters": {
        "content": "## MPORTACAO GALOTOP\n",
        "height": 1504,
        "width": 5968
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -16
      ],
      "typeVersion": 1,
      "id": "77824282-403e-4922-82d3-2cb0f8598cda",
      "name": "Sticky Note33"
    },
    {
      "parameters": {
        "content": "## NOTIFICA ERROS \n\n",
        "height": 560,
        "width": 2112,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        896
      ],
      "typeVersion": 1,
      "id": "48d332c6-0473-4e1f-bed9-effcefa82517",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "sendTo": "aline.goncalves@acgconsultoria.com.br, jenifer.guerra@acgconsultoria.com.br, felipe.ferreira@mdgintermediacoes.com.br",
        "subject": "={{ $('Code in JavaScript5').item.json.subject }}",
        "emailType": "text",
        "message": "={{ $('Code in JavaScript5').item.json.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2224,
        928
      ],
      "id": "36fc47bc-d07a-4964-9cf5-0140262dca7b",
      "name": "Send a message3",
      "webhookId": "5880630a-62b4-467a-8457-fc37456f1e45",
      "credentials": {
        "gmailOAuth2": {
          "id": "iEXJKdMeC12THwyd",
          "name": "Gmail Desenvolvimento"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "filters": {
          "q": "=in:sent subject:\"{{ $json.subject }}\" after:{{$now.minus({ days: 1 }).startOf('day').toFormat('yyyy/MM/dd')}}\nbefore:{{$now.plus({days:1}).startOf('day').toFormat('yyyy/MM/dd')}}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1808,
        992
      ],
      "id": "c719c9fb-98a6-42a4-8e46-31cc8c7145ad",
      "name": "Get many messages2",
      "webhookId": "5880630a-62b4-467a-8457-fc37456f1e45",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "iEXJKdMeC12THwyd",
          "name": "Gmail Desenvolvimento"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9feacb1c-d6b8-4056-b9f8-f6e367b01e6f",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1984,
        992
      ],
      "id": "49b58d78-d20b-4429-9b45-75688ecf5c7e",
      "name": "If5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b46d562-73b2-47e7-8d2d-0568a3141d28",
              "name": "NomeCliente",
              "value": "={{ $('Edit Fields10').item.json.NomeCliente }}",
              "type": "string"
            },
            {
              "id": "1dd48a39-127f-4c5f-afe4-aaa5710bdad7",
              "name": "CPF",
              "value": "={{ $('Edit Fields10').item.json.CPF }}",
              "type": "string"
            },
            {
              "id": "e0804e1a-d00f-4d09-b89b-500447e8ae95",
              "name": "NumeroProcesso",
              "value": "={{ $('Edit Fields10').item.json.NumeroProcesso }}",
              "type": "string"
            },
            {
              "id": "098b1dad-e6bd-43f6-a571-8fd47cdd4907",
              "name": "link",
              "value": "={{ $('Edit Fields10').item.json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2384,
        1152
      ],
      "id": "5b1188dd-b599-42dd-9d4d-d00311f549af",
      "name": "Edit Fields27"
    },
    {
      "parameters": {
        "mode": "exchange",
        "exchange": "precfacil_exchange",
        "exchangeType": "direct",
        "routingKey": "precfacil_importacao_oficio_galotop",
        "options": {
          "headers": {
            "header": [
              {
                "key": "crm",
                "value": "={{ $json.link.extractDomain() }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        2608,
        1152
      ],
      "id": "c71104dc-4d3e-49b9-8d0f-72ff2fad0cad",
      "name": "RabbitMQ3",
      "executeOnce": false,
      "credentials": {
        "rabbitmq": {
          "id": "8S2CCfj4pf5t6xWv",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b46d562-73b2-47e7-8d2d-0568a3141d28",
              "name": "NomeCliente",
              "value": "={{ $('Edit Fields10').item.json.NomeCliente }}",
              "type": "string"
            },
            {
              "id": "1dd48a39-127f-4c5f-afe4-aaa5710bdad7",
              "name": "CPF",
              "value": "={{ $('Edit Fields10').item.json.CPF }}",
              "type": "string"
            },
            {
              "id": "e0804e1a-d00f-4d09-b89b-500447e8ae95",
              "name": "NumeroProcesso",
              "value": "={{ $('Edit Fields10').item.json.NumeroProcesso }}",
              "type": "string"
            },
            {
              "id": "098b1dad-e6bd-43f6-a571-8fd47cdd4907",
              "name": "link",
              "value": "={{ $('Edit Fields10').item.json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2432,
        928
      ],
      "id": "3139aeb1-4ea8-4b4c-a383-5bdfa2442032",
      "name": "Edit Fields28"
    },
    {
      "parameters": {
        "mode": "exchange",
        "exchange": "precfacil_exchange",
        "options": {
          "headers": {
            "header": [
              {
                "key": "crm",
                "value": "={{ $json.link.extractDomain() }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        2624,
        928
      ],
      "id": "25e5f649-6179-44a3-b053-358657916e2f",
      "name": "RabbitMQ4",
      "executeOnce": false,
      "credentials": {
        "rabbitmq": {
          "id": "8S2CCfj4pf5t6xWv",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=relatorio:erros:oficios4MTI:{{ $now.format('yyyy-MM-dd') }}",
        "messageData": "={{ JSON.stringify($('Edit Fields27').item.json) }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2816,
        1152
      ],
      "id": "6be6e308-3959-42d2-b79f-6d1bcddfc50f",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "2y8e8qNjLE5cI6iY",
          "name": "Redis account dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=relatorio:erros:oficiosGaloTop:{{ $now.format('yyyy-MM-dd') }}",
        "messageData": "={{ JSON.stringify($('Edit Fields28').item.json) }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2832,
        928
      ],
      "id": "57fdaefd-9385-4dd1-b1f4-9b4f04ae84a1",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "2y8e8qNjLE5cI6iY",
          "name": "Redis account dev"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3056,
        928
      ],
      "id": "01b0cbc0-96b7-4b30-a9c6-1bfc31ad180d",
      "name": "No Operation, do nothing6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3024,
        1152
      ],
      "id": "c4a7facc-b703-451e-82e3-f31b93c4db25",
      "name": "No Operation, do nothing10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5901984c-74c9-4936-849a-4e3972b0cc38",
              "name": "alerta",
              "value": "={{ $json.data }}",
              "type": "string"
            },
            {
              "id": "9039c294-012d-40d8-8a85-4d29c78ddc39",
              "name": "CPF",
              "value": "={{ $('Edit Fields2').item.json.CPF }}",
              "type": "string"
            },
            {
              "id": "0bec382f-ed27-4ea0-aa54-93ca800b7232",
              "name": "NomeCliente",
              "value": "={{ $('Edit Fields2').item.json.NomeCliente }}",
              "type": "string"
            },
            {
              "id": "564f6ad0-ecf0-4614-92e0-35d2a81b5195",
              "name": "NumeroProcesso",
              "value": "={{ $('Edit Fields2').item.json.NumeroProcesso }}",
              "type": "string"
            },
            {
              "id": "ee867de5-08e4-46ab-b4f2-688bc3e985bd",
              "name": "link",
              "value": "={{ $('Edit Fields2').item.json.content }}",
              "type": "string"
            },
            {
              "id": "df0fc190-5442-45f8-8748-9321232e6c9c",
              "name": "crm",
              "value": "={{ $('Edit Fields2').item.json.content.extractDomain() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        992
      ],
      "id": "503f8b05-e998-4316-8fa5-914083c78ab8",
      "name": "Edit Fields12"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\n\n// Usar o CRM vindo no input e normalizar (remove www.)\nlet crm = 'CRM não identificado';\n\nif (data.crm && typeof data.crm === 'string') {\n  crm = data.crm.replace(/^www\\./, '');\n}\n\n// Normalizar alerta\nlet alerta = data.alerta || 'Alerta não especificado';\n\n// Subject do email agora usando a variável alerta\nconst subject = `Alerta – ${alerta} no CRM (${crm})`;\n\n// Corpo do email\nconst body = `\nPrezados,\n\nInformamos que, durante a verificação automática no CRM (${crm}), foi identificado o seguinte alerta:\n\nAlerta: ${alerta}\n\nDetalhes do registro:\n- Cliente: ${data.NomeCliente}\n- CPF: ${data.CPF}\n- Número do Processo: ${data.NumeroProcesso}\n\nLink consultado:\n${data.link}\n\nSolicitamos a validação manual do caso ou a regularização para que o fluxo possa prosseguir normalmente.\n\nAtenciosamente,\nDesenvolvimento.\n`.trim();\n\n// Retorno\nreturn [\n  {\n    json: {\n      crm,\n      subject,\n      body,\n      NomeCliente: data.NomeCliente,\n      CPF: data.CPF,\n      NumeroProcesso: data.NumeroProcesso,\n      alerta,\n      link: data.link\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        992
      ],
      "id": "c3f76387-a780-4c78-a18f-05acff0d98f5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fe4fb723-65d5-4a5d-ad92-7b4f7884518f",
              "leftValue": "={{ $json.data }}",
              "rightValue": "saldo",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1152,
        1120
      ],
      "id": "4b27fb23-66ff-46ee-9743-ddffd0e4d1e1",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "deactivate",
        "workflowId": {
          "__rl": true,
          "value": "KPu1d7IeQqyhSriB",
          "mode": "list",
          "cachedResultName": "PRECFACIL - Importacao Oficio GaloTop local (#KPu1d7IeQqyhSriB)"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1856,
        1264
      ],
      "id": "eff7d357-3c5d-4fb5-9ff3-0333c6b8eed6",
      "name": "Unpublish a workflow",
      "credentials": {
        "n8nApi": {
          "id": "cv70TBpNYj5AFvIr",
          "name": "n8n account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2080,
        1264
      ],
      "id": "90761dad-ee36-4beb-930e-b2c6b195848c",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "sendTo": "aline.goncalves@acgconsultoria.com.br, jenifer.guerra@acgconsultoria.com.br, felipe.ferreira@mdgintermediacoes.com.br",
        "subject": "={{ $('Code in JavaScript1').item.json.subject }}",
        "emailType": "text",
        "message": "={{ $('Code in JavaScript1').item.json.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1680,
        1264
      ],
      "id": "7a9cb218-c7b2-483e-ad70-3915455ef309",
      "name": "Send a message",
      "webhookId": "5880630a-62b4-467a-8457-fc37456f1e45",
      "credentials": {
        "gmailOAuth2": {
          "id": "iEXJKdMeC12THwyd",
          "name": "Gmail Desenvolvimento"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5901984c-74c9-4936-849a-4e3972b0cc38",
              "name": "alerta",
              "value": "={{ $json.data }}",
              "type": "string"
            },
            {
              "id": "9410cdda-bfaa-4cf5-a3f1-0234418e2f61",
              "name": "crm",
              "value": "={{ $('Code in JavaScript12').item.json.content.extractDomain() }}",
              "type": "string"
            },
            {
              "id": "0a0dc285-9a01-441e-9e36-b17403c54e32",
              "name": "link",
              "value": "={{ $('Code in JavaScript12').item.json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        1264
      ],
      "id": "5d54ea35-af60-4475-af8c-1dce38ada195",
      "name": "Edit Fields13"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\n\n// Usar o CRM vindo no input e normalizar (remove www.)\nlet crm = 'CRM não identificado';\n\nif (data.crm && typeof data.crm === 'string') {\n  crm = data.crm.replace(/^www\\./, '');\n}\n\n// Normalizar alerta\nlet alerta = data.alerta || 'Alerta não especificado';\n\n// Subject do email agora usando a variável alerta\nconst subject = `Alerta – ${alerta} no CRM (${crm})`;\n\n// Corpo do email\nconst body = `\nPrezados,\n\nInformamos que, durante a verificação automática no CRM (${crm}), foi identificado o seguinte alerta:\n\nAlerta: ${alerta}\n\nLink consultado:\n${data.link}\n\nSolicitamos a validação manual do caso ou a regularização para que o fluxo possa prosseguir normalmente.\n\nAtenciosamente,\nDesenvolvimento.\n`.trim();\n\n// Retorno\nreturn [\n  {\n    json: {\n      crm,\n      subject,\n      body,\n      NomeCliente: data.NomeCliente,\n      CPF: data.CPF,\n      NumeroProcesso: data.NumeroProcesso,\n      alerta,\n      link: data.link\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        1264
      ],
      "id": "521f7aa8-a751-4816-b817-f601384b59cf",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=relatorio:erros:oficiosGaloTop:{{ $now.minus({ days: 1 }).format('yyyy-MM-dd') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        112,
        1824
      ],
      "id": "dac81e10-bdb2-474a-a22c-ca33e2ac4727",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "2y8e8qNjLE5cI6iY",
          "name": "Redis account dev"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lista = $json.propertyName || [];\n\nreturn lista.map(item => {\n  return {\n    json: JSON.parse(item)\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        1824
      ],
      "id": "a07e6ce3-4302-4d16-8f66-7df7e8d9544b",
      "name": "Code in JavaScript13"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "link",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        512,
        1824
      ],
      "id": "6b9e072d-8edf-45bb-9cb0-0922b0e9fdf7",
      "name": "Remove Duplicates6"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "=relatorio:erros:oficios4MTI:{{ $now.minus({ days: 1 }).format('yyyy-MM-dd') }}.xlsx"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        720,
        1824
      ],
      "id": "0776560c-9f0c-4ae5-814c-33702905128b",
      "name": "Convert to File3"
    },
    {
      "parameters": {
        "sendTo": "aline.goncalves@acgconsultoria.com.br, jenifer.guerra@acgconsultoria.com.br, felipe.ferreira@mdgintermediacoes.com.br",
        "subject": "=Relatório Diário de Erros – Download de Ofícios GaloTop {{ $now.minus({ days: 1 }).format('yyyy-MM-dd') }}",
        "message": "<p>Prezados,</p> <p> Segue em anexo o relatório diário contendo os erros identificados no processo de download de ofícios. </p> <p>O documento contempla as seguintes informações:</p> <ul style=\"padding-left:18px; margin-top:8px; margin-bottom:16px;\"> <li>Nome do cliente</li><li>Número do processo</li> <li>Link do documento</li> </ul> <p> O objetivo deste relatório é permitir o acompanhamento das falhas registradas no dia e apoiar as ações corretivas necessárias. </p> <p> Permanecemos à disposição para quaisquer esclarecimentos. </p> <p style=\"margin-top:24px;\"> Atenciosamente,<br> <strong>Desenvolvimento </strong> </p> </td>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        928,
        1824
      ],
      "id": "d433ae51-95eb-44bd-bc28-dfcfb78bad28",
      "name": "Send a message1",
      "webhookId": "dbba3a11-ba96-4233-8378-447cc9c34913",
      "credentials": {
        "gmailOAuth2": {
          "id": "iEXJKdMeC12THwyd",
          "name": "Gmail Desenvolvimento"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=relatorio:erros:oficiosGaloTop:{{ $now.minus({ days: 1 }).format('yyyy-MM-dd') }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1344,
        1760
      ],
      "id": "fdd6d8c4-2fa8-41e4-8eac-6dfc9261656e",
      "name": "Redis3",
      "credentials": {
        "redis": {
          "id": "2y8e8qNjLE5cI6iY",
          "name": "Redis account dev"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "16fd3c7b-4a06-458c-bfa6-e50c2ff77561",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1136,
        1824
      ],
      "id": "71f7b530-695a-4440-83ce-9c202d38b068",
      "name": "If6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1344,
        1920
      ],
      "id": "ff958b04-d2a5-46aa-8a89-b59678b71530",
      "name": "No Operation, do nothing8"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1584,
        1760
      ],
      "id": "77b8744d-7436-4049-81e7-b7cc1f159116",
      "name": "No Operation, do nothing9"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -96,
        1824
      ],
      "id": "e89f3a9f-76cf-4b95-a048-60424e27c78e",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "content": "## Relatorio de erro GaloTOp\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 560,
        "width": 1984,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        1600
      ],
      "typeVersion": 1,
      "id": "1e1918ec-a05d-42d4-b755-82874fc9f78a",
      "name": "Sticky Note34"
    }
  ],
  "connections": {
    "Compression": {
      "main": [
        [
          {
            "node": "separa arquivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request GaloTop": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa arquivos": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Edit Fields16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute a command4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Edit Fields15",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Extract from File6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File6": {
      "main": [
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "Edit Fields14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields14": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields15": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields16": {
      "main": [
        [
          {
            "node": "Remove Duplicates3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command": {
      "main": [
        [
          {
            "node": "Execute a command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command1": {
      "main": [
        [
          {
            "node": "Edit Fields18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Edit Fields17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields17": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields18": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command4": {
      "main": [
        [
          {
            "node": "Execute a command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript12": {
      "main": [
        [
          {
            "node": "HTTP Request GaloTop",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ Trigger1": {
      "main": [
        [
          {
            "node": "Edit Fields30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields30": {
      "main": [
        [
          {
            "node": "Code in JavaScript12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message3": {
      "main": [
        [
          {
            "node": "Edit Fields28",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields28",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages2": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields27": {
      "main": [
        [
          {
            "node": "RabbitMQ3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ3": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields28": {
      "main": [
        [
          {
            "node": "RabbitMQ4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ4": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "No Operation, do nothing10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields12": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get many messages2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Edit Fields12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unpublish a workflow": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields13": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Unpublish a workflow",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "Code in JavaScript13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript13": {
      "main": [
        [
          {
            "node": "Remove Duplicates6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates6": {
      "main": [
        [
          {
            "node": "Convert to File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File3": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "staticData": {
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "RabbitMQ Trigger1": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-Uu11NLe1Wo0bqNCHcwiBbA",
            "deliveryTag": 823,
            "redelivered": false,
            "exchange": "precfacil_exchange",
            "routingKey": "precfacil_importacao_oficio_galotop"
          },
          "properties": {
            "headers": {
              "crm": "www.galo.top"
            }
          },
          "content": "{\"NomeCliente\":\"NATERCIA MEDRADO GOMES\",\"CPF\":\"29333121587\",\"DataNascimento\":\"\\n\",\"NumeroProcesso\":\"0012709-96.2023.4.05.8500\",\"link\":\"https://www.galo.top/api/precatorio.php?key=f8fnxnijcaoendmuaxx5w8itjurip8&cpf=29333121587\",\"TIPO\":\"RPV\"}"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "c0e5206b-c25f-48aa-a9fc-36954648a682",
  "activeVersionId": null,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-02-24T12:41:39.736Z",
      "createdAt": "2026-02-24T12:41:39.736Z",
      "role": "workflow:owner",
      "workflowId": "KPu1d7IeQqyhSriB",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": null,
  "tags": []
}