Sem_Categoria/MIU7IINEGYYeCKH1.json
{
  "updatedAt": "2025-11-25T11:35:05.060Z",
  "createdAt": "2024-11-19T11:05:04.051Z",
  "id": "MIU7IINEGYYeCKH1",
  "name": "Relatorio - Equipamentos Duplicidade 1.0.1",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "glpi_phones",
          "mode": "list",
          "cachedResultName": "glpi_phones"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "contact",
              "condition": "!=",
              "value": "ESTOQUE"
            },
            {
              "column": "contact",
              "condition": "!=",
              "value": "RPA"
            },
            {
              "column": "contact",
              "condition": "!=",
              "value": "AVARIADO"
            },
            {
              "column": "contact",
              "condition": "!=",
              "value": "SUPORTE - TI"
            },
            {
              "column": "contact",
              "condition": "!=",
              "value": "builder"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "name"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "name",
            "contact",
            "locations_id",
            "phonemodels_id",
            "manufacturers_id",
            "date_mod"
          ]
        }
      },
      "id": "55ce42de-c9ab-4b90-adde-15c87b10b372",
      "name": "glpi_phones",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1024,
        320
      ],
      "credentials": {
        "mySql": {
          "id": "MZJ4ZTqeywo2Oo5M",
          "name": "MySQL GLPI"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "glpi_manufacturers",
          "mode": "list",
          "cachedResultName": "glpi_manufacturers"
        },
        "returnAll": true,
        "sort": {
          "values": [
            {
              "column": "id"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "id",
            "name"
          ]
        }
      },
      "id": "17f19f5b-13fc-4dca-98b3-9ff524623788",
      "name": "glpi_manufacturers",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1024,
        512
      ],
      "credentials": {
        "mySql": {
          "id": "MZJ4ZTqeywo2Oo5M",
          "name": "MySQL GLPI"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "glpi_phonemodels",
          "mode": "name"
        },
        "returnAll": true,
        "sort": {
          "values": [
            {
              "column": "id"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "id",
            "name"
          ]
        }
      },
      "id": "4435caaf-ea35-40cb-a734-db9c3463d256",
      "name": "glpi_phonemodels",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1024,
        672
      ],
      "credentials": {
        "mySql": {
          "id": "MZJ4ZTqeywo2Oo5M",
          "name": "MySQL GLPI"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "glpi_locations",
          "mode": "name"
        },
        "returnAll": true,
        "sort": {
          "values": [
            {
              "column": "id"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "id",
            "name"
          ]
        }
      },
      "id": "66994b82-6467-4742-8405-ee1f6c6aa03b",
      "name": "glpi_locations",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1008,
        832
      ],
      "credentials": {
        "mySql": {
          "id": "MZJ4ZTqeywo2Oo5M",
          "name": "MySQL GLPI"
        }
      }
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "id",
              "newKey": "manufacturers_id"
            },
            {
              "currentKey": "name",
              "newKey": "Fabricante "
            }
          ]
        },
        "additionalOptions": {}
      },
      "id": "b3a58bb0-0b81-4244-a2a5-b87e3f159363",
      "name": "Rename Keys",
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        1248,
        512
      ]
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "id",
              "newKey": "phonemodels_id"
            },
            {
              "currentKey": "name",
              "newKey": "modelo"
            }
          ]
        },
        "additionalOptions": {}
      },
      "id": "b0c923ca-f7e0-4238-b0fe-c8af56874815",
      "name": "Rename Keys1",
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        1248,
        672
      ]
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "id",
              "newKey": "locations_id"
            },
            {
              "currentKey": "name",
              "newKey": "empresa"
            }
          ]
        },
        "additionalOptions": {}
      },
      "id": "ccaf0f1e-4613-4013-99e0-cc16e2f63f51",
      "name": "Rename Keys2",
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        1264,
        848
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "locations_id",
        "joinMode": "enrichInput1",
        "options": {}
      },
      "id": "fa4708ab-5d94-4dae-9ac7-0c5696488f67",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1520,
        800
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true,
          "sheetName": "Base"
        }
      },
      "id": "69d2117c-fcf8-4da3-b7b5-9553edf26013",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1232,
        112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5db5ce7a-587a-4c28-be94-0fd181c6aeff",
              "name": "ID",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "6e7ae519-eabe-412a-957b-894368c124aa",
              "name": "NOME",
              "value": "={{ $json.contact.trim().toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "d4b4355d-fd74-482b-b27a-570dedd8dad5",
              "name": "MODELO",
              "value": "={{ $json.modelo }}",
              "type": "string"
            },
            {
              "id": "4414c225-a27f-41fc-8282-8a9f14c6d88d",
              "name": "FABRICANTE",
              "value": "={{ $json['Fabricante '] }}",
              "type": "string"
            },
            {
              "id": "5b009cb3-8aae-47d4-84a2-a4a2ec9d4643",
              "name": "LOCAL",
              "value": "={{ $json.empresa }}",
              "type": "string"
            },
            {
              "id": "e242766f-e7b8-4938-ad8e-b38cc81a4063",
              "name": "ATRIBUÍDO",
              "value": "={{ $json.date_mod.toDateTime().format('dd/LL/yyyy') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "86e2be0c-3f06-4428-b482-3399895c681c",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2272,
        784
      ]
    },
    {
      "parameters": {},
      "id": "deb7fd1e-a497-4abf-b03b-37f44d69bd17",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        6656,
        1808
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "NOME, CARGO , ID, MODELO, FABRICANTE, ATRIBUÍDO, LOCAL",
        "options": {}
      },
      "id": "ec1ff808-a2a6-4ad5-a6c8-90ee0b24a697",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3344,
        112
      ]
    },
    {
      "parameters": {
        "sendTo": "lucas.alves@mdgintermediacoes.com.br",
        "subject": "=Relatório de Colaboradores com Mais de Um Equipamento Móvel MDG Morumbi {{ DateTime.now().format('dd/LL/yyyy') }}",
        "message": "={{ $('CodeMORUMBI').first().json.emailBody }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          },
          "ccList": "raul.guimaraes@mdgintermediacoes.com.br, daniel.gaspar@mdgintermediacoes.com.br"
        }
      },
      "id": "1ee87aa2-150d-42b1-8e01-3cb64c7e5ca2",
      "name": "MDG Morumbi",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5472,
        304
      ],
      "webhookId": "3bace9ed-758c-4036-b436-f39963d52f1f",
      "credentials": {
        "gmailOAuth2": {
          "id": "354YsBCaj8SFvfOe",
          "name": "Gmail Suporte"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sendTo": "felipe.ferreira@mdgintermediacoes.com.br",
        "subject": "=Relatório de Colaboradores com Mais de Um Equipamento Móvel MDG Intermediações de Negócios {{ DateTime.now().format('dd/LL/yyyy') }}",
        "message": "={{ $('CodeMDG').first().json.emailBody }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          },
          "ccList": "raul.guimaraes@mdgintermediacoes.com.br, daniel.gaspar@mdgintermediacoes.com.br"
        }
      },
      "id": "8912852a-7dee-4f07-8f1f-289f7ea05093",
      "name": "MDG Intermediações de Negócios",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5472,
        -48
      ],
      "webhookId": "469716e7-4ae2-490c-a47f-a5ad52232525",
      "credentials": {
        "gmailOAuth2": {
          "id": "354YsBCaj8SFvfOe",
          "name": "Gmail Suporte"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "aline.goncalves@acgconsultoria.com.br",
        "subject": "=Relatório de Colaboradores com Mais de Um Equipamento Móvel A.C.G. CONSULTORIA EM GESTAO EMPRESARIAL LTDA {{ DateTime.now().format('dd/LL/yyyy') }}",
        "message": "={{ $('CodeACG').first().json.emailBody }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          },
          "ccList": "raul.guimaraes@mdgintermediacoes.com.br, daniel.gaspar@mdgintermediacoes.com.br"
        }
      },
      "id": "017afe8c-ba95-497d-bf5c-e31ae1141dde",
      "name": "A.C.G. CONSULTORIA EM GESTAO EMPRESARIAL LTDA",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5488,
        640
      ],
      "webhookId": "cb34f8c9-baa8-47b0-a35e-056d27e7b0db",
      "credentials": {
        "gmailOAuth2": {
          "id": "354YsBCaj8SFvfOe",
          "name": "Gmail Suporte"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                2
              ],
              "triggerAtHour": 8,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "56e66a40-7062-43ae-a3db-2e241e610634",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        624,
        512
      ]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "NOME"
            },
            {
              "fieldName": "LOCAL"
            }
          ]
        },
        "options": {}
      },
      "id": "f95fdaac-d5f9-4352-86a6-c7d9932cc29c",
      "name": "Sort",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        3568,
        112
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "phonemodels_id",
        "options": {}
      },
      "id": "e84b8466-ae91-4282-9e18-9bf87758f7ca",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1520,
        560
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ca550c2-422c-4ff3-921c-4f0facb0acb9",
              "name": "NOME",
              "value": "={{ $json.NOME.trim().toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "f60dc7f9-985d-406d-b0ef-737b65acf7bf",
              "name": "ATIVO",
              "value": "={{ $json.ATIVO }}",
              "type": "string"
            },
            {
              "id": "656a894f-427f-4888-92a1-8e35d39c27a5",
              "name": "CARGO",
              "value": "={{ $json.CARGO.trim().toUpperCase() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e65b3bff-538f-4b06-b73a-9682717f5a3f",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3abab9f8-13d6-4c95-a676-39c26bde11c2",
              "leftValue": "={{ $json.ATIVO.trim() }}",
              "rightValue": "SIM",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c9b6789e-81f2-4345-9498-788919e6df27",
      "name": "NaoAtivo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3072,
        128
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "download",
        "path": "F:\\Dados\\TI\\01 - Planilhas\\Banco de Dados - Usuários1.xlsx",
        "options": {}
      },
      "id": "06171a08-afe5-4136-ae6a-5120f6bad8a3",
      "name": "SSH",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1024,
        112
      ],
      "credentials": {
        "sshPassword": {
          "id": "ycQRi5glz56987vv",
          "name": "SSH Password account SRV01"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "glpi_computers",
          "mode": "name"
        },
        "returnAll": true,
        "options": {
          "outputColumns": [
            "name",
            "serial",
            "contact",
            "computermodels_id",
            "manufacturers_id",
            "locations_id",
            "date_mod"
          ]
        }
      },
      "id": "9bda1f98-ac86-4b57-b07a-62892326a9a1",
      "name": "glpi_computers",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1008,
        1040
      ],
      "credentials": {
        "mySql": {
          "id": "MZJ4ZTqeywo2Oo5M",
          "name": "MySQL GLPI"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "glpi_computermodels",
          "mode": "name"
        },
        "returnAll": true,
        "options": {
          "outputColumns": [
            "id",
            "name"
          ]
        }
      },
      "id": "702e1418-a230-481d-aabd-d8359fc26873",
      "name": "glpi_computermodels",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1024,
        1408
      ],
      "credentials": {
        "mySql": {
          "id": "MZJ4ZTqeywo2Oo5M",
          "name": "MySQL GLPI"
        }
      }
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "name",
              "newKey": "HOSTNAME"
            },
            {
              "currentKey": "serial",
              "newKey": "ID"
            },
            {
              "currentKey": "contact",
              "newKey": "NOME"
            }
          ]
        },
        "additionalOptions": {}
      },
      "id": "35a97def-1239-4ec0-a6ef-c45198e23bd0",
      "name": "Rename Keys4",
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        1312,
        1024
      ]
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "name",
              "newKey": "MODELO"
            },
            {
              "currentKey": "id",
              "newKey": "computermodels_id"
            }
          ]
        },
        "additionalOptions": {}
      },
      "id": "43e38849-4c6f-448e-95ba-b21bc7b90010",
      "name": "Rename Keys5",
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        1248,
        1392
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5db5ce7a-587a-4c28-be94-0fd181c6aeff",
              "name": "ID",
              "value": "={{ $json.ID }}",
              "type": "string"
            },
            {
              "id": "6e7ae519-eabe-412a-957b-894368c124aa",
              "name": "MODELO",
              "value": "={{ $json.MODELO }}",
              "type": "string"
            },
            {
              "id": "d4b4355d-fd74-482b-b27a-570dedd8dad5",
              "name": "FABRICANTE",
              "value": "={{ $json[\"Fabricante \"] }}",
              "type": "string"
            },
            {
              "id": "00635e65-fdce-4ca5-90d6-03039048e3dd",
              "name": "NOME",
              "value": "={{ $json.NOME }}",
              "type": "string"
            },
            {
              "id": "2185f85e-fdf5-4158-ba8c-04426c0dfdf8",
              "name": "LOCAL",
              "value": "={{ $json.empresa.toUpperCase().trim() }}",
              "type": "string"
            },
            {
              "id": "066d0f08-5893-42ba-abca-6d8c2d8079b3",
              "name": "ATRIBUÍDO",
              "value": "={{ $json.date_mod.toDateTime().format('dd/LL/yyyy') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fb248e89-3165-467f-9b39-6aef14b3bc91",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2352,
        1248
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "NOME",
        "options": {}
      },
      "id": "593b14db-2eb6-4750-b06e-b95ccf0d240e",
      "name": "Merge4",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2848,
        128
      ]
    },
    {
      "parameters": {
        "sendTo": "marcio.camparotto@dgcorrespondente.com.br",
        "subject": "=Relatório de Colaboradores com Mais de Um Equipamento Móvel A.C.G. CONSULTORIA EM GESTAO EMPRESARIAL LTDA {{ DateTime.now().format('dd/LL/yyyy') }}",
        "message": "={{ $('CodeGS').first().json.emailBody }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          },
          "ccList": "raul.guimaraes@mdgintermediacoes.com.br,  daniel.gaspar@mdgintermediacoes.com.br"
        }
      },
      "id": "11b80963-6c9f-426d-be0c-5cf0581ecdcd",
      "name": "GS HOME OFFICE",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5488,
        1008
      ],
      "webhookId": "d0c1e0f0-6953-4853-a09a-2413b0f9cf75",
      "credentials": {
        "gmailOAuth2": {
          "id": "354YsBCaj8SFvfOe",
          "name": "Gmail Suporte"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "909554c2-f4ba-4998-a66d-a021c076fa78",
              "leftValue": "={{ $json.serial }}",
              "rightValue": "[null]",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8cb23f3c-7291-4c6e-97f7-ebbf7f65731b",
              "leftValue": "={{ $json.contact }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7cd027f2-6a70-4b61-917d-eadccf292c3b",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        1248
      ]
    },
    {
      "parameters": {},
      "id": "16e90792-b0a5-4967-9c6c-1b722ddf4433",
      "name": "Merge7",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2624,
        992
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "locations_id",
        "options": {}
      },
      "id": "7019791f-30c8-45c0-9e32-aa871a9c70b4",
      "name": "locations_id PC",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1520,
        1040
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "manufacturers_id",
        "options": {}
      },
      "id": "8f329e8e-05be-428b-a3ac-3dfa342df3b3",
      "name": "manufacturers_id PC",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1552,
        1472
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "HOSTNAME",
        "options": {}
      },
      "id": "182c815a-a3f8-459b-9c71-d35ffc772cf7",
      "name": "PC",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1872,
        1232
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "HOSTNAME",
        "options": {}
      },
      "id": "ae7b7e58-3b80-493d-82d8-0e445cca128a",
      "name": "Merge5",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2160,
        1248
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "computermodels_id",
        "options": {}
      },
      "id": "dec17f09-5c6d-4056-8300-ce06475147d4",
      "name": "computermodels_id",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1552,
        1248
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "manufacturers_id",
        "options": {}
      },
      "id": "60844955-ccca-4b32-9bd7-c9d9a804d70b",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1504,
        352
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "name",
        "options": {}
      },
      "id": "007ddd89-6fd4-4e37-b6a9-cde0970caa23",
      "name": "Merge3",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1792,
        464
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "name",
        "options": {}
      },
      "id": "9bed9973-7fed-4af2-9829-c6fe728dc022",
      "name": "Merge6",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1968,
        784
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.LOCAL.trim().toUpperCase() }}",
                    "rightValue": "GASPAR ASSESSORIA EMPRESARIAL LTDA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "43412d13-3418-4e7e-a6af-767c44a7c6de",
                    "leftValue": "={{ $json.LOCAL.trim().toUpperCase() }}",
                    "rightValue": "MDG INTERMEDIAÇÕES DE NEGÓCIOS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4ccd0c33-942e-4a4c-9ede-23596f26d512",
                    "leftValue": "={{ $json.LOCAL.trim().toUpperCase() }}",
                    "rightValue": "MDG MORUMBI",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3c966b9a-80bd-41ff-b17b-9ad0d1ccd81d",
                    "leftValue": "={{ $json.LOCAL.trim().toUpperCase() }}",
                    "rightValue": "A.C.G. CONSULTORIA EM GESTAO EMPRESARIAL LTDA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5cf29e97-ec83-4dcd-8a42-11144d4e44fe",
                    "leftValue": "={{ $json.LOCAL.trim().toUpperCase() }}",
                    "rightValue": "GS HOME OFFICE\t",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6c954604-1445-44cc-a876-1d942641807a",
                    "leftValue": "={{ $json.LOCAL.trim().toUpperCase() }}",
                    "rightValue": "MR CAMP",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "f15ec0e2-e3ea-4951-9950-272b94458ab8",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4560,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Recebe os itens da entrada do nó anterior\nconst items = $input.all();\n\n// Map para contar as ocorrências de cada valor no campo 'NOME'\nconst countMap = {};\n\n// Contar ocorrências\nitems.forEach(item => {\n    const key = item.json.NOME; // Campo NOME usado para checar duplicidade\n    countMap[key] = (countMap[key] || 0) + 1;\n});\n\n// Filtrar apenas os itens duplicados\nconst duplicates = items.filter(item => countMap[item.json.NOME] > 1);\n\n// Ordenar os duplicados pelo campo 'NOME'\nduplicates.sort((a, b) => {\n    if (a.json.NOME < b.json.NOME) return -1;\n    if (a.json.NOME > b.json.NOME) return 1;\n    return 0;\n});\n\n// Retornar os itens duplicados ordenados\nreturn duplicates;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3968,
        0
      ],
      "id": "86162edd-89b6-4bae-9c62-a2c68eaf813d",
      "name": "Code6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9825b299-9993-410d-ac52-6aac04385b8e",
              "leftValue": "={{ $json.ID }}",
              "rightValue": "CL",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "6c754515-9db4-4561-a4b3-4f2025c96b15",
              "leftValue": "={{ $json.ID }}",
              "rightValue": "TBL",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3792,
        96
      ],
      "id": "38b79b25-e996-4633-9fbf-af52b4e30c71",
      "name": "If2"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "ID",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        2864,
        992
      ],
      "id": "fd062ea5-f20b-44b6-83d0-38232ed361a7",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "DupliadosFull"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4992,
        1408
      ],
      "id": "6dbf6ae8-18c0-4f59-b3b4-b76b607c6823",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "GASPAR ASSESSORIA EMPRESARIAL LTDA"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4992,
        -288
      ],
      "id": "c17ea6bd-b18e-43ea-a9e0-37c404de208b",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5216,
        -384
      ],
      "id": "59cf0b45-d3d9-4090-b8ce-e4b725db27be",
      "name": "Merge8"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "MDG Intermediações de Negócios"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4992,
        48
      ],
      "id": "a62b8b03-23ba-4560-8743-be4ca3b13cfe",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5216,
        -48
      ],
      "id": "05cff9ee-f587-4d05-9328-9d0a56cda1bc",
      "name": "Merge9"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "MDG Morumbi"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4992,
        384
      ],
      "id": "413babf8-225e-4e8b-9f3a-60bd59b8e365",
      "name": "Convert to File3"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5216,
        304
      ],
      "id": "ee90931e-429b-4624-a713-09165a79ffcb",
      "name": "Merge10"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "ACG CONSULTORIA EM GESTAO EMPRESARIAL LTDA"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4992,
        720
      ],
      "id": "f94b4c8f-3d0f-42fd-bc9f-6f4df15d93eb",
      "name": "Convert to File4"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5216,
        640
      ],
      "id": "9186dfea-3667-43ad-85da-bba11d59fc12",
      "name": "Merge11"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "GS HOME OFFICE"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4992,
        1088
      ],
      "id": "fbe658af-3916-4d82-aea4-c69e546252fc",
      "name": "Convert to File5"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5200,
        1008
      ],
      "id": "281bef42-4888-40e0-afe7-45fc0b3bf3fd",
      "name": "Merge12"
    },
    {
      "parameters": {
        "jsCode": "// Obtém os dados da execução anterior\nconst data = $input.all();\n\n// Obtém a data atual formatada\nconst dataAtual = new Date().toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric' });\n\n// Agrupa os colaboradores por NOME e CARGO para verificar duplicidades\nconst colaboradores = {};\ndata.forEach(item => {\n  const key = `${item.json.NOME}-${item.json.CARGO}`;\n  if (!colaboradores[key]) {\n    colaboradores[key] = [];\n  }\n  colaboradores[key].push(item.json);\n});\n\n// Filtra apenas os colaboradores com mais de um equipamento\nconst colaboradoresDuplicados = Object.values(colaboradores).filter(colaborador => colaborador.length > 1);\n\n// Monta a mensagem personalizada\nlet mensagem = `<p>Prezados,</p>\n<p>Identificamos que alguns colaboradores estão atualmente vinculados a mais de um equipamento móvel, como celular ou tablet. Segue abaixo a relação dos dispositivos para análise e regularização.</p>\n<p>Data do relatório: <strong>${dataAtual}</strong></p>\n<p>Por favor, tome as providências necessárias para garantir o controle e a alocação adequada dos equipamentos.</p>\n<p>Em caso de dúvidas, estamos à disposição.</p>`;\n\n// Inicia a tabela HTML\nlet htmlTable = `<table border=\"1\" cellpadding=\"5\" cellspacing=\"0\" style=\"border-collapse: collapse;\">\n<thead>\n<tr>\n<th>NOME</th>\n<th>CARGO</th>\n<th>ID</th>\n<th>MODELO</th>\n<th>FABRICANTE</th>\n<th>ATRIBUÍDO</th> <!-- Adiciona a coluna ATRIBUÍDO -->\n</tr>\n</thead>\n<tbody>`;\n\n// Adiciona as linhas correspondentes aos colaboradores com mais de um equipamento\ncolaboradoresDuplicados.forEach(colaborador => {\n  colaborador.forEach(equipamento => {\n    htmlTable += `<tr>\n    <td>${equipamento.NOME}</td>\n    <td>${equipamento.CARGO}</td>\n    <td>${equipamento.ID}</td>\n    <td>${equipamento.MODELO}</td>\n    <td>${equipamento.FABRICANTE}</td>\n    <td>${equipamento.ATRIBUÍDO}</td> <!-- Adiciona o campo ATRIBUÍDO -->\n    </tr>`;\n  });\n});\n\n// Fecha a tabela\nhtmlTable += `</tbody></table>`;\n\n// Adiciona a assinatura\nlet assinatura = `<p>Atenciosamente,</p>\n<p>Tecnologia da Informação</p>`;\n\n// Combina a mensagem, tabela e assinatura\nconst emailBody = mensagem + htmlTable + assinatura;\n\n// Retorna o corpo do e-mail completo\nreturn [{ emailBody }];\n"
      },
      "id": "ad2db6ab-cdf0-4bf0-a109-ccdaf3b97d6b",
      "name": "CodeGASPAR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4992,
        -464
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtém os dados da execução anterior\nconst data = $input.all();\n\n// Obtém a data atual formatada\nconst dataAtual = new Date().toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric' });\n\n// Agrupa os colaboradores por NOME e CARGO para verificar duplicidades\nconst colaboradores = {};\ndata.forEach(item => {\n  const key = `${item.json.NOME}-${item.json.CARGO}`;\n  if (!colaboradores[key]) {\n    colaboradores[key] = [];\n  }\n  colaboradores[key].push(item.json);\n});\n\n// Filtra apenas os colaboradores com mais de um equipamento\nconst colaboradoresDuplicados = Object.values(colaboradores).filter(colaborador => colaborador.length > 1);\n\n// Monta a mensagem personalizada\nlet mensagem = `<p>Prezados,</p>\n<p>Identificamos que alguns colaboradores estão atualmente vinculados a mais de um equipamento móvel, como celular ou tablet. Segue abaixo a relação dos dispositivos para análise e regularização.</p>\n<p>Data do relatório: <strong>${dataAtual}</strong></p>\n<p>Por favor, tome as providências necessárias para garantir o controle e a alocação adequada dos equipamentos.</p>\n<p>Em caso de dúvidas, estamos à disposição.</p>`;\n\n// Inicia a tabela HTML\nlet htmlTable = `<table border=\"1\" cellpadding=\"5\" cellspacing=\"0\" style=\"border-collapse: collapse;\">\n<thead>\n<tr>\n<th>NOME</th>\n<th>CARGO</th>\n<th>ID</th>\n<th>MODELO</th>\n<th>FABRICANTE</th>\n<th>ATRIBUÍDO</th> <!-- Adiciona a coluna ATRIBUÍDO -->\n</tr>\n</thead>\n<tbody>`;\n\n// Adiciona as linhas correspondentes aos colaboradores com mais de um equipamento\ncolaboradoresDuplicados.forEach(colaborador => {\n  colaborador.forEach(equipamento => {\n    htmlTable += `<tr>\n    <td>${equipamento.NOME}</td>\n    <td>${equipamento.CARGO}</td>\n    <td>${equipamento.ID}</td>\n    <td>${equipamento.MODELO}</td>\n    <td>${equipamento.FABRICANTE}</td>\n    <td>${equipamento.ATRIBUÍDO}</td> <!-- Adiciona o campo ATRIBUÍDO -->\n    </tr>`;\n  });\n});\n\n// Fecha a tabela\nhtmlTable += `</tbody></table>`;\n\n// Adiciona a assinatura\nlet assinatura = `<p>Atenciosamente,</p>\n<p>Tecnologia da Informação</p>`;\n\n// Combina a mensagem, tabela e assinatura\nconst emailBody = mensagem + htmlTable + assinatura;\n\n// Retorna o corpo do e-mail completo\nreturn [{ emailBody }];\n"
      },
      "id": "8e98ee68-5930-4357-822d-002e7116cbef",
      "name": "CodeMDG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4992,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtém os dados da execução anterior\nconst data = $input.all();\n\n// Obtém a data atual formatada\nconst dataAtual = new Date().toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric' });\n\n// Agrupa os colaboradores por NOME e CARGO para verificar duplicidades\nconst colaboradores = {};\ndata.forEach(item => {\n  const key = `${item.json.NOME}-${item.json.CARGO}`;\n  if (!colaboradores[key]) {\n    colaboradores[key] = [];\n  }\n  colaboradores[key].push(item.json);\n});\n\n// Filtra apenas os colaboradores com mais de um equipamento\nconst colaboradoresDuplicados = Object.values(colaboradores).filter(colaborador => colaborador.length > 1);\n\n// Monta a mensagem personalizada\nlet mensagem = `<p>Prezados,</p>\n<p>Identificamos que alguns colaboradores estão atualmente vinculados a mais de um equipamento móvel, como celular ou tablet. Segue abaixo a relação dos dispositivos para análise e regularização.</p>\n<p>Data do relatório: <strong>${dataAtual}</strong></p>\n<p>Por favor, tome as providências necessárias para garantir o controle e a alocação adequada dos equipamentos.</p>\n<p>Em caso de dúvidas, estamos à disposição.</p>`;\n\n// Inicia a tabela HTML\nlet htmlTable = `<table border=\"1\" cellpadding=\"5\" cellspacing=\"0\" style=\"border-collapse: collapse;\">\n<thead>\n<tr>\n<th>NOME</th>\n<th>CARGO</th>\n<th>ID</th>\n<th>MODELO</th>\n<th>FABRICANTE</th>\n<th>ATRIBUÍDO</th> <!-- Adiciona a coluna ATRIBUÍDO -->\n</tr>\n</thead>\n<tbody>`;\n\n// Adiciona as linhas correspondentes aos colaboradores com mais de um equipamento\ncolaboradoresDuplicados.forEach(colaborador => {\n  colaborador.forEach(equipamento => {\n    htmlTable += `<tr>\n    <td>${equipamento.NOME}</td>\n    <td>${equipamento.CARGO}</td>\n    <td>${equipamento.ID}</td>\n    <td>${equipamento.MODELO}</td>\n    <td>${equipamento.FABRICANTE}</td>\n    <td>${equipamento.ATRIBUÍDO}</td> <!-- Adiciona o campo ATRIBUÍDO -->\n    </tr>`;\n  });\n});\n\n// Fecha a tabela\nhtmlTable += `</tbody></table>`;\n\n// Adiciona a assinatura\nlet assinatura = `<p>Atenciosamente,</p>\n<p>Tecnologia da Informação</p>`;\n\n// Combina a mensagem, tabela e assinatura\nconst emailBody = mensagem + htmlTable + assinatura;\n\n// Retorna o corpo do e-mail completo\nreturn [{ emailBody }];\n"
      },
      "id": "4324a8f3-0ba4-4c2c-a083-80946b1608ca",
      "name": "CodeMORUMBI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4992,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtém os dados da execução anterior\nconst data = $input.all();\n\n// Obtém a data atual formatada\nconst dataAtual = new Date().toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric' });\n\n// Agrupa os colaboradores por NOME e CARGO para verificar duplicidades\nconst colaboradores = {};\ndata.forEach(item => {\n  const key = `${item.json.NOME}-${item.json.CARGO}`;\n  if (!colaboradores[key]) {\n    colaboradores[key] = [];\n  }\n  colaboradores[key].push(item.json);\n});\n\n// Filtra apenas os colaboradores com mais de um equipamento\nconst colaboradoresDuplicados = Object.values(colaboradores).filter(colaborador => colaborador.length > 1);\n\n// Monta a mensagem personalizada\nlet mensagem = `<p>Prezados,</p>\n<p>Identificamos que alguns colaboradores estão atualmente vinculados a mais de um equipamento móvel, como celular ou tablet. Segue abaixo a relação dos dispositivos para análise e regularização.</p>\n<p>Data do relatório: <strong>${dataAtual}</strong></p>\n<p>Por favor, tome as providências necessárias para garantir o controle e a alocação adequada dos equipamentos.</p>\n<p>Em caso de dúvidas, estamos à disposição.</p>`;\n\n// Inicia a tabela HTML\nlet htmlTable = `<table border=\"1\" cellpadding=\"5\" cellspacing=\"0\" style=\"border-collapse: collapse;\">\n<thead>\n<tr>\n<th>NOME</th>\n<th>CARGO</th>\n<th>ID</th>\n<th>MODELO</th>\n<th>FABRICANTE</th>\n<th>ATRIBUÍDO</th> <!-- Adiciona a coluna ATRIBUÍDO -->\n</tr>\n</thead>\n<tbody>`;\n\n// Adiciona as linhas correspondentes aos colaboradores com mais de um equipamento\ncolaboradoresDuplicados.forEach(colaborador => {\n  colaborador.forEach(equipamento => {\n    htmlTable += `<tr>\n    <td>${equipamento.NOME}</td>\n    <td>${equipamento.CARGO}</td>\n    <td>${equipamento.ID}</td>\n    <td>${equipamento.MODELO}</td>\n    <td>${equipamento.FABRICANTE}</td>\n    <td>${equipamento.ATRIBUÍDO}</td> <!-- Adiciona o campo ATRIBUÍDO -->\n    </tr>`;\n  });\n});\n\n// Fecha a tabela\nhtmlTable += `</tbody></table>`;\n\n// Adiciona a assinatura\nlet assinatura = `<p>Atenciosamente,</p>\n<p>Tecnologia da Informação</p>`;\n\n// Combina a mensagem, tabela e assinatura\nconst emailBody = mensagem + htmlTable + assinatura;\n\n// Retorna o corpo do e-mail completo\nreturn [{ emailBody }];\n"
      },
      "id": "93b2704b-237b-4bff-879a-9e13a4dc06e4",
      "name": "CodeACG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4992,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtém os dados da execução anterior\nconst data = $input.all();\n\n// Obtém a data atual formatada\nconst dataAtual = new Date().toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric' });\n\n// Agrupa os colaboradores por NOME e CARGO para verificar duplicidades\nconst colaboradores = {};\ndata.forEach(item => {\n  const key = `${item.json.NOME}-${item.json.CARGO}`;\n  if (!colaboradores[key]) {\n    colaboradores[key] = [];\n  }\n  colaboradores[key].push(item.json);\n});\n\n// Filtra apenas os colaboradores com mais de um equipamento\nconst colaboradoresDuplicados = Object.values(colaboradores).filter(colaborador => colaborador.length > 1);\n\n// Monta a mensagem personalizada\nlet mensagem = `<p>Prezados,</p>\n<p>Identificamos que alguns colaboradores estão atualmente vinculados a mais de um equipamento móvel, como celular ou tablet. Segue abaixo a relação dos dispositivos para análise e regularização.</p>\n<p>Data do relatório: <strong>${dataAtual}</strong></p>\n<p>Por favor, tome as providências necessárias para garantir o controle e a alocação adequada dos equipamentos.</p>\n<p>Em caso de dúvidas, estamos à disposição.</p>`;\n\n// Inicia a tabela HTML\nlet htmlTable = `<table border=\"1\" cellpadding=\"5\" cellspacing=\"0\" style=\"border-collapse: collapse;\">\n<thead>\n<tr>\n<th>NOME</th>\n<th>CARGO</th>\n<th>ID</th>\n<th>MODELO</th>\n<th>FABRICANTE</th>\n<th>ATRIBUÍDO</th> <!-- Adiciona a coluna ATRIBUÍDO -->\n</tr>\n</thead>\n<tbody>`;\n\n// Adiciona as linhas correspondentes aos colaboradores com mais de um equipamento\ncolaboradoresDuplicados.forEach(colaborador => {\n  colaborador.forEach(equipamento => {\n    htmlTable += `<tr>\n    <td>${equipamento.NOME}</td>\n    <td>${equipamento.CARGO}</td>\n    <td>${equipamento.ID}</td>\n    <td>${equipamento.MODELO}</td>\n    <td>${equipamento.FABRICANTE}</td>\n    <td>${equipamento.ATRIBUÍDO}</td> <!-- Adiciona o campo ATRIBUÍDO -->\n    </tr>`;\n  });\n});\n\n// Fecha a tabela\nhtmlTable += `</tbody></table>`;\n\n// Adiciona a assinatura\nlet assinatura = `<p>Atenciosamente,</p>\n<p>Tecnologia da Informação</p>`;\n\n// Combina a mensagem, tabela e assinatura\nconst emailBody = mensagem + htmlTable + assinatura;\n\n// Retorna o corpo do e-mail completo\nreturn [{ emailBody }];\n"
      },
      "id": "64dc6403-828b-4c76-9f42-ebf47d609312",
      "name": "CodeGS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4992,
        928
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5296,
        1344
      ],
      "id": "8ce48ea8-a5a5-4388-98f7-4c52506bc037",
      "name": "Merge13"
    },
    {
      "parameters": {
        "sendTo": "raul.guimaraes@mdgintermediacoes.com.br",
        "subject": "=Relatório de Colaboradores com Mais de Um Equipamento Móvel {{ DateTime.now().format('dd/LL/yyyy') }}",
        "message": "={{ $('CodeTI').first().json.emailBody }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          },
          "ccList": "luiz.carmona@mdgintermediacoes.com.br, matheus.almeida@mdgintermediacoes.com.br"
        }
      },
      "id": "076b82bd-c09a-40ff-806b-800e83e9c754",
      "name": "GRUPO EMPRESARIAL",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5520,
        1344
      ],
      "webhookId": "df77f267-ba49-4d5c-8efd-8285da266bac",
      "credentials": {
        "gmailOAuth2": {
          "id": "354YsBCaj8SFvfOe",
          "name": "Gmail Suporte"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtém os dados da execução anterior\nconst data = $input.all();\n\n// Obtém a data atual formatada\nconst dataAtual = new Date().toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric' });\n\n// Agrupa os colaboradores por NOME e CARGO para verificar duplicidades\nconst colaboradores = {};\ndata.forEach(item => {\n  const key = `${item.json.NOME}-${item.json.CARGO}`;\n  if (!colaboradores[key]) {\n    colaboradores[key] = [];\n  }\n  colaboradores[key].push(item.json);\n});\n\n// Filtra apenas os colaboradores com mais de um equipamento\nconst colaboradoresDuplicados = Object.values(colaboradores).filter(colaborador => colaborador.length > 1);\n\n// Monta a mensagem personalizada\nlet mensagem = `<p>Prezados,</p>\n<p>Segue abaixo o relatório dos colaboradores vinculados a mais de um equipamento móvel (celular ou tablet), com suas respectivas informações. Este levantamento tem como objetivo auxiliar na regularização e controle dos ativos pela equipe de TI.</p>\n<p>Data do relatório: <strong>${dataAtual}</strong></p>\n<p>Por gentileza, analisem as informações e realizem as ações necessárias. Caso tenham dúvidas, estamos à disposição para esclarecimentos.</p>`;\n\n// Inicia a tabela HTML\nlet htmlTable = `<table border=\"1\" cellpadding=\"5\" cellspacing=\"0\" style=\"border-collapse: collapse;\">\n<thead>\n<tr>\n<th>NOME</th>\n<th>CARGO</th>\n<th>ID</th>\n<th>MODELO</th>\n<th>FABRICANTE</th>\n<th>LOCAL</th>\n<th>ATRIBUÍDO</th>\n</tr>\n</thead>\n<tbody>`;\n\n// Adiciona as linhas correspondentes aos colaboradores com mais de um equipamento\ncolaboradoresDuplicados.forEach(colaborador => {\n  colaborador.forEach(equipamento => {\n    htmlTable += `<tr>\n    <td>${equipamento.NOME}</td>\n    <td>${equipamento.CARGO}</td>\n    <td>${equipamento.ID}</td>\n    <td>${equipamento.MODELO}</td>\n    <td>${equipamento.FABRICANTE}</td>\n    <td>${equipamento.LOCAL}</td>\n    <td>${equipamento.ATRIBUÍDO}</td>\n    </tr>`;\n  });\n});\n\n// Fecha a tabela\nhtmlTable += `</tbody></table>`;\n\n// Adiciona a assinatura\nlet assinatura = `<p>Atenciosamente,</p>\n<p>Tecnologia da Informação</p>`;\n\n// Combina a mensagem, tabela e assinatura\nconst emailBody = mensagem + htmlTable + assinatura;\n\n// Retorna o corpo do e-mail completo\nreturn [{ emailBody }];\n"
      },
      "id": "eeab8aa9-d21b-46ce-9bdb-8c1a617d0b74",
      "name": "CodeTI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4992,
        1264
      ]
    },
    {
      "parameters": {
        "sendTo": "felipe.ferreira@mdgintermediacoes.com.br",
        "subject": "=Relatório de Colaboradores com Mais de Um Equipamento Móvel GASPAR ASSESSORIA EMPRESARIAL LTDA {{ DateTime.now().format('dd/LL/yyyy') }}",
        "message": "={{ $('CodeGASPAR').first().json.emailBody }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          },
          "ccList": "daniel.gaspar@mdgintermediacoes.com.br, raul.guimaraes@mdgintermediacoes.com.br"
        }
      },
      "id": "eeac5cd6-456d-414c-96fd-895807289d70",
      "name": "GASPAR ASSESSORIA EMPRESARIAL LTDA",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5472,
        -384
      ],
      "webhookId": "df77f267-ba49-4d5c-8efd-8285da266bac",
      "credentials": {
        "gmailOAuth2": {
          "id": "354YsBCaj8SFvfOe",
          "name": "Gmail Suporte"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5d75b988-c637-4aa5-a993-6f051fd795d2",
              "leftValue": "={{ $json.CARGO }}",
              "rightValue": "GERENTE",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        4224,
        -16
      ],
      "id": "091e3483-9681-485c-899c-faf3e7bfe5fd",
      "name": "Filter Cargo"
    }
  ],
  "connections": {
    "glpi_manufacturers": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "glpi_phones": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "manufacturers_id PC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "glpi_phonemodels": {
      "main": [
        [
          {
            "node": "Rename Keys1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "glpi_locations": {
      "main": [
        [
          {
            "node": "Rename Keys2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "locations_id PC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A.C.G. CONSULTORIA EM GESTAO EMPRESARIAL LTDA": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MDG Morumbi": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MDG Intermediações de Negócios": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "glpi_phones",
            "type": "main",
            "index": 0
          },
          {
            "node": "glpi_manufacturers",
            "type": "main",
            "index": 0
          },
          {
            "node": "glpi_phonemodels",
            "type": "main",
            "index": 0
          },
          {
            "node": "glpi_locations",
            "type": "main",
            "index": 0
          },
          {
            "node": "SSH",
            "type": "main",
            "index": 0
          },
          {
            "node": "glpi_computers",
            "type": "main",
            "index": 0
          },
          {
            "node": "glpi_computermodels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NaoAtivo": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "glpi_computers": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "glpi_computermodels": {
      "main": [
        [
          {
            "node": "Rename Keys5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys4": {
      "main": [
        [
          {
            "node": "computermodels_id",
            "type": "main",
            "index": 0
          },
          {
            "node": "locations_id PC",
            "type": "main",
            "index": 1
          },
          {
            "node": "manufacturers_id PC",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Rename Keys5": {
      "main": [
        [
          {
            "node": "computermodels_id",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "NaoAtivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Rename Keys4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "locations_id PC": {
      "main": [
        [
          {
            "node": "PC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "manufacturers_id PC": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "PC": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "computermodels_id": {
      "main": [
        [
          {
            "node": "PC",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "CodeGASPAR",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CodeMDG",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CodeMORUMBI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CodeACG",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CodeGS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CodeMORUMBI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS HOME OFFICE": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          },
          {
            "node": "CodeTI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Cargo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge8": {
      "main": [
        [
          {
            "node": "GASPAR ASSESSORIA EMPRESARIAL LTDA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge9": {
      "main": [
        [
          {
            "node": "MDG Intermediações de Negócios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Merge9",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge10": {
      "main": [
        [
          {
            "node": "MDG Morumbi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File3": {
      "main": [
        [
          {
            "node": "Merge10",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge11": {
      "main": [
        [
          {
            "node": "A.C.G. CONSULTORIA EM GESTAO EMPRESARIAL LTDA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File4": {
      "main": [
        [
          {
            "node": "Merge11",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge12": {
      "main": [
        [
          {
            "node": "GS HOME OFFICE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File5": {
      "main": [
        [
          {
            "node": "Merge12",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "CodeGASPAR": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeMDG": {
      "main": [
        [
          {
            "node": "Merge9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeMORUMBI": {
      "main": [
        [
          {
            "node": "Merge10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeACG": {
      "main": [
        [
          {
            "node": "Merge11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeGS": {
      "main": [
        [
          {
            "node": "Merge12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Merge13",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge13": {
      "main": [
        [
          {
            "node": "GRUPO EMPRESARIAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GRUPO EMPRESARIAL": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeTI": {
      "main": [
        [
          {
            "node": "Merge13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GASPAR ASSESSORIA EMPRESARIAL LTDA": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Cargo": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-11-25T08:30:15.014-03:00",
          "Readable date": "November 25th 2025, 8:30:15 am",
          "Readable time": "8:30:15 am",
          "Day of week": "Tuesday",
          "Year": "2025",
          "Month": "November",
          "Day of month": "25",
          "Hour": "08",
          "Minute": "30",
          "Second": "15",
          "Timezone": "America/Sao_Paulo (UTC-03:00)"
        }
      }
    ]
  },
  "versionId": "b0985795-00f0-421a-bdbc-dd2025245e80",
  "activeVersionId": "b0985795-00f0-421a-bdbc-dd2025245e80",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2024-11-19T11:05:04.051Z",
      "createdAt": "2024-11-19T11:05:04.051Z",
      "role": "workflow:owner",
      "workflowId": "MIU7IINEGYYeCKH1",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-11-29T01:50:38.405Z",
    "createdAt": "2025-11-29T01:50:38.405Z",
    "versionId": "b0985795-00f0-421a-bdbc-dd2025245e80",
    "workflowId": "MIU7IINEGYYeCKH1",
    "nodes": [
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "glpi_phones",
            "mode": "list",
            "cachedResultName": "glpi_phones"
          },
          "returnAll": true,
          "where": {
            "values": [
              {
                "column": "contact",
                "condition": "!=",
                "value": "ESTOQUE"
              },
              {
                "column": "contact",
                "condition": "!=",
                "value": "RPA"
              },
              {
                "column": "contact",
                "condition": "!=",
                "value": "AVARIADO"
              },
              {
                "column": "contact",
                "condition": "!=",
                "value": "SUPORTE - TI"
              },
              {
                "column": "contact",
                "condition": "!=",
                "value": "builder"
              }
            ]
          },
          "sort": {
            "values": [
              {
                "column": "name"
              }
            ]
          },
          "options": {
            "outputColumns": [
              "name",
              "contact",
              "locations_id",
              "phonemodels_id",
              "manufacturers_id",
              "date_mod"
            ]
          }
        },
        "id": "55ce42de-c9ab-4b90-adde-15c87b10b372",
        "name": "glpi_phones",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          1024,
          320
        ],
        "credentials": {
          "mySql": {
            "id": "MZJ4ZTqeywo2Oo5M",
            "name": "MySQL GLPI"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "glpi_manufacturers",
            "mode": "list",
            "cachedResultName": "glpi_manufacturers"
          },
          "returnAll": true,
          "sort": {
            "values": [
              {
                "column": "id"
              }
            ]
          },
          "options": {
            "outputColumns": [
              "id",
              "name"
            ]
          }
        },
        "id": "17f19f5b-13fc-4dca-98b3-9ff524623788",
        "name": "glpi_manufacturers",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          1024,
          512
        ],
        "credentials": {
          "mySql": {
            "id": "MZJ4ZTqeywo2Oo5M",
            "name": "MySQL GLPI"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "glpi_phonemodels",
            "mode": "name"
          },
          "returnAll": true,
          "sort": {
            "values": [
              {
                "column": "id"
              }
            ]
          },
          "options": {
            "outputColumns": [
              "id",
              "name"
            ]
          }
        },
        "id": "4435caaf-ea35-40cb-a734-db9c3463d256",
        "name": "glpi_phonemodels",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          1024,
          672
        ],
        "credentials": {
          "mySql": {
            "id": "MZJ4ZTqeywo2Oo5M",
            "name": "MySQL GLPI"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "glpi_locations",
            "mode": "name"
          },
          "returnAll": true,
          "sort": {
            "values": [
              {
                "column": "id"
              }
            ]
          },
          "options": {
            "outputColumns": [
              "id",
              "name"
            ]
          }
        },
        "id": "66994b82-6467-4742-8405-ee1f6c6aa03b",
        "name": "glpi_locations",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          1008,
          832
        ],
        "credentials": {
          "mySql": {
            "id": "MZJ4ZTqeywo2Oo5M",
            "name": "MySQL GLPI"
          }
        }
      },
      {
        "parameters": {
          "keys": {
            "key": [
              {
                "currentKey": "id",
                "newKey": "manufacturers_id"
              },
              {
                "currentKey": "name",
                "newKey": "Fabricante "
              }
            ]
          },
          "additionalOptions": {}
        },
        "id": "b3a58bb0-0b81-4244-a2a5-b87e3f159363",
        "name": "Rename Keys",
        "type": "n8n-nodes-base.renameKeys",
        "typeVersion": 1,
        "position": [
          1248,
          512
        ]
      },
      {
        "parameters": {
          "keys": {
            "key": [
              {
                "currentKey": "id",
                "newKey": "phonemodels_id"
              },
              {
                "currentKey": "name",
                "newKey": "modelo"
              }
            ]
          },
          "additionalOptions": {}
        },
        "id": "b0c923ca-f7e0-4238-b0fe-c8af56874815",
        "name": "Rename Keys1",
        "type": "n8n-nodes-base.renameKeys",
        "typeVersion": 1,
        "position": [
          1248,
          672
        ]
      },
      {
        "parameters": {
          "keys": {
            "key": [
              {
                "currentKey": "id",
                "newKey": "locations_id"
              },
              {
                "currentKey": "name",
                "newKey": "empresa"
              }
            ]
          },
          "additionalOptions": {}
        },
        "id": "ccaf0f1e-4613-4013-99e0-cc16e2f63f51",
        "name": "Rename Keys2",
        "type": "n8n-nodes-base.renameKeys",
        "typeVersion": 1,
        "position": [
          1264,
          848
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "locations_id",
          "joinMode": "enrichInput1",
          "options": {}
        },
        "id": "fa4708ab-5d94-4dae-9ac7-0c5696488f67",
        "name": "Merge2",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1520,
          800
        ]
      },
      {
        "parameters": {
          "operation": "xlsx",
          "options": {
            "headerRow": true,
            "sheetName": "Base"
          }
        },
        "id": "69d2117c-fcf8-4da3-b7b5-9553edf26013",
        "name": "Extract from File",
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          1232,
          112
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5db5ce7a-587a-4c28-be94-0fd181c6aeff",
                "name": "ID",
                "value": "={{ $json.name }}",
                "type": "string"
              },
              {
                "id": "6e7ae519-eabe-412a-957b-894368c124aa",
                "name": "NOME",
                "value": "={{ $json.contact.trim().toUpperCase() }}",
                "type": "string"
              },
              {
                "id": "d4b4355d-fd74-482b-b27a-570dedd8dad5",
                "name": "MODELO",
                "value": "={{ $json.modelo }}",
                "type": "string"
              },
              {
                "id": "4414c225-a27f-41fc-8282-8a9f14c6d88d",
                "name": "FABRICANTE",
                "value": "={{ $json['Fabricante '] }}",
                "type": "string"
              },
              {
                "id": "5b009cb3-8aae-47d4-84a2-a4a2ec9d4643",
                "name": "LOCAL",
                "value": "={{ $json.empresa }}",
                "type": "string"
              },
              {
                "id": "e242766f-e7b8-4938-ad8e-b38cc81a4063",
                "name": "ATRIBUÍDO",
                "value": "={{ $json.date_mod.toDateTime().format('dd/LL/yyyy') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "86e2be0c-3f06-4428-b482-3399895c681c",
        "name": "Edit Fields",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2272,
          784
        ]
      },
      {
        "parameters": {},
        "id": "deb7fd1e-a497-4abf-b03b-37f44d69bd17",
        "name": "No Operation, do nothing",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          6656,
          1808
        ]
      },
      {
        "parameters": {
          "fieldToSplitOut": "NOME, CARGO , ID, MODELO, FABRICANTE, ATRIBUÍDO, LOCAL",
          "options": {}
        },
        "id": "ec1ff808-a2a6-4ad5-a6c8-90ee0b24a697",
        "name": "Split Out",
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          3344,
          112
        ]
      },
      {
        "parameters": {
          "sendTo": "lucas.alves@mdgintermediacoes.com.br",
          "subject": "=Relatório de Colaboradores com Mais de Um Equipamento Móvel MDG Morumbi {{ DateTime.now().format('dd/LL/yyyy') }}",
          "message": "={{ $('CodeMORUMBI').first().json.emailBody }}",
          "options": {
            "attachmentsUi": {
              "attachmentsBinary": [
                {}
              ]
            },
            "ccList": "raul.guimaraes@mdgintermediacoes.com.br, daniel.gaspar@mdgintermediacoes.com.br"
          }
        },
        "id": "1ee87aa2-150d-42b1-8e01-3cb64c7e5ca2",
        "name": "MDG Morumbi",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          5472,
          304
        ],
        "webhookId": "3bace9ed-758c-4036-b436-f39963d52f1f",
        "credentials": {
          "gmailOAuth2": {
            "id": "354YsBCaj8SFvfOe",
            "name": "Gmail Suporte"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "sendTo": "felipe.ferreira@mdgintermediacoes.com.br",
          "subject": "=Relatório de Colaboradores com Mais de Um Equipamento Móvel MDG Intermediações de Negócios {{ DateTime.now().format('dd/LL/yyyy') }}",
          "message": "={{ $('CodeMDG').first().json.emailBody }}",
          "options": {
            "attachmentsUi": {
              "attachmentsBinary": [
                {}
              ]
            },
            "ccList": "raul.guimaraes@mdgintermediacoes.com.br, daniel.gaspar@mdgintermediacoes.com.br"
          }
        },
        "id": "8912852a-7dee-4f07-8f1f-289f7ea05093",
        "name": "MDG Intermediações de Negócios",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          5472,
          -48
        ],
        "webhookId": "469716e7-4ae2-490c-a47f-a5ad52232525",
        "credentials": {
          "gmailOAuth2": {
            "id": "354YsBCaj8SFvfOe",
            "name": "Gmail Suporte"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "aline.goncalves@acgconsultoria.com.br",
          "subject": "=Relatório de Colaboradores com Mais de Um Equipamento Móvel A.C.G. CONSULTORIA EM GESTAO EMPRESARIAL LTDA {{ DateTime.now().format('dd/LL/yyyy') }}",
          "message": "={{ $('CodeACG').first().json.emailBody }}",
          "options": {
            "attachmentsUi": {
              "attachmentsBinary": [
                {}
              ]
            },
            "ccList": "raul.guimaraes@mdgintermediacoes.com.br, daniel.gaspar@mdgintermediacoes.com.br"
          }
        },
        "id": "017afe8c-ba95-497d-bf5c-e31ae1141dde",
        "name": "A.C.G. CONSULTORIA EM GESTAO EMPRESARIAL LTDA",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          5488,
          640
        ],
        "webhookId": "cb34f8c9-baa8-47b0-a35e-056d27e7b0db",
        "credentials": {
          "gmailOAuth2": {
            "id": "354YsBCaj8SFvfOe",
            "name": "Gmail Suporte"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "triggerAtDay": [
                  2
                ],
                "triggerAtHour": 8,
                "triggerAtMinute": 30
              }
            ]
          }
        },
        "id": "56e66a40-7062-43ae-a3db-2e241e610634",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          624,
          512
        ]
      },
      {
        "parameters": {
          "sortFieldsUi": {
            "sortField": [
              {
                "fieldName": "NOME"
              },
              {
                "fieldName": "LOCAL"
              }
            ]
          },
          "options": {}
        },
        "id": "f95fdaac-d5f9-4352-86a6-c7d9932cc29c",
        "name": "Sort",
        "type": "n8n-nodes-base.sort",
        "typeVersion": 1,
        "position": [
          3568,
          112
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "phonemodels_id",
          "options": {}
        },
        "id": "e84b8466-ae91-4282-9e18-9bf87758f7ca",
        "name": "Merge1",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1520,
          560
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3ca550c2-422c-4ff3-921c-4f0facb0acb9",
                "name": "NOME",
                "value": "={{ $json.NOME.trim().toUpperCase() }}",
                "type": "string"
              },
              {
                "id": "f60dc7f9-985d-406d-b0ef-737b65acf7bf",
                "name": "ATIVO",
                "value": "={{ $json.ATIVO }}",
                "type": "string"
              },
              {
                "id": "656a894f-427f-4888-92a1-8e35d39c27a5",
                "name": "CARGO",
                "value": "={{ $json.CARGO.trim().toUpperCase() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "e65b3bff-538f-4b06-b73a-9682717f5a3f",
        "name": "Edit Fields1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1488,
          112
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "3abab9f8-13d6-4c95-a676-39c26bde11c2",
                "leftValue": "={{ $json.ATIVO.trim() }}",
                "rightValue": "SIM",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "c9b6789e-81f2-4345-9498-788919e6df27",
        "name": "NaoAtivo",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3072,
          128
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "download",
          "path": "F:\\Dados\\TI\\01 - Planilhas\\Banco de Dados - Usuários1.xlsx",
          "options": {}
        },
        "id": "06171a08-afe5-4136-ae6a-5120f6bad8a3",
        "name": "SSH",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          1024,
          112
        ],
        "credentials": {
          "sshPassword": {
            "id": "ycQRi5glz56987vv",
            "name": "SSH Password account SRV01"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "glpi_computers",
            "mode": "name"
          },
          "returnAll": true,
          "options": {
            "outputColumns": [
              "name",
              "serial",
              "contact",
              "computermodels_id",
              "manufacturers_id",
              "locations_id",
              "date_mod"
            ]
          }
        },
        "id": "9bda1f98-ac86-4b57-b07a-62892326a9a1",
        "name": "glpi_computers",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          1008,
          1040
        ],
        "credentials": {
          "mySql": {
            "id": "MZJ4ZTqeywo2Oo5M",
            "name": "MySQL GLPI"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "glpi_computermodels",
            "mode": "name"
          },
          "returnAll": true,
          "options": {
            "outputColumns": [
              "id",
              "name"
            ]
          }
        },
        "id": "702e1418-a230-481d-aabd-d8359fc26873",
        "name": "glpi_computermodels",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          1024,
          1408
        ],
        "credentials": {
          "mySql": {
            "id": "MZJ4ZTqeywo2Oo5M",
            "name": "MySQL GLPI"
          }
        }
      },
      {
        "parameters": {
          "keys": {
            "key": [
              {
                "currentKey": "name",
                "newKey": "HOSTNAME"
              },
              {
                "currentKey": "serial",
                "newKey": "ID"
              },
              {
                "currentKey": "contact",
                "newKey": "NOME"
              }
            ]
          },
          "additionalOptions": {}
        },
        "id": "35a97def-1239-4ec0-a6ef-c45198e23bd0",
        "name": "Rename Keys4",
        "type": "n8n-nodes-base.renameKeys",
        "typeVersion": 1,
        "position": [
          1312,
          1024
        ]
      },
      {
        "parameters": {
          "keys": {
            "key": [
              {
                "currentKey": "name",
                "newKey": "MODELO"
              },
              {
                "currentKey": "id",
                "newKey": "computermodels_id"
              }
            ]
          },
          "additionalOptions": {}
        },
        "id": "43e38849-4c6f-448e-95ba-b21bc7b90010",
        "name": "Rename Keys5",
        "type": "n8n-nodes-base.renameKeys",
        "typeVersion": 1,
        "position": [
          1248,
          1392
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5db5ce7a-587a-4c28-be94-0fd181c6aeff",
                "name": "ID",
                "value": "={{ $json.ID }}",
                "type": "string"
              },
              {
                "id": "6e7ae519-eabe-412a-957b-894368c124aa",
                "name": "MODELO",
                "value": "={{ $json.MODELO }}",
                "type": "string"
              },
              {
                "id": "d4b4355d-fd74-482b-b27a-570dedd8dad5",
                "name": "FABRICANTE",
                "value": "={{ $json[\"Fabricante \"] }}",
                "type": "string"
              },
              {
                "id": "00635e65-fdce-4ca5-90d6-03039048e3dd",
                "name": "NOME",
                "value": "={{ $json.NOME }}",
                "type": "string"
              },
              {
                "id": "2185f85e-fdf5-4158-ba8c-04426c0dfdf8",
                "name": "LOCAL",
                "value": "={{ $json.empresa.toUpperCase().trim() }}",
                "type": "string"
              },
              {
                "id": "066d0f08-5893-42ba-abca-6d8c2d8079b3",
                "name": "ATRIBUÍDO",
                "value": "={{ $json.date_mod.toDateTime().format('dd/LL/yyyy') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "fb248e89-3165-467f-9b39-6aef14b3bc91",
        "name": "Edit Fields3",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2352,
          1248
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "NOME",
          "options": {}
        },
        "id": "593b14db-2eb6-4750-b06e-b95ccf0d240e",
        "name": "Merge4",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          2848,
          128
        ]
      },
      {
        "parameters": {
          "sendTo": "marcio.camparotto@dgcorrespondente.com.br",
          "subject": "=Relatório de Colaboradores com Mais de Um Equipamento Móvel A.C.G. CONSULTORIA EM GESTAO EMPRESARIAL LTDA {{ DateTime.now().format('dd/LL/yyyy') }}",
          "message": "={{ $('CodeGS').first().json.emailBody }}",
          "options": {
            "attachmentsUi": {
              "attachmentsBinary": [
                {}
              ]
            },
            "ccList": "raul.guimaraes@mdgintermediacoes.com.br,  daniel.gaspar@mdgintermediacoes.com.br"
          }
        },
        "id": "11b80963-6c9f-426d-be0c-5cf0581ecdcd",
        "name": "GS HOME OFFICE",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          5488,
          1008
        ],
        "webhookId": "d0c1e0f0-6953-4853-a09a-2413b0f9cf75",
        "credentials": {
          "gmailOAuth2": {
            "id": "354YsBCaj8SFvfOe",
            "name": "Gmail Suporte"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "909554c2-f4ba-4998-a66d-a021c076fa78",
                "leftValue": "={{ $json.serial }}",
                "rightValue": "[null]",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "8cb23f3c-7291-4c6e-97f7-ebbf7f65731b",
                "leftValue": "={{ $json.contact }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "7cd027f2-6a70-4b61-917d-eadccf292c3b",
        "name": "If1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1008,
          1248
        ]
      },
      {
        "parameters": {},
        "id": "16e90792-b0a5-4967-9c6c-1b722ddf4433",
        "name": "Merge7",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          2624,
          992
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "locations_id",
          "options": {}
        },
        "id": "7019791f-30c8-45c0-9e32-aa871a9c70b4",
        "name": "locations_id PC",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1520,
          1040
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "manufacturers_id",
          "options": {}
        },
        "id": "8f329e8e-05be-428b-a3ac-3dfa342df3b3",
        "name": "manufacturers_id PC",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1552,
          1472
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "HOSTNAME",
          "options": {}
        },
        "id": "182c815a-a3f8-459b-9c71-d35ffc772cf7",
        "name": "PC",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1872,
          1232
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "HOSTNAME",
          "options": {}
        },
        "id": "ae7b7e58-3b80-493d-82d8-0e445cca128a",
        "name": "Merge5",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          2160,
          1248
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "computermodels_id",
          "options": {}
        },
        "id": "dec17f09-5c6d-4056-8300-ce06475147d4",
        "name": "computermodels_id",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1552,
          1248
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "manufacturers_id",
          "options": {}
        },
        "id": "60844955-ccca-4b32-9bd7-c9d9a804d70b",
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1504,
          352
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "name",
          "options": {}
        },
        "id": "007ddd89-6fd4-4e37-b6a9-cde0970caa23",
        "name": "Merge3",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1792,
          464
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "name",
          "options": {}
        },
        "id": "9bed9973-7fed-4af2-9829-c6fe728dc022",
        "name": "Merge6",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1968,
          784
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.LOCAL.trim().toUpperCase() }}",
                      "rightValue": "GASPAR ASSESSORIA EMPRESARIAL LTDA",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "43412d13-3418-4e7e-a6af-767c44a7c6de",
                      "leftValue": "={{ $json.LOCAL.trim().toUpperCase() }}",
                      "rightValue": "MDG INTERMEDIAÇÕES DE NEGÓCIOS",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "4ccd0c33-942e-4a4c-9ede-23596f26d512",
                      "leftValue": "={{ $json.LOCAL.trim().toUpperCase() }}",
                      "rightValue": "MDG MORUMBI",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "3c966b9a-80bd-41ff-b17b-9ad0d1ccd81d",
                      "leftValue": "={{ $json.LOCAL.trim().toUpperCase() }}",
                      "rightValue": "A.C.G. CONSULTORIA EM GESTAO EMPRESARIAL LTDA",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "5cf29e97-ec83-4dcd-8a42-11144d4e44fe",
                      "leftValue": "={{ $json.LOCAL.trim().toUpperCase() }}",
                      "rightValue": "GS HOME OFFICE\t",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "6c954604-1445-44cc-a876-1d942641807a",
                      "leftValue": "={{ $json.LOCAL.trim().toUpperCase() }}",
                      "rightValue": "MR CAMP",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "f15ec0e2-e3ea-4951-9950-272b94458ab8",
        "name": "Switch",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          4560,
          -64
        ]
      },
      {
        "parameters": {
          "jsCode": "// Recebe os itens da entrada do nó anterior\nconst items = $input.all();\n\n// Map para contar as ocorrências de cada valor no campo 'NOME'\nconst countMap = {};\n\n// Contar ocorrências\nitems.forEach(item => {\n    const key = item.json.NOME; // Campo NOME usado para checar duplicidade\n    countMap[key] = (countMap[key] || 0) + 1;\n});\n\n// Filtrar apenas os itens duplicados\nconst duplicates = items.filter(item => countMap[item.json.NOME] > 1);\n\n// Ordenar os duplicados pelo campo 'NOME'\nduplicates.sort((a, b) => {\n    if (a.json.NOME < b.json.NOME) return -1;\n    if (a.json.NOME > b.json.NOME) return 1;\n    return 0;\n});\n\n// Retornar os itens duplicados ordenados\nreturn duplicates;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3968,
          0
        ],
        "id": "86162edd-89b6-4bae-9c62-a2c68eaf813d",
        "name": "Code6"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "9825b299-9993-410d-ac52-6aac04385b8e",
                "leftValue": "={{ $json.ID }}",
                "rightValue": "CL",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              },
              {
                "id": "6c754515-9db4-4561-a4b3-4f2025c96b15",
                "leftValue": "={{ $json.ID }}",
                "rightValue": "TBL",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3792,
          96
        ],
        "id": "38b79b25-e996-4633-9fbf-af52b4e30c71",
        "name": "If2"
      },
      {
        "parameters": {
          "compare": "selectedFields",
          "fieldsToCompare": "ID",
          "options": {}
        },
        "type": "n8n-nodes-base.removeDuplicates",
        "typeVersion": 2,
        "position": [
          2864,
          992
        ],
        "id": "fd062ea5-f20b-44b6-83d0-38232ed361a7",
        "name": "Remove Duplicates"
      },
      {
        "parameters": {
          "operation": "xlsx",
          "options": {
            "fileName": "DupliadosFull"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          4992,
          1408
        ],
        "id": "6dbf6ae8-18c0-4f59-b3b4-b76b607c6823",
        "name": "Convert to File"
      },
      {
        "parameters": {
          "operation": "xlsx",
          "options": {
            "fileName": "GASPAR ASSESSORIA EMPRESARIAL LTDA"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          4992,
          -288
        ],
        "id": "c17ea6bd-b18e-43ea-a9e0-37c404de208b",
        "name": "Convert to File1"
      },
      {
        "parameters": {
          "mode": "chooseBranch",
          "useDataOfInput": 2
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          5216,
          -384
        ],
        "id": "59cf0b45-d3d9-4090-b8ce-e4b725db27be",
        "name": "Merge8"
      },
      {
        "parameters": {
          "operation": "xlsx",
          "options": {
            "fileName": "MDG Intermediações de Negócios"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          4992,
          48
        ],
        "id": "a62b8b03-23ba-4560-8743-be4ca3b13cfe",
        "name": "Convert to File2"
      },
      {
        "parameters": {
          "mode": "chooseBranch",
          "useDataOfInput": 2
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          5216,
          -48
        ],
        "id": "05cff9ee-f587-4d05-9328-9d0a56cda1bc",
        "name": "Merge9"
      },
      {
        "parameters": {
          "operation": "xlsx",
          "options": {
            "fileName": "MDG Morumbi"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          4992,
          384
        ],
        "id": "413babf8-225e-4e8b-9f3a-60bd59b8e365",
        "name": "Convert to File3"
      },
      {
        "parameters": {
          "mode": "chooseBranch",
          "useDataOfInput": 2
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          5216,
          304
        ],
        "id": "ee90931e-429b-4624-a713-09165a79ffcb",
        "name": "Merge10"
      },
      {
        "parameters": {
          "operation": "xlsx",
          "options": {
            "fileName": "ACG CONSULTORIA EM GESTAO EMPRESARIAL LTDA"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          4992,
          720
        ],
        "id": "f94b4c8f-3d0f-42fd-bc9f-6f4df15d93eb",
        "name": "Convert to File4"
      },
      {
        "parameters": {
          "mode": "chooseBranch",
          "useDataOfInput": 2
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          5216,
          640
        ],
        "id": "9186dfea-3667-43ad-85da-bba11d59fc12",
        "name": "Merge11"
      },
      {
        "parameters": {
          "operation": "xlsx",
          "options": {
            "fileName": "GS HOME OFFICE"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          4992,
          1088
        ],
        "id": "fbe658af-3916-4d82-aea4-c69e546252fc",
        "name": "Convert to File5"
      },
      {
        "parameters": {
          "mode": "chooseBranch",
          "useDataOfInput": 2
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          5200,
          1008
        ],
        "id": "281bef42-4888-40e0-afe7-45fc0b3bf3fd",
        "name": "Merge12"
      },
      {
        "parameters": {
          "jsCode": "// Obtém os dados da execução anterior\nconst data = $input.all();\n\n// Obtém a data atual formatada\nconst dataAtual = new Date().toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric' });\n\n// Agrupa os colaboradores por NOME e CARGO para verificar duplicidades\nconst colaboradores = {};\ndata.forEach(item => {\n  const key = `${item.json.NOME}-${item.json.CARGO}`;\n  if (!colaboradores[key]) {\n    colaboradores[key] = [];\n  }\n  colaboradores[key].push(item.json);\n});\n\n// Filtra apenas os colaboradores com mais de um equipamento\nconst colaboradoresDuplicados = Object.values(colaboradores).filter(colaborador => colaborador.length > 1);\n\n// Monta a mensagem personalizada\nlet mensagem = `<p>Prezados,</p>\n<p>Identificamos que alguns colaboradores estão atualmente vinculados a mais de um equipamento móvel, como celular ou tablet. Segue abaixo a relação dos dispositivos para análise e regularização.</p>\n<p>Data do relatório: <strong>${dataAtual}</strong></p>\n<p>Por favor, tome as providências necessárias para garantir o controle e a alocação adequada dos equipamentos.</p>\n<p>Em caso de dúvidas, estamos à disposição.</p>`;\n\n// Inicia a tabela HTML\nlet htmlTable = `<table border=\"1\" cellpadding=\"5\" cellspacing=\"0\" style=\"border-collapse: collapse;\">\n<thead>\n<tr>\n<th>NOME</th>\n<th>CARGO</th>\n<th>ID</th>\n<th>MODELO</th>\n<th>FABRICANTE</th>\n<th>ATRIBUÍDO</th> <!-- Adiciona a coluna ATRIBUÍDO -->\n</tr>\n</thead>\n<tbody>`;\n\n// Adiciona as linhas correspondentes aos colaboradores com mais de um equipamento\ncolaboradoresDuplicados.forEach(colaborador => {\n  colaborador.forEach(equipamento => {\n    htmlTable += `<tr>\n    <td>${equipamento.NOME}</td>\n    <td>${equipamento.CARGO}</td>\n    <td>${equipamento.ID}</td>\n    <td>${equipamento.MODELO}</td>\n    <td>${equipamento.FABRICANTE}</td>\n    <td>${equipamento.ATRIBUÍDO}</td> <!-- Adiciona o campo ATRIBUÍDO -->\n    </tr>`;\n  });\n});\n\n// Fecha a tabela\nhtmlTable += `</tbody></table>`;\n\n// Adiciona a assinatura\nlet assinatura = `<p>Atenciosamente,</p>\n<p>Tecnologia da Informação</p>`;\n\n// Combina a mensagem, tabela e assinatura\nconst emailBody = mensagem + htmlTable + assinatura;\n\n// Retorna o corpo do e-mail completo\nreturn [{ emailBody }];\n"
        },
        "id": "ad2db6ab-cdf0-4bf0-a109-ccdaf3b97d6b",
        "name": "CodeGASPAR",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4992,
          -464
        ]
      },
      {
        "parameters": {
          "jsCode": "// Obtém os dados da execução anterior\nconst data = $input.all();\n\n// Obtém a data atual formatada\nconst dataAtual = new Date().toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric' });\n\n// Agrupa os colaboradores por NOME e CARGO para verificar duplicidades\nconst colaboradores = {};\ndata.forEach(item => {\n  const key = `${item.json.NOME}-${item.json.CARGO}`;\n  if (!colaboradores[key]) {\n    colaboradores[key] = [];\n  }\n  colaboradores[key].push(item.json);\n});\n\n// Filtra apenas os colaboradores com mais de um equipamento\nconst colaboradoresDuplicados = Object.values(colaboradores).filter(colaborador => colaborador.length > 1);\n\n// Monta a mensagem personalizada\nlet mensagem = `<p>Prezados,</p>\n<p>Identificamos que alguns colaboradores estão atualmente vinculados a mais de um equipamento móvel, como celular ou tablet. Segue abaixo a relação dos dispositivos para análise e regularização.</p>\n<p>Data do relatório: <strong>${dataAtual}</strong></p>\n<p>Por favor, tome as providências necessárias para garantir o controle e a alocação adequada dos equipamentos.</p>\n<p>Em caso de dúvidas, estamos à disposição.</p>`;\n\n// Inicia a tabela HTML\nlet htmlTable = `<table border=\"1\" cellpadding=\"5\" cellspacing=\"0\" style=\"border-collapse: collapse;\">\n<thead>\n<tr>\n<th>NOME</th>\n<th>CARGO</th>\n<th>ID</th>\n<th>MODELO</th>\n<th>FABRICANTE</th>\n<th>ATRIBUÍDO</th> <!-- Adiciona a coluna ATRIBUÍDO -->\n</tr>\n</thead>\n<tbody>`;\n\n// Adiciona as linhas correspondentes aos colaboradores com mais de um equipamento\ncolaboradoresDuplicados.forEach(colaborador => {\n  colaborador.forEach(equipamento => {\n    htmlTable += `<tr>\n    <td>${equipamento.NOME}</td>\n    <td>${equipamento.CARGO}</td>\n    <td>${equipamento.ID}</td>\n    <td>${equipamento.MODELO}</td>\n    <td>${equipamento.FABRICANTE}</td>\n    <td>${equipamento.ATRIBUÍDO}</td> <!-- Adiciona o campo ATRIBUÍDO -->\n    </tr>`;\n  });\n});\n\n// Fecha a tabela\nhtmlTable += `</tbody></table>`;\n\n// Adiciona a assinatura\nlet assinatura = `<p>Atenciosamente,</p>\n<p>Tecnologia da Informação</p>`;\n\n// Combina a mensagem, tabela e assinatura\nconst emailBody = mensagem + htmlTable + assinatura;\n\n// Retorna o corpo do e-mail completo\nreturn [{ emailBody }];\n"
        },
        "id": "8e98ee68-5930-4357-822d-002e7116cbef",
        "name": "CodeMDG",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4992,
          -96
        ]
      },
      {
        "parameters": {
          "jsCode": "// Obtém os dados da execução anterior\nconst data = $input.all();\n\n// Obtém a data atual formatada\nconst dataAtual = new Date().toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric' });\n\n// Agrupa os colaboradores por NOME e CARGO para verificar duplicidades\nconst colaboradores = {};\ndata.forEach(item => {\n  const key = `${item.json.NOME}-${item.json.CARGO}`;\n  if (!colaboradores[key]) {\n    colaboradores[key] = [];\n  }\n  colaboradores[key].push(item.json);\n});\n\n// Filtra apenas os colaboradores com mais de um equipamento\nconst colaboradoresDuplicados = Object.values(colaboradores).filter(colaborador => colaborador.length > 1);\n\n// Monta a mensagem personalizada\nlet mensagem = `<p>Prezados,</p>\n<p>Identificamos que alguns colaboradores estão atualmente vinculados a mais de um equipamento móvel, como celular ou tablet. Segue abaixo a relação dos dispositivos para análise e regularização.</p>\n<p>Data do relatório: <strong>${dataAtual}</strong></p>\n<p>Por favor, tome as providências necessárias para garantir o controle e a alocação adequada dos equipamentos.</p>\n<p>Em caso de dúvidas, estamos à disposição.</p>`;\n\n// Inicia a tabela HTML\nlet htmlTable = `<table border=\"1\" cellpadding=\"5\" cellspacing=\"0\" style=\"border-collapse: collapse;\">\n<thead>\n<tr>\n<th>NOME</th>\n<th>CARGO</th>\n<th>ID</th>\n<th>MODELO</th>\n<th>FABRICANTE</th>\n<th>ATRIBUÍDO</th> <!-- Adiciona a coluna ATRIBUÍDO -->\n</tr>\n</thead>\n<tbody>`;\n\n// Adiciona as linhas correspondentes aos colaboradores com mais de um equipamento\ncolaboradoresDuplicados.forEach(colaborador => {\n  colaborador.forEach(equipamento => {\n    htmlTable += `<tr>\n    <td>${equipamento.NOME}</td>\n    <td>${equipamento.CARGO}</td>\n    <td>${equipamento.ID}</td>\n    <td>${equipamento.MODELO}</td>\n    <td>${equipamento.FABRICANTE}</td>\n    <td>${equipamento.ATRIBUÍDO}</td> <!-- Adiciona o campo ATRIBUÍDO -->\n    </tr>`;\n  });\n});\n\n// Fecha a tabela\nhtmlTable += `</tbody></table>`;\n\n// Adiciona a assinatura\nlet assinatura = `<p>Atenciosamente,</p>\n<p>Tecnologia da Informação</p>`;\n\n// Combina a mensagem, tabela e assinatura\nconst emailBody = mensagem + htmlTable + assinatura;\n\n// Retorna o corpo do e-mail completo\nreturn [{ emailBody }];\n"
        },
        "id": "4324a8f3-0ba4-4c2c-a083-80946b1608ca",
        "name": "CodeMORUMBI",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4992,
          224
        ]
      },
      {
        "parameters": {
          "jsCode": "// Obtém os dados da execução anterior\nconst data = $input.all();\n\n// Obtém a data atual formatada\nconst dataAtual = new Date().toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric' });\n\n// Agrupa os colaboradores por NOME e CARGO para verificar duplicidades\nconst colaboradores = {};\ndata.forEach(item => {\n  const key = `${item.json.NOME}-${item.json.CARGO}`;\n  if (!colaboradores[key]) {\n    colaboradores[key] = [];\n  }\n  colaboradores[key].push(item.json);\n});\n\n// Filtra apenas os colaboradores com mais de um equipamento\nconst colaboradoresDuplicados = Object.values(colaboradores).filter(colaborador => colaborador.length > 1);\n\n// Monta a mensagem personalizada\nlet mensagem = `<p>Prezados,</p>\n<p>Identificamos que alguns colaboradores estão atualmente vinculados a mais de um equipamento móvel, como celular ou tablet. Segue abaixo a relação dos dispositivos para análise e regularização.</p>\n<p>Data do relatório: <strong>${dataAtual}</strong></p>\n<p>Por favor, tome as providências necessárias para garantir o controle e a alocação adequada dos equipamentos.</p>\n<p>Em caso de dúvidas, estamos à disposição.</p>`;\n\n// Inicia a tabela HTML\nlet htmlTable = `<table border=\"1\" cellpadding=\"5\" cellspacing=\"0\" style=\"border-collapse: collapse;\">\n<thead>\n<tr>\n<th>NOME</th>\n<th>CARGO</th>\n<th>ID</th>\n<th>MODELO</th>\n<th>FABRICANTE</th>\n<th>ATRIBUÍDO</th> <!-- Adiciona a coluna ATRIBUÍDO -->\n</tr>\n</thead>\n<tbody>`;\n\n// Adiciona as linhas correspondentes aos colaboradores com mais de um equipamento\ncolaboradoresDuplicados.forEach(colaborador => {\n  colaborador.forEach(equipamento => {\n    htmlTable += `<tr>\n    <td>${equipamento.NOME}</td>\n    <td>${equipamento.CARGO}</td>\n    <td>${equipamento.ID}</td>\n    <td>${equipamento.MODELO}</td>\n    <td>${equipamento.FABRICANTE}</td>\n    <td>${equipamento.ATRIBUÍDO}</td> <!-- Adiciona o campo ATRIBUÍDO -->\n    </tr>`;\n  });\n});\n\n// Fecha a tabela\nhtmlTable += `</tbody></table>`;\n\n// Adiciona a assinatura\nlet assinatura = `<p>Atenciosamente,</p>\n<p>Tecnologia da Informação</p>`;\n\n// Combina a mensagem, tabela e assinatura\nconst emailBody = mensagem + htmlTable + assinatura;\n\n// Retorna o corpo do e-mail completo\nreturn [{ emailBody }];\n"
        },
        "id": "93b2704b-237b-4bff-879a-9e13a4dc06e4",
        "name": "CodeACG",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4992,
          560
        ]
      },
      {
        "parameters": {
          "jsCode": "// Obtém os dados da execução anterior\nconst data = $input.all();\n\n// Obtém a data atual formatada\nconst dataAtual = new Date().toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric' });\n\n// Agrupa os colaboradores por NOME e CARGO para verificar duplicidades\nconst colaboradores = {};\ndata.forEach(item => {\n  const key = `${item.json.NOME}-${item.json.CARGO}`;\n  if (!colaboradores[key]) {\n    colaboradores[key] = [];\n  }\n  colaboradores[key].push(item.json);\n});\n\n// Filtra apenas os colaboradores com mais de um equipamento\nconst colaboradoresDuplicados = Object.values(colaboradores).filter(colaborador => colaborador.length > 1);\n\n// Monta a mensagem personalizada\nlet mensagem = `<p>Prezados,</p>\n<p>Identificamos que alguns colaboradores estão atualmente vinculados a mais de um equipamento móvel, como celular ou tablet. Segue abaixo a relação dos dispositivos para análise e regularização.</p>\n<p>Data do relatório: <strong>${dataAtual}</strong></p>\n<p>Por favor, tome as providências necessárias para garantir o controle e a alocação adequada dos equipamentos.</p>\n<p>Em caso de dúvidas, estamos à disposição.</p>`;\n\n// Inicia a tabela HTML\nlet htmlTable = `<table border=\"1\" cellpadding=\"5\" cellspacing=\"0\" style=\"border-collapse: collapse;\">\n<thead>\n<tr>\n<th>NOME</th>\n<th>CARGO</th>\n<th>ID</th>\n<th>MODELO</th>\n<th>FABRICANTE</th>\n<th>ATRIBUÍDO</th> <!-- Adiciona a coluna ATRIBUÍDO -->\n</tr>\n</thead>\n<tbody>`;\n\n// Adiciona as linhas correspondentes aos colaboradores com mais de um equipamento\ncolaboradoresDuplicados.forEach(colaborador => {\n  colaborador.forEach(equipamento => {\n    htmlTable += `<tr>\n    <td>${equipamento.NOME}</td>\n    <td>${equipamento.CARGO}</td>\n    <td>${equipamento.ID}</td>\n    <td>${equipamento.MODELO}</td>\n    <td>${equipamento.FABRICANTE}</td>\n    <td>${equipamento.ATRIBUÍDO}</td> <!-- Adiciona o campo ATRIBUÍDO -->\n    </tr>`;\n  });\n});\n\n// Fecha a tabela\nhtmlTable += `</tbody></table>`;\n\n// Adiciona a assinatura\nlet assinatura = `<p>Atenciosamente,</p>\n<p>Tecnologia da Informação</p>`;\n\n// Combina a mensagem, tabela e assinatura\nconst emailBody = mensagem + htmlTable + assinatura;\n\n// Retorna o corpo do e-mail completo\nreturn [{ emailBody }];\n"
        },
        "id": "64dc6403-828b-4c76-9f42-ebf47d609312",
        "name": "CodeGS",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4992,
          928
        ]
      },
      {
        "parameters": {
          "mode": "chooseBranch",
          "useDataOfInput": 2
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          5296,
          1344
        ],
        "id": "8ce48ea8-a5a5-4388-98f7-4c52506bc037",
        "name": "Merge13"
      },
      {
        "parameters": {
          "sendTo": "raul.guimaraes@mdgintermediacoes.com.br",
          "subject": "=Relatório de Colaboradores com Mais de Um Equipamento Móvel {{ DateTime.now().format('dd/LL/yyyy') }}",
          "message": "={{ $('CodeTI').first().json.emailBody }}",
          "options": {
            "attachmentsUi": {
              "attachmentsBinary": [
                {}
              ]
            },
            "ccList": "luiz.carmona@mdgintermediacoes.com.br, matheus.almeida@mdgintermediacoes.com.br"
          }
        },
        "id": "076b82bd-c09a-40ff-806b-800e83e9c754",
        "name": "GRUPO EMPRESARIAL",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          5520,
          1344
        ],
        "webhookId": "df77f267-ba49-4d5c-8efd-8285da266bac",
        "credentials": {
          "gmailOAuth2": {
            "id": "354YsBCaj8SFvfOe",
            "name": "Gmail Suporte"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Obtém os dados da execução anterior\nconst data = $input.all();\n\n// Obtém a data atual formatada\nconst dataAtual = new Date().toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric' });\n\n// Agrupa os colaboradores por NOME e CARGO para verificar duplicidades\nconst colaboradores = {};\ndata.forEach(item => {\n  const key = `${item.json.NOME}-${item.json.CARGO}`;\n  if (!colaboradores[key]) {\n    colaboradores[key] = [];\n  }\n  colaboradores[key].push(item.json);\n});\n\n// Filtra apenas os colaboradores com mais de um equipamento\nconst colaboradoresDuplicados = Object.values(colaboradores).filter(colaborador => colaborador.length > 1);\n\n// Monta a mensagem personalizada\nlet mensagem = `<p>Prezados,</p>\n<p>Segue abaixo o relatório dos colaboradores vinculados a mais de um equipamento móvel (celular ou tablet), com suas respectivas informações. Este levantamento tem como objetivo auxiliar na regularização e controle dos ativos pela equipe de TI.</p>\n<p>Data do relatório: <strong>${dataAtual}</strong></p>\n<p>Por gentileza, analisem as informações e realizem as ações necessárias. Caso tenham dúvidas, estamos à disposição para esclarecimentos.</p>`;\n\n// Inicia a tabela HTML\nlet htmlTable = `<table border=\"1\" cellpadding=\"5\" cellspacing=\"0\" style=\"border-collapse: collapse;\">\n<thead>\n<tr>\n<th>NOME</th>\n<th>CARGO</th>\n<th>ID</th>\n<th>MODELO</th>\n<th>FABRICANTE</th>\n<th>LOCAL</th>\n<th>ATRIBUÍDO</th>\n</tr>\n</thead>\n<tbody>`;\n\n// Adiciona as linhas correspondentes aos colaboradores com mais de um equipamento\ncolaboradoresDuplicados.forEach(colaborador => {\n  colaborador.forEach(equipamento => {\n    htmlTable += `<tr>\n    <td>${equipamento.NOME}</td>\n    <td>${equipamento.CARGO}</td>\n    <td>${equipamento.ID}</td>\n    <td>${equipamento.MODELO}</td>\n    <td>${equipamento.FABRICANTE}</td>\n    <td>${equipamento.LOCAL}</td>\n    <td>${equipamento.ATRIBUÍDO}</td>\n    </tr>`;\n  });\n});\n\n// Fecha a tabela\nhtmlTable += `</tbody></table>`;\n\n// Adiciona a assinatura\nlet assinatura = `<p>Atenciosamente,</p>\n<p>Tecnologia da Informação</p>`;\n\n// Combina a mensagem, tabela e assinatura\nconst emailBody = mensagem + htmlTable + assinatura;\n\n// Retorna o corpo do e-mail completo\nreturn [{ emailBody }];\n"
        },
        "id": "eeab8aa9-d21b-46ce-9bdb-8c1a617d0b74",
        "name": "CodeTI",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4992,
          1264
        ]
      },
      {
        "parameters": {
          "sendTo": "felipe.ferreira@mdgintermediacoes.com.br",
          "subject": "=Relatório de Colaboradores com Mais de Um Equipamento Móvel GASPAR ASSESSORIA EMPRESARIAL LTDA {{ DateTime.now().format('dd/LL/yyyy') }}",
          "message": "={{ $('CodeGASPAR').first().json.emailBody }}",
          "options": {
            "attachmentsUi": {
              "attachmentsBinary": [
                {}
              ]
            },
            "ccList": "daniel.gaspar@mdgintermediacoes.com.br, raul.guimaraes@mdgintermediacoes.com.br"
          }
        },
        "id": "eeac5cd6-456d-414c-96fd-895807289d70",
        "name": "GASPAR ASSESSORIA EMPRESARIAL LTDA",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          5472,
          -384
        ],
        "webhookId": "df77f267-ba49-4d5c-8efd-8285da266bac",
        "credentials": {
          "gmailOAuth2": {
            "id": "354YsBCaj8SFvfOe",
            "name": "Gmail Suporte"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "5d75b988-c637-4aa5-a993-6f051fd795d2",
                "leftValue": "={{ $json.CARGO }}",
                "rightValue": "GERENTE",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          4224,
          -16
        ],
        "id": "091e3483-9681-485c-899c-faf3e7bfe5fd",
        "name": "Filter Cargo"
      }
    ],
    "connections": {
      "glpi_manufacturers": {
        "main": [
          [
            {
              "node": "Rename Keys",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "glpi_phones": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Rename Keys": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            },
            {
              "node": "manufacturers_id PC",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "glpi_phonemodels": {
        "main": [
          [
            {
              "node": "Rename Keys1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Rename Keys1": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "glpi_locations": {
        "main": [
          [
            {
              "node": "Rename Keys2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Rename Keys2": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 1
            },
            {
              "node": "locations_id PC",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Merge7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Sort",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "A.C.G. CONSULTORIA EM GESTAO EMPRESARIAL LTDA": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MDG Morumbi": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MDG Intermediações de Negócios": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "glpi_phones",
              "type": "main",
              "index": 0
            },
            {
              "node": "glpi_manufacturers",
              "type": "main",
              "index": 0
            },
            {
              "node": "glpi_phonemodels",
              "type": "main",
              "index": 0
            },
            {
              "node": "glpi_locations",
              "type": "main",
              "index": 0
            },
            {
              "node": "SSH",
              "type": "main",
              "index": 0
            },
            {
              "node": "glpi_computers",
              "type": "main",
              "index": 0
            },
            {
              "node": "glpi_computermodels",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sort": {
        "main": [
          [
            {
              "node": "If2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Merge3",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Merge4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "NaoAtivo": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SSH": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "glpi_computers": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "glpi_computermodels": {
        "main": [
          [
            {
              "node": "Rename Keys5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Rename Keys4": {
        "main": [
          [
            {
              "node": "computermodels_id",
              "type": "main",
              "index": 0
            },
            {
              "node": "locations_id PC",
              "type": "main",
              "index": 1
            },
            {
              "node": "manufacturers_id PC",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Rename Keys5": {
        "main": [
          [
            {
              "node": "computermodels_id",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Merge7",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge4": {
        "main": [
          [
            {
              "node": "NaoAtivo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Rename Keys4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge7": {
        "main": [
          [
            {
              "node": "Remove Duplicates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "locations_id PC": {
        "main": [
          [
            {
              "node": "PC",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "manufacturers_id PC": {
        "main": [
          [
            {
              "node": "Merge5",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "PC": {
        "main": [
          [
            {
              "node": "Merge5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge5": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "computermodels_id": {
        "main": [
          [
            {
              "node": "PC",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Merge3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge3": {
        "main": [
          [
            {
              "node": "Merge6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge2": {
        "main": [
          [
            {
              "node": "Merge6",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge6": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "CodeGASPAR",
              "type": "main",
              "index": 0
            },
            {
              "node": "Convert to File1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "CodeMDG",
              "type": "main",
              "index": 0
            },
            {
              "node": "Convert to File2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "CodeMORUMBI",
              "type": "main",
              "index": 0
            },
            {
              "node": "Convert to File3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "CodeACG",
              "type": "main",
              "index": 0
            },
            {
              "node": "Convert to File4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "CodeGS",
              "type": "main",
              "index": 0
            },
            {
              "node": "Convert to File5",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "CodeMORUMBI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GS HOME OFFICE": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code6": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            },
            {
              "node": "CodeTI",
              "type": "main",
              "index": 0
            },
            {
              "node": "Filter Cargo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If2": {
        "main": [
          [
            {
              "node": "Code6",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove Duplicates": {
        "main": [
          [
            {
              "node": "Merge4",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Convert to File1": {
        "main": [
          [
            {
              "node": "Merge8",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge8": {
        "main": [
          [
            {
              "node": "GASPAR ASSESSORIA EMPRESARIAL LTDA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge9": {
        "main": [
          [
            {
              "node": "MDG Intermediações de Negócios",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File2": {
        "main": [
          [
            {
              "node": "Merge9",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge10": {
        "main": [
          [
            {
              "node": "MDG Morumbi",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File3": {
        "main": [
          [
            {
              "node": "Merge10",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge11": {
        "main": [
          [
            {
              "node": "A.C.G. CONSULTORIA EM GESTAO EMPRESARIAL LTDA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File4": {
        "main": [
          [
            {
              "node": "Merge11",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge12": {
        "main": [
          [
            {
              "node": "GS HOME OFFICE",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File5": {
        "main": [
          [
            {
              "node": "Merge12",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "CodeGASPAR": {
        "main": [
          [
            {
              "node": "Merge8",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CodeMDG": {
        "main": [
          [
            {
              "node": "Merge9",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CodeMORUMBI": {
        "main": [
          [
            {
              "node": "Merge10",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CodeACG": {
        "main": [
          [
            {
              "node": "Merge11",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CodeGS": {
        "main": [
          [
            {
              "node": "Merge12",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File": {
        "main": [
          [
            {
              "node": "Merge13",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge13": {
        "main": [
          [
            {
              "node": "GRUPO EMPRESARIAL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GRUPO EMPRESARIAL": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CodeTI": {
        "main": [
          [
            {
              "node": "Merge13",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GASPAR ASSESSORIA EMPRESARIAL LTDA": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Cargo": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}