Sem_Categoria/Na41nGzAsrR204X7.json
{
  "updatedAt": "2026-03-12T21:01:21.562Z",
  "createdAt": "2026-03-05T13:32:18.681Z",
  "id": "Na41nGzAsrR204X7",
  "name": "NOVA VIDA TI - BUSCA AVANCADA",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        640
      ],
      "id": "e183cff8-5dd9-4ff6-aba5-b122e0796776",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://congonhas.novavidati.com.br/Login",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "5329a179-3111-4525-bc35-a400000e5d72",
      "name": "GET Login Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Pegamos o corpo (HTML) que está entrando neste nó\nconst html = $json.data || \"\";\n\n// 2. Pegamos os headers do nó anterior usando a sintaxe mais moderna ($('Nome').item)\n// Certifique-se que o nome do nó anterior é exatamente \"GET Login Page\"\nlet setCookie = \"\";\ntry {\n  const headers = $('GET Login Page').item.json.headers;\n  const cookieHeader = headers['set-cookie'];\n  \n  if (Array.isArray(cookieHeader)) {\n    setCookie = cookieHeader[0].split(';')[0];\n  } else if (typeof cookieHeader === 'string') {\n    setCookie = cookieHeader.split(';')[0];\n  }\n} catch (e) {\n  setCookie = \"\"; // Caso não encontre o cookie, evita que o nó trave\n}\n\n// 3. Extração do Token com um Regex mais flexível\n// (Tenta pegar o value independente da ordem dos atributos)\nconst tokenMatch = html.match(/name=\"__RequestVerificationToken\".*?value=\"([^\"]+)\"/) \n                || html.match(/value=\"([^\"]+)\".*?name=\"__RequestVerificationToken\"/);\n\nreturn [{\n  token: tokenMatch ? tokenMatch[1] : null,\n  cookie: setCookie,\n  // Debug: se o token vier null, você verá o HTML aqui para conferir\n  htmlLength: html.length \n}];"
      },
      "id": "7ed808f8-42d8-4c0c-9687-3b4eb6e5b4fb",
      "name": "Extrair Token e Cookie",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://congonhas.novavidati.com.br/Login/Login?DefaultButton=SubmitButton",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "cookie",
              "value": "={{ $json.cookie }}"
            },
            {
              "name": "referer",
              "value": "https://congonhas.novavidati.com.br/Login"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "sUsuario",
              "value": "Daniel.gaspar@acgconsultoria.com.br"
            },
            {
              "name": "sSenha",
              "value": "Mdg@2025"
            },
            {
              "name": "sCliente",
              "value": "ACG"
            },
            {
              "name": "lembrarLogin",
              "value": "OK"
            },
            {
              "name": "__RequestVerificationToken",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "514f15dd-155d-477e-a55a-433ac2d66cca",
      "name": "POST Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Pegamos os novos Cookies que o 'POST Login' gerou\nconst loginNode = $('POST Login').item.json;\nconst setCookies = loginNode.headers['set-cookie'] || [];\nconst sessionCookies = setCookies.map(c => c.split(';')[0]).join('; ');\n\n// 2. Pegamos o Token e o Cookie inicial do nó de extração anterior\n// Certifique-se que o nome do nó de extração é exatamente este:\nconst extracaoAnterior = $('Extrair Token e Cookie').item.json;\nconst token = extracaoAnterior.token;\nconst cookieInicial = extracaoAnterior.cookie;\n\n// 3. Juntamos tudo em uma única string de cookie\nconst allCookies = [cookieInicial, sessionCookies].filter(Boolean).join('; ');\n\nreturn [{\n  token: token,\n  allCookies: allCookies\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        640
      ],
      "id": "28fa4b82-d955-4bb5-8292-9d2d20efdaf8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const html = $json.data;\nconst results = [];\n\n// 1. Localiza o corpo da tabela\nconst tableMatch = html.match(/<table[^>]*>([\\s\\S]*?)<\\/table>/);\nif (!tableMatch) return [{ aviso: \"Nenhuma tabela encontrada\" }];\n\n// 2. Quebra o HTML em linhas (tr)\nconst rows = tableMatch[1].match(/<tr>([\\s\\S]*?)<\\/tr>/g) || [];\n\nfor (const row of rows) {\n    // Busca o Nome (dentro da classe text-item__title)\n    const nomeMatch = row.match(/class=\"text-item__title\">([^<]+)<\\/p>/);\n    if (!nomeMatch) continue; // Pula se não encontrar nome (cabeçalho, etc)\n\n    // Busca o Documento (limpando o texto \"Documento:\")\n    const docMatch = row.match(/<strong>Documento: <\\/strong>\\s*([^<]+)<\\/p>/);\n\n    // Busca a Localidade (Cidade/Estado)\n    const localMatch = row.match(/<span class=\"text-item__detail\">([^<]+)<\\/span>/g);\n    // No seu HTML, a localidade é o segundo span de detalhe encontrado no bloco\n    let localidade = \"\";\n    if (localMatch && localMatch.length > 1) {\n        localidade = localMatch[localMatch.length - 1].replace(/<[^>]+>/g, '').replace(/&nbsp;/g, '').trim();\n    }\n\n    // Busca o ID de consulta detalhada (aquela string que começa com !)\n    const idMatch = row.match(/pesquisaCPFCNPJ\\('([^']+)'/);\n\n    results.push({\n        nome: nomeMatch[1].trim(),\n        documento: docMatch ? docMatch[1].trim() : null,\n        localidade: localidade,\n        id_detalhes: idMatch ? idMatch[1] : null\n    });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        640
      ],
      "id": "b6e5f4d4-d321-45d3-96b8-fab18e7694ba",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://congonhas.novavidati.com.br/Dashboard/BuscaAvancada",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Referer",
              "value": "https://congonhas.novavidati.com.br/Dashboard"
            },
            {
              "name": "Cookie",
              "value": "={{ $json.allCookies }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": " JULIO SIMOES DONARIO"
            },
            {
              "name": "nascimento"
            },
            {
              "name": "telefone"
            },
            {
              "name": "celular"
            },
            {
              "name": "email"
            },
            {
              "name": "endereco"
            },
            {
              "name": "cidade"
            },
            {
              "name": "estado"
            },
            {
              "name": "__RequestVerificationToken",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1088,
        640
      ],
      "id": "1364fec2-9e7b-4450-a229-408adbd61e6f",
      "name": "POST BuscaAvancada"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "GET Login Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Login Page": {
      "main": [
        [
          {
            "node": "Extrair Token e Cookie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Token e Cookie": {
      "main": [
        [
          {
            "node": "POST Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Login": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "POST BuscaAvancada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST BuscaAvancada": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "44ee5956-9e08-4e62-9741-509fba85c03d",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-05T13:32:18.681Z",
      "createdAt": "2026-03-05T13:32:18.681Z",
      "role": "workflow:owner",
      "workflowId": "Na41nGzAsrR204X7",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": null,
  "tags": []
}