Sem_Categoria/TBlAmRxw4FVUeg6V.json
{
  "updatedAt": "2026-06-10T13:26:49.826Z",
  "createdAt": "2025-01-08T13:09:17.446Z",
  "id": "TBlAmRxw4FVUeg6V",
  "name": "Telegram Kira Bot",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "queue": "telegram_group",
        "options": {
          "binding": {
            "bindings": [
              {
                "exchange": "telegram"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        32
      ],
      "id": "82c93b78-5afb-459a-8e55-1f48412213ab",
      "name": "RabbitMQ Trigger",
      "credentials": {
        "rabbitmq": {
          "id": "8S2CCfj4pf5t6xWv",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "30adff6b-5d21-4b26-ba33-e62ddb90656c",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        272,
        32
      ],
      "executeOnce": true,
      "webhookId": "3a1e5f83-ce6d-4c86-b070-cf610207066a",
      "credentials": {
        "telegramApi": {
          "id": "5XMLAtQYqlsup274",
          "name": "Telegram Kira Dev"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const queueMessage = $input.first().json.content;\n\nconst json = JSON.parse(queueMessage);\n\nreturn {json};\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        32
      ],
      "id": "ca4ba5a0-68ba-485c-977d-30e727fe3f85",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "RabbitMQ Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate",
    "executionTimeout": 600
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b29c8551-ed5e-4538-9d01-178539fae9de",
  "activeVersionId": "b29c8551-ed5e-4538-9d01-178539fae9de",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-01-08T13:09:17.446Z",
      "createdAt": "2025-01-08T13:09:17.446Z",
      "role": "workflow:owner",
      "workflowId": "TBlAmRxw4FVUeg6V",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-10T13:27:05.276Z",
    "createdAt": "2026-06-10T13:26:49.829Z",
    "versionId": "b29c8551-ed5e-4538-9d01-178539fae9de",
    "workflowId": "TBlAmRxw4FVUeg6V",
    "nodes": [
      {
        "parameters": {
          "queue": "telegram_group",
          "options": {
            "binding": {
              "bindings": [
                {
                  "exchange": "telegram"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.rabbitmqTrigger",
        "typeVersion": 1,
        "position": [
          -144,
          32
        ],
        "id": "82c93b78-5afb-459a-8e55-1f48412213ab",
        "name": "RabbitMQ Trigger",
        "credentials": {
          "rabbitmq": {
            "id": "8S2CCfj4pf5t6xWv",
            "name": "RabbitMQ account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.chat_id }}",
          "text": "={{ $json.message }}",
          "additionalFields": {
            "parse_mode": "HTML"
          }
        },
        "id": "30adff6b-5d21-4b26-ba33-e62ddb90656c",
        "name": "Telegram",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1,
        "position": [
          272,
          32
        ],
        "executeOnce": true,
        "webhookId": "3a1e5f83-ce6d-4c86-b070-cf610207066a",
        "credentials": {
          "telegramApi": {
            "id": "5XMLAtQYqlsup274",
            "name": "Telegram Kira Dev"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const queueMessage = $input.first().json.content;\n\nconst json = JSON.parse(queueMessage);\n\nreturn {json};\n\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          64,
          32
        ],
        "id": "ca4ba5a0-68ba-485c-977d-30e727fe3f85",
        "name": "Code in JavaScript"
      }
    ],
    "connections": {
      "RabbitMQ Trigger": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Suporte MDG Suporte",
    "name": "Version b29c8551",
    "description": "",
    "autosaved": true
  },
  "tags": []
}