Gestão_Acesso/pRDIArCSsoOLLU3L.json
{
  "updatedAt": "2025-04-02T11:58:54.495Z",
  "createdAt": "2025-03-06T15:02:16.145Z",
  "id": "pRDIArCSsoOLLU3L",
  "name": "Acessos - Gera AD old",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Recuperar todos os dados de entrada\nconst usuarios = $input.all(); \n\n// Definindo a OU do Active Directory\nconst caminhoOU = \"OU=Usuarios,OU=Homologacao,OU=01_MDG_PLN,DC=colaborador,DC=local\";\n\n// Recuperar a senha padrão do nó \"SenhaPadrao\"\nconst senha = $input.first().json.senhaPadrao;\n\n// Validar se a senha padrão foi recuperada corretamente\nif (!senha) {\n  throw new Error(\"A senha padrão não foi encontrada no nó 'SenhaPadrao'. Verifique o nó.\");\n}\n\n// Verificar se os dados de entrada são válidos\nif (Array.isArray(usuarios) && usuarios.length > 0) {\n  // Processar cada usuário\n  let comandosSSH = usuarios.map(item => {\n    const usuario = item.json;\n    const nomeCompleto = usuario[\"NOME\"]?.trim() || \"NOME NÃO DEFINIDO\";\n    const sobrenome = usuario[\"Last Name\"]?.trim() || \"SOBRENOME NÃO DEFINIDO\";\n    const nome = usuario[\"First Name\"]?.trim() || \"NOME NÃO DEFINIDO\";\n    const usuarioNome = usuario[\"USUARIO\"]?.trim() || \"usuario.nao.definido\";\n    const cpf = usuario[\"CPF\"]?.trim() || \"CPF NÃO DEFINIDO\";\n    const empresa = usuario[\"EMPRESA\"]?.trim() || \"EMPRESA NÃO DEFINIDA\";\n    const telefone = usuario[\"TELEFONE\"]?.trim() || usuario[\"TELEFONE\"]?.trim() || \"TELEFONE NÃO DEFINIDO\";\n    const cargo = usuario[\"CARGO\"]?.trim() || \"CARGO NÃO DEFINIDO\";\n    const mail = usuario[\"Email\"]?.trim() || \"CARGO NÃO DEFINIDO\";\n\n    // Validação mínima para evitar erros graves\n    if (!usuarioNome || !nomeCompleto) {\n      throw new Error(`Usuário inválido: Nome completo ou nome de usuário ausente. Dados: ${JSON.stringify(usuario)}`);\n    }\n\n    // Gerar o comando SSH para criar o usuário no AD\n    return `sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\\\"New-ADUser -SamAccountName '${usuarioNome}' -UserPrincipalName '${usuarioNome}@colaborador.local' -Name '${nomeCompleto}' -GivenName '${nome.toUpperCase()}' -Surname '${sobrenome.toUpperCase()}' -DisplayName '${nomeCompleto}' -Description '${cpf}' -OfficePhone '${telefone}' -Mobile '${telefone}' -Title '${cargo}' -Company '${empresa}' -EmailAddress '${mail}' -HomeDirectory '\\\\\\\\\\\\\\\\srv01\\\\\\\\users$\\\\\\\\${usuarioNome}' -HomeDrive 'U' -PasswordNeverExpires:\\\\$false -ChangePasswordAtLogon \\\\$true -Enabled \\\\$true -Path '${caminhoOU}' -AccountPassword (ConvertTo-SecureString '${senha}' -AsPlainText -Force)\\\\\"\"`\n  }).join(\"\\n\");  // Aqui, usamos .join() para unir os comandos em uma única string, com cada comando em uma nova linha.\n\n  // Retornar os comandos SSH gerados como uma string\n  return {\n    json: {\n      comandosSSH\n    }\n  };\n} else {\n  throw new Error(\"A entrada não contém usuários válidos.\");\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        620
      ],
      "id": "06621cf9-e8a4-4f7a-8b44-458ef0ddcbff",
      "name": "Cria Usuário AD"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "={{ $json.comandosSSH }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1080,
        620
      ],
      "id": "5f62e51d-90c1-42f4-a545-04a67e3a895b",
      "name": "Execute Command",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Gaspar Parametros').item.json.CARGO }}",
                    "rightValue": "AGENTE DE VENDAS",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AGENTE DE VENDAS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b557084a-1718-480d-b6c2-93a0cedbb4de",
                    "leftValue": "={{ $('Gaspar Parametros').item.json.CARGO }}",
                    "rightValue": "=COORDENADOR",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "COORDENADOR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c82f008-db6e-4941-9603-dd2232f598ec",
                    "leftValue": "={{ $('Gaspar Parametros').item.json.CARGO }}",
                    "rightValue": "GERENTE",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GERENTE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5f223b4e-932d-4ac4-894a-4e0c9e631378",
                    "leftValue": "={{ $('Gaspar Parametros').item.json.CARGO }}",
                    "rightValue": "LIDER",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LIDER"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1880,
        520
      ],
      "id": "f741a623-fa89-4130-852d-67e787a0ccf0",
      "name": "GASPAR1"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1700,
        540
      ],
      "id": "4e1913dc-bf17-4c55-a2f0-9ef745a33aa7",
      "name": "Merge2"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_PrintScreen_Operacao', 'G_PLA_AdmLocal_Comercial', 'G_MDG_Comercial_R', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_ProxyComercial', 'G_MDG_Comercial_W'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2160,
        60
      ],
      "id": "e5da8091-0775-4172-8c7a-fd59a1486c87",
      "name": "adicionaGruposADAgente"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('GASPAR1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Gerentes_Comerciais,OU=Usuarios,OU=Comercial,OU=05_GASPAR_COS,DC=colaborador,DC=local'\\\"\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2340,
        400
      ],
      "id": "f1a5a511-ac90-437a-b2b3-1115a36e1d7f",
      "name": "Move Usuario AD Gerente",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('GASPAR1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Coordenadores,OU=Usuarios,OU=Comercial,OU=05_GASPAR_COS,DC=colaborador,DC=local'\\\"\" "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2340,
        240
      ],
      "id": "df968d8e-8f84-4617-b356-3b07c25ac5f1",
      "name": "Move Usuario AD Coordenador",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('GASPAR1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Agente_de_Vendas,OU=Usuarios,OU=Comercial,OU=05_GASPAR_COS,DC=colaborador,DC=local'\\\"\" "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2340,
        60
      ],
      "id": "e13b9706-a4b2-4827-8a5b-8de898275223",
      "name": "Move Usuario AD Agente",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "jsCode": "// Recuperar todos os dados de entrada\nconst usuarios = $input.all(); \n\n// Definindo a OU do Active Directory\nconst caminhoOU = \"OU=Usuarios,OU=Homologacao,OU=01_MDG_PLN,DC=colaborador,DC=local\";\n\n// Recuperar a senha padrão do nó \"SenhaPadrao\"\nconst senha = $input.first().json.senhaPadrao;\n\n// Validar se a senha padrão foi recuperada corretamente\nif (!senha) {\n  throw new Error(\"A senha padrão não foi encontrada no nó 'SenhaPadrao'. Verifique o nó.\");\n}\n\n// Verificar se os dados de entrada são válidos\nif (Array.isArray(usuarios) && usuarios.length > 0) {\n  // Processar cada usuário\n  let comandosSSH = usuarios.map(item => {\n    const usuario = item.json;\n    const nomeCompleto = usuario[\"NOME\"]?.trim() || \"NOME NÃO DEFINIDO\";\n    const sobrenome = usuario[\"Last Name\"]?.trim() || \"SOBRENOME NÃO DEFINIDO\";\n    const nome = usuario[\"First Name\"]?.trim() || \"NOME NÃO DEFINIDO\";\n    const usuarioNome = usuario[\"USUARIO\"]?.trim() || \"usuario.nao.definido\";\n    const cpf = usuario[\"CPF\"]?.trim() || \"CPF NÃO DEFINIDO\";\n    const empresa = usuario[\"EMPRESA\"]?.trim() || \"EMPRESA NÃO DEFINIDA\";\n    const telefone = usuario[\"TELEFONE\"]?.trim() || usuario[\"TELEFONE\"]?.trim() || \"TELEFONE NÃO DEFINIDO\";\n    const cargo = usuario[\"CARGO\"]?.trim() || \"CARGO NÃO DEFINIDO\";\n    const mail = usuario[\"Email\"]?.trim() || \"CARGO NÃO DEFINIDO\";\n\n    // Validação mínima para evitar erros graves\n    if (!usuarioNome || !nomeCompleto) {\n      throw new Error(`Usuário inválido: Nome completo ou nome de usuário ausente. Dados: ${JSON.stringify(usuario)}`);\n    }\n\n    // Gerar o comando SSH para criar o usuário no AD\n    return `sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\\\"New-ADUser -SamAccountName '${usuarioNome}' -UserPrincipalName '${usuarioNome}@colaborador.local' -Name '${nomeCompleto}' -GivenName '${nome.toUpperCase()}' -Surname '${sobrenome.toUpperCase()}' -DisplayName '${nomeCompleto}' -Description '${cpf}' -OfficePhone '${telefone}' -Mobile '${telefone}' -Title '${cargo}' -Company '${empresa}' -EmailAddress '${mail}' -HomeDirectory '\\\\\\\\\\\\\\\\srv01\\\\\\\\users$\\\\\\\\${usuarioNome}' -HomeDrive 'U' -PasswordNeverExpires:\\\\$false -ChangePasswordAtLogon \\\\$true -Enabled \\\\$true -Path '${caminhoOU}' -AccountPassword (ConvertTo-SecureString '${senha}' -AsPlainText -Force)\\\\\"\"`\n  }).join(\"\\n\");  // Aqui, usamos .join() para unir os comandos em uma única string, com cada comando em uma nova linha.\n\n  // Retornar os comandos SSH gerados como uma string\n  return {\n    json: {\n      comandosSSH\n    }\n  };\n} else {\n  throw new Error(\"A entrada não contém usuários válidos.\");\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        1360
      ],
      "id": "ecd825f5-5026-402b-b172-a90766e1ab3e",
      "name": "Cria Usuário AD1"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "={{ $json.comandosSSH }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1120,
        1360
      ],
      "id": "cbb34c8c-7a9f-4de4-9d43-270d1c524cb6",
      "name": "Execute Command2",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1760,
        1280
      ],
      "id": "5c8b8532-cfb1-4707-8fbf-34f233226ebc",
      "name": "Merge4"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('ACG1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Gerente,OU=Precatorio,OU=01_MDG_PLN,DC=colaborador,DC=local'\\\"\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2340,
        1040
      ],
      "id": "0d9bea6d-0b3f-414b-966f-f32c44f33c41",
      "name": "Move Usuario AD Gerente1",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('ACG1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Agentes,OU=Precatorio,OU=01_MDG_PLN,DC=colaborador,DC=local'\\\"\" "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2340,
        900
      ],
      "id": "66d132bd-8825-44dc-9b24-d6f348327216",
      "name": "Move Usuario AD Agente1",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.CARGO }}",
                    "rightValue": "CONSULTOR DE NEGOCIOS JUNIOR",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CONSULTOR DE NEGOCIOS JUNIOR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b557084a-1718-480d-b6c2-93a0cedbb4de",
                    "leftValue": "={{ $json.CARGO }}",
                    "rightValue": "=BKO PRECATORIO",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BKO PRECATORIO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c82f008-db6e-4941-9603-dd2232f598ec",
                    "leftValue": "={{ $json.CARGO }}",
                    "rightValue": "GERENTE PRECATORIO",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GERENTE PRECATORIO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "beb4e5f3-aed8-4d84-a2a6-382e0aa2f193",
                    "leftValue": "={{ $json.CARGO }}",
                    "rightValue": "BKO COMERCIAL",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BKO COMERCIAL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "913a4798-7b45-42e9-a9ce-fa8446a06de0",
                    "leftValue": "={{ $json.CARGO }}",
                    "rightValue": "AGENTE DE VENDAS",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AGENTE DE VENDAS "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5f1e7515-677c-4433-a266-97342dea0aca",
                    "leftValue": "={{ $json.CARGO }}",
                    "rightValue": "LIDER COMERCIAL",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LIDER COMERCIAL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0d9f492a-8768-43ec-bb78-0220184c1f43",
                    "leftValue": "={{ $json.CARGO }}",
                    "rightValue": "COORDENADOR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "COORDENADOR"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1920,
        1220
      ],
      "id": "2f4791ff-bcb6-45e0-967b-04c93f6d4bce",
      "name": "ACG1"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_PRECILUS_USER', 'G_MDG_Impressora_TI', 'G_MDG_Impressora_Precatorio', 'G_PLA_AdmLocal_Comercial', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_ProxyPrecatorio', 'PLA_AdmLocal_Administrativo', 'G_MDG_Precatorio'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2160,
        900
      ],
      "id": "fda1ea87-5b63-479b-a2df-eb45f5d45db5",
      "name": "ConsultorGruposAdd"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_BaseBKO_W', 'G_MDG_Docs_Adm_Precatorio_W', 'G_MDG_PRECILUS_COORD', 'G_MDG_FERIAS_W', 'G_MDG_AutenticacaoGLPI', 'G_MDG_PbiPrecatorio_W', 'G_MDG_PrintScreen_Gerencial', 'G_MDG_Impressora_TI', 'G_MDG_Impressora_Precatorio', 'G_MDG_AUTENTICACAO_VPN', 'G_MDG_Marketing_R', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_ProxyPrecatorio', 'G_MDG_Impressora_RH', 'PLA_AdmLocal_Administrativo', 'G_MDG_Coord_Precatorio', 'G_MDG_Precatorio'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2160,
        1040
      ],
      "id": "45ee6d10-f6dc-45f8-8a32-d0c5a3676f2a",
      "name": "GerentePrecaGruposAdd"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_FERIAS_W', 'G_MDG_FERIAS_R', 'G_MDG_GLPI_Lideres', 'G_MDG_AutenticacaoGLPI', 'G_CATELI_ImpressoraComercial', 'G_MDG_ProxyCoord', 'G_MDG_Impressora_Financeiro', 'G_MDG_Monitoria_R', 'G_MDG_PrintScreen_Coordenadores', 'G_PLA_AdmLocal_Comercial', 'G_MDG_Coordenador_R', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_Impressoras_BKO', 'G_PLA_AdmLocal_Administrativo', 'G_MDG_Coordenador_W', 'G_MDG_Comercial_W'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2160,
        240
      ],
      "id": "bcd22301-f47e-42cc-8740-e063eb369514",
      "name": "CoodernadorGruposAD"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_AcompanhamentoGastosFinanceiro', 'G_MDG_AcompanhamentoFinanceiroGaspar_R', 'G_MDG_TABUARGULUS_USER', 'G_MDG_FERIAS_W', 'G_LMP_ImpressoraComercial', 'G_MDG_AutenticacaoGLPI', 'G_MDG_BaseMacica_W', 'G_MDG_BaseMacica_R', 'G_MDG_ProxyGerentes', 'G_MDG_Mailing_W', 'G_CATELI_Diretoria_W', 'G_CATELI_FechamentoCosmopolis_W', 'G_CATELI_ImpressoraComercial', 'G_CATELI_Mailing', 'G_MDG_PermiteRemoviveis', 'G_MDG_Fechamento_W', 'G_MDG_PrintScreen_Gerentes', 'G_MDG_Evidencias_Operadores', 'G_MDG_BD_BKO', 'G_MDG_Impressora_Financeiro', 'G_MDG_TELEVISAO_W', 'G_MDG_AUTENTICACAO_VPN', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_Impressoras_BKO', 'G_PLA_AdmLocal_Administrativo', 'G_MDG_Remoto', 'G_MDG_Gerente', 'G_MDG_BKO_W'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2160,
        400
      ],
      "id": "b3e2ddbe-55eb-4092-bcb4-0501c85ed77d",
      "name": "GerenteGruposAD"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('GASPAR1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Lideres_de_Vendas,OU=Usuarios,OU=Comercial,OU=05_GASPAR_COS,DC=colaborador,DC=local'\\\"\" "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2340,
        540
      ],
      "id": "d34950a2-2863-4fd0-a3e3-d8a552dcca11",
      "name": "Move Usuario AD Agente2",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_FERIAS_W', 'G_MDG_FERIAS_R', 'G_MDG_AutenticacaoGLPI', 'G_CATELI_ImpressoraComercial', 'G_MDG_ProxyCoord', 'G_MDG_PrintScreen_Coordenadores', 'G_MDG_Lideres_W', 'G_MDG_Lideres_R', 'G_PLA_AdmLocal_Comercial', 'G_MDG_AUTENTICACAO_VPN', 'G_MDG_Comercial_R', 'G_MDG_RADIUS_AUTENTICACAO'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2160,
        540
      ],
      "id": "a388d7af-ddd9-44c2-be5a-965563c20dbe",
      "name": "LiderGruposAD"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_AdmLocal_Comercial', 'G_MDG_Comercial_R', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_ProxyBKO', 'G_MDG_Impressora_BKO_Comercial', 'G_PLA_AdmLocal_Administrativo', 'G_MDG_BKO_W'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2160,
        1200
      ],
      "id": "ddf9c38f-ab79-4a96-9eef-6de40ba856dd",
      "name": "BKOcomercialGruposAD"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('ACG1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Usuarios,OU=Backoffice,OU=01_MDG_PLN,DC=colaborador,DC=local'\\\"\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2340,
        1200
      ],
      "id": "614650f2-ff90-4a9e-bd1d-454d08eac9d6",
      "name": "Move Usuario AD",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('ACG1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Agentes_de_Vendas,OU=Usuarios,OU=Comercial,OU=01_MDG_PLN,DC=colaborador,DC=local'\\\"\" "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2340,
        1360
      ],
      "id": "832eb3c9-7b55-41df-a8b7-52be3c09a3c9",
      "name": "Move Usuario AD Agente3",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_PrintScreen_Operacao', 'G_PLA_AdmLocal_Comercial', 'G_MDG_Comercial_R', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_ProxyComercial', 'G_MDG_Comercial_W'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2160,
        1360
      ],
      "id": "00df4fbc-3427-4647-9069-75fba1c47095",
      "name": "AgenteComercialGruposAD"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('ACG1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Lideres_de_Vendas,OU=Usuarios,OU=Comercial,OU=01_MDG_PLN,DC=colaborador,DC=local'\\\"\" "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2340,
        1520
      ],
      "id": "88b53559-ca64-4f5b-96fa-aa0ae81e8f08",
      "name": "Move Usuario AD Agente4",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_Proxy_Lideres', 'G_MDG_AutenticacaoGLPI', 'G_MDG_PrintScreen_Operacao', 'G_PLA_AdmLocal_Comercial', 'G_MDG_Comercial_R', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_Comercial_W'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2160,
        1520
      ],
      "id": "5c62e262-7923-40d8-8ffa-e0ebb163ab10",
      "name": "LiderGruposAD1"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('ACG1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Coordenadores,OU=Usuarios,OU=Comercial,OU=01_MDG_PLN,DC=colaborador,DC=local'\\\"\" "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2340,
        1680
      ],
      "id": "b86c8a6e-0a20-404b-a405-0b16f4a1cd95",
      "name": "Move Usuario AD Agente5",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_AutenticacaoGLPI', 'G_MDG_ProxyCoord', 'G_MDG_Impressora_Financeiro', 'G_MDG_PrintScreen_Coordenadores', 'G_PLA_AdmLocal_Comercial', 'G_MDG_Coordenador_R', 'G_MDG_Comercial_R', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_Coordenador_W', 'G_MDG_Comercial_W'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2160,
        1680
      ],
      "id": "5370a875-2cd2-4dde-ae20-000010851739",
      "name": "CoordenadorComercialGruposAD2"
    },
    {
      "parameters": {
        "jsCode": "// Recuperar todos os dados de entrada\nconst usuarios = $input.all(); \n\n// Definindo a OU do Active Directory\nconst caminhoOU = \"OU=Usuarios,OU=Homologacao,OU=01_MDG_PLN,DC=colaborador,DC=local\";\n\n// Recuperar a senha padrão do nó \"SenhaPadrao\"\nconst senha = $input.first().json.senhaPadrao;\n\n// Validar se a senha padrão foi recuperada corretamente\nif (!senha) {\n  throw new Error(\"A senha padrão não foi encontrada no nó 'SenhaPadrao'. Verifique o nó.\");\n}\n\n// Verificar se os dados de entrada são válidos\nif (Array.isArray(usuarios) && usuarios.length > 0) {\n  // Processar cada usuário\n  let comandosSSH = usuarios.map(item => {\n    const usuario = item.json;\n    const nomeCompleto = usuario[\"NOME\"]?.trim() || \"NOME NÃO DEFINIDO\";\n    const sobrenome = usuario[\"Last Name\"]?.trim() || \"SOBRENOME NÃO DEFINIDO\";\n    const nome = usuario[\"First Name\"]?.trim() || \"NOME NÃO DEFINIDO\";\n    const usuarioNome = usuario[\"USUARIO\"]?.trim() || \"usuario.nao.definido\";\n    const cpf = usuario[\"CPF\"]?.trim() || \"CPF NÃO DEFINIDO\";\n    const empresa = usuario[\"EMPRESA\"]?.trim() || \"EMPRESA NÃO DEFINIDA\";\n    const telefone = usuario[\"TELEFONE\"]?.trim() || usuario[\"TELEFONE\"]?.trim() || \"TELEFONE NÃO DEFINIDO\";\n    const cargo = usuario[\"CARGO\"]?.trim() || \"CARGO NÃO DEFINIDO\";\n    const mail = usuario[\"Email\"]?.trim() || \"CARGO NÃO DEFINIDO\";\n\n    // Validação mínima para evitar erros graves\n    if (!usuarioNome || !nomeCompleto) {\n      throw new Error(`Usuário inválido: Nome completo ou nome de usuário ausente. Dados: ${JSON.stringify(usuario)}`);\n    }\n\n    // Gerar o comando SSH para criar o usuário no AD\n    return `sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\\\"New-ADUser -SamAccountName '${usuarioNome}' -UserPrincipalName '${usuarioNome}@colaborador.local' -Name '${nomeCompleto}' -GivenName '${nome.toUpperCase()}' -Surname '${sobrenome.toUpperCase()}' -DisplayName '${nomeCompleto}' -Description '${cpf}' -OfficePhone '${telefone}' -Mobile '${telefone}' -Title '${cargo}' -Company '${empresa}' -EmailAddress '${mail}' -HomeDirectory '\\\\\\\\\\\\\\\\srv01\\\\\\\\users$\\\\\\\\${usuarioNome}' -HomeDrive 'U' -PasswordNeverExpires:\\\\$false -ChangePasswordAtLogon \\\\$true -Enabled \\\\$true -Path '${caminhoOU}' -AccountPassword (ConvertTo-SecureString '${senha}' -AsPlainText -Force)\\\\\"\"`\n  }).join(\"\\n\");  // Aqui, usamos .join() para unir os comandos em uma única string, com cada comando em uma nova linha.\n\n  // Retornar os comandos SSH gerados como uma string\n  return {\n    json: {\n      comandosSSH\n    }\n  };\n} else {\n  throw new Error(\"A entrada não contém usuários válidos.\");\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        2480
      ],
      "id": "66b51a00-358e-4d29-95b6-43de8db5877c",
      "name": "Cria Usuário AD2"
    },
    {
      "parameters": {
        "command": "={{ $json.comandosSSH }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1140,
        2480
      ],
      "id": "73aecd72-b02a-4b43-8f55-d2fe3b1b4f72",
      "name": "Execute Command3",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1760,
        2360
      ],
      "id": "1a1a065d-4441-4ac8-a7ac-6ad55620ae95",
      "name": "Merge6"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('MDG1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Agentes_de_Vendas,OU=Usuarios,OU=Comercial,OU=01_MDG_PLN,DC=colaborador,DC=local'\\\"\" "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2340,
        2220
      ],
      "id": "b183a327-4048-4fb3-bec2-0076b05e0341",
      "name": "Move Usuario AD Agente7",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_PrintScreen_Operacao', 'G_PLA_AdmLocal_Comercial', 'G_MDG_Comercial_R', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_ProxyComercial', 'G_MDG_Comercial_W'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2160,
        2220
      ],
      "id": "8edb5005-d99b-489a-a41d-34510d1e2f56",
      "name": "AgenteComercialGruposAD1"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('MDG1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Coordenadores,OU=Usuarios,OU=Comercial,OU=01_MDG_PLN,DC=colaborador,DC=local'\\\"\" "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2340,
        2560
      ],
      "id": "5e5a94f5-4346-48f7-9039-5769602e2c69",
      "name": "Move Usuario AD Agente9",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_AutenticacaoGLPI', 'G_MDG_ProxyCoord', 'G_MDG_Impressora_Financeiro', 'G_MDG_PrintScreen_Coordenadores', 'G_PLA_AdmLocal_Comercial', 'G_MDG_Coordenador_R', 'G_MDG_Comercial_R', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_Coordenador_W', 'G_MDG_Comercial_W'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2160,
        2560
      ],
      "id": "bd74dd4d-4157-4fc5-abdd-e7b6ab80ad9d",
      "name": "CoordenadorComercialGruposAD"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_AdmLocal_Comercial', 'G_MDG_Comercial_R', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_ProxyBKO', 'G_MDG_Impressora_BKO_Comercial', 'G_PLA_AdmLocal_Administrativo', 'G_MDG_BKO_W'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2160,
        2060
      ],
      "id": "a48e6bb6-22a2-4e85-8003-a1141b3d9ca6",
      "name": "BKOcomercialGruposAD1"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('MDG1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Usuarios,OU=Backoffice,OU=01_MDG_PLN,DC=colaborador,DC=local'\\\"\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2340,
        2060
      ],
      "id": "56153953-4d8d-4ede-a65f-db29b061c1c8",
      "name": "Move Usuario AD1",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('MDG1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Lideres_de_Vendas,OU=Usuarios,OU=Comercial,OU=01_MDG_PLN,DC=colaborador,DC=local'\\\"\" "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2340,
        2400
      ],
      "id": "711a5b79-502b-459a-ab1a-9c36fc7bcb21",
      "name": "Move Usuario AD Agente6",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_Proxy_Lideres', 'G_MDG_AutenticacaoGLPI', 'G_MDG_PrintScreen_Operacao', 'G_PLA_AdmLocal_Comercial', 'G_MDG_Comercial_R', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_Comercial_W'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2160,
        2400
      ],
      "id": "70539b5a-05cf-4eda-b663-c7daa51e2946",
      "name": "LiderGruposAD3"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_AdmLocal_Comercial', 'G_MDG_Comercial_R', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_ProxyBKO', 'G_MDG_Impressora_BKO_Comercial', 'G_PLA_AdmLocal_Administrativo', 'G_MDG_BKO_W'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2160,
        2740
      ],
      "id": "dc1687cb-01bc-4cd2-af28-8e53da77e643",
      "name": "BKOcomercialGruposAD2"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('MDG1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Usuarios,OU=Backoffice,OU=01_MDG_PLN,DC=colaborador,DC=local'\\\"\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2340,
        2740
      ],
      "id": "10ff269c-f685-4b99-aaed-fb1afb4a5976",
      "name": "Move Usuario AD2",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "content": "## USUARIO AD\nCRIA , ADICIONA GRUPOS E MOVE PARA OU",
        "height": 3120,
        "width": 1880,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        600,
        0
      ],
      "typeVersion": 1,
      "id": "f57fa08b-fbd3-45d9-aefc-a098ff33025e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "command": "={{ $json.comando }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1140,
        2720
      ],
      "id": "4a44815c-feaa-488a-89fa-3ea39050e5c1",
      "name": "Execute Command4"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "={{ $json.comandosSSH }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1780,
        2720
      ],
      "id": "ea9688b6-59aa-4ac2-8700-5ea6e2eba0ad",
      "name": "Execute Command6"
    },
    {
      "parameters": {
        "fieldToSplitOut": "comandosSSH",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1580,
        2720
      ],
      "id": "ffb69ca2-609b-49f1-b0fd-db89e63e7f9e",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "beb4e5f3-aed8-4d84-a2a6-382e0aa2f193",
                    "leftValue": "={{ $('MDG Parametros').item.json.CARGO }}",
                    "rightValue": "BKO COMERCIAL",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BKO COMERCIAL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "913a4798-7b45-42e9-a9ce-fa8446a06de0",
                    "leftValue": "={{ $('MDG Parametros').item.json.CARGO }}",
                    "rightValue": "AGENTE DE VENDAS",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AGENTE DE VENDAS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5f1e7515-677c-4433-a266-97342dea0aca",
                    "leftValue": "={{ $('MDG Parametros').item.json.CARGO }}",
                    "rightValue": "LIDER COMERCIAL",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LIDER COMERCIAL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0d9f492a-8768-43ec-bb78-0220184c1f43",
                    "leftValue": "={{ $('MDG Parametros').item.json.CARGO }}",
                    "rightValue": "COORDENADOR",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "COORDENADOR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "33c71223-1ce8-4dc7-9d72-7b6042eb9cfd",
                    "leftValue": "={{ $('MDG Parametros').item.json.CARGO }}",
                    "rightValue": "ASSISTENTE OPERACIONAL",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ASSISTENTE OPERACIONAL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1980,
        2280
      ],
      "id": "c6c2ed3e-c94c-4638-85af-0cce7b153f5d",
      "name": "MDG1"
    },
    {
      "parameters": {
        "command": "={{ $json.comando }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1120,
        1560
      ],
      "id": "f837b97b-34e0-45a1-9b88-7a0afeac9d4d",
      "name": "Execute Command7"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "={{ $json.comandosSSH }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1680,
        1560
      ],
      "id": "7834944e-5801-44c6-883a-d5f22f86dcfd",
      "name": "Execute Command8"
    },
    {
      "parameters": {
        "fieldToSplitOut": "comandosSSH",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1500,
        1560
      ],
      "id": "6e3136a8-54cb-4105-8981-7c4ed51202b9",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "jsCode": "// Recuperar todos os dados de entrada\nconst usuarios = $('MDG Parametros').all();\n\n// Verificar se os dados de entrada são válidos\nif (!Array.isArray(usuarios) || usuarios.length === 0) {\n  throw new Error(\"A entrada não contém usuários válidos.\");\n}\n\n// Processar cada usuário\nconst comandosSSH = usuarios.map(item => {\n  const usuario = item.json;\n\n  // Recuperar campos do usuário com validação\n  const nomeCompleto = usuario[\"NOME\"]?.trim() || \"NOME NÃO DEFINIDO\";\n  const sobrenome = usuario[\"Last Name\"]?.trim() || \"SOBRENOME NÃO DEFINIDO\";\n  const nome = usuario[\"First Name\"]?.trim() || \"NOME NÃO DEFINIDO\";\n  const usuarioNome = usuario[\"USUARIO\"]?.trim() || \"usuario.nao.definido\";\n  const cpf = usuario[\"CPF\"]?.trim() || \"CPF NÃO DEFINIDO\";\n  const telefone = usuario[\"TELEFONE\"]?.trim() || \"TELEFONE NÃO DEFINIDO\";\n  const cargo = usuario[\"CARGO\"]?.trim() || \"CARGO NÃO DEFINIDO\";\n  const mail = usuario[\"Email\"]?.trim() || \"EMAIL NÃO DEFINIDO\";\n  const empresa = usuario[\"EMPRESA\"]?.trim() || \"EMPRESA NÃO DEFINIDA\";\n  const homeDirectory = `\\\\\\\\srv01\\\\users$\\\\${usuarioNome}`; // Diretório do usuário\n  const homeDrive = \"U\"; // Unidade atribuída ao diretório do usuário\n\n  // Validação mínima para evitar erros graves\n  if (!usuarioNome || !nomeCompleto) {\n    throw new Error(`Usuário inválido: Nome completo ou nome de usuário ausente. Dados: ${JSON.stringify(usuario)}`);\n  }\n\n  // Gerar o comando SSH para configurar as propriedades do usuário no AD\n  return `sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\\\"Set-ADUser -Identity '${usuarioNome}' -GivenName '${nome.toUpperCase()}' -Surname '${sobrenome.toUpperCase()}' -DisplayName '${nomeCompleto}' -Description '${cpf}' -OfficePhone '${telefone}' -Mobile '${telefone}' -Title '${cargo}' -Company '${empresa}' -EmailAddress '${mail}' -HomeDirectory '${homeDirectory}' -HomeDrive '${homeDrive}'\\\\\"\"`\n});\n\n// Retornar os comandos SSH gerados como entradas separadas no array\nreturn comandosSSH.map(comando => ({ json: { comando } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        2720
      ],
      "id": "01319d43-5564-44c8-ac43-dee283a539d7",
      "name": "ATUALIZA USUARIO MDG"
    },
    {
      "parameters": {
        "jsCode": "// Recuperar todos os dados de usuários\nconst usuarios = $('MDG Parametros').all(); // Vai pegar todos os itens no nó Edit Fields5\nconst senhaPadrao = $('MDG Parametros').first().json.senhaPadrao; // A senha padrão, supondo que seja única\n\n// Verificar se há usuários\nif (!Array.isArray(usuarios) || usuarios.length === 0) {\n  throw new Error(\"Não há usuários válidos no nó Edit Fields5.\");\n}\n\n// Gerar comandos SSH para cada usuário\nconst comandosSSH = usuarios.map(usuario => {\n  const usuarioNome = usuario.json.USUARIO; // Acessando o usuário\n  if (!usuarioNome) {\n    throw new Error(\"Usuário não encontrado em um dos itens.\");\n  }\n\n  // Gerar o comando SSH com PowerShell\n  return `sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\\\"Set-ADAccountPassword -Identity '${usuarioNome}' -NewPassword (ConvertTo-SecureString '${senhaPadrao}' -AsPlainText -Force); Set-ADUser -Identity '${usuarioNome}' -ChangePasswordAtLogon \\$true; Enable-ADAccount -Identity '${usuarioNome}'\\\\\"\"`;\n});\n\n// Retornar os comandos gerados\nreturn {\n  json: {\n    comandosSSH\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        2720
      ],
      "id": "17ddcb64-c837-485f-98e9-94304c10e9a7",
      "name": "ATIVA USUARIO MDG"
    },
    {
      "parameters": {
        "jsCode": "// Recuperar todos os dados de usuários\nconst usuarios = $('ACG Parametros').all(); // Vai pegar todos os itens no nó Edit Fields5\nconst senhaPadrao = $('ACG Parametros').first().json.senhaPadao; // A senha padrão, supondo que seja única\n\n// Verificar se há usuários\nif (!Array.isArray(usuarios) || usuarios.length === 0) {\n  throw new Error(\"Não há usuários válidos no nó Edit Fields5.\");\n}\n\n// Gerar comandos SSH para cada usuário\nconst comandosSSH = usuarios.map(usuario => {\n  const usuarioNome = usuario.json.USUARIO; // Acessando o usuário\n  if (!usuarioNome) {\n    throw new Error(\"Usuário não encontrado em um dos itens.\");\n  }\n\n  // Gerar o comando SSH com PowerShell\n  return `sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\\\"Set-ADAccountPassword -Identity '${usuarioNome}' -NewPassword (ConvertTo-SecureString '${senhaPadrao}' -AsPlainText -Force); Set-ADUser -Identity '${usuarioNome}' -ChangePasswordAtLogon \\$true; Enable-ADAccount -Identity '${usuarioNome}'\\\\\"\"`;\n});\n\n// Retornar os comandos gerados\nreturn {\n  json: {\n    comandosSSH\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        1560
      ],
      "id": "8d2073a8-18c3-45d4-9cf8-2c57bae7b5ee",
      "name": "ATIVA USURIO ACG"
    },
    {
      "parameters": {
        "jsCode": "// Recuperar todos os dados de entrada\nconst usuarios = $('ACG Parametros').all();\n\n// Verificar se os dados de entrada são válidos\nif (!Array.isArray(usuarios) || usuarios.length === 0) {\n  throw new Error(\"A entrada não contém usuários válidos.\");\n}\n\n// Processar cada usuário\nconst comandosSSH = usuarios.map(item => {\n  const usuario = item.json;\n\n  // Recuperar campos do usuário com validação\n  const nomeCompleto = usuario[\"NOME\"]?.trim() || \"NOME NÃO DEFINIDO\";\n  const sobrenome = usuario[\"Last Name\"]?.trim() || \"SOBRENOME NÃO DEFINIDO\";\n  const nome = usuario[\"First Name\"]?.trim() || \"NOME NÃO DEFINIDO\";\n  const usuarioNome = usuario[\"USUARIO\"]?.trim() || \"usuario.nao.definido\";\n  const cpf = usuario[\"CPF\"]?.trim() || \"CPF NÃO DEFINIDO\";\n  const telefone = usuario[\"TELEFONE\"]?.trim() || \"TELEFONE NÃO DEFINIDO\";\n  const cargo = usuario[\"CARGO\"]?.trim() || \"CARGO NÃO DEFINIDO\";\n  const mail = usuario[\"Email\"]?.trim() || \"EMAIL NÃO DEFINIDO\";\n  const empresa = usuario[\"EMPRESA\"]?.trim() || \"EMPRESA NÃO DEFINIDA\";\n  const homeDirectory = `\\\\\\\\srv01\\\\users$\\\\${usuarioNome}`; // Diretório do usuário\n  const homeDrive = \"U\"; // Unidade atribuída ao diretório do usuário\n\n  // Validação mínima para evitar erros graves\n  if (!usuarioNome || !nomeCompleto) {\n    throw new Error(`Usuário inválido: Nome completo ou nome de usuário ausente. Dados: ${JSON.stringify(usuario)}`);\n  }\n\n  // Gerar o comando SSH para configurar as propriedades do usuário no AD\n  return `sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\\\"Set-ADUser -Identity '${usuarioNome}' -GivenName '${nome.toUpperCase()}' -Surname '${sobrenome.toUpperCase()}' -DisplayName '${nomeCompleto}' -Description '${cpf}' -OfficePhone '${telefone}' -Mobile '${telefone}' -Title '${cargo}' -Company '${empresa}' -EmailAddress '${mail}' -HomeDirectory '${homeDirectory}' -HomeDrive '${homeDrive}'\\\\\"\"`\n});\n\n// Retornar os comandos SSH gerados como entradas separadas no array\nreturn comandosSSH.map(comando => ({ json: { comando } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        1560
      ],
      "id": "1eccbbb1-0fe4-4501-b5a5-feb312e17e88",
      "name": "ATUALIZA USUARIO MDG1"
    },
    {
      "parameters": {
        "command": "={{ $json.comando }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1040,
        840
      ],
      "id": "4cb91a16-840c-4ca2-acb0-a59c124753c7",
      "name": "Execute Command9"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "={{ $json.comandosSSH }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1620,
        840
      ],
      "id": "4a6b5f45-f6b2-488c-80b7-724c1bd2e4ee",
      "name": "Execute Command10"
    },
    {
      "parameters": {
        "fieldToSplitOut": "comandosSSH",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1440,
        840
      ],
      "id": "125670c1-faa7-4ef9-8a6c-2fff398d48bb",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "jsCode": "// Recuperar todos os dados de entrada\nconst usuarios = $('Gaspar Parametros').all();\n\n// Verificar se os dados de entrada são válidos\nif (!Array.isArray(usuarios) || usuarios.length === 0) {\n  throw new Error(\"A entrada não contém usuários válidos.\");\n}\n\n// Processar cada usuário\nconst comandosSSH = usuarios.map(item => {\n  const usuario = item.json;\n\n  // Recuperar campos do usuário com validação\n  const nomeCompleto = usuario[\"NOME\"]?.trim() || \"NOME NÃO DEFINIDO\";\n  const sobrenome = usuario[\"Last Name\"]?.trim() || \"SOBRENOME NÃO DEFINIDO\";\n  const nome = usuario[\"First Name\"]?.trim() || \"NOME NÃO DEFINIDO\";\n  const usuarioNome = usuario[\"USUARIO\"]?.trim() || \"usuario.nao.definido\";\n  const cpf = usuario[\"CPF\"]?.trim() || \"CPF NÃO DEFINIDO\";\n  const telefone = usuario[\"TELEFONE\"]?.trim() || \"TELEFONE NÃO DEFINIDO\";\n  const cargo = usuario[\"CARGO\"]?.trim() || \"CARGO NÃO DEFINIDO\";\n  const mail = usuario[\"Email\"]?.trim() || \"EMAIL NÃO DEFINIDO\";\n  const empresa = usuario[\"EMPRESA\"]?.trim() || \"EMPRESA NÃO DEFINIDA\";\n  const homeDirectory = `\\\\\\\\srv01\\\\users$\\\\${usuarioNome}`; // Diretório do usuário\n  const homeDrive = \"U\"; // Unidade atribuída ao diretório do usuário\n\n  // Validação mínima para evitar erros graves\n  if (!usuarioNome || !nomeCompleto) {\n    throw new Error(`Usuário inválido: Nome completo ou nome de usuário ausente. Dados: ${JSON.stringify(usuario)}`);\n  }\n\n  // Gerar o comando SSH para configurar as propriedades do usuário no AD\n  return `sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\\\"Set-ADUser -Identity '${usuarioNome}' -GivenName '${nome.toUpperCase()}' -Surname '${sobrenome.toUpperCase()}' -DisplayName '${nomeCompleto}' -Description '${cpf}' -OfficePhone '${telefone}' -Mobile '${telefone}' -Title '${cargo}' -Company '${empresa}' -EmailAddress '${mail}' -HomeDirectory '${homeDirectory}' -HomeDrive '${homeDrive}'\\\\\"\"`\n});\n\n// Retornar os comandos SSH gerados como entradas separadas no array\nreturn comandosSSH.map(comando => ({ json: { comando } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        840
      ],
      "id": "6563ac46-a54e-42c5-bc8a-dbbb096a62c8",
      "name": "ATUALIZA USUARIO GASPAR"
    },
    {
      "parameters": {
        "jsCode": "// Recuperar todos os dados de usuários\nconst usuarios = $('Gaspar Parametros').all(); // Vai pegar todos os itens no nó Edit Fields5\nconst senhaPadrao = $('Gaspar Parametros').first().json.senhaPadrao; // A senha padrão, supondo que seja única\n\n// Verificar se há usuários\nif (!Array.isArray(usuarios) || usuarios.length === 0) {\n  throw new Error(\"Não há usuários válidos no nó Edit Fields5.\");\n}\n\n// Gerar comandos SSH para cada usuário\nconst comandosSSH = usuarios.map(usuario => {\n  const usuarioNome = usuario.json.USUARIO; // Acessando o usuário\n  if (!usuarioNome) {\n    throw new Error(\"Usuário não encontrado em um dos itens.\");\n  }\n\n  // Gerar o comando SSH com PowerShell\n  return `sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\\\"Set-ADAccountPassword -Identity '${usuarioNome}' -NewPassword (ConvertTo-SecureString '${senhaPadrao}' -AsPlainText -Force); Set-ADUser -Identity '${usuarioNome}' -ChangePasswordAtLogon \\$true; Enable-ADAccount -Identity '${usuarioNome}'\\\\\"\"`;\n});\n\n// Retornar os comandos gerados\nreturn {\n  json: {\n    comandosSSH\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        840
      ],
      "id": "43174109-dd49-4d7c-8649-538d0f746557",
      "name": "ATIVA USURIO GASPAR"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3680,
        1240
      ],
      "id": "3da978c6-473b-4931-8d78-ca71d86f8ed1",
      "name": "MergeFiim"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d05a74bd-33db-484e-a005-c1af571558f4",
              "name": "USUARIO",
              "value": "={{ $json.USUARIO }}",
              "type": "string"
            },
            {
              "id": "06f64543-d150-4ee1-95ba-5a8978202d27",
              "name": "NOME",
              "value": "={{ $json.NOME }}",
              "type": "string"
            },
            {
              "id": "29f2ebc2-ef50-4c86-8533-bfb206475a38",
              "name": "Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "58870c40-53dc-41d0-a7fc-dd7eb444e813",
              "name": "SenhaPadrao",
              "value": "={{ $json.senhaPadrao }}",
              "type": "string"
            },
            {
              "id": "8c784ac2-761c-4c0c-9dbf-a233d4a3cbef",
              "name": "ID",
              "value": "={{ $json.ID }}",
              "type": "string"
            },
            {
              "id": "9c802617-5232-4ae6-8e5b-408dcc25d44d",
              "name": "TITULO",
              "value": "={{ $json.TITULO }}",
              "type": "string"
            },
            {
              "id": "6852983a-58df-48c0-90ab-7650e04a6d54",
              "name": "URL",
              "value": "={{ $json.URL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3840,
        1240
      ],
      "id": "8b80b9b6-c22f-45ef-843e-1622644cbc34",
      "name": "DadosFim"
    },
    {
      "parameters": {
        "jsCode": "// Função para obter uma saudação aleatória\nfunction obterSaudacao() {\n    const saudacoes = [\n        \"Fala, time de TI! 💻 Vamos codar com estilo hoje!\",\n        \"E aí, equipe incrível! 🚀 Mais um dia para fazer acontecer!\",\n        \"Oi, time! 🌟 Vocês são a força que move a tecnologia!\",\n        \"Bora lá, pessoal! 🔧 Resolvendo problemas e criando soluções!\",\n        \"Vamos com tudo, equipe! 💪 A TI não para, e vocês são demais!\",\n        \"Saudações, mestres do código! 🧙‍♂️ Que a força esteja com vocês!\",\n        \"Salve, equipe de TI! 🎉 Mais um dia para brilhar nos projetos!\",\n        \"Fala, feras da tecnologia! 🌐 Juntos, dominamos o mundo digital!\",\n        \"Oi, time espetacular! 🌟 O show da TI não pode parar!\",\n        \"Bora lá, campeões da TI! 🏆 Hoje é mais um dia de conquistas!\"\n    ];\n    // Retorna uma saudação aleatória da lista\n    return saudacoes[Math.floor(Math.random() * saudacoes.length)];\n}\n\n// Função para obter a data atual formatada no padrão dd/mm/yyyy\nfunction obterDataAtual() {\n    const hoje = new Date();\n    const dia = String(hoje.getDate()).padStart(2, '0');\n    const mes = String(hoje.getMonth() + 1).padStart(2, '0');\n    const ano = hoje.getFullYear();\n    return `${dia}/${mes}/${ano}`;\n}\n\n// Inicializa a variável para armazenar todas as mensagens unificadas\nlet mensagemUnificada = \"\";\n\n// Cria um objeto para armazenar os dados agrupados por ID e TÍTULO\nlet chamadosAgrupados = {};\n\n// Itera sobre todos os dados do input\nfor (const item of $input.all()) {\n    // Obtém as informações principais do chamado\n    const id = item.json.ID || 'ID não informado';\n    const titulo = item.json.TITULO || 'Título não informado';\n    const nomeCompleto = item.json.NOME || 'Nome não informado';\n    const usuarioAd = item.json.USUARIO || 'Usuário não informado';\n    const email = item.json.Email || 'Email não informado';\n    const senhaPadrao = item.json.SenhaPadrao || 'Senha não informada';\n    const url = item.json.URL || 'URL não informada';\n\n    // Se o chamado ainda não foi adicionado ao agrupamento, inicializa a estrutura\n    if (!chamadosAgrupados[id]) {\n        chamadosAgrupados[id] = {\n            titulo: titulo,\n            url: url,\n            usuarios: []\n        };\n    }\n\n    // Adiciona os dados do usuário à lista de usuários para este chamado\n    chamadosAgrupados[id].usuarios.push({\n        nomeCompleto: nomeCompleto,\n        usuarioAd: usuarioAd,\n        email: email,\n        senhaPadrao: senhaPadrao\n    });\n}\n\n// Obtém a saudação aleatória\nconst saudacao = obterSaudacao();\n\n// Obtém a data atual\nconst dataAtual = obterDataAtual();\n\n// Agora cria a mensagem unificada\nfor (const id in chamadosAgrupados) {\n    const chamado = chamadosAgrupados[id];\n\n    // Adiciona a saudação e a introdução\n    mensagemUnificada += `${saudacao}\\n\\nAcessos criados!\\n\\n`;\n\n    // Adiciona a informação de ID, TÍTULO e Data de Criação no início\n    mensagemUnificada += `ID: ${id} - TITULO: ${chamado.titulo}\\n`;\n    mensagemUnificada += `Data de criação: ${dataAtual}\\n\\n`;\n\n    // Adiciona as informações de cada usuário relacionado a este chamado\n    for (const usuario of chamado.usuarios) {\n        mensagemUnificada += `*${usuario.nomeCompleto}*\\n`;\n        mensagemUnificada += `- USUARIO AD: ${usuario.usuarioAd}\\n`;\n        mensagemUnificada += `- SENHA: ${usuario.senhaPadrao}\\n`;\n        mensagemUnificada += `- EMAIL: ${usuario.email}\\n\\n`;\n    }\n\n    // Adiciona o link para conferir o chamado\n    mensagemUnificada += `Link do Chamado: ${chamado.url}\\n\\n`;\n}\n\n// Retorna a mensagem final no formato JSON contendo apenas uma string\nreturn [\n    {\n        json: {\n            textMessage: JSON.stringify(mensagemUnificada.trim())\n        }\n    }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4040,
        1240
      ],
      "id": "0834d3ff-34b4-4f22-829b-f3be3a5d693b",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolutionapi-dev.mdgintermediacoes.com.br/message/sendText/SUPORTE",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "s84p04mxmhmy429fysif1"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"delay\": 5, \"number\": \"5519999522207-1626738024@g.us\",\"textMessage\": {\"text\":{{ $json.textMessage.trim() }}}}",
        "options": {}
      },
      "id": "d5c6b933-944a-4721-969c-45e97a2ad508",
      "name": "InformTiAdmitidos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4220,
        1240
      ],
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4440,
        1240
      ],
      "id": "2c82c022-ce4e-49e6-af54-74a2e2db02d0",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a1e0911c-c357-4af5-805f-3a36c8008a55",
                    "leftValue": "={{ $json.EMPRESA }}",
                    "rightValue": "GASPAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GASPAR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ad9b11c9-6a0b-4952-8fe3-97928ad294e2",
                    "leftValue": "={{ $json.EMPRESA }}",
                    "rightValue": "ACG",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ACG"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.EMPRESA }}",
                    "rightValue": "MDG",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MDG"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -380,
        1280
      ],
      "id": "1a422850-3af6-4ba2-922a-6cad0a31a376",
      "name": "Separa Empresa"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b01cdf0-0c06-46e2-873e-d8d931ce3c13",
              "name": "USUARIO",
              "value": "={{ $('Separa Empresa').item.json.USUARIO }}",
              "type": "string"
            },
            {
              "id": "e359c01b-9003-42e7-8949-892230ad0d17",
              "name": "CPF",
              "value": "={{ $('Separa Empresa').item.json.CPF }}",
              "type": "string"
            },
            {
              "id": "5f34780e-43a8-4728-9a1b-6919d5188a04",
              "name": "NOME",
              "value": "={{ $('Separa Empresa').item.json.NOME.toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "01875bee-ba27-4b7f-a63f-111ad758aae6",
              "name": "EMPRESA",
              "value": "={{ $('Separa Empresa').item.json.EMPRESA }}",
              "type": "string"
            },
            {
              "id": "26ca6250-33f0-4b88-8201-0f1df0387c12",
              "name": "Email",
              "value": "={{ $('Separa Empresa').item.json.Email }}",
              "type": "string"
            },
            {
              "id": "08ebe54f-9835-4a7c-af43-5ef90986238a",
              "name": "First Name",
              "value": "={{ $('Separa Empresa').item.json.NOME.toUpperCase().split(\" \").slice(0, 3).join(\" \") + \" \" }}",
              "type": "string"
            },
            {
              "id": "c8dcb954-f5d8-42f4-865a-ced2132f0ffe",
              "name": "Last Name",
              "value": "={{ $('Separa Empresa').item.json.NOME.split(\" \").last().toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "f017c604-7930-490e-8937-aee0f311a308",
              "name": "TELEFONE",
              "value": "={{ $('Separa Empresa').item.json.TELEFONE.replace('-',' ').replaceAll(' ','') }}",
              "type": "string"
            },
            {
              "id": "c5b727e9-f63b-4a4d-abcf-7d6768279082",
              "name": "CARGO",
              "value": "={{$('Separa Empresa').item.json.CARGO.toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "42eab159-20bd-4159-9a6e-12de95bfcb22",
              "name": "senhaPadrao",
              "value": "={{$('Separa Empresa').item.json.senhaPadrao }}",
              "type": "string"
            },
            {
              "id": "f56cdc53-f444-47ca-b18c-90fed13387fc",
              "name": "ID",
              "value": "={{$('Separa Empresa').item.json.ID }}",
              "type": "string"
            },
            {
              "id": "d33eff32-af91-461c-8671-894208d726e4",
              "name": "TITULO",
              "value": "={{$('Separa Empresa').item.json.TITULO.toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "051f531f-751e-4bc8-80d9-8382e88a8066",
              "name": "URL",
              "value": "={{$('Separa Empresa').item.json.URL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        2340
      ],
      "id": "a2581fe4-a1fd-4196-8e90-10f674041ae4",
      "name": "MDG Parametros"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b01cdf0-0c06-46e2-873e-d8d931ce3c13",
              "name": "USUARIO",
              "value": "={{ $('Separa Empresa').item.json.USUARIO }}",
              "type": "string"
            },
            {
              "id": "e359c01b-9003-42e7-8949-892230ad0d17",
              "name": "CPF",
              "value": "={{ $('Separa Empresa').item.json.CPF }}",
              "type": "string"
            },
            {
              "id": "5f34780e-43a8-4728-9a1b-6919d5188a04",
              "name": "NOME",
              "value": "={{ $('Separa Empresa').item.json.NOME.toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "01875bee-ba27-4b7f-a63f-111ad758aae6",
              "name": "EMPRESA",
              "value": "={{ $('Separa Empresa').item.json.EMPRESA }}",
              "type": "string"
            },
            {
              "id": "26ca6250-33f0-4b88-8201-0f1df0387c12",
              "name": "Email",
              "value": "={{ $('Separa Empresa').item.json.Email }}",
              "type": "string"
            },
            {
              "id": "08ebe54f-9835-4a7c-af43-5ef90986238a",
              "name": "First Name",
              "value": "={{ $('Separa Empresa').item.json.NOME.toUpperCase().split(\" \").slice(0, 3).join(\" \") + \" \" }}",
              "type": "string"
            },
            {
              "id": "c8dcb954-f5d8-42f4-865a-ced2132f0ffe",
              "name": "Last Name",
              "value": "={{ $('Separa Empresa').item.json.NOME.split(\" \").last().toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "f017c604-7930-490e-8937-aee0f311a308",
              "name": "TELEFONE",
              "value": "={{ $('Separa Empresa').item.json.TELEFONE.replace('-',' ').replaceAll(' ','') }}",
              "type": "string"
            },
            {
              "id": "c5b727e9-f63b-4a4d-abcf-7d6768279082",
              "name": "CARGO",
              "value": "={{$('Separa Empresa').item.json.CARGO.toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "42eab159-20bd-4159-9a6e-12de95bfcb22",
              "name": "senhaPadrao",
              "value": "={{$('Separa Empresa').item.json.senhaPadrao }}",
              "type": "string"
            },
            {
              "id": "f56cdc53-f444-47ca-b18c-90fed13387fc",
              "name": "ID",
              "value": "={{$('Separa Empresa').item.json.ID.toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "d33eff32-af91-461c-8671-894208d726e4",
              "name": "TITULO",
              "value": "={{$('Separa Empresa').item.json.TITULO.toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "051f531f-751e-4bc8-80d9-8382e88a8066",
              "name": "URL",
              "value": "={{$('Separa Empresa').item.json.URL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        520
      ],
      "id": "16e2740f-00ed-4fc6-b038-5ead29b574ff",
      "name": "Gaspar Parametros"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b01cdf0-0c06-46e2-873e-d8d931ce3c13",
              "name": "USUARIO",
              "value": "={{ $('Separa Empresa').item.json.USUARIO }}",
              "type": "string"
            },
            {
              "id": "e359c01b-9003-42e7-8949-892230ad0d17",
              "name": "CPF",
              "value": "={{ $('Separa Empresa').item.json.CPF }}",
              "type": "string"
            },
            {
              "id": "5f34780e-43a8-4728-9a1b-6919d5188a04",
              "name": "NOME",
              "value": "={{ $('Separa Empresa').item.json.NOME.toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "01875bee-ba27-4b7f-a63f-111ad758aae6",
              "name": "EMPRESA",
              "value": "={{ $('Separa Empresa').item.json.EMPRESA }}",
              "type": "string"
            },
            {
              "id": "26ca6250-33f0-4b88-8201-0f1df0387c12",
              "name": "Email",
              "value": "={{ $('Separa Empresa').item.json.Email }}",
              "type": "string"
            },
            {
              "id": "08ebe54f-9835-4a7c-af43-5ef90986238a",
              "name": "First Name",
              "value": "={{ $('Separa Empresa').item.json.NOME.toUpperCase().split(\" \").slice(0, 3).join(\" \") + \" \" }}",
              "type": "string"
            },
            {
              "id": "c8dcb954-f5d8-42f4-865a-ced2132f0ffe",
              "name": "Last Name",
              "value": "={{ $('Separa Empresa').item.json.NOME.split(\" \").last().toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "f017c604-7930-490e-8937-aee0f311a308",
              "name": "TELEFONE",
              "value": "={{ $('Separa Empresa').item.json.TELEFONE.replace('-',' ').replaceAll(' ','') }}",
              "type": "string"
            },
            {
              "id": "c5b727e9-f63b-4a4d-abcf-7d6768279082",
              "name": "CARGO",
              "value": "={{$('Separa Empresa').item.json.CARGO.toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "42eab159-20bd-4159-9a6e-12de95bfcb22",
              "name": "senhaPadrao",
              "value": "={{$('Separa Empresa').item.json.senhaPadrao }}",
              "type": "string"
            },
            {
              "id": "f56cdc53-f444-47ca-b18c-90fed13387fc",
              "name": "ID",
              "value": "={{$('Separa Empresa').item.json.ID}}",
              "type": "string"
            },
            {
              "id": "d33eff32-af91-461c-8671-894208d726e4",
              "name": "TITULO",
              "value": "={{$('Separa Empresa').item.json.TITULO }}",
              "type": "string"
            },
            {
              "id": "051f531f-751e-4bc8-80d9-8382e88a8066",
              "name": "URL",
              "value": "={{$('Separa Empresa').item.json.URL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        1260
      ],
      "id": "0ea20325-0646-486a-90fb-198bbb53c7ff",
      "name": "ACG Parametros"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -600,
        1280
      ],
      "id": "fc9cfb6e-9a20-42e0-8003-dfb8f149f16b",
      "name": "Workflow Input Trigger"
    }
  ],
  "connections": {
    "Cria Usuário AD": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "ATUALIZA USUARIO GASPAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GASPAR1": {
      "main": [
        [
          {
            "node": "adicionaGruposADAgente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CoodernadorGruposAD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GerenteGruposAD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LiderGruposAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "GASPAR1",
            "type": "main",
            "index": 0
          },
          {
            "node": "MergeFiim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "adicionaGruposADAgente": {
      "main": [
        [
          {
            "node": "Move Usuario AD Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Usuario AD Gerente": {
      "main": [
        []
      ]
    },
    "Move Usuario AD Coordenador": {
      "main": [
        []
      ]
    },
    "Move Usuario AD Agente": {
      "main": [
        []
      ]
    },
    "Cria Usuário AD1": {
      "main": [
        [
          {
            "node": "Execute Command2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command2": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "ATUALIZA USUARIO MDG1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "ACG1",
            "type": "main",
            "index": 0
          },
          {
            "node": "MergeFiim",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Move Usuario AD Gerente1": {
      "main": [
        []
      ]
    },
    "Move Usuario AD Agente1": {
      "main": [
        []
      ]
    },
    "ACG1": {
      "main": [
        [
          {
            "node": "ConsultorGruposAdd",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "GerentePrecaGruposAdd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BKOcomercialGruposAD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AgenteComercialGruposAD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LiderGruposAD1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CoordenadorComercialGruposAD2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsultorGruposAdd": {
      "main": [
        [
          {
            "node": "Move Usuario AD Agente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GerentePrecaGruposAdd": {
      "main": [
        [
          {
            "node": "Move Usuario AD Gerente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CoodernadorGruposAD": {
      "main": [
        [
          {
            "node": "Move Usuario AD Coordenador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GerenteGruposAD": {
      "main": [
        [
          {
            "node": "Move Usuario AD Gerente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Usuario AD Agente2": {
      "main": [
        []
      ]
    },
    "LiderGruposAD": {
      "main": [
        [
          {
            "node": "Move Usuario AD Agente2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BKOcomercialGruposAD": {
      "main": [
        [
          {
            "node": "Move Usuario AD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Usuario AD": {
      "main": [
        []
      ]
    },
    "Move Usuario AD Agente3": {
      "main": [
        []
      ]
    },
    "AgenteComercialGruposAD": {
      "main": [
        [
          {
            "node": "Move Usuario AD Agente3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Usuario AD Agente4": {
      "main": [
        []
      ]
    },
    "LiderGruposAD1": {
      "main": [
        [
          {
            "node": "Move Usuario AD Agente4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Usuario AD Agente5": {
      "main": [
        []
      ]
    },
    "CoordenadorComercialGruposAD2": {
      "main": [
        [
          {
            "node": "Move Usuario AD Agente5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Usuário AD2": {
      "main": [
        [
          {
            "node": "Execute Command3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command3": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "ATUALIZA USUARIO MDG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "MDG1",
            "type": "main",
            "index": 0
          },
          {
            "node": "MergeFiim",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Move Usuario AD Agente7": {
      "main": [
        []
      ]
    },
    "AgenteComercialGruposAD1": {
      "main": [
        [
          {
            "node": "Move Usuario AD Agente7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Usuario AD Agente9": {
      "main": [
        []
      ]
    },
    "CoordenadorComercialGruposAD": {
      "main": [
        [
          {
            "node": "Move Usuario AD Agente9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BKOcomercialGruposAD1": {
      "main": [
        [
          {
            "node": "Move Usuario AD1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Usuario AD1": {
      "main": [
        []
      ]
    },
    "Move Usuario AD Agente6": {
      "main": [
        []
      ]
    },
    "LiderGruposAD3": {
      "main": [
        [
          {
            "node": "Move Usuario AD Agente6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BKOcomercialGruposAD2": {
      "main": [
        [
          {
            "node": "Move Usuario AD2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Usuario AD2": {
      "main": [
        []
      ]
    },
    "Execute Command4": {
      "main": [
        [
          {
            "node": "ATIVA USUARIO MDG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command6": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Execute Command6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MDG1": {
      "main": [
        [
          {
            "node": "BKOcomercialGruposAD1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AgenteComercialGruposAD1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LiderGruposAD3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CoordenadorComercialGruposAD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BKOcomercialGruposAD2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command7": {
      "main": [
        [
          {
            "node": "ATIVA USURIO ACG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command8": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Execute Command8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ATUALIZA USUARIO MDG": {
      "main": [
        [
          {
            "node": "Execute Command4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ATIVA USUARIO MDG": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ATIVA USURIO ACG": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ATUALIZA USUARIO MDG1": {
      "main": [
        [
          {
            "node": "Execute Command7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command9": {
      "main": [
        [
          {
            "node": "ATIVA USURIO GASPAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command10": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Execute Command10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ATUALIZA USUARIO GASPAR": {
      "main": [
        [
          {
            "node": "Execute Command9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ATIVA USURIO GASPAR": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MergeFiim": {
      "main": [
        [
          {
            "node": "DadosFim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DadosFim": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "InformTiAdmitidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InformTiAdmitidos": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa Empresa": {
      "main": [
        [
          {
            "node": "Gaspar Parametros",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ACG Parametros",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MDG Parametros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MDG Parametros": {
      "main": [
        [
          {
            "node": "Cria Usuário AD2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gaspar Parametros": {
      "main": [
        [
          {
            "node": "Cria Usuário AD",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ACG Parametros": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cria Usuário AD1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Input Trigger": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "48220bd0-4d3d-4928-9a58-d1fbc5c10d80",
  "activeVersionId": "48220bd0-4d3d-4928-9a58-d1fbc5c10d80",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-03-06T15:02:16.145Z",
      "createdAt": "2025-03-06T15:02:16.145Z",
      "role": "workflow:owner",
      "workflowId": "pRDIArCSsoOLLU3L",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-11-29T01:50:38.405Z",
    "createdAt": "2025-11-29T01:50:38.405Z",
    "versionId": "48220bd0-4d3d-4928-9a58-d1fbc5c10d80",
    "workflowId": "pRDIArCSsoOLLU3L",
    "nodes": [
      {
        "parameters": {
          "jsCode": "// Recuperar todos os dados de entrada\nconst usuarios = $input.all(); \n\n// Definindo a OU do Active Directory\nconst caminhoOU = \"OU=Usuarios,OU=Homologacao,OU=01_MDG_PLN,DC=colaborador,DC=local\";\n\n// Recuperar a senha padrão do nó \"SenhaPadrao\"\nconst senha = $input.first().json.senhaPadrao;\n\n// Validar se a senha padrão foi recuperada corretamente\nif (!senha) {\n  throw new Error(\"A senha padrão não foi encontrada no nó 'SenhaPadrao'. Verifique o nó.\");\n}\n\n// Verificar se os dados de entrada são válidos\nif (Array.isArray(usuarios) && usuarios.length > 0) {\n  // Processar cada usuário\n  let comandosSSH = usuarios.map(item => {\n    const usuario = item.json;\n    const nomeCompleto = usuario[\"NOME\"]?.trim() || \"NOME NÃO DEFINIDO\";\n    const sobrenome = usuario[\"Last Name\"]?.trim() || \"SOBRENOME NÃO DEFINIDO\";\n    const nome = usuario[\"First Name\"]?.trim() || \"NOME NÃO DEFINIDO\";\n    const usuarioNome = usuario[\"USUARIO\"]?.trim() || \"usuario.nao.definido\";\n    const cpf = usuario[\"CPF\"]?.trim() || \"CPF NÃO DEFINIDO\";\n    const empresa = usuario[\"EMPRESA\"]?.trim() || \"EMPRESA NÃO DEFINIDA\";\n    const telefone = usuario[\"TELEFONE\"]?.trim() || usuario[\"TELEFONE\"]?.trim() || \"TELEFONE NÃO DEFINIDO\";\n    const cargo = usuario[\"CARGO\"]?.trim() || \"CARGO NÃO DEFINIDO\";\n    const mail = usuario[\"Email\"]?.trim() || \"CARGO NÃO DEFINIDO\";\n\n    // Validação mínima para evitar erros graves\n    if (!usuarioNome || !nomeCompleto) {\n      throw new Error(`Usuário inválido: Nome completo ou nome de usuário ausente. Dados: ${JSON.stringify(usuario)}`);\n    }\n\n    // Gerar o comando SSH para criar o usuário no AD\n    return `sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\\\"New-ADUser -SamAccountName '${usuarioNome}' -UserPrincipalName '${usuarioNome}@colaborador.local' -Name '${nomeCompleto}' -GivenName '${nome.toUpperCase()}' -Surname '${sobrenome.toUpperCase()}' -DisplayName '${nomeCompleto}' -Description '${cpf}' -OfficePhone '${telefone}' -Mobile '${telefone}' -Title '${cargo}' -Company '${empresa}' -EmailAddress '${mail}' -HomeDirectory '\\\\\\\\\\\\\\\\srv01\\\\\\\\users$\\\\\\\\${usuarioNome}' -HomeDrive 'U' -PasswordNeverExpires:\\\\$false -ChangePasswordAtLogon \\\\$true -Enabled \\\\$true -Path '${caminhoOU}' -AccountPassword (ConvertTo-SecureString '${senha}' -AsPlainText -Force)\\\\\"\"`\n  }).join(\"\\n\");  // Aqui, usamos .join() para unir os comandos em uma única string, com cada comando em uma nova linha.\n\n  // Retornar os comandos SSH gerados como uma string\n  return {\n    json: {\n      comandosSSH\n    }\n  };\n} else {\n  throw new Error(\"A entrada não contém usuários válidos.\");\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          620
        ],
        "id": "06621cf9-e8a4-4f7a-8b44-458ef0ddcbff",
        "name": "Cria Usuário AD"
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "={{ $json.comandosSSH }}"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1080,
          620
        ],
        "id": "5f62e51d-90c1-42f4-a545-04a67e3a895b",
        "name": "Execute Command",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Gaspar Parametros').item.json.CARGO }}",
                      "rightValue": "AGENTE DE VENDAS",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "AGENTE DE VENDAS"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "b557084a-1718-480d-b6c2-93a0cedbb4de",
                      "leftValue": "={{ $('Gaspar Parametros').item.json.CARGO }}",
                      "rightValue": "=COORDENADOR",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "COORDENADOR"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "8c82f008-db6e-4941-9603-dd2232f598ec",
                      "leftValue": "={{ $('Gaspar Parametros').item.json.CARGO }}",
                      "rightValue": "GERENTE",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "GERENTE"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "5f223b4e-932d-4ac4-894a-4e0c9e631378",
                      "leftValue": "={{ $('Gaspar Parametros').item.json.CARGO }}",
                      "rightValue": "LIDER",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "LIDER"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          1880,
          520
        ],
        "id": "f741a623-fa89-4130-852d-67e787a0ccf0",
        "name": "GASPAR1"
      },
      {
        "parameters": {
          "mode": "chooseBranch"
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1700,
          540
        ],
        "id": "4e1913dc-bf17-4c55-a2f0-9ef745a33aa7",
        "name": "Merge2"
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_PrintScreen_Operacao', 'G_PLA_AdmLocal_Comercial', 'G_MDG_Comercial_R', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_ProxyComercial', 'G_MDG_Comercial_W'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2160,
          60
        ],
        "id": "e5da8091-0775-4172-8c7a-fd59a1486c87",
        "name": "adicionaGruposADAgente"
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('GASPAR1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Gerentes_Comerciais,OU=Usuarios,OU=Comercial,OU=05_GASPAR_COS,DC=colaborador,DC=local'\\\"\""
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2340,
          400
        ],
        "id": "f1a5a511-ac90-437a-b2b3-1115a36e1d7f",
        "name": "Move Usuario AD Gerente",
        "retryOnFail": true,
        "maxTries": 5
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('GASPAR1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Coordenadores,OU=Usuarios,OU=Comercial,OU=05_GASPAR_COS,DC=colaborador,DC=local'\\\"\" "
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2340,
          240
        ],
        "id": "df968d8e-8f84-4617-b356-3b07c25ac5f1",
        "name": "Move Usuario AD Coordenador",
        "retryOnFail": true,
        "maxTries": 5
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('GASPAR1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Agente_de_Vendas,OU=Usuarios,OU=Comercial,OU=05_GASPAR_COS,DC=colaborador,DC=local'\\\"\" "
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2340,
          60
        ],
        "id": "e13b9706-a4b2-4827-8a5b-8de898275223",
        "name": "Move Usuario AD Agente",
        "retryOnFail": true,
        "maxTries": 5
      },
      {
        "parameters": {
          "jsCode": "// Recuperar todos os dados de entrada\nconst usuarios = $input.all(); \n\n// Definindo a OU do Active Directory\nconst caminhoOU = \"OU=Usuarios,OU=Homologacao,OU=01_MDG_PLN,DC=colaborador,DC=local\";\n\n// Recuperar a senha padrão do nó \"SenhaPadrao\"\nconst senha = $input.first().json.senhaPadrao;\n\n// Validar se a senha padrão foi recuperada corretamente\nif (!senha) {\n  throw new Error(\"A senha padrão não foi encontrada no nó 'SenhaPadrao'. Verifique o nó.\");\n}\n\n// Verificar se os dados de entrada são válidos\nif (Array.isArray(usuarios) && usuarios.length > 0) {\n  // Processar cada usuário\n  let comandosSSH = usuarios.map(item => {\n    const usuario = item.json;\n    const nomeCompleto = usuario[\"NOME\"]?.trim() || \"NOME NÃO DEFINIDO\";\n    const sobrenome = usuario[\"Last Name\"]?.trim() || \"SOBRENOME NÃO DEFINIDO\";\n    const nome = usuario[\"First Name\"]?.trim() || \"NOME NÃO DEFINIDO\";\n    const usuarioNome = usuario[\"USUARIO\"]?.trim() || \"usuario.nao.definido\";\n    const cpf = usuario[\"CPF\"]?.trim() || \"CPF NÃO DEFINIDO\";\n    const empresa = usuario[\"EMPRESA\"]?.trim() || \"EMPRESA NÃO DEFINIDA\";\n    const telefone = usuario[\"TELEFONE\"]?.trim() || usuario[\"TELEFONE\"]?.trim() || \"TELEFONE NÃO DEFINIDO\";\n    const cargo = usuario[\"CARGO\"]?.trim() || \"CARGO NÃO DEFINIDO\";\n    const mail = usuario[\"Email\"]?.trim() || \"CARGO NÃO DEFINIDO\";\n\n    // Validação mínima para evitar erros graves\n    if (!usuarioNome || !nomeCompleto) {\n      throw new Error(`Usuário inválido: Nome completo ou nome de usuário ausente. Dados: ${JSON.stringify(usuario)}`);\n    }\n\n    // Gerar o comando SSH para criar o usuário no AD\n    return `sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\\\"New-ADUser -SamAccountName '${usuarioNome}' -UserPrincipalName '${usuarioNome}@colaborador.local' -Name '${nomeCompleto}' -GivenName '${nome.toUpperCase()}' -Surname '${sobrenome.toUpperCase()}' -DisplayName '${nomeCompleto}' -Description '${cpf}' -OfficePhone '${telefone}' -Mobile '${telefone}' -Title '${cargo}' -Company '${empresa}' -EmailAddress '${mail}' -HomeDirectory '\\\\\\\\\\\\\\\\srv01\\\\\\\\users$\\\\\\\\${usuarioNome}' -HomeDrive 'U' -PasswordNeverExpires:\\\\$false -ChangePasswordAtLogon \\\\$true -Enabled \\\\$true -Path '${caminhoOU}' -AccountPassword (ConvertTo-SecureString '${senha}' -AsPlainText -Force)\\\\\"\"`\n  }).join(\"\\n\");  // Aqui, usamos .join() para unir os comandos em uma única string, com cada comando em uma nova linha.\n\n  // Retornar os comandos SSH gerados como uma string\n  return {\n    json: {\n      comandosSSH\n    }\n  };\n} else {\n  throw new Error(\"A entrada não contém usuários válidos.\");\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          920,
          1360
        ],
        "id": "ecd825f5-5026-402b-b172-a90766e1ab3e",
        "name": "Cria Usuário AD1"
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "={{ $json.comandosSSH }}"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1120,
          1360
        ],
        "id": "cbb34c8c-7a9f-4de4-9d43-270d1c524cb6",
        "name": "Execute Command2",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "mode": "chooseBranch"
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1760,
          1280
        ],
        "id": "5c8b8532-cfb1-4707-8fbf-34f233226ebc",
        "name": "Merge4"
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('ACG1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Gerente,OU=Precatorio,OU=01_MDG_PLN,DC=colaborador,DC=local'\\\"\""
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2340,
          1040
        ],
        "id": "0d9bea6d-0b3f-414b-966f-f32c44f33c41",
        "name": "Move Usuario AD Gerente1",
        "retryOnFail": true,
        "maxTries": 5
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('ACG1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Agentes,OU=Precatorio,OU=01_MDG_PLN,DC=colaborador,DC=local'\\\"\" "
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2340,
          900
        ],
        "id": "66d132bd-8825-44dc-9b24-d6f348327216",
        "name": "Move Usuario AD Agente1",
        "retryOnFail": true,
        "maxTries": 5
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.CARGO }}",
                      "rightValue": "CONSULTOR DE NEGOCIOS JUNIOR",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "CONSULTOR DE NEGOCIOS JUNIOR"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "b557084a-1718-480d-b6c2-93a0cedbb4de",
                      "leftValue": "={{ $json.CARGO }}",
                      "rightValue": "=BKO PRECATORIO",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "BKO PRECATORIO"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "8c82f008-db6e-4941-9603-dd2232f598ec",
                      "leftValue": "={{ $json.CARGO }}",
                      "rightValue": "GERENTE PRECATORIO",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "GERENTE PRECATORIO"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "beb4e5f3-aed8-4d84-a2a6-382e0aa2f193",
                      "leftValue": "={{ $json.CARGO }}",
                      "rightValue": "BKO COMERCIAL",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "BKO COMERCIAL"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "913a4798-7b45-42e9-a9ce-fa8446a06de0",
                      "leftValue": "={{ $json.CARGO }}",
                      "rightValue": "AGENTE DE VENDAS",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "AGENTE DE VENDAS "
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "5f1e7515-677c-4433-a266-97342dea0aca",
                      "leftValue": "={{ $json.CARGO }}",
                      "rightValue": "LIDER COMERCIAL",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "LIDER COMERCIAL"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "0d9f492a-8768-43ec-bb78-0220184c1f43",
                      "leftValue": "={{ $json.CARGO }}",
                      "rightValue": "COORDENADOR",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "COORDENADOR"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          1920,
          1220
        ],
        "id": "2f4791ff-bcb6-45e0-967b-04c93f6d4bce",
        "name": "ACG1"
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_PRECILUS_USER', 'G_MDG_Impressora_TI', 'G_MDG_Impressora_Precatorio', 'G_PLA_AdmLocal_Comercial', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_ProxyPrecatorio', 'PLA_AdmLocal_Administrativo', 'G_MDG_Precatorio'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2160,
          900
        ],
        "id": "fda1ea87-5b63-479b-a2df-eb45f5d45db5",
        "name": "ConsultorGruposAdd"
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_BaseBKO_W', 'G_MDG_Docs_Adm_Precatorio_W', 'G_MDG_PRECILUS_COORD', 'G_MDG_FERIAS_W', 'G_MDG_AutenticacaoGLPI', 'G_MDG_PbiPrecatorio_W', 'G_MDG_PrintScreen_Gerencial', 'G_MDG_Impressora_TI', 'G_MDG_Impressora_Precatorio', 'G_MDG_AUTENTICACAO_VPN', 'G_MDG_Marketing_R', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_ProxyPrecatorio', 'G_MDG_Impressora_RH', 'PLA_AdmLocal_Administrativo', 'G_MDG_Coord_Precatorio', 'G_MDG_Precatorio'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2160,
          1040
        ],
        "id": "45ee6d10-f6dc-45f8-8a32-d0c5a3676f2a",
        "name": "GerentePrecaGruposAdd"
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_FERIAS_W', 'G_MDG_FERIAS_R', 'G_MDG_GLPI_Lideres', 'G_MDG_AutenticacaoGLPI', 'G_CATELI_ImpressoraComercial', 'G_MDG_ProxyCoord', 'G_MDG_Impressora_Financeiro', 'G_MDG_Monitoria_R', 'G_MDG_PrintScreen_Coordenadores', 'G_PLA_AdmLocal_Comercial', 'G_MDG_Coordenador_R', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_Impressoras_BKO', 'G_PLA_AdmLocal_Administrativo', 'G_MDG_Coordenador_W', 'G_MDG_Comercial_W'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2160,
          240
        ],
        "id": "bcd22301-f47e-42cc-8740-e063eb369514",
        "name": "CoodernadorGruposAD"
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_AcompanhamentoGastosFinanceiro', 'G_MDG_AcompanhamentoFinanceiroGaspar_R', 'G_MDG_TABUARGULUS_USER', 'G_MDG_FERIAS_W', 'G_LMP_ImpressoraComercial', 'G_MDG_AutenticacaoGLPI', 'G_MDG_BaseMacica_W', 'G_MDG_BaseMacica_R', 'G_MDG_ProxyGerentes', 'G_MDG_Mailing_W', 'G_CATELI_Diretoria_W', 'G_CATELI_FechamentoCosmopolis_W', 'G_CATELI_ImpressoraComercial', 'G_CATELI_Mailing', 'G_MDG_PermiteRemoviveis', 'G_MDG_Fechamento_W', 'G_MDG_PrintScreen_Gerentes', 'G_MDG_Evidencias_Operadores', 'G_MDG_BD_BKO', 'G_MDG_Impressora_Financeiro', 'G_MDG_TELEVISAO_W', 'G_MDG_AUTENTICACAO_VPN', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_Impressoras_BKO', 'G_PLA_AdmLocal_Administrativo', 'G_MDG_Remoto', 'G_MDG_Gerente', 'G_MDG_BKO_W'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2160,
          400
        ],
        "id": "b3e2ddbe-55eb-4092-bcb4-0501c85ed77d",
        "name": "GerenteGruposAD"
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('GASPAR1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Lideres_de_Vendas,OU=Usuarios,OU=Comercial,OU=05_GASPAR_COS,DC=colaborador,DC=local'\\\"\" "
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2340,
          540
        ],
        "id": "d34950a2-2863-4fd0-a3e3-d8a552dcca11",
        "name": "Move Usuario AD Agente2",
        "retryOnFail": true,
        "maxTries": 5
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_FERIAS_W', 'G_MDG_FERIAS_R', 'G_MDG_AutenticacaoGLPI', 'G_CATELI_ImpressoraComercial', 'G_MDG_ProxyCoord', 'G_MDG_PrintScreen_Coordenadores', 'G_MDG_Lideres_W', 'G_MDG_Lideres_R', 'G_PLA_AdmLocal_Comercial', 'G_MDG_AUTENTICACAO_VPN', 'G_MDG_Comercial_R', 'G_MDG_RADIUS_AUTENTICACAO'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2160,
          540
        ],
        "id": "a388d7af-ddd9-44c2-be5a-965563c20dbe",
        "name": "LiderGruposAD"
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_AdmLocal_Comercial', 'G_MDG_Comercial_R', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_ProxyBKO', 'G_MDG_Impressora_BKO_Comercial', 'G_PLA_AdmLocal_Administrativo', 'G_MDG_BKO_W'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2160,
          1200
        ],
        "id": "ddf9c38f-ab79-4a96-9eef-6de40ba856dd",
        "name": "BKOcomercialGruposAD"
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('ACG1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Usuarios,OU=Backoffice,OU=01_MDG_PLN,DC=colaborador,DC=local'\\\"\""
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2340,
          1200
        ],
        "id": "614650f2-ff90-4a9e-bd1d-454d08eac9d6",
        "name": "Move Usuario AD",
        "retryOnFail": true,
        "maxTries": 5
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('ACG1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Agentes_de_Vendas,OU=Usuarios,OU=Comercial,OU=01_MDG_PLN,DC=colaborador,DC=local'\\\"\" "
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2340,
          1360
        ],
        "id": "832eb3c9-7b55-41df-a8b7-52be3c09a3c9",
        "name": "Move Usuario AD Agente3",
        "retryOnFail": true,
        "maxTries": 5
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_PrintScreen_Operacao', 'G_PLA_AdmLocal_Comercial', 'G_MDG_Comercial_R', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_ProxyComercial', 'G_MDG_Comercial_W'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2160,
          1360
        ],
        "id": "00df4fbc-3427-4647-9069-75fba1c47095",
        "name": "AgenteComercialGruposAD"
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('ACG1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Lideres_de_Vendas,OU=Usuarios,OU=Comercial,OU=01_MDG_PLN,DC=colaborador,DC=local'\\\"\" "
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2340,
          1520
        ],
        "id": "88b53559-ca64-4f5b-96fa-aa0ae81e8f08",
        "name": "Move Usuario AD Agente4",
        "retryOnFail": true,
        "maxTries": 5
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_Proxy_Lideres', 'G_MDG_AutenticacaoGLPI', 'G_MDG_PrintScreen_Operacao', 'G_PLA_AdmLocal_Comercial', 'G_MDG_Comercial_R', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_Comercial_W'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2160,
          1520
        ],
        "id": "5c62e262-7923-40d8-8ffa-e0ebb163ab10",
        "name": "LiderGruposAD1"
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('ACG1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Coordenadores,OU=Usuarios,OU=Comercial,OU=01_MDG_PLN,DC=colaborador,DC=local'\\\"\" "
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2340,
          1680
        ],
        "id": "b86c8a6e-0a20-404b-a405-0b16f4a1cd95",
        "name": "Move Usuario AD Agente5",
        "retryOnFail": true,
        "maxTries": 5
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_AutenticacaoGLPI', 'G_MDG_ProxyCoord', 'G_MDG_Impressora_Financeiro', 'G_MDG_PrintScreen_Coordenadores', 'G_PLA_AdmLocal_Comercial', 'G_MDG_Coordenador_R', 'G_MDG_Comercial_R', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_Coordenador_W', 'G_MDG_Comercial_W'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2160,
          1680
        ],
        "id": "5370a875-2cd2-4dde-ae20-000010851739",
        "name": "CoordenadorComercialGruposAD2"
      },
      {
        "parameters": {
          "jsCode": "// Recuperar todos os dados de entrada\nconst usuarios = $input.all(); \n\n// Definindo a OU do Active Directory\nconst caminhoOU = \"OU=Usuarios,OU=Homologacao,OU=01_MDG_PLN,DC=colaborador,DC=local\";\n\n// Recuperar a senha padrão do nó \"SenhaPadrao\"\nconst senha = $input.first().json.senhaPadrao;\n\n// Validar se a senha padrão foi recuperada corretamente\nif (!senha) {\n  throw new Error(\"A senha padrão não foi encontrada no nó 'SenhaPadrao'. Verifique o nó.\");\n}\n\n// Verificar se os dados de entrada são válidos\nif (Array.isArray(usuarios) && usuarios.length > 0) {\n  // Processar cada usuário\n  let comandosSSH = usuarios.map(item => {\n    const usuario = item.json;\n    const nomeCompleto = usuario[\"NOME\"]?.trim() || \"NOME NÃO DEFINIDO\";\n    const sobrenome = usuario[\"Last Name\"]?.trim() || \"SOBRENOME NÃO DEFINIDO\";\n    const nome = usuario[\"First Name\"]?.trim() || \"NOME NÃO DEFINIDO\";\n    const usuarioNome = usuario[\"USUARIO\"]?.trim() || \"usuario.nao.definido\";\n    const cpf = usuario[\"CPF\"]?.trim() || \"CPF NÃO DEFINIDO\";\n    const empresa = usuario[\"EMPRESA\"]?.trim() || \"EMPRESA NÃO DEFINIDA\";\n    const telefone = usuario[\"TELEFONE\"]?.trim() || usuario[\"TELEFONE\"]?.trim() || \"TELEFONE NÃO DEFINIDO\";\n    const cargo = usuario[\"CARGO\"]?.trim() || \"CARGO NÃO DEFINIDO\";\n    const mail = usuario[\"Email\"]?.trim() || \"CARGO NÃO DEFINIDO\";\n\n    // Validação mínima para evitar erros graves\n    if (!usuarioNome || !nomeCompleto) {\n      throw new Error(`Usuário inválido: Nome completo ou nome de usuário ausente. Dados: ${JSON.stringify(usuario)}`);\n    }\n\n    // Gerar o comando SSH para criar o usuário no AD\n    return `sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\\\"New-ADUser -SamAccountName '${usuarioNome}' -UserPrincipalName '${usuarioNome}@colaborador.local' -Name '${nomeCompleto}' -GivenName '${nome.toUpperCase()}' -Surname '${sobrenome.toUpperCase()}' -DisplayName '${nomeCompleto}' -Description '${cpf}' -OfficePhone '${telefone}' -Mobile '${telefone}' -Title '${cargo}' -Company '${empresa}' -EmailAddress '${mail}' -HomeDirectory '\\\\\\\\\\\\\\\\srv01\\\\\\\\users$\\\\\\\\${usuarioNome}' -HomeDrive 'U' -PasswordNeverExpires:\\\\$false -ChangePasswordAtLogon \\\\$true -Enabled \\\\$true -Path '${caminhoOU}' -AccountPassword (ConvertTo-SecureString '${senha}' -AsPlainText -Force)\\\\\"\"`\n  }).join(\"\\n\");  // Aqui, usamos .join() para unir os comandos em uma única string, com cada comando em uma nova linha.\n\n  // Retornar os comandos SSH gerados como uma string\n  return {\n    json: {\n      comandosSSH\n    }\n  };\n} else {\n  throw new Error(\"A entrada não contém usuários válidos.\");\n}\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          920,
          2480
        ],
        "id": "66b51a00-358e-4d29-95b6-43de8db5877c",
        "name": "Cria Usuário AD2"
      },
      {
        "parameters": {
          "command": "={{ $json.comandosSSH }}"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1140,
          2480
        ],
        "id": "73aecd72-b02a-4b43-8f55-d2fe3b1b4f72",
        "name": "Execute Command3",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "mode": "chooseBranch"
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1760,
          2360
        ],
        "id": "1a1a065d-4441-4ac8-a7ac-6ad55620ae95",
        "name": "Merge6"
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('MDG1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Agentes_de_Vendas,OU=Usuarios,OU=Comercial,OU=01_MDG_PLN,DC=colaborador,DC=local'\\\"\" "
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2340,
          2220
        ],
        "id": "b183a327-4048-4fb3-bec2-0076b05e0341",
        "name": "Move Usuario AD Agente7",
        "retryOnFail": true,
        "maxTries": 5
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_PrintScreen_Operacao', 'G_PLA_AdmLocal_Comercial', 'G_MDG_Comercial_R', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_ProxyComercial', 'G_MDG_Comercial_W'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2160,
          2220
        ],
        "id": "8edb5005-d99b-489a-a41d-34510d1e2f56",
        "name": "AgenteComercialGruposAD1"
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('MDG1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Coordenadores,OU=Usuarios,OU=Comercial,OU=01_MDG_PLN,DC=colaborador,DC=local'\\\"\" "
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2340,
          2560
        ],
        "id": "5e5a94f5-4346-48f7-9039-5769602e2c69",
        "name": "Move Usuario AD Agente9",
        "retryOnFail": true,
        "maxTries": 5
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_AutenticacaoGLPI', 'G_MDG_ProxyCoord', 'G_MDG_Impressora_Financeiro', 'G_MDG_PrintScreen_Coordenadores', 'G_PLA_AdmLocal_Comercial', 'G_MDG_Coordenador_R', 'G_MDG_Comercial_R', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_Coordenador_W', 'G_MDG_Comercial_W'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2160,
          2560
        ],
        "id": "bd74dd4d-4157-4fc5-abdd-e7b6ab80ad9d",
        "name": "CoordenadorComercialGruposAD"
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_AdmLocal_Comercial', 'G_MDG_Comercial_R', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_ProxyBKO', 'G_MDG_Impressora_BKO_Comercial', 'G_PLA_AdmLocal_Administrativo', 'G_MDG_BKO_W'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2160,
          2060
        ],
        "id": "a48e6bb6-22a2-4e85-8003-a1141b3d9ca6",
        "name": "BKOcomercialGruposAD1"
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('MDG1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Usuarios,OU=Backoffice,OU=01_MDG_PLN,DC=colaborador,DC=local'\\\"\""
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2340,
          2060
        ],
        "id": "56153953-4d8d-4ede-a65f-db29b061c1c8",
        "name": "Move Usuario AD1",
        "retryOnFail": true,
        "maxTries": 5
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('MDG1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Lideres_de_Vendas,OU=Usuarios,OU=Comercial,OU=01_MDG_PLN,DC=colaborador,DC=local'\\\"\" "
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2340,
          2400
        ],
        "id": "711a5b79-502b-459a-ab1a-9c36fc7bcb21",
        "name": "Move Usuario AD Agente6",
        "retryOnFail": true,
        "maxTries": 5
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_Proxy_Lideres', 'G_MDG_AutenticacaoGLPI', 'G_MDG_PrintScreen_Operacao', 'G_PLA_AdmLocal_Comercial', 'G_MDG_Comercial_R', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_Comercial_W'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2160,
          2400
        ],
        "id": "70539b5a-05cf-4eda-b663-c7daa51e2946",
        "name": "LiderGruposAD3"
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell.exe -Command \\\"\\$grupos = @('G_MDG_AdmLocal_Comercial', 'G_MDG_Comercial_R', 'G_MDG_RADIUS_AUTENTICACAO', 'G_MDG_ProxyBKO', 'G_MDG_Impressora_BKO_Comercial', 'G_PLA_AdmLocal_Administrativo', 'G_MDG_BKO_W'); foreach (\\$grupo in \\$grupos) { Add-ADGroupMember -Identity \\$grupo -Members '{{ $json.USUARIO }}' }\\\"\""
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2160,
          2740
        ],
        "id": "dc1687cb-01bc-4cd2-af28-8e53da77e643",
        "name": "BKOcomercialGruposAD2"
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "=sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\"Get-ADUser -Identity '{{ $('MDG1').item.json.USUARIO }}' | Move-ADObject -TargetPath 'OU=Usuarios,OU=Backoffice,OU=01_MDG_PLN,DC=colaborador,DC=local'\\\"\""
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2340,
          2740
        ],
        "id": "10ff269c-f685-4b99-aaed-fb1afb4a5976",
        "name": "Move Usuario AD2",
        "retryOnFail": true,
        "maxTries": 5
      },
      {
        "parameters": {
          "content": "## USUARIO AD\nCRIA , ADICIONA GRUPOS E MOVE PARA OU",
          "height": 3120,
          "width": 1880,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          600,
          0
        ],
        "typeVersion": 1,
        "id": "f57fa08b-fbd3-45d9-aefc-a098ff33025e",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "command": "={{ $json.comando }}"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1140,
          2720
        ],
        "id": "4a44815c-feaa-488a-89fa-3ea39050e5c1",
        "name": "Execute Command4"
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "={{ $json.comandosSSH }}"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1780,
          2720
        ],
        "id": "ea9688b6-59aa-4ac2-8700-5ea6e2eba0ad",
        "name": "Execute Command6"
      },
      {
        "parameters": {
          "fieldToSplitOut": "comandosSSH",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          1580,
          2720
        ],
        "id": "ffb69ca2-609b-49f1-b0fd-db89e63e7f9e",
        "name": "Split Out1"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "beb4e5f3-aed8-4d84-a2a6-382e0aa2f193",
                      "leftValue": "={{ $('MDG Parametros').item.json.CARGO }}",
                      "rightValue": "BKO COMERCIAL",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "BKO COMERCIAL"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "913a4798-7b45-42e9-a9ce-fa8446a06de0",
                      "leftValue": "={{ $('MDG Parametros').item.json.CARGO }}",
                      "rightValue": "AGENTE DE VENDAS",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "AGENTE DE VENDAS"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "5f1e7515-677c-4433-a266-97342dea0aca",
                      "leftValue": "={{ $('MDG Parametros').item.json.CARGO }}",
                      "rightValue": "LIDER COMERCIAL",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "LIDER COMERCIAL"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "0d9f492a-8768-43ec-bb78-0220184c1f43",
                      "leftValue": "={{ $('MDG Parametros').item.json.CARGO }}",
                      "rightValue": "COORDENADOR",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "COORDENADOR"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "33c71223-1ce8-4dc7-9d72-7b6042eb9cfd",
                      "leftValue": "={{ $('MDG Parametros').item.json.CARGO }}",
                      "rightValue": "ASSISTENTE OPERACIONAL",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "ASSISTENTE OPERACIONAL"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          1980,
          2280
        ],
        "id": "c6c2ed3e-c94c-4638-85af-0cce7b153f5d",
        "name": "MDG1"
      },
      {
        "parameters": {
          "command": "={{ $json.comando }}"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1120,
          1560
        ],
        "id": "f837b97b-34e0-45a1-9b88-7a0afeac9d4d",
        "name": "Execute Command7"
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "={{ $json.comandosSSH }}"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1680,
          1560
        ],
        "id": "7834944e-5801-44c6-883a-d5f22f86dcfd",
        "name": "Execute Command8"
      },
      {
        "parameters": {
          "fieldToSplitOut": "comandosSSH",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          1500,
          1560
        ],
        "id": "6e3136a8-54cb-4105-8981-7c4ed51202b9",
        "name": "Split Out2"
      },
      {
        "parameters": {
          "jsCode": "// Recuperar todos os dados de entrada\nconst usuarios = $('MDG Parametros').all();\n\n// Verificar se os dados de entrada são válidos\nif (!Array.isArray(usuarios) || usuarios.length === 0) {\n  throw new Error(\"A entrada não contém usuários válidos.\");\n}\n\n// Processar cada usuário\nconst comandosSSH = usuarios.map(item => {\n  const usuario = item.json;\n\n  // Recuperar campos do usuário com validação\n  const nomeCompleto = usuario[\"NOME\"]?.trim() || \"NOME NÃO DEFINIDO\";\n  const sobrenome = usuario[\"Last Name\"]?.trim() || \"SOBRENOME NÃO DEFINIDO\";\n  const nome = usuario[\"First Name\"]?.trim() || \"NOME NÃO DEFINIDO\";\n  const usuarioNome = usuario[\"USUARIO\"]?.trim() || \"usuario.nao.definido\";\n  const cpf = usuario[\"CPF\"]?.trim() || \"CPF NÃO DEFINIDO\";\n  const telefone = usuario[\"TELEFONE\"]?.trim() || \"TELEFONE NÃO DEFINIDO\";\n  const cargo = usuario[\"CARGO\"]?.trim() || \"CARGO NÃO DEFINIDO\";\n  const mail = usuario[\"Email\"]?.trim() || \"EMAIL NÃO DEFINIDO\";\n  const empresa = usuario[\"EMPRESA\"]?.trim() || \"EMPRESA NÃO DEFINIDA\";\n  const homeDirectory = `\\\\\\\\srv01\\\\users$\\\\${usuarioNome}`; // Diretório do usuário\n  const homeDrive = \"U\"; // Unidade atribuída ao diretório do usuário\n\n  // Validação mínima para evitar erros graves\n  if (!usuarioNome || !nomeCompleto) {\n    throw new Error(`Usuário inválido: Nome completo ou nome de usuário ausente. Dados: ${JSON.stringify(usuario)}`);\n  }\n\n  // Gerar o comando SSH para configurar as propriedades do usuário no AD\n  return `sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\\\"Set-ADUser -Identity '${usuarioNome}' -GivenName '${nome.toUpperCase()}' -Surname '${sobrenome.toUpperCase()}' -DisplayName '${nomeCompleto}' -Description '${cpf}' -OfficePhone '${telefone}' -Mobile '${telefone}' -Title '${cargo}' -Company '${empresa}' -EmailAddress '${mail}' -HomeDirectory '${homeDirectory}' -HomeDrive '${homeDrive}'\\\\\"\"`\n});\n\n// Retornar os comandos SSH gerados como entradas separadas no array\nreturn comandosSSH.map(comando => ({ json: { comando } }));\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          940,
          2720
        ],
        "id": "01319d43-5564-44c8-ac43-dee283a539d7",
        "name": "ATUALIZA USUARIO MDG"
      },
      {
        "parameters": {
          "jsCode": "// Recuperar todos os dados de usuários\nconst usuarios = $('MDG Parametros').all(); // Vai pegar todos os itens no nó Edit Fields5\nconst senhaPadrao = $('MDG Parametros').first().json.senhaPadrao; // A senha padrão, supondo que seja única\n\n// Verificar se há usuários\nif (!Array.isArray(usuarios) || usuarios.length === 0) {\n  throw new Error(\"Não há usuários válidos no nó Edit Fields5.\");\n}\n\n// Gerar comandos SSH para cada usuário\nconst comandosSSH = usuarios.map(usuario => {\n  const usuarioNome = usuario.json.USUARIO; // Acessando o usuário\n  if (!usuarioNome) {\n    throw new Error(\"Usuário não encontrado em um dos itens.\");\n  }\n\n  // Gerar o comando SSH com PowerShell\n  return `sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\\\"Set-ADAccountPassword -Identity '${usuarioNome}' -NewPassword (ConvertTo-SecureString '${senhaPadrao}' -AsPlainText -Force); Set-ADUser -Identity '${usuarioNome}' -ChangePasswordAtLogon \\$true; Enable-ADAccount -Identity '${usuarioNome}'\\\\\"\"`;\n});\n\n// Retornar os comandos gerados\nreturn {\n  json: {\n    comandosSSH\n  }\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1360,
          2720
        ],
        "id": "17ddcb64-c837-485f-98e9-94304c10e9a7",
        "name": "ATIVA USUARIO MDG"
      },
      {
        "parameters": {
          "jsCode": "// Recuperar todos os dados de usuários\nconst usuarios = $('ACG Parametros').all(); // Vai pegar todos os itens no nó Edit Fields5\nconst senhaPadrao = $('ACG Parametros').first().json.senhaPadao; // A senha padrão, supondo que seja única\n\n// Verificar se há usuários\nif (!Array.isArray(usuarios) || usuarios.length === 0) {\n  throw new Error(\"Não há usuários válidos no nó Edit Fields5.\");\n}\n\n// Gerar comandos SSH para cada usuário\nconst comandosSSH = usuarios.map(usuario => {\n  const usuarioNome = usuario.json.USUARIO; // Acessando o usuário\n  if (!usuarioNome) {\n    throw new Error(\"Usuário não encontrado em um dos itens.\");\n  }\n\n  // Gerar o comando SSH com PowerShell\n  return `sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\\\"Set-ADAccountPassword -Identity '${usuarioNome}' -NewPassword (ConvertTo-SecureString '${senhaPadrao}' -AsPlainText -Force); Set-ADUser -Identity '${usuarioNome}' -ChangePasswordAtLogon \\$true; Enable-ADAccount -Identity '${usuarioNome}'\\\\\"\"`;\n});\n\n// Retornar os comandos gerados\nreturn {\n  json: {\n    comandosSSH\n  }\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1320,
          1560
        ],
        "id": "8d2073a8-18c3-45d4-9cf8-2c57bae7b5ee",
        "name": "ATIVA USURIO ACG"
      },
      {
        "parameters": {
          "jsCode": "// Recuperar todos os dados de entrada\nconst usuarios = $('ACG Parametros').all();\n\n// Verificar se os dados de entrada são válidos\nif (!Array.isArray(usuarios) || usuarios.length === 0) {\n  throw new Error(\"A entrada não contém usuários válidos.\");\n}\n\n// Processar cada usuário\nconst comandosSSH = usuarios.map(item => {\n  const usuario = item.json;\n\n  // Recuperar campos do usuário com validação\n  const nomeCompleto = usuario[\"NOME\"]?.trim() || \"NOME NÃO DEFINIDO\";\n  const sobrenome = usuario[\"Last Name\"]?.trim() || \"SOBRENOME NÃO DEFINIDO\";\n  const nome = usuario[\"First Name\"]?.trim() || \"NOME NÃO DEFINIDO\";\n  const usuarioNome = usuario[\"USUARIO\"]?.trim() || \"usuario.nao.definido\";\n  const cpf = usuario[\"CPF\"]?.trim() || \"CPF NÃO DEFINIDO\";\n  const telefone = usuario[\"TELEFONE\"]?.trim() || \"TELEFONE NÃO DEFINIDO\";\n  const cargo = usuario[\"CARGO\"]?.trim() || \"CARGO NÃO DEFINIDO\";\n  const mail = usuario[\"Email\"]?.trim() || \"EMAIL NÃO DEFINIDO\";\n  const empresa = usuario[\"EMPRESA\"]?.trim() || \"EMPRESA NÃO DEFINIDA\";\n  const homeDirectory = `\\\\\\\\srv01\\\\users$\\\\${usuarioNome}`; // Diretório do usuário\n  const homeDrive = \"U\"; // Unidade atribuída ao diretório do usuário\n\n  // Validação mínima para evitar erros graves\n  if (!usuarioNome || !nomeCompleto) {\n    throw new Error(`Usuário inválido: Nome completo ou nome de usuário ausente. Dados: ${JSON.stringify(usuario)}`);\n  }\n\n  // Gerar o comando SSH para configurar as propriedades do usuário no AD\n  return `sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\\\"Set-ADUser -Identity '${usuarioNome}' -GivenName '${nome.toUpperCase()}' -Surname '${sobrenome.toUpperCase()}' -DisplayName '${nomeCompleto}' -Description '${cpf}' -OfficePhone '${telefone}' -Mobile '${telefone}' -Title '${cargo}' -Company '${empresa}' -EmailAddress '${mail}' -HomeDirectory '${homeDirectory}' -HomeDrive '${homeDrive}'\\\\\"\"`\n});\n\n// Retornar os comandos SSH gerados como entradas separadas no array\nreturn comandosSSH.map(comando => ({ json: { comando } }));\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          920,
          1560
        ],
        "id": "1eccbbb1-0fe4-4501-b5a5-feb312e17e88",
        "name": "ATUALIZA USUARIO MDG1"
      },
      {
        "parameters": {
          "command": "={{ $json.comando }}"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1040,
          840
        ],
        "id": "4cb91a16-840c-4ca2-acb0-a59c124753c7",
        "name": "Execute Command9"
      },
      {
        "parameters": {
          "executeOnce": false,
          "command": "={{ $json.comandosSSH }}"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1620,
          840
        ],
        "id": "4a6b5f45-f6b2-488c-80b7-724c1bd2e4ee",
        "name": "Execute Command10"
      },
      {
        "parameters": {
          "fieldToSplitOut": "comandosSSH",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          1440,
          840
        ],
        "id": "125670c1-faa7-4ef9-8a6c-2fff398d48bb",
        "name": "Split Out3"
      },
      {
        "parameters": {
          "jsCode": "// Recuperar todos os dados de entrada\nconst usuarios = $('Gaspar Parametros').all();\n\n// Verificar se os dados de entrada são válidos\nif (!Array.isArray(usuarios) || usuarios.length === 0) {\n  throw new Error(\"A entrada não contém usuários válidos.\");\n}\n\n// Processar cada usuário\nconst comandosSSH = usuarios.map(item => {\n  const usuario = item.json;\n\n  // Recuperar campos do usuário com validação\n  const nomeCompleto = usuario[\"NOME\"]?.trim() || \"NOME NÃO DEFINIDO\";\n  const sobrenome = usuario[\"Last Name\"]?.trim() || \"SOBRENOME NÃO DEFINIDO\";\n  const nome = usuario[\"First Name\"]?.trim() || \"NOME NÃO DEFINIDO\";\n  const usuarioNome = usuario[\"USUARIO\"]?.trim() || \"usuario.nao.definido\";\n  const cpf = usuario[\"CPF\"]?.trim() || \"CPF NÃO DEFINIDO\";\n  const telefone = usuario[\"TELEFONE\"]?.trim() || \"TELEFONE NÃO DEFINIDO\";\n  const cargo = usuario[\"CARGO\"]?.trim() || \"CARGO NÃO DEFINIDO\";\n  const mail = usuario[\"Email\"]?.trim() || \"EMAIL NÃO DEFINIDO\";\n  const empresa = usuario[\"EMPRESA\"]?.trim() || \"EMPRESA NÃO DEFINIDA\";\n  const homeDirectory = `\\\\\\\\srv01\\\\users$\\\\${usuarioNome}`; // Diretório do usuário\n  const homeDrive = \"U\"; // Unidade atribuída ao diretório do usuário\n\n  // Validação mínima para evitar erros graves\n  if (!usuarioNome || !nomeCompleto) {\n    throw new Error(`Usuário inválido: Nome completo ou nome de usuário ausente. Dados: ${JSON.stringify(usuario)}`);\n  }\n\n  // Gerar o comando SSH para configurar as propriedades do usuário no AD\n  return `sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\\\"Set-ADUser -Identity '${usuarioNome}' -GivenName '${nome.toUpperCase()}' -Surname '${sobrenome.toUpperCase()}' -DisplayName '${nomeCompleto}' -Description '${cpf}' -OfficePhone '${telefone}' -Mobile '${telefone}' -Title '${cargo}' -Company '${empresa}' -EmailAddress '${mail}' -HomeDirectory '${homeDirectory}' -HomeDrive '${homeDrive}'\\\\\"\"`\n});\n\n// Retornar os comandos SSH gerados como entradas separadas no array\nreturn comandosSSH.map(comando => ({ json: { comando } }));\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          860,
          840
        ],
        "id": "6563ac46-a54e-42c5-bc8a-dbbb096a62c8",
        "name": "ATUALIZA USUARIO GASPAR"
      },
      {
        "parameters": {
          "jsCode": "// Recuperar todos os dados de usuários\nconst usuarios = $('Gaspar Parametros').all(); // Vai pegar todos os itens no nó Edit Fields5\nconst senhaPadrao = $('Gaspar Parametros').first().json.senhaPadrao; // A senha padrão, supondo que seja única\n\n// Verificar se há usuários\nif (!Array.isArray(usuarios) || usuarios.length === 0) {\n  throw new Error(\"Não há usuários válidos no nó Edit Fields5.\");\n}\n\n// Gerar comandos SSH para cada usuário\nconst comandosSSH = usuarios.map(usuario => {\n  const usuarioNome = usuario.json.USUARIO; // Acessando o usuário\n  if (!usuarioNome) {\n    throw new Error(\"Usuário não encontrado em um dos itens.\");\n  }\n\n  // Gerar o comando SSH com PowerShell\n  return `sshpass -p \"Zaq!@wsx\" ssh -o StrictHostKeyChecking=no suporte.pla@10.3.0.10 \"powershell -Command \\\\\"Set-ADAccountPassword -Identity '${usuarioNome}' -NewPassword (ConvertTo-SecureString '${senhaPadrao}' -AsPlainText -Force); Set-ADUser -Identity '${usuarioNome}' -ChangePasswordAtLogon \\$true; Enable-ADAccount -Identity '${usuarioNome}'\\\\\"\"`;\n});\n\n// Retornar os comandos gerados\nreturn {\n  json: {\n    comandosSSH\n  }\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1240,
          840
        ],
        "id": "43174109-dd49-4d7c-8649-538d0f746557",
        "name": "ATIVA USURIO GASPAR"
      },
      {
        "parameters": {
          "numberInputs": 3
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          3680,
          1240
        ],
        "id": "3da978c6-473b-4931-8d78-ca71d86f8ed1",
        "name": "MergeFiim"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "d05a74bd-33db-484e-a005-c1af571558f4",
                "name": "USUARIO",
                "value": "={{ $json.USUARIO }}",
                "type": "string"
              },
              {
                "id": "06f64543-d150-4ee1-95ba-5a8978202d27",
                "name": "NOME",
                "value": "={{ $json.NOME }}",
                "type": "string"
              },
              {
                "id": "29f2ebc2-ef50-4c86-8533-bfb206475a38",
                "name": "Email",
                "value": "={{ $json.Email }}",
                "type": "string"
              },
              {
                "id": "58870c40-53dc-41d0-a7fc-dd7eb444e813",
                "name": "SenhaPadrao",
                "value": "={{ $json.senhaPadrao }}",
                "type": "string"
              },
              {
                "id": "8c784ac2-761c-4c0c-9dbf-a233d4a3cbef",
                "name": "ID",
                "value": "={{ $json.ID }}",
                "type": "string"
              },
              {
                "id": "9c802617-5232-4ae6-8e5b-408dcc25d44d",
                "name": "TITULO",
                "value": "={{ $json.TITULO }}",
                "type": "string"
              },
              {
                "id": "6852983a-58df-48c0-90ab-7650e04a6d54",
                "name": "URL",
                "value": "={{ $json.URL }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3840,
          1240
        ],
        "id": "8b80b9b6-c22f-45ef-843e-1622644cbc34",
        "name": "DadosFim"
      },
      {
        "parameters": {
          "jsCode": "// Função para obter uma saudação aleatória\nfunction obterSaudacao() {\n    const saudacoes = [\n        \"Fala, time de TI! 💻 Vamos codar com estilo hoje!\",\n        \"E aí, equipe incrível! 🚀 Mais um dia para fazer acontecer!\",\n        \"Oi, time! 🌟 Vocês são a força que move a tecnologia!\",\n        \"Bora lá, pessoal! 🔧 Resolvendo problemas e criando soluções!\",\n        \"Vamos com tudo, equipe! 💪 A TI não para, e vocês são demais!\",\n        \"Saudações, mestres do código! 🧙‍♂️ Que a força esteja com vocês!\",\n        \"Salve, equipe de TI! 🎉 Mais um dia para brilhar nos projetos!\",\n        \"Fala, feras da tecnologia! 🌐 Juntos, dominamos o mundo digital!\",\n        \"Oi, time espetacular! 🌟 O show da TI não pode parar!\",\n        \"Bora lá, campeões da TI! 🏆 Hoje é mais um dia de conquistas!\"\n    ];\n    // Retorna uma saudação aleatória da lista\n    return saudacoes[Math.floor(Math.random() * saudacoes.length)];\n}\n\n// Função para obter a data atual formatada no padrão dd/mm/yyyy\nfunction obterDataAtual() {\n    const hoje = new Date();\n    const dia = String(hoje.getDate()).padStart(2, '0');\n    const mes = String(hoje.getMonth() + 1).padStart(2, '0');\n    const ano = hoje.getFullYear();\n    return `${dia}/${mes}/${ano}`;\n}\n\n// Inicializa a variável para armazenar todas as mensagens unificadas\nlet mensagemUnificada = \"\";\n\n// Cria um objeto para armazenar os dados agrupados por ID e TÍTULO\nlet chamadosAgrupados = {};\n\n// Itera sobre todos os dados do input\nfor (const item of $input.all()) {\n    // Obtém as informações principais do chamado\n    const id = item.json.ID || 'ID não informado';\n    const titulo = item.json.TITULO || 'Título não informado';\n    const nomeCompleto = item.json.NOME || 'Nome não informado';\n    const usuarioAd = item.json.USUARIO || 'Usuário não informado';\n    const email = item.json.Email || 'Email não informado';\n    const senhaPadrao = item.json.SenhaPadrao || 'Senha não informada';\n    const url = item.json.URL || 'URL não informada';\n\n    // Se o chamado ainda não foi adicionado ao agrupamento, inicializa a estrutura\n    if (!chamadosAgrupados[id]) {\n        chamadosAgrupados[id] = {\n            titulo: titulo,\n            url: url,\n            usuarios: []\n        };\n    }\n\n    // Adiciona os dados do usuário à lista de usuários para este chamado\n    chamadosAgrupados[id].usuarios.push({\n        nomeCompleto: nomeCompleto,\n        usuarioAd: usuarioAd,\n        email: email,\n        senhaPadrao: senhaPadrao\n    });\n}\n\n// Obtém a saudação aleatória\nconst saudacao = obterSaudacao();\n\n// Obtém a data atual\nconst dataAtual = obterDataAtual();\n\n// Agora cria a mensagem unificada\nfor (const id in chamadosAgrupados) {\n    const chamado = chamadosAgrupados[id];\n\n    // Adiciona a saudação e a introdução\n    mensagemUnificada += `${saudacao}\\n\\nAcessos criados!\\n\\n`;\n\n    // Adiciona a informação de ID, TÍTULO e Data de Criação no início\n    mensagemUnificada += `ID: ${id} - TITULO: ${chamado.titulo}\\n`;\n    mensagemUnificada += `Data de criação: ${dataAtual}\\n\\n`;\n\n    // Adiciona as informações de cada usuário relacionado a este chamado\n    for (const usuario of chamado.usuarios) {\n        mensagemUnificada += `*${usuario.nomeCompleto}*\\n`;\n        mensagemUnificada += `- USUARIO AD: ${usuario.usuarioAd}\\n`;\n        mensagemUnificada += `- SENHA: ${usuario.senhaPadrao}\\n`;\n        mensagemUnificada += `- EMAIL: ${usuario.email}\\n\\n`;\n    }\n\n    // Adiciona o link para conferir o chamado\n    mensagemUnificada += `Link do Chamado: ${chamado.url}\\n\\n`;\n}\n\n// Retorna a mensagem final no formato JSON contendo apenas uma string\nreturn [\n    {\n        json: {\n            textMessage: JSON.stringify(mensagemUnificada.trim())\n        }\n    }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4040,
          1240
        ],
        "id": "0834d3ff-34b4-4f22-829b-f3be3a5d693b",
        "name": "Code"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://evolutionapi-dev.mdgintermediacoes.com.br/message/sendText/SUPORTE",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "s84p04mxmhmy429fysif1"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"delay\": 5, \"number\": \"5519999522207-1626738024@g.us\",\"textMessage\": {\"text\":{{ $json.textMessage.trim() }}}}",
          "options": {}
        },
        "id": "d5c6b933-944a-4721-969c-45e97a2ad508",
        "name": "InformTiAdmitidos",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4220,
          1240
        ],
        "alwaysOutputData": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          4440,
          1240
        ],
        "id": "2c82c022-ce4e-49e6-af54-74a2e2db02d0",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "a1e0911c-c357-4af5-805f-3a36c8008a55",
                      "leftValue": "={{ $json.EMPRESA }}",
                      "rightValue": "GASPAR",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "GASPAR"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "ad9b11c9-6a0b-4952-8fe3-97928ad294e2",
                      "leftValue": "={{ $json.EMPRESA }}",
                      "rightValue": "ACG",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "ACG"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.EMPRESA }}",
                      "rightValue": "MDG",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "MDG"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -380,
          1280
        ],
        "id": "1a422850-3af6-4ba2-922a-6cad0a31a376",
        "name": "Separa Empresa"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1b01cdf0-0c06-46e2-873e-d8d931ce3c13",
                "name": "USUARIO",
                "value": "={{ $('Separa Empresa').item.json.USUARIO }}",
                "type": "string"
              },
              {
                "id": "e359c01b-9003-42e7-8949-892230ad0d17",
                "name": "CPF",
                "value": "={{ $('Separa Empresa').item.json.CPF }}",
                "type": "string"
              },
              {
                "id": "5f34780e-43a8-4728-9a1b-6919d5188a04",
                "name": "NOME",
                "value": "={{ $('Separa Empresa').item.json.NOME.toUpperCase() }}",
                "type": "string"
              },
              {
                "id": "01875bee-ba27-4b7f-a63f-111ad758aae6",
                "name": "EMPRESA",
                "value": "={{ $('Separa Empresa').item.json.EMPRESA }}",
                "type": "string"
              },
              {
                "id": "26ca6250-33f0-4b88-8201-0f1df0387c12",
                "name": "Email",
                "value": "={{ $('Separa Empresa').item.json.Email }}",
                "type": "string"
              },
              {
                "id": "08ebe54f-9835-4a7c-af43-5ef90986238a",
                "name": "First Name",
                "value": "={{ $('Separa Empresa').item.json.NOME.toUpperCase().split(\" \").slice(0, 3).join(\" \") + \" \" }}",
                "type": "string"
              },
              {
                "id": "c8dcb954-f5d8-42f4-865a-ced2132f0ffe",
                "name": "Last Name",
                "value": "={{ $('Separa Empresa').item.json.NOME.split(\" \").last().toUpperCase() }}",
                "type": "string"
              },
              {
                "id": "f017c604-7930-490e-8937-aee0f311a308",
                "name": "TELEFONE",
                "value": "={{ $('Separa Empresa').item.json.TELEFONE.replace('-',' ').replaceAll(' ','') }}",
                "type": "string"
              },
              {
                "id": "c5b727e9-f63b-4a4d-abcf-7d6768279082",
                "name": "CARGO",
                "value": "={{$('Separa Empresa').item.json.CARGO.toUpperCase() }}",
                "type": "string"
              },
              {
                "id": "42eab159-20bd-4159-9a6e-12de95bfcb22",
                "name": "senhaPadrao",
                "value": "={{$('Separa Empresa').item.json.senhaPadrao }}",
                "type": "string"
              },
              {
                "id": "f56cdc53-f444-47ca-b18c-90fed13387fc",
                "name": "ID",
                "value": "={{$('Separa Empresa').item.json.ID }}",
                "type": "string"
              },
              {
                "id": "d33eff32-af91-461c-8671-894208d726e4",
                "name": "TITULO",
                "value": "={{$('Separa Empresa').item.json.TITULO.toUpperCase() }}",
                "type": "string"
              },
              {
                "id": "051f531f-751e-4bc8-80d9-8382e88a8066",
                "name": "URL",
                "value": "={{$('Separa Empresa').item.json.URL }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          660,
          2340
        ],
        "id": "a2581fe4-a1fd-4196-8e90-10f674041ae4",
        "name": "MDG Parametros"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1b01cdf0-0c06-46e2-873e-d8d931ce3c13",
                "name": "USUARIO",
                "value": "={{ $('Separa Empresa').item.json.USUARIO }}",
                "type": "string"
              },
              {
                "id": "e359c01b-9003-42e7-8949-892230ad0d17",
                "name": "CPF",
                "value": "={{ $('Separa Empresa').item.json.CPF }}",
                "type": "string"
              },
              {
                "id": "5f34780e-43a8-4728-9a1b-6919d5188a04",
                "name": "NOME",
                "value": "={{ $('Separa Empresa').item.json.NOME.toUpperCase() }}",
                "type": "string"
              },
              {
                "id": "01875bee-ba27-4b7f-a63f-111ad758aae6",
                "name": "EMPRESA",
                "value": "={{ $('Separa Empresa').item.json.EMPRESA }}",
                "type": "string"
              },
              {
                "id": "26ca6250-33f0-4b88-8201-0f1df0387c12",
                "name": "Email",
                "value": "={{ $('Separa Empresa').item.json.Email }}",
                "type": "string"
              },
              {
                "id": "08ebe54f-9835-4a7c-af43-5ef90986238a",
                "name": "First Name",
                "value": "={{ $('Separa Empresa').item.json.NOME.toUpperCase().split(\" \").slice(0, 3).join(\" \") + \" \" }}",
                "type": "string"
              },
              {
                "id": "c8dcb954-f5d8-42f4-865a-ced2132f0ffe",
                "name": "Last Name",
                "value": "={{ $('Separa Empresa').item.json.NOME.split(\" \").last().toUpperCase() }}",
                "type": "string"
              },
              {
                "id": "f017c604-7930-490e-8937-aee0f311a308",
                "name": "TELEFONE",
                "value": "={{ $('Separa Empresa').item.json.TELEFONE.replace('-',' ').replaceAll(' ','') }}",
                "type": "string"
              },
              {
                "id": "c5b727e9-f63b-4a4d-abcf-7d6768279082",
                "name": "CARGO",
                "value": "={{$('Separa Empresa').item.json.CARGO.toUpperCase() }}",
                "type": "string"
              },
              {
                "id": "42eab159-20bd-4159-9a6e-12de95bfcb22",
                "name": "senhaPadrao",
                "value": "={{$('Separa Empresa').item.json.senhaPadrao }}",
                "type": "string"
              },
              {
                "id": "f56cdc53-f444-47ca-b18c-90fed13387fc",
                "name": "ID",
                "value": "={{$('Separa Empresa').item.json.ID.toUpperCase() }}",
                "type": "string"
              },
              {
                "id": "d33eff32-af91-461c-8671-894208d726e4",
                "name": "TITULO",
                "value": "={{$('Separa Empresa').item.json.TITULO.toUpperCase() }}",
                "type": "string"
              },
              {
                "id": "051f531f-751e-4bc8-80d9-8382e88a8066",
                "name": "URL",
                "value": "={{$('Separa Empresa').item.json.URL }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          700,
          520
        ],
        "id": "16e2740f-00ed-4fc6-b038-5ead29b574ff",
        "name": "Gaspar Parametros"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1b01cdf0-0c06-46e2-873e-d8d931ce3c13",
                "name": "USUARIO",
                "value": "={{ $('Separa Empresa').item.json.USUARIO }}",
                "type": "string"
              },
              {
                "id": "e359c01b-9003-42e7-8949-892230ad0d17",
                "name": "CPF",
                "value": "={{ $('Separa Empresa').item.json.CPF }}",
                "type": "string"
              },
              {
                "id": "5f34780e-43a8-4728-9a1b-6919d5188a04",
                "name": "NOME",
                "value": "={{ $('Separa Empresa').item.json.NOME.toUpperCase() }}",
                "type": "string"
              },
              {
                "id": "01875bee-ba27-4b7f-a63f-111ad758aae6",
                "name": "EMPRESA",
                "value": "={{ $('Separa Empresa').item.json.EMPRESA }}",
                "type": "string"
              },
              {
                "id": "26ca6250-33f0-4b88-8201-0f1df0387c12",
                "name": "Email",
                "value": "={{ $('Separa Empresa').item.json.Email }}",
                "type": "string"
              },
              {
                "id": "08ebe54f-9835-4a7c-af43-5ef90986238a",
                "name": "First Name",
                "value": "={{ $('Separa Empresa').item.json.NOME.toUpperCase().split(\" \").slice(0, 3).join(\" \") + \" \" }}",
                "type": "string"
              },
              {
                "id": "c8dcb954-f5d8-42f4-865a-ced2132f0ffe",
                "name": "Last Name",
                "value": "={{ $('Separa Empresa').item.json.NOME.split(\" \").last().toUpperCase() }}",
                "type": "string"
              },
              {
                "id": "f017c604-7930-490e-8937-aee0f311a308",
                "name": "TELEFONE",
                "value": "={{ $('Separa Empresa').item.json.TELEFONE.replace('-',' ').replaceAll(' ','') }}",
                "type": "string"
              },
              {
                "id": "c5b727e9-f63b-4a4d-abcf-7d6768279082",
                "name": "CARGO",
                "value": "={{$('Separa Empresa').item.json.CARGO.toUpperCase() }}",
                "type": "string"
              },
              {
                "id": "42eab159-20bd-4159-9a6e-12de95bfcb22",
                "name": "senhaPadrao",
                "value": "={{$('Separa Empresa').item.json.senhaPadrao }}",
                "type": "string"
              },
              {
                "id": "f56cdc53-f444-47ca-b18c-90fed13387fc",
                "name": "ID",
                "value": "={{$('Separa Empresa').item.json.ID}}",
                "type": "string"
              },
              {
                "id": "d33eff32-af91-461c-8671-894208d726e4",
                "name": "TITULO",
                "value": "={{$('Separa Empresa').item.json.TITULO }}",
                "type": "string"
              },
              {
                "id": "051f531f-751e-4bc8-80d9-8382e88a8066",
                "name": "URL",
                "value": "={{$('Separa Empresa').item.json.URL }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          700,
          1260
        ],
        "id": "0ea20325-0646-486a-90fb-198bbb53c7ff",
        "name": "ACG Parametros"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -600,
          1280
        ],
        "id": "fc9cfb6e-9a20-42e0-8003-dfb8f149f16b",
        "name": "Workflow Input Trigger"
      }
    ],
    "connections": {
      "Cria Usuário AD": {
        "main": [
          [
            {
              "node": "Execute Command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Command": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 1
            }
          ],
          [
            {
              "node": "ATUALIZA USUARIO GASPAR",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GASPAR1": {
        "main": [
          [
            {
              "node": "adicionaGruposADAgente",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "CoodernadorGruposAD",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "GerenteGruposAD",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "LiderGruposAD",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge2": {
        "main": [
          [
            {
              "node": "GASPAR1",
              "type": "main",
              "index": 0
            },
            {
              "node": "MergeFiim",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "adicionaGruposADAgente": {
        "main": [
          [
            {
              "node": "Move Usuario AD Agente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Move Usuario AD Gerente": {
        "main": [
          []
        ]
      },
      "Move Usuario AD Coordenador": {
        "main": [
          []
        ]
      },
      "Move Usuario AD Agente": {
        "main": [
          []
        ]
      },
      "Cria Usuário AD1": {
        "main": [
          [
            {
              "node": "Execute Command2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Command2": {
        "main": [
          [
            {
              "node": "Merge4",
              "type": "main",
              "index": 1
            }
          ],
          [
            {
              "node": "ATUALIZA USUARIO MDG1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge4": {
        "main": [
          [
            {
              "node": "ACG1",
              "type": "main",
              "index": 0
            },
            {
              "node": "MergeFiim",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Move Usuario AD Gerente1": {
        "main": [
          []
        ]
      },
      "Move Usuario AD Agente1": {
        "main": [
          []
        ]
      },
      "ACG1": {
        "main": [
          [
            {
              "node": "ConsultorGruposAdd",
              "type": "main",
              "index": 0
            }
          ],
          [],
          [
            {
              "node": "GerentePrecaGruposAdd",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "BKOcomercialGruposAD",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AgenteComercialGruposAD",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "LiderGruposAD1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "CoordenadorComercialGruposAD2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ConsultorGruposAdd": {
        "main": [
          [
            {
              "node": "Move Usuario AD Agente1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GerentePrecaGruposAdd": {
        "main": [
          [
            {
              "node": "Move Usuario AD Gerente1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CoodernadorGruposAD": {
        "main": [
          [
            {
              "node": "Move Usuario AD Coordenador",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GerenteGruposAD": {
        "main": [
          [
            {
              "node": "Move Usuario AD Gerente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Move Usuario AD Agente2": {
        "main": [
          []
        ]
      },
      "LiderGruposAD": {
        "main": [
          [
            {
              "node": "Move Usuario AD Agente2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "BKOcomercialGruposAD": {
        "main": [
          [
            {
              "node": "Move Usuario AD",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Move Usuario AD": {
        "main": [
          []
        ]
      },
      "Move Usuario AD Agente3": {
        "main": [
          []
        ]
      },
      "AgenteComercialGruposAD": {
        "main": [
          [
            {
              "node": "Move Usuario AD Agente3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Move Usuario AD Agente4": {
        "main": [
          []
        ]
      },
      "LiderGruposAD1": {
        "main": [
          [
            {
              "node": "Move Usuario AD Agente4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Move Usuario AD Agente5": {
        "main": [
          []
        ]
      },
      "CoordenadorComercialGruposAD2": {
        "main": [
          [
            {
              "node": "Move Usuario AD Agente5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cria Usuário AD2": {
        "main": [
          [
            {
              "node": "Execute Command3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Command3": {
        "main": [
          [
            {
              "node": "Merge6",
              "type": "main",
              "index": 1
            }
          ],
          [
            {
              "node": "ATUALIZA USUARIO MDG",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge6": {
        "main": [
          [
            {
              "node": "MDG1",
              "type": "main",
              "index": 0
            },
            {
              "node": "MergeFiim",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Move Usuario AD Agente7": {
        "main": [
          []
        ]
      },
      "AgenteComercialGruposAD1": {
        "main": [
          [
            {
              "node": "Move Usuario AD Agente7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Move Usuario AD Agente9": {
        "main": [
          []
        ]
      },
      "CoordenadorComercialGruposAD": {
        "main": [
          [
            {
              "node": "Move Usuario AD Agente9",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "BKOcomercialGruposAD1": {
        "main": [
          [
            {
              "node": "Move Usuario AD1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Move Usuario AD1": {
        "main": [
          []
        ]
      },
      "Move Usuario AD Agente6": {
        "main": [
          []
        ]
      },
      "LiderGruposAD3": {
        "main": [
          [
            {
              "node": "Move Usuario AD Agente6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "BKOcomercialGruposAD2": {
        "main": [
          [
            {
              "node": "Move Usuario AD2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Move Usuario AD2": {
        "main": [
          []
        ]
      },
      "Execute Command4": {
        "main": [
          [
            {
              "node": "ATIVA USUARIO MDG",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Command6": {
        "main": [
          [
            {
              "node": "Merge6",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Split Out1": {
        "main": [
          [
            {
              "node": "Execute Command6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MDG1": {
        "main": [
          [
            {
              "node": "BKOcomercialGruposAD1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AgenteComercialGruposAD1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "LiderGruposAD3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "CoordenadorComercialGruposAD",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "BKOcomercialGruposAD2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Command7": {
        "main": [
          [
            {
              "node": "ATIVA USURIO ACG",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Command8": {
        "main": [
          [
            {
              "node": "Merge4",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Split Out2": {
        "main": [
          [
            {
              "node": "Execute Command8",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ATUALIZA USUARIO MDG": {
        "main": [
          [
            {
              "node": "Execute Command4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ATIVA USUARIO MDG": {
        "main": [
          [
            {
              "node": "Split Out1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ATIVA USURIO ACG": {
        "main": [
          [
            {
              "node": "Split Out2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ATUALIZA USUARIO MDG1": {
        "main": [
          [
            {
              "node": "Execute Command7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Command9": {
        "main": [
          [
            {
              "node": "ATIVA USURIO GASPAR",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Command10": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Split Out3": {
        "main": [
          [
            {
              "node": "Execute Command10",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ATUALIZA USUARIO GASPAR": {
        "main": [
          [
            {
              "node": "Execute Command9",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ATIVA USURIO GASPAR": {
        "main": [
          [
            {
              "node": "Split Out3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MergeFiim": {
        "main": [
          [
            {
              "node": "DadosFim",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DadosFim": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "InformTiAdmitidos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "InformTiAdmitidos": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Separa Empresa": {
        "main": [
          [
            {
              "node": "Gaspar Parametros",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "ACG Parametros",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "MDG Parametros",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MDG Parametros": {
        "main": [
          [
            {
              "node": "Cria Usuário AD2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gaspar Parametros": {
        "main": [
          [
            {
              "node": "Cria Usuário AD",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ACG Parametros": {
        "main": [
          [
            {
              "node": "Merge4",
              "type": "main",
              "index": 0
            },
            {
              "node": "Cria Usuário AD1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Workflow Input Trigger": {
        "main": [
          []
        ]
      }
    },
    "nodeGroups": [],
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2024-11-07T12:25:14.506Z",
      "createdAt": "2024-11-07T12:25:14.506Z",
      "id": "o0b1eCtfXeRfItda",
      "name": "Gestão Acesso"
    }
  ]
}