Saque_Complementar/JvvTyZk8cx6S25xH.json
{
  "updatedAt": "2025-11-11T17:44:42.333Z",
  "createdAt": "2025-05-23T13:11:37.955Z",
  "id": "JvvTyZk8cx6S25xH",
  "name": "Simulação - BMG SIMULA PARCELA COMPLEMENTAR",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f83ab9ac-57d2-471c-9156-fbecd4cca128",
              "name": "login",
              "value": "robo.54873",
              "type": "string"
            },
            {
              "id": "c88f03dd-1f83-42d2-baa2-d3c47d1f3694",
              "name": "senha",
              "value": "Cosmo@002",
              "type": "string"
            },
            {
              "id": "bae96078-ad32-4b68-be2b-5b0aa6285af1",
              "name": "loginConsig",
              "value": "MDG54873.DAYANESTE",
              "type": "string"
            },
            {
              "id": "4724c2b0-7e62-4601-8929-baf611283647",
              "name": "senhaConsig",
              "value": "Cosmo@003",
              "type": "string"
            },
            {
              "id": "c025f066-dbcf-484b-aad9-11547fce83f3",
              "name": "credilusToken",
              "value": "kDSgE9KhSkkXk0WQkA0FU1f6VQ6N6g0Olvxl0Byhb1b6280f",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        -3216
      ],
      "id": "ac945593-2116-4dee-bb71-b9bae0fb0ba1",
      "name": "Credentials"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2526609-1d42-4bb4-a5a3-f2d9f01277cb",
              "name": "codigoEntidade",
              "value": 1581,
              "type": "number"
            },
            {
              "id": "38fcdfd9-b012-4b18-a55e-9224cb28c6d1",
              "name": "valorSaqueMaximo",
              "value": "={{ $('Merge1').item.json.query }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -3216
      ],
      "id": "152a6b8c-c701-453c-b99b-bff84a9c4c27",
      "name": "Get Body"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ws1.bmgconsig.com.br/webservices/SaqueComplementar",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/xml",
        "body": "=<soapenv:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:web=\"http://webservice.econsig.bmg.com\">\n   <soapenv:Header/>\n   <soapenv:Body>\n      <web:buscarSimulacao soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\">\n         <param xsi:type=\"web:SimulacaoCartaoParameter\">\n            <login xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">{{ $('Credentials').item.json.login }}</login>\n            <senha xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">{{ $('Credentials').item.json.senha }}</senha>\n            <codigoEntidade xsi:type=\"xsd:int\">{{ $json.codigoEntidade }}</codigoEntidade>\n            <valorSaque xsi:type=\"xsd:double\">{{ $json.valorSaqueMaximo }}</valorSaque>\n         </param>\n      </web:buscarSimulacao>\n   </soapenv:Body>\n</soapenv:Envelope>",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        -3216
      ],
      "id": "99310312-bf56-4da4-9639-1e2686e07740",
      "name": "Buscar Simulação",
      "executeOnce": false,
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        560,
        -3248
      ],
      "id": "77ec43b9-0457-440c-819f-ed4207ad829d",
      "name": "XML Buscar Simulação"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"numeroParcelas\":  {{ $json['soapenv:Envelope']['soapenv:Body']['ns1:buscarSimulacaoResponse'].buscarSimulacaoReturn.buscarSimulacaoReturn.numeroParcelas._ }},\n  \"valorParcela\": {{ $json['soapenv:Envelope']['soapenv:Body']['ns1:buscarSimulacaoResponse'].buscarSimulacaoReturn.buscarSimulacaoReturn.valorParcela._ }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        -3216
      ],
      "id": "2df6fa14-3ea8-47ad-a22b-f66d6e46d466",
      "name": "Buscar Simulação Response"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        944,
        -3216
      ],
      "id": "d028e01b-d8e2-4cdb-8367-48b58c3adb9c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -704,
        -3168
      ],
      "id": "b324c554-71cb-4ba7-bdd2-621caac115cc",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "976dcc94-1f93-4d15-b862-d749a88113ab",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1056,
        -3344
      ],
      "id": "eec4f14d-427b-4416-abcf-28a9e2f11515",
      "name": "Webhook",
      "webhookId": "976dcc94-1f93-4d15-b862-d749a88113ab"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -400,
        -3216
      ],
      "id": "e04dba94-2121-4b0c-85c8-abca759f57e3",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1200,
        -3216
      ],
      "id": "84871c74-bc2d-48bf-a819-ab97d319670d",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "content": "## SIMULA PARCELA\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 460,
        "width": 1240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        -3376
      ],
      "typeVersion": 1,
      "id": "5cb8ed5a-55e4-4edf-b7b8-0abbc93b8be0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "// Pega o body como string\nlet raw = items[0].json.body;\n\n// Remove vírgula no final (caso exista)\nraw = raw.replace(/,\\s*}/, '}');\n\n// Converte de string para objeto JSON\nconst parsed = JSON.parse(raw);\n\n// Retorna o objeto limpo\nreturn [{ json: parsed }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        -3344
      ],
      "id": "171cf538-b755-429c-82d1-46ae9400141c",
      "name": "Code"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "cpf",
              "newKey": "query"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        -688,
        -3344
      ],
      "id": "e44a8ca5-3bed-4b5f-9d44-be2717bd4cb8",
      "name": "Rename Keys"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        -3488
      ],
      "id": "10c2feae-f977-411b-a529-a4438fabdd54",
      "name": "When clicking ‘Test workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## RECEBIMENTO DE DADOS \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 620,
        "width": 1240,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        -3504
      ],
      "typeVersion": 1,
      "id": "ebbda70c-de3d-429d-bcd9-69041b45e351",
      "name": "Sticky Note4"
    }
  ],
  "connections": {
    "Credentials": {
      "main": [
        [
          {
            "node": "Get Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Body": {
      "main": [
        [
          {
            "node": "Buscar Simulação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Simulação": {
      "main": [
        [
          {
            "node": "XML Buscar Simulação",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "XML Buscar Simulação": {
      "main": [
        [
          {
            "node": "Buscar Simulação Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Simulação Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 180
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.mdgintermediacoes.com.br",
            "scheme": "https",
            "server_port": "443",
            "remote_addr": "10.3.60.5",
            "connection": "Upgrade",
            "x-real-ip": "10.3.60.5",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "10.3.60.5",
            "x-forwarded-host": "n8n.mdgintermediacoes.com.br",
            "x-forwarded-port": "443",
            "content-length": "27",
            "content-type": "text/plain;charset=UTF-8",
            "accept": "*/*",
            "accept-language": "*",
            "sec-fetch-mode": "cors",
            "user-agent": "node",
            "accept-encoding": "br, gzip, deflate"
          },
          "params": {},
          "query": {},
          "body": "{\n  \"cpf\": \"29590620000\",\n}",
          "webhookUrl": "https://n8n.mdgintermediacoes.com.br/webhook/ef63825c-8ea1-4533-a20b-b5a5a19014b3",
          "executionMode": "production"
        }
      }
    ],
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "300"
        }
      }
    ]
  },
  "versionId": "785e99ca-734d-4a81-b625-2439f2dd89b8",
  "activeVersionId": "785e99ca-734d-4a81-b625-2439f2dd89b8",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-05-23T13:11:37.955Z",
      "createdAt": "2025-05-23T13:11:37.955Z",
      "role": "workflow:owner",
      "workflowId": "JvvTyZk8cx6S25xH",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-11-29T01:50:38.405Z",
    "createdAt": "2025-11-29T01:50:38.405Z",
    "versionId": "785e99ca-734d-4a81-b625-2439f2dd89b8",
    "workflowId": "JvvTyZk8cx6S25xH",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f83ab9ac-57d2-471c-9156-fbecd4cca128",
                "name": "login",
                "value": "robo.54873",
                "type": "string"
              },
              {
                "id": "c88f03dd-1f83-42d2-baa2-d3c47d1f3694",
                "name": "senha",
                "value": "Cosmo@002",
                "type": "string"
              },
              {
                "id": "bae96078-ad32-4b68-be2b-5b0aa6285af1",
                "name": "loginConsig",
                "value": "MDG54873.DAYANESTE",
                "type": "string"
              },
              {
                "id": "4724c2b0-7e62-4601-8929-baf611283647",
                "name": "senhaConsig",
                "value": "Cosmo@003",
                "type": "string"
              },
              {
                "id": "c025f066-dbcf-484b-aad9-11547fce83f3",
                "name": "credilusToken",
                "value": "kDSgE9KhSkkXk0WQkA0FU1f6VQ6N6g0Olvxl0Byhb1b6280f",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -176,
          -3216
        ],
        "id": "ac945593-2116-4dee-bb71-b9bae0fb0ba1",
        "name": "Credentials"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b2526609-1d42-4bb4-a5a3-f2d9f01277cb",
                "name": "codigoEntidade",
                "value": 1581,
                "type": "number"
              },
              {
                "id": "38fcdfd9-b012-4b18-a55e-9224cb28c6d1",
                "name": "valorSaqueMaximo",
                "value": "={{ $('Merge1').item.json.query }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          32,
          -3216
        ],
        "id": "152a6b8c-c701-453c-b99b-bff84a9c4c27",
        "name": "Get Body"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ws1.bmgconsig.com.br/webservices/SaqueComplementar",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/xml",
          "body": "=<soapenv:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:web=\"http://webservice.econsig.bmg.com\">\n   <soapenv:Header/>\n   <soapenv:Body>\n      <web:buscarSimulacao soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\">\n         <param xsi:type=\"web:SimulacaoCartaoParameter\">\n            <login xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">{{ $('Credentials').item.json.login }}</login>\n            <senha xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">{{ $('Credentials').item.json.senha }}</senha>\n            <codigoEntidade xsi:type=\"xsd:int\">{{ $json.codigoEntidade }}</codigoEntidade>\n            <valorSaque xsi:type=\"xsd:double\">{{ $json.valorSaqueMaximo }}</valorSaque>\n         </param>\n      </web:buscarSimulacao>\n   </soapenv:Body>\n</soapenv:Envelope>",
          "options": {
            "allowUnauthorizedCerts": true
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          352,
          -3216
        ],
        "id": "99310312-bf56-4da4-9639-1e2686e07740",
        "name": "Buscar Simulação",
        "executeOnce": false,
        "retryOnFail": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.xml",
        "typeVersion": 1,
        "position": [
          560,
          -3248
        ],
        "id": "77ec43b9-0457-440c-819f-ed4207ad829d",
        "name": "XML Buscar Simulação"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"numeroParcelas\":  {{ $json['soapenv:Envelope']['soapenv:Body']['ns1:buscarSimulacaoResponse'].buscarSimulacaoReturn.buscarSimulacaoReturn.numeroParcelas._ }},\n  \"valorParcela\": {{ $json['soapenv:Envelope']['soapenv:Body']['ns1:buscarSimulacaoResponse'].buscarSimulacaoReturn.buscarSimulacaoReturn.valorParcela._ }}\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          752,
          -3216
        ],
        "id": "2df6fa14-3ea8-47ad-a22b-f66d6e46d466",
        "name": "Buscar Simulação Response"
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.2,
        "position": [
          944,
          -3216
        ],
        "id": "d028e01b-d8e2-4cdb-8367-48b58c3adb9c",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -704,
          -3168
        ],
        "id": "b324c554-71cb-4ba7-bdd2-621caac115cc",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "976dcc94-1f93-4d15-b862-d749a88113ab",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -1056,
          -3344
        ],
        "id": "eec4f14d-427b-4416-abcf-28a9e2f11515",
        "name": "Webhook",
        "webhookId": "976dcc94-1f93-4d15-b862-d749a88113ab"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.1,
        "position": [
          -400,
          -3216
        ],
        "id": "e04dba94-2121-4b0c-85c8-abca759f57e3",
        "name": "Merge1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1200,
          -3216
        ],
        "id": "84871c74-bc2d-48bf-a819-ab97d319670d",
        "name": "No Operation, do nothing1"
      },
      {
        "parameters": {
          "content": "## SIMULA PARCELA\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 460,
          "width": 1240
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          272,
          -3376
        ],
        "typeVersion": 1,
        "id": "5cb8ed5a-55e4-4edf-b7b8-0abbc93b8be0",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "jsCode": "// Pega o body como string\nlet raw = items[0].json.body;\n\n// Remove vírgula no final (caso exista)\nraw = raw.replace(/,\\s*}/, '}');\n\n// Converte de string para objeto JSON\nconst parsed = JSON.parse(raw);\n\n// Retorna o objeto limpo\nreturn [{ json: parsed }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -864,
          -3344
        ],
        "id": "171cf538-b755-429c-82d1-46ae9400141c",
        "name": "Code"
      },
      {
        "parameters": {
          "keys": {
            "key": [
              {
                "currentKey": "cpf",
                "newKey": "query"
              }
            ]
          },
          "additionalOptions": {}
        },
        "type": "n8n-nodes-base.renameKeys",
        "typeVersion": 1,
        "position": [
          -688,
          -3344
        ],
        "id": "e44a8ca5-3bed-4b5f-9d44-be2717bd4cb8",
        "name": "Rename Keys"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -400,
          -3488
        ],
        "id": "10c2feae-f977-411b-a529-a4438fabdd54",
        "name": "When clicking ‘Test workflow’",
        "disabled": true
      },
      {
        "parameters": {
          "content": "## RECEBIMENTO DE DADOS \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 620,
          "width": 1240,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1088,
          -3504
        ],
        "typeVersion": 1,
        "id": "ebbda70c-de3d-429d-bcd9-69041b45e351",
        "name": "Sticky Note4"
      }
    ],
    "connections": {
      "Credentials": {
        "main": [
          [
            {
              "node": "Get Body",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Body": {
        "main": [
          [
            {
              "node": "Buscar Simulação",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Simulação": {
        "main": [
          [
            {
              "node": "XML Buscar Simulação",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "XML Buscar Simulação": {
        "main": [
          [
            {
              "node": "Buscar Simulação Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Simulação Response": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Credentials",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond to Webhook": {
        "main": [
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "Rename Keys",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Rename Keys": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Test workflow’": {
        "main": [
          [
            {
              "node": "Credentials",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2025-02-18T14:02:38.331Z",
      "createdAt": "2025-02-18T14:02:38.331Z",
      "id": "Bd8bdkbUuGWtSaFv",
      "name": "Saque Complementar"
    }
  ]
}