Saque_Complementar/t6L4FrTkaa1BEGiA.json
{
  "updatedAt": "2025-09-26T11:07:44.982Z",
  "createdAt": "2025-05-27T12:12:57.934Z",
  "id": "t6L4FrTkaa1BEGiA",
  "name": "Simulação - BMG SAQUE COMPLEMENTAR FULL",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f83ab9ac-57d2-471c-9156-fbecd4cca128",
              "name": "login",
              "value": "robo.54873",
              "type": "string"
            },
            {
              "id": "c88f03dd-1f83-42d2-baa2-d3c47d1f3694",
              "name": "senha",
              "value": "Cosmo@001",
              "type": "string"
            },
            {
              "id": "bae96078-ad32-4b68-be2b-5b0aa6285af1",
              "name": "loginConsig",
              "value": "MDG54873.DAYANESTE",
              "type": "string"
            },
            {
              "id": "4724c2b0-7e62-4601-8929-baf611283647",
              "name": "senhaConsig",
              "value": "Cosmo@003",
              "type": "string"
            },
            {
              "id": "c025f066-dbcf-484b-aad9-11547fce83f3",
              "name": "credilusToken",
              "value": "kDSgE9KhSkkXk0WQkA0FU1f6VQ6N6g0Olvxl0Byhb1b6280f",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -3264
      ],
      "id": "270ff48e-30f7-4219-acca-4f14cd8880a2",
      "name": "Credentials"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "63c1cd58-316d-40bd-8de4-a2a174a9fe39",
              "name": "CPF",
              "value": "={{ $('Merge1').item.json.cpf.padStart(11, 0) }}",
              "type": "string"
            },
            {
              "id": "b2526609-1d42-4bb4-a5a3-f2d9f01277cb",
              "name": "codigoEntidade",
              "value": "1581",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        -3264
      ],
      "id": "f45153d6-cba0-4ecb-848c-93ee31cb460d",
      "name": "Get Body"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ws1.bmgconsig.com.br/webservices/SaqueComplementar",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/xml",
        "body": "=<soapenv:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:web=\"http://webservice.econsig.bmg.com\">\n   <soapenv:Header/>\n   <soapenv:Body>\n      <web:buscarCartoesDisponiveis soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\">\n         <param xsi:type=\"web:CartaoDisponivelParameter\">\n            <login xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">{{ $('Credentials').item.json.login }}</login>\n            <senha xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">{{ $('Credentials').item.json.senha }}</senha>\n            <codigoEntidade xsi:type=\"xsd:int\">{{ $('Get Body').item.json.codigoEntidade }}</codigoEntidade>\n            <cpf xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">{{ $('Get Body').item.json.CPF }}</cpf>\n         </param>\n      </web:buscarCartoesDisponiveis>\n   </soapenv:Body>\n</soapenv:Envelope>",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        -3280
      ],
      "id": "1ce6c0a9-09d2-4213-8c9f-92ed6404dca8",
      "name": "Buscar Cartoes Disponiveis",
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1520,
        -3264
      ],
      "id": "d5ba34ef-6098-4273-a39a-06f3a6624ec1",
      "name": "XML Buscar Cartões Disponíveis"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ws1.bmgconsig.com.br/webservices/SaqueComplementar",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/xml",
        "body": "=<soapenv:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n    xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n    xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"\n    xmlns:web=\"http://webservice.econsig.bmg.com\">\n    <soapenv:Header />\n    <soapenv:Body>\n        <web:buscarLimiteSaque soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\">\n            <param xsi:type=\"web:DadosCartaoParameter\">\n                <login xsi:type=\"soapenc:string\"\n                    xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">{{ $('Credentials').item.json.login }}</login>\n                <senha xsi:type=\"soapenc:string\"\n                    xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">{{ $('Credentials').item.json.senha }}</senha>\n                <codigoEntidade xsi:type=\"xsd:int\">{{ $('Buscar Cartões Disponíveis Response').item.json.entidade }}</codigoEntidade>\n                <cpf xsi:type=\"soapenc:string\"\n                    xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">{{ $('Get Body').item.json.CPF }}</cpf>\n                <matricula xsi:type=\"soapenc:string\"\n                    xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">{{ $('Buscar Cartões Disponíveis Response').item.json.matricula }}</matricula>\n                <numeroContaInterna xsi:type=\"xsd:long\">{{ $('Buscar Cartões Disponíveis Response').item.json.numeroContaInterna }}</numeroContaInterna>\n                <tipoSaque xsi:type=\"xsd:int\">{{ $('Buscar Cartões Disponíveis Response').item.json.modalidadeSaque == \"Parcelado\" ? 2 : 1 }}</tipoSaque>\n            </param>\n        </web:buscarLimiteSaque>\n    </soapenv:Body>\n</soapenv:Envelope>",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2384,
        -3280
      ],
      "id": "d9dd7b5c-f545-4db7-a780-b39476d01365",
      "name": "Buscar Limite Saque",
      "executeOnce": false,
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        2592,
        -3296
      ],
      "id": "85a1a9f3-885f-4210-99c6-a18503f97103",
      "name": "XML Buscar Limite Saque"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"limiteCartao\": {{ $json['soapenv:Envelope']['soapenv:Body']['ns1:buscarLimiteSaqueResponse'].buscarLimiteSaqueReturn.limiteCartao._ }},\n  \"limiteDisponivel\": {{ $json['soapenv:Envelope']['soapenv:Body']['ns1:buscarLimiteSaqueResponse'].buscarLimiteSaqueReturn.limiteDisponivel._ }},\n\"valorMargem\": {{ $json['soapenv:Envelope']['soapenv:Body']['ns1:buscarLimiteSaqueResponse'].buscarLimiteSaqueReturn.valorMargem._ }},\n\"valorSaqueMaximo\": {{ $json['soapenv:Envelope']['soapenv:Body']['ns1:buscarLimiteSaqueResponse'].buscarLimiteSaqueReturn.valorSaqueMaximo._ }},\n\"valorSaqueMinimo\": {{ $json['soapenv:Envelope']['soapenv:Body']['ns1:buscarLimiteSaqueResponse'].buscarLimiteSaqueReturn.valorSaqueMinimo._ }},\n\"valorSaqueParaMargemComplementarComAgregacaoDeMargem\":{{ $json['soapenv:Envelope']['soapenv:Body']['ns1:buscarLimiteSaqueResponse'].buscarLimiteSaqueReturn.valorSaqueParaMargemComplementarComAgregacaoDeMargem._ }},\n\"mensagemErro\": \"{{ $json['soapenv:Envelope']['soapenv:Body']['ns1:buscarLimiteSaqueResponse'].buscarLimiteSaqueReturn.mensagemDeErro._ }}\"\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2752,
        -3296
      ],
      "id": "20c05bfb-aae1-466f-8a12-1c839a648364",
      "name": "Buscar Limite Saque Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a083d6b1-b22e-455f-9713-f35c52ca49a8",
              "name": "cpfImpedidoComissionar",
              "value": "={{ $json.cpfImpedidoComissionar._ }}",
              "type": "boolean"
            },
            {
              "id": "69c48e07-1805-4d6e-a2ea-8f3fe54948b7",
              "name": "entidade",
              "value": "={{ $json.entidade._ }}",
              "type": "string"
            },
            {
              "id": "d03bac7e-2501-4390-9b18-4e5c2e68c031",
              "name": "liberado",
              "value": "={{ $json.liberado._ }}",
              "type": "boolean"
            },
            {
              "id": "450b5227-6d9b-4fda-bda5-9666a5a1fdf2",
              "name": "modalidadeSaque",
              "value": "={{ $json.modalidadeSaque._ === \"SaqueAutorizado (Rotativo)\" ? 1 : $json.modalidadeSaque._ === \"Parcelado\" ? 2 : 0 }}\n",
              "type": "number"
            },
            {
              "id": "2adae826-b59a-44cb-93f0-ddd40f8e22a1",
              "name": "numeroAdesao",
              "value": "={{ $json.numeroAdesao._ }}",
              "type": "string"
            },
            {
              "id": "4ee5a041-d573-49c9-9b77-55d08fcb698d",
              "name": "numeroCartao",
              "value": "={{ $json.numeroCartao._ }}",
              "type": "string"
            },
            {
              "id": "c8bb2965-0846-40a6-b8a0-c4a3e8316ba8",
              "name": "numeroContaInterna",
              "value": "={{ $json.numeroContaInterna._ }}",
              "type": "string"
            },
            {
              "id": "b82b942f-8582-446b-a087-6fbe1d9ded98",
              "name": "mensagemImpedimento",
              "value": "={{ $json.mensagemImpedimento._ }}",
              "type": "string"
            },
            {
              "id": "4f3ff8fd-889f-48b9-a7d3-e9c2eba23ea2",
              "name": "matricula",
              "value": "={{ $json.matricula._ }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1888,
        -3264
      ],
      "id": "639d2cc0-21da-465d-9165-d7932314571a",
      "name": "Buscar Cartões Disponíveis Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ws1.bmgconsig.com.br/webservices/SaqueComplementar",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/xml",
        "body": "=<soapenv:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:web=\"http://webservice.econsig.bmg.com\">\n   <soapenv:Header/>\n   <soapenv:Body>\n      <web:buscarSimulacao soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\">\n         <param xsi:type=\"web:SimulacaoCartaoParameter\">\n            <login xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">{{ $('Credentials').item.json.login }}</login>\n            <senha xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">{{ $('Credentials').item.json.senha }}</senha>\n            <codigoEntidade xsi:type=\"xsd:int\">1581</codigoEntidade>\n            <valorSaque xsi:type=\"xsd:double\">{{ $('Buscar Limite Saque Response').item.json.valorSaqueMaximo }}</valorSaque>\n         </param>\n      </web:buscarSimulacao>\n   </soapenv:Body>\n</soapenv:Envelope>",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3136,
        -3296
      ],
      "id": "5c52916d-1d2e-4de8-a95a-a17092586b7a",
      "name": "Buscar Simulação",
      "executeOnce": false,
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        3344,
        -3296
      ],
      "id": "602f0282-03f9-4010-be47-a60671640c29",
      "name": "XML Buscar Simulação"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"numeroParcelas\":  {{ $json['soapenv:Envelope']['soapenv:Body']['ns1:buscarSimulacaoResponse'].buscarSimulacaoReturn.buscarSimulacaoReturn.numeroParcelas._ }},\n  \"valorParcela\": {{ $json['soapenv:Envelope']['soapenv:Body']['ns1:buscarSimulacaoResponse'].buscarSimulacaoReturn.buscarSimulacaoReturn.valorParcela._ }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3600,
        -3296
      ],
      "id": "00a3e480-755b-4965-a909-262cc38b5bed",
      "name": "Buscar Simulação Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37b5b7bd-8f97-4c45-9c99-a75e8009b90a",
              "leftValue": "={{ $items('Buscar Cartões Disponíveis Response').length  }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2080,
        -3264
      ],
      "id": "b7eeaec1-f10d-4131-be45-681a2d84330e",
      "name": "Tem impedimento"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9c429913-f1cc-4bfe-af39-293acb5de6fb",
              "leftValue": "={{ $json.mensagemErro }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "6fa74e12-6071-4dda-993a-16e3978f7a5d",
              "leftValue": "={{ $json.mensagemErro }}",
              "rightValue": "undefined",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2912,
        -3296
      ],
      "id": "83ddf361-17ac-473e-b689-b64a6b96b48e",
      "name": "Restrição Limite Saque"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "838f35ef-ec7a-404c-9b76-c4ed5808e3d2",
              "leftValue": "={{ $('Buscar Limite Saque Response').item.json.valorSaqueMaximo }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3760,
        -3296
      ],
      "id": "115d6dce-815c-4e8b-a28c-730ef6f63cdf",
      "name": "Tem saque"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"message\": \"Falha ao realizar digitação\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1968,
        -880
      ],
      "id": "05e76248-c842-4ba6-9617-be12667f7985",
      "name": "Falha na digitação"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f76ea07-3184-4296-a03f-d73b8507d67c",
              "name": "status_code",
              "value": "400",
              "type": "string"
            },
            {
              "id": "39dcf00f-b81a-4e45-a75b-5d2d84401dd7",
              "name": "step",
              "value": "Buscar Cartões Disponíveis impedimento",
              "type": "string"
            },
            {
              "id": "930a948a-480a-4a71-a30d-395d2a29f284",
              "name": "message",
              "value": "Há alguns impedimentos nesse item",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        -1856
      ],
      "id": "dfefabf7-4e1b-491d-a268-08f3fc6a3950",
      "name": "Responde com mensagem de impedimento1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f54023ce-e41d-4af2-99ef-ac1d12bd0f17",
              "name": "status_code",
              "value": "400",
              "type": "string"
            },
            {
              "id": "60a4d955-2c52-4805-9ce8-9dc9a2ff17e0",
              "name": "step",
              "value": "Buscar Limite Saque com restrição de saque",
              "type": "string"
            },
            {
              "id": "d8f6bd24-4b87-4409-8e2b-f0894658019b",
              "name": "message",
              "value": "={{ $json.mensagemErro }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        -1440
      ],
      "id": "06b63269-80d2-4a51-a43c-5a826815a7b3",
      "name": "Responde se ha restrição no saque1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0e411ce-e80a-4f13-8c24-fe418e27f670",
              "name": "status_code",
              "value": "400",
              "type": "string"
            },
            {
              "id": "65a91fec-60a1-487e-97bd-535ea293b66c",
              "name": "step",
              "value": "Buscar Cartões Disponíveis",
              "type": "string"
            },
            {
              "id": "6717365f-697d-4670-a00b-b448e9fbc161",
              "name": "message",
              "value": "= {{ JSON.stringify($json.error.message) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        -2064
      ],
      "id": "b0a5712b-56cf-4edf-a639-088a5f45f1ad",
      "name": "On Error Buscar  Cartões Disponíveis1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "48d1788a-bc06-472d-8c7f-948b0d18ff47",
              "name": "status_code",
              "value": "400",
              "type": "string"
            },
            {
              "id": "323b2d87-dcb6-4c45-91e2-03ee1fbc44d4",
              "name": "step",
              "value": "Buscar Limite Saque",
              "type": "string"
            },
            {
              "id": "1353e79a-b7aa-47f4-a65c-0f2e3cf41c75",
              "name": "message",
              "value": "={{ JSON.stringify($json.error.message) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        -1648
      ],
      "id": "cfd38737-77ea-4f4e-9b8f-2f6e0387e075",
      "name": "On Error Buscar Limite Saque1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ac3a69c-cb65-4a39-b00c-31aab3907557",
              "name": "status_code",
              "value": "400",
              "type": "string"
            },
            {
              "id": "5b2efb96-3df2-4d59-916a-75d6574c01c5",
              "name": "step",
              "value": " Buscar Simulação",
              "type": "string"
            },
            {
              "id": "1353e79a-b7aa-47f4-a65c-0f2e3cf41c75",
              "name": " message",
              "value": "={{ JSON.stringify($json.error.message) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        -1264
      ],
      "id": "784121fe-cd1d-43e7-943b-b573d9edbc86",
      "name": "On Error Buscar Simulação1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "376b7752-d407-461d-a1aa-a128c47bfa80",
              "name": "status_code",
              "value": "400",
              "type": "string"
            },
            {
              "id": "3ff6a849-1c5a-4053-ad24-1053f64569d5",
              "name": "step",
              "value": "Sem limite de saque",
              "type": "string"
            },
            {
              "id": "1353e79a-b7aa-47f4-a65c-0f2e3cf41c75",
              "name": "message",
              "value": "Sem limite de saque",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        -1088
      ],
      "id": "86c25277-3110-49c7-ad21-950cca205e07",
      "name": "Responde sem limite de saque1"
    },
    {
      "parameters": {
        "numberInputs": 8
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5440,
        -2224
      ],
      "id": "94beca8c-86f1-4046-8b12-c1c25cfe0fb5",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1948883-42d8-4746-b557-c3731300a492",
              "name": "status_code",
              "value": "400",
              "type": "string"
            },
            {
              "id": "0fe11459-4583-4176-b692-37054bcb8c6c",
              "name": "step",
              "value": "Verificação de CPF e type_digitation",
              "type": "string"
            },
            {
              "id": "4da9d51b-8166-4774-ba46-fc886aeef891",
              "name": "message",
              "value": "Favor informar o CPF e type_digitation",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        -2240
      ],
      "id": "8688e02e-7f7d-4774-baac-60c25a44a7a8",
      "name": "Field Verification1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5776,
        -2128
      ],
      "id": "dfe6fc03-41fe-4055-8744-368c3fd616dc",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "message",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        5600,
        -2128
      ],
      "id": "60426e87-a6cf-4588-baf3-9539a481ad1f",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n    const caminho = item.json[\"soapenv:Envelope\"][\"soapenv:Body\"][\"ns1:buscarCartoesDisponiveisResponse\"]\n        .buscarCartoesDisponiveisReturn.cartoesRetorno.cartoesRetorno;\n    \n    return Array.isArray(caminho) ? caminho.map(c => ({ json: c })) : [{ json: caminho }];\n}).flat();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        -3264
      ],
      "id": "bc35e9c6-b4d6-41bb-b42f-f4c0ff2aac17",
      "name": "Dividir Cartões"
    },
    {
      "parameters": {
        "content": "## ERROS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 1620,
        "width": 840,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        -2304
      ],
      "typeVersion": 1,
      "id": "f1f6aacd-0767-4256-bded-bb9e2ff04379",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        4848,
        -3296
      ],
      "id": "67bd903b-18bd-4c6d-b737-9d81b4d309e9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "cpf"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        64,
        -3136
      ],
      "id": "5bc77761-13dd-4857-8bfe-f06ada2c2847",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        6112,
        -2128
      ],
      "id": "83b5849e-bda9-45d7-9841-2baddb93f97c",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "07245977-0c63-4f9b-a69e-c350438ecc9d",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -144,
        -3344
      ],
      "id": "9ab2fca9-f65a-4574-aa36-29dc080e15dd",
      "name": "Webhook",
      "webhookId": "07245977-0c63-4f9b-a69e-c350438ecc9d"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        480,
        -3264
      ],
      "id": "db28fdca-c299-4e9b-9d99-f60e6de3cc8e",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        6336,
        -2128
      ],
      "id": "2a5f2ea3-4d54-45ab-b340-5d1698cc79c2",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5024,
        -3296
      ],
      "id": "40fe6d2f-f0ca-4724-b309-8aed9aa3d870",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "content": "## SIMULA PARCELA\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 460,
        "width": 1176
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2304,
        -3424
      ],
      "typeVersion": 1,
      "id": "0e0bc1b0-03cb-4a2b-93a4-f119188bc3af",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## BUSCA LIMITE SAQUE\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 440,
        "width": 780
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1488,
        -3408
      ],
      "typeVersion": 1,
      "id": "a3502dda-e269-4af7-b998-24ae59f89faf",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## VERIFICA SE TEM CARTÃO \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 440,
        "width": 1052
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        -3408
      ],
      "typeVersion": 1,
      "id": "83f64d74-374c-4158-934a-08c6772d1e06",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "// Pega o body como string\nlet raw = items[0].json.body;\n\n// Remove vírgula no final (caso exista)\nraw = raw.replace(/,\\s*}/, '}');\n\n// Converte de string para objeto JSON\nconst parsed = JSON.parse(raw);\n\n// Retorna o objeto limpo\nreturn [{ json: parsed }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        -2624
      ],
      "id": "aa32400b-3694-47c3-b1f6-cdaa586ef911",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "## RECEBIMENTO DE DADOS \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 524,
        "width": 536,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        -3456
      ],
      "typeVersion": 1,
      "id": "dc867946-22ed-49c5-8edc-7792fe7cca25",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "matricula",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        4672,
        -3296
      ],
      "id": "5eb82eb0-536c-4f30-8e0a-f90b35bb4670",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b950827a-ec92-48a6-b9ba-ccf258fffd9c",
              "name": "CPF",
              "value": "={{ $('Get Body').item.json.CPF }}",
              "type": "string"
            },
            {
              "id": "ec4a2748-11ce-4dce-a745-ddc9555c7bc6",
              "name": "limiteDisponivel",
              "value": "={{ $('Buscar Limite Saque Response').item.json.valorSaqueMaximo }}",
              "type": "number"
            },
            {
              "id": "0e040c1d-d2d8-4934-95a2-70378be6a268",
              "name": "valorParcela",
              "value": "={{ $json.valorParcela }}",
              "type": "number"
            },
            {
              "id": "71f7f5ec-2d4d-4d9a-92f8-aef915c3c19e",
              "name": "numeroParcelas",
              "value": "={{ $json.numeroParcelas }}",
              "type": "number"
            },
            {
              "id": "57c3443b-3961-4d23-a51e-61e62baa77b3",
              "name": "entidade",
              "value": "={{ $('Buscar Cartões Disponíveis Response').item.json.entidade }}",
              "type": "string"
            },
            {
              "id": "28647ed0-ce07-4647-9475-148473b802f2",
              "name": "modalidadeSaque",
              "value": "={{ $('Buscar Cartões Disponíveis Response').item.json.modalidadeSaque }}",
              "type": "number"
            },
            {
              "id": "21636941-9379-4b1e-ab9b-461b3dc53876",
              "name": "numeroAdesao",
              "value": "={{ $('Buscar Cartões Disponíveis Response').item.json.numeroAdesao }}",
              "type": "string"
            },
            {
              "id": "58f062bf-b634-4a0a-9081-e526496537af",
              "name": "numeroContaInterna",
              "value": "={{ $('Buscar Cartões Disponíveis Response').item.json.numeroContaInterna }}",
              "type": "string"
            },
            {
              "id": "ab3462c6-fc5a-4a48-85f3-9c739aff23ef",
              "name": "matricula",
              "value": "={{ $('Buscar Cartões Disponíveis Response').item.json.matricula }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3952,
        -3312
      ],
      "id": "d5f55510-9b6e-4405-b26a-7c99752e2c5c",
      "name": "Edit Simula Parcela"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3acc68a-bda1-45f2-9ae5-f4aa295cabc5",
              "name": "matricula",
              "value": "={{ $json.payload.parseJson().Beneficiario.Beneficio }}",
              "type": "string"
            },
            {
              "id": "1c5d2b30-1acd-4f88-9d8e-a989f0e413e9",
              "name": "Banco",
              "value": "={{ $json.payload.parseJson().DadosBancarios.Banco }}",
              "type": "string"
            },
            {
              "id": "8f50faca-99ec-4e69-acf1-3ee28310d9eb",
              "name": "AgenciaPagto",
              "value": "={{ $json.payload.parseJson().DadosBancarios.AgenciaPagto }}",
              "type": "number"
            },
            {
              "id": "6ab90c1c-1d32-45b7-8208-bc06a1c1e521",
              "name": "ContaPagto",
              "value": "={{ $json.payload.parseJson().DadosBancarios.ContaPagto.slice(0, -1) }}\n",
              "type": "number"
            },
            {
              "id": "8eaabffa-73ba-4312-b788-505025ea1c05",
              "name": "digito",
              "value": "={{ $json.payload.parseJson().DadosBancarios.ContaPagto.slice(-1) }}\n",
              "type": "number"
            },
            {
              "id": "616fc97f-6493-48aa-a24c-56b58ed53bd0",
              "name": "MeioPagamento",
              "value": "={{ $json.payload.parseJson().DadosBancarios.MeioPagamento }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4368,
        -3200
      ],
      "id": "6b599e60-86fa-4636-b085-329c2b7bb653",
      "name": "Edit Dados Bancarios"
    },
    {
      "parameters": {
        "content": "## Dados Bncario NOVA ERA\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 440,
        "width": 1028
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3520,
        -3424
      ],
      "typeVersion": 1,
      "id": "d41b0103-1a1a-4c59-8222-a0b915db4f7a",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "oovu3JAJfaS4vYRF",
          "mode": "list",
          "cachedResultName": "Nova Era Retenção"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4160,
        -3200
      ],
      "id": "2c2147de-fac7-4b46-9172-36bde028f238",
      "name": "Execute Workflow Retenção Nova Era"
    },
    {
      "parameters": {
        "content": "## Responde dados ",
        "height": 320,
        "width": 576,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4592,
        -3424
      ],
      "typeVersion": 1,
      "id": "ba29183e-61fb-49ab-8946-786055d06e25",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aba06edc-411a-430b-a935-b30f1c752473",
              "name": "cpf",
              "value": "={{ $json.body.cpf }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -3344
      ],
      "id": "6aea985f-b1d7-44f3-8c34-a99eadb55688",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "263e0bbf-cd26-4164-840c-20a63d507ce0",
              "leftValue": "={{ $json.CPF }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1056,
        -3264
      ],
      "id": "fb206629-735e-4d83-a42c-e5488ae53214",
      "name": "Verifica campos cpf"
    }
  ],
  "connections": {
    "Credentials": {
      "main": [
        [
          {
            "node": "Get Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Body": {
      "main": [
        [
          {
            "node": "Verifica campos cpf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Cartoes Disponiveis": {
      "main": [
        [
          {
            "node": "XML Buscar Cartões Disponíveis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "On Error Buscar  Cartões Disponíveis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML Buscar Cartões Disponíveis": {
      "main": [
        [
          {
            "node": "Dividir Cartões",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Limite Saque": {
      "main": [
        [
          {
            "node": "XML Buscar Limite Saque",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "On Error Buscar Limite Saque1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML Buscar Limite Saque": {
      "main": [
        [
          {
            "node": "Buscar Limite Saque Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Cartões Disponíveis Response": {
      "main": [
        [
          {
            "node": "Tem impedimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Limite Saque Response": {
      "main": [
        [
          {
            "node": "Restrição Limite Saque",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Simulação": {
      "main": [
        [
          {
            "node": "XML Buscar Simulação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "On Error Buscar Simulação1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML Buscar Simulação": {
      "main": [
        [
          {
            "node": "Buscar Simulação Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Simulação Response": {
      "main": [
        [
          {
            "node": "Tem saque",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem impedimento": {
      "main": [
        [
          {
            "node": "Buscar Limite Saque",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responde com mensagem de impedimento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restrição Limite Saque": {
      "main": [
        [
          {
            "node": "Buscar Simulação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responde se ha restrição no saque1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem saque": {
      "main": [
        [
          {
            "node": "Edit Simula Parcela",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responde sem limite de saque1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Falha na digitação": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Responde com mensagem de impedimento1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Responde se ha restrição no saque1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "On Error Buscar  Cartões Disponíveis1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "On Error Buscar Limite Saque1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "On Error Buscar Simulação1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Responde sem limite de saque1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Field Verification1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dividir Cartões": {
      "main": [
        [
          {
            "node": "Buscar Cartões Disponíveis Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        []
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Simula Parcela": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Workflow Retenção Nova Era",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Dados Bancarios": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Execute Workflow Retenção Nova Era": {
      "main": [
        [
          {
            "node": "Edit Dados Bancarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica campos cpf": {
      "main": [
        [
          {
            "node": "Buscar Cartoes Disponiveis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Field Verification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 180
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.mdgintermediacoes.com.br",
            "scheme": "https",
            "server_port": "443",
            "remote_addr": "10.3.60.6",
            "connection": "Upgrade",
            "x-real-ip": "10.3.60.6",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "10.3.60.6",
            "x-forwarded-host": "n8n.mdgintermediacoes.com.br",
            "x-forwarded-port": "443",
            "content-length": "92",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "content-type": "application/json",
            "user-agent": "axios/1.8.3",
            "accept-encoding": "gzip, compress, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "cpf": 4131243474,
            "type_digitation": "simulation",
            "remoteJid": "5519981150857@s.whatsapp.net"
          },
          "webhookUrl": "https://n8n.mdgintermediacoes.com.br/webhook/07245977-0c63-4f9b-a69e-c350438ecc9d",
          "executionMode": "production"
        }
      }
    ],
    "When Executed by Another Workflow": [
      {
        "json": {
          "cpf": "958547890"
        }
      }
    ]
  },
  "versionId": "792266ea-4044-49eb-8a38-9b35b014a152",
  "activeVersionId": "792266ea-4044-49eb-8a38-9b35b014a152",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-05-27T12:12:57.934Z",
      "createdAt": "2025-05-27T12:12:57.934Z",
      "role": "workflow:owner",
      "workflowId": "t6L4FrTkaa1BEGiA",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-11-29T01:50:38.405Z",
    "createdAt": "2025-11-29T01:50:38.405Z",
    "versionId": "792266ea-4044-49eb-8a38-9b35b014a152",
    "workflowId": "t6L4FrTkaa1BEGiA",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f83ab9ac-57d2-471c-9156-fbecd4cca128",
                "name": "login",
                "value": "robo.54873",
                "type": "string"
              },
              {
                "id": "c88f03dd-1f83-42d2-baa2-d3c47d1f3694",
                "name": "senha",
                "value": "Cosmo@001",
                "type": "string"
              },
              {
                "id": "bae96078-ad32-4b68-be2b-5b0aa6285af1",
                "name": "loginConsig",
                "value": "MDG54873.DAYANESTE",
                "type": "string"
              },
              {
                "id": "4724c2b0-7e62-4601-8929-baf611283647",
                "name": "senhaConsig",
                "value": "Cosmo@003",
                "type": "string"
              },
              {
                "id": "c025f066-dbcf-484b-aad9-11547fce83f3",
                "name": "credilusToken",
                "value": "kDSgE9KhSkkXk0WQkA0FU1f6VQ6N6g0Olvxl0Byhb1b6280f",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          672,
          -3264
        ],
        "id": "270ff48e-30f7-4219-acca-4f14cd8880a2",
        "name": "Credentials"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "63c1cd58-316d-40bd-8de4-a2a174a9fe39",
                "name": "CPF",
                "value": "={{ $('Merge1').item.json.cpf.padStart(11, 0) }}",
                "type": "string"
              },
              {
                "id": "b2526609-1d42-4bb4-a5a3-f2d9f01277cb",
                "name": "codigoEntidade",
                "value": "1581",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          864,
          -3264
        ],
        "id": "f45153d6-cba0-4ecb-848c-93ee31cb460d",
        "name": "Get Body"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ws1.bmgconsig.com.br/webservices/SaqueComplementar",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/xml",
          "body": "=<soapenv:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:web=\"http://webservice.econsig.bmg.com\">\n   <soapenv:Header/>\n   <soapenv:Body>\n      <web:buscarCartoesDisponiveis soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\">\n         <param xsi:type=\"web:CartaoDisponivelParameter\">\n            <login xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">{{ $('Credentials').item.json.login }}</login>\n            <senha xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">{{ $('Credentials').item.json.senha }}</senha>\n            <codigoEntidade xsi:type=\"xsd:int\">{{ $('Get Body').item.json.codigoEntidade }}</codigoEntidade>\n            <cpf xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">{{ $('Get Body').item.json.CPF }}</cpf>\n         </param>\n      </web:buscarCartoesDisponiveis>\n   </soapenv:Body>\n</soapenv:Envelope>",
          "options": {
            "allowUnauthorizedCerts": true
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1264,
          -3280
        ],
        "id": "1ce6c0a9-09d2-4213-8c9f-92ed6404dca8",
        "name": "Buscar Cartoes Disponiveis",
        "executeOnce": false,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.xml",
        "typeVersion": 1,
        "position": [
          1520,
          -3264
        ],
        "id": "d5ba34ef-6098-4273-a39a-06f3a6624ec1",
        "name": "XML Buscar Cartões Disponíveis"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ws1.bmgconsig.com.br/webservices/SaqueComplementar",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "text/xml",
          "body": "=<soapenv:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n    xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n    xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"\n    xmlns:web=\"http://webservice.econsig.bmg.com\">\n    <soapenv:Header />\n    <soapenv:Body>\n        <web:buscarLimiteSaque soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\">\n            <param xsi:type=\"web:DadosCartaoParameter\">\n                <login xsi:type=\"soapenc:string\"\n                    xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">{{ $('Credentials').item.json.login }}</login>\n                <senha xsi:type=\"soapenc:string\"\n                    xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">{{ $('Credentials').item.json.senha }}</senha>\n                <codigoEntidade xsi:type=\"xsd:int\">{{ $('Buscar Cartões Disponíveis Response').item.json.entidade }}</codigoEntidade>\n                <cpf xsi:type=\"soapenc:string\"\n                    xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">{{ $('Get Body').item.json.CPF }}</cpf>\n                <matricula xsi:type=\"soapenc:string\"\n                    xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">{{ $('Buscar Cartões Disponíveis Response').item.json.matricula }}</matricula>\n                <numeroContaInterna xsi:type=\"xsd:long\">{{ $('Buscar Cartões Disponíveis Response').item.json.numeroContaInterna }}</numeroContaInterna>\n                <tipoSaque xsi:type=\"xsd:int\">{{ $('Buscar Cartões Disponíveis Response').item.json.modalidadeSaque == \"Parcelado\" ? 2 : 1 }}</tipoSaque>\n            </param>\n        </web:buscarLimiteSaque>\n    </soapenv:Body>\n</soapenv:Envelope>",
          "options": {
            "allowUnauthorizedCerts": true
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2384,
          -3280
        ],
        "id": "d9dd7b5c-f545-4db7-a780-b39476d01365",
        "name": "Buscar Limite Saque",
        "executeOnce": false,
        "retryOnFail": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.xml",
        "typeVersion": 1,
        "position": [
          2592,
          -3296
        ],
        "id": "85a1a9f3-885f-4210-99c6-a18503f97103",
        "name": "XML Buscar Limite Saque"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"limiteCartao\": {{ $json['soapenv:Envelope']['soapenv:Body']['ns1:buscarLimiteSaqueResponse'].buscarLimiteSaqueReturn.limiteCartao._ }},\n  \"limiteDisponivel\": {{ $json['soapenv:Envelope']['soapenv:Body']['ns1:buscarLimiteSaqueResponse'].buscarLimiteSaqueReturn.limiteDisponivel._ }},\n\"valorMargem\": {{ $json['soapenv:Envelope']['soapenv:Body']['ns1:buscarLimiteSaqueResponse'].buscarLimiteSaqueReturn.valorMargem._ }},\n\"valorSaqueMaximo\": {{ $json['soapenv:Envelope']['soapenv:Body']['ns1:buscarLimiteSaqueResponse'].buscarLimiteSaqueReturn.valorSaqueMaximo._ }},\n\"valorSaqueMinimo\": {{ $json['soapenv:Envelope']['soapenv:Body']['ns1:buscarLimiteSaqueResponse'].buscarLimiteSaqueReturn.valorSaqueMinimo._ }},\n\"valorSaqueParaMargemComplementarComAgregacaoDeMargem\":{{ $json['soapenv:Envelope']['soapenv:Body']['ns1:buscarLimiteSaqueResponse'].buscarLimiteSaqueReturn.valorSaqueParaMargemComplementarComAgregacaoDeMargem._ }},\n\"mensagemErro\": \"{{ $json['soapenv:Envelope']['soapenv:Body']['ns1:buscarLimiteSaqueResponse'].buscarLimiteSaqueReturn.mensagemDeErro._ }}\"\n}\n ",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2752,
          -3296
        ],
        "id": "20c05bfb-aae1-466f-8a12-1c839a648364",
        "name": "Buscar Limite Saque Response"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a083d6b1-b22e-455f-9713-f35c52ca49a8",
                "name": "cpfImpedidoComissionar",
                "value": "={{ $json.cpfImpedidoComissionar._ }}",
                "type": "boolean"
              },
              {
                "id": "69c48e07-1805-4d6e-a2ea-8f3fe54948b7",
                "name": "entidade",
                "value": "={{ $json.entidade._ }}",
                "type": "string"
              },
              {
                "id": "d03bac7e-2501-4390-9b18-4e5c2e68c031",
                "name": "liberado",
                "value": "={{ $json.liberado._ }}",
                "type": "boolean"
              },
              {
                "id": "450b5227-6d9b-4fda-bda5-9666a5a1fdf2",
                "name": "modalidadeSaque",
                "value": "={{ $json.modalidadeSaque._ === \"SaqueAutorizado (Rotativo)\" ? 1 : $json.modalidadeSaque._ === \"Parcelado\" ? 2 : 0 }}\n",
                "type": "number"
              },
              {
                "id": "2adae826-b59a-44cb-93f0-ddd40f8e22a1",
                "name": "numeroAdesao",
                "value": "={{ $json.numeroAdesao._ }}",
                "type": "string"
              },
              {
                "id": "4ee5a041-d573-49c9-9b77-55d08fcb698d",
                "name": "numeroCartao",
                "value": "={{ $json.numeroCartao._ }}",
                "type": "string"
              },
              {
                "id": "c8bb2965-0846-40a6-b8a0-c4a3e8316ba8",
                "name": "numeroContaInterna",
                "value": "={{ $json.numeroContaInterna._ }}",
                "type": "string"
              },
              {
                "id": "b82b942f-8582-446b-a087-6fbe1d9ded98",
                "name": "mensagemImpedimento",
                "value": "={{ $json.mensagemImpedimento._ }}",
                "type": "string"
              },
              {
                "id": "4f3ff8fd-889f-48b9-a7d3-e9c2eba23ea2",
                "name": "matricula",
                "value": "={{ $json.matricula._ }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1888,
          -3264
        ],
        "id": "639d2cc0-21da-465d-9165-d7932314571a",
        "name": "Buscar Cartões Disponíveis Response"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ws1.bmgconsig.com.br/webservices/SaqueComplementar",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/xml",
          "body": "=<soapenv:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:web=\"http://webservice.econsig.bmg.com\">\n   <soapenv:Header/>\n   <soapenv:Body>\n      <web:buscarSimulacao soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\">\n         <param xsi:type=\"web:SimulacaoCartaoParameter\">\n            <login xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">{{ $('Credentials').item.json.login }}</login>\n            <senha xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">{{ $('Credentials').item.json.senha }}</senha>\n            <codigoEntidade xsi:type=\"xsd:int\">1581</codigoEntidade>\n            <valorSaque xsi:type=\"xsd:double\">{{ $('Buscar Limite Saque Response').item.json.valorSaqueMaximo }}</valorSaque>\n         </param>\n      </web:buscarSimulacao>\n   </soapenv:Body>\n</soapenv:Envelope>",
          "options": {
            "allowUnauthorizedCerts": true
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3136,
          -3296
        ],
        "id": "5c52916d-1d2e-4de8-a95a-a17092586b7a",
        "name": "Buscar Simulação",
        "executeOnce": false,
        "retryOnFail": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.xml",
        "typeVersion": 1,
        "position": [
          3344,
          -3296
        ],
        "id": "602f0282-03f9-4010-be47-a60671640c29",
        "name": "XML Buscar Simulação"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"numeroParcelas\":  {{ $json['soapenv:Envelope']['soapenv:Body']['ns1:buscarSimulacaoResponse'].buscarSimulacaoReturn.buscarSimulacaoReturn.numeroParcelas._ }},\n  \"valorParcela\": {{ $json['soapenv:Envelope']['soapenv:Body']['ns1:buscarSimulacaoResponse'].buscarSimulacaoReturn.buscarSimulacaoReturn.valorParcela._ }}\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3600,
          -3296
        ],
        "id": "00a3e480-755b-4965-a909-262cc38b5bed",
        "name": "Buscar Simulação Response"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "37b5b7bd-8f97-4c45-9c99-a75e8009b90a",
                "leftValue": "={{ $items('Buscar Cartões Disponíveis Response').length  }}",
                "rightValue": 1,
                "operator": {
                  "type": "number",
                  "operation": "gte"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2080,
          -3264
        ],
        "id": "b7eeaec1-f10d-4131-be45-681a2d84330e",
        "name": "Tem impedimento"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "9c429913-f1cc-4bfe-af39-293acb5de6fb",
                "leftValue": "={{ $json.mensagemErro }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              },
              {
                "id": "6fa74e12-6071-4dda-993a-16e3978f7a5d",
                "leftValue": "={{ $json.mensagemErro }}",
                "rightValue": "undefined",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2912,
          -3296
        ],
        "id": "83ddf361-17ac-473e-b689-b64a6b96b48e",
        "name": "Restrição Limite Saque"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "838f35ef-ec7a-404c-9b76-c4ed5808e3d2",
                "leftValue": "={{ $('Buscar Limite Saque Response').item.json.valorSaqueMaximo }}",
                "rightValue": 200,
                "operator": {
                  "type": "number",
                  "operation": "gte"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3760,
          -3296
        ],
        "id": "115d6dce-815c-4e8b-a28c-730ef6f63cdf",
        "name": "Tem saque"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\n  \"message\": \"Falha ao realizar digitação\"\n}",
          "options": {
            "responseCode": 400
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1968,
          -880
        ],
        "id": "05e76248-c842-4ba6-9617-be12667f7985",
        "name": "Falha na digitação"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4f76ea07-3184-4296-a03f-d73b8507d67c",
                "name": "status_code",
                "value": "400",
                "type": "string"
              },
              {
                "id": "39dcf00f-b81a-4e45-a75b-5d2d84401dd7",
                "name": "step",
                "value": "Buscar Cartões Disponíveis impedimento",
                "type": "string"
              },
              {
                "id": "930a948a-480a-4a71-a30d-395d2a29f284",
                "name": "message",
                "value": "Há alguns impedimentos nesse item",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2160,
          -1856
        ],
        "id": "dfefabf7-4e1b-491d-a268-08f3fc6a3950",
        "name": "Responde com mensagem de impedimento1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f54023ce-e41d-4af2-99ef-ac1d12bd0f17",
                "name": "status_code",
                "value": "400",
                "type": "string"
              },
              {
                "id": "60a4d955-2c52-4805-9ce8-9dc9a2ff17e0",
                "name": "step",
                "value": "Buscar Limite Saque com restrição de saque",
                "type": "string"
              },
              {
                "id": "d8f6bd24-4b87-4409-8e2b-f0894658019b",
                "name": "message",
                "value": "={{ $json.mensagemErro }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2160,
          -1440
        ],
        "id": "06b63269-80d2-4a51-a43c-5a826815a7b3",
        "name": "Responde se ha restrição no saque1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f0e411ce-e80a-4f13-8c24-fe418e27f670",
                "name": "status_code",
                "value": "400",
                "type": "string"
              },
              {
                "id": "65a91fec-60a1-487e-97bd-535ea293b66c",
                "name": "step",
                "value": "Buscar Cartões Disponíveis",
                "type": "string"
              },
              {
                "id": "6717365f-697d-4670-a00b-b448e9fbc161",
                "name": "message",
                "value": "= {{ JSON.stringify($json.error.message) }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2160,
          -2064
        ],
        "id": "b0a5712b-56cf-4edf-a639-088a5f45f1ad",
        "name": "On Error Buscar  Cartões Disponíveis1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "48d1788a-bc06-472d-8c7f-948b0d18ff47",
                "name": "status_code",
                "value": "400",
                "type": "string"
              },
              {
                "id": "323b2d87-dcb6-4c45-91e2-03ee1fbc44d4",
                "name": "step",
                "value": "Buscar Limite Saque",
                "type": "string"
              },
              {
                "id": "1353e79a-b7aa-47f4-a65c-0f2e3cf41c75",
                "name": "message",
                "value": "={{ JSON.stringify($json.error.message) }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2160,
          -1648
        ],
        "id": "cfd38737-77ea-4f4e-9b8f-2f6e0387e075",
        "name": "On Error Buscar Limite Saque1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1ac3a69c-cb65-4a39-b00c-31aab3907557",
                "name": "status_code",
                "value": "400",
                "type": "string"
              },
              {
                "id": "5b2efb96-3df2-4d59-916a-75d6574c01c5",
                "name": "step",
                "value": " Buscar Simulação",
                "type": "string"
              },
              {
                "id": "1353e79a-b7aa-47f4-a65c-0f2e3cf41c75",
                "name": " message",
                "value": "={{ JSON.stringify($json.error.message) }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2160,
          -1264
        ],
        "id": "784121fe-cd1d-43e7-943b-b573d9edbc86",
        "name": "On Error Buscar Simulação1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "376b7752-d407-461d-a1aa-a128c47bfa80",
                "name": "status_code",
                "value": "400",
                "type": "string"
              },
              {
                "id": "3ff6a849-1c5a-4053-ad24-1053f64569d5",
                "name": "step",
                "value": "Sem limite de saque",
                "type": "string"
              },
              {
                "id": "1353e79a-b7aa-47f4-a65c-0f2e3cf41c75",
                "name": "message",
                "value": "Sem limite de saque",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2160,
          -1088
        ],
        "id": "86c25277-3110-49c7-ad21-950cca205e07",
        "name": "Responde sem limite de saque1"
      },
      {
        "parameters": {
          "numberInputs": 8
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          5440,
          -2224
        ],
        "id": "94beca8c-86f1-4046-8b12-c1c25cfe0fb5",
        "name": "Merge"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a1948883-42d8-4746-b557-c3731300a492",
                "name": "status_code",
                "value": "400",
                "type": "string"
              },
              {
                "id": "0fe11459-4583-4176-b692-37054bcb8c6c",
                "name": "step",
                "value": "Verificação de CPF e type_digitation",
                "type": "string"
              },
              {
                "id": "4da9d51b-8166-4774-ba46-fc886aeef891",
                "name": "message",
                "value": "Favor informar o CPF e type_digitation",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2160,
          -2240
        ],
        "id": "8688e02e-7f7d-4774-baac-60c25a44a7a8",
        "name": "Field Verification1"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          5776,
          -2128
        ],
        "id": "dfe6fc03-41fe-4055-8744-368c3fd616dc",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "compare": "selectedFields",
          "fieldsToCompare": "message",
          "options": {}
        },
        "type": "n8n-nodes-base.removeDuplicates",
        "typeVersion": 2,
        "position": [
          5600,
          -2128
        ],
        "id": "60426e87-a6cf-4588-baf3-9539a481ad1f",
        "name": "Remove Duplicates"
      },
      {
        "parameters": {
          "jsCode": "return $input.all().map(item => {\n    const caminho = item.json[\"soapenv:Envelope\"][\"soapenv:Body\"][\"ns1:buscarCartoesDisponiveisResponse\"]\n        .buscarCartoesDisponiveisReturn.cartoesRetorno.cartoesRetorno;\n    \n    return Array.isArray(caminho) ? caminho.map(c => ({ json: c })) : [{ json: caminho }];\n}).flat();\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1712,
          -3264
        ],
        "id": "bc35e9c6-b4d6-41bb-b42f-f4c0ff2aac17",
        "name": "Dividir Cartões"
      },
      {
        "parameters": {
          "content": "## ERROS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 1620,
          "width": 840,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1648,
          -2304
        ],
        "typeVersion": 1,
        "id": "f1f6aacd-0767-4256-bded-bb9e2ff04379",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.2,
        "position": [
          4848,
          -3296
        ],
        "id": "67bd903b-18bd-4c6d-b737-9d81b4d309e9",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "cpf"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          64,
          -3136
        ],
        "id": "5bc77761-13dd-4857-8bfe-f06ada2c2847",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.2,
        "position": [
          6112,
          -2128
        ],
        "id": "83b5849e-bda9-45d7-9841-2baddb93f97c",
        "name": "Respond to Webhook1"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "07245977-0c63-4f9b-a69e-c350438ecc9d",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -144,
          -3344
        ],
        "id": "9ab2fca9-f65a-4574-aa36-29dc080e15dd",
        "name": "Webhook",
        "webhookId": "07245977-0c63-4f9b-a69e-c350438ecc9d"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.1,
        "position": [
          480,
          -3264
        ],
        "id": "db28fdca-c299-4e9b-9d99-f60e6de3cc8e",
        "name": "Merge1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          6336,
          -2128
        ],
        "id": "2a5f2ea3-4d54-45ab-b340-5d1698cc79c2",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          5024,
          -3296
        ],
        "id": "40fe6d2f-f0ca-4724-b309-8aed9aa3d870",
        "name": "No Operation, do nothing1"
      },
      {
        "parameters": {
          "content": "## SIMULA PARCELA\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 460,
          "width": 1176
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2304,
          -3424
        ],
        "typeVersion": 1,
        "id": "0e0bc1b0-03cb-4a2b-93a4-f119188bc3af",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## BUSCA LIMITE SAQUE\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 440,
          "width": 780
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1488,
          -3408
        ],
        "typeVersion": 1,
        "id": "a3502dda-e269-4af7-b998-24ae59f89faf",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## VERIFICA SE TEM CARTÃO \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 440,
          "width": 1052
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          400,
          -3408
        ],
        "typeVersion": 1,
        "id": "83f64d74-374c-4158-934a-08c6772d1e06",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "jsCode": "// Pega o body como string\nlet raw = items[0].json.body;\n\n// Remove vírgula no final (caso exista)\nraw = raw.replace(/,\\s*}/, '}');\n\n// Converte de string para objeto JSON\nconst parsed = JSON.parse(raw);\n\n// Retorna o objeto limpo\nreturn [{ json: parsed }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          256,
          -2624
        ],
        "id": "aa32400b-3694-47c3-b1f6-cdaa586ef911",
        "name": "Code"
      },
      {
        "parameters": {
          "content": "## RECEBIMENTO DE DADOS \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 524,
          "width": 536,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -208,
          -3456
        ],
        "typeVersion": 1,
        "id": "dc867946-22ed-49c5-8edc-7792fe7cca25",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "matricula",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.1,
        "position": [
          4672,
          -3296
        ],
        "id": "5eb82eb0-536c-4f30-8e0a-f90b35bb4670",
        "name": "Merge2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b950827a-ec92-48a6-b9ba-ccf258fffd9c",
                "name": "CPF",
                "value": "={{ $('Get Body').item.json.CPF }}",
                "type": "string"
              },
              {
                "id": "ec4a2748-11ce-4dce-a745-ddc9555c7bc6",
                "name": "limiteDisponivel",
                "value": "={{ $('Buscar Limite Saque Response').item.json.valorSaqueMaximo }}",
                "type": "number"
              },
              {
                "id": "0e040c1d-d2d8-4934-95a2-70378be6a268",
                "name": "valorParcela",
                "value": "={{ $json.valorParcela }}",
                "type": "number"
              },
              {
                "id": "71f7f5ec-2d4d-4d9a-92f8-aef915c3c19e",
                "name": "numeroParcelas",
                "value": "={{ $json.numeroParcelas }}",
                "type": "number"
              },
              {
                "id": "57c3443b-3961-4d23-a51e-61e62baa77b3",
                "name": "entidade",
                "value": "={{ $('Buscar Cartões Disponíveis Response').item.json.entidade }}",
                "type": "string"
              },
              {
                "id": "28647ed0-ce07-4647-9475-148473b802f2",
                "name": "modalidadeSaque",
                "value": "={{ $('Buscar Cartões Disponíveis Response').item.json.modalidadeSaque }}",
                "type": "number"
              },
              {
                "id": "21636941-9379-4b1e-ab9b-461b3dc53876",
                "name": "numeroAdesao",
                "value": "={{ $('Buscar Cartões Disponíveis Response').item.json.numeroAdesao }}",
                "type": "string"
              },
              {
                "id": "58f062bf-b634-4a0a-9081-e526496537af",
                "name": "numeroContaInterna",
                "value": "={{ $('Buscar Cartões Disponíveis Response').item.json.numeroContaInterna }}",
                "type": "string"
              },
              {
                "id": "ab3462c6-fc5a-4a48-85f3-9c739aff23ef",
                "name": "matricula",
                "value": "={{ $('Buscar Cartões Disponíveis Response').item.json.matricula }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3952,
          -3312
        ],
        "id": "d5f55510-9b6e-4405-b26a-7c99752e2c5c",
        "name": "Edit Simula Parcela"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f3acc68a-bda1-45f2-9ae5-f4aa295cabc5",
                "name": "matricula",
                "value": "={{ $json.payload.parseJson().Beneficiario.Beneficio }}",
                "type": "string"
              },
              {
                "id": "1c5d2b30-1acd-4f88-9d8e-a989f0e413e9",
                "name": "Banco",
                "value": "={{ $json.payload.parseJson().DadosBancarios.Banco }}",
                "type": "string"
              },
              {
                "id": "8f50faca-99ec-4e69-acf1-3ee28310d9eb",
                "name": "AgenciaPagto",
                "value": "={{ $json.payload.parseJson().DadosBancarios.AgenciaPagto }}",
                "type": "number"
              },
              {
                "id": "6ab90c1c-1d32-45b7-8208-bc06a1c1e521",
                "name": "ContaPagto",
                "value": "={{ $json.payload.parseJson().DadosBancarios.ContaPagto.slice(0, -1) }}\n",
                "type": "number"
              },
              {
                "id": "8eaabffa-73ba-4312-b788-505025ea1c05",
                "name": "digito",
                "value": "={{ $json.payload.parseJson().DadosBancarios.ContaPagto.slice(-1) }}\n",
                "type": "number"
              },
              {
                "id": "616fc97f-6493-48aa-a24c-56b58ed53bd0",
                "name": "MeioPagamento",
                "value": "={{ $json.payload.parseJson().DadosBancarios.MeioPagamento }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4368,
          -3200
        ],
        "id": "6b599e60-86fa-4636-b085-329c2b7bb653",
        "name": "Edit Dados Bancarios"
      },
      {
        "parameters": {
          "content": "## Dados Bncario NOVA ERA\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 440,
          "width": 1028
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          3520,
          -3424
        ],
        "typeVersion": 1,
        "id": "d41b0103-1a1a-4c59-8222-a0b915db4f7a",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "oovu3JAJfaS4vYRF",
            "mode": "list",
            "cachedResultName": "Nova Era Retenção"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          4160,
          -3200
        ],
        "id": "2c2147de-fac7-4b46-9172-36bde028f238",
        "name": "Execute Workflow Retenção Nova Era"
      },
      {
        "parameters": {
          "content": "## Responde dados ",
          "height": 320,
          "width": 576,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          4592,
          -3424
        ],
        "typeVersion": 1,
        "id": "ba29183e-61fb-49ab-8946-786055d06e25",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "aba06edc-411a-430b-a935-b30f1c752473",
                "name": "cpf",
                "value": "={{ $json.body.cpf }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          64,
          -3344
        ],
        "id": "6aea985f-b1d7-44f3-8c34-a99eadb55688",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "263e0bbf-cd26-4164-840c-20a63d507ce0",
                "leftValue": "={{ $json.CPF }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1056,
          -3264
        ],
        "id": "fb206629-735e-4d83-a42c-e5488ae53214",
        "name": "Verifica campos cpf"
      }
    ],
    "connections": {
      "Credentials": {
        "main": [
          [
            {
              "node": "Get Body",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Body": {
        "main": [
          [
            {
              "node": "Verifica campos cpf",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Cartoes Disponiveis": {
        "main": [
          [
            {
              "node": "XML Buscar Cartões Disponíveis",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "On Error Buscar  Cartões Disponíveis1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "XML Buscar Cartões Disponíveis": {
        "main": [
          [
            {
              "node": "Dividir Cartões",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Limite Saque": {
        "main": [
          [
            {
              "node": "XML Buscar Limite Saque",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "On Error Buscar Limite Saque1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "XML Buscar Limite Saque": {
        "main": [
          [
            {
              "node": "Buscar Limite Saque Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Cartões Disponíveis Response": {
        "main": [
          [
            {
              "node": "Tem impedimento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Limite Saque Response": {
        "main": [
          [
            {
              "node": "Restrição Limite Saque",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Simulação": {
        "main": [
          [
            {
              "node": "XML Buscar Simulação",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "On Error Buscar Simulação1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "XML Buscar Simulação": {
        "main": [
          [
            {
              "node": "Buscar Simulação Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Simulação Response": {
        "main": [
          [
            {
              "node": "Tem saque",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tem impedimento": {
        "main": [
          [
            {
              "node": "Buscar Limite Saque",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Responde com mensagem de impedimento1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Restrição Limite Saque": {
        "main": [
          [
            {
              "node": "Buscar Simulação",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Responde se ha restrição no saque1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tem saque": {
        "main": [
          [
            {
              "node": "Edit Simula Parcela",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Responde sem limite de saque1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Falha na digitação": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 7
            }
          ]
        ]
      },
      "Responde com mensagem de impedimento1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Responde se ha restrição no saque1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 4
            }
          ]
        ]
      },
      "On Error Buscar  Cartões Disponíveis1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "On Error Buscar Limite Saque1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 3
            }
          ]
        ]
      },
      "On Error Buscar Simulação1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 5
            }
          ]
        ]
      },
      "Responde sem limite de saque1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 6
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Remove Duplicates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Field Verification1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Respond to Webhook1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove Duplicates": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dividir Cartões": {
        "main": [
          [
            {
              "node": "Buscar Cartões Disponíveis Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Credentials",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond to Webhook1": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond to Webhook": {
        "main": [
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          []
        ]
      },
      "Merge2": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Simula Parcela": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Execute Workflow Retenção Nova Era",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Dados Bancarios": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Execute Workflow Retenção Nova Era": {
        "main": [
          [
            {
              "node": "Edit Dados Bancarios",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verifica campos cpf": {
        "main": [
          [
            {
              "node": "Buscar Cartoes Disponiveis",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Field Verification1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2025-02-18T14:02:38.331Z",
      "createdAt": "2025-02-18T14:02:38.331Z",
      "id": "Bd8bdkbUuGWtSaFv",
      "name": "Saque Complementar"
    }
  ]
}