Comercial/2molLjy1qAPbywg6.json
{
  "updatedAt": "2025-04-14T15:54:46.711Z",
  "createdAt": "2025-03-27T16:44:15.945Z",
  "id": "2molLjy1qAPbywg6",
  "name": "BKO - Acompanhamento Amigoz",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -140,
        460
      ],
      "id": "784424fa-7dd1-47d2-8863-10aecea6707c",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backoffice.amigozconsig.com.br/api/auth/token/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "identifier",
              "value": "={{ $('AcessosHappy').item.json.usuarioHappy }}"
            },
            {
              "name": "password",
              "value": "={{ $('AcessosHappy').item.json.SenhaHappy }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        -640
      ],
      "id": "dde76233-bef8-4017-aacc-e44fc452ced0",
      "name": "token",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68042c07-6f5b-41c0-b153-8cfbab9a4b22",
              "name": "usuarioHappy",
              "value": "38075290801",
              "type": "string"
            },
            {
              "id": "0a15880a-07de-4756-8133-25c6a07bfa9f",
              "name": "SenhaHappy",
              "value": "Mdg@1234",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        0
      ],
      "id": "ef41053a-582e-404d-b3c1-ad2ea5b286c1",
      "name": "AcessosHappy",
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "831e1cd5-99e1-4d62-be2b-7bee706e8b6e",
              "name": "nome",
              "value": "={{ $('Split Out Status').last().json.nome }}",
              "type": "number"
            },
            {
              "id": "f9f251d6-ff4f-443a-a7fe-230bf1e67c87",
              "name": "descricao_mesa",
              "value": "={{ $('Split Out Status').last().json.descricao_mesa }}",
              "type": "string"
            },
            {
              "id": "fb4e8e85-2d03-47f3-a659-e6aa51b9b932",
              "name": "descricao_front",
              "value": "={{ $('Split Out Status').last().json.descricao_front }}",
              "type": "string"
            },
            {
              "id": "84fa1e4e-3b48-474c-b32d-05eb9c756d74",
              "name": "data_fase_inicial",
              "value": "={{ $json.data_fase_inicial }}",
              "type": "string"
            },
            {
              "id": "25bbe9c2-0009-4ca9-a7d2-0eaed88d9393",
              "name": "data_fase_final",
              "value": "={{ $json.data_fase_final }}",
              "type": "string"
            },
            {
              "id": "f6f1896d-950c-448a-a8f7-d54edd376586",
              "name": "contrato",
              "value": "={{ $json.contrato }}",
              "type": "string"
            },
            {
              "id": "109d0c6f-fbce-47d5-9272-480fe32d21e1",
              "name": "url_mesa_video",
              "value": "={{ $('Detalhe do Contrato').item.json.url_mesa_video }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2140,
        -640
      ],
      "id": "ddb8723b-9d04-4c36-8a1c-4b4ade7e62f9",
      "name": "Last Status",
      "executeOnce": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "status",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1960,
        -640
      ],
      "id": "8ace9020-ce81-4bd2-865e-bc8bbfb2e3dd",
      "name": "Split Out Status"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backoffice.amigozconsig.com.br/api/detalhe-contrato/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('token').item.json.access }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "token_contrato",
              "value": "={{ $json.token_contrato }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        -640
      ],
      "id": "1bc5db25-a401-4df1-b896-5b3a4b02eb09",
      "name": "Detalhe do Contrato"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e429755d-9bc7-4bf4-b2d6-4a97c68b9a8c",
              "name": "status",
              "value": "={{ $json.contracts[0].status }}",
              "type": "string"
            },
            {
              "id": "763565cc-12e5-426f-8be4-62bacf411e15",
              "name": "contracts",
              "value": "={{ $json.contracts[0].id }}",
              "type": "number"
            },
            {
              "id": "e7926e9c-638b-4937-8bf4-a49f2a9fc3e2",
              "name": "token_contrato",
              "value": "={{ $json.contracts[0].token_contrato }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        -640
      ],
      "id": "b729bb25-68ae-43d2-8859-04e1d0097bdd",
      "name": "Token Contrato"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT  \n    af.af_codigo AS 'af_codigo',\n    af.Af_codigo_contrato_banco AS 'contrato',\n    af.Bcolib_codigo AS 'codigo_banco',\n    ban.bcolib_descricao AS 'nome_banco',\n    af.faf_codigo AS 'codigo_fase',\n    fase.faf_descricao AS 'descricao_fase'\nFROM dbo.af af\nLEFT JOIN dbo.bancolib ban ON af.Bcolib_codigo = ban.Bcolib_codigo  -- Join para trazer o nome do banco\nLEFT JOIN dbo.fase_af fase ON af.faf_codigo = fase.faf_codigo  -- Join correto para trazer a descrição da fase\nWHERE \n    af.faf_codigo IN (2, 10, 60)  -- Filtra apenas as fases 10 e 60\n    AND af.Bcolib_codigo = 10002  -- Filtra apenas Banco Amigoz (10002)\nORDER BY af.af_codigo;\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        420,
        0
      ],
      "id": "dfe94989-72a2-44fc-80a3-c3c89998fc17",
      "name": "Consulta AF",
      "credentials": {
        "microsoftSql": {
          "id": "Eck1dwqEQjiv5hCV",
          "name": "dboAgilus"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "97acfa10-f6bc-4412-8269-154d09b82291",
                    "leftValue": "={{ $('Consulta AF').item.json.codigo_fase }}",
                    "rightValue": 10,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Aguardando Formalizacao"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "663e67f4-99e0-4058-a7a9-126aaef25a6e",
                    "leftValue": "={{ $('Consulta AF').item.json.codigo_fase }}",
                    "rightValue": 60,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Aguardando Averbacao"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1dda0a38-2435-437f-8690-7f7569b652bc",
                    "leftValue": "={{ $('Consulta AF').item.json.codigo_fase }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Averbado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        620,
        0
      ],
      "id": "5e5af673-cc56-46b0-bf85-ee8ab65bafa3",
      "name": "Switch1"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "contrato",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1240,
        -860
      ],
      "id": "f866ccbc-2392-4221-b08c-9d373a95f246",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.nome }}",
                    "rightValue": 21,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "1c4a0612-fbad-425b-866e-09a5a751cd4a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Formalização (cliente)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e4b5268b-b3a1-4141-b358-0c0599354a68",
                    "leftValue": "={{ $json.nome }}",
                    "rightValue": 25,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Checagem - Mesa Corban"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3fa872a1-2589-477a-af92-14223de0324b",
                    "leftValue": "={{ $json.nome }}",
                    "rightValue": 7,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reprovada - Finalizada"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2200,
        -860
      ],
      "id": "6b641a3c-8356-48b6-8158-5dff3585b9f1",
      "name": "Switch2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backoffice.amigozconsig.com.br/api/auth/token/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "identifier",
              "value": "={{ $('AcessosHappy').item.json.usuarioHappy }}"
            },
            {
              "name": "password",
              "value": "={{ $('AcessosHappy').item.json.SenhaHappy }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        140
      ],
      "id": "91fe6ef9-e20e-4c17-a2a4-28f5e16c7e00",
      "name": "token1",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "831e1cd5-99e1-4d62-be2b-7bee706e8b6e",
              "name": "nome",
              "value": "={{ $('Split Out Status1').last().json.nome }}",
              "type": "number"
            },
            {
              "id": "f9f251d6-ff4f-443a-a7fe-230bf1e67c87",
              "name": "descricao_mesa",
              "value": "={{ $('Split Out Status1').last().json.descricao_mesa }}",
              "type": "string"
            },
            {
              "id": "fb4e8e85-2d03-47f3-a659-e6aa51b9b932",
              "name": "descricao_front",
              "value": "={{ $('Split Out Status1').last().json.descricao_front }}",
              "type": "string"
            },
            {
              "id": "84fa1e4e-3b48-474c-b32d-05eb9c756d74",
              "name": "data_fase_inicial",
              "value": "={{ $json.data_fase_inicial }}",
              "type": "string"
            },
            {
              "id": "25bbe9c2-0009-4ca9-a7d2-0eaed88d9393",
              "name": "data_fase_final",
              "value": "={{ $json.data_fase_final }}",
              "type": "string"
            },
            {
              "id": "f6f1896d-950c-448a-a8f7-d54edd376586",
              "name": "contrato",
              "value": "={{ $json.contrato }}",
              "type": "string"
            },
            {
              "id": "109d0c6f-fbce-47d5-9272-480fe32d21e1",
              "name": "url_mesa_video",
              "value": "={{ $('Detalhe do Contrato1').item.json.url_mesa_video }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2140,
        140
      ],
      "id": "6580c757-c159-4d86-a893-e9c466b68447",
      "name": "Last Status1",
      "executeOnce": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "status",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1960,
        140
      ],
      "id": "fac9604f-67f9-4bc7-8eac-abdadff2f2df",
      "name": "Split Out Status1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backoffice.amigozconsig.com.br/api/detalhe-contrato/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('token1').item.json.access }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "token_contrato",
              "value": "={{ $json.token_contrato }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        140
      ],
      "id": "5b898be3-6bb1-4aac-8a1f-79a5538b86cd",
      "name": "Detalhe do Contrato1",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e429755d-9bc7-4bf4-b2d6-4a97c68b9a8c",
              "name": "status",
              "value": "={{ $json.contracts[0].status }}",
              "type": "string"
            },
            {
              "id": "763565cc-12e5-426f-8be4-62bacf411e15",
              "name": "contracts",
              "value": "={{ $json.contracts[0].id }}",
              "type": "number"
            },
            {
              "id": "e7926e9c-638b-4937-8bf4-a49f2a9fc3e2",
              "name": "token_contrato",
              "value": "={{ $json.contracts[0].token_contrato }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        140
      ],
      "id": "a50d1981-e14b-470e-8e66-39cb6b444d88",
      "name": "Token Contrato1"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "contrato",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1240,
        -120
      ],
      "id": "52be191a-11d5-488a-9182-5e451cb24250",
      "name": "Merge1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.nome }}",
                    "rightValue": 65,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "1c4a0612-fbad-425b-866e-09a5a751cd4a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Validações Automáticas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e4b5268b-b3a1-4141-b358-0c0599354a68",
                    "leftValue": "={{ $json.nome }}",
                    "rightValue": 11,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pendente Documentação"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0e7fb70c-cd0c-4a89-ae5a-42466b07d83b",
                    "leftValue": "={{ $json.nome }}",
                    "rightValue": 8,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Checagem - Mesa Formalização"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "100cd4ed-b694-4bc4-8ef9-91d14f5e6d32",
                    "leftValue": "={{ $json.nome }}",
                    "rightValue": 73,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Aguardando vídeo chamada do cliente"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "541469eb-81fb-436f-8181-ac2cca0d1bb3",
                    "leftValue": "={{ Boolean([12, 13, 15, 16].includes(Number($json.nome))) }}",
                    "rightValue": 12,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Processo de averbação"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ccfa8abc-51ed-497d-ba9f-44f56803cae5",
                    "leftValue": "={{ [17, 18, 19, 50].includes(Number($json.nome)) ? true : false }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Proposta paga"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b98ef2e0-86db-4b77-98c2-8d85d1a20174",
                    "leftValue": "={{ $json.nome }}",
                    "rightValue": 7,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reprovada - Finalizada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bab39a09-1c8d-4f89-8993-07ed0ade4d71",
                    "leftValue": "={{ $json.nome }}",
                    "rightValue": "74",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Teimosinha Dataprev - Averbação"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2160,
        -220
      ],
      "id": "f7cc43f6-415c-4f64-bd54-7fd8e1dce0ec",
      "name": "Switch3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backoffice.amigozconsig.com.br/api/auth/token/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "identifier",
              "value": "={{ $('AcessosHappy').item.json.usuarioHappy }}"
            },
            {
              "name": "password",
              "value": "={{ $('AcessosHappy').item.json.SenhaHappy }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        960
      ],
      "id": "a875be05-4e12-4b52-9806-1a2e9f653eda",
      "name": "token2",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "831e1cd5-99e1-4d62-be2b-7bee706e8b6e",
              "name": "nome",
              "value": "={{ $('Split Out Status2').last().json.nome }}",
              "type": "number"
            },
            {
              "id": "f9f251d6-ff4f-443a-a7fe-230bf1e67c87",
              "name": "descricao_mesa",
              "value": "={{ $('Split Out Status2').last().json.descricao_mesa }}",
              "type": "string"
            },
            {
              "id": "fb4e8e85-2d03-47f3-a659-e6aa51b9b932",
              "name": "descricao_front",
              "value": "={{ $('Split Out Status2').last().json.descricao_front }}",
              "type": "string"
            },
            {
              "id": "84fa1e4e-3b48-474c-b32d-05eb9c756d74",
              "name": "data_fase_inicial",
              "value": "={{ $json.data_fase_inicial }}",
              "type": "string"
            },
            {
              "id": "25bbe9c2-0009-4ca9-a7d2-0eaed88d9393",
              "name": "data_fase_final",
              "value": "={{ $json.data_fase_final }}",
              "type": "string"
            },
            {
              "id": "f6f1896d-950c-448a-a8f7-d54edd376586",
              "name": "contrato",
              "value": "={{ $json.contrato }}",
              "type": "string"
            },
            {
              "id": "109d0c6f-fbce-47d5-9272-480fe32d21e1",
              "name": "url_mesa_video",
              "value": "={{ $('Detalhe do Contrato2').item.json.url_mesa_video }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2100,
        960
      ],
      "id": "503ea303-3172-4bef-97aa-d24759ee6b35",
      "name": "Last Status2",
      "executeOnce": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "status",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1900,
        960
      ],
      "id": "380f1853-c961-4fd2-a129-b3f95cd7e393",
      "name": "Split Out Status2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backoffice.amigozconsig.com.br/api/detalhe-contrato/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('token2').item.json.access }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "token_contrato",
              "value": "={{ $json.token_contrato }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        960
      ],
      "id": "403934ee-828b-477c-8623-a23f2fadf56f",
      "name": "Detalhe do Contrato2",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e429755d-9bc7-4bf4-b2d6-4a97c68b9a8c",
              "name": "status",
              "value": "={{ $json.contracts[0].status }}",
              "type": "string"
            },
            {
              "id": "763565cc-12e5-426f-8be4-62bacf411e15",
              "name": "contracts",
              "value": "={{ $json.contracts[0].id }}",
              "type": "number"
            },
            {
              "id": "e7926e9c-638b-4937-8bf4-a49f2a9fc3e2",
              "name": "token_contrato",
              "value": "={{ $json.contracts[0].token_contrato }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1540,
        960
      ],
      "id": "093edff7-62be-47ea-91fe-8be8d56e2c1d",
      "name": "Token Contrato2"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "contrato",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1140,
        740
      ],
      "id": "d0e34d57-e316-48c1-b29d-5469965eb4a0",
      "name": "Merge2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.nome }}",
                    "rightValue": 103,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "1c4a0612-fbad-425b-866e-09a5a751cd4a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Analise Tecnica"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "541469eb-81fb-436f-8181-ac2cca0d1bb3",
                    "leftValue": "={{ [17, 18, 19, 50].includes(Number($json.nome)) ? true : false }}",
                    "rightValue": 12,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Proposta paga"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "516d857f-958f-43d0-97ce-1d82ba850d3f",
                    "leftValue": "={{ $json.nome }}",
                    "rightValue": 7,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reprovada - Finalizada"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2120,
        740
      ],
      "id": "cfe5b1f7-dbe2-4ded-89b8-2162efff71b3",
      "name": "Switch4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        940,
        820
      ],
      "id": "baf151d3-e125-4abe-89ba-9aab3fb778cc",
      "name": "Loop Over Averbado "
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1000,
        40
      ],
      "id": "4b444431-fa1d-4c7e-879f-70b32e814e90",
      "name": "Loop Over Aguardando Averbacao"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1040,
        -740
      ],
      "id": "a538e752-75e3-417a-92c0-c35d18dd77dc",
      "name": "Loop Over Aguardando Formalzacao"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backoffice.amigozconsig.com.br/api/listar-contratos/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "contrato",
              "value": "={{ $('Loop Over Averbado ').item.json.contrato }}"
            },
            {
              "name": "items_per_page",
              "value": "10"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        960
      ],
      "id": "189aa541-7b90-4fd3-86bd-b8008562c967",
      "name": "Consulta Contratos Averbados",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backoffice.amigozconsig.com.br/api/listar-contratos/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "contrato",
              "value": "={{ $('Loop Over Aguardando Averbacao').item.json.contrato }}"
            },
            {
              "name": "items_per_page",
              "value": "10"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        140
      ],
      "id": "52d68a0e-e000-4fee-9461-defaca485436",
      "name": "Consulta Contratos Aguardando Averbacao",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backoffice.amigozconsig.com.br/api/listar-contratos/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "contrato",
              "value": "={{ $('Loop Over Aguardando Formalzacao').item.json.contrato }}"
            },
            {
              "name": "items_per_page",
              "value": "10"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        -640
      ],
      "id": "6309f41b-e2e0-44d2-9361-972e9d6fb50b",
      "name": "Consulta Contratos Aguardando Formalizacao"
    },
    {
      "parameters": {
        "content": "## CONSULTA API AMIGOZ\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 2220,
        "width": 1580,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        -900
      ],
      "typeVersion": 1,
      "id": "f23eb96c-3226-47c8-946e-1284d7b71db0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c2e61eed-d82c-4a57-96bf-4099fde1b9f0",
              "name": "af_codigo",
              "value": "={{ $json.af_codigo }}",
              "type": "number"
            },
            {
              "id": "900aa2f1-929e-4632-a530-fea5741c256c",
              "name": "codigo_fase",
              "value": "={{ $json.codigo_fase }}",
              "type": "number"
            },
            {
              "id": "3eba2faa-81d1-43b1-ba17-ccff8906db96",
              "name": "nome_banco",
              "value": "={{ $json.nome_banco }}",
              "type": "string"
            },
            {
              "id": "573bdbff-32a6-4908-9aa1-f6bb292c136c",
              "name": "contrato",
              "value": "={{ $json.contrato }}",
              "type": "string"
            },
            {
              "id": "11d5bf2c-6909-4ea7-a224-80568b1c20c9",
              "name": "descricao_fase",
              "value": "={{ $json.descricao_fase }}",
              "type": "string"
            },
            {
              "id": "bf188dc1-1004-42c5-9e28-a8eba10486a8",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "number"
            },
            {
              "id": "36e74406-a38e-4640-a817-0dab00c42ebf",
              "name": "descricao_mesa",
              "value": "={{ $json.descricao_mesa }}",
              "type": "string"
            },
            {
              "id": "a6db27e2-93b9-4c65-8667-afda2f20cfeb",
              "name": "descricao_front",
              "value": "={{ $json.descricao_front }}",
              "type": "string"
            },
            {
              "id": "fc569980-0c7f-4fe8-92d0-947a37aa74a7",
              "name": "url_mesa_video",
              "value": "={{ $json.url_mesa_video }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        740
      ],
      "id": "fbefc121-9d50-430f-b7c8-f20970fcc481",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c2e61eed-d82c-4a57-96bf-4099fde1b9f0",
              "name": "af_codigo",
              "value": "={{ $json.af_codigo }}",
              "type": "number"
            },
            {
              "id": "900aa2f1-929e-4632-a530-fea5741c256c",
              "name": "codigo_fase",
              "value": "={{ $json.codigo_fase }}",
              "type": "number"
            },
            {
              "id": "3eba2faa-81d1-43b1-ba17-ccff8906db96",
              "name": "nome_banco",
              "value": "={{ $json.nome_banco }}",
              "type": "string"
            },
            {
              "id": "573bdbff-32a6-4908-9aa1-f6bb292c136c",
              "name": "contrato",
              "value": "={{ $json.contrato }}",
              "type": "string"
            },
            {
              "id": "11d5bf2c-6909-4ea7-a224-80568b1c20c9",
              "name": "descricao_fase",
              "value": "={{ $json.descricao_fase }}",
              "type": "string"
            },
            {
              "id": "bf188dc1-1004-42c5-9e28-a8eba10486a8",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "number"
            },
            {
              "id": "36e74406-a38e-4640-a817-0dab00c42ebf",
              "name": "descricao_mesa",
              "value": "={{ $json.descricao_mesa }}",
              "type": "string"
            },
            {
              "id": "a6db27e2-93b9-4c65-8667-afda2f20cfeb",
              "name": "descricao_front",
              "value": "={{ $json.descricao_front }}",
              "type": "string"
            },
            {
              "id": "fc569980-0c7f-4fe8-92d0-947a37aa74a7",
              "name": "url_mesa_video",
              "value": "={{ $json.url_mesa_video }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1420,
        -120
      ],
      "id": "978c025b-b22c-4d59-8cb4-9dc909324000",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c2e61eed-d82c-4a57-96bf-4099fde1b9f0",
              "name": "af_codigo",
              "value": "={{ $json.af_codigo }}",
              "type": "number"
            },
            {
              "id": "900aa2f1-929e-4632-a530-fea5741c256c",
              "name": "codigo_fase",
              "value": "={{ $json.codigo_fase }}",
              "type": "number"
            },
            {
              "id": "3eba2faa-81d1-43b1-ba17-ccff8906db96",
              "name": "nome_banco",
              "value": "={{ $json.nome_banco }}",
              "type": "string"
            },
            {
              "id": "573bdbff-32a6-4908-9aa1-f6bb292c136c",
              "name": "contrato",
              "value": "={{ $json.contrato }}",
              "type": "string"
            },
            {
              "id": "11d5bf2c-6909-4ea7-a224-80568b1c20c9",
              "name": "descricao_fase",
              "value": "={{ $json.descricao_fase }}",
              "type": "string"
            },
            {
              "id": "bf188dc1-1004-42c5-9e28-a8eba10486a8",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "number"
            },
            {
              "id": "36e74406-a38e-4640-a817-0dab00c42ebf",
              "name": "descricao_mesa",
              "value": "={{ $json.descricao_mesa }}",
              "type": "string"
            },
            {
              "id": "a6db27e2-93b9-4c65-8667-afda2f20cfeb",
              "name": "descricao_front",
              "value": "={{ $json.descricao_front }}",
              "type": "string"
            },
            {
              "id": "fc569980-0c7f-4fe8-92d0-947a37aa74a7",
              "name": "url_mesa_video",
              "value": "={{ $json.url_mesa_video }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1420,
        -860
      ],
      "id": "99ec7c56-dd6e-45c6-9e9f-fadd7bd50735",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            },
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5,
                6
              ],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -320,
        0
      ],
      "id": "89ba8d32-8f2e-47c5-9569-06fec22c4949",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const startTime = 8;\nconst finishTime = 18;\n\nconst now = new Date();\nconst nowHour = now.getHours();\nconst nowDay = now.getDay();\nif (nowHour >= startTime && nowHour < finishTime && nowDay !== 0) {\n      return {sheduler: true}\n    }\n\n return {sheduler: false}"
      },
      "id": "7462868c-7eb6-4ab8-8dbf-45d7f5c882e7",
      "name": "Scheduler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "16f454d5-963a-4cb2-9ee5-cf4fbaf576d4",
              "leftValue": "={{ $json.sheduler }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        20,
        0
      ],
      "id": "e7508280-b8df-4019-b160-df37351b3799",
      "name": "Filter tempo"
    },
    {
      "parameters": {
        "content": "## HORARIO DE TRABALHO \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 300,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -360,
        -100
      ],
      "typeVersion": 1,
      "id": "b1f493e1-2888-48b5-9043-03e0a3b24805",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "EXEC dbo.pr_atualiza_contrato_af\n    @id = {{ $('Loop Checagem - Mesa Corban').item.json.af_codigo }}, \n    @faseDestino = 60,\n    @CodContrato = '{{ $('Loop Checagem - Mesa Corban').item.json.contrato }}',\n    @texto = 'PROPOSTA ASSINADA.',\n    @nomeUsuario = 'BACKOFFICE'\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        3320,
        -1460
      ],
      "id": "71084294-1df3-4763-8838-277de66108ca",
      "name": "Fase Aguardando Averbacao",
      "executeOnce": true,
      "credentials": {
        "microsoftSql": {
          "id": "Eck1dwqEQjiv5hCV",
          "name": "dboAgilus"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a387a894-b7de-435d-b065-dd9d4c301156",
              "name": "Af_codigo",
              "value": "={{ $json.af_codigo }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3180,
        -860
      ],
      "id": "e32eb6d0-c125-4282-8b7b-bd0ba2865cad",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2780,
        -700
      ],
      "id": "d7287ddf-4d4b-4272-b431-00495d472abd",
      "name": "Loop Over Pendente Documentação"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "EXEC dbo.pr_atualiza_contrato_af\n    @id ={{ $json.af_codigo }} ,               -- Código da AF\n    @faseDestino = 9,          -- Fase de destino (diferente da fase de fechamento)\n    @CodContrato = '{{ $json.contrato }}',\n    @texto = '{{ $json.descricao_front }}.',\n    @nomeUsuario = 'BACKOFFICE'\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        3180,
        -660
      ],
      "id": "9a36ef16-1a70-42c9-b857-7e108cbacc3e",
      "name": "Fase Pendente Documentação",
      "executeOnce": true,
      "credentials": {
        "microsoftSql": {
          "id": "Eck1dwqEQjiv5hCV",
          "name": "dboAgilus"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "exec pr_ordena_acompanhamento {{ $json.Af_codigo }}, 'AGUARDANDO FORMALIZAÇÃO DIGITAL.', 'BACKOFFICE'"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        3440,
        -1700
      ],
      "id": "4e44bc77-7dee-443b-a691-95dbfbcf51c6",
      "name": "Insert Acompanhamento  AGUARDANDO FORMALIZAÇÃO DIGITAL",
      "credentials": {
        "microsoftSql": {
          "id": "Eck1dwqEQjiv5hCV",
          "name": "dboAgilus"
        }
      }
    },
    {
      "parameters": {
        "content": "## ATUALIZA AGILUS E NOTIFICA BKO\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 4120,
        "width": 1260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2700,
        -1960
      ],
      "typeVersion": 1,
      "id": "63a25e5b-42fe-43e4-aaf0-756213f2f3c4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2800,
        -1760
      ],
      "id": "393a782d-4e4e-4021-86fe-9389c858a58b",
      "name": "Loop Over Pendente Documentação1"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2980,
        -1700
      ],
      "id": "435573c7-2805-4240-9fc5-674f6260c06e",
      "name": "Wait",
      "webhookId": "b1d18cc3-db6b-4ad3-a8eb-f450bad05e88"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a387a894-b7de-435d-b065-dd9d4c301156",
              "name": "Af_codigo",
              "value": "={{ $json.af_codigo }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3220,
        -1700
      ],
      "id": "eab26977-eaae-4e50-880d-689c705d2560",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2980,
        -860
      ],
      "id": "adb73fd7-baff-4312-a2d8-c28e0f987acb",
      "name": "Wait1",
      "webhookId": "34b17888-22c0-475f-ba44-6dfe563ab54c"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2980,
        -380
      ],
      "id": "67ee7bdd-4f2a-484a-bb86-769156d32e5a",
      "name": "Wait2",
      "webhookId": "34b17888-22c0-475f-ba44-6dfe563ab54c"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "exec pr_ordena_acompanhamento {{ $json.Af_codigo }}, 'Checagem - Mesa Formalização (Analise documental)', 'BACKOFFICE'"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        3380,
        -380
      ],
      "id": "cee43428-71a8-4c50-b63e-558d62bab122",
      "name": "Atualiza Acompanhamento Checagem - Mesa Formalização",
      "executeOnce": true,
      "credentials": {
        "microsoftSql": {
          "id": "Eck1dwqEQjiv5hCV",
          "name": "dboAgilus"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2980,
        -100
      ],
      "id": "e850ab6a-284a-424e-a529-749aa7f45910",
      "name": "Wait3",
      "webhookId": "34b17888-22c0-475f-ba44-6dfe563ab54c"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=exec pr_ordena_acompanhamento {{ $json.Af_codigo }}, 'Análise Técnica - Fase de atuação interna do banco, tem um prazo de até 24h para conclusão da proposta.', 'BACKOFFICE'"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        3360,
        1340
      ],
      "id": "f1d39aff-9d77-45b3-b8a5-98fe4eb321c1",
      "name": "Atualiza Acompanhamento Analise Tecnica",
      "credentials": {
        "microsoftSql": {
          "id": "Eck1dwqEQjiv5hCV",
          "name": "dboAgilus"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"dbAgilus\".\"dbo\".\"af\" SET \"af_sinalizado\"='0' WHERE  \"Af_codigo\"={{ $('Loop Checagem - Mesa Corban').item.json.af_codigo }};"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        3760,
        -1460
      ],
      "id": "d7e42ab7-e794-4b6d-b6d7-6f0509c4539c",
      "name": "Microsoft SQL",
      "executeOnce": true,
      "credentials": {
        "microsoftSql": {
          "id": "Eck1dwqEQjiv5hCV",
          "name": "dboAgilus"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2980,
        -660
      ],
      "id": "b99a2579-2609-49e7-9be6-774067ccc671",
      "name": "Wait5",
      "webhookId": "183e2fa7-d8f9-4713-81da-e310933c6c1a"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2760,
        860
      ],
      "id": "e761ebea-5ea6-46db-b2ec-de205c3553c0",
      "name": "Loop Over Teimosinha Dataprev - Averbação"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "EXEC dbo.pr_atualiza_contrato_af\n    @id = {{ $('Loop Over Teimosinha Dataprev - Averbação').item.json.af_codigo }},               -- Código da AF\n    @faseDestino = 93,          -- Fase de destino (diferente da fase de fechamento)\n    @CodContrato = '{{ $('Loop Over Teimosinha Dataprev - Averbação').item.json.contrato }}',\n    @texto = '{{ $('Loop Over Teimosinha Dataprev - Averbação').item.json.descricao_mesa }}',\n    @nomeUsuario = 'BACKOFFICE'\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        3200,
        940
      ],
      "id": "68a60129-1985-48be-b77a-4c84ee239415",
      "name": "Teimosinha Dataprev - Averbação",
      "executeOnce": true,
      "credentials": {
        "microsoftSql": {
          "id": "Eck1dwqEQjiv5hCV",
          "name": "dboAgilus"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2780,
        620
      ],
      "id": "e1e60fe4-19bb-49f7-a757-385aac3e895c",
      "name": "Loop Over Reprovada - Finalizada1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2780,
        380
      ],
      "id": "22a2b500-9314-4f9e-a777-3dccb45f084c",
      "name": "Loop Over Proposta paga"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2780,
        100
      ],
      "id": "d81f35d0-5510-42aa-9cfc-88f72e426977",
      "name": "Loop Processo de averbação"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "EXEC dbo.pr_atualiza_contrato_af\n    @id = {{ $('Loop Processo de averbação').item.json.af_codigo }},               -- Código da AF\n    @faseDestino = 2,          -- Fase de destino (diferente da fase de fechamento)\n    @CodContrato = '{{ $('Loop Processo de averbação').item.json.contrato }}',\n    @texto = 'Proposta Averbada.',\n    @nomeUsuario = 'BACKOFFICE'\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        3520,
        180
      ],
      "id": "8891764d-d505-4e64-9578-95ee2510ebc5",
      "name": "Fase Averbado - Processo de averbação",
      "executeOnce": true,
      "credentials": {
        "microsoftSql": {
          "id": "Eck1dwqEQjiv5hCV",
          "name": "dboAgilus"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2780,
        -160
      ],
      "id": "af9144a5-0a5b-4f1e-8151-376d009975dd",
      "name": "Loop Over Items Aguardando vídeo chamada do cliente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a387a894-b7de-435d-b065-dd9d4c301156",
              "name": "Af_codigo",
              "value": "={{ $json.af_codigo }}",
              "type": "number"
            },
            {
              "id": "8ad2afad-dd42-4165-989f-835d2bfad41c",
              "name": "url_mesa_video",
              "value": "={{ $json.url_mesa_video }}",
              "type": "string"
            },
            {
              "id": "40def3ad-54a1-4780-88e6-d9a2e871f674",
              "name": "contrato",
              "value": "={{ $json.contrato }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3180,
        -100
      ],
      "id": "ba84873a-aa3b-4f65-9ba8-a0fa1d2dda0a",
      "name": "Edit Fields Aguardando vídeo chamada do cliente"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2780,
        -440
      ],
      "id": "d98ae025-f29d-4384-b1d1-4df329f96e2c",
      "name": "Loop Checagem - Mesa Formalização"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a387a894-b7de-435d-b065-dd9d4c301156",
              "name": "Af_codigo",
              "value": "={{ $json.af_codigo }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3180,
        -380
      ],
      "id": "7cb04846-7fff-4f4b-8faf-da0b3fa0ccca",
      "name": "Edit Fields Checagem - Mesa Formalização"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2780,
        -920
      ],
      "id": "c2d8b1b6-a20d-4def-b259-812c274c8dd8",
      "name": "Loop Validações Automáticas"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "exec pr_ordena_acompanhamento {{ $json.Af_codigo }}, 'ANALISE DOCUMENTAL.', 'BACKOFFICE'"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        3380,
        -860
      ],
      "id": "7ae29c72-8bcb-4d03-ae8d-4f944377b76f",
      "name": "Atualiza Acompanhamento Validações Automáticas",
      "credentials": {
        "microsoftSql": {
          "id": "Eck1dwqEQjiv5hCV",
          "name": "dboAgilus"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2800,
        -1500
      ],
      "id": "738e35b4-ac5c-47c6-b30d-59394c698895",
      "name": "Loop Checagem - Mesa Corban"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2780,
        -1260
      ],
      "id": "9de273f2-a89f-477d-aab6-260d031e60b4",
      "name": "Loop Reprovada - Finalizada"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2760,
        1260
      ],
      "id": "4d99bc27-27cf-47d7-8084-f71bdb77dfa1",
      "name": "Loop Analise Tecnica"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2960,
        1340
      ],
      "id": "aec07ad2-bc6f-4243-a9d4-e3c19ad4bd6a",
      "name": "Wait Analise Tecnica",
      "webhookId": "34b17888-22c0-475f-ba44-6dfe563ab54c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a387a894-b7de-435d-b065-dd9d4c301156",
              "name": "Af_codigo",
              "value": "={{ $json.af_codigo }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3180,
        1340
      ],
      "id": "53765b4b-8baa-4485-9be1-f266647f978a",
      "name": "Edit Fields Analise Tecnica"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2760,
        1540
      ],
      "id": "5bc5309f-198c-4e5e-9e9e-d45b8a0bdfd3",
      "name": "Loop Proposta paga"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2740,
        1800
      ],
      "id": "43923414-177b-40a6-82ba-dae6fef95e07",
      "name": "Loop Reprovada - Finalizada1"
    },
    {
      "parameters": {
        "content": "## CONSULTA AF AGILUS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 300,
        "width": 540,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        220,
        -100
      ],
      "typeVersion": 1,
      "id": "0a44b76a-9e31-4f7a-a7d0-7d7b037b01ee",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3540,
        -1460
      ],
      "id": "4f1d3b6c-4124-49dd-b316-e0a622ec37e2",
      "name": "Limit"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3720,
        180
      ],
      "id": "8a0cd545-dd5f-49a2-a181-68338e5d31fd",
      "name": "Limit1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3420,
        940
      ],
      "id": "1ebb0889-2f67-4d8e-8e10-276f6450afdb",
      "name": "Limit2"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3000,
        180
      ],
      "id": "b385247f-37bc-4ecb-923c-5e7ce31898ce",
      "name": "Wait4",
      "webhookId": "56a89c4a-4b3b-4b23-b010-56f00f226326"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2980,
        940
      ],
      "id": "9e084599-d251-4b73-826e-590d8d008482",
      "name": "Wait6",
      "webhookId": "166a7433-b424-41d2-a977-fb6a6f2de10e"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3000,
        420
      ],
      "id": "a4a4cba1-d38e-41d4-8109-87074c680b14",
      "name": "Wait7",
      "webhookId": "e6fa7be9-ae12-4da7-a8ba-afafcf159b97"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3580,
        1340
      ],
      "id": "2e793ad9-2042-4e84-b245-dada5813d58f",
      "name": "Limit3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e4287fd-cbd6-48b3-9f47-e7681e3dcb6a",
              "name": "nome_banco",
              "value": "={{ $json.nome_banco }}",
              "type": "string"
            },
            {
              "id": "8123a588-e804-44ba-af94-8cebd46271b6",
              "name": "descricao_fase",
              "value": "={{ $json.descricao_fase }}",
              "type": "string"
            },
            {
              "id": "b0aaab4b-4d4a-4901-9a60-53a797349023",
              "name": "Status",
              "value": "PROPOSTA RECUSADA",
              "type": "string"
            },
            {
              "id": "a34a5a73-7e2b-417e-a3a1-4709b98b6e91",
              "name": "af_codigo",
              "value": "={{ $json.af_codigo }}",
              "type": "number"
            },
            {
              "id": "ede16ce4-f5ba-490e-8811-d6d6018b08f8",
              "name": "contrato",
              "value": "={{ $json.contrato }}",
              "type": "string"
            },
            {
              "id": "fb00a8d1-9573-4916-83ea-343debc3ad70",
              "name": "Space  ID",
              "value": "spaces/AAQAnZgImOA",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2940,
        1840
      ],
      "id": "4abca01e-ab91-4b4d-a63f-a04a4d699b05",
      "name": "Edit Fields Reprovada - Finalizada"
    },
    {
      "parameters": {
        "queue": "google_chat-queue",
        "options": {
          "headers": {
            "header": [
              {
                "key": "Space  ID",
                "value": "spaces/AAQAnZgImOA"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        3160,
        1840
      ],
      "id": "fc2b473f-87cd-45b3-9d6c-4efd61960fa4",
      "name": "RabbitMQ Reprovada - Finalizada",
      "credentials": {
        "rabbitmq": {
          "id": "8S2CCfj4pf5t6xWv",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e4287fd-cbd6-48b3-9f47-e7681e3dcb6a",
              "name": "nome_banco",
              "value": "={{ $json.nome_banco }}",
              "type": "string"
            },
            {
              "id": "8123a588-e804-44ba-af94-8cebd46271b6",
              "name": "descricao_fase",
              "value": "={{ $json.descricao_fase }}",
              "type": "string"
            },
            {
              "id": "b0aaab4b-4d4a-4901-9a60-53a797349023",
              "name": "Status",
              "value": "PAGO",
              "type": "string"
            },
            {
              "id": "a34a5a73-7e2b-417e-a3a1-4709b98b6e91",
              "name": "af_codigo",
              "value": "={{ $json.af_codigo }}",
              "type": "number"
            },
            {
              "id": "ede16ce4-f5ba-490e-8811-d6d6018b08f8",
              "name": "contrato",
              "value": "={{ $json.contrato }}",
              "type": "string"
            },
            {
              "id": "fb00a8d1-9573-4916-83ea-343debc3ad70",
              "name": "Space  ID",
              "value": "spaces/AAQAnZgImOA",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2960,
        1580
      ],
      "id": "84bb57a2-9df2-4c3f-8e18-beb4bfc97a21",
      "name": "Edit Fields PROPOSTA PAGA"
    },
    {
      "parameters": {
        "queue": "google_chat-queue",
        "options": {
          "headers": {
            "header": [
              {
                "key": "Space  ID",
                "value": "spaces/AAQAnZgImOA"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        3160,
        1580
      ],
      "id": "ee005766-6cbf-46d8-9b6f-2979f74f2cee",
      "name": "RabbitMQ PROPOSTA PAGA",
      "credentials": {
        "rabbitmq": {
          "id": "8S2CCfj4pf5t6xWv",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e4287fd-cbd6-48b3-9f47-e7681e3dcb6a",
              "name": "nome_banco",
              "value": "={{ $json.nome_banco }}",
              "type": "string"
            },
            {
              "id": "8123a588-e804-44ba-af94-8cebd46271b6",
              "name": "descricao_fase",
              "value": "={{ $json.descricao_fase }}",
              "type": "string"
            },
            {
              "id": "b0aaab4b-4d4a-4901-9a60-53a797349023",
              "name": "Status",
              "value": "PROPOSTA RECUSADA",
              "type": "string"
            },
            {
              "id": "a34a5a73-7e2b-417e-a3a1-4709b98b6e91",
              "name": "af_codigo",
              "value": "={{ $json.af_codigo }}",
              "type": "number"
            },
            {
              "id": "ede16ce4-f5ba-490e-8811-d6d6018b08f8",
              "name": "contrato",
              "value": "={{ $json.contrato }}",
              "type": "string"
            },
            {
              "id": "fb00a8d1-9573-4916-83ea-343debc3ad70",
              "name": "Space  ID",
              "value": "spaces/AAQAnZgImOA",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3000,
        680
      ],
      "id": "08fb2440-c4ec-404f-8836-c9968ddd390b",
      "name": "Edit Fields Reprovada - Finalizada1"
    },
    {
      "parameters": {
        "queue": "google_chat-queue",
        "options": {}
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        3200,
        680
      ],
      "id": "d2db2df2-933b-4317-a3cb-56bc0990c244",
      "name": "RabbitMQ PROPOSTA RECUSADA",
      "credentials": {
        "rabbitmq": {
          "id": "8S2CCfj4pf5t6xWv",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e4287fd-cbd6-48b3-9f47-e7681e3dcb6a",
              "name": "nome_banco",
              "value": "={{ $json.nome_banco }}",
              "type": "string"
            },
            {
              "id": "8123a588-e804-44ba-af94-8cebd46271b6",
              "name": "descricao_fase",
              "value": "={{ $json.descricao_fase }}",
              "type": "string"
            },
            {
              "id": "b0aaab4b-4d4a-4901-9a60-53a797349023",
              "name": "Status",
              "value": "PROPOSTA ASSINADA",
              "type": "string"
            },
            {
              "id": "a34a5a73-7e2b-417e-a3a1-4709b98b6e91",
              "name": "af_codigo",
              "value": "={{ $json.af_codigo }}",
              "type": "number"
            },
            {
              "id": "ede16ce4-f5ba-490e-8811-d6d6018b08f8",
              "name": "contrato",
              "value": "={{ $json.contrato }}",
              "type": "string"
            },
            {
              "id": "fb00a8d1-9573-4916-83ea-343debc3ad70",
              "name": "Space  ID",
              "value": "spaces/AAQAnZgImOA",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3200,
        420
      ],
      "id": "2909b864-1ea2-4044-b908-e1ac23af75d9",
      "name": "Edit Fields  Proposta paga"
    },
    {
      "parameters": {
        "queue": "google_chat-queue",
        "options": {
          "headers": {
            "header": [
              {
                "key": "Space  ID",
                "value": "spaces/AAQAnZgImOA"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        3420,
        420
      ],
      "id": "7b1b79a8-83f5-471e-b69e-01334fead7c3",
      "name": "RabbitMQ  Proposta paga",
      "credentials": {
        "rabbitmq": {
          "id": "8S2CCfj4pf5t6xWv",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e4287fd-cbd6-48b3-9f47-e7681e3dcb6a",
              "name": "nome_banco",
              "value": "={{ $json.nome_banco }}",
              "type": "string"
            },
            {
              "id": "8123a588-e804-44ba-af94-8cebd46271b6",
              "name": "descricao_fase",
              "value": "={{ $json.descricao_fase }}",
              "type": "string"
            },
            {
              "id": "b0aaab4b-4d4a-4901-9a60-53a797349023",
              "name": "Status",
              "value": "Proposta Averbada.",
              "type": "string"
            },
            {
              "id": "a34a5a73-7e2b-417e-a3a1-4709b98b6e91",
              "name": "af_codigo",
              "value": "={{ $json.af_codigo }}",
              "type": "number"
            },
            {
              "id": "ede16ce4-f5ba-490e-8811-d6d6018b08f8",
              "name": "contrato",
              "value": "={{ $json.contrato }}",
              "type": "string"
            },
            {
              "id": "fb00a8d1-9573-4916-83ea-343debc3ad70",
              "name": "Space  ID",
              "value": "spaces/AAQAnZgImOA",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3160,
        180
      ],
      "id": "473b2e6e-2623-47f4-9017-7b9820ae21d9",
      "name": "Edit Fields  Processo de averbação"
    },
    {
      "parameters": {
        "queue": "google_chat-queue",
        "options": {
          "headers": {
            "header": [
              {
                "key": "Space  ID",
                "value": "spaces/AAQAnZgImOA"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        3340,
        180
      ],
      "id": "52cbd63a-281b-49ca-b3c4-9375a4a2d31b",
      "name": "RabbitMQ  Processo de averbação",
      "credentials": {
        "rabbitmq": {
          "id": "8S2CCfj4pf5t6xWv",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e4287fd-cbd6-48b3-9f47-e7681e3dcb6a",
              "name": "nome_banco",
              "value": "={{ $json.nome_banco }}",
              "type": "string"
            },
            {
              "id": "8123a588-e804-44ba-af94-8cebd46271b6",
              "name": "descricao_fase",
              "value": "={{ $json.descricao_fase }}",
              "type": "string"
            },
            {
              "id": "b0aaab4b-4d4a-4901-9a60-53a797349023",
              "name": "Status",
              "value": "PROPOSTA RECUSADA",
              "type": "string"
            },
            {
              "id": "a34a5a73-7e2b-417e-a3a1-4709b98b6e91",
              "name": "af_codigo",
              "value": "={{ $json.af_codigo }}",
              "type": "number"
            },
            {
              "id": "ede16ce4-f5ba-490e-8811-d6d6018b08f8",
              "name": "contrato",
              "value": "={{ $json.contrato }}",
              "type": "string"
            },
            {
              "id": "fb00a8d1-9573-4916-83ea-343debc3ad70",
              "name": "Space  ID",
              "value": "spaces/AAQAnZgImOA",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3020,
        -1220
      ],
      "id": "cda7cd42-032b-4bc3-8c8c-32983575544d",
      "name": "Edit Fields Reprovada - Finalizada2"
    },
    {
      "parameters": {
        "queue": "google_chat-queue",
        "options": {
          "headers": {
            "header": [
              {
                "key": "Space  ID",
                "value": "spaces/AAQAnZgImOA"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        3200,
        -1220
      ],
      "id": "a51df32e-f8b5-4460-8635-e3bfaa2d8693",
      "name": "RabbitMQ Reprovada - Finalizada1",
      "credentials": {
        "rabbitmq": {
          "id": "8S2CCfj4pf5t6xWv",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e4287fd-cbd6-48b3-9f47-e7681e3dcb6a",
              "name": "nome_banco",
              "value": "={{ $json.nome_banco }}",
              "type": "string"
            },
            {
              "id": "8123a588-e804-44ba-af94-8cebd46271b6",
              "name": "descricao_fase",
              "value": "={{ $json.descricao_fase }}",
              "type": "string"
            },
            {
              "id": "b0aaab4b-4d4a-4901-9a60-53a797349023",
              "name": "Status",
              "value": "PROPOSTA ASSINADA.",
              "type": "string"
            },
            {
              "id": "a34a5a73-7e2b-417e-a3a1-4709b98b6e91",
              "name": "af_codigo",
              "value": "={{ $json.af_codigo }}",
              "type": "number"
            },
            {
              "id": "ede16ce4-f5ba-490e-8811-d6d6018b08f8",
              "name": "contrato",
              "value": "={{ $json.contrato }}",
              "type": "string"
            },
            {
              "id": "fb00a8d1-9573-4916-83ea-343debc3ad70",
              "name": "Space  ID",
              "value": "spaces/AAQAnZgImOA",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2980,
        -1460
      ],
      "id": "edb4c481-12d8-40ab-a79e-4f19b8f7019f",
      "name": "Edit Fields Checagem - Mesa Corban"
    },
    {
      "parameters": {
        "queue": "google_chat-queue",
        "options": {
          "headers": {
            "header": [
              {
                "key": "Space  ID",
                "value": "spaces/AAQAnZgImOA"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        3140,
        -1460
      ],
      "id": "765488b8-a317-4f66-8c70-d75bdd4b31cd",
      "name": "RabbitMQ Checagem - Mesa Corban",
      "credentials": {
        "rabbitmq": {
          "id": "8S2CCfj4pf5t6xWv",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=EXEC dbo.pr_atualiza_contrato_af\n    @id = {{ $json.Af_codigo }},               -- Código da AF\n    @faseDestino = 9,          -- Fase de destino (diferente da fase de fechamento)\n    @CodContrato = '{{ $json.contrato }}',\n    @texto = 'CHAMADA DE VIDEO link: {{ $json.url_mesa_video }}',\n    @nomeUsuario = 'BACKOFFICE'\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        3360,
        -100
      ],
      "id": "4a63f7b4-e3c1-47c8-aa2c-168544c17c44",
      "name": "Atualiza Fase Aguardando vídeo chamada do cliente",
      "credentials": {
        "microsoftSql": {
          "id": "Eck1dwqEQjiv5hCV",
          "name": "dboAgilus"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3580,
        -100
      ],
      "id": "972d9138-5fdf-42cf-9778-e9fc6c9e4716",
      "name": "Limit4"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "AcessosHappy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AcessosHappy": {
      "main": [
        [
          {
            "node": "Consulta AF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "token": {
      "main": [
        [
          {
            "node": "Consulta Contratos Aguardando Formalizacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Status": {
      "main": [
        [
          {
            "node": "Last Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detalhe do Contrato": {
      "main": [
        [
          {
            "node": "Split Out Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Contrato": {
      "main": [
        [
          {
            "node": "Detalhe do Contrato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta AF": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Loop Over Aguardando Formalzacao",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Aguardando Averbacao",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Averbado ",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Last Status": {
      "main": [
        [
          {
            "node": "Loop Over Aguardando Formalzacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "token1": {
      "main": [
        [
          {
            "node": "Consulta Contratos Aguardando Averbacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Last Status1": {
      "main": [
        [
          {
            "node": "Loop Over Aguardando Averbacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Status1": {
      "main": [
        [
          {
            "node": "Last Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detalhe do Contrato1": {
      "main": [
        [
          {
            "node": "Split Out Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Contrato1": {
      "main": [
        [
          {
            "node": "Detalhe do Contrato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "token2": {
      "main": [
        [
          {
            "node": "Consulta Contratos Averbados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Last Status2": {
      "main": [
        [
          {
            "node": "Loop Over Averbado ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Status2": {
      "main": [
        [
          {
            "node": "Last Status2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detalhe do Contrato2": {
      "main": [
        [
          {
            "node": "Split Out Status2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Contrato2": {
      "main": [
        [
          {
            "node": "Detalhe do Contrato2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Loop Analise Tecnica",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Proposta paga",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Reprovada - Finalizada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Averbado ": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "token2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Aguardando Averbacao": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Aguardando Formalzacao": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Contratos Averbados": {
      "main": [
        [
          {
            "node": "Token Contrato2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Contratos Aguardando Averbacao": {
      "main": [
        [
          {
            "node": "Token Contrato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Contratos Aguardando Formalizacao": {
      "main": [
        [
          {
            "node": "Token Contrato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Loop Validações Automáticas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Pendente Documentação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Checagem - Mesa Formalização",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items Aguardando vídeo chamada do cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Processo de averbação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Proposta paga",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Reprovada - Finalizada1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Teimosinha Dataprev - Averbação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Scheduler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scheduler": {
      "main": [
        [
          {
            "node": "Filter tempo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter tempo": {
      "main": [
        [
          {
            "node": "AcessosHappy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Loop Over Pendente Documentação1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Checagem - Mesa Corban",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Reprovada - Finalizada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fase Aguardando Averbacao": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Atualiza Acompanhamento Validações Automáticas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Pendente Documentação": {
      "main": [
        [],
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fase Pendente Documentação": {
      "main": [
        [
          {
            "node": "Loop Over Pendente Documentação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Pendente Documentação1": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Acompanhamento  AGUARDANDO FORMALIZAÇÃO DIGITAL": {
      "main": [
        [
          {
            "node": "Loop Over Pendente Documentação1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Insert Acompanhamento  AGUARDANDO FORMALIZAÇÃO DIGITAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Edit Fields Checagem - Mesa Formalização",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Acompanhamento Checagem - Mesa Formalização": {
      "main": [
        [
          {
            "node": "Loop Checagem - Mesa Formalização",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Edit Fields Aguardando vídeo chamada do cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Acompanhamento Analise Tecnica": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "Loop Checagem - Mesa Corban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Fase Pendente Documentação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Teimosinha Dataprev - Averbação": {
      "main": [
        [],
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Teimosinha Dataprev - Averbação": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Reprovada - Finalizada1": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields Reprovada - Finalizada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Proposta paga": {
      "main": [
        [],
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Processo de averbação": {
      "main": [
        [],
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fase Averbado - Processo de averbação": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items Aguardando vídeo chamada do cliente": {
      "main": [
        [],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Aguardando vídeo chamada do cliente": {
      "main": [
        [
          {
            "node": "Atualiza Fase Aguardando vídeo chamada do cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Checagem - Mesa Formalização": {
      "main": [
        [],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Checagem - Mesa Formalização": {
      "main": [
        [
          {
            "node": "Atualiza Acompanhamento Checagem - Mesa Formalização",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Validações Automáticas": {
      "main": [
        [],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Acompanhamento Validações Automáticas": {
      "main": [
        [
          {
            "node": "Loop Validações Automáticas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Checagem - Mesa Corban": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields Checagem - Mesa Corban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Reprovada - Finalizada": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields Reprovada - Finalizada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Analise Tecnica": {
      "main": [
        [],
        [
          {
            "node": "Wait Analise Tecnica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Analise Tecnica": {
      "main": [
        [
          {
            "node": "Edit Fields Analise Tecnica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Analise Tecnica": {
      "main": [
        [
          {
            "node": "Atualiza Acompanhamento Analise Tecnica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Proposta paga": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields PROPOSTA PAGA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Reprovada - Finalizada1": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields Reprovada - Finalizada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Loop Processo de averbação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Loop Over Teimosinha Dataprev - Averbação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Edit Fields  Processo de averbação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Teimosinha Dataprev - Averbação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "Edit Fields  Proposta paga",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Loop Analise Tecnica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Reprovada - Finalizada": {
      "main": [
        [
          {
            "node": "RabbitMQ Reprovada - Finalizada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ Reprovada - Finalizada": {
      "main": [
        [
          {
            "node": "Loop Reprovada - Finalizada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields PROPOSTA PAGA": {
      "main": [
        [
          {
            "node": "RabbitMQ PROPOSTA PAGA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ PROPOSTA PAGA": {
      "main": [
        [
          {
            "node": "Loop Proposta paga",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Reprovada - Finalizada1": {
      "main": [
        [
          {
            "node": "RabbitMQ PROPOSTA RECUSADA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ PROPOSTA RECUSADA": {
      "main": [
        [
          {
            "node": "Loop Over Reprovada - Finalizada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields  Proposta paga": {
      "main": [
        [
          {
            "node": "RabbitMQ  Proposta paga",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ  Proposta paga": {
      "main": [
        [
          {
            "node": "Loop Over Proposta paga",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields  Processo de averbação": {
      "main": [
        [
          {
            "node": "RabbitMQ  Processo de averbação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ  Processo de averbação": {
      "main": [
        [
          {
            "node": "Fase Averbado - Processo de averbação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Reprovada - Finalizada2": {
      "main": [
        [
          {
            "node": "RabbitMQ Reprovada - Finalizada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ Reprovada - Finalizada1": {
      "main": [
        [
          {
            "node": "Loop Reprovada - Finalizada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Checagem - Mesa Corban": {
      "main": [
        [
          {
            "node": "RabbitMQ Checagem - Mesa Corban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ Checagem - Mesa Corban": {
      "main": [
        [
          {
            "node": "Fase Aguardando Averbacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Fase Aguardando vídeo chamada do cliente": {
      "main": [
        [
          {
            "node": "Limit4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit4": {
      "main": [
        [
          {
            "node": "Loop Over Items Aguardando vídeo chamada do cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "51d4f67c-a311-4696-a169-699eb57a0d80",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-03-27T16:44:15.945Z",
      "createdAt": "2025-03-27T16:44:15.945Z",
      "role": "workflow:owner",
      "workflowId": "2molLjy1qAPbywg6",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2025-02-20T16:29:31.422Z",
      "createdAt": "2025-02-20T16:29:31.422Z",
      "id": "XZLWvH2vm1NnuOvm",
      "name": "Comercial"
    }
  ]
}