Comercial/2nezrN4claadMGuQ.json
{
  "updatedAt": "2025-05-20T17:48:32.416Z",
  "createdAt": "2025-05-12T17:50:26.538Z",
  "id": "2nezrN4claadMGuQ",
  "name": "Higenizador - Gera planilha IN100",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "http://10.3.60.31:15672/api/queues/%2F/higenizador_in100-queue",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        200
      ],
      "id": "1b35ba0d-6d8b-4bb7-9236-6df58f9a682e",
      "name": "HTTP Request1",
      "credentials": {
        "httpBasicAuth": {
          "id": "ZbqYo9qALBnrHiBt",
          "name": "RabbitMQ User"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        200
      ],
      "id": "8b731086-e1da-441b-9b54-a830c38939b7",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af666e47-dfa7-49d5-981d-6d0fc1750e3b",
              "name": "AquivoName",
              "value": "={{ $json.AquivoName.trim() }}",
              "type": "string"
            },
            {
              "id": "ed48d14d-8c66-497b-b01e-3c45beac55a0",
              "name": "email",
              "value": "={{ $json.email.trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        200
      ],
      "id": "12e825ab-0e84-4a98-8abf-9825bcf385d1",
      "name": "Dados"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "507371bc-9859-4d79-b427-863939fbea9a",
              "name": "NOME",
              "value": "={{ $json.NOME }}",
              "type": "string"
            },
            {
              "id": "d42aaefd-8bea-4792-a0f2-bc9de3229b6b",
              "name": "CPF",
              "value": "={{ $json.CPF }}",
              "type": "string"
            },
            {
              "id": "558f2275-d558-46c3-b1ab-31d2dd65a638",
              "name": "BENEFÍCIO",
              "value": "={{ $json[\"BENEFÍCIO\"] }}",
              "type": "string"
            },
            {
              "id": "31c922eb-e4af-45c9-9180-ff62a3020a78",
              "name": "IDADE",
              "value": "={{ $json.IDADE }}",
              "type": "string"
            },
            {
              "id": "1686f622-5cc7-445f-8a96-9302b468a2bc",
              "name": "SITUAÇÃO BENEFÍCIO",
              "value": "={{ $json[\"SITUAÇÃO BENEFÍCIO\"] }}",
              "type": "string"
            },
            {
              "id": "9580a0a6-2a4d-4524-834b-cd2ab5172088",
              "name": "DATA BLOQUEIO",
              "value": "={{ $json[\"DATA BLOQUEIO\"] }}",
              "type": "string"
            },
            {
              "id": "250fe63b-957e-4d99-913b-d44913641a93",
              "name": "MOTIVO BLOQUEIO",
              "value": "={{ $json[\"MOTIVO BLOQUEIO\"] }}",
              "type": "string"
            },
            {
              "id": "9de63d0d-05dd-4237-a0b3-ac21f7751a43",
              "name": "CRÉDITO CONSIGNADO VALOR",
              "value": "={{ $json[\"CRÉDITO CONSIGNADO VALOR\"] }}",
              "type": "string"
            },
            {
              "id": "17dd35ac-3b51-4594-8e28-1d5fda328887",
              "name": "CARTÃO CONSIGNADO VALOR",
              "value": "={{ $json[\"CARTÃO CONSIGNADO VALOR\"] }}",
              "type": "string"
            },
            {
              "id": "093d0b83-38a7-45fe-af0a-76ad1d89b1ad",
              "name": "CARTÃO BENEFÍCIO VALOR",
              "value": "={{ $json[\"CARTÃO BENEFÍCIO VALOR\"] }}",
              "type": "string"
            },
            {
              "id": "d6b941ac-fdbe-46c8-8c73-95015838f3c4",
              "name": "TELEFONE_1",
              "value": "={{ $json.TELEFONE_1 }}",
              "type": "string"
            },
            {
              "id": "6997ba9a-0ca8-45b6-afa9-50f658179286",
              "name": "TELEFONE_2",
              "value": "={{ $json.TELEFONE_2 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1720,
        160
      ],
      "id": "c05ecc3c-bc2e-4cb1-b6d2-730d76ea22ea",
      "name": "Formata Planilha"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "={{ $('Dados').item.json.AquivoName }}.xlsx"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1900,
        160
      ],
      "id": "bbc0375d-c676-4053-b468-71d6ebc46fa4",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "name": "={{ $binary.data.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1YXgM6eDJknoGG11veUagFC13WPxXUG3C",
          "mode": "list",
          "cachedResultName": "Higienizador in100",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1YXgM6eDJknoGG11veUagFC13WPxXUG3C"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2080,
        160
      ],
      "id": "91ededfd-16ae-4af9-96e3-c6eb156029ed",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JxMGjX2Q5RFojEnn",
          "name": "Google Drive Desenvolvimento"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c9c2f8d8-f39a-4155-bc61-4405be5fb993",
              "leftValue": "={{ $json.messages }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        200
      ],
      "id": "d354a717-1587-4746-adc4-e44f3ae9b375",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1000,
        340
      ],
      "id": "0723be90-8fc1-43ec-9e5f-08e0b750a54e",
      "name": "Wait",
      "webhookId": "b3b4efa1-670d-4e28-a935-5a1a193274d2"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "=data",
        "options": {
          "headerRow": true,
          "sheetName": "Base"
        }
      },
      "id": "b898709c-4b66-4317-939c-90f03da1ccab",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        420,
        -260
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "download",
        "path": "E:\\Dados\\TI\\01 - Planilhas\\Banco de Dados - Usuários1.xlsx",
        "options": {}
      },
      "id": "ae61841f-ea58-4247-8250-f7a838467dde",
      "name": "SSH",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        240,
        -260
      ],
      "executeOnce": true,
      "credentials": {
        "sshPassword": {
          "id": "ycQRi5glz56987vv",
          "name": "SSH Password account SRV01"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ca550c2-422c-4ff3-921c-4f0facb0acb9",
              "name": "NOME",
              "value": "={{ $json.NOME.trim().toUpperCase().trim() }}",
              "type": "string"
            },
            {
              "id": "6898d4d3-a8b3-4ba3-b8ff-42e619e98957",
              "name": "email",
              "value": "={{ $json['E-MAIL/USUARIO'].trim() }}",
              "type": "string"
            },
            {
              "id": "59336c26-41e1-4f63-a483-58cdbbb041b4",
              "name": "EMPRESA",
              "value": "={{ $json.EMPRESA }}",
              "type": "string"
            },
            {
              "id": "c2c81b2c-7d31-476f-bd96-1713f7caaaee",
              "name": "TELEFONE",
              "value": "={{ $json.TELEFONE.replace(/\\D/g, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "id": "219a29f5-e490-46cf-960b-6e0f0af20a6f",
      "name": "Formata campos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        -260
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "email",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1100,
        -260
      ],
      "id": "399be508-19ed-49da-9e5b-5fa28ea8fe25",
      "name": "Merge",
      "executeOnce": false
    },
    {
      "parameters": {
        "content": "## NOTIFICAÇÃO \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 400,
        "width": 1520
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        -440
      ],
      "typeVersion": 1,
      "id": "320a755f-dd80-40a3-8410-958b6cf4646b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## CRIA PLANILHA\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 340,
        "width": 960
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1260,
        20
      ],
      "typeVersion": 1,
      "id": "81523892-4798-45c5-a8f9-67b6f3735bf1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## VALIDA FILA\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 540,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        20
      ],
      "typeVersion": 1,
      "id": "ee26145e-9d4d-404c-9aea-184d3755411b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "[\"BENEFÍCIO\"]",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1520,
        160
      ],
      "id": "66381753-e72a-4098-9291-28caec66c6bd",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "databaseId": 223716,
        "tableId": 535524,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 4271883,
                "value": "={{ $('Dados').item.json.AquivoName }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1320,
        160
      ],
      "id": "64829a42-6b81-408c-a2d1-f79012435ed4",
      "name": "Baserow",
      "retryOnFail": true,
      "credentials": {
        "baserowApi": {
          "id": "zWiTHsKRCs3MpLam",
          "name": "Baserow desenvolvimento"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1720,
        -260
      ],
      "id": "e1d36916-891d-4370-a130-0812e0a9f13b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4a0a8cd4-e6d2-4079-8632-b3c621e41982",
              "leftValue": "={{ $json.TELEFONE }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        860,
        -260
      ],
      "id": "bb45821f-58f9-440a-b4f6-9b338be79f3d",
      "name": "Filter"
    },
    {
      "parameters": {
        "queue": "whatsapp_suporte-queue",
        "options": {}
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        1500,
        -260
      ],
      "id": "aa0e89b2-7e2a-461f-8ca2-54e8d4926571",
      "name": "RabbitMQ1",
      "credentials": {
        "rabbitmq": {
          "id": "8S2CCfj4pf5t6xWv",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69563584-d03c-4df8-92f7-55c6e92d9756",
              "name": "textMessage",
              "value": "=\"{{ $json.NOME.split(' ').first().toTitleCase() }} terminou a higienização do arquivo {{ $('Dados').item.json.AquivoName.trim() }}.  {{ $('Google Drive').item.json.webContentLink }}\"",
              "type": "string"
            },
            {
              "id": "d8b01833-a153-4f13-955b-ae849c703ee4",
              "name": "Instancias",
              "value": "SUPORTE",
              "type": "string"
            },
            {
              "id": "2a115f54-3b26-4e8b-b685-76e2fd66f21c",
              "name": "phone",
              "value": "=55{{ $json.TELEFONE }}",
              "type": "string"
            },
            {
              "id": "16a6d23c-4bea-42cd-b6d2-79eff88c2218",
              "name": "REQUERENTE",
              "value": "={{ $json.NOME }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        -260
      ],
      "id": "e7aed6da-83bd-4562-80da-5f251c856bca",
      "name": "Edit Mensagem"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Formata Planilha": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "SSH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Baserow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Formata campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata campos": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Formata Planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Mensagem": {
      "main": [
        [
          {
            "node": "RabbitMQ1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "AquivoName": "TAICY ",
          "email": "raul.guimaraes@mdgintermediacoes.com.br"
        }
      }
    ]
  },
  "versionId": "d30ea591-3f21-4cf4-b912-9c5bde4839f0",
  "activeVersionId": "d30ea591-3f21-4cf4-b912-9c5bde4839f0",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-05-12T17:50:26.538Z",
      "createdAt": "2025-05-12T17:50:26.538Z",
      "role": "workflow:owner",
      "workflowId": "2nezrN4claadMGuQ",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-11-29T01:50:38.405Z",
    "createdAt": "2025-11-29T01:50:38.405Z",
    "versionId": "d30ea591-3f21-4cf4-b912-9c5bde4839f0",
    "workflowId": "2nezrN4claadMGuQ",
    "nodes": [
      {
        "parameters": {
          "url": "http://10.3.60.31:15672/api/queues/%2F/higenizador_in100-queue",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          620,
          200
        ],
        "id": "1b35ba0d-6d8b-4bb7-9236-6df58f9a682e",
        "name": "HTTP Request1",
        "credentials": {
          "httpBasicAuth": {
            "id": "ZbqYo9qALBnrHiBt",
            "name": "RabbitMQ User"
          }
        }
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          220,
          200
        ],
        "id": "8b731086-e1da-441b-9b54-a830c38939b7",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "af666e47-dfa7-49d5-981d-6d0fc1750e3b",
                "name": "AquivoName",
                "value": "={{ $json.AquivoName.trim() }}",
                "type": "string"
              },
              {
                "id": "ed48d14d-8c66-497b-b01e-3c45beac55a0",
                "name": "email",
                "value": "={{ $json.email.trim() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          440,
          200
        ],
        "id": "12e825ab-0e84-4a98-8abf-9825bcf385d1",
        "name": "Dados"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "507371bc-9859-4d79-b427-863939fbea9a",
                "name": "NOME",
                "value": "={{ $json.NOME }}",
                "type": "string"
              },
              {
                "id": "d42aaefd-8bea-4792-a0f2-bc9de3229b6b",
                "name": "CPF",
                "value": "={{ $json.CPF }}",
                "type": "string"
              },
              {
                "id": "558f2275-d558-46c3-b1ab-31d2dd65a638",
                "name": "BENEFÍCIO",
                "value": "={{ $json[\"BENEFÍCIO\"] }}",
                "type": "string"
              },
              {
                "id": "31c922eb-e4af-45c9-9180-ff62a3020a78",
                "name": "IDADE",
                "value": "={{ $json.IDADE }}",
                "type": "string"
              },
              {
                "id": "1686f622-5cc7-445f-8a96-9302b468a2bc",
                "name": "SITUAÇÃO BENEFÍCIO",
                "value": "={{ $json[\"SITUAÇÃO BENEFÍCIO\"] }}",
                "type": "string"
              },
              {
                "id": "9580a0a6-2a4d-4524-834b-cd2ab5172088",
                "name": "DATA BLOQUEIO",
                "value": "={{ $json[\"DATA BLOQUEIO\"] }}",
                "type": "string"
              },
              {
                "id": "250fe63b-957e-4d99-913b-d44913641a93",
                "name": "MOTIVO BLOQUEIO",
                "value": "={{ $json[\"MOTIVO BLOQUEIO\"] }}",
                "type": "string"
              },
              {
                "id": "9de63d0d-05dd-4237-a0b3-ac21f7751a43",
                "name": "CRÉDITO CONSIGNADO VALOR",
                "value": "={{ $json[\"CRÉDITO CONSIGNADO VALOR\"] }}",
                "type": "string"
              },
              {
                "id": "17dd35ac-3b51-4594-8e28-1d5fda328887",
                "name": "CARTÃO CONSIGNADO VALOR",
                "value": "={{ $json[\"CARTÃO CONSIGNADO VALOR\"] }}",
                "type": "string"
              },
              {
                "id": "093d0b83-38a7-45fe-af0a-76ad1d89b1ad",
                "name": "CARTÃO BENEFÍCIO VALOR",
                "value": "={{ $json[\"CARTÃO BENEFÍCIO VALOR\"] }}",
                "type": "string"
              },
              {
                "id": "d6b941ac-fdbe-46c8-8c73-95015838f3c4",
                "name": "TELEFONE_1",
                "value": "={{ $json.TELEFONE_1 }}",
                "type": "string"
              },
              {
                "id": "6997ba9a-0ca8-45b6-afa9-50f658179286",
                "name": "TELEFONE_2",
                "value": "={{ $json.TELEFONE_2 }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1720,
          160
        ],
        "id": "c05ecc3c-bc2e-4cb1-b6d2-730d76ea22ea",
        "name": "Formata Planilha"
      },
      {
        "parameters": {
          "operation": "xlsx",
          "options": {
            "fileName": "={{ $('Dados').item.json.AquivoName }}.xlsx"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          1900,
          160
        ],
        "id": "bbc0375d-c676-4053-b468-71d6ebc46fa4",
        "name": "Convert to File"
      },
      {
        "parameters": {
          "name": "={{ $binary.data.fileName }}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1YXgM6eDJknoGG11veUagFC13WPxXUG3C",
            "mode": "list",
            "cachedResultName": "Higienizador in100",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1YXgM6eDJknoGG11veUagFC13WPxXUG3C"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          2080,
          160
        ],
        "id": "91ededfd-16ae-4af9-96e3-c6eb156029ed",
        "name": "Google Drive",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "JxMGjX2Q5RFojEnn",
            "name": "Google Drive Desenvolvimento"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c9c2f8d8-f39a-4155-bc61-4405be5fb993",
                "leftValue": "={{ $json.messages }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          840,
          200
        ],
        "id": "d354a717-1587-4746-adc4-e44f3ae9b375",
        "name": "If"
      },
      {
        "parameters": {
          "amount": 15
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1000,
          340
        ],
        "id": "0723be90-8fc1-43ec-9e5f-08e0b750a54e",
        "name": "Wait",
        "webhookId": "b3b4efa1-670d-4e28-a935-5a1a193274d2"
      },
      {
        "parameters": {
          "operation": "xlsx",
          "binaryPropertyName": "=data",
          "options": {
            "headerRow": true,
            "sheetName": "Base"
          }
        },
        "id": "b898709c-4b66-4317-939c-90f03da1ccab",
        "name": "Extract from File",
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          420,
          -260
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "download",
          "path": "E:\\Dados\\TI\\01 - Planilhas\\Banco de Dados - Usuários1.xlsx",
          "options": {}
        },
        "id": "ae61841f-ea58-4247-8250-f7a838467dde",
        "name": "SSH",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          240,
          -260
        ],
        "executeOnce": true,
        "credentials": {
          "sshPassword": {
            "id": "ycQRi5glz56987vv",
            "name": "SSH Password account SRV01"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3ca550c2-422c-4ff3-921c-4f0facb0acb9",
                "name": "NOME",
                "value": "={{ $json.NOME.trim().toUpperCase().trim() }}",
                "type": "string"
              },
              {
                "id": "6898d4d3-a8b3-4ba3-b8ff-42e619e98957",
                "name": "email",
                "value": "={{ $json['E-MAIL/USUARIO'].trim() }}",
                "type": "string"
              },
              {
                "id": "59336c26-41e1-4f63-a483-58cdbbb041b4",
                "name": "EMPRESA",
                "value": "={{ $json.EMPRESA }}",
                "type": "string"
              },
              {
                "id": "c2c81b2c-7d31-476f-bd96-1713f7caaaee",
                "name": "TELEFONE",
                "value": "={{ $json.TELEFONE.replace(/\\D/g, '') }}",
                "type": "string"
              }
            ]
          },
          "options": {
            "ignoreConversionErrors": true
          }
        },
        "id": "219a29f5-e490-46cf-960b-6e0f0af20a6f",
        "name": "Formata campos",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          640,
          -260
        ],
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "email",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1100,
          -260
        ],
        "id": "399be508-19ed-49da-9e5b-5fa28ea8fe25",
        "name": "Merge",
        "executeOnce": false
      },
      {
        "parameters": {
          "content": "## NOTIFICAÇÃO \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 400,
          "width": 1520
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          160,
          -440
        ],
        "typeVersion": 1,
        "id": "320a755f-dd80-40a3-8410-958b6cf4646b",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## CRIA PLANILHA\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 340,
          "width": 960
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1260,
          20
        ],
        "typeVersion": 1,
        "id": "81523892-4798-45c5-a8f9-67b6f3735bf1",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## VALIDA FILA\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 540,
          "width": 800
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          380,
          20
        ],
        "typeVersion": 1,
        "id": "ee26145e-9d4d-404c-9aea-184d3755411b",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "compare": "selectedFields",
          "fieldsToCompare": "[\"BENEFÍCIO\"]",
          "options": {}
        },
        "type": "n8n-nodes-base.removeDuplicates",
        "typeVersion": 2,
        "position": [
          1520,
          160
        ],
        "id": "66381753-e72a-4098-9291-28caec66c6bd",
        "name": "Remove Duplicates"
      },
      {
        "parameters": {
          "databaseId": 223716,
          "tableId": 535524,
          "additionalOptions": {
            "filters": {
              "fields": [
                {
                  "field": 4271883,
                  "value": "={{ $('Dados').item.json.AquivoName }}"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          1320,
          160
        ],
        "id": "64829a42-6b81-408c-a2d1-f79012435ed4",
        "name": "Baserow",
        "retryOnFail": true,
        "credentials": {
          "baserowApi": {
            "id": "zWiTHsKRCs3MpLam",
            "name": "Baserow desenvolvimento"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1720,
          -260
        ],
        "id": "e1d36916-891d-4370-a130-0812e0a9f13b",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "4a0a8cd4-e6d2-4079-8632-b3c621e41982",
                "leftValue": "={{ $json.TELEFONE }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          860,
          -260
        ],
        "id": "bb45821f-58f9-440a-b4f6-9b338be79f3d",
        "name": "Filter"
      },
      {
        "parameters": {
          "queue": "whatsapp_suporte-queue",
          "options": {}
        },
        "type": "n8n-nodes-base.rabbitmq",
        "typeVersion": 1.1,
        "position": [
          1500,
          -260
        ],
        "id": "aa0e89b2-7e2a-461f-8ca2-54e8d4926571",
        "name": "RabbitMQ1",
        "credentials": {
          "rabbitmq": {
            "id": "8S2CCfj4pf5t6xWv",
            "name": "RabbitMQ account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "69563584-d03c-4df8-92f7-55c6e92d9756",
                "name": "textMessage",
                "value": "=\"{{ $json.NOME.split(' ').first().toTitleCase() }} terminou a higienização do arquivo {{ $('Dados').item.json.AquivoName.trim() }}.  {{ $('Google Drive').item.json.webContentLink }}\"",
                "type": "string"
              },
              {
                "id": "d8b01833-a153-4f13-955b-ae849c703ee4",
                "name": "Instancias",
                "value": "SUPORTE",
                "type": "string"
              },
              {
                "id": "2a115f54-3b26-4e8b-b685-76e2fd66f21c",
                "name": "phone",
                "value": "=55{{ $json.TELEFONE }}",
                "type": "string"
              },
              {
                "id": "16a6d23c-4bea-42cd-b6d2-79eff88c2218",
                "name": "REQUERENTE",
                "value": "={{ $json.NOME }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1280,
          -260
        ],
        "id": "e7aed6da-83bd-4562-80da-5f251c856bca",
        "name": "Edit Mensagem"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dados": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Formata Planilha": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File": {
        "main": [
          [
            {
              "node": "Google Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive": {
        "main": [
          [
            {
              "node": "SSH",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Baserow",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Formata campos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SSH": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formata campos": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Edit Mensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove Duplicates": {
        "main": [
          [
            {
              "node": "Formata Planilha",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Baserow": {
        "main": [
          [
            {
              "node": "Remove Duplicates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "RabbitMQ1": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Mensagem": {
        "main": [
          [
            {
              "node": "RabbitMQ1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2025-02-20T16:29:31.422Z",
      "createdAt": "2025-02-20T16:29:31.422Z",
      "id": "XZLWvH2vm1NnuOvm",
      "name": "Comercial"
    }
  ]
}