Comercial/5VYNPBmb78WHDqOR.json
{
  "updatedAt": "2025-04-30T15:58:16.753Z",
  "createdAt": "2025-04-30T15:58:04.935Z",
  "id": "5VYNPBmb78WHDqOR",
  "name": "TabuArguLus Ligações Detalhadas Resumidas",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "eb78a607-f1d7-4baf-972b-e150d844f6e4",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1840,
        140
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "eef36cc2-38d8-47b3-b330-941a8fede2f8",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        840,
        -660
      ]
    },
    {
      "parameters": {
        "jsCode": "const startTime = 8;\nconst finishTime = 17;\nconst operationDays = [1,2,3,4,5,6];\n`\n0 representa domingo,\n1 representa segunda-feira,\n2 representa terça-feira,\n3 representa quarta-feira,\n4 representa quinta-feira,\n5 representa sexta-feira,\n6 representa sábado.\n`\n\nconst now = new Date();\nconst nowHour = now.getHours();\nconst nowDay = now.getDay();\nif (nowHour >= startTime && nowHour < finishTime && operationDays.includes(nowDay)) {\n      return {sheduler: true}\n    }\n\n return {sheduler: false}"
      },
      "id": "3856b649-c795-488a-84dd-f2a6f400c9f2",
      "name": "Scheduler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.sheduler }}",
              "value2": true
            }
          ]
        }
      },
      "id": "6d1692d8-28d8-45b4-b8b8-ef69e10af5f8",
      "name": "iSInTime",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1260,
        -660
      ]
    },
    {
      "parameters": {
        "jsCode": "function runTime(addHour = 0, minute = '00') {\n  const now = new Date();\n  const hour = now.getHours();\n  const year = now.getFullYear();\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const day = String(now.getDate()).padStart(2, '0');\n  return formattedDate = `${year}-${month}-${day}T${String(hour + addHour).padStart(2, '0')}:${minute}:00.000`;\n}\n\nfunction runDate() {\n  const now = new Date();\n  const hour = now.getHours();\n  const year = now.getFullYear();\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const day = String(now.getDate()).padStart(2, '0');\n  return formattedDate = `${year}-${month}-${day}`;\n}\n\nconst startTime = runDate()\nconst endTime = runDate()\n\nreturn {startTime, endTime}\n\n"
      },
      "id": "f2846d7d-97fe-47e7-a5a2-9aa19a2fd1aa",
      "name": "Start and End Time Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        -420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n.mdgintermediacoes.com.br/webhook/3bbcfb3e-3e11-48a1-8adc-6ffdca7c2b39",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "-1001534937224"
            },
            {
              "name": "message",
              "value": "=Ocorreu um erro ao coletar dados das tabulações detalhadas no TabuArguLus.\n\nStatus: {{ $json.error.status }}\nCodigo: {{ $json.error.code }}\nMensagem:  {{ $json.error.message }}"
            },
            {
              "name": "parse_mode",
              "value": "html"
            }
          ]
        },
        "options": {}
      },
      "id": "5e4feb3b-4df7-4696-8821-155110a696a5",
      "name": "Envio telegram Kira Dev",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1100,
        80
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "states",
          "mode": "list",
          "cachedResultName": "states"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "c7f996c2-7685-4b34-ad0c-8db290b383c2",
      "name": "Select all states",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2060,
        -360
      ],
      "credentials": {
        "mySql": {
          "id": "McVpZOscKHG1eIW2",
          "name": "Tabuargulus"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO argus_calls (idLigacao, dataHoraLigacao, nrLead, resultadoLigacao, tempoSegundos, telefone, idLote, nomeCliente, dataImportacao, codCliente, idGrupoUsuario, grupoOrigem, idUsuario, usuarioOperador, statusAtendimento, tipoAgenda, tabulacao, categoriaTabulacao, state_id)\nVALUES\n    {{ $('Loop Over Items').first().json.result }}\nON DUPLICATE KEY UPDATE\n    idLigacao = VALUES(idLigacao),\n    dataHoraLigacao = VALUES(dataHoraLigacao),\n    nrLead = VALUES(nrLead),\n    resultadoLigacao = VALUES(resultadoLigacao),\n    tempoSegundos = VALUES(tempoSegundos),\n    telefone = VALUES(telefone),\n    idLote = VALUES(idLote),\n    nomeCliente = VALUES(nomeCliente),\n    dataImportacao = VALUES(dataImportacao),\n    codCliente = VALUES(codCliente),\n    idGrupoUsuario = VALUES(idGrupoUsuario),\n    grupoOrigem = VALUES(grupoOrigem),\n    idUsuario = VALUES(idUsuario),\n    usuarioOperador = VALUES(usuarioOperador),\n    statusAtendimento = VALUES(statusAtendimento),\n    tipoAgenda = VALUES(tipoAgenda),\n    tabulacao = VALUES(tabulacao),\n    categoriaTabulacao = VALUES(categoriaTabulacao),\n    state_id = VALUES(state_id);\n\n",
        "options": {}
      },
      "id": "21b6b1b8-83f0-43fe-80de-d34b3747cc4d",
      "name": "Insert call",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2480,
        -140
      ],
      "credentials": {
        "mySql": {
          "id": "McVpZOscKHG1eIW2",
          "name": "Tabuargulus"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "result",
        "options": {}
      },
      "id": "ca181330-7fbf-4c5b-a0ec-ce06deec2839",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2480,
        -360
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "05dd23f1-9209-4e29-802b-ba49ffbeb6a5",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2100,
        -160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT MAX(id) as id from last_id_call;",
        "options": {}
      },
      "id": "43f04aaa-f703-473c-8c35-035ab8b756bf",
      "name": "Get last id",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1060,
        -420
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "McVpZOscKHG1eIW2",
          "name": "Tabuargulus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "49a8362a-2a2c-4d48-9881-62c627967e42",
              "leftValue": "={{ $json.qtdeRegistros }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dd28e402-b398-4324-903e-6dc6118ee28e",
      "name": "If exists regs",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        -180
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE last_id_call\nSET id = '{{ $json.idProxPagina }}'\nWHERE id = '{{ $('Get last id').first().json.id }}';\n",
        "options": {}
      },
      "id": "cf72adf6-ebf1-49ba-a290-17c4ac955e11",
      "name": "Save Last id",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1840,
        -360
      ],
      "credentials": {
        "mySql": {
          "id": "McVpZOscKHG1eIW2",
          "name": "Tabuargulus"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const campainId = 1;\nconst startTime = $('Start and End Time Date').first().json.startTime;\nconst endTime = $('Start and End Time Date').first().json.endTime;\nconst id = $('Get last id').first().json.id;\n\nlet parameters = {\n  idCampanha: campainId,\n  periodoInicial: startTime,\n  periodoFinal: endTime,\n  // ultimosMinutos: 80,\n  ...(id && { ultimoId: id })\n}\n\nreturn {parameters};"
      },
      "id": "a706d095-a1d5-49ca-b64e-f045512354df",
      "name": "Mount parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        -420
      ]
    },
    {
      "parameters": {
        "url": "https://argus.app.br/apiargus/report/ligacoesdetalhadas",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={{ JSON.stringify($('Mount parameters').first().json.parameters) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Token-Signature",
              "value": "prmaiy0e0l99hdlvip1bxdnaeizlb6zitiema6kb76j6diq14gk8jkgrrowwsolq"
            }
          ]
        },
        "options": {}
      },
      "id": "bf277202-1d30-402e-9f3d-07ec8d4ea02f",
      "name": "Get Calls",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        -120
      ],
      "retryOnFail": true,
      "waitBetweenTries": 1000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const calls_complete = $('Get Calls').first().json.ligacoesDetalhadas;\n\nconst calls = calls_complete.filter((item) => {\n  return (item.tipoAgenda !== \"\" && item.tabulacao !== \"\" && item.categoriaTabulacao !== \"\") && (item.tabulacao !== \"NÃO TABULADO\" && item.categoriaTabulacao !== \"NÃO TABULADO\");\n});\n\nconst states = $('Select all states').all();\nconst blockSize = 1000;\nconst quantity = calls.length;\nconst blocks = Math.ceil(quantity / blockSize);\n\nlet result = [];\n\nfunction getDdd(number) {\n  const phoneNumberStr = number.toString();\n  return phoneNumberStr.slice(0, 2)\n}\n\nfunction getStateId(number) {\n  if (number && number != '' ) {\n    const ddd = getDdd(number);\n    const state = states.find(state => state.json.ddds.includes(ddd));\n    return state ? state.json.id : null\n  }\n  return null\n}\n\nfunction nuuabled(item) {\n  if (!item) {\n    return \"NULL\"; \n  }\n  \n  if (typeof(item) == \"string\") {\n      if (item != \"\") {\n          return `'${item}'`;\n      }\n      return \"NULL\";\n  }\n\n  if (typeof(item) == \"undefined\") {\n      return \"NULL\";\n  }\n  return item;\n}\n\nfor (let i = 0; i < blocks; i++) {   \n  \n  const start = i * blockSize;\n  const end = start + blockSize;\n  const block = calls.slice(start, end);\n  const insertString = block.map((item) => {\n\n      return `(` +\n      `${nuuabled(item.idLigacao)},` +\n      `${nuuabled(new Date(item.dataHoraLigacao).toISOString().split('T')[0] + ' ' + new Date(item.dataHoraLigacao).toTimeString().split(' ')[0].slice(0, -3) + ':00')},` +\n      `${nuuabled(item.nrLead)},` +\n      `${nuuabled(item.resultadoLigacao)},` +\n      `${nuuabled(item.tempoSegundos)},` +\n      `${nuuabled(item.telefone)},` +\n      `${nuuabled(item.idLote)},` +\n      `${nuuabled(item.nomeCliente)},` +\n      `${nuuabled(new Date(item.dataImportacao).toISOString().split('T')[0] + ' ' + new Date(item.dataImportacao).toTimeString().split(' ')[0].slice(0, -3) + ':00')},` +\n      `${nuuabled(item.codCliente)},` +\n      `${nuuabled(item.idGrupoUsuario)},` +\n      `${nuuabled(item.grupoOrigem)},` +\n      `${nuuabled(item.idUsuario)},` +\n      `${nuuabled(item.usuarioOperador)},` +\n      `${nuuabled(item.statusAtendimento)},` +\n      `${nuuabled(item.tipoAgenda)},` +\n      `${nuuabled(item.tabulacao)},` +\n      `${nuuabled(item.categoriaTabulacao)},` +\n      `${nuuabled(getStateId(item.telefone))}`+\n      `)`;\n  }).join(',');\n\n  result.push(insertString);\n}\n\nreturn {result: result};"
      },
      "id": "ee586479-2723-4411-91ad-8a9f8e72167f",
      "name": "Mount partial insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2260,
        -360
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Scheduler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scheduler": {
      "main": [
        [
          {
            "node": "iSInTime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iSInTime": {
      "main": [
        [
          {
            "node": "Start and End Time Date",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start and End Time Date": {
      "main": [
        [
          {
            "node": "Get last id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envio telegram Kira Dev": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select all states": {
      "main": [
        [
          {
            "node": "Mount partial insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert call": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get last id": {
      "main": [
        [
          {
            "node": "Mount parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If exists regs": {
      "main": [
        [
          {
            "node": "Save Last id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Last id": {
      "main": [
        [
          {
            "node": "Select all states",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mount parameters": {
      "main": [
        [
          {
            "node": "Get Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Calls": {
      "main": [
        [
          {
            "node": "If exists regs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envio telegram Kira Dev",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mount partial insert": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 300
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ddd3bb0a-1bf2-4123-b8af-33333f7c3715",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-04-30T15:58:04.935Z",
      "createdAt": "2025-04-30T15:58:04.935Z",
      "role": "workflow:owner",
      "workflowId": "5VYNPBmb78WHDqOR",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2025-02-20T16:29:31.422Z",
      "createdAt": "2025-02-20T16:29:31.422Z",
      "id": "XZLWvH2vm1NnuOvm",
      "name": "Comercial"
    }
  ]
}