Comercial/68FV7pkEExQik2BR.json
{
  "updatedAt": "2025-05-21T13:36:17.207Z",
  "createdAt": "2025-05-08T19:42:54.040Z",
  "id": "68FV7pkEExQik2BR",
  "name": "Higenizador - IN100 Credilus",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba3f2894-b0dc-40e8-b236-b47c36c9e351",
              "name": "data",
              "value": "={{ $json.content.parseJson()['CPF'].padStart(11, 0) }}",
              "type": "string"
            },
            {
              "id": "4ec2ef88-701c-48f8-adea-1a4f883e228c",
              "name": "type",
              "value": "cpf",
              "type": "string"
            },
            {
              "id": "1ed2c516-6124-4af5-9261-a960f4394f79",
              "name": "Authorization",
              "value": "SvykkclF002Y2GPgAkANSEDmpxdiQcoIt1XOeUPw1a0603e5",
              "type": "string"
            },
            {
              "id": "6e85afe3-77fd-4aa3-8dce-c63633eda37b",
              "name": "usuarioNovaVidaTi",
              "value": "daniel.gaspar@acgconsultoria.com.br",
              "type": "string"
            },
            {
              "id": "b19dac28-c829-4492-a61a-c2d136cbfde7",
              "name": "senhaNovaVidaTi",
              "value": "Mdg@2025",
              "type": "string"
            },
            {
              "id": "9ad22f7f-caab-44e6-9367-e1adb2fa99f2",
              "name": "clienteNovaVidaTi",
              "value": "ACG",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        740,
        240
      ],
      "id": "ceb0dfd2-d266-468e-9d0f-b321573fd315",
      "name": "Dados"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.3.60.14:9001/api/v1/in100/authorizations/authorizer",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Dados').first().json.Authorization}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "={{ $('Dados').first().json.type }}"
            },
            {
              "name": "data",
              "value": "={{ $('Dados').first().json.data }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "3f8b3189-8b45-4b78-9dfa-5cbf320cf2ae",
      "name": "Iniciar RPA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        960,
        240
      ],
      "retryOnFail": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data.document.status_document.step }}",
              "value2": "Concluído"
            },
            {
              "value1": "={{ $json.data.document.status_document.step }}",
              "value2": "Erro"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "18dc1a78-ffa1-4409-8931-6d634f36d48e",
      "name": "step é Final?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1160,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8fa82d28-6754-4368-b3ad-a0136859ac89",
              "leftValue": "={{ $json.data.document.status_document.step }}",
              "rightValue": "Concluído",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1740,
        220
      ],
      "id": "28ef41b2-08ff-4876-a212-16b784cd36e9",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "const payloads = items[0].json.data.document.historical_documents.payload;\n\nconst benefícios = payloads.map((beneficioArray, index) => {\n  const beneficioObj = {};\n\n  beneficioArray.forEach(campo => {\n    beneficioObj[campo.title] = campo.value;\n  });\n\n  return {\n    json: {\n      beneficio_index: index + 1,\n      ...beneficioObj\n    }\n  };\n});\n\nreturn benefícios;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        260
      ],
      "id": "835916f8-2f11-4f1f-8f0c-c1596628f981",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "## CONSULTA IN100 CREDILUS\n",
        "height": 700,
        "width": 1140
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        700,
        160
      ],
      "typeVersion": 1,
      "id": "c7a3c565-5cf6-45e1-ba7c-4b95cdbf768a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wsnv.novavidati.com.br/wslocalizador.asmx/NVCHECKJson",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Token",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nvcheck.Documento",
              "value": "={{ $('Dados').item.json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2720,
        260
      ],
      "id": "ecad360c-96cb-4b63-b80a-69f43d00ca06",
      "name": "HTTP nvcheck"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "57413736-c250-418d-ab14-9dc274d7e1d3",
              "name": "token",
              "value": "={{ $json.d }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2540,
        260
      ],
      "id": "3ca29916-b28a-42c6-a4c7-1364b29c302c",
      "name": "Edit Token"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wsnv.novavidati.com.br/wslocalizador.asmx/GerarTokenJson",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "credencial.usuario",
              "value": "={{ $('Dados').item.json.usuarioNovaVidaTi }}"
            },
            {
              "name": "credencial.senha",
              "value": "={{ $('Dados').item.json.senhaNovaVidaTi }}"
            },
            {
              "name": "credencial.cliente",
              "value": "={{ $('Dados').item.json.clienteNovaVidaTi }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        260
      ],
      "id": "cf6506ae-7af1-4db1-81dc-69a70ea9b4a7",
      "name": "HTTP Gera Token"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5156968-77d1-4a11-bc9d-7a0e9e25abae",
              "name": "CPF",
              "value": "={{ $json.d.CONSULTA.CADASTRAIS.CPF }}",
              "type": "string"
            },
            {
              "id": "13c81e7b-29e1-4290-af13-601e291eec64",
              "name": "NOME",
              "value": "={{ $json.d.CONSULTA.CADASTRAIS.NOME }}",
              "type": "string"
            },
            {
              "id": "dd47d7ef-09af-402a-941f-065b264cd7c0",
              "name": "IDADE",
              "value": "={{ $json.d.CONSULTA.CADASTRAIS.IDADE }}",
              "type": "string"
            },
            {
              "id": "650ac4fb-6c32-49d3-83c2-82a0beb9b8a0",
              "name": "=TELEFONE_{{ $json.d.CONSULTA.TELEFONES[0].POSICAO }}",
              "value": "={{ $json.d.CONSULTA.TELEFONES[0].DDD }}{{ $json.d.CONSULTA.TELEFONES[0].TELEFONE }}",
              "type": "string"
            },
            {
              "id": "ca0e38cd-112e-4b58-b4bf-29084ed49e44",
              "name": "=TELEFONE_{{ $json.d.CONSULTA.TELEFONES[1].POSICAO }}",
              "value": "={{ $json.d.CONSULTA.TELEFONES[1].DDD }}{{ $json.d.CONSULTA.TELEFONES[1].TELEFONE }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2920,
        260
      ],
      "id": "1ce543dd-6c2b-4a03-9ad5-314885d39197",
      "name": "Edit Fields",
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "CPF",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2220,
        760
      ],
      "id": "5bc6d549-e084-4c87-a552-00310593f92c",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc75fb94-f9aa-4d0a-acf2-d61edbb7a7fe",
              "name": "NOME",
              "value": "={{ $json.NOME }}",
              "type": "string"
            },
            {
              "id": "e0ba22ae-1841-4050-987b-5cd69ae71c06",
              "name": "CPF",
              "value": "={{ $json.CPF }}",
              "type": "string"
            },
            {
              "id": "91e4e5a8-7b1c-4b2a-a5e4-f82d88590aee",
              "name": "BENEFÍCIO",
              "value": "={{ $json['NÚMERO BENEFÍCIO | ESTADO'].split('|').first().toNumber() }}",
              "type": "string"
            },
            {
              "id": "335f9844-d646-499d-b054-4b793b540d3a",
              "name": "IDADE",
              "value": "={{ $json.IDADE }}",
              "type": "string"
            },
            {
              "id": "e754c5bd-c8df-402f-8c95-fbf3ffbbe100",
              "name": "SITUAÇÃO BENEFÍCIO",
              "value": "={{ $json['SITUAÇÃO BENEFÍCIO'] }}",
              "type": "string"
            },
            {
              "id": "2d108ddf-ba36-4fed-81ce-48b1698bb112",
              "name": "DATA BLOQUEIO",
              "value": "={{ $json['DATA BLOQUEIO'] }}",
              "type": "string"
            },
            {
              "id": "d07451ad-5a29-4f4f-97a6-4c0a3f05db00",
              "name": "MOTIVO BLOQUEIO",
              "value": "={{ $json['MOTIVO BLOQUEIO'] }}",
              "type": "string"
            },
            {
              "id": "0ddb4a0c-0843-43ad-a243-8f8c6caffe6d",
              "name": "CRÉDITO CONSIGNADO VALOR",
              "value": "={{ $json['CRÉDIO CONSIGNADO VALOR'] }}",
              "type": "string"
            },
            {
              "id": "ad8e9af9-c9a8-4e94-9ab8-11ba91f505ba",
              "name": "CARTÃO CONSIGNADO VALOR",
              "value": "={{ $json['CARTÃO CONSIGNADO VALOR'] }}",
              "type": "string"
            },
            {
              "id": "aa0e4910-9328-4e92-a2b7-8a669290002d",
              "name": "CARTÃO BENEFÍCIO VALOR",
              "value": "={{ $json['CARTÃO BENEFÍCIO VALOR'] }}",
              "type": "string"
            },
            {
              "id": "a361747c-e20b-4a65-805f-60cfce6ca3ab",
              "name": "TELEFONE_1",
              "value": "={{ $json.TELEFONE_1 }}",
              "type": "string"
            },
            {
              "id": "449c0927-b7c2-4baf-9ac0-f573ea8b47b8",
              "name": "TELEFONE_2",
              "value": "={{ $json.TELEFONE_2 }}",
              "type": "string"
            },
            {
              "id": "9765e914-c7b3-4490-a303-b377d04fc280",
              "name": "AquivoName",
              "value": "={{ $('RabbitMQ Trigger').item.json.content.parseJson().driver.AquivoName.split('-').first().trim() }}",
              "type": "string"
            },
            {
              "id": "27ae14bf-1fc6-4e1f-84c7-ee9b56622e76",
              "name": "email",
              "value": "={{ $('RabbitMQ Trigger').item.json.content.parseJson().driver.EMAIL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2420,
        760
      ],
      "id": "ddc418bc-e6b0-43db-b16c-5312ed1bed4c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "content": "## CONSULTA NOVA VIDA TI \n",
        "height": 320,
        "width": 1000
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1860,
        160
      ],
      "typeVersion": 1,
      "id": "282b084d-7954-48fa-8c88-b2356d5a16e9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1840,
        560
      ],
      "id": "70fbe33e-4934-4872-822d-bd96c9efff3c",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "queue": "higenizador_in100-queue",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "xqueue-type",
                "value": "quorum"
              }
            ]
          },
          "binding": {
            "bindings": [
              {
                "exchange": "higenizador_exchange",
                "routingKey": "higenizador_in100-queue"
              }
            ]
          },
          "acknowledge": "executionFinishes",
          "parallelMessages": 3
        }
      },
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        440,
        240
      ],
      "id": "f3dcd444-24e3-41f7-a782-143c73851e8a",
      "name": "RabbitMQ Trigger",
      "credentials": {
        "rabbitmq": {
          "id": "8S2CCfj4pf5t6xWv",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 223716,
        "tableId": 535524,
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        2640,
        760
      ],
      "id": "06758b0f-cfa5-45c3-9128-9d4d5b673e26",
      "name": "Baserow",
      "credentials": {
        "baserowApi": {
          "id": "zWiTHsKRCs3MpLam",
          "name": "Baserow desenvolvimento"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "58f2c457-f671-4b9a-ba45-36ec7b11ee17",
              "leftValue": "={{ $json.TELEFONE_ }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3180,
        260
      ],
      "id": "e7167b24-8c08-4c92-9065-8368b2248609",
      "name": "If"
    },
    {
      "parameters": {
        "url": "http://10.3.60.14:9001/api/v1/credilink/search/wsdl/cpf",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "cpf",
              "value": "={{ $json.CPF }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ***REDACTED***"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 100000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3380,
        280
      ],
      "id": "e30951f6-fe2b-4e44-a015-6a26ebebf770",
      "name": "Consulta credilus",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json.data;\nconst resultado = [];\n\nconst getIdade = (nasc) => {\n  const [dia, mes, ano] = nasc.split('/');\n  const nascimento = new Date(`${ano}-${mes}-${dia}`);\n  const hoje = new Date();\n  let idade = hoje.getFullYear() - nascimento.getFullYear();\n  const m = hoje.getMonth() - nascimento.getMonth();\n  if (m < 0 || (m === 0 && hoje.getDate() < nascimento.getDate())) {\n    idade--;\n  }\n  return idade.toString();\n};\n\n// Filtrar contatos com WhatsApp = SIM\nconst contatosComWhatsApp = data.filter(d => d.WHATSAPP === \"SIM\");\n\nif (contatosComWhatsApp.length > 0) {\n  const pessoa = contatosComWhatsApp[0]; // pega o primeiro com WhatsApp SIM\n  const cpf = pessoa.CPFCNPJ;\n  const nome = pessoa.NOME;\n  const idade = getIdade(pessoa.NASC);\n  \n  // Pega até 2 telefones\n  const telefones = contatosComWhatsApp.map(d => d.TELEFONE);\n  const telefone_1 = telefones[0] || \"\";\n  const telefone_2 = telefones[1] || \"\";\n\n  resultado.push({\n    json: {\n      CPF: cpf,\n      NOME: nome,\n      IDADE: idade,\n      TELEFONE_1: telefone_1,\n      TELEFONE_2: telefone_2\n    }\n  });\n}\n\nreturn resultado;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3660,
        180
      ],
      "id": "43fbbe5b-e38a-4689-88b9-740a72dc73a7",
      "name": "Code1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3660,
        420
      ],
      "id": "af5d42e4-57f5-4205-b5ea-271878c7695f",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3960,
        300
      ],
      "id": "941d567a-8d1a-46a2-8b87-95164e8652f7",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2nezrN4claadMGuQ",
          "mode": "list",
          "cachedResultName": "Higenizador - Gera planilha IN100"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1440,
        1100
      ],
      "id": "20b0e655-2248-48e2-9006-f41ac5196a91",
      "name": "Execute Workflow",
      "retryOnFail": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4612a8f9-6298-4333-b902-90aef6f93dc1",
              "leftValue": "={{ $json.messages }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1000,
        1100
      ],
      "id": "86391a06-5be6-4f21-aa9f-56fbaced7e82",
      "name": "Filter5"
    },
    {
      "parameters": {
        "url": "http://10.3.60.31:15672/api/queues/%2F/higenizador_in100-queue",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        1100
      ],
      "id": "51834c5c-51ea-44eb-a0cb-9213b473af4c",
      "name": "HTTP Request1",
      "credentials": {
        "httpBasicAuth": {
          "id": "ZbqYo9qALBnrHiBt",
          "name": "RabbitMQ User"
        }
      }
    },
    {
      "parameters": {
        "content": "## INFORMA FILA \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 380,
        "width": 1180
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        700,
        940
      ],
      "typeVersion": 1,
      "id": "3e45f20b-5a5a-4f57-9efa-41ba572e4ac0",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        1100
      ],
      "id": "501df3ec-8f12-4a34-b857-28c567a5f60f",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f245a66f-95f4-476a-8287-996c98ef3227",
              "name": "AquivoName",
              "value": "={{ $('RabbitMQ Trigger').item.json.content.parseJson().driver.AquivoName.split('-').first() }}",
              "type": "string"
            },
            {
              "id": "9335ac07-f295-40a9-a280-d5809aead022",
              "name": "email",
              "value": "={{ $('RabbitMQ Trigger').item.json.content.parseJson().driver.EMAIL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1220,
        1100
      ],
      "id": "ec3e031a-47c9-4976-b556-7cf7e2f227b2",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "content": "## UPDATE BASE ROW\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 260,
        "width": 980,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1940,
        660
      ],
      "typeVersion": 1,
      "id": "f7212677-db37-456d-8411-363d70d1dd7e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2880,
        760
      ],
      "id": "1ab9350a-c3ce-4a1c-989c-553a9064a2d4",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5cea151c-d2f9-4831-a564-b60a79ea87df",
              "leftValue": "={{ $json.data.document.status_document.message }}",
              "rightValue": "Erro no site do banco fox, não foi possivel coletar os campos a pagina esta em branco!",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1180,
        580
      ],
      "id": "60e4ac60-1f0f-4b30-b664-f9ab23fdff53",
      "name": "If2"
    },
    {
      "parameters": {
        "content": "## CONSULTACREDILUS CPF\n",
        "height": 480,
        "width": 1080
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2900,
        140
      ],
      "typeVersion": 1,
      "id": "162d0ffd-0914-47ad-a4bd-3b8441187e40",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.3.60.14:9001/api/v1/in100/authorizations/reprocess",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Dados').first().json.Authorization }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "={{ $('Dados').first().json.type }}"
            },
            {
              "name": "data",
              "value": "={{ $('Dados').first().json.data }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "b945c164-74c8-4248-978d-d1896722f6fa",
      "name": "Reprocess RPA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1360,
        640
      ],
      "retryOnFail": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "amount": 45
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1580,
        640
      ],
      "id": "2ae0aab1-1dad-41cd-8ea9-7cea213b11a5",
      "name": "Wait",
      "webhookId": "fe57cf8c-6358-4275-8357-13b1d6eaaa86"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "f7076080-3d74-4b3b-9b4a-57980c45b917",
      "name": "Aguardar 45s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1360,
        300
      ],
      "webhookId": "bcaa84f7-d2f8-4c07-8b72-53a44158cd8b"
    }
  ],
  "connections": {
    "Dados": {
      "main": [
        [
          {
            "node": "Iniciar RPA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iniciar RPA": {
      "main": [
        [
          {
            "node": "step é Final?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "step é Final?": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aguardar 45s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Gera Token",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Token": {
      "main": [
        [
          {
            "node": "HTTP nvcheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Gera Token": {
      "main": [
        [
          {
            "node": "Edit Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP nvcheck": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Baserow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consulta credilus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta credilus": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter5": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Filter5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reprocess RPA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reprocess RPA": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "step é Final?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar 45s": {
      "main": [
        [
          {
            "node": "Iniciar RPA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 600
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "RabbitMQ Trigger": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-eq4OpZfGmnTBFNHNNuqKKA",
            "deliveryTag": 2,
            "redelivered": false,
            "exchange": "higenizador_exchange",
            "routingKey": "higenizador_in100-queue"
          },
          "properties": {
            "headers": {}
          },
          "content": "{\"CPF\":\"02701999855\",\"driver\":{\"EMAIL\":\"raul.guimaraes@mdgintermediacoes.com.br\",\"AquivoName\":\"PRODUCAO TAICY (1).xlsx\"}}"
        }
      }
    ]
  },
  "versionId": "cce18987-9738-4d1b-8a5b-a6cfc708886c",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-05-08T19:42:54.040Z",
      "createdAt": "2025-05-08T19:42:54.040Z",
      "role": "workflow:owner",
      "workflowId": "68FV7pkEExQik2BR",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2025-02-20T16:29:31.422Z",
      "createdAt": "2025-02-20T16:29:31.422Z",
      "id": "XZLWvH2vm1NnuOvm",
      "name": "Comercial"
    }
  ]
}