Comercial/b9ud5qaEVviRO6qJ.json
{
  "updatedAt": "2026-03-12T14:08:33.336Z",
  "createdAt": "2025-04-30T15:53:20.870Z",
  "id": "b9ud5qaEVviRO6qJ",
  "name": "Inbursa Monitor",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "9dfc3477-c692-460f-a484-0367c7c9776c",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        912,
        272
      ]
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "=element",
              "cssSelector": "#password",
              "returnValue": "attribute"
            }
          ]
        },
        "options": {}
      },
      "id": "5365632d-5aef-4a7a-bcd3-7f77ebab4f48",
      "name": "HTML",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        672,
        208
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "=element",
              "cssSelector": "#email",
              "returnValue": "attribute"
            }
          ]
        },
        "options": {}
      },
      "id": "3941f1da-fb61-48d6-aaf4-83253f960b58",
      "name": "HTML1",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        688,
        384
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const elements = $('Merge').all()\n\ntry {\n  const item1 = elements[0].json.element.tabindex\nconst item2 = elements[1].json.element.tabindex\n\nif (item1 && item2) {\n  return {status: true};\n}\n\nreturn {status: false}; \n} catch (error) {\n  return {status: false}; \n}\n"
      },
      "id": "cbfec34c-ba18-4295-b69d-850543d38912",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        688
      ]
    },
    {
      "parameters": {},
      "id": "ae64b5bb-04f9-48b0-9057-df65ae5eecdd",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        848,
        960
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.informacao }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 100000
        }
      },
      "id": "46f0dd59-e05b-42bd-8d76-401e33ceb669",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        272
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "configuracoes",
          "mode": "list",
          "cachedResultName": "configuracoes"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "sistema",
              "value": "HOME_LINK"
            },
            {
              "column": "nome_env",
              "value": "HOME_LOGIN_LINK"
            },
            {
              "column": "ativo",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "3be3af50-9423-4786-ad93-9f94ce534ca1",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        288,
        272
      ],
      "credentials": {
        "mySql": {
          "id": "bBT4WES8OBovyue7",
          "name": "Inbursa Monitor"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE monitor_status SET site_status = {{ $json.status }}",
        "options": {}
      },
      "id": "0776ddda-9561-4c37-a82c-660777743d5a",
      "name": "MySQL1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        720,
        688
      ],
      "credentials": {
        "mySql": {
          "id": "bBT4WES8OBovyue7",
          "name": "Inbursa Monitor"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 45
            }
          ]
        }
      },
      "id": "77de58d7-6a10-4157-b027-69ba41f87e87",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -224,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const startTime = 8;\nconst finishTime = 19;\n\nconst now = new Date();\nconst nowHour = now.getHours();\nconst nowDay = now.getDay();\nif (nowHour >= startTime && nowHour < finishTime && nowDay !== 0) {\n      return {sheduler: true}\n    }\n\n return {sheduler: false}"
      },
      "id": "d90c5d6f-7785-4f61-82a5-722aa6a399ea",
      "name": "Scheduler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.sheduler }}",
              "value2": true
            }
          ]
        }
      },
      "id": "9d3a090b-ad76-4b92-bbb3-42530367d956",
      "name": "Esta no horario",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        112,
        400
      ]
    }
  ],
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Scheduler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scheduler": {
      "main": [
        [
          {
            "node": "Esta no horario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esta no horario": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 120
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": [],
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-03-12T10:37:00.003-03:00",
          "Readable date": "March 12th 2026, 10:37:00 am",
          "Readable time": "10:37:00 am",
          "Day of week": "Thursday",
          "Year": "2026",
          "Month": "March",
          "Day of month": "12",
          "Hour": "10",
          "Minute": "37",
          "Second": "00",
          "Timezone": "America/Sao_Paulo (UTC-03:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "ab0bf5f4-8a69-4e60-9c2d-b6b139215382",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-04-30T15:53:20.870Z",
      "createdAt": "2025-04-30T15:53:20.870Z",
      "role": "workflow:owner",
      "workflowId": "b9ud5qaEVviRO6qJ",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2025-02-20T16:29:31.422Z",
      "createdAt": "2025-02-20T16:29:31.422Z",
      "id": "XZLWvH2vm1NnuOvm",
      "name": "Comercial"
    }
  ]
}