Comercial/GwiOVm18CIKDIsDb.json
{
  "updatedAt": "2025-12-18T13:18:14.150Z",
  "createdAt": "2025-01-21T17:24:38.616Z",
  "id": "GwiOVm18CIKDIsDb",
  "name": "Relatório - GovServLus",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5
              ],
              "triggerAtHour": 21,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -128,
        -368
      ],
      "id": "ad5ad08e-812d-442e-b026-0dfb5b142a87",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        768,
        -272
      ],
      "id": "abe30fe1-fc09-40b4-aaef-d92b7e22d58e",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.mdgintermediacoes.com.br/webhook/3bbcfb3e-3e11-48a1-8adc-6ffdca7c2b39",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "-1001534937224"
            },
            {
              "name": "message",
              "value": "=<b>📊 Relatório Diário — Governo de São Paulo</b>\n\n<b>Status:</b> <code>ENCONTRADOS</code>\n<b>Total:</b> {{ $('Count Governo São Paulo').all()[0].json.total }}\n\n<b>Status:</b> <code>NÃO LOCALIZADOS</code>\n<b>Total:</b> {{ $('Count Governo São Paulo').all()[1].json.total }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        -368
      ],
      "id": "3f30b90a-d0d8-4d3d-a738-167c91f994ec",
      "name": "Envio telegram Kira Dev",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    DATE(updated_at) AS dia,\n    step,\n    COUNT(*) AS total\nFROM base_cpfs\nWHERE \n\torganization_id = 1 AND\n\tDATE(updated_at) = CURDATE() AND\n\tstep IN ('SUCCESS', 'ERROR')\nGROUP BY\n    DATE(updated_at),\n    step\nORDER BY dia, step;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        96,
        -368
      ],
      "id": "05440df2-799d-4c38-b26e-6b5a92a27c0e",
      "name": "Count Governo São Paulo",
      "credentials": {
        "mySql": {
          "id": "fPwgeEpjllC7rjHG",
          "name": "GovServLus MariaDB"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5
              ],
              "triggerAtHour": 21,
              "triggerAtMinute": 40
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -128,
        -176
      ],
      "id": "c30d0af2-d18a-47b2-b356-c84ab8dc7e72",
      "name": "Schedule Trigger2"
    },
    {
      "parameters": {
        "sendTo": "daniel.gaspar@mdgintermediacoes.com.br, felipe.ferreira@mdgintermediacoes.com.br",
        "subject": "=Extração GovServLus - Governo São Paulo dia {{ new Date().toLocaleDateString('pt-BR')}}",
        "message": "=<p style=\"font-family: Arial, sans-serif; color: #333;\">Prezados</p>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 16px; color: #555;\">Segue a extração realizada do sistema\n    <strong>GovServLus - Governo de São Paulo</strong>.\n</p>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 16px; color: #555;\">Abaixo segue estatísticas:</p>\n\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"\n    style=\"max-width:700px;margin:20px auto;border-collapse:collapse;font-family:Arial,Helvetica,sans-serif;background-color:#ffffff;border-radius:10px;overflow:hidden;box-shadow:0 6px 18px rgba(0,0,0,0.12);\">\n\n    <thead>\n        <tr>\n            <th\n                style=\"padding:16px;background:linear-gradient(90deg,#0f9d58,#1e88e5);color:#ffffff;font-size:14px;font-weight:bold;text-transform:uppercase;text-align:center;\">\n                Status\n            </th>\n            <th\n                style=\"padding:16px;background:linear-gradient(90deg,#0f9d58,#1e88e5);color:#ffffff;font-size:14px;font-weight:bold;text-transform:uppercase;text-align:center;\">\n                Total\n            </th>\n        </tr>\n    </thead>\n\n    <tbody>\n        <tr style=\"background-color:#f7fbfa;\">\n            <td style=\"padding:14px;text-align:center;\">\n                <span\n                    style=\"display:inline-block;padding:6px 14px;border-radius:20px;background-color:#0f9d58;color:#ffffff;font-size:12px;font-weight:bold;\">\n                    ENCONTRADOS\n                </span>\n            </td>\n            <td style=\"padding:14px;text-align:center;font-size:16px;font-weight:bold;color:#1e88e5;\">\n                {{ $('Count Governo São Paulo').all()[0].json.total }}\n            </td>\n        </tr>\n\n        <tr style=\"background-color:#ffffff;\">\n            <td style=\"padding:14px;text-align:center;\">\n                <span\n                    style=\"display:inline-block;padding:6px 14px;border-radius:20px;background-color:#e53935;color:#ffffff;font-size:12px;font-weight:bold;\">\n                    NÃO LOCALIZADOS\n                </span>\n            </td>\n            <td style=\"padding:14px;text-align:center;font-size:16px;font-weight:bold;color:#1e88e5;\">\n                {{ $('Count Governo São Paulo').all()[1].json.total }}\n            </td>\n        </tr>\n    </tbody>\n\n</table>\n\n\n<p style=\"max-width:700px;margin:10px auto 0 auto;padding:12px 16px;\nfont-family:Arial,Helvetica,sans-serif;font-size:13px;color:#555;\nbackground-color:#f1f8f6;border-left:4px solid #0f9d58;border-radius:6px;\">\n    <strong>Observação:</strong> Os valores apresentados podem sofrer variações até o fechamento do dia\n    (00h), uma vez que se tratam de uma <strong>contagem parcial</strong> dos dados coletados\n    em suas respectivas plataformas no momento da extração.\n</p>\n\n\n</br>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 16px; color: #555;\">Atenciosamente,</p>\n\n<table cellpadding=\"0\" cellspacing=\"0\" style=\"font-family:Arial,Helvetica,sans-serif;max-width:500px;\">\n    <tr>\n        <td style=\"padding-right:16px;vertical-align:top;\">\n            <!-- Ícone / Logo -->\n            <div\n                style=\"width:64px;height:64px;border-radius:50%;background:linear-gradient(135deg,#0f9d58,#1e88e5);display:flex;align-items:center;justify-content:center;color:#ffffff;font-size:24px;font-weight:bold;\">\n                MDG\n            </div>\n        </td>\n\n        <td style=\"vertical-align:top;\">\n            <!-- Nome -->\n            <div style=\"font-size:16px;font-weight:bold;color:#1e88e5;line-height:1.2;\">\n                Anderson Tome\n            </div>\n\n            <!-- Empresa -->\n            <div style=\"font-size:13px;font-weight:bold;color:#0f9d58;\">\n                MDG Intermediações\n            </div>\n\n            <!-- Linha -->\n            <div style=\"height:1px;background-color:#e0e0e0;margin:8px 0;\"></div>\n\n            <!-- Contatos -->\n            <div style=\"font-size:12px;color:#333333;line-height:1.6;\">\n                📧 <a href=\"mailto:anderson.tome@mdgintermediacoes.com.br\" style=\"color:#1e88e5;text-decoration:none;\">\n                    anderson.tome@mdgintermediacoes.com.br\n                </a><br>\n\n                📧 <a href=\"mailto:desenvolvimento@mdgintermediacoes.com.br\"\n                    style=\"color:#1e88e5;text-decoration:none;\">\n                    desenvolvimento@mdgintermediacoes.com.br\n                </a><br>\n\n                📞 <a href=\"tel:+5519981746254\" style=\"color:#1e88e5;text-decoration:none;\">\n                    +55 (19) 98174-6254\n                </a><br>\n\n                🌐 <a href=\"https://www.mdgintermediacoes.com.br\" style=\"color:#1e88e5;text-decoration:none;\">\n                    www.mdgintermediacoes.com.br\n                </a>\n            </div>\n        </td>\n    </tr>\n</table>",
        "options": {
          "appendAttribution": false,
          "ccList": "raul.guimaraes@mdgintermediacoes.com.br"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        320,
        -368
      ],
      "id": "bc6c45d5-19bb-4d50-9c00-f15af0d57fbe",
      "name": "Gmail",
      "webhookId": "7157af12-0be4-4385-922f-ffa31d70e347",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "iEXJKdMeC12THwyd",
          "name": "Gmail Desenvolvimento"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "daniel.gaspar@mdgintermediacoes.com.br, felipe.ferreira@mdgintermediacoes.com.br",
        "subject": "=Extração GovServLus - Prefeitura do Rio de Janeiro dia {{ new Date().toLocaleDateString('pt-BR')}}",
        "message": "=<p style=\"font-family: Arial, sans-serif; color: #333;\">Prezados</p>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 16px; color: #555;\">Segue a extração realizada do sistema\n    <strong>GovServLus - Prefeitura do Rio de Janeiro</strong>.\n</p>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 16px; color: #555;\">Abaixo segue estatísticas:</p>\n\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"\n    style=\"max-width:700px;margin:20px auto;border-collapse:collapse;font-family:Arial,Helvetica,sans-serif;background-color:#ffffff;border-radius:10px;overflow:hidden;box-shadow:0 6px 18px rgba(0,0,0,0.12);\">\n\n    <thead>\n        <tr>\n            <th\n                style=\"padding:16px;background:linear-gradient(90deg,#0f9d58,#1e88e5);color:#ffffff;font-size:14px;font-weight:bold;text-transform:uppercase;text-align:center;\">\n                Status\n            </th>\n            <th\n                style=\"padding:16px;background:linear-gradient(90deg,#0f9d58,#1e88e5);color:#ffffff;font-size:14px;font-weight:bold;text-transform:uppercase;text-align:center;\">\n                Total\n            </th>\n        </tr>\n    </thead>\n\n    <tbody>\n        <tr style=\"background-color:#f7fbfa;\">\n            <td style=\"padding:14px;text-align:center;\">\n                <span\n                    style=\"display:inline-block;padding:6px 14px;border-radius:20px;background-color:#0f9d58;color:#ffffff;font-size:12px;font-weight:bold;\">\n                    ENCONTRADOS\n                </span>\n            </td>\n            <td style=\"padding:14px;text-align:center;font-size:16px;font-weight:bold;color:#1e88e5;\">\n                {{ $('Count Prefeitura do Rio de Janeiro').all()[0].json.total }}\n            </td>\n        </tr>\n\n        <tr style=\"background-color:#ffffff;\">\n            <td style=\"padding:14px;text-align:center;\">\n                <span\n                    style=\"display:inline-block;padding:6px 14px;border-radius:20px;background-color:#e53935;color:#ffffff;font-size:12px;font-weight:bold;\">\n                    NÃO LOCALIZADOS\n                </span>\n            </td>\n            <td style=\"padding:14px;text-align:center;font-size:16px;font-weight:bold;color:#1e88e5;\">\n                {{ $('Count Prefeitura do Rio de Janeiro').all()[1].json.total }}\n            </td>\n        </tr>\n    </tbody>\n\n</table>\n\n\n<p style=\"max-width:700px;margin:10px auto 0 auto;padding:12px 16px;\nfont-family:Arial,Helvetica,sans-serif;font-size:13px;color:#555;\nbackground-color:#f1f8f6;border-left:4px solid #0f9d58;border-radius:6px;\">\n    <strong>Observação:</strong> Os valores apresentados podem sofrer variações até o fechamento do dia\n    (00h), uma vez que se tratam de uma <strong>contagem parcial</strong> dos dados coletados\n    em suas respectivas plataformas no momento da extração.\n</p>\n\n\n\n</br>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 16px; color: #555;\">Atenciosamente,</p>\n\n<table cellpadding=\"0\" cellspacing=\"0\" style=\"font-family:Arial,Helvetica,sans-serif;max-width:500px;\">\n    <tr>\n        <td style=\"padding-right:16px;vertical-align:top;\">\n            <!-- Ícone / Logo -->\n            <div\n                style=\"width:64px;height:64px;border-radius:50%;background:linear-gradient(135deg,#0f9d58,#1e88e5);display:flex;align-items:center;justify-content:center;color:#ffffff;font-size:24px;font-weight:bold;\">\n                MDG\n            </div>\n        </td>\n\n        <td style=\"vertical-align:top;\">\n            <!-- Nome -->\n            <div style=\"font-size:16px;font-weight:bold;color:#1e88e5;line-height:1.2;\">\n                Anderson Tome\n            </div>\n\n            <!-- Empresa -->\n            <div style=\"font-size:13px;font-weight:bold;color:#0f9d58;\">\n                MDG Intermediações\n            </div>\n\n            <!-- Linha -->\n            <div style=\"height:1px;background-color:#e0e0e0;margin:8px 0;\"></div>\n\n            <!-- Contatos -->\n            <div style=\"font-size:12px;color:#333333;line-height:1.6;\">\n                📧 <a href=\"mailto:anderson.tome@mdgintermediacoes.com.br\" style=\"color:#1e88e5;text-decoration:none;\">\n                    anderson.tome@mdgintermediacoes.com.br\n                </a><br>\n\n                📧 <a href=\"mailto:desenvolvimento@mdgintermediacoes.com.br\"\n                    style=\"color:#1e88e5;text-decoration:none;\">\n                    desenvolvimento@mdgintermediacoes.com.br\n                </a><br>\n\n                📞 <a href=\"tel:+5519981746254\" style=\"color:#1e88e5;text-decoration:none;\">\n                    +55 (19) 98174-6254\n                </a><br>\n\n                🌐 <a href=\"https://www.mdgintermediacoes.com.br\" style=\"color:#1e88e5;text-decoration:none;\">\n                    www.mdgintermediacoes.com.br\n                </a>\n            </div>\n        </td>\n    </tr>\n</table>",
        "options": {
          "appendAttribution": false,
          "ccList": "raul.guimaraes@mdgintermediacoes.com.br"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        320,
        -176
      ],
      "id": "18e4d738-3f96-4df2-9297-a83e4ee9ac2d",
      "name": "Gmail1",
      "webhookId": "7157af12-0be4-4385-922f-ffa31d70e347",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "iEXJKdMeC12THwyd",
          "name": "Gmail Desenvolvimento"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.mdgintermediacoes.com.br/webhook/3bbcfb3e-3e11-48a1-8adc-6ffdca7c2b39",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "-1001534937224"
            },
            {
              "name": "message",
              "value": "=<b>📊 Relatório Diário — Prefeitura do Rio de Janeiro</b>\n\n<b>Status:</b> <code>ENCONTRADOS</code>\n<b>Total:</b> {{ $('Count Prefeitura do Rio de Janeiro').all()[0].json.total }}\n\n<b>Status:</b> <code>NÃO LOCALIZADOS</code>\n<b>Total:</b> {{ $('Count Prefeitura do Rio de Janeiro').all()[1].json.total }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        -176
      ],
      "id": "d562f8d1-9f5d-48e4-ac91-1f493766f2ff",
      "name": "Envio telegram Kira Dev1",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    DATE(updated_at) AS dia,\n    step,\n    COUNT(*) AS total\nFROM base_names\nWHERE \n\torganization_id = 4 AND\n\tDATE(updated_at) = CURDATE() AND\n\tstep IN ('SUCCESS', 'ERROR')\nGROUP BY\n    DATE(updated_at),\n    step\nORDER BY dia, step;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        96,
        -176
      ],
      "id": "556952b5-ddfd-45a1-a1f0-d3fa0e7aee59",
      "name": "Count Prefeitura do Rio de Janeiro",
      "credentials": {
        "mySql": {
          "id": "fPwgeEpjllC7rjHG",
          "name": "GovServLus MariaDB"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Count Governo São Paulo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envio telegram Kira Dev": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Governo São Paulo": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Count Prefeitura do Rio de Janeiro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Envio telegram Kira Dev",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "Envio telegram Kira Dev1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envio telegram Kira Dev1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Prefeitura do Rio de Janeiro": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger2": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-11-20T19:00:21.014-03:00",
          "Readable date": "November 20th 2025, 7:00:21 pm",
          "Readable time": "7:00:21 pm",
          "Day of week": "Thursday",
          "Year": "2025",
          "Month": "November",
          "Day of month": "20",
          "Hour": "19",
          "Minute": "00",
          "Second": "21",
          "Timezone": "America/Sao_Paulo (UTC-03:00)"
        }
      }
    ]
  },
  "versionId": "cba1922f-c508-4d42-867c-9b72ce1da1c4",
  "activeVersionId": "cba1922f-c508-4d42-867c-9b72ce1da1c4",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-01-21T17:24:38.616Z",
      "createdAt": "2025-01-21T17:24:38.616Z",
      "role": "workflow:owner",
      "workflowId": "GwiOVm18CIKDIsDb",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-18T13:18:14.152Z",
    "createdAt": "2025-12-18T13:18:14.152Z",
    "versionId": "cba1922f-c508-4d42-867c-9b72ce1da1c4",
    "workflowId": "GwiOVm18CIKDIsDb",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "triggerAtDay": [
                  1,
                  2,
                  3,
                  4,
                  5
                ],
                "triggerAtHour": 21,
                "triggerAtMinute": 30
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -128,
          -368
        ],
        "id": "ad5ad08e-812d-442e-b026-0dfb5b142a87",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          768,
          -272
        ],
        "id": "abe30fe1-fc09-40b4-aaef-d92b7e22d58e",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n.mdgintermediacoes.com.br/webhook/3bbcfb3e-3e11-48a1-8adc-6ffdca7c2b39",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "-1001534937224"
              },
              {
                "name": "message",
                "value": "=<b>📊 Relatório Diário — Governo de São Paulo</b>\n\n<b>Status:</b> <code>ENCONTRADOS</code>\n<b>Total:</b> {{ $('Count Governo São Paulo').all()[0].json.total }}\n\n<b>Status:</b> <code>NÃO LOCALIZADOS</code>\n<b>Total:</b> {{ $('Count Governo São Paulo').all()[1].json.total }}\n"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          544,
          -368
        ],
        "id": "3f30b90a-d0d8-4d3d-a738-167c91f994ec",
        "name": "Envio telegram Kira Dev",
        "executeOnce": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n    DATE(updated_at) AS dia,\n    step,\n    COUNT(*) AS total\nFROM base_cpfs\nWHERE \n\torganization_id = 1 AND\n\tDATE(updated_at) = CURDATE() AND\n\tstep IN ('SUCCESS', 'ERROR')\nGROUP BY\n    DATE(updated_at),\n    step\nORDER BY dia, step;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          96,
          -368
        ],
        "id": "05440df2-799d-4c38-b26e-6b5a92a27c0e",
        "name": "Count Governo São Paulo",
        "credentials": {
          "mySql": {
            "id": "fPwgeEpjllC7rjHG",
            "name": "GovServLus MariaDB"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "triggerAtDay": [
                  1,
                  2,
                  3,
                  4,
                  5
                ],
                "triggerAtHour": 21,
                "triggerAtMinute": 40
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -128,
          -176
        ],
        "id": "c30d0af2-d18a-47b2-b356-c84ab8dc7e72",
        "name": "Schedule Trigger2"
      },
      {
        "parameters": {
          "sendTo": "daniel.gaspar@mdgintermediacoes.com.br, felipe.ferreira@mdgintermediacoes.com.br",
          "subject": "=Extração GovServLus - Governo São Paulo dia {{ new Date().toLocaleDateString('pt-BR')}}",
          "message": "=<p style=\"font-family: Arial, sans-serif; color: #333;\">Prezados</p>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 16px; color: #555;\">Segue a extração realizada do sistema\n    <strong>GovServLus - Governo de São Paulo</strong>.\n</p>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 16px; color: #555;\">Abaixo segue estatísticas:</p>\n\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"\n    style=\"max-width:700px;margin:20px auto;border-collapse:collapse;font-family:Arial,Helvetica,sans-serif;background-color:#ffffff;border-radius:10px;overflow:hidden;box-shadow:0 6px 18px rgba(0,0,0,0.12);\">\n\n    <thead>\n        <tr>\n            <th\n                style=\"padding:16px;background:linear-gradient(90deg,#0f9d58,#1e88e5);color:#ffffff;font-size:14px;font-weight:bold;text-transform:uppercase;text-align:center;\">\n                Status\n            </th>\n            <th\n                style=\"padding:16px;background:linear-gradient(90deg,#0f9d58,#1e88e5);color:#ffffff;font-size:14px;font-weight:bold;text-transform:uppercase;text-align:center;\">\n                Total\n            </th>\n        </tr>\n    </thead>\n\n    <tbody>\n        <tr style=\"background-color:#f7fbfa;\">\n            <td style=\"padding:14px;text-align:center;\">\n                <span\n                    style=\"display:inline-block;padding:6px 14px;border-radius:20px;background-color:#0f9d58;color:#ffffff;font-size:12px;font-weight:bold;\">\n                    ENCONTRADOS\n                </span>\n            </td>\n            <td style=\"padding:14px;text-align:center;font-size:16px;font-weight:bold;color:#1e88e5;\">\n                {{ $('Count Governo São Paulo').all()[0].json.total }}\n            </td>\n        </tr>\n\n        <tr style=\"background-color:#ffffff;\">\n            <td style=\"padding:14px;text-align:center;\">\n                <span\n                    style=\"display:inline-block;padding:6px 14px;border-radius:20px;background-color:#e53935;color:#ffffff;font-size:12px;font-weight:bold;\">\n                    NÃO LOCALIZADOS\n                </span>\n            </td>\n            <td style=\"padding:14px;text-align:center;font-size:16px;font-weight:bold;color:#1e88e5;\">\n                {{ $('Count Governo São Paulo').all()[1].json.total }}\n            </td>\n        </tr>\n    </tbody>\n\n</table>\n\n\n<p style=\"max-width:700px;margin:10px auto 0 auto;padding:12px 16px;\nfont-family:Arial,Helvetica,sans-serif;font-size:13px;color:#555;\nbackground-color:#f1f8f6;border-left:4px solid #0f9d58;border-radius:6px;\">\n    <strong>Observação:</strong> Os valores apresentados podem sofrer variações até o fechamento do dia\n    (00h), uma vez que se tratam de uma <strong>contagem parcial</strong> dos dados coletados\n    em suas respectivas plataformas no momento da extração.\n</p>\n\n\n</br>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 16px; color: #555;\">Atenciosamente,</p>\n\n<table cellpadding=\"0\" cellspacing=\"0\" style=\"font-family:Arial,Helvetica,sans-serif;max-width:500px;\">\n    <tr>\n        <td style=\"padding-right:16px;vertical-align:top;\">\n            <!-- Ícone / Logo -->\n            <div\n                style=\"width:64px;height:64px;border-radius:50%;background:linear-gradient(135deg,#0f9d58,#1e88e5);display:flex;align-items:center;justify-content:center;color:#ffffff;font-size:24px;font-weight:bold;\">\n                MDG\n            </div>\n        </td>\n\n        <td style=\"vertical-align:top;\">\n            <!-- Nome -->\n            <div style=\"font-size:16px;font-weight:bold;color:#1e88e5;line-height:1.2;\">\n                Anderson Tome\n            </div>\n\n            <!-- Empresa -->\n            <div style=\"font-size:13px;font-weight:bold;color:#0f9d58;\">\n                MDG Intermediações\n            </div>\n\n            <!-- Linha -->\n            <div style=\"height:1px;background-color:#e0e0e0;margin:8px 0;\"></div>\n\n            <!-- Contatos -->\n            <div style=\"font-size:12px;color:#333333;line-height:1.6;\">\n                📧 <a href=\"mailto:anderson.tome@mdgintermediacoes.com.br\" style=\"color:#1e88e5;text-decoration:none;\">\n                    anderson.tome@mdgintermediacoes.com.br\n                </a><br>\n\n                📧 <a href=\"mailto:desenvolvimento@mdgintermediacoes.com.br\"\n                    style=\"color:#1e88e5;text-decoration:none;\">\n                    desenvolvimento@mdgintermediacoes.com.br\n                </a><br>\n\n                📞 <a href=\"tel:+5519981746254\" style=\"color:#1e88e5;text-decoration:none;\">\n                    +55 (19) 98174-6254\n                </a><br>\n\n                🌐 <a href=\"https://www.mdgintermediacoes.com.br\" style=\"color:#1e88e5;text-decoration:none;\">\n                    www.mdgintermediacoes.com.br\n                </a>\n            </div>\n        </td>\n    </tr>\n</table>",
          "options": {
            "appendAttribution": false,
            "ccList": "raul.guimaraes@mdgintermediacoes.com.br"
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          320,
          -368
        ],
        "id": "bc6c45d5-19bb-4d50-9c00-f15af0d57fbe",
        "name": "Gmail",
        "webhookId": "7157af12-0be4-4385-922f-ffa31d70e347",
        "executeOnce": true,
        "credentials": {
          "gmailOAuth2": {
            "id": "iEXJKdMeC12THwyd",
            "name": "Gmail Desenvolvimento"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "daniel.gaspar@mdgintermediacoes.com.br, felipe.ferreira@mdgintermediacoes.com.br",
          "subject": "=Extração GovServLus - Prefeitura do Rio de Janeiro dia {{ new Date().toLocaleDateString('pt-BR')}}",
          "message": "=<p style=\"font-family: Arial, sans-serif; color: #333;\">Prezados</p>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 16px; color: #555;\">Segue a extração realizada do sistema\n    <strong>GovServLus - Prefeitura do Rio de Janeiro</strong>.\n</p>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 16px; color: #555;\">Abaixo segue estatísticas:</p>\n\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"\n    style=\"max-width:700px;margin:20px auto;border-collapse:collapse;font-family:Arial,Helvetica,sans-serif;background-color:#ffffff;border-radius:10px;overflow:hidden;box-shadow:0 6px 18px rgba(0,0,0,0.12);\">\n\n    <thead>\n        <tr>\n            <th\n                style=\"padding:16px;background:linear-gradient(90deg,#0f9d58,#1e88e5);color:#ffffff;font-size:14px;font-weight:bold;text-transform:uppercase;text-align:center;\">\n                Status\n            </th>\n            <th\n                style=\"padding:16px;background:linear-gradient(90deg,#0f9d58,#1e88e5);color:#ffffff;font-size:14px;font-weight:bold;text-transform:uppercase;text-align:center;\">\n                Total\n            </th>\n        </tr>\n    </thead>\n\n    <tbody>\n        <tr style=\"background-color:#f7fbfa;\">\n            <td style=\"padding:14px;text-align:center;\">\n                <span\n                    style=\"display:inline-block;padding:6px 14px;border-radius:20px;background-color:#0f9d58;color:#ffffff;font-size:12px;font-weight:bold;\">\n                    ENCONTRADOS\n                </span>\n            </td>\n            <td style=\"padding:14px;text-align:center;font-size:16px;font-weight:bold;color:#1e88e5;\">\n                {{ $('Count Prefeitura do Rio de Janeiro').all()[0].json.total }}\n            </td>\n        </tr>\n\n        <tr style=\"background-color:#ffffff;\">\n            <td style=\"padding:14px;text-align:center;\">\n                <span\n                    style=\"display:inline-block;padding:6px 14px;border-radius:20px;background-color:#e53935;color:#ffffff;font-size:12px;font-weight:bold;\">\n                    NÃO LOCALIZADOS\n                </span>\n            </td>\n            <td style=\"padding:14px;text-align:center;font-size:16px;font-weight:bold;color:#1e88e5;\">\n                {{ $('Count Prefeitura do Rio de Janeiro').all()[1].json.total }}\n            </td>\n        </tr>\n    </tbody>\n\n</table>\n\n\n<p style=\"max-width:700px;margin:10px auto 0 auto;padding:12px 16px;\nfont-family:Arial,Helvetica,sans-serif;font-size:13px;color:#555;\nbackground-color:#f1f8f6;border-left:4px solid #0f9d58;border-radius:6px;\">\n    <strong>Observação:</strong> Os valores apresentados podem sofrer variações até o fechamento do dia\n    (00h), uma vez que se tratam de uma <strong>contagem parcial</strong> dos dados coletados\n    em suas respectivas plataformas no momento da extração.\n</p>\n\n\n\n</br>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 16px; color: #555;\">Atenciosamente,</p>\n\n<table cellpadding=\"0\" cellspacing=\"0\" style=\"font-family:Arial,Helvetica,sans-serif;max-width:500px;\">\n    <tr>\n        <td style=\"padding-right:16px;vertical-align:top;\">\n            <!-- Ícone / Logo -->\n            <div\n                style=\"width:64px;height:64px;border-radius:50%;background:linear-gradient(135deg,#0f9d58,#1e88e5);display:flex;align-items:center;justify-content:center;color:#ffffff;font-size:24px;font-weight:bold;\">\n                MDG\n            </div>\n        </td>\n\n        <td style=\"vertical-align:top;\">\n            <!-- Nome -->\n            <div style=\"font-size:16px;font-weight:bold;color:#1e88e5;line-height:1.2;\">\n                Anderson Tome\n            </div>\n\n            <!-- Empresa -->\n            <div style=\"font-size:13px;font-weight:bold;color:#0f9d58;\">\n                MDG Intermediações\n            </div>\n\n            <!-- Linha -->\n            <div style=\"height:1px;background-color:#e0e0e0;margin:8px 0;\"></div>\n\n            <!-- Contatos -->\n            <div style=\"font-size:12px;color:#333333;line-height:1.6;\">\n                📧 <a href=\"mailto:anderson.tome@mdgintermediacoes.com.br\" style=\"color:#1e88e5;text-decoration:none;\">\n                    anderson.tome@mdgintermediacoes.com.br\n                </a><br>\n\n                📧 <a href=\"mailto:desenvolvimento@mdgintermediacoes.com.br\"\n                    style=\"color:#1e88e5;text-decoration:none;\">\n                    desenvolvimento@mdgintermediacoes.com.br\n                </a><br>\n\n                📞 <a href=\"tel:+5519981746254\" style=\"color:#1e88e5;text-decoration:none;\">\n                    +55 (19) 98174-6254\n                </a><br>\n\n                🌐 <a href=\"https://www.mdgintermediacoes.com.br\" style=\"color:#1e88e5;text-decoration:none;\">\n                    www.mdgintermediacoes.com.br\n                </a>\n            </div>\n        </td>\n    </tr>\n</table>",
          "options": {
            "appendAttribution": false,
            "ccList": "raul.guimaraes@mdgintermediacoes.com.br"
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          320,
          -176
        ],
        "id": "18e4d738-3f96-4df2-9297-a83e4ee9ac2d",
        "name": "Gmail1",
        "webhookId": "7157af12-0be4-4385-922f-ffa31d70e347",
        "executeOnce": true,
        "credentials": {
          "gmailOAuth2": {
            "id": "iEXJKdMeC12THwyd",
            "name": "Gmail Desenvolvimento"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n.mdgintermediacoes.com.br/webhook/3bbcfb3e-3e11-48a1-8adc-6ffdca7c2b39",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "-1001534937224"
              },
              {
                "name": "message",
                "value": "=<b>📊 Relatório Diário — Prefeitura do Rio de Janeiro</b>\n\n<b>Status:</b> <code>ENCONTRADOS</code>\n<b>Total:</b> {{ $('Count Prefeitura do Rio de Janeiro').all()[0].json.total }}\n\n<b>Status:</b> <code>NÃO LOCALIZADOS</code>\n<b>Total:</b> {{ $('Count Prefeitura do Rio de Janeiro').all()[1].json.total }}\n"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          544,
          -176
        ],
        "id": "d562f8d1-9f5d-48e4-ac91-1f493766f2ff",
        "name": "Envio telegram Kira Dev1",
        "executeOnce": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n    DATE(updated_at) AS dia,\n    step,\n    COUNT(*) AS total\nFROM base_names\nWHERE \n\torganization_id = 4 AND\n\tDATE(updated_at) = CURDATE() AND\n\tstep IN ('SUCCESS', 'ERROR')\nGROUP BY\n    DATE(updated_at),\n    step\nORDER BY dia, step;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          96,
          -176
        ],
        "id": "556952b5-ddfd-45a1-a1f0-d3fa0e7aee59",
        "name": "Count Prefeitura do Rio de Janeiro",
        "credentials": {
          "mySql": {
            "id": "fPwgeEpjllC7rjHG",
            "name": "GovServLus MariaDB"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Count Governo São Paulo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Envio telegram Kira Dev": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Count Governo São Paulo": {
        "main": [
          [
            {
              "node": "Gmail",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger2": {
        "main": [
          [
            {
              "node": "Count Prefeitura do Rio de Janeiro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gmail": {
        "main": [
          [
            {
              "node": "Envio telegram Kira Dev",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gmail1": {
        "main": [
          [
            {
              "node": "Envio telegram Kira Dev1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Envio telegram Kira Dev1": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Count Prefeitura do Rio de Janeiro": {
        "main": [
          [
            {
              "node": "Gmail1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Suporte MDG Suporte",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2025-02-20T16:29:31.422Z",
      "createdAt": "2025-02-20T16:29:31.422Z",
      "id": "XZLWvH2vm1NnuOvm",
      "name": "Comercial"
    }
  ]
}