Comercial/gZ5JN1xv9TScWZQj.json
{
  "updatedAt": "2025-05-23T12:24:32.201Z",
  "createdAt": "2025-05-19T14:46:20.604Z",
  "id": "gZ5JN1xv9TScWZQj",
  "name": "CONSULTA- IN100 Credilus Dados bancarios",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba3f2894-b0dc-40e8-b236-b47c36c9e351",
              "name": "data",
              "value": "={{ $json.CPF }}",
              "type": "string"
            },
            {
              "id": "4ec2ef88-701c-48f8-adea-1a4f883e228c",
              "name": "type",
              "value": "cpf",
              "type": "string"
            },
            {
              "id": "1ed2c516-6124-4af5-9261-a960f4394f79",
              "name": "Authorization",
              "value": "SvykkclF002Y2GPgAkANSEDmpxdiQcoIt1XOeUPw1a0603e5",
              "type": "string"
            },
            {
              "id": "6e85afe3-77fd-4aa3-8dce-c63633eda37b",
              "name": "usuarioNovaVidaTi",
              "value": "daniel.gaspar@acgconsultoria.com.br",
              "type": "string"
            },
            {
              "id": "b19dac28-c829-4492-a61a-c2d136cbfde7",
              "name": "senhaNovaVidaTi",
              "value": "Mdg@2025",
              "type": "string"
            },
            {
              "id": "9ad22f7f-caab-44e6-9367-e1adb2fa99f2",
              "name": "clienteNovaVidaTi",
              "value": "ACG",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        240
      ],
      "id": "fd624326-9150-4023-ba60-be64a6bd1368",
      "name": "Dados"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.3.60.14:9001/api/v1/in100/authorizations/authorizer",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Dados').first().json.Authorization}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "={{ $('Dados').first().json.type }}"
            },
            {
              "name": "data",
              "value": "={{ $('Dados').first().json.data }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "e6f42d0b-76cd-4d61-9fc8-760aad51304e",
      "name": "Iniciar RPA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1320,
        240
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "fcdcfdef-c754-4dab-affc-bda6fd7b964f",
      "name": "Aguardar 10s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1820,
        300
      ],
      "webhookId": "c02e32dc-17a9-4160-b68b-d2e12f121264"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data.document.status_document.step }}",
              "value2": "Concluído"
            },
            {
              "value1": "={{ $json.data.document.status_document.step }}",
              "value2": "Erro"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "2fd31836-6c34-49a9-a18b-0d5f3a5ee135",
      "name": "step é Final?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1520,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8fa82d28-6754-4368-b3ad-a0136859ac89",
              "leftValue": "={{ $json.data.document.status_document.step }}",
              "rightValue": "Concluído",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2120,
        220
      ],
      "id": "c9c82b70-014a-4e3b-ac35-cf61b05bb9ed",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "const payloads = items[0].json.data.document.historical_documents.payload;\n\nconst benefícios = payloads.map((beneficioArray, index) => {\n  const beneficioObj = {};\n\n  beneficioArray.forEach(campo => {\n    beneficioObj[campo.title] = campo.value;\n  });\n\n  return {\n    json: {\n      beneficio_index: index + 1,\n      ...beneficioObj\n    }\n  };\n});\n\nreturn benefícios;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        220
      ],
      "id": "c1ca47cc-247c-4a70-8e12-2dfaee50c665",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "## CONSULTA IN100 CREDILUS\n",
        "height": 700,
        "width": 1140
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        120
      ],
      "typeVersion": 1,
      "id": "fb2929f3-346d-433d-bade-e3a646276f55",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wsnv.novavidati.com.br/wslocalizador.asmx/NVCHECKJson",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Token",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nvcheck.Documento",
              "value": "={{ $('Dados').item.json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2840,
        220
      ],
      "id": "d768f2cd-8e4c-44d1-a9c6-a416e452ed18",
      "name": "HTTP nvcheck"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "57413736-c250-418d-ab14-9dc274d7e1d3",
              "name": "token",
              "value": "={{ $json.d }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2660,
        220
      ],
      "id": "ebfd825f-0a59-4baa-9e02-b4a283a04c10",
      "name": "Edit Token"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wsnv.novavidati.com.br/wslocalizador.asmx/GerarTokenJson",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "credencial.usuario",
              "value": "={{ $('Dados').item.json.usuarioNovaVidaTi }}"
            },
            {
              "name": "credencial.senha",
              "value": "={{ $('Dados').item.json.senhaNovaVidaTi }}"
            },
            {
              "name": "credencial.cliente",
              "value": "={{ $('Dados').item.json.clienteNovaVidaTi }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        220
      ],
      "id": "3216db43-c0cd-42d6-91fe-6cc6c20a0d9f",
      "name": "HTTP Gera Token"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5156968-77d1-4a11-bc9d-7a0e9e25abae",
              "name": "CPF",
              "value": "={{ $json.d.CONSULTA.CADASTRAIS.CPF }}",
              "type": "string"
            },
            {
              "id": "13c81e7b-29e1-4290-af13-601e291eec64",
              "name": "NOME",
              "value": "={{ $json.d.CONSULTA.CADASTRAIS.NOME }}",
              "type": "string"
            },
            {
              "id": "dd47d7ef-09af-402a-941f-065b264cd7c0",
              "name": "IDADE",
              "value": "={{ $json.d.CONSULTA.CADASTRAIS.IDADE }}",
              "type": "string"
            },
            {
              "id": "650ac4fb-6c32-49d3-83c2-82a0beb9b8a0",
              "name": "=TELEFONE_{{ $json.d.CONSULTA.TELEFONES[0].POSICAO }}",
              "value": "={{ $json.d.CONSULTA.TELEFONES[0].DDD }}{{ $json.d.CONSULTA.TELEFONES[0].TELEFONE }}",
              "type": "string"
            },
            {
              "id": "ca0e38cd-112e-4b58-b4bf-29084ed49e44",
              "name": "=TELEFONE_{{ $json.d.CONSULTA.TELEFONES[1].POSICAO }}",
              "value": "={{ $json.d.CONSULTA.TELEFONES[1].DDD }}{{ $json.d.CONSULTA.TELEFONES[1].TELEFONE }}",
              "type": "string"
            },
            {
              "id": "e67f7f16-1b03-45aa-8933-84f7d016fc2f",
              "name": "EMAIL",
              "value": "={{ $json.d.CONSULTA.EMAILS[0].EMAIL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3060,
        220
      ],
      "id": "0d7d3842-ff28-4f39-963b-bc5530ab0133",
      "name": "Edit Fields",
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "CPF",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2240,
        700
      ],
      "id": "24290e7c-d3ee-4bc9-8370-6879bbca3a6b",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc75fb94-f9aa-4d0a-acf2-d61edbb7a7fe",
              "name": "NOME",
              "value": "={{ $json.NOME }}",
              "type": "string"
            },
            {
              "id": "e0ba22ae-1841-4050-987b-5cd69ae71c06",
              "name": "CPF",
              "value": "={{ $json.CPF }}",
              "type": "string"
            },
            {
              "id": "91e4e5a8-7b1c-4b2a-a5e4-f82d88590aee",
              "name": "BENEFÍCIO",
              "value": "={{ $json['NÚMERO BENEFÍCIO | ESTADO'].split('|').first().toNumber() }}",
              "type": "string"
            },
            {
              "id": "6cec986b-f643-4742-8b83-c0b682822cc4",
              "name": "CODIGO_BANCARIO",
              "value": "={{ $json[\"CÓDIGO BANCÁRIO\"] }}",
              "type": "string"
            },
            {
              "id": "b64e16bf-f8f0-42f5-a2da-8b9a62bdb076",
              "name": "AGENCIA",
              "value": "={{ $json[\"AGÊNCIA\"] }}",
              "type": "string"
            },
            {
              "id": "8c7f5352-bd50-46b4-ab76-623349614983",
              "name": "CONTA",
              "value": "={{ $json.CONTA }}",
              "type": "string"
            },
            {
              "id": "4f885d81-4d66-4972-846b-d23bfbd1ac84",
              "name": "DÍGITO_CONTA",
              "value": "={{ $json[\"DÍGITO CONTA\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2440,
        700
      ],
      "id": "25a56249-7efd-426d-b703-62434d18956b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "content": "## CONSULTA NOVA VIDA TI \n",
        "height": 320,
        "width": 1080
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2100,
        120
      ],
      "typeVersion": 1,
      "id": "17238502-b445-49df-bc11-379180816d7e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1800,
        500
      ],
      "id": "bc3e2461-d47b-48d9-9d49-67e4c2d82116",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "58f2c457-f671-4b9a-ba45-36ec7b11ee17",
              "leftValue": "={{ $json.TELEFONE_1 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3320,
        220
      ],
      "id": "c1c3a9ca-c9c6-4fa1-a86b-196a77310ede",
      "name": "If"
    },
    {
      "parameters": {
        "url": "http://10.3.60.14:9001/api/v1/credilink/search/wsdl/cpf",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "cpf",
              "value": "={{ $json.CPF }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ***REDACTED***"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 100000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3580,
        240
      ],
      "id": "a3e9c439-2cf4-460f-8a67-33797febb67b",
      "name": "Consulta credilus",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json.data;\nconst resultado = [];\n\nconst getIdade = (nasc) => {\n  const [dia, mes, ano] = nasc.split('/');\n  const nascimento = new Date(`${ano}-${mes}-${dia}`);\n  const hoje = new Date();\n  let idade = hoje.getFullYear() - nascimento.getFullYear();\n  const m = hoje.getMonth() - nascimento.getMonth();\n  if (m < 0 || (m === 0 && hoje.getDate() < nascimento.getDate())) {\n    idade--;\n  }\n  return idade.toString();\n};\n\n// Filtrar contatos com WhatsApp = SIM\nconst contatosComWhatsApp = data.filter(d => d.WHATSAPP === \"SIM\");\n\nif (contatosComWhatsApp.length > 0) {\n  const pessoa = contatosComWhatsApp[0]; // pega o primeiro com WhatsApp SIM\n  const cpf = pessoa.CPFCNPJ;\n  const nome = pessoa.NOME;\n  const idade = getIdade(pessoa.NASC);\n  \n  // Pega até 2 telefones\n  const telefones = contatosComWhatsApp.map(d => d.TELEFONE);\n  const telefone_1 = telefones[0] || \"\";\n  const telefone_2 = telefones[1] || \"\";\n\n  resultado.push({\n    json: {\n      CPF: cpf,\n      NOME: nome,\n      IDADE: idade,\n      TELEFONE_1: telefone_1,\n      TELEFONE_2: telefone_2\n    }\n  });\n}\n\nreturn resultado;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3860,
        140
      ],
      "id": "a7905e1b-644f-4c9e-8385-c0e5c848937e",
      "name": "Code1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3860,
        380
      ],
      "id": "f9f8509d-a91a-45da-95e0-2fe223539ec7",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4160,
        260
      ],
      "id": "e4ecf991-f8a0-497a-bbde-bb55e8c8cd74",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "content": "## RESPONDE \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 260,
        "width": 980,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2120,
        600
      ],
      "typeVersion": 1,
      "id": "9a328897-00b4-4705-8258-e942dfa7ee91",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2860,
        700
      ],
      "id": "ccf5533c-b52f-48c9-8d5e-db307096bfea",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5cea151c-d2f9-4831-a564-b60a79ea87df",
              "leftValue": "={{ $json.data.document.status_document.message }}",
              "rightValue": "Erro no site do banco fox, não foi possivel coletar os campos a pagina esta em branco!",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        560
      ],
      "id": "4d13aff8-7976-4afc-babc-09bec40ae1d6",
      "name": "If2"
    },
    {
      "parameters": {
        "content": "## CONSULTACREDILUS CPF\n",
        "height": 480,
        "width": 1080
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3220,
        80
      ],
      "typeVersion": 1,
      "id": "7bbdb1a7-577c-490d-a49f-4f2d19b78cac",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.3.60.14:9001/api/v1/in100/authorizations/reprocess",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Dados').first().json.Authorization }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "={{ $('Dados').first().json.type }}"
            },
            {
              "name": "data",
              "value": "={{ $('Dados').first().json.data }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "3f088806-6b4c-4299-a6b0-8cb2ebac9f94",
      "name": "Reprocess RPA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1280,
        600
      ],
      "retryOnFail": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "amount": 45
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1560,
        560
      ],
      "id": "f9af0675-303d-416e-97fa-073285909be4",
      "name": "Wait",
      "webhookId": "be0d6ade-076e-4f70-b382-618ab93e84b8"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        200
      ],
      "id": "36b7b4bd-5746-4f36-a99d-aeee1acba0f9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        2660,
        700
      ],
      "id": "e2eb8046-ee86-447c-9226-907872fe94fb",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "317f02e6-c431-4ba5-8f67-9e3139a10e3f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        420
      ],
      "id": "8409555c-fb9d-4426-a09c-52e7f4ed39ed",
      "name": "Webhook",
      "webhookId": "317f02e6-c431-4ba5-8f67-9e3139a10e3f"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        960,
        240
      ],
      "id": "594052b6-2e07-414e-ab34-60abffa8553e",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "// Pega o body como string\nlet raw = items[0].json.body;\n\n// Remove vírgula no final (caso exista)\nraw = raw.replace(/,\\s*}/, '}');\n\n// Converte de string para objeto JSON\nconst parsed = JSON.parse(raw);\n\n// Retorna o objeto limpo\nreturn [{ json: parsed }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        420
      ],
      "id": "51cccfdd-69a8-49ca-b6d9-59c33a59b28e",
      "name": "get body"
    },
    {
      "parameters": {
        "content": "## RECEBIMENTO DE DADOS \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 560,
        "width": 720,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        80
      ],
      "typeVersion": 1,
      "id": "28906953-a59e-4a31-9ee4-289f6076f25c",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "query",
              "newKey": "CPF"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        440,
        200
      ],
      "id": "ae9568ee-27b0-4ed7-99a4-928657738362",
      "name": "Rename Keys"
    }
  ],
  "connections": {
    "Dados": {
      "main": [
        [
          {
            "node": "Iniciar RPA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iniciar RPA": {
      "main": [
        [
          {
            "node": "step é Final?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "step é Final?": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aguardar 10s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar 10s": {
      "main": [
        [
          {
            "node": "Iniciar RPA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Gera Token",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Token": {
      "main": [
        [
          {
            "node": "HTTP nvcheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Gera Token": {
      "main": [
        [
          {
            "node": "Edit Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP nvcheck": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consulta credilus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta credilus": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reprocess RPA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reprocess RPA": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "step é Final?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "get body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get body": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Rename Keys": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.mdgintermediacoes.com.br",
            "scheme": "https",
            "server_port": "443",
            "remote_addr": "10.3.60.5",
            "connection": "Upgrade",
            "x-real-ip": "10.3.60.5",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "10.3.60.5",
            "x-forwarded-host": "n8n.mdgintermediacoes.com.br",
            "x-forwarded-port": "443",
            "content-length": "27",
            "content-type": "text/plain;charset=UTF-8",
            "accept": "*/*",
            "accept-language": "*",
            "sec-fetch-mode": "cors",
            "user-agent": "node",
            "accept-encoding": "br, gzip, deflate"
          },
          "params": {},
          "query": {},
          "body": "{\n  \"CPF\": \"29590620000\",\n}",
          "webhookUrl": "https://n8n.mdgintermediacoes.com.br/webhook/317f02e6-c431-4ba5-8f67-9e3139a10e3f",
          "executionMode": "production"
        }
      }
    ],
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "29590620000"
        }
      }
    ]
  },
  "versionId": "1cdf6786-4b0c-480d-a6f2-de0c2b82c19c",
  "activeVersionId": "1cdf6786-4b0c-480d-a6f2-de0c2b82c19c",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-05-19T14:46:20.604Z",
      "createdAt": "2025-05-19T14:46:20.604Z",
      "role": "workflow:owner",
      "workflowId": "gZ5JN1xv9TScWZQj",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-11-29T01:50:38.405Z",
    "createdAt": "2025-11-29T01:50:38.405Z",
    "versionId": "1cdf6786-4b0c-480d-a6f2-de0c2b82c19c",
    "workflowId": "gZ5JN1xv9TScWZQj",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ba3f2894-b0dc-40e8-b236-b47c36c9e351",
                "name": "data",
                "value": "={{ $json.CPF }}",
                "type": "string"
              },
              {
                "id": "4ec2ef88-701c-48f8-adea-1a4f883e228c",
                "name": "type",
                "value": "cpf",
                "type": "string"
              },
              {
                "id": "1ed2c516-6124-4af5-9261-a960f4394f79",
                "name": "Authorization",
                "value": "SvykkclF002Y2GPgAkANSEDmpxdiQcoIt1XOeUPw1a0603e5",
                "type": "string"
              },
              {
                "id": "6e85afe3-77fd-4aa3-8dce-c63633eda37b",
                "name": "usuarioNovaVidaTi",
                "value": "daniel.gaspar@acgconsultoria.com.br",
                "type": "string"
              },
              {
                "id": "b19dac28-c829-4492-a61a-c2d136cbfde7",
                "name": "senhaNovaVidaTi",
                "value": "Mdg@2025",
                "type": "string"
              },
              {
                "id": "9ad22f7f-caab-44e6-9367-e1adb2fa99f2",
                "name": "clienteNovaVidaTi",
                "value": "ACG",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1120,
          240
        ],
        "id": "fd624326-9150-4023-ba60-be64a6bd1368",
        "name": "Dados"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://10.3.60.14:9001/api/v1/in100/authorizations/authorizer",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$('Dados').first().json.Authorization}}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "type",
                "value": "={{ $('Dados').first().json.type }}"
              },
              {
                "name": "data",
                "value": "={{ $('Dados').first().json.data }}"
              }
            ]
          },
          "options": {
            "allowUnauthorizedCerts": true
          }
        },
        "id": "e6f42d0b-76cd-4d61-9fc8-760aad51304e",
        "name": "Iniciar RPA",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1320,
          240
        ],
        "retryOnFail": true
      },
      {
        "parameters": {
          "amount": 45,
          "unit": "seconds"
        },
        "id": "fcdcfdef-c754-4dab-affc-bda6fd7b964f",
        "name": "Aguardar 10s",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [
          1820,
          300
        ],
        "webhookId": "c02e32dc-17a9-4160-b68b-d2e12f121264"
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.data.document.status_document.step }}",
                "value2": "Concluído"
              },
              {
                "value1": "={{ $json.data.document.status_document.step }}",
                "value2": "Erro"
              }
            ]
          },
          "combineOperation": "any"
        },
        "id": "2fd31836-6c34-49a9-a18b-0d5f3a5ee135",
        "name": "step é Final?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          1520,
          240
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "8fa82d28-6754-4368-b3ad-a0136859ac89",
                "leftValue": "={{ $json.data.document.status_document.step }}",
                "rightValue": "Concluído",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2120,
          220
        ],
        "id": "c9c82b70-014a-4e3b-ac35-cf61b05bb9ed",
        "name": "If1"
      },
      {
        "parameters": {
          "jsCode": "const payloads = items[0].json.data.document.historical_documents.payload;\n\nconst benefícios = payloads.map((beneficioArray, index) => {\n  const beneficioObj = {};\n\n  beneficioArray.forEach(campo => {\n    beneficioObj[campo.title] = campo.value;\n  });\n\n  return {\n    json: {\n      beneficio_index: index + 1,\n      ...beneficioObj\n    }\n  };\n});\n\nreturn benefícios;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2320,
          220
        ],
        "id": "c1ca47cc-247c-4a70-8e12-2dfaee50c665",
        "name": "Code"
      },
      {
        "parameters": {
          "content": "## CONSULTA IN100 CREDILUS\n",
          "height": 700,
          "width": 1140
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          880,
          120
        ],
        "typeVersion": 1,
        "id": "fb2929f3-346d-433d-bade-e3a646276f55",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://wsnv.novavidati.com.br/wslocalizador.asmx/NVCHECKJson",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Token",
                "value": "={{ $json.token }}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "nvcheck.Documento",
                "value": "={{ $('Dados').item.json.data }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2840,
          220
        ],
        "id": "d768f2cd-8e4c-44d1-a9c6-a416e452ed18",
        "name": "HTTP nvcheck"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "57413736-c250-418d-ab14-9dc274d7e1d3",
                "name": "token",
                "value": "={{ $json.d }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2660,
          220
        ],
        "id": "ebfd825f-0a59-4baa-9e02-b4a283a04c10",
        "name": "Edit Token"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://wsnv.novavidati.com.br/wslocalizador.asmx/GerarTokenJson",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "credencial.usuario",
                "value": "={{ $('Dados').item.json.usuarioNovaVidaTi }}"
              },
              {
                "name": "credencial.senha",
                "value": "={{ $('Dados').item.json.senhaNovaVidaTi }}"
              },
              {
                "name": "credencial.cliente",
                "value": "={{ $('Dados').item.json.clienteNovaVidaTi }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2500,
          220
        ],
        "id": "3216db43-c0cd-42d6-91fe-6cc6c20a0d9f",
        "name": "HTTP Gera Token"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e5156968-77d1-4a11-bc9d-7a0e9e25abae",
                "name": "CPF",
                "value": "={{ $json.d.CONSULTA.CADASTRAIS.CPF }}",
                "type": "string"
              },
              {
                "id": "13c81e7b-29e1-4290-af13-601e291eec64",
                "name": "NOME",
                "value": "={{ $json.d.CONSULTA.CADASTRAIS.NOME }}",
                "type": "string"
              },
              {
                "id": "dd47d7ef-09af-402a-941f-065b264cd7c0",
                "name": "IDADE",
                "value": "={{ $json.d.CONSULTA.CADASTRAIS.IDADE }}",
                "type": "string"
              },
              {
                "id": "650ac4fb-6c32-49d3-83c2-82a0beb9b8a0",
                "name": "=TELEFONE_{{ $json.d.CONSULTA.TELEFONES[0].POSICAO }}",
                "value": "={{ $json.d.CONSULTA.TELEFONES[0].DDD }}{{ $json.d.CONSULTA.TELEFONES[0].TELEFONE }}",
                "type": "string"
              },
              {
                "id": "ca0e38cd-112e-4b58-b4bf-29084ed49e44",
                "name": "=TELEFONE_{{ $json.d.CONSULTA.TELEFONES[1].POSICAO }}",
                "value": "={{ $json.d.CONSULTA.TELEFONES[1].DDD }}{{ $json.d.CONSULTA.TELEFONES[1].TELEFONE }}",
                "type": "string"
              },
              {
                "id": "e67f7f16-1b03-45aa-8933-84f7d016fc2f",
                "name": "EMAIL",
                "value": "={{ $json.d.CONSULTA.EMAILS[0].EMAIL }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3060,
          220
        ],
        "id": "0d7d3842-ff28-4f39-963b-bc5530ab0133",
        "name": "Edit Fields",
        "executeOnce": true
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "CPF",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.1,
        "position": [
          2240,
          700
        ],
        "id": "24290e7c-d3ee-4bc9-8370-6879bbca3a6b",
        "name": "Merge"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cc75fb94-f9aa-4d0a-acf2-d61edbb7a7fe",
                "name": "NOME",
                "value": "={{ $json.NOME }}",
                "type": "string"
              },
              {
                "id": "e0ba22ae-1841-4050-987b-5cd69ae71c06",
                "name": "CPF",
                "value": "={{ $json.CPF }}",
                "type": "string"
              },
              {
                "id": "91e4e5a8-7b1c-4b2a-a5e4-f82d88590aee",
                "name": "BENEFÍCIO",
                "value": "={{ $json['NÚMERO BENEFÍCIO | ESTADO'].split('|').first().toNumber() }}",
                "type": "string"
              },
              {
                "id": "6cec986b-f643-4742-8b83-c0b682822cc4",
                "name": "CODIGO_BANCARIO",
                "value": "={{ $json[\"CÓDIGO BANCÁRIO\"] }}",
                "type": "string"
              },
              {
                "id": "b64e16bf-f8f0-42f5-a2da-8b9a62bdb076",
                "name": "AGENCIA",
                "value": "={{ $json[\"AGÊNCIA\"] }}",
                "type": "string"
              },
              {
                "id": "8c7f5352-bd50-46b4-ab76-623349614983",
                "name": "CONTA",
                "value": "={{ $json.CONTA }}",
                "type": "string"
              },
              {
                "id": "4f885d81-4d66-4972-846b-d23bfbd1ac84",
                "name": "DÍGITO_CONTA",
                "value": "={{ $json[\"DÍGITO CONTA\"] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2440,
          700
        ],
        "id": "25a56249-7efd-426d-b703-62434d18956b",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "content": "## CONSULTA NOVA VIDA TI \n",
          "height": 320,
          "width": 1080
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2100,
          120
        ],
        "typeVersion": 1,
        "id": "17238502-b445-49df-bc11-379180816d7e",
        "name": "Sticky Note1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1800,
          500
        ],
        "id": "bc3e2461-d47b-48d9-9d49-67e4c2d82116",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "58f2c457-f671-4b9a-ba45-36ec7b11ee17",
                "leftValue": "={{ $json.TELEFONE_1 }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3320,
          220
        ],
        "id": "c1c3a9ca-c9c6-4fa1-a86b-196a77310ede",
        "name": "If"
      },
      {
        "parameters": {
          "url": "http://10.3.60.14:9001/api/v1/credilink/search/wsdl/cpf",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "cpf",
                "value": "={{ $json.CPF }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer ***REDACTED***"
              }
            ]
          },
          "options": {
            "allowUnauthorizedCerts": true,
            "timeout": 100000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3580,
          240
        ],
        "id": "a3e9c439-2cf4-460f-8a67-33797febb67b",
        "name": "Consulta credilus",
        "retryOnFail": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const data = items[0].json.data;\nconst resultado = [];\n\nconst getIdade = (nasc) => {\n  const [dia, mes, ano] = nasc.split('/');\n  const nascimento = new Date(`${ano}-${mes}-${dia}`);\n  const hoje = new Date();\n  let idade = hoje.getFullYear() - nascimento.getFullYear();\n  const m = hoje.getMonth() - nascimento.getMonth();\n  if (m < 0 || (m === 0 && hoje.getDate() < nascimento.getDate())) {\n    idade--;\n  }\n  return idade.toString();\n};\n\n// Filtrar contatos com WhatsApp = SIM\nconst contatosComWhatsApp = data.filter(d => d.WHATSAPP === \"SIM\");\n\nif (contatosComWhatsApp.length > 0) {\n  const pessoa = contatosComWhatsApp[0]; // pega o primeiro com WhatsApp SIM\n  const cpf = pessoa.CPFCNPJ;\n  const nome = pessoa.NOME;\n  const idade = getIdade(pessoa.NASC);\n  \n  // Pega até 2 telefones\n  const telefones = contatosComWhatsApp.map(d => d.TELEFONE);\n  const telefone_1 = telefones[0] || \"\";\n  const telefone_2 = telefones[1] || \"\";\n\n  resultado.push({\n    json: {\n      CPF: cpf,\n      NOME: nome,\n      IDADE: idade,\n      TELEFONE_1: telefone_1,\n      TELEFONE_2: telefone_2\n    }\n  });\n}\n\nreturn resultado;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3860,
          140
        ],
        "id": "a7905e1b-644f-4c9e-8385-c0e5c848937e",
        "name": "Code1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.1,
        "position": [
          3860,
          380
        ],
        "id": "f9f8509d-a91a-45da-95e0-2fe223539ec7",
        "name": "Merge1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          4160,
          260
        ],
        "id": "e4ecf991-f8a0-497a-bbde-bb55e8c8cd74",
        "name": "No Operation, do nothing1"
      },
      {
        "parameters": {
          "content": "## RESPONDE \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 260,
          "width": 980,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2120,
          600
        ],
        "typeVersion": 1,
        "id": "9a328897-00b4-4705-8258-e942dfa7ee91",
        "name": "Sticky Note3"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          2860,
          700
        ],
        "id": "ccf5533c-b52f-48c9-8d5e-db307096bfea",
        "name": "No Operation, do nothing3"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "5cea151c-d2f9-4831-a564-b60a79ea87df",
                "leftValue": "={{ $json.data.document.status_document.message }}",
                "rightValue": "Erro no site do banco fox, não foi possivel coletar os campos a pagina esta em branco!",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1040,
          560
        ],
        "id": "4d13aff8-7976-4afc-babc-09bec40ae1d6",
        "name": "If2"
      },
      {
        "parameters": {
          "content": "## CONSULTACREDILUS CPF\n",
          "height": 480,
          "width": 1080
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          3220,
          80
        ],
        "typeVersion": 1,
        "id": "7bbdb1a7-577c-490d-a49f-4f2d19b78cac",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://10.3.60.14:9001/api/v1/in100/authorizations/reprocess",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Dados').first().json.Authorization }}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "type",
                "value": "={{ $('Dados').first().json.type }}"
              },
              {
                "name": "data",
                "value": "={{ $('Dados').first().json.data }}"
              }
            ]
          },
          "options": {
            "allowUnauthorizedCerts": true
          }
        },
        "id": "3f088806-6b4c-4299-a6b0-8cb2ebac9f94",
        "name": "Reprocess RPA",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1280,
          600
        ],
        "retryOnFail": true,
        "executeOnce": true
      },
      {
        "parameters": {
          "amount": 45
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1560,
          560
        ],
        "id": "f9af0675-303d-416e-97fa-073285909be4",
        "name": "Wait",
        "webhookId": "be0d6ade-076e-4f70-b382-618ab93e84b8"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          220,
          200
        ],
        "id": "36b7b4bd-5746-4f36-a99d-aeee1acba0f9",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.2,
        "position": [
          2660,
          700
        ],
        "id": "e2eb8046-ee86-447c-9226-907872fe94fb",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "317f02e6-c431-4ba5-8f67-9e3139a10e3f",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          220,
          420
        ],
        "id": "8409555c-fb9d-4426-a09c-52e7f4ed39ed",
        "name": "Webhook",
        "webhookId": "317f02e6-c431-4ba5-8f67-9e3139a10e3f"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.1,
        "position": [
          960,
          240
        ],
        "id": "594052b6-2e07-414e-ab34-60abffa8553e",
        "name": "Merge2"
      },
      {
        "parameters": {
          "jsCode": "// Pega o body como string\nlet raw = items[0].json.body;\n\n// Remove vírgula no final (caso exista)\nraw = raw.replace(/,\\s*}/, '}');\n\n// Converte de string para objeto JSON\nconst parsed = JSON.parse(raw);\n\n// Retorna o objeto limpo\nreturn [{ json: parsed }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          420,
          420
        ],
        "id": "51cccfdd-69a8-49ca-b6d9-59c33a59b28e",
        "name": "get body"
      },
      {
        "parameters": {
          "content": "## RECEBIMENTO DE DADOS \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 560,
          "width": 720,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          80,
          80
        ],
        "typeVersion": 1,
        "id": "28906953-a59e-4a31-9ee4-289f6076f25c",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "keys": {
            "key": [
              {
                "currentKey": "query",
                "newKey": "CPF"
              }
            ]
          },
          "additionalOptions": {}
        },
        "type": "n8n-nodes-base.renameKeys",
        "typeVersion": 1,
        "position": [
          440,
          200
        ],
        "id": "ae9568ee-27b0-4ed7-99a4-928657738362",
        "name": "Rename Keys"
      }
    ],
    "connections": {
      "Dados": {
        "main": [
          [
            {
              "node": "Iniciar RPA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Iniciar RPA": {
        "main": [
          [
            {
              "node": "step é Final?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "step é Final?": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Aguardar 10s",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aguardar 10s": {
        "main": [
          [
            {
              "node": "Iniciar RPA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "If2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "HTTP Gera Token",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Edit Token": {
        "main": [
          [
            {
              "node": "HTTP nvcheck",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Gera Token": {
        "main": [
          [
            {
              "node": "Edit Token",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP nvcheck": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Consulta credilus",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consulta credilus": {
        "main": [
          [
            {
              "node": "Code1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code1": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If2": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reprocess RPA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reprocess RPA": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "step é Final?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Rename Keys",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond to Webhook": {
        "main": [
          [
            {
              "node": "No Operation, do nothing3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge2": {
        "main": [
          [
            {
              "node": "Dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "get body",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get body": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Rename Keys": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2025-02-20T16:29:31.422Z",
      "createdAt": "2025-02-20T16:29:31.422Z",
      "id": "XZLWvH2vm1NnuOvm",
      "name": "Comercial"
    }
  ]
}