Comercial/oSD1QI3rNIegJE57.json
{
  "updatedAt": "2026-01-07T16:00:58.471Z",
  "createdAt": "2025-02-28T11:44:59.956Z",
  "id": "oSD1QI3rNIegJE57",
  "name": "Relatório - Resumo Mensal HIGENIZADOS (GOVSP/IN100)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "={{`rpa-conciliacao-${new Date().toLocaleDateString('pt-BR').replace(/\\//g, '-')}.xlsx`}}",
          "sheetName": "={{`${new Date().toLocaleDateString('pt-BR').replace(/\\//g, '-')}`}}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1184,
        128
      ],
      "id": "ebccbf04-eb51-44a3-ac89-f2749fade799",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59ef0a5d-860c-4a08-a23a-f8574b0e6e15",
              "name": "AF",
              "value": "={{ $('Consulta Integrados Governo').item.json.Af_codigo }}",
              "type": "number"
            },
            {
              "id": "16aa4943-2a2f-4804-b490-c1c86792ea46",
              "name": "Valor AF",
              "value": "={{ $('Consulta Integrados Governo').item.json.Af_valor_af }}",
              "type": "number"
            },
            {
              "id": "5d44ed99-efec-44c2-adca-5ded7a8314dc",
              "name": "Comissao empresa",
              "value": "={{ $('Consulta Integrados Governo').item.json.Af_valor_comissao_empresa }}",
              "type": "number"
            },
            {
              "id": "1cb3e73c-b0d2-4575-8d89-de0b31489ad2",
              "name": "Data da AF",
              "value": "={{ $('Consulta Integrados Governo').item.json.Af_data }}",
              "type": "string"
            },
            {
              "id": "94927947-6a1d-47e4-96f2-873961a02fe7",
              "name": "Contrato Banco",
              "value": "={{ $('Consulta Integrados Governo').item.json.Af_codigo_contrato_banco }}",
              "type": "string"
            },
            {
              "id": "e84e67bc-fae0-4358-98de-6b43585daf62",
              "name": "Orgao",
              "value": "={{ $('Consulta Integrados Governo').item.json.Orgav_descricao }}",
              "type": "string"
            },
            {
              "id": "8c8e44a1-4242-4970-b577-e39de3333c63",
              "name": "Banco",
              "value": "={{ $('Consulta Integrados Governo').item.json.Bcolib_descricao }}",
              "type": "string"
            },
            {
              "id": "39bd65f4-2138-46c4-84e8-81de2dab4362",
              "name": "Consulta robo em",
              "value": "={{ $json.consulted_at }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        0
      ],
      "id": "a4ebb499-5220-403a-a411-44dd46b78ff4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    a.Af_codigo, \n    FORMAT(a.Af_data, 'dd/MM/yyyy') AS Af_data, \n    a.Af_valor_af, \n    a.faf_codigo, \n    a.Af_codigo_contrato_banco, \n    a.Af_valor_comissao_empresa,\n    c.Con_codigo, \n    c.Con_cpf, \n    c.Con_matricula,  \n    o.Orgav_codigo, \n    o.Orgav_descricao,\n    b.Bcolib_descricao\nFROM dbo.af a\nJOIN dbo.convenio c ON a.Con_codigo = c.Con_codigo\nJOIN dbo.orgaoav o ON c.Orgav_codigo = o.Orgav_codigo\nJOIN dbo.bancolib b ON a.Bcolib_codigo = b.Bcolib_codigo\nWHERE \n    YEAR(a.Af_data) = YEAR(DATEADD(MONTH, -1, GETDATE()))  -- Ano do mês anterior\n    AND MONTH(a.Af_data) = MONTH(DATEADD(MONTH, -1, GETDATE()))  -- Mês anterior\n    AND a.faf_codigo = 3  \n    AND o.Orgav_codigo IN (6, 10, 21, 28, 29, 40, 47, 49)  \nORDER BY a.Af_codigo;\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        240,
        0
      ],
      "id": "6d326e67-4ccb-4c85-8c4c-e43c9d31f340",
      "name": "Consulta Integrados Governo",
      "credentials": {
        "microsoftSql": {
          "id": "Eck1dwqEQjiv5hCV",
          "name": "dboAgilus"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -32,
        112
      ],
      "id": "0babcb53-1662-4e2a-a63d-48c96ef3ff4f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "sendTo": "daniel.gaspar@mdgintermediacoes.com.br, felipe.ferreira@mdgintermediacoes.com.br",
        "subject": "=Relatório Mensal AFs RPA",
        "message": "=    <p style=\"font-family: Arial, sans-serif; color: #333;\">Prezados</p>\n\n    <p style=\"font-family: Arial, sans-serif; font-size: 16px; color: #555;\">Segue conciliação mensal do sistemas\n        <strong>GovServlus</strong> ,<strong>in100</strong> e <strong>GovServlus</strong>.\n    </p>\n\n    </br>\n\n    <p style=\"font-family: Arial, sans-serif; font-size: 16px; color: #555;\">Atenciosamente,</p>\n    <p style=\"font-family: Arial, sans-serif; font-size: 16px; color: #555;\"><strong>Desenvolvimento MDG</strong></p>\n\n    <img src=\"https://i.imgur.com/A96b1p9.jpeg\" alt=\"Assinatura\" style=\"max-width: 50%; height: auto;\"><br>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          },
          "ccList": "raul.guimaraes@mdgintermediacoes.com.br"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1376,
        128
      ],
      "id": "e14e13be-6d1d-4f6f-8e69-25f691a8e6e8",
      "name": "Send to Boss",
      "webhookId": "7157af12-0be4-4385-922f-ffa31d70e347",
      "credentials": {
        "gmailOAuth2": {
          "id": "iEXJKdMeC12THwyd",
          "name": "Gmail Desenvolvimento"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1840,
        112
      ],
      "id": "4d26cc3a-501d-40b1-9da7-30bd88fdb305",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.mdgintermediacoes.com.br/webhook/3bbcfb3e-3e11-48a1-8adc-6ffdca7c2b39",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "-1001534937224"
            },
            {
              "name": "message",
              "value": "=Amuaigos,  Foi enviada a planilha com a extração dos dados do sistema GovServLus.  Nome Arquivo: {{`govservlus-conciliacao-${new Date().toLocaleDateString('pt-BR').replace(/\\//g, '-')}.xlsx`}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        -416
      ],
      "id": "453dcb2f-c444-418b-8309-158bccd519f6",
      "name": "Envio telegram Kira Dev",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bc185fc0-ad33-43d3-bc79-0a9b25e80c96",
              "leftValue": "={{ DateTime.fromFormat($('Consulta Integrados Governo').item.json.Af_data, \"dd/MM/yyyy\") }}",
              "rightValue": "={{ $json.consulted_at }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -368,
        -384
      ],
      "id": "872e5bac-85e5-40bf-b4b3-4a832f9aa2ba",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bc185fc0-ad33-43d3-bc79-0a9b25e80c96",
              "leftValue": "={{ DateTime.fromFormat($('Consulta Integrados INSS').item.json.Af_data, \"dd/MM/yyyy\") }}",
              "rightValue": "={{ $json.consulted_at.toDateTime() }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -368,
        -128
      ],
      "id": "dd634b0f-0d84-45ac-ae57-9e76539fcd6f",
      "name": "Filter1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    a.Af_codigo, \n    FORMAT(a.Af_data, 'dd/MM/yyyy') AS Af_data, \n    a.Af_valor_af, \n    a.faf_codigo, \n    a.Af_codigo_contrato_banco,\n    a.Af_valor_comissao_empresa,\n    c.Con_codigo, \n    c.Con_cpf, \n    c.Con_matricula,  \n    o.Orgav_codigo, \n    o.Orgav_descricao,\n    b.Bcolib_descricao\nFROM dbo.af a\nJOIN dbo.convenio c ON a.Con_codigo = c.Con_codigo\nJOIN dbo.orgaoav o ON c.Orgav_codigo = o.Orgav_codigo\nJOIN dbo.bancolib b ON a.Bcolib_codigo = b.Bcolib_codigo\nWHERE \n    YEAR(a.Af_data) = YEAR(DATEADD(MONTH, -1, GETDATE()))  -- Ano do mês anterior\n    AND MONTH(a.Af_data) = MONTH(DATEADD(MONTH, -1, GETDATE()))  -- Mês anterior\n    AND a.faf_codigo = 3  \n    AND o.Orgav_codigo IN (1, 2, 9, 39, 42, 44)  \nORDER BY a.Af_codigo;\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        240,
        256
      ],
      "id": "9d63542c-1a21-48c7-8452-68ced9e75567",
      "name": "Consulta Integrados INSS",
      "credentials": {
        "microsoftSql": {
          "id": "Eck1dwqEQjiv5hCV",
          "name": "dboAgilus"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "vw_full_consulteds",
          "mode": "list",
          "cachedResultName": "vw_full_consulteds"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "cpf",
              "condition": "LIKE",
              "value": "={{ String($json.Con_cpf).replace(/\\D/g, '').replace(/(\\d{3})(\\d{3})(\\d{3})(\\d{2})/, '$1.$2.$3-$4') }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "consulted_at"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        496,
        256
      ],
      "id": "9c20af3b-011e-47aa-8643-07c6e31290ec",
      "name": "Busca internos IN100",
      "retryOnFail": true,
      "credentials": {
        "mySql": {
          "id": "T9AP63oSzVHyX8t2",
          "name": "MariaDb In100 QueroMais"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "vw_consulteds_1",
          "mode": "list",
          "cachedResultName": "vw_consulteds_1"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "cpf",
              "value": "={{ $json.Con_cpf }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "consulted_at"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        496,
        0
      ],
      "id": "6039ccca-5249-4824-b5de-d0970013e787",
      "name": "Busca internos GOV",
      "retryOnFail": true,
      "credentials": {
        "mySql": {
          "id": "fPwgeEpjllC7rjHG",
          "name": "GovServLus MariaDB"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aad4ab0f-7bc2-4d60-8967-1f658834da93",
              "name": "AF",
              "value": "={{ $('Consulta Integrados INSS').item.json.Af_codigo }}",
              "type": "number"
            },
            {
              "id": "0312ecfa-c5cc-4517-aa7a-ed08e7a2fd06",
              "name": "Valor AF",
              "value": "={{ $('Consulta Integrados INSS').item.json.Af_valor_af }}",
              "type": "number"
            },
            {
              "id": "faf3861c-07fd-4f43-81ae-606f18e1c970",
              "name": "Comissao empresa",
              "value": "={{ $('Consulta Integrados INSS').item.json.Af_valor_comissao_empresa }}",
              "type": "number"
            },
            {
              "id": "a9815087-813d-4dc9-a0f2-27ca44d0a847",
              "name": "Data da AF",
              "value": "={{ $('Consulta Integrados INSS').item.json.Af_data }}",
              "type": "string"
            },
            {
              "id": "1799ff94-a28d-4c9a-ac2e-fc738b2113fe",
              "name": "Orgao",
              "value": "={{ $('Consulta Integrados INSS').item.json.Orgav_descricao }}",
              "type": "string"
            },
            {
              "id": "8f6f66de-67d4-46f0-9cef-fa56ef3089e4",
              "name": "Banco",
              "value": "={{ $('Consulta Integrados INSS').item.json.Bcolib_descricao }}",
              "type": "string"
            },
            {
              "id": "bdb19020-34a2-4619-b205-9f35065b8a3a",
              "name": "Contrato Banco",
              "value": "={{ $('Consulta Integrados INSS').item.json.Af_codigo_contrato_banco }}",
              "type": "string"
            },
            {
              "id": "39bd65f4-2138-46c4-84e8-81de2dab4362",
              "name": "Consulta robo em",
              "value": "={{ $json.consulted_at }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        256
      ],
      "id": "9b202659-9a77-4360-9da6-c5b6a2e28a4d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "content": "## CONSULTA AGILUS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 560,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        -128
      ],
      "typeVersion": 1,
      "id": "ad4a4808-d618-45a7-9e24-a8fd2da68c56",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## CONSULTA BD CONSULTAS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 560,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        -128
      ],
      "typeVersion": 1,
      "id": "b1bd8d9c-bead-405d-bef3-94dbbbe3fdd6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## CONCILIA DATA\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 560,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        -512
      ],
      "typeVersion": 1,
      "id": "9eef4985-6883-496a-8ce6-49f31d744700",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## ORGANIZA DADOS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 560,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        -128
      ],
      "typeVersion": 1,
      "id": "5db735b4-2850-46b1-999c-947922243cdb",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## CONVERT PLANILHA\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 560,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        -128
      ],
      "typeVersion": 1,
      "id": "32dc9ba8-bce5-4044-a15f-9e3af0bd00c1",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## ENVIA E-MAIL COM ANEXO\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 560,
        "width": 208,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1344,
        -128
      ],
      "typeVersion": 1,
      "id": "68a804b0-5020-4239-96c5-a0c57e160fb6",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## RELATÓRIOS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 720,
        "width": 1920,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -208
      ],
      "typeVersion": 1,
      "id": "dff9173c-047c-4456-b01d-14d240a69bed",
      "name": "Sticky Note6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        992,
        128
      ],
      "id": "250e3d11-527e-4c37-a586-c9a4a5280e20",
      "name": "Merge"
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Integrados Governo": {
      "main": [
        [
          {
            "node": "Busca internos GOV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Consulta Integrados Governo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta Integrados INSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Boss": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envio telegram Kira Dev": {
      "main": [
        []
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send to Boss",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        []
      ]
    },
    "Consulta Integrados INSS": {
      "main": [
        [
          {
            "node": "Busca internos IN100",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca internos IN100": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca internos GOV": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Busca internos IN100": [
      {
        "json": {
          "cpf": "053.107.888-40",
          "nome": "JOAO CARLOS NUNES",
          "numero_beneficio": "2098649759",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Não",
          "situacao_beneficio": "0 - ATIVO",
          "elegivel_emprestimo": "Sim",
          "forma_recebimento": "2 - Conta Corrente",
          "uf_recebimento": "SP",
          "banco": "237",
          "agencia": "280",
          "conta_recebimento": "000043014-5",
          "data_validade_autorizacao": "2025-11-10",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-10-15",
          "data_nascimento": "1962-07-15",
          "data_despacho_beneficio": "2023-01-19",
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "7340.92",
          "vl_limite_rcc": "7340.93",
          "margem_cartao": "218.39",
          "margem_rcc": "218.39",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-10-20 19:49:31"
        },
        "pairedItem": {
          "item": 30
        }
      },
      {
        "json": {
          "cpf": "301.267.899-91",
          "nome": "ABEL GONCALVES DIAS",
          "numero_beneficio": "2008273371",
          "especie_beneficio": "41 - APOSENTADORIA POR IDADE",
          "beneficio_bloqueado": "Sim",
          "situacao_beneficio": "-",
          "elegivel_emprestimo": "Não",
          "forma_recebimento": "-",
          "uf_recebimento": "",
          "banco": "",
          "agencia": "",
          "conta_recebimento": "-",
          "data_validade_autorizacao": "2026-01-01",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-12-02",
          "data_nascimento": null,
          "data_despacho_beneficio": null,
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "0.00",
          "vl_limite_rcc": "0.00",
          "margem_cartao": "0.00",
          "margem_rcc": "0.00",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-12-03 09:45:32"
        },
        "pairedItem": {
          "item": 44
        }
      },
      {
        "json": {
          "cpf": "382.974.261-49",
          "nome": "MARILENE SOUSA SANTOS",
          "numero_beneficio": "2234792686",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Não",
          "situacao_beneficio": "0 - ATIVO",
          "elegivel_emprestimo": "Sim",
          "forma_recebimento": "2 - Conta Corrente",
          "uf_recebimento": "BA",
          "banco": "33",
          "agencia": "1788",
          "conta_recebimento": "001027851-0",
          "data_validade_autorizacao": "2025-11-15",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-10-16",
          "data_nascimento": "1967-02-05",
          "data_despacho_beneficio": "2024-02-19",
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "8062.64",
          "vl_limite_rcc": "8062.64",
          "margem_cartao": "235.87",
          "margem_rcc": "235.87",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-10-20 20:06:45"
        },
        "pairedItem": {
          "item": 47
        }
      },
      {
        "json": {
          "cpf": "382.974.261-49",
          "nome": "MARILENE SOUSA SANTOS",
          "numero_beneficio": "2234792686",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Não",
          "situacao_beneficio": "0 - ATIVO",
          "elegivel_emprestimo": "Sim",
          "forma_recebimento": "2 - Conta Corrente",
          "uf_recebimento": "BA",
          "banco": "33",
          "agencia": "1788",
          "conta_recebimento": "001027851-0",
          "data_validade_autorizacao": "2025-11-15",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-10-16",
          "data_nascimento": "1967-02-05",
          "data_despacho_beneficio": "2024-02-19",
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "8062.64",
          "vl_limite_rcc": "8062.64",
          "margem_cartao": "235.87",
          "margem_rcc": "235.87",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-10-20 20:06:45"
        },
        "pairedItem": {
          "item": 48
        }
      },
      {
        "json": {
          "cpf": "717.805.727-00",
          "nome": "MARCIA FORTUNA PEREIRA BASTOS",
          "numero_beneficio": "2232399316",
          "especie_beneficio": "41 - APOSENTADORIA POR IDADE",
          "beneficio_bloqueado": "Não",
          "situacao_beneficio": "0 - ATIVO",
          "elegivel_emprestimo": "Sim",
          "forma_recebimento": "1 - Cartão Magnético",
          "uf_recebimento": "RJ",
          "banco": "341",
          "agencia": "8045",
          "conta_recebimento": "-",
          "data_validade_autorizacao": "2025-11-15",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-10-16",
          "data_nascimento": "1962-02-04",
          "data_despacho_beneficio": "2024-02-09",
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "4822.22",
          "vl_limite_rcc": "4822.22",
          "margem_cartao": "150.69",
          "margem_rcc": "150.69",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-10-20 20:00:22"
        },
        "pairedItem": {
          "item": 57
        }
      },
      {
        "json": {
          "cpf": "172.667.422-34",
          "nome": "ELAINE MARIA DOS SANTOS BORGES",
          "numero_beneficio": "2289548850",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Não",
          "situacao_beneficio": "0 - ATIVO",
          "elegivel_emprestimo": "Sim",
          "forma_recebimento": "2 - Conta Corrente",
          "uf_recebimento": "MG",
          "banco": "341",
          "agencia": "7784",
          "conta_recebimento": "000068474-3",
          "data_validade_autorizacao": "2025-11-17",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-10-18",
          "data_nascimento": "1967-07-29",
          "data_despacho_beneficio": "2024-09-29",
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "6238.64",
          "vl_limite_rcc": "6238.64",
          "margem_cartao": "189.98",
          "margem_rcc": "189.98",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-10-20 20:14:32"
        },
        "pairedItem": {
          "item": 78
        }
      },
      {
        "json": {
          "cpf": "172.667.422-34",
          "nome": "ELAINE MARIA DOS SANTOS BORGES",
          "numero_beneficio": "2289548850",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Não",
          "situacao_beneficio": "0 - ATIVO",
          "elegivel_emprestimo": "Sim",
          "forma_recebimento": "2 - Conta Corrente",
          "uf_recebimento": "MG",
          "banco": "341",
          "agencia": "7784",
          "conta_recebimento": "000068474-3",
          "data_validade_autorizacao": "2025-11-17",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-10-18",
          "data_nascimento": "1967-07-29",
          "data_despacho_beneficio": "2024-09-29",
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "6238.64",
          "vl_limite_rcc": "6238.64",
          "margem_cartao": "189.98",
          "margem_rcc": "189.98",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-10-20 20:14:32"
        },
        "pairedItem": {
          "item": 79
        }
      },
      {
        "json": {
          "cpf": "546.652.996-68",
          "nome": "MARCIO PEREIRA TEIXEIRA",
          "numero_beneficio": "2004703401",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Não",
          "situacao_beneficio": "0 - ATIVO",
          "elegivel_emprestimo": "Sim",
          "forma_recebimento": "1 - Cartão Magnético",
          "uf_recebimento": "MG",
          "banco": "1",
          "agencia": "2404",
          "conta_recebimento": "-",
          "data_validade_autorizacao": "2025-11-13",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-10-14",
          "data_nascimento": "1965-02-21",
          "data_despacho_beneficio": "2022-03-07",
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "7132.80",
          "vl_limite_rcc": "7132.80",
          "margem_cartao": "213.35",
          "margem_rcc": "213.35",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-10-20 19:30:47"
        },
        "pairedItem": {
          "item": 87
        }
      },
      {
        "json": {
          "cpf": "110.600.931-20",
          "nome": "CARLOS ALBERTO ZAGO",
          "numero_beneficio": "1075187068",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Não",
          "situacao_beneficio": "0 - ATIVO",
          "elegivel_emprestimo": "Sim",
          "forma_recebimento": "1 - Cartão Magnético",
          "uf_recebimento": "MS",
          "banco": "33",
          "agencia": "3337",
          "conta_recebimento": "-",
          "data_validade_autorizacao": "2025-12-10",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-11-10",
          "data_nascimento": "1956-10-28",
          "data_despacho_beneficio": "1998-06-08",
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "6213.66",
          "vl_limite_rcc": "6213.66",
          "margem_cartao": "194.18",
          "margem_rcc": "194.18",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-11-10 13:13:41"
        },
        "pairedItem": {
          "item": 88
        }
      },
      {
        "json": {
          "cpf": "110.600.931-20",
          "nome": "CARLOS ALBERTO ZAGO",
          "numero_beneficio": "1075187068",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Não",
          "situacao_beneficio": "0 - ATIVO",
          "elegivel_emprestimo": "Sim",
          "forma_recebimento": "1 - Cartão Magnético",
          "uf_recebimento": "MS",
          "banco": "33",
          "agencia": "3337",
          "conta_recebimento": "-",
          "data_validade_autorizacao": "2025-12-10",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-11-10",
          "data_nascimento": "1956-10-28",
          "data_despacho_beneficio": "1998-06-08",
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "6213.66",
          "vl_limite_rcc": "6213.66",
          "margem_cartao": "194.18",
          "margem_rcc": "194.18",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-11-10 13:13:41"
        },
        "pairedItem": {
          "item": 89
        }
      },
      {
        "json": {
          "cpf": "075.921.958-36",
          "nome": "JOSE ORLANDO PADRAO",
          "numero_beneficio": "1835023638",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Não",
          "situacao_beneficio": "0 - ATIVO",
          "elegivel_emprestimo": "Sim",
          "forma_recebimento": "2 - Conta Corrente",
          "uf_recebimento": "SP",
          "banco": "341",
          "agencia": "3748",
          "conta_recebimento": "000005613-6",
          "data_validade_autorizacao": "2025-10-10",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-10-10",
          "data_nascimento": "1965-02-17",
          "data_despacho_beneficio": "2017-07-28",
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "7481.36",
          "vl_limite_rcc": "7481.36",
          "margem_cartao": "221.80",
          "margem_rcc": "221.80",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-10-20 18:02:19"
        },
        "pairedItem": {
          "item": 92
        }
      },
      {
        "json": {
          "cpf": "075.921.958-36",
          "nome": "JOSE ORLANDO PADRAO",
          "numero_beneficio": "1835023638",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Não",
          "situacao_beneficio": "0 - ATIVO",
          "elegivel_emprestimo": "Sim",
          "forma_recebimento": "2 - Conta Corrente",
          "uf_recebimento": "SP",
          "banco": "341",
          "agencia": "3748",
          "conta_recebimento": "000005613-6",
          "data_validade_autorizacao": "2025-10-10",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-10-10",
          "data_nascimento": "1965-02-17",
          "data_despacho_beneficio": "2017-07-28",
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "7481.36",
          "vl_limite_rcc": "7481.36",
          "margem_cartao": "221.80",
          "margem_rcc": "221.80",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-10-20 18:02:19"
        },
        "pairedItem": {
          "item": 93
        }
      },
      {
        "json": {
          "cpf": "433.228.831-91",
          "nome": "ANTONIO MARCOS GONCALVES",
          "numero_beneficio": "1863954403",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Não",
          "situacao_beneficio": "0 - ATIVO",
          "elegivel_emprestimo": "Sim",
          "forma_recebimento": "2 - Conta Corrente",
          "uf_recebimento": "GO",
          "banco": "341",
          "agencia": "8672",
          "conta_recebimento": "000023770-1",
          "data_validade_autorizacao": "2025-11-09",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-10-30",
          "data_nascimento": "1970-07-09",
          "data_despacho_beneficio": "2023-12-06",
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "5523.00",
          "vl_limite_rcc": "5523.01",
          "margem_cartao": "0.00",
          "margem_rcc": "170.97",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-10-30 12:42:54"
        },
        "pairedItem": {
          "item": 116
        }
      },
      {
        "json": {
          "cpf": "433.228.831-91",
          "nome": "ANTONIO MARCOS GONCALVES",
          "numero_beneficio": "1863954403",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Não",
          "situacao_beneficio": "0 - ATIVO",
          "elegivel_emprestimo": "Sim",
          "forma_recebimento": "2 - Conta Corrente",
          "uf_recebimento": "GO",
          "banco": "341",
          "agencia": "8672",
          "conta_recebimento": "000023770-1",
          "data_validade_autorizacao": "2025-11-09",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-10-30",
          "data_nascimento": "1970-07-09",
          "data_despacho_beneficio": "2023-12-06",
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "5523.00",
          "vl_limite_rcc": "5523.01",
          "margem_cartao": "0.00",
          "margem_rcc": "170.97",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-10-30 12:42:54"
        },
        "pairedItem": {
          "item": 118
        }
      },
      {
        "json": {
          "cpf": "387.306.694-72",
          "nome": "MARCO ANTONIO FERRO MOREIRA",
          "numero_beneficio": "1703694985",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Sim",
          "situacao_beneficio": "-",
          "elegivel_emprestimo": "Não",
          "forma_recebimento": "-",
          "uf_recebimento": "",
          "banco": "",
          "agencia": "",
          "conta_recebimento": "-",
          "data_validade_autorizacao": "2026-01-17",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-12-18",
          "data_nascimento": null,
          "data_despacho_beneficio": null,
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "0.00",
          "vl_limite_rcc": "0.00",
          "margem_cartao": "0.00",
          "margem_rcc": "0.00",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-12-18 10:15:11"
        },
        "pairedItem": {
          "item": 123
        }
      },
      {
        "json": {
          "cpf": "163.013.398-19",
          "nome": "MARIA JOSE PEREIRA PINTO",
          "numero_beneficio": "1916129193",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Não",
          "situacao_beneficio": "0 - ATIVO",
          "elegivel_emprestimo": "Sim",
          "forma_recebimento": "2 - Conta Corrente",
          "uf_recebimento": "SP",
          "banco": "237",
          "agencia": "2763",
          "conta_recebimento": "000010898-7",
          "data_validade_autorizacao": "2025-11-11",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-10-12",
          "data_nascimento": "1963-08-23",
          "data_despacho_beneficio": "2019-05-06",
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "5547.58",
          "vl_limite_rcc": "5547.58",
          "margem_cartao": "0.00",
          "margem_rcc": "171.62",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-10-20 18:43:57"
        },
        "pairedItem": {
          "item": 132
        }
      },
      {
        "json": {
          "cpf": "163.013.398-19",
          "nome": "MARIA JOSE PEREIRA PINTO",
          "numero_beneficio": "1916129193",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Não",
          "situacao_beneficio": "0 - ATIVO",
          "elegivel_emprestimo": "Sim",
          "forma_recebimento": "2 - Conta Corrente",
          "uf_recebimento": "SP",
          "banco": "237",
          "agencia": "2763",
          "conta_recebimento": "000010898-7",
          "data_validade_autorizacao": "2025-11-11",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-10-12",
          "data_nascimento": "1963-08-23",
          "data_despacho_beneficio": "2019-05-06",
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "5547.58",
          "vl_limite_rcc": "5547.58",
          "margem_cartao": "0.00",
          "margem_rcc": "171.62",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-10-20 18:43:57"
        },
        "pairedItem": {
          "item": 133
        }
      },
      {
        "json": {
          "cpf": "256.123.948-96",
          "nome": "ANA MARTA SANTOS GOMES",
          "numero_beneficio": "2207754329",
          "especie_beneficio": "21 - PENSAO POR MORTE PREVIDENCIARIA",
          "beneficio_bloqueado": "Não",
          "situacao_beneficio": "0 - ATIVO",
          "elegivel_emprestimo": "Sim",
          "forma_recebimento": "2 - Conta Corrente",
          "uf_recebimento": "BA",
          "banco": "1",
          "agencia": "143",
          "conta_recebimento": "510027023-7",
          "data_validade_autorizacao": "2025-12-13",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-11-27",
          "data_nascimento": "1978-03-01",
          "data_despacho_beneficio": "2025-05-10",
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "6112.04",
          "vl_limite_rcc": "6112.05",
          "margem_cartao": "186.61",
          "margem_rcc": "186.61",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-11-27 08:07:06"
        },
        "pairedItem": {
          "item": 136
        }
      },
      {
        "json": {
          "cpf": "220.919.473-34",
          "nome": "DEMETRIO ALEXANDRE REGIO",
          "numero_beneficio": "1937850886",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Sim",
          "situacao_beneficio": "-",
          "elegivel_emprestimo": "Não",
          "forma_recebimento": "-",
          "uf_recebimento": "",
          "banco": "",
          "agencia": "",
          "conta_recebimento": "-",
          "data_validade_autorizacao": "2026-01-01",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-12-02",
          "data_nascimento": null,
          "data_despacho_beneficio": null,
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "0.00",
          "vl_limite_rcc": "0.00",
          "margem_cartao": "0.00",
          "margem_rcc": "0.00",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-12-03 10:15:58"
        },
        "pairedItem": {
          "item": 170
        }
      },
      {
        "json": {
          "cpf": "078.512.258-33",
          "nome": "SEBASTIAO FELIX",
          "numero_beneficio": "1775750784",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Não",
          "situacao_beneficio": "0 - ATIVO",
          "elegivel_emprestimo": "Sim",
          "forma_recebimento": "2 - Conta Corrente",
          "uf_recebimento": "SP",
          "banco": "237",
          "agencia": "215",
          "conta_recebimento": "000253233-6",
          "data_validade_autorizacao": "2025-10-31",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-10-07",
          "data_nascimento": "1969-04-21",
          "data_despacho_beneficio": "2016-10-05",
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "6182.70",
          "vl_limite_rcc": "6182.70",
          "margem_cartao": "188.49",
          "margem_rcc": "188.49",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-10-20 17:28:23"
        },
        "pairedItem": {
          "item": 177
        }
      },
      {
        "json": {
          "cpf": "768.720.507-30",
          "nome": "ANDRE LUIZ RODRIGUES ROSA",
          "numero_beneficio": "1790894953",
          "especie_beneficio": "46 - APOSENTADORIA ESPECIAL",
          "beneficio_bloqueado": "Não",
          "situacao_beneficio": "0 - ATIVO",
          "elegivel_emprestimo": "Sim",
          "forma_recebimento": "2 - Conta Corrente",
          "uf_recebimento": "RJ",
          "banco": "237",
          "agencia": "279",
          "conta_recebimento": "000234315-0",
          "data_validade_autorizacao": "2025-11-07",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-10-08",
          "data_nascimento": "1962-02-12",
          "data_despacho_beneficio": "2019-03-22",
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "10468.41",
          "vl_limite_rcc": "10468.42",
          "margem_cartao": "0.00",
          "margem_rcc": "327.14",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-10-20 17:36:51"
        },
        "pairedItem": {
          "item": 178
        }
      },
      {
        "json": {
          "cpf": "003.198.588-20",
          "nome": "OSVALDO ALVES SALDANHA",
          "numero_beneficio": "2013087815",
          "especie_beneficio": "41 - APOSENTADORIA POR IDADE",
          "beneficio_bloqueado": "Não",
          "situacao_beneficio": "0 - ATIVO",
          "elegivel_emprestimo": "Sim",
          "forma_recebimento": "2 - Conta Corrente",
          "uf_recebimento": "SP",
          "banco": "104",
          "agencia": "1157",
          "conta_recebimento": "590546812-1",
          "data_validade_autorizacao": "2025-11-13",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-10-14",
          "data_nascimento": "1956-04-11",
          "data_despacho_beneficio": "2021-07-16",
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "9116.25",
          "vl_limite_rcc": "9116.26",
          "margem_cartao": "280.69",
          "margem_rcc": "280.69",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-10-20 19:30:37"
        },
        "pairedItem": {
          "item": 186
        }
      },
      {
        "json": {
          "cpf": "092.430.368-90",
          "nome": "SILVIA MARIA AMARO GAMEZ",
          "numero_beneficio": "1778186650",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Não",
          "situacao_beneficio": "0 - ATIVO",
          "elegivel_emprestimo": "Sim",
          "forma_recebimento": "2 - Conta Corrente",
          "uf_recebimento": "SP",
          "banco": "33",
          "agencia": "1783",
          "conta_recebimento": "001002548-9",
          "data_validade_autorizacao": "2025-11-02",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-10-03",
          "data_nascimento": "1967-03-13",
          "data_despacho_beneficio": "2017-04-17",
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "11924.41",
          "vl_limite_rcc": "11924.42",
          "margem_cartao": "323.95",
          "margem_rcc": "323.95",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-10-20 16:06:59"
        },
        "pairedItem": {
          "item": 196
        }
      },
      {
        "json": {
          "cpf": "092.430.368-90",
          "nome": "SILVIA MARIA AMARO GAMEZ",
          "numero_beneficio": "1778186650",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Não",
          "situacao_beneficio": "0 - ATIVO",
          "elegivel_emprestimo": "Sim",
          "forma_recebimento": "2 - Conta Corrente",
          "uf_recebimento": "SP",
          "banco": "33",
          "agencia": "1783",
          "conta_recebimento": "001002548-9",
          "data_validade_autorizacao": "2025-11-02",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-10-03",
          "data_nascimento": "1967-03-13",
          "data_despacho_beneficio": "2017-04-17",
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "11924.41",
          "vl_limite_rcc": "11924.42",
          "margem_cartao": "323.95",
          "margem_rcc": "323.95",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-10-20 16:06:59"
        },
        "pairedItem": {
          "item": 197
        }
      },
      {
        "json": {
          "cpf": "750.270.548-15",
          "nome": "JOSE MARIA DE OLIVEIRA NETO",
          "numero_beneficio": "2234307117",
          "especie_beneficio": "41 - APOSENTADORIA POR IDADE",
          "beneficio_bloqueado": "Não",
          "situacao_beneficio": "0 - ATIVO",
          "elegivel_emprestimo": "Sim",
          "forma_recebimento": "1 - Cartão Magnético",
          "uf_recebimento": "MS",
          "banco": "237",
          "agencia": "1281",
          "conta_recebimento": "-",
          "data_validade_autorizacao": "2026-01-07",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-12-19",
          "data_nascimento": "1955-11-21",
          "data_despacho_beneficio": "2024-02-16",
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "7071.31",
          "vl_limite_rcc": "7071.31",
          "margem_cartao": "0.00",
          "margem_rcc": "0.00",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-12-19 09:09:15"
        },
        "pairedItem": {
          "item": 204
        }
      },
      {
        "json": {
          "cpf": "055.802.658-32",
          "nome": "MIGUEL EDUARDO DE FARIA",
          "numero_beneficio": "2152064202",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Não",
          "situacao_beneficio": "0 - ATIVO",
          "elegivel_emprestimo": "Sim",
          "forma_recebimento": "2 - Conta Corrente",
          "uf_recebimento": "SP",
          "banco": "341",
          "agencia": "9395",
          "conta_recebimento": "000033000-5",
          "data_validade_autorizacao": "2025-11-15",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-10-16",
          "data_nascimento": "1963-09-07",
          "data_despacho_beneficio": "2023-09-18",
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "10683.55",
          "vl_limite_rcc": "10683.55",
          "margem_cartao": "295.84",
          "margem_rcc": "295.84",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-10-20 20:04:10"
        },
        "pairedItem": {
          "item": 219
        }
      },
      {
        "json": {
          "cpf": "055.802.658-32",
          "nome": "MIGUEL EDUARDO DE FARIA",
          "numero_beneficio": "2152064202",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Não",
          "situacao_beneficio": "0 - ATIVO",
          "elegivel_emprestimo": "Sim",
          "forma_recebimento": "2 - Conta Corrente",
          "uf_recebimento": "SP",
          "banco": "341",
          "agencia": "9395",
          "conta_recebimento": "000033000-5",
          "data_validade_autorizacao": "2025-11-15",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-10-16",
          "data_nascimento": "1963-09-07",
          "data_despacho_beneficio": "2023-09-18",
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "10683.55",
          "vl_limite_rcc": "10683.55",
          "margem_cartao": "295.84",
          "margem_rcc": "295.84",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-10-20 20:04:10"
        },
        "pairedItem": {
          "item": 220
        }
      },
      {
        "json": {
          "cpf": "008.601.707-13",
          "nome": "ROSANIA DE SOUZA TARGINO",
          "numero_beneficio": "2114019521",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Não",
          "situacao_beneficio": "0 - ATIVO",
          "elegivel_emprestimo": "Sim",
          "forma_recebimento": "1 - Cartão Magnético",
          "uf_recebimento": "RJ",
          "banco": "341",
          "agencia": "8559",
          "conta_recebimento": "-",
          "data_validade_autorizacao": "2025-11-15",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-10-16",
          "data_nascimento": "1969-07-14",
          "data_despacho_beneficio": "2023-09-21",
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "4803.93",
          "vl_limite_rcc": "4803.94",
          "margem_cartao": "150.12",
          "margem_rcc": "150.12",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-10-20 19:58:11"
        },
        "pairedItem": {
          "item": 228
        }
      },
      {
        "json": {
          "cpf": "008.601.707-13",
          "nome": "ROSANIA DE SOUZA TARGINO",
          "numero_beneficio": "2114019521",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Não",
          "situacao_beneficio": "0 - ATIVO",
          "elegivel_emprestimo": "Sim",
          "forma_recebimento": "1 - Cartão Magnético",
          "uf_recebimento": "RJ",
          "banco": "341",
          "agencia": "8559",
          "conta_recebimento": "-",
          "data_validade_autorizacao": "2025-11-15",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-10-16",
          "data_nascimento": "1969-07-14",
          "data_despacho_beneficio": "2023-09-21",
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "4803.93",
          "vl_limite_rcc": "4803.94",
          "margem_cartao": "150.12",
          "margem_rcc": "150.12",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-10-20 19:58:11"
        },
        "pairedItem": {
          "item": 229
        }
      },
      {
        "json": {
          "cpf": "472.816.009-25",
          "nome": "BEONI CARVALHO FICINSKI",
          "numero_beneficio": "1875231258",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Sim",
          "situacao_beneficio": "-",
          "elegivel_emprestimo": "Não",
          "forma_recebimento": "-",
          "uf_recebimento": "",
          "banco": "",
          "agencia": "",
          "conta_recebimento": "-",
          "data_validade_autorizacao": "2025-12-04",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-11-26",
          "data_nascimento": null,
          "data_despacho_beneficio": null,
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "0.00",
          "vl_limite_rcc": "0.00",
          "margem_cartao": "0.00",
          "margem_rcc": "0.00",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-11-26 08:38:32"
        },
        "pairedItem": {
          "item": 232
        }
      },
      {
        "json": {
          "cpf": "472.816.009-25",
          "nome": "BEONI CARVALHO FICINSKI",
          "numero_beneficio": "1875231258",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Sim",
          "situacao_beneficio": "-",
          "elegivel_emprestimo": "Não",
          "forma_recebimento": "-",
          "uf_recebimento": "",
          "banco": "",
          "agencia": "",
          "conta_recebimento": "-",
          "data_validade_autorizacao": "2025-12-04",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-11-26",
          "data_nascimento": null,
          "data_despacho_beneficio": null,
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "0.00",
          "vl_limite_rcc": "0.00",
          "margem_cartao": "0.00",
          "margem_rcc": "0.00",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-11-26 08:38:32"
        },
        "pairedItem": {
          "item": 233
        }
      },
      {
        "json": {
          "cpf": "472.816.009-25",
          "nome": "BEONI CARVALHO FICINSKI",
          "numero_beneficio": "1875231258",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Sim",
          "situacao_beneficio": "-",
          "elegivel_emprestimo": "Não",
          "forma_recebimento": "-",
          "uf_recebimento": "",
          "banco": "",
          "agencia": "",
          "conta_recebimento": "-",
          "data_validade_autorizacao": "2025-12-04",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-11-26",
          "data_nascimento": null,
          "data_despacho_beneficio": null,
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "0.00",
          "vl_limite_rcc": "0.00",
          "margem_cartao": "0.00",
          "margem_rcc": "0.00",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-11-26 08:38:32"
        },
        "pairedItem": {
          "item": 234
        }
      },
      {
        "json": {
          "cpf": "131.242.708-60",
          "nome": "LUCIANA FERREIRA DA SILVA",
          "numero_beneficio": "2087961454",
          "especie_beneficio": "21 - PENSAO POR MORTE PREVIDENCIARIA",
          "beneficio_bloqueado": "Sim",
          "situacao_beneficio": "-",
          "elegivel_emprestimo": "Não",
          "forma_recebimento": "-",
          "uf_recebimento": "",
          "banco": "",
          "agencia": "",
          "conta_recebimento": "-",
          "data_validade_autorizacao": "2026-01-05",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-12-06",
          "data_nascimento": null,
          "data_despacho_beneficio": null,
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "0.00",
          "vl_limite_rcc": "0.00",
          "margem_cartao": "0.00",
          "margem_rcc": "0.00",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-12-06 08:14:55"
        },
        "pairedItem": {
          "item": 235
        }
      },
      {
        "json": {
          "cpf": "131.242.708-60",
          "nome": "LUCIANA FERREIRA DA SILVA",
          "numero_beneficio": "2087961454",
          "especie_beneficio": "21 - PENSAO POR MORTE PREVIDENCIARIA",
          "beneficio_bloqueado": "Sim",
          "situacao_beneficio": "-",
          "elegivel_emprestimo": "Não",
          "forma_recebimento": "-",
          "uf_recebimento": "",
          "banco": "",
          "agencia": "",
          "conta_recebimento": "-",
          "data_validade_autorizacao": "2026-01-05",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-12-06",
          "data_nascimento": null,
          "data_despacho_beneficio": null,
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "0.00",
          "vl_limite_rcc": "0.00",
          "margem_cartao": "0.00",
          "margem_rcc": "0.00",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-12-06 08:14:55"
        },
        "pairedItem": {
          "item": 236
        }
      },
      {
        "json": {
          "cpf": "082.313.838-08",
          "nome": "MARIO SERGIO ALEGRE",
          "numero_beneficio": "2018927439",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Sim",
          "situacao_beneficio": "-",
          "elegivel_emprestimo": "Não",
          "forma_recebimento": "-",
          "uf_recebimento": "",
          "banco": "",
          "agencia": "",
          "conta_recebimento": "-",
          "data_validade_autorizacao": "2025-12-26",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-11-26",
          "data_nascimento": null,
          "data_despacho_beneficio": null,
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "0.00",
          "vl_limite_rcc": "0.00",
          "margem_cartao": "0.00",
          "margem_rcc": "0.00",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-11-26 10:34:02"
        },
        "pairedItem": {
          "item": 244
        }
      },
      {
        "json": {
          "cpf": "082.313.838-08",
          "nome": "MARIO SERGIO ALEGRE",
          "numero_beneficio": "2018927439",
          "especie_beneficio": "42 - APOSENTADORIA POR TEMPO DE CONTRIBUICAO",
          "beneficio_bloqueado": "Sim",
          "situacao_beneficio": "-",
          "elegivel_emprestimo": "Não",
          "forma_recebimento": "-",
          "uf_recebimento": "",
          "banco": "",
          "agencia": "",
          "conta_recebimento": "-",
          "data_validade_autorizacao": "2025-12-26",
          "data_cessacao": "0000-00-00",
          "data_consulta": "2025-11-26",
          "data_nascimento": null,
          "data_despacho_beneficio": null,
          "data_fim_representacao": "0000-00-00",
          "vl_limite_cartao": "0.00",
          "vl_limite_rcc": "0.00",
          "margem_cartao": "0.00",
          "margem_rcc": "0.00",
          "possui_procurador": "Não",
          "possui_representante_legal": "Não",
          "concedido_liminar": "Não",
          "consulted_at": "2025-11-26 10:34:02"
        },
        "pairedItem": {
          "item": 245
        }
      }
    ],
    "Busca internos GOV": [
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "74965077849",
          "nome": "BENEDITO DA CONCEICAO",
          "orgao": "SPPREV",
          "identificacao": "8040907501",
          "lotacao": "20065SPPREV",
          "cargo_funcao": null,
          "data_admissao": "14/04/1993",
          "tipo_vinculo": "1 - Aposentado",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "2645.24",
          "bruto_cartao_credito": "377.89",
          "bruto_cartao_beneficio": "1133.67",
          "margem_disponivel_consignacoes_facultativas": "1.23",
          "margem_disponivel_cartao_credito": "377.89",
          "margem_disponivel_cartao_beneficio": "1133.67",
          "data_nascimento": "1955-01-15",
          "idade": 70,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "29155353886",
          "nome": "DEISE QUITERIA A SANTOS",
          "orgao": "SEFAZ",
          "identificacao": "15205095",
          "lotacao": "08 - SECRETARIA DA EDUCACAO",
          "cargo_funcao": "06407",
          "data_admissao": "10/05/2019",
          "tipo_vinculo": "7 - Efetivo",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "1130.94",
          "bruto_cartao_credito": "161.56",
          "bruto_cartao_beneficio": "484.65",
          "margem_disponivel_consignacoes_facultativas": "-350.26",
          "margem_disponivel_cartao_credito": "161.56",
          "margem_disponivel_cartao_beneficio": "484.65",
          "data_nascimento": "1980-07-09",
          "idade": 45,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "29155353886",
          "nome": "DEISE QUITERIA A SANTOS",
          "orgao": "SEFAZ",
          "identificacao": "15205095",
          "lotacao": "08 - SECRETARIA DA EDUCACAO",
          "cargo_funcao": "06407",
          "data_admissao": "10/05/2019",
          "tipo_vinculo": "7 - Efetivo",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "1130.94",
          "bruto_cartao_credito": "161.56",
          "bruto_cartao_beneficio": "484.65",
          "margem_disponivel_consignacoes_facultativas": "-350.26",
          "margem_disponivel_cartao_credito": "161.56",
          "margem_disponivel_cartao_beneficio": "484.65",
          "data_nascimento": "1980-07-09",
          "idade": 45,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 4
        }
      },
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "10530822822",
          "nome": "APARECIDA ADRIANA B CALTIANO",
          "orgao": "SEFAZ",
          "identificacao": "6400085",
          "lotacao": "08 - SECRETARIA DA EDUCACAO",
          "cargo_funcao": null,
          "data_admissao": "07/02/2000",
          "tipo_vinculo": "7 - Efetivo",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "2181.69",
          "bruto_cartao_credito": "311.67",
          "bruto_cartao_beneficio": "934.95",
          "margem_disponivel_consignacoes_facultativas": "84.57",
          "margem_disponivel_cartao_credito": "311.67",
          "margem_disponivel_cartao_beneficio": "34.95",
          "data_nascimento": null,
          "idade": null,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 7
        }
      },
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "10530822822",
          "nome": "APARECIDA ADRIANA BATISTA CALTIANO",
          "orgao": "SPPREV",
          "identificacao": "8033265401",
          "lotacao": "20065SPPREV",
          "cargo_funcao": null,
          "data_admissao": "03/03/1989",
          "tipo_vinculo": "1 - Aposentado",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "1662.06",
          "bruto_cartao_credito": "237.44",
          "bruto_cartao_beneficio": "712.31",
          "margem_disponivel_consignacoes_facultativas": "5.15",
          "margem_disponivel_cartao_credito": "237.44",
          "margem_disponivel_cartao_beneficio": "712.31",
          "data_nascimento": null,
          "idade": null,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 7
        }
      },
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "10530822822",
          "nome": "APARECIDA ADRIANA B CALTIANO",
          "orgao": "SEFAZ",
          "identificacao": "6400085",
          "lotacao": "08 - SECRETARIA DA EDUCACAO",
          "cargo_funcao": null,
          "data_admissao": "07/02/2000",
          "tipo_vinculo": "7 - Efetivo",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "2181.69",
          "bruto_cartao_credito": "311.67",
          "bruto_cartao_beneficio": "934.95",
          "margem_disponivel_consignacoes_facultativas": "84.57",
          "margem_disponivel_cartao_credito": "311.67",
          "margem_disponivel_cartao_beneficio": "34.95",
          "data_nascimento": null,
          "idade": null,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 8
        }
      },
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "10530822822",
          "nome": "APARECIDA ADRIANA BATISTA CALTIANO",
          "orgao": "SPPREV",
          "identificacao": "8033265401",
          "lotacao": "20065SPPREV",
          "cargo_funcao": null,
          "data_admissao": "03/03/1989",
          "tipo_vinculo": "1 - Aposentado",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "1662.06",
          "bruto_cartao_credito": "237.44",
          "bruto_cartao_beneficio": "712.31",
          "margem_disponivel_consignacoes_facultativas": "5.15",
          "margem_disponivel_cartao_credito": "237.44",
          "margem_disponivel_cartao_beneficio": "712.31",
          "data_nascimento": null,
          "idade": null,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 8
        }
      },
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "17908305830",
          "nome": "ARISTOGTON DONIZETI KOENIGKAM",
          "orgao": "SEFAZ",
          "identificacao": "11686376",
          "lotacao": "18 - SECRETARIA DA SEGURANCA PUBLICA",
          "cargo_funcao": null,
          "data_admissao": "22/11/1999",
          "tipo_vinculo": "7 - Efetivo",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "2793.04",
          "bruto_cartao_credito": "399.00",
          "bruto_cartao_beneficio": "1197.00",
          "margem_disponivel_consignacoes_facultativas": "154.91",
          "margem_disponivel_cartao_credito": "399.00",
          "margem_disponivel_cartao_beneficio": "1197.00",
          "data_nascimento": "1976-10-24",
          "idade": 49,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 9
        }
      },
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "17908305830",
          "nome": "ARISTOGTON DONIZETI KOENIGKAM",
          "orgao": "SEFAZ",
          "identificacao": "11686376",
          "lotacao": "18 - SECRETARIA DA SEGURANCA PUBLICA",
          "cargo_funcao": null,
          "data_admissao": "22/11/1999",
          "tipo_vinculo": "7 - Efetivo",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "2793.04",
          "bruto_cartao_credito": "399.00",
          "bruto_cartao_beneficio": "1197.00",
          "margem_disponivel_consignacoes_facultativas": "154.91",
          "margem_disponivel_cartao_credito": "399.00",
          "margem_disponivel_cartao_beneficio": "1197.00",
          "data_nascimento": "1976-10-24",
          "idade": 49,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 10
        }
      },
      {
        "json": {
          "operado_por": "Banco Daycoval S/A",
          "cpf": "02417900939",
          "nome": null,
          "orgao": null,
          "identificacao": "13735962",
          "lotacao": "08 - SECRETARIA DA EDUCACAO",
          "cargo_funcao": null,
          "data_admissao": "14/07/2014",
          "tipo_vinculo": "7 - Efetivo",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "832.32",
          "bruto_cartao_credito": "118.90",
          "bruto_cartao_beneficio": "356.70",
          "margem_disponivel_consignacoes_facultativas": "56.67",
          "margem_disponivel_cartao_credito": "118.90",
          "margem_disponivel_cartao_beneficio": "-19.80",
          "data_nascimento": "1978-02-20",
          "idade": 47,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 12
        }
      },
      {
        "json": {
          "operado_por": "Banco Pine S/A para PREFEITURA DO MUNICÍPIO DE SÃO PAULO",
          "cpf": "02417900939",
          "nome": "ADRIANA DA SILVA RODRIGUES",
          "orgao": "SMG - SP (PMSP)",
          "identificacao": "7993935",
          "lotacao": "EMEF JULIO DE OLIVEIRA",
          "cargo_funcao": "PROFESSOR ENSINO FUNDAMENTAL II E MEDIO CAT 3",
          "data_admissao": "17/11/2017",
          "tipo_vinculo": "7 - Efetivo",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "1570.58",
          "bruto_cartao_credito": "0.00",
          "bruto_cartao_beneficio": "448.74",
          "margem_disponivel_consignacoes_facultativas": "-174.10",
          "margem_disponivel_cartao_credito": "0.00",
          "margem_disponivel_cartao_beneficio": "448.74",
          "data_nascimento": "1978-02-20",
          "idade": 47,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 12
        }
      },
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "32820692869",
          "nome": "JULIANA DIAS MATOS",
          "orgao": "SEFAZ",
          "identificacao": "14973200",
          "lotacao": "08 - SECRETARIA DA EDUCACAO",
          "cargo_funcao": "06409",
          "data_admissao": "08/02/2011",
          "tipo_vinculo": "7 - Efetivo",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "1818.61",
          "bruto_cartao_credito": "259.80",
          "bruto_cartao_beneficio": "779.40",
          "margem_disponivel_consignacoes_facultativas": "48.83",
          "margem_disponivel_cartao_credito": "0.00",
          "margem_disponivel_cartao_beneficio": "564.40",
          "data_nascimento": "1983-08-26",
          "idade": 42,
          "consulted_at": "2025-12-22 09:30:05"
        },
        "pairedItem": {
          "item": 13
        }
      },
      {
        "json": {
          "operado_por": "Banco Daycoval S/A",
          "cpf": "02417900939",
          "nome": null,
          "orgao": null,
          "identificacao": "13735962",
          "lotacao": "08 - SECRETARIA DA EDUCACAO",
          "cargo_funcao": null,
          "data_admissao": "14/07/2014",
          "tipo_vinculo": "7 - Efetivo",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "832.32",
          "bruto_cartao_credito": "118.90",
          "bruto_cartao_beneficio": "356.70",
          "margem_disponivel_consignacoes_facultativas": "56.67",
          "margem_disponivel_cartao_credito": "118.90",
          "margem_disponivel_cartao_beneficio": "-19.80",
          "data_nascimento": "1978-02-20",
          "idade": 47,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 14
        }
      },
      {
        "json": {
          "operado_por": "Banco Pine S/A para PREFEITURA DO MUNICÍPIO DE SÃO PAULO",
          "cpf": "02417900939",
          "nome": "ADRIANA DA SILVA RODRIGUES",
          "orgao": "SMG - SP (PMSP)",
          "identificacao": "7993935",
          "lotacao": "EMEF JULIO DE OLIVEIRA",
          "cargo_funcao": "PROFESSOR ENSINO FUNDAMENTAL II E MEDIO CAT 3",
          "data_admissao": "17/11/2017",
          "tipo_vinculo": "7 - Efetivo",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "1570.58",
          "bruto_cartao_credito": "0.00",
          "bruto_cartao_beneficio": "448.74",
          "margem_disponivel_consignacoes_facultativas": "-174.10",
          "margem_disponivel_cartao_credito": "0.00",
          "margem_disponivel_cartao_beneficio": "448.74",
          "data_nascimento": "1978-02-20",
          "idade": 47,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 14
        }
      },
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "05713138844",
          "nome": "CELIA GONCALVES DOS SANTOS",
          "orgao": "SEFAZ",
          "identificacao": "11215094",
          "lotacao": "09 - SECRETARIA DA SAUDE",
          "cargo_funcao": "04038",
          "data_admissao": "10/09/2014",
          "tipo_vinculo": "7 - Efetivo",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "2238.65",
          "bruto_cartao_credito": "319.80",
          "bruto_cartao_beneficio": "959.40",
          "margem_disponivel_consignacoes_facultativas": "-134.03",
          "margem_disponivel_cartao_credito": "319.80",
          "margem_disponivel_cartao_beneficio": "959.40",
          "data_nascimento": "1966-01-31",
          "idade": 59,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 16
        }
      },
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "05713138844",
          "nome": "CELIA GONCALVES DOS SANTOS",
          "orgao": "SEFAZ",
          "identificacao": "11215094",
          "lotacao": "09 - SECRETARIA DA SAUDE",
          "cargo_funcao": "04038",
          "data_admissao": "10/09/2014",
          "tipo_vinculo": "7 - Efetivo",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "2238.65",
          "bruto_cartao_credito": "319.80",
          "bruto_cartao_beneficio": "959.40",
          "margem_disponivel_consignacoes_facultativas": "-134.03",
          "margem_disponivel_cartao_credito": "319.80",
          "margem_disponivel_cartao_beneficio": "959.40",
          "data_nascimento": "1966-01-31",
          "idade": 59,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 17
        }
      },
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "31197974806",
          "nome": "CRISTIANE MARIA DA SILVA SOUZA",
          "orgao": "SEFAZ",
          "identificacao": "15219094",
          "lotacao": "08 - SECRETARIA DA EDUCACAO",
          "cargo_funcao": "04341",
          "data_admissao": "05/03/2013",
          "tipo_vinculo": "7 - Efetivo",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "1078.23",
          "bruto_cartao_credito": "154.03",
          "bruto_cartao_beneficio": "462.00",
          "margem_disponivel_consignacoes_facultativas": "-0.98",
          "margem_disponivel_cartao_credito": "154.03",
          "margem_disponivel_cartao_beneficio": "462.00",
          "data_nascimento": "1982-09-16",
          "idade": 43,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 18
        }
      },
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "31197974806",
          "nome": "CRISTIANE MARIA DA SILVA SOUZA",
          "orgao": "SEFAZ",
          "identificacao": "15219094",
          "lotacao": "08 - SECRETARIA DA EDUCACAO",
          "cargo_funcao": "04341",
          "data_admissao": "05/03/2013",
          "tipo_vinculo": "7 - Efetivo",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "1078.23",
          "bruto_cartao_credito": "154.03",
          "bruto_cartao_beneficio": "462.00",
          "margem_disponivel_consignacoes_facultativas": "-0.98",
          "margem_disponivel_cartao_credito": "154.03",
          "margem_disponivel_cartao_beneficio": "462.00",
          "data_nascimento": "1982-09-16",
          "idade": 43,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 19
        }
      },
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "27185161860",
          "nome": "CLAUDIO DA SILVA NEVES",
          "orgao": "PMESP",
          "identificacao": "122722",
          "lotacao": "PMESP",
          "cargo_funcao": null,
          "data_admissao": "27/03/2006",
          "tipo_vinculo": "7 - Efetivo",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "1753.22",
          "bruto_cartao_credito": "250.46",
          "bruto_cartao_beneficio": "751.38",
          "margem_disponivel_consignacoes_facultativas": "78.31",
          "margem_disponivel_cartao_credito": "250.46",
          "margem_disponivel_cartao_beneficio": "751.38",
          "data_nascimento": "1978-12-10",
          "idade": 47,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 21
        }
      },
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "08252901808",
          "nome": "EDMARA DE CASSIA BIANCHI",
          "orgao": "SEFAZ",
          "identificacao": "6893053",
          "lotacao": "18 - SECRETARIA DA SEGURANCA PUBLICA",
          "cargo_funcao": "07814",
          "data_admissao": "22/07/2025",
          "tipo_vinculo": "7 - Efetivo",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "2137.00",
          "bruto_cartao_credito": "305.28",
          "bruto_cartao_beneficio": "915.75",
          "margem_disponivel_consignacoes_facultativas": "256.35",
          "margem_disponivel_cartao_credito": "305.28",
          "margem_disponivel_cartao_beneficio": "102.15",
          "data_nascimento": null,
          "idade": null,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 24
        }
      },
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "08252901808",
          "nome": "EDMARA DE CASSIA BIANCHI",
          "orgao": "SEFAZ",
          "identificacao": "6893053",
          "lotacao": "18 - SECRETARIA DA SEGURANCA PUBLICA",
          "cargo_funcao": "07814",
          "data_admissao": "22/07/2025",
          "tipo_vinculo": "7 - Efetivo",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "2137.00",
          "bruto_cartao_credito": "305.28",
          "bruto_cartao_beneficio": "915.75",
          "margem_disponivel_consignacoes_facultativas": "256.35",
          "margem_disponivel_cartao_credito": "305.28",
          "margem_disponivel_cartao_beneficio": "102.15",
          "data_nascimento": null,
          "idade": null,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 25
        }
      },
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "07598094888",
          "nome": "CELIA DA CONCEICAO AUGUSTO",
          "orgao": "SPPREV",
          "identificacao": "8040308401",
          "lotacao": "20065SPPREV",
          "cargo_funcao": null,
          "data_admissao": "01/03/1988",
          "tipo_vinculo": "1 - Aposentado",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "1526.81",
          "bruto_cartao_credito": "218.12",
          "bruto_cartao_beneficio": "654.35",
          "margem_disponivel_consignacoes_facultativas": "93.80",
          "margem_disponivel_cartao_credito": "83.61",
          "margem_disponivel_cartao_beneficio": "654.35",
          "data_nascimento": "1965-01-21",
          "idade": 60,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 32
        }
      },
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "36690903800",
          "nome": "ERIC FELIPE DE SOUZA SANTOS",
          "orgao": "PMESP",
          "identificacao": "131944",
          "lotacao": "PMESP",
          "cargo_funcao": null,
          "data_admissao": "10/11/2009",
          "tipo_vinculo": "7 - Efetivo",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "1557.07",
          "bruto_cartao_credito": "222.44",
          "bruto_cartao_beneficio": "667.31",
          "margem_disponivel_consignacoes_facultativas": "45.57",
          "margem_disponivel_cartao_credito": "222.44",
          "margem_disponivel_cartao_beneficio": "-14.80",
          "data_nascimento": "1987-08-06",
          "idade": 38,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 46
        }
      },
      {
        "json": {
          "operado_por": "Banco Pan S/A",
          "cpf": "04573599860",
          "nome": "ADEMIR LOPES",
          "orgao": "SEFAZ",
          "identificacao": "10552443",
          "lotacao": "08 - SECRETARIA DA EDUCACAO",
          "cargo_funcao": null,
          "data_admissao": "07/02/2000",
          "tipo_vinculo": "7 - Efetivo",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "2616.41",
          "bruto_cartao_credito": "373.77",
          "bruto_cartao_beneficio": "1121.25",
          "margem_disponivel_consignacoes_facultativas": "-397.23",
          "margem_disponivel_cartao_credito": "373.77",
          "margem_disponivel_cartao_beneficio": "1121.25",
          "data_nascimento": null,
          "idade": null,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 47
        }
      },
      {
        "json": {
          "operado_por": "Banco Pan S/A",
          "cpf": "04573599860",
          "nome": "ADEMIR LOPES",
          "orgao": "SEFAZ",
          "identificacao": "10552443",
          "lotacao": "08 - SECRETARIA DA EDUCACAO",
          "cargo_funcao": null,
          "data_admissao": "07/02/2000",
          "tipo_vinculo": "7 - Efetivo",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "2616.41",
          "bruto_cartao_credito": "373.77",
          "bruto_cartao_beneficio": "1121.25",
          "margem_disponivel_consignacoes_facultativas": "-397.23",
          "margem_disponivel_cartao_credito": "373.77",
          "margem_disponivel_cartao_beneficio": "1121.25",
          "data_nascimento": null,
          "idade": null,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 48
        }
      },
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "02946121810",
          "nome": "JULIANA MARIA PAULA SILVA SEVERINO",
          "orgao": "SPPREV",
          "identificacao": "8015813301",
          "lotacao": "20065SPPREV",
          "cargo_funcao": null,
          "data_admissao": "31/12/1996",
          "tipo_vinculo": "1 - Aposentado",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "479.11",
          "bruto_cartao_credito": "68.44",
          "bruto_cartao_beneficio": "205.33",
          "margem_disponivel_consignacoes_facultativas": "3.15",
          "margem_disponivel_cartao_credito": "0.00",
          "margem_disponivel_cartao_beneficio": "20.54",
          "data_nascimento": "1962-03-07",
          "idade": 63,
          "consulted_at": "2025-12-22 09:51:23"
        },
        "pairedItem": {
          "item": 50
        }
      },
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "02946121810",
          "nome": "JULIANA MARIA PAULA SILVA SEVERINO",
          "orgao": "SPPREV",
          "identificacao": "6100118700",
          "lotacao": "20065SPPREV",
          "cargo_funcao": null,
          "data_admissao": "18/10/2020",
          "tipo_vinculo": "6 - Pensionista",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "1194.37",
          "bruto_cartao_credito": "170.62",
          "bruto_cartao_beneficio": "511.87",
          "margem_disponivel_consignacoes_facultativas": "13.43",
          "margem_disponivel_cartao_credito": "0.00",
          "margem_disponivel_cartao_beneficio": "51.19",
          "data_nascimento": "1962-03-07",
          "idade": 63,
          "consulted_at": "2025-12-22 09:51:24"
        },
        "pairedItem": {
          "item": 50
        }
      },
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "02946121810",
          "nome": "JULIANA MARIA PAULA SILVA SEVERINO",
          "orgao": "SPPREV",
          "identificacao": "8015813301",
          "lotacao": "20065SPPREV",
          "cargo_funcao": null,
          "data_admissao": "31/12/1996",
          "tipo_vinculo": "1 - Aposentado",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "479.11",
          "bruto_cartao_credito": "68.44",
          "bruto_cartao_beneficio": "205.33",
          "margem_disponivel_consignacoes_facultativas": "3.15",
          "margem_disponivel_cartao_credito": "0.00",
          "margem_disponivel_cartao_beneficio": "20.54",
          "data_nascimento": "1962-03-07",
          "idade": 63,
          "consulted_at": "2025-12-22 09:51:23"
        },
        "pairedItem": {
          "item": 51
        }
      },
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "02946121810",
          "nome": "JULIANA MARIA PAULA SILVA SEVERINO",
          "orgao": "SPPREV",
          "identificacao": "6100118700",
          "lotacao": "20065SPPREV",
          "cargo_funcao": null,
          "data_admissao": "18/10/2020",
          "tipo_vinculo": "6 - Pensionista",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "1194.37",
          "bruto_cartao_credito": "170.62",
          "bruto_cartao_beneficio": "511.87",
          "margem_disponivel_consignacoes_facultativas": "13.43",
          "margem_disponivel_cartao_credito": "0.00",
          "margem_disponivel_cartao_beneficio": "51.19",
          "data_nascimento": "1962-03-07",
          "idade": 63,
          "consulted_at": "2025-12-22 09:51:24"
        },
        "pairedItem": {
          "item": 51
        }
      },
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "26500928822",
          "nome": "ADRIANO LEONIDES",
          "orgao": "SEFAZ",
          "identificacao": "15171413",
          "lotacao": "08 - SECRETARIA DA EDUCACAO",
          "cargo_funcao": null,
          "data_admissao": "15/07/2014",
          "tipo_vinculo": "7 - Efetivo",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "1895.35",
          "bruto_cartao_credito": "270.76",
          "bruto_cartao_beneficio": "812.25",
          "margem_disponivel_consignacoes_facultativas": "-271.24",
          "margem_disponivel_cartao_credito": "270.76",
          "margem_disponivel_cartao_beneficio": "223.05",
          "data_nascimento": "1977-02-15",
          "idade": 48,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 56
        }
      },
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "99354942849",
          "nome": "GILBERTO ROLAND FERREIRA JR",
          "orgao": "SPPREV",
          "identificacao": "8031533301",
          "lotacao": "20065SPPREV",
          "cargo_funcao": null,
          "data_admissao": "18/02/1981",
          "tipo_vinculo": "1 - Aposentado",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "2691.02",
          "bruto_cartao_credito": "384.43",
          "bruto_cartao_beneficio": "1153.29",
          "margem_disponivel_consignacoes_facultativas": "98.61",
          "margem_disponivel_cartao_credito": "384.43",
          "margem_disponivel_cartao_beneficio": "144.85",
          "data_nascimento": null,
          "idade": null,
          "consulted_at": "2025-12-12 13:11:50"
        },
        "pairedItem": {
          "item": 57
        }
      },
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "47830662800",
          "nome": "BENVINDA AZEVEDO FERREIRA",
          "orgao": "SPPREV",
          "identificacao": "24981101",
          "lotacao": "20065SPPREV",
          "cargo_funcao": null,
          "data_admissao": "11/01/1977",
          "tipo_vinculo": "6 - Pensionista",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "731.41",
          "bruto_cartao_credito": "104.49",
          "bruto_cartao_beneficio": "313.46",
          "margem_disponivel_consignacoes_facultativas": "62.36",
          "margem_disponivel_cartao_credito": "104.49",
          "margem_disponivel_cartao_beneficio": "313.46",
          "data_nascimento": "1950-07-13",
          "idade": 75,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 59
        }
      },
      {
        "json": {
          "operado_por": "Capital Consig Sociedade de Crédito Direto S/A.",
          "cpf": "47830662800",
          "nome": "BENVINDA AZEVEDO FERREIRA",
          "orgao": "SPPREV",
          "identificacao": "24981101",
          "lotacao": "20065SPPREV",
          "cargo_funcao": null,
          "data_admissao": "11/01/1977",
          "tipo_vinculo": "6 - Pensionista",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "731.41",
          "bruto_cartao_credito": "104.49",
          "bruto_cartao_beneficio": "313.46",
          "margem_disponivel_consignacoes_facultativas": "62.36",
          "margem_disponivel_cartao_credito": "104.49",
          "margem_disponivel_cartao_beneficio": "313.46",
          "data_nascimento": "1950-07-13",
          "idade": 75,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 60
        }
      },
      {
        "json": {
          "operado_por": "Banco Pan S/A",
          "cpf": "01076716466",
          "nome": "DORA LUCIA PETROLEO",
          "orgao": "SEFAZ",
          "identificacao": "12886257",
          "lotacao": "08 - SECRETARIA DA EDUCACAO",
          "cargo_funcao": "06409",
          "data_admissao": "01/02/2012",
          "tipo_vinculo": "7 - Efetivo",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "2087.95",
          "bruto_cartao_credito": "298.27",
          "bruto_cartao_beneficio": "894.75",
          "margem_disponivel_consignacoes_facultativas": "198.16",
          "margem_disponivel_cartao_credito": "298.27",
          "margem_disponivel_cartao_beneficio": "894.75",
          "data_nascimento": "1981-05-19",
          "idade": 44,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 70
        }
      },
      {
        "json": {
          "operado_por": "Banco Pan S/A",
          "cpf": "01076716466",
          "nome": "DORA LUCIA PETROLEO",
          "orgao": "SEFAZ",
          "identificacao": "12886257",
          "lotacao": "08 - SECRETARIA DA EDUCACAO",
          "cargo_funcao": "06409",
          "data_admissao": "01/02/2012",
          "tipo_vinculo": "7 - Efetivo",
          "fim_contrato": null,
          "bruto_consignacoes_facultativas": "2087.95",
          "bruto_cartao_credito": "298.27",
          "bruto_cartao_beneficio": "894.75",
          "margem_disponivel_consignacoes_facultativas": "198.16",
          "margem_disponivel_cartao_credito": "298.27",
          "margem_disponivel_cartao_beneficio": "894.75",
          "data_nascimento": "1981-05-19",
          "idade": 44,
          "consulted_at": "2025-12-16 12:12:23"
        },
        "pairedItem": {
          "item": 71
        }
      }
    ]
  },
  "versionId": "a94284ad-cd61-4591-ac48-07f1c0d86e81",
  "activeVersionId": "a94284ad-cd61-4591-ac48-07f1c0d86e81",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-02-28T11:44:59.956Z",
      "createdAt": "2025-02-28T11:44:59.956Z",
      "role": "workflow:owner",
      "workflowId": "oSD1QI3rNIegJE57",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-07T16:01:01.864Z",
    "createdAt": "2026-01-07T16:00:58.473Z",
    "versionId": "a94284ad-cd61-4591-ac48-07f1c0d86e81",
    "workflowId": "oSD1QI3rNIegJE57",
    "nodes": [
      {
        "parameters": {
          "operation": "xlsx",
          "options": {
            "fileName": "={{`rpa-conciliacao-${new Date().toLocaleDateString('pt-BR').replace(/\\//g, '-')}.xlsx`}}",
            "sheetName": "={{`${new Date().toLocaleDateString('pt-BR').replace(/\\//g, '-')}`}}"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          1184,
          128
        ],
        "id": "ebccbf04-eb51-44a3-ac89-f2749fade799",
        "name": "Convert to File"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "59ef0a5d-860c-4a08-a23a-f8574b0e6e15",
                "name": "AF",
                "value": "={{ $('Consulta Integrados Governo').item.json.Af_codigo }}",
                "type": "number"
              },
              {
                "id": "16aa4943-2a2f-4804-b490-c1c86792ea46",
                "name": "Valor AF",
                "value": "={{ $('Consulta Integrados Governo').item.json.Af_valor_af }}",
                "type": "number"
              },
              {
                "id": "5d44ed99-efec-44c2-adca-5ded7a8314dc",
                "name": "Comissao empresa",
                "value": "={{ $('Consulta Integrados Governo').item.json.Af_valor_comissao_empresa }}",
                "type": "number"
              },
              {
                "id": "1cb3e73c-b0d2-4575-8d89-de0b31489ad2",
                "name": "Data da AF",
                "value": "={{ $('Consulta Integrados Governo').item.json.Af_data }}",
                "type": "string"
              },
              {
                "id": "94927947-6a1d-47e4-96f2-873961a02fe7",
                "name": "Contrato Banco",
                "value": "={{ $('Consulta Integrados Governo').item.json.Af_codigo_contrato_banco }}",
                "type": "string"
              },
              {
                "id": "e84e67bc-fae0-4358-98de-6b43585daf62",
                "name": "Orgao",
                "value": "={{ $('Consulta Integrados Governo').item.json.Orgav_descricao }}",
                "type": "string"
              },
              {
                "id": "8c8e44a1-4242-4970-b577-e39de3333c63",
                "name": "Banco",
                "value": "={{ $('Consulta Integrados Governo').item.json.Bcolib_descricao }}",
                "type": "string"
              },
              {
                "id": "39bd65f4-2138-46c4-84e8-81de2dab4362",
                "name": "Consulta robo em",
                "value": "={{ $json.consulted_at }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          768,
          0
        ],
        "id": "a4ebb499-5220-403a-a411-44dd46b78ff4",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    a.Af_codigo, \n    FORMAT(a.Af_data, 'dd/MM/yyyy') AS Af_data, \n    a.Af_valor_af, \n    a.faf_codigo, \n    a.Af_codigo_contrato_banco, \n    a.Af_valor_comissao_empresa,\n    c.Con_codigo, \n    c.Con_cpf, \n    c.Con_matricula,  \n    o.Orgav_codigo, \n    o.Orgav_descricao,\n    b.Bcolib_descricao\nFROM dbo.af a\nJOIN dbo.convenio c ON a.Con_codigo = c.Con_codigo\nJOIN dbo.orgaoav o ON c.Orgav_codigo = o.Orgav_codigo\nJOIN dbo.bancolib b ON a.Bcolib_codigo = b.Bcolib_codigo\nWHERE \n    YEAR(a.Af_data) = YEAR(DATEADD(MONTH, -1, GETDATE()))  -- Ano do mês anterior\n    AND MONTH(a.Af_data) = MONTH(DATEADD(MONTH, -1, GETDATE()))  -- Mês anterior\n    AND a.faf_codigo = 3  \n    AND o.Orgav_codigo IN (6, 10, 21, 28, 29, 40, 47, 49)  \nORDER BY a.Af_codigo;\n"
        },
        "type": "n8n-nodes-base.microsoftSql",
        "typeVersion": 1.1,
        "position": [
          240,
          0
        ],
        "id": "6d326e67-4ccb-4c85-8c4c-e43c9d31f340",
        "name": "Consulta Integrados Governo",
        "credentials": {
          "microsoftSql": {
            "id": "Eck1dwqEQjiv5hCV",
            "name": "dboAgilus"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "months",
                "triggerAtHour": 9
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -32,
          112
        ],
        "id": "0babcb53-1662-4e2a-a63d-48c96ef3ff4f",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "sendTo": "daniel.gaspar@mdgintermediacoes.com.br, felipe.ferreira@mdgintermediacoes.com.br",
          "subject": "=Relatório Mensal AFs RPA",
          "message": "=    <p style=\"font-family: Arial, sans-serif; color: #333;\">Prezados</p>\n\n    <p style=\"font-family: Arial, sans-serif; font-size: 16px; color: #555;\">Segue conciliação mensal do sistemas\n        <strong>GovServlus</strong> ,<strong>in100</strong> e <strong>GovServlus</strong>.\n    </p>\n\n    </br>\n\n    <p style=\"font-family: Arial, sans-serif; font-size: 16px; color: #555;\">Atenciosamente,</p>\n    <p style=\"font-family: Arial, sans-serif; font-size: 16px; color: #555;\"><strong>Desenvolvimento MDG</strong></p>\n\n    <img src=\"https://i.imgur.com/A96b1p9.jpeg\" alt=\"Assinatura\" style=\"max-width: 50%; height: auto;\"><br>",
          "options": {
            "appendAttribution": false,
            "attachmentsUi": {
              "attachmentsBinary": [
                {}
              ]
            },
            "ccList": "raul.guimaraes@mdgintermediacoes.com.br"
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          1376,
          128
        ],
        "id": "e14e13be-6d1d-4f6f-8e69-25f691a8e6e8",
        "name": "Send to Boss",
        "webhookId": "7157af12-0be4-4385-922f-ffa31d70e347",
        "credentials": {
          "gmailOAuth2": {
            "id": "iEXJKdMeC12THwyd",
            "name": "Gmail Desenvolvimento"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1840,
          112
        ],
        "id": "4d26cc3a-501d-40b1-9da7-30bd88fdb305",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n.mdgintermediacoes.com.br/webhook/3bbcfb3e-3e11-48a1-8adc-6ffdca7c2b39",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "-1001534937224"
              },
              {
                "name": "message",
                "value": "=Amuaigos,  Foi enviada a planilha com a extração dos dados do sistema GovServLus.  Nome Arquivo: {{`govservlus-conciliacao-${new Date().toLocaleDateString('pt-BR').replace(/\\//g, '-')}.xlsx`}}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -32,
          -416
        ],
        "id": "453dcb2f-c444-418b-8309-158bccd519f6",
        "name": "Envio telegram Kira Dev",
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "bc185fc0-ad33-43d3-bc79-0a9b25e80c96",
                "leftValue": "={{ DateTime.fromFormat($('Consulta Integrados Governo').item.json.Af_data, \"dd/MM/yyyy\") }}",
                "rightValue": "={{ $json.consulted_at }}",
                "operator": {
                  "type": "dateTime",
                  "operation": "afterOrEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          -368,
          -384
        ],
        "id": "872e5bac-85e5-40bf-b4b3-4a832f9aa2ba",
        "name": "Filter"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "bc185fc0-ad33-43d3-bc79-0a9b25e80c96",
                "leftValue": "={{ DateTime.fromFormat($('Consulta Integrados INSS').item.json.Af_data, \"dd/MM/yyyy\") }}",
                "rightValue": "={{ $json.consulted_at.toDateTime() }}",
                "operator": {
                  "type": "dateTime",
                  "operation": "afterOrEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          -368,
          -128
        ],
        "id": "dd634b0f-0d84-45ac-ae57-9e76539fcd6f",
        "name": "Filter1"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    a.Af_codigo, \n    FORMAT(a.Af_data, 'dd/MM/yyyy') AS Af_data, \n    a.Af_valor_af, \n    a.faf_codigo, \n    a.Af_codigo_contrato_banco,\n    a.Af_valor_comissao_empresa,\n    c.Con_codigo, \n    c.Con_cpf, \n    c.Con_matricula,  \n    o.Orgav_codigo, \n    o.Orgav_descricao,\n    b.Bcolib_descricao\nFROM dbo.af a\nJOIN dbo.convenio c ON a.Con_codigo = c.Con_codigo\nJOIN dbo.orgaoav o ON c.Orgav_codigo = o.Orgav_codigo\nJOIN dbo.bancolib b ON a.Bcolib_codigo = b.Bcolib_codigo\nWHERE \n    YEAR(a.Af_data) = YEAR(DATEADD(MONTH, -1, GETDATE()))  -- Ano do mês anterior\n    AND MONTH(a.Af_data) = MONTH(DATEADD(MONTH, -1, GETDATE()))  -- Mês anterior\n    AND a.faf_codigo = 3  \n    AND o.Orgav_codigo IN (1, 2, 9, 39, 42, 44)  \nORDER BY a.Af_codigo;\n"
        },
        "type": "n8n-nodes-base.microsoftSql",
        "typeVersion": 1.1,
        "position": [
          240,
          256
        ],
        "id": "9d63542c-1a21-48c7-8452-68ced9e75567",
        "name": "Consulta Integrados INSS",
        "credentials": {
          "microsoftSql": {
            "id": "Eck1dwqEQjiv5hCV",
            "name": "dboAgilus"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "vw_full_consulteds",
            "mode": "list",
            "cachedResultName": "vw_full_consulteds"
          },
          "returnAll": true,
          "where": {
            "values": [
              {
                "column": "cpf",
                "condition": "LIKE",
                "value": "={{ String($json.Con_cpf).replace(/\\D/g, '').replace(/(\\d{3})(\\d{3})(\\d{3})(\\d{2})/, '$1.$2.$3-$4') }}"
              }
            ]
          },
          "sort": {
            "values": [
              {
                "column": "consulted_at"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          496,
          256
        ],
        "id": "9c20af3b-011e-47aa-8643-07c6e31290ec",
        "name": "Busca internos IN100",
        "retryOnFail": true,
        "credentials": {
          "mySql": {
            "id": "T9AP63oSzVHyX8t2",
            "name": "MariaDb In100 QueroMais"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "vw_consulteds_1",
            "mode": "list",
            "cachedResultName": "vw_consulteds_1"
          },
          "returnAll": true,
          "where": {
            "values": [
              {
                "column": "cpf",
                "value": "={{ $json.Con_cpf }}"
              }
            ]
          },
          "sort": {
            "values": [
              {
                "column": "consulted_at"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          496,
          0
        ],
        "id": "6039ccca-5249-4824-b5de-d0970013e787",
        "name": "Busca internos GOV",
        "retryOnFail": true,
        "credentials": {
          "mySql": {
            "id": "fPwgeEpjllC7rjHG",
            "name": "GovServLus MariaDB"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "aad4ab0f-7bc2-4d60-8967-1f658834da93",
                "name": "AF",
                "value": "={{ $('Consulta Integrados INSS').item.json.Af_codigo }}",
                "type": "number"
              },
              {
                "id": "0312ecfa-c5cc-4517-aa7a-ed08e7a2fd06",
                "name": "Valor AF",
                "value": "={{ $('Consulta Integrados INSS').item.json.Af_valor_af }}",
                "type": "number"
              },
              {
                "id": "faf3861c-07fd-4f43-81ae-606f18e1c970",
                "name": "Comissao empresa",
                "value": "={{ $('Consulta Integrados INSS').item.json.Af_valor_comissao_empresa }}",
                "type": "number"
              },
              {
                "id": "a9815087-813d-4dc9-a0f2-27ca44d0a847",
                "name": "Data da AF",
                "value": "={{ $('Consulta Integrados INSS').item.json.Af_data }}",
                "type": "string"
              },
              {
                "id": "1799ff94-a28d-4c9a-ac2e-fc738b2113fe",
                "name": "Orgao",
                "value": "={{ $('Consulta Integrados INSS').item.json.Orgav_descricao }}",
                "type": "string"
              },
              {
                "id": "8f6f66de-67d4-46f0-9cef-fa56ef3089e4",
                "name": "Banco",
                "value": "={{ $('Consulta Integrados INSS').item.json.Bcolib_descricao }}",
                "type": "string"
              },
              {
                "id": "bdb19020-34a2-4619-b205-9f35065b8a3a",
                "name": "Contrato Banco",
                "value": "={{ $('Consulta Integrados INSS').item.json.Af_codigo_contrato_banco }}",
                "type": "string"
              },
              {
                "id": "39bd65f4-2138-46c4-84e8-81de2dab4362",
                "name": "Consulta robo em",
                "value": "={{ $json.consulted_at }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          768,
          256
        ],
        "id": "9b202659-9a77-4360-9da6-c5b6a2e28a4d",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "content": "## CONSULTA AGILUS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 560,
          "width": 224
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          192,
          -128
        ],
        "typeVersion": 1,
        "id": "ad4a4808-d618-45a7-9e24-a8fd2da68c56",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## CONSULTA BD CONSULTAS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 560,
          "width": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          448,
          -128
        ],
        "typeVersion": 1,
        "id": "b1bd8d9c-bead-405d-bef3-94dbbbe3fdd6",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## CONCILIA DATA\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 560,
          "width": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -416,
          -512
        ],
        "typeVersion": 1,
        "id": "9eef4985-6883-496a-8ce6-49f31d744700",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## ORGANIZA DADOS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 560,
          "width": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          720,
          -128
        ],
        "typeVersion": 1,
        "id": "5db735b4-2850-46b1-999c-947922243cdb",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "## CONVERT PLANILHA\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 560,
          "width": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1120,
          -128
        ],
        "typeVersion": 1,
        "id": "32dc9ba8-bce5-4044-a15f-9e3af0bd00c1",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "## ENVIA E-MAIL COM ANEXO\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 560,
          "width": 208,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1344,
          -128
        ],
        "typeVersion": 1,
        "id": "68a804b0-5020-4239-96c5-a0c57e160fb6",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "## RELATÓRIOS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 720,
          "width": 1920,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -128,
          -208
        ],
        "typeVersion": 1,
        "id": "dff9173c-047c-4456-b01d-14d240a69bed",
        "name": "Sticky Note6"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          992,
          128
        ],
        "id": "250e3d11-527e-4c37-a586-c9a4a5280e20",
        "name": "Merge"
      }
    ],
    "connections": {
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consulta Integrados Governo": {
        "main": [
          [
            {
              "node": "Busca internos GOV",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Consulta Integrados Governo",
              "type": "main",
              "index": 0
            },
            {
              "node": "Consulta Integrados INSS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Boss": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Envio telegram Kira Dev": {
        "main": [
          []
        ]
      },
      "Convert to File": {
        "main": [
          [
            {
              "node": "Send to Boss",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          []
        ]
      },
      "Consulta Integrados INSS": {
        "main": [
          [
            {
              "node": "Busca internos IN100",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca internos IN100": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca internos GOV": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Filter1": {
        "main": [
          []
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Suporte MDG Suporte",
    "name": "Version a94284ad",
    "description": "",
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2025-02-20T16:29:31.422Z",
      "createdAt": "2025-02-20T16:29:31.422Z",
      "id": "XZLWvH2vm1NnuOvm",
      "name": "Comercial"
    },
    {
      "updatedAt": "2025-03-12T12:37:04.515Z",
      "createdAt": "2025-03-12T12:37:04.515Z",
      "id": "urBrjmWW1pB1WWEK",
      "name": "Relatório"
    }
  ]
}