Comercial/XF9KdNXO5myTXrws.json
{
  "updatedAt": "2025-09-12T15:19:05.181Z",
  "createdAt": "2025-05-29T11:55:17.172Z",
  "id": "XF9KdNXO5myTXrws",
  "name": "Higenizador - amigoz  margem convenio UP",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1060,
        200
      ],
      "id": "58028e95-b50e-445b-b2e9-1411f777c01f",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JxMGjX2Q5RFojEnn",
          "name": "Google Drive Desenvolvimento"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1mSmRA_Wg9wQRxv0RgpvKlHn19tt7wlGW",
          "mode": "list",
          "cachedResultName": "convênio",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1mSmRA_Wg9wQRxv0RgpvKlHn19tt7wlGW"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        140,
        200
      ],
      "id": "dc98493a-28ed-4abf-98cb-ce648527e59e",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JxMGjX2Q5RFojEnn",
          "name": "Google Drive Desenvolvimento"
        }
      }
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1320,
        200
      ],
      "id": "c4213a30-038c-49a9-a78d-c0028f68346b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "25fe58a1-93f6-4ef6-b4b7-75ffe0479165",
              "leftValue": "={{ $json.fileExtension }}",
              "rightValue": "xlsx",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "83abdfe1-15b3-48dd-b67b-a329a64aba84",
              "leftValue": "={{ $json.fileExtension }}",
              "rightValue": "xls",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "179b179b-d4be-46b4-bab0-b6f2ba5100d4",
              "leftValue": "={{ $json.fileExtension }}",
              "rightValue": "csv",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        580,
        200
      ],
      "id": "c023392b-ce11-4a70-ab18-e601b582034e",
      "name": "Filter5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d3612c77-cb61-4c06-9b62-5cf78d859eb8",
              "leftValue": "={{ $json.lastModifyingUser.displayName }}",
              "rightValue": "Desenvolvimento MDG",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        360,
        200
      ],
      "id": "f29bc948-9a5e-4790-8890-c85d0c573e6b",
      "name": "Filter6"
    },
    {
      "parameters": {
        "mode": "exchange",
        "exchange": "higenizador_exchange",
        "routingKey": "higenizador_margem_amigoz_convenio",
        "options": {}
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        2100,
        200
      ],
      "id": "c3ebbc8b-c893-4d51-8f14-fe8555d8f218",
      "name": "RabbitMQ",
      "credentials": {
        "rabbitmq": {
          "id": "8S2CCfj4pf5t6xWv",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2bc40dd8-b52c-42ce-99a0-837ed155c44e",
              "name": "CPF",
              "value": "",
              "type": "string"
            },
            {
              "id": "57fee8c0-8d13-4297-acc0-989ecd95406e",
              "name": "NOME",
              "value": "",
              "type": "string"
            },
            {
              "id": "c539c90b-c78c-45ac-bc6a-2e805b204b44",
              "name": "TELEFONE 1",
              "value": "",
              "type": "string"
            },
            {
              "id": "3695e963-3f18-4a0c-8dbd-9b617150b7e3",
              "name": "TELEFONE  2",
              "value": "",
              "type": "string"
            },
            {
              "id": "87f1e4b1-1640-4451-aca6-1a6fd0497f2b",
              "name": "TELEFONE  3",
              "value": "",
              "type": "string"
            },
            {
              "id": "4f2d7f4b-b288-4610-9a6f-f360a7424e2c",
              "name": "TELEFONE 4",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        140,
        920
      ],
      "id": "c75be6e3-ad52-4d04-b133-4378563cea17",
      "name": "Colunas Planilha ",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{$('Cria planilha').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tLuXl5QB5p6AlsLdlFvckJyIgWLeLd9dMFRAJvwJots/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        360,
        920
      ],
      "id": "4c54815a-bab6-438b-aeb9-fec5e6bb2f31",
      "name": "Adiciona Colunas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TckYcAKTANWzd2jN",
          "name": "Google Sheets account DEV"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Cria planilha').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1xzKXRUc0eeUF6L3YvysfZiLUWzIXGzXY",
          "mode": "list",
          "cachedResultName": "Higienizador ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1xzKXRUc0eeUF6L3YvysfZiLUWzIXGzXY"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        560,
        920
      ],
      "id": "1b7d40c8-067e-432e-8252-fd1fe5d7f2bf",
      "name": "Move planilha driver compartilhado ",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JxMGjX2Q5RFojEnn",
          "name": "Google Drive Desenvolvimento"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "=Hig_{{ $json.AquivoName.split(\".\").first() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -100,
        920
      ],
      "id": "79dc8070-ad4a-48fd-bb94-0283e8428e1c",
      "name": "Cria planilha",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TckYcAKTANWzd2jN",
          "name": "Google Sheets account DEV"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44308ad2-bde1-4f6d-a19c-a41260327f84",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "9ead94da-d9cd-48f2-8bf7-677147fa9353",
              "name": "EMAIL",
              "value": "={{ $json.lastModifyingUser.emailAddress }}",
              "type": "string"
            },
            {
              "id": "3f5535a5-f85b-422c-8ec8-9056baaadcef",
              "name": "AquivoName",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        200
      ],
      "id": "23b36879-1263-441b-9478-dfd43663364e",
      "name": "Dados Driver"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3678e50b-62b2-4948-8818-6fdbcaff63c1",
              "name": "nome",
              "value": "={{ $json.Servidor }}",
              "type": "string"
            },
            {
              "id": "267334e9-aea1-4afa-a806-132125e2b86a",
              "name": "cpf",
              "value": "={{ $json.cpf }}",
              "type": "string"
            },
            {
              "id": "a2fad04e-b690-4ff9-b961-baec0efabaea",
              "name": "matricula",
              "value": "={{ $json.matricula }}",
              "type": "string"
            },
            {
              "id": "415958c3-475d-49a8-b95a-e250301ccff0",
              "name": "margem",
              "value": "={{ $json.margem }}",
              "type": "string"
            },
            {
              "id": "ea060969-f4b4-44f4-bbb8-25d8220ba5c1",
              "name": "convenio",
              "value": "={{ $json.convenio }}",
              "type": "string"
            },
            {
              "id": "4329d6de-839f-411f-9454-305fba4013e1",
              "name": "Folha",
              "value": "={{ $json.Folha }}",
              "type": "string"
            },
            {
              "id": "98c786e1-128c-494d-a588-11904644a628",
              "name": "driver.AquivoName",
              "value": "={{ $('Dados Driver').item.json.AquivoName }}",
              "type": "string"
            },
            {
              "id": "22562ab5-e759-488d-bf3d-4a748cd8177c",
              "name": "driver.EMAIL",
              "value": "={{ $('Dados Driver').item.json.EMAIL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1800,
        200
      ],
      "id": "be1bb547-c701-4ac4-85cf-c3f7fff89493",
      "name": "Concilia dados"
    },
    {
      "parameters": {
        "content": "## RECEBE PLANILHA NO DRIVER\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 320,
        "width": 780
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        120,
        100
      ],
      "typeVersion": 1,
      "id": "c0ec3b55-9553-4e9d-a1e5-c47cb1200fc7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## EXTREI DADOS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 300,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        100
      ],
      "typeVersion": 1,
      "id": "1aa85dd4-c755-459d-bb76-708d86d44037",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## ENVIA PARA FILA\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 320,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1740,
        100
      ],
      "typeVersion": 1,
      "id": "ec4e53c3-eb90-4144-ac7d-dae64f795b1b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## CRIA GOOGLE SHEETS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 280,
        "width": 820
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -120,
        820
      ],
      "typeVersion": 1,
      "id": "8b034a91-caa2-4189-a364-32a3824d5229",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "download",
        "path": "E:\\Dados\\TI\\01 - Planilhas\\Banco de Dados - Usuários1.xlsx",
        "options": {}
      },
      "id": "9431b6da-42ed-461f-8d73-f222f6399a49",
      "name": "SSH",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        940,
        680
      ],
      "executeOnce": true,
      "credentials": {
        "sshPassword": {
          "id": "ycQRi5glz56987vv",
          "name": "SSH Password account SRV01"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ca550c2-422c-4ff3-921c-4f0facb0acb9",
              "name": "NOME",
              "value": "={{ $json.NOME.trim().toUpperCase().trim() }}",
              "type": "string"
            },
            {
              "id": "6898d4d3-a8b3-4ba3-b8ff-42e619e98957",
              "name": "email",
              "value": "={{ $json['E-MAIL/USUARIO'].trim() }}",
              "type": "string"
            },
            {
              "id": "59336c26-41e1-4f63-a483-58cdbbb041b4",
              "name": "EMPRESA",
              "value": "={{ $json.EMPRESA }}",
              "type": "string"
            },
            {
              "id": "c2c81b2c-7d31-476f-bd96-1713f7caaaee",
              "name": "TELEFONE",
              "value": "={{ $json.TELEFONE.replace(/\\D/g, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "id": "5e891516-3bb9-4dae-a4a1-5b866c61a7f2",
      "name": "Formata campos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1340,
        680
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4a0a8cd4-e6d2-4079-8632-b3c621e41982",
              "leftValue": "={{ $json.TELEFONE }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1780,
        680
      ],
      "id": "04198be9-f35c-4d96-9798-942cce4c422f",
      "name": "Filter"
    },
    {
      "parameters": {
        "queue": "whatsapp_suporte-queue",
        "options": {}
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        2400,
        680
      ],
      "id": "ad10bbe5-1288-4f19-8d12-6d05386081c0",
      "name": "RabbitMQ1",
      "credentials": {
        "rabbitmq": {
          "id": "8S2CCfj4pf5t6xWv",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69563584-d03c-4df8-92f7-55c6e92d9756",
              "name": "textMessage",
              "value": "=\"{{ $json.NOME.split(' ').first().toTitleCase() }} a lista {{ $json.AquivoName.split('.').first() }} foi enviada higienização.\"",
              "type": "string"
            },
            {
              "id": "d8b01833-a153-4f13-955b-ae849c703ee4",
              "name": "Instancias",
              "value": "SUPORTE",
              "type": "string"
            },
            {
              "id": "2a115f54-3b26-4e8b-b685-76e2fd66f21c",
              "name": "phone",
              "value": "=55{{ $json.TELEFONE }}",
              "type": "string"
            },
            {
              "id": "16a6d23c-4bea-42cd-b6d2-79eff88c2218",
              "name": "REQUERENTE",
              "value": "={{ $json.NOME }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2200,
        680
      ],
      "id": "12352444-7e9c-4672-8eb9-fa7460bc915e",
      "name": "Edit Mensagem"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "=data",
        "options": {
          "headerRow": true,
          "sheetName": "Base"
        }
      },
      "id": "a32a6c93-5920-4c8e-8a3e-4a7876b6eefd",
      "name": "Extract from File1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1120,
        680
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2660,
        680
      ],
      "id": "89b510dc-7d6b-4784-a128-208279062f18",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "EMAIL",
              "field2": "email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2000,
        680
      ],
      "id": "bf81da61-5abc-4e6d-9f7d-497b207e9e93",
      "name": "Merge",
      "executeOnce": false
    },
    {
      "parameters": {
        "content": "## NOTIFICAÇÃO \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 400,
        "width": 1520
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        860,
        500
      ],
      "typeVersion": 1,
      "id": "494851f6-ea6d-496f-a06f-db8589f67667",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "matricula",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1540,
        200
      ],
      "id": "f2ca89e9-995b-4232-9552-9c41dfce2726",
      "name": "Remove Duplicates"
    }
  ],
  "connections": {
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Filter6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter5": {
      "main": [
        [
          {
            "node": "Dados Driver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter6": {
      "main": [
        [
          {
            "node": "Filter5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colunas Planilha ": {
      "main": [
        [
          {
            "node": "Adiciona Colunas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Colunas": {
      "main": [
        [
          {
            "node": "Move planilha driver compartilhado ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move planilha driver compartilhado ": {
      "main": [
        []
      ]
    },
    "Cria planilha": {
      "main": [
        [
          {
            "node": "Colunas Planilha ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Driver": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concilia dados": {
      "main": [
        [
          {
            "node": "RabbitMQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ": {
      "main": [
        [
          {
            "node": "SSH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata campos": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RabbitMQ1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Mensagem": {
      "main": [
        [
          {
            "node": "RabbitMQ1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Formata campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Concilia dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-09-11T20:12:25Z"
    },
    "node:Google Drive Trigger1": {
      "lastTimeChecked": "2025-02-21T19:01:43Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Google Drive Trigger": [
      {
        "json": {
          "parents": [
            "1_pGMGRZos_lMZNBK0Fv0Cg6cX7-Edvn9"
          ],
          "lastModifyingUser": {
            "displayName": "Raul Guimaraes",
            "kind": "drive#user",
            "me": false,
            "permissionId": "11534251328642009597",
            "emailAddress": "raul.guimaraes@mdgintermediacoes.com.br",
            "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjVLinhVP5SDvzoRw_GHsctAF_4I7cLShq9XtTZG73xlYmt8F0I=s64"
          },
          "owners": [
            {
              "displayName": "Raul Guimaraes",
              "kind": "drive#user",
              "me": false,
              "permissionId": "11534251328642009597",
              "emailAddress": "raul.guimaraes@mdgintermediacoes.com.br",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjVLinhVP5SDvzoRw_GHsctAF_4I7cLShq9XtTZG73xlYmt8F0I=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "17604633664812570778",
              "type": "domain",
              "domain": "mdgintermediacoes.com.br",
              "role": "reader",
              "allowFileDiscovery": true,
              "displayName": "DG Serviços"
            },
            {
              "kind": "drive#permission",
              "id": "11534251328642009597",
              "type": "user",
              "emailAddress": "raul.guimaraes@mdgintermediacoes.com.br",
              "role": "owner",
              "displayName": "Raul Guimaraes",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjVLinhVP5SDvzoRw_GHsctAF_4I7cLShq9XtTZG73xlYmt8F0I=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "16172521949113898529",
              "type": "user",
              "emailAddress": "desenvolvimento@mdgintermediacoes.com.br",
              "role": "writer",
              "displayName": "Desenvolvimento MDG",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKNvUuD7lRcJscziH6zg2mLZ4CDToWDJurLhHaT1z35L1bKEA=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": false,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": false,
            "canComment": true,
            "canCopy": true,
            "canDelete": false,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": false,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": false,
            "canMoveItemOutOfDrive": false,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": false,
            "canUntrash": false
          },
          "permissionIds": [
            "17604633664812570778",
            "11534251328642009597",
            "16172521949113898529"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "kind": "drive#file",
          "id": "1IeOlkpk-90FQDDmMAwMVjEWVDxzN8921",
          "name": "Pasta1.xlsx",
          "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "3",
          "webContentLink": "https://drive.google.com/uc?id=1IeOlkpk-90FQDDmMAwMVjEWVDxzN8921&export=download",
          "webViewLink": "https://docs.google.com/spreadsheets/d/1IeOlkpk-90FQDDmMAwMVjEWVDxzN8921/edit?usp=drivesdk&ouid=103143123596259879442&rtpof=true&sd=true",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
          "hasThumbnail": true,
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBP-D61qe9O9NkQDqWtcxwWQ_cMReM2V-7kN1JE4mkjMSmbbX8hFbj6t3nl89aEXg_dDkbBPfz9Kaf3c01OJn0SDCbZYbwgnBIQcXTOUv3zbhw=s220",
          "thumbnailVersion": "1",
          "viewedByMe": false,
          "createdTime": "2025-05-29T13:11:45.810Z",
          "modifiedTime": "2025-05-29T13:09:39.000Z",
          "modifiedByMe": false,
          "shared": true,
          "ownedByMe": false,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "originalFilename": "Pasta1.xlsx",
          "fullFileExtension": "xlsx",
          "fileExtension": "xlsx",
          "md5Checksum": "ba26ff19dd091cbbb7bfee7d3efb9e38",
          "sha1Checksum": "aaa0dcc3c8c4c2f9d4911f0740c5060ee97fa6e7",
          "sha256Checksum": "6a1b922d32c69ecd8611afd4539e5ad04591c9557a0abd724a48bc8ff7dbd32d",
          "size": "9149",
          "quotaBytesUsed": "9149",
          "headRevisionId": "0B3ivOg0-8xUcdjJYL2lQa081ZG4xTkVmUk4wVE5Ed292eTNZPQ",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        }
      }
    ],
    "Google Drive": [
      {
        "json": {
          "id": "1IeOlkpk-90FQDDmMAwMVjEWVDxzN8921",
          "EMAIL": "raul.guimaraes@mdgintermediacoes.com.br",
          "AquivoName": "Pasta1.xlsx"
        }
      }
    ],
    "Extract from File": [
      {
        "json": {
          "convenio": "teresina",
          "cpf": "131.785.473-04",
          "Servidor": "AARAO CRUZ MENDES",
          "matricula": "41247",
          "Folha": "FMS - FUND. MUN. DE SAÚDE",
          "margem": "MARGEM CARTAO",
          "Saldo de Margem": 1472.02
        }
      }
    ],
    "RabbitMQ": [
      {
        "json": {
          "success": true
        }
      }
    ]
  },
  "versionId": "5c8be100-09fa-485a-be57-e8a3d530927f",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-05-29T11:55:17.172Z",
      "createdAt": "2025-05-29T11:55:17.172Z",
      "role": "workflow:owner",
      "workflowId": "XF9KdNXO5myTXrws",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2025-02-20T16:29:31.422Z",
      "createdAt": "2025-02-20T16:29:31.422Z",
      "id": "XZLWvH2vm1NnuOvm",
      "name": "Comercial"
    }
  ]
}