Comercial/xghFf0MUEpyA1X18.json
{
  "updatedAt": "2026-05-26T13:28:37.697Z",
  "createdAt": "2025-04-30T16:02:37.580Z",
  "id": "xghFf0MUEpyA1X18",
  "name": "BKO -  ACOMPANHAMENTO TEDs",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.Af_codigo, \n       a.Af_data, \n       a.Af_codigo_contrato_banco, \n       a.Af_data_liberacao_banco, \n       r.Rep_superior, \n       r.Rep_nome, \n       r_superior.Rep_nome AS Rep_nome_superior,\n       r_superior.Rep_superior AS Rep_superior_superior,\n       r_superior_2.Rep_nome AS Rep_nome_superior_2,\n       b.Bcolib_codigo,\n       b.Bcolib_descricao,\n       c.Con_codigo,\n       o.Orgav_codigo,\n       o.Orgav_descricao\nFROM dbo.af a\nJOIN dbo.representante r ON a.Rep_codigo = r.Rep_codigo\nLEFT JOIN dbo.representante r_superior ON r.Rep_superior = r_superior.Rep_codigo\nLEFT JOIN dbo.representante r_superior_2 ON r_superior.Rep_superior = r_superior_2.Rep_codigo\nJOIN dbo.bancolib b ON a.Bcolib_codigo = b.Bcolib_codigo\nJOIN dbo.convenio c ON a.Con_codigo = c.Con_codigo\nJOIN dbo.orgaoav o ON c.Orgav_codigo = o.Orgav_codigo\nWHERE YEAR(a.Af_data_liberacao_banco) = YEAR(GETDATE())  -- Ano atual (2025)\nAND YEAR(a.Af_data) = YEAR(GETDATE())                    -- Ano atual (2025)\nAND a.Af_data_liberacao_banco <= DATEADD(DAY, -1, GETDATE()) -- Até ontem\nAND a.Af_data <= DATEADD(DAY, -1, GETDATE())                 -- Até ontem\nAND a.usr_pagamento_ao_cliente IS NULL\nAND a.faf_codigo = 3\nORDER BY a.Af_codigo;\n",
        "options": {}
      },
      "id": "adcf09ae-76a3-42f4-bf25-ee9ca1423659",
      "name": "Select status propostas",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        624,
        144
      ],
      "executeOnce": true,
      "credentials": {
        "microsoftSql": {
          "id": "Eck1dwqEQjiv5hCV",
          "name": "dboAgilus"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs",
          "mode": "list",
          "cachedResultName": "BKO - Acompanhamento TDs V2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DADOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "CODIGO AF",
              "lookupValue": "={{ $json.Af_codigo }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2368,
        784
      ],
      "id": "a4cc766f-91d2-4632-ad37-4f98a1e030f5",
      "name": "Localiza af atualizada",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TckYcAKTANWzd2jN",
          "name": "Google Sheets account DEV"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs",
          "mode": "list",
          "cachedResultName": "BKO - Acompanhamento TDs V2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DADOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit#gid=0"
        },
        "startIndex": "={{ $json.row_number }}",
        "numberToDelete": "={{ $json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2576,
        784
      ],
      "id": "8635c42b-dda4-4d02-9445-41149903cdce",
      "name": "Remove AF Atualizada",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TckYcAKTANWzd2jN",
          "name": "Google Sheets account DEV"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2208,
        784
      ],
      "id": "f8a821e4-16cf-42fc-9d23-b5262d1df761",
      "name": "Wait",
      "webhookId": "a2aa64d5-d950-496d-9fe7-e76a482c5a16"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7ef7efc-38c8-4ae7-9ba5-a81a112b4e42",
              "name": "DATA INTEGRADO",
              "value": "={{ $json.Af_data_liberacao_banco.toDateTime() }}",
              "type": "string"
            },
            {
              "id": "e4e973b9-9bf2-454d-972f-494265df79a1",
              "name": "BANCO",
              "value": "={{ $json.Bcolib_descricao }}",
              "type": "string"
            },
            {
              "id": "a58bc3ef-57d9-4d33-a7b9-b38a63a1ed43",
              "name": "CODIGO AF",
              "value": "={{ $json.Af_codigo }}",
              "type": "string"
            },
            {
              "id": "fd3f1836-50cc-4ea2-a89e-16d84982738d",
              "name": "NUMERO CONTRATO",
              "value": "={{ $json.Af_codigo_contrato_banco }}",
              "type": "string"
            },
            {
              "id": "31bf27a5-ac63-421a-a872-2d18f4def962",
              "name": "COORDENADOR",
              "value": "={{ $json.Rep_nome_superior_2 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        128
      ],
      "id": "e21c5db4-8eb4-4f1a-a72e-56569e73f2a6",
      "name": "Organiza Dados"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs",
          "mode": "list",
          "cachedResultName": "BKO - Acompanhamento TDs V2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DADOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "BANCO": "={{ $json.BANCO }}",
            "COORDENADOR": "={{ $json.COORDENADOR }}",
            "CODIGO AF": "={{ $json[\"CODIGO AF\"] }}",
            "NUMERO CONTRATO": "={{ $json[\"NUMERO CONTRATO\"] }}",
            "DATA INTEGRADO": "={{ $json.formattedDate }}"
          },
          "matchingColumns": [
            "CODIGO AF"
          ],
          "schema": [
            {
              "id": "DATA INTEGRADO",
              "displayName": "DATA INTEGRADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "BANCO",
              "displayName": "BANCO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CODIGO AF",
              "displayName": "CODIGO AF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NUMERO CONTRATO",
              "displayName": "NUMERO CONTRATO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "COORDENADOR",
              "displayName": "COORDENADOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "OBSERVAÇÕES",
              "displayName": "OBSERVAÇÕES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -16,
        512
      ],
      "id": "95e67f1c-2773-4027-88bc-90706aa3afc5",
      "name": "Adiciona dados",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TckYcAKTANWzd2jN",
          "name": "Google Sheets account DEV"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs",
          "mode": "list",
          "cachedResultName": "BKO - Acompanhamento TDs V2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DADOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        688,
        512
      ],
      "id": "415b6544-2fe4-4649-8a62-a08319f10d73",
      "name": "Lista dados",
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TckYcAKTANWzd2jN",
          "name": "Google Sheets account DEV"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3136,
        528
      ],
      "id": "acd00c26-2d64-4a2a-a6b1-8d19315662d6",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        512,
        512
      ],
      "id": "fe34fef0-5c9a-48c5-a650-d3e76c2a4ffb",
      "name": "Wait1",
      "webhookId": "89275e99-4a01-4c03-928e-6d211e5d6c2a"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            },
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5,
                6
              ],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        48,
        144
      ],
      "id": "06a14ce8-d644-420d-bda7-809998aa14d4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2192,
        448
      ],
      "id": "8bfad866-3d70-4d86-ab55-9ef79e5bfaf0",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "jsCode": "const startTime = 8;\nconst finishTime = 18;\n\nconst now = new Date();\nconst nowHour = now.getHours();\nconst nowDay = now.getDay();\nif (nowHour >= startTime && nowHour < finishTime && nowDay !== 0) {\n      return {sheduler: true}\n    }\n\n return {sheduler: false}"
      },
      "id": "2528a0d7-eac7-41ed-b35a-4936ad0057d8",
      "name": "Scheduler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        144
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d5edb8b-89df-4cc4-bacc-75c4783e956e",
              "name": "CÓDIGO AF",
              "value": "={{ $json[\"CODIGO AF\"] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        496
      ],
      "id": "958db286-919f-4c4c-bd99-f6dd81111b3a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "row_number",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        864,
        512
      ],
      "id": "ca393ab4-2ef4-488b-976e-4ab4bc36ed9c",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1904,
        448
      ],
      "id": "0688ff2e-8505-4be2-b357-6277158072a7",
      "name": "Remove Duplicates1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "16f454d5-963a-4cb2-9ee5-cf4fbaf576d4",
              "leftValue": "={{ $json.sheduler }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        400,
        144
      ],
      "id": "4011dbb9-8b40-4c2e-9f83-2dfaea445946",
      "name": "Filter tempo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c42ebcde-8c3e-4ef9-91df-f102a34f34e5",
              "leftValue": "={{ $json.Bcolib_descricao }}",
              "rightValue": "BANCO INBURSA",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        800,
        144
      ],
      "id": "22de4ce4-9a39-448e-bcd0-7d9d9ecc6b89",
      "name": "Filter Banco",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT Af_codigo\nFROM dbo.af \nWHERE Af_codigo = {{ $json[\"CÓDIGO AF\"] }}\nAND usr_pagamento_ao_cliente IS NOT NULL;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1312,
        384
      ],
      "id": "7097d0ca-a187-41f4-a19b-ceb523ac78e9",
      "name": "Consulta AFs da Planilha",
      "alwaysOutputData": false,
      "credentials": {
        "microsoftSql": {
          "id": "Eck1dwqEQjiv5hCV",
          "name": "dboAgilus"
        }
      }
    },
    {
      "parameters": {
        "content": "## HORARIO DE TRABALHO \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 300,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "71c0957b-9cf3-4dec-8693-952e86ee8672",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## COLETA DA DADOS AGILUS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 300,
        "width": 1004
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        0
      ],
      "typeVersion": 1,
      "id": "d2fcd37e-38d5-45d5-b42c-aa7d5462d924",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## INTERAÇÃO GOOGLE SHEETS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 380,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        352
      ],
      "typeVersion": 1,
      "id": "4726d0f2-d6f7-4951-a919-8ee9c2d817e6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## CONSULTA CASOS ATUADOS AGILUS DA PLANILHA\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 420,
        "width": 1100
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        352
      ],
      "typeVersion": 1,
      "id": "19c13fbb-e04d-4ea7-be29-2cd330d158cb",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## REMOVE CASOS ATUADOS AGILUS DA PLANILHA\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 740,
        "width": 1252
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1632,
        352
      ],
      "typeVersion": 1,
      "id": "a3820a93-d396-4693-9b8c-92982dee7352",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json['DATA INTEGRADO'] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "options": {
          "includeInputFields": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1360,
        128
      ],
      "id": "ae61d411-83d2-4c19-bb6c-4c75545f415a",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"setDataValidation\": {\n        \"range\": {\n          \"sheetId\": 0,\n          \"startRowIndex\": 1,\n          \"endRowIndex\": {{ $('Get row(s) in sheet').last().json.row_number }},\n          \"startColumnIndex\": 5,\n          \"endColumnIndex\": 6\n        },\n        \"rule\": {\n          \"condition\": {\n            \"type\": \"ONE_OF_LIST\",\n            \"values\": [\n              { \"userEnteredValue\": \"ENVIADO E-MAIL\" },\n              { \"userEnteredValue\": \"REAPRESENTADA\" },\n              { \"userEnteredValue\": \"AGUARDANDO PAG.\" }\n            ]\n          },\n          \"showCustomUi\": true\n        }\n      }\n    },\n    {\n      \"addConditionalFormatRule\": {\n        \"rule\": {\n          \"ranges\": [\n            {\n              \"sheetId\": 0,\n              \"startRowIndex\": 1,\n              \"endRowIndex\": {{ $('Get row(s) in sheet').last().json.row_number }},\n              \"startColumnIndex\": 5,\n              \"endColumnIndex\": 6\n            }\n          ],\n          \"booleanRule\": {\n            \"condition\": { \"type\": \"TEXT_EQ\", \"values\": [{ \"userEnteredValue\": \"ENVIADO E-MAIL\" }] },\n            \"format\": { \"backgroundColor\": { \"red\": 1, \"green\": 0.898, \"blue\": 0.627 } }\n          }\n        },\n        \"index\": 0\n      }\n    },\n    {\n      \"addConditionalFormatRule\": {\n        \"rule\": {\n          \"ranges\": [\n            {\n              \"sheetId\": 0,\n              \"startRowIndex\": 1,\n              \"endRowIndex\": {{ $('Get row(s) in sheet').last().json.row_number }},\n              \"startColumnIndex\": 5,\n              \"endColumnIndex\": 6\n            }\n          ],\n          \"booleanRule\": {\n            \"condition\": { \"type\": \"TEXT_EQ\", \"values\": [{ \"userEnteredValue\": \"REAPRESENTADA\" }] },\n            \"format\": { \"backgroundColor\": { \"red\": 0.831, \"green\": 0.929, \"blue\": 0.737 } }\n          }\n        },\n        \"index\": 1\n      }\n    },\n    {\n      \"addConditionalFormatRule\": {\n        \"rule\": {\n          \"ranges\": [\n            {\n              \"sheetId\": 0,\n              \"startRowIndex\": 1,\n              \"endRowIndex\": {{ $('Get row(s) in sheet').last().json.row_number }},\n              \"startColumnIndex\": 5,\n              \"endColumnIndex\": 6\n            }\n          ],\n          \"booleanRule\": {\n            \"condition\": { \"type\": \"TEXT_EQ\", \"values\": [{ \"userEnteredValue\": \"AGUARDANDO PAG.\" }] },\n            \"format\": { \"backgroundColor\": { \"red\": 0.902, \"green\": 0.812, \"blue\": 0.949 } }\n          }\n        },\n        \"index\": 2\n      }\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        512
      ],
      "id": "2e4944d4-5409-4a34-87e3-2d3319708be9",
      "name": "HTTP Request",
      "executeOnce": true,
      "credentials": {
        "googleOAuth2Api": {
          "id": "KrL2hNKNOxFgZ8Ex",
          "name": "Google account Desenvolvimento"
        },
        "googleSheetsOAuth2Api": {
          "id": "TckYcAKTANWzd2jN",
          "name": "Google Sheets account DEV"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT Af_codigo\nFROM dbo.af \nWHERE Af_codigo = {{ $json[\"CÓDIGO AF\"] }}\nAND faf_codigo != 3;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1312,
        576
      ],
      "id": "6caf7ca6-2c89-4d5a-9e5d-801dd8db9f38",
      "name": "Consulta AFs da Planilha1",
      "alwaysOutputData": false,
      "credentials": {
        "microsoftSql": {
          "id": "Eck1dwqEQjiv5hCV",
          "name": "dboAgilus"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1728,
        448
      ],
      "id": "5567fd89-731a-49a4-9fe3-5919c8dadb80",
      "name": "Merge"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs",
          "mode": "list",
          "cachedResultName": "BKO - Acompanhamento TDs V2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DADOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        160,
        512
      ],
      "id": "ae17dfb5-809c-477d-9978-2786b6d7c08d",
      "name": "Get row(s) in sheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TckYcAKTANWzd2jN",
          "name": "Google Sheets account DEV"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4ae81125-5c07-4e29-a2aa-1a3edcb48094",
              "leftValue": "={{ $json.Bcolib_descricao }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        144
      ],
      "id": "2de0bf76-302a-4894-8b11-e44ab15fd779",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs",
          "mode": "list",
          "cachedResultName": "BKO - Acompanhamento TDs V2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DADOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1264,
        -288
      ],
      "id": "1b3b3357-56ae-4f89-ada7-c0882ffb7ed9",
      "name": "Get row(s) in sheet1",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TckYcAKTANWzd2jN",
          "name": "Google Sheets account DEV"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    Af_codigo,\n    usr_pagamento_ao_cliente\nFROM dbo.af\nWHERE Af_codigo = {{ $json[\"CODIGO AF\"] }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1488,
        -288
      ],
      "id": "815ce83d-b34c-4b7b-b8fc-02f62f853f61",
      "name": "Microsoft SQL",
      "credentials": {
        "microsoftSql": {
          "id": "Eck1dwqEQjiv5hCV",
          "name": "dboAgilus"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs",
          "mode": "list",
          "cachedResultName": "BKO - Acompanhamento TDs V2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DADOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "CODIGO AF",
              "lookupValue": "={{ $json.Af_codigo }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2016,
        32
      ],
      "id": "08955b1f-73a3-4e03-824d-b63f723c9792",
      "name": "Localiza af atualizada1",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TckYcAKTANWzd2jN",
          "name": "Google Sheets account DEV"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs",
          "mode": "list",
          "cachedResultName": "BKO - Acompanhamento TDs V2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DADOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit#gid=0"
        },
        "startIndex": "={{ $json.row_number }}",
        "numberToDelete": "={{ $json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2224,
        32
      ],
      "id": "ffee6aaa-23f7-424b-a0d1-05cfa2988257",
      "name": "Remove AF Atualizada1",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TckYcAKTANWzd2jN",
          "name": "Google Sheets account DEV"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1856,
        32
      ],
      "id": "367b3b6a-5381-4bf1-844e-914a3edc79d4",
      "name": "Wait2",
      "webhookId": "a2aa64d5-d950-496d-9fe7-e76a482c5a16"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2784,
        -224
      ],
      "id": "5f9204b7-61d7-488b-8a94-11f3101fccf3",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1824,
        -288
      ],
      "id": "13287307-3565-4717-89c3-1b5b477be46a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "content": "## REMOVE CASOS ATUADOS AGILUS DA PLANILHA\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 740,
        "width": 1252
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1664,
        -432
      ],
      "typeVersion": 1,
      "id": "c4eebe0d-e420-4963-bed3-f0ba48f1f6f1",
      "name": "Sticky Note5"
    }
  ],
  "connections": {
    "Select status propostas": {
      "main": [
        [
          {
            "node": "Filter Banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Localiza af atualizada": {
      "main": [
        [
          {
            "node": "Remove AF Atualizada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove AF Atualizada": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Localiza af atualizada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organiza Dados": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Adiciona dados": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista dados": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Lista dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Scheduler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scheduler": {
      "main": [
        [
          {
            "node": "Filter tempo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Consulta AFs da Planilha",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta AFs da Planilha1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter tempo": {
      "main": [
        [
          {
            "node": "Select status propostas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Banco": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta AFs da Planilha": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Adiciona dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta AFs da Planilha1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Organiza Dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Localiza af atualizada1": {
      "main": [
        [
          {
            "node": "Remove AF Atualizada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove AF Atualizada1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Localiza af atualizada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 120,
    "availableInMCP": false,
    "binaryMode": "separate",
    "timeSavedMode": "dynamic"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "60048247-7d97-4268-9ada-96ac240e5e02",
  "activeVersionId": "60048247-7d97-4268-9ada-96ac240e5e02",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-04-30T16:02:37.580Z",
      "createdAt": "2025-04-30T16:02:37.580Z",
      "role": "workflow:owner",
      "workflowId": "xghFf0MUEpyA1X18",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-26T13:28:41.176Z",
    "createdAt": "2026-05-26T13:28:37.702Z",
    "versionId": "60048247-7d97-4268-9ada-96ac240e5e02",
    "workflowId": "xghFf0MUEpyA1X18",
    "nodes": [
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT a.Af_codigo, \n       a.Af_data, \n       a.Af_codigo_contrato_banco, \n       a.Af_data_liberacao_banco, \n       r.Rep_superior, \n       r.Rep_nome, \n       r_superior.Rep_nome AS Rep_nome_superior,\n       r_superior.Rep_superior AS Rep_superior_superior,\n       r_superior_2.Rep_nome AS Rep_nome_superior_2,\n       b.Bcolib_codigo,\n       b.Bcolib_descricao,\n       c.Con_codigo,\n       o.Orgav_codigo,\n       o.Orgav_descricao\nFROM dbo.af a\nJOIN dbo.representante r ON a.Rep_codigo = r.Rep_codigo\nLEFT JOIN dbo.representante r_superior ON r.Rep_superior = r_superior.Rep_codigo\nLEFT JOIN dbo.representante r_superior_2 ON r_superior.Rep_superior = r_superior_2.Rep_codigo\nJOIN dbo.bancolib b ON a.Bcolib_codigo = b.Bcolib_codigo\nJOIN dbo.convenio c ON a.Con_codigo = c.Con_codigo\nJOIN dbo.orgaoav o ON c.Orgav_codigo = o.Orgav_codigo\nWHERE YEAR(a.Af_data_liberacao_banco) = YEAR(GETDATE())  -- Ano atual (2025)\nAND YEAR(a.Af_data) = YEAR(GETDATE())                    -- Ano atual (2025)\nAND a.Af_data_liberacao_banco <= DATEADD(DAY, -1, GETDATE()) -- Até ontem\nAND a.Af_data <= DATEADD(DAY, -1, GETDATE())                 -- Até ontem\nAND a.usr_pagamento_ao_cliente IS NULL\nAND a.faf_codigo = 3\nORDER BY a.Af_codigo;\n",
          "options": {}
        },
        "id": "adcf09ae-76a3-42f4-bf25-ee9ca1423659",
        "name": "Select status propostas",
        "type": "n8n-nodes-base.microsoftSql",
        "typeVersion": 1,
        "position": [
          624,
          144
        ],
        "executeOnce": true,
        "credentials": {
          "microsoftSql": {
            "id": "Eck1dwqEQjiv5hCV",
            "name": "dboAgilus"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs",
            "mode": "list",
            "cachedResultName": "BKO - Acompanhamento TDs V2",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "DADOS",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "CODIGO AF",
                "lookupValue": "={{ $json.Af_codigo }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          2368,
          784
        ],
        "id": "a4cc766f-91d2-4632-ad37-4f98a1e030f5",
        "name": "Localiza af atualizada",
        "executeOnce": false,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "TckYcAKTANWzd2jN",
            "name": "Google Sheets account DEV"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "documentId": {
            "__rl": true,
            "value": "1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs",
            "mode": "list",
            "cachedResultName": "BKO - Acompanhamento TDs V2",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "DADOS",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit#gid=0"
          },
          "startIndex": "={{ $json.row_number }}",
          "numberToDelete": "={{ $json.row_number }}"
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          2576,
          784
        ],
        "id": "8635c42b-dda4-4d02-9445-41149903cdce",
        "name": "Remove AF Atualizada",
        "executeOnce": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "TckYcAKTANWzd2jN",
            "name": "Google Sheets account DEV"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          2208,
          784
        ],
        "id": "f8a821e4-16cf-42fc-9d23-b5262d1df761",
        "name": "Wait",
        "webhookId": "a2aa64d5-d950-496d-9fe7-e76a482c5a16"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a7ef7efc-38c8-4ae7-9ba5-a81a112b4e42",
                "name": "DATA INTEGRADO",
                "value": "={{ $json.Af_data_liberacao_banco.toDateTime() }}",
                "type": "string"
              },
              {
                "id": "e4e973b9-9bf2-454d-972f-494265df79a1",
                "name": "BANCO",
                "value": "={{ $json.Bcolib_descricao }}",
                "type": "string"
              },
              {
                "id": "a58bc3ef-57d9-4d33-a7b9-b38a63a1ed43",
                "name": "CODIGO AF",
                "value": "={{ $json.Af_codigo }}",
                "type": "string"
              },
              {
                "id": "fd3f1836-50cc-4ea2-a89e-16d84982738d",
                "name": "NUMERO CONTRATO",
                "value": "={{ $json.Af_codigo_contrato_banco }}",
                "type": "string"
              },
              {
                "id": "31bf27a5-ac63-421a-a872-2d18f4def962",
                "name": "COORDENADOR",
                "value": "={{ $json.Rep_nome_superior_2 }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1184,
          128
        ],
        "id": "e21c5db4-8eb4-4f1a-a72e-56569e73f2a6",
        "name": "Organiza Dados"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs",
            "mode": "list",
            "cachedResultName": "BKO - Acompanhamento TDs V2",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "DADOS",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "BANCO": "={{ $json.BANCO }}",
              "COORDENADOR": "={{ $json.COORDENADOR }}",
              "CODIGO AF": "={{ $json[\"CODIGO AF\"] }}",
              "NUMERO CONTRATO": "={{ $json[\"NUMERO CONTRATO\"] }}",
              "DATA INTEGRADO": "={{ $json.formattedDate }}"
            },
            "matchingColumns": [
              "CODIGO AF"
            ],
            "schema": [
              {
                "id": "DATA INTEGRADO",
                "displayName": "DATA INTEGRADO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "BANCO",
                "displayName": "BANCO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "CODIGO AF",
                "displayName": "CODIGO AF",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "NUMERO CONTRATO",
                "displayName": "NUMERO CONTRATO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "COORDENADOR",
                "displayName": "COORDENADOR",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "STATUS",
                "displayName": "STATUS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "OBSERVAÇÕES",
                "displayName": "OBSERVAÇÕES",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "useAppend": true
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -16,
          512
        ],
        "id": "95e67f1c-2773-4027-88bc-90706aa3afc5",
        "name": "Adiciona dados",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "TckYcAKTANWzd2jN",
            "name": "Google Sheets account DEV"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs",
            "mode": "list",
            "cachedResultName": "BKO - Acompanhamento TDs V2",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "DADOS",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          688,
          512
        ],
        "id": "415b6544-2fe4-4649-8a62-a08319f10d73",
        "name": "Lista dados",
        "alwaysOutputData": false,
        "executeOnce": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "TckYcAKTANWzd2jN",
            "name": "Google Sheets account DEV"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          3136,
          528
        ],
        "id": "acd00c26-2d64-4a2a-a6b1-8d19315662d6",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          512,
          512
        ],
        "id": "fe34fef0-5c9a-48c5-a650-d3e76c2a4ffb",
        "name": "Wait1",
        "webhookId": "89275e99-4a01-4c03-928e-6d211e5d6c2a"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 2
              },
              {
                "field": "weeks",
                "triggerAtDay": [
                  1,
                  2,
                  3,
                  4,
                  5,
                  6
                ],
                "triggerAtHour": 8
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          48,
          144
        ],
        "id": "06a14ce8-d644-420d-bda7-809998aa14d4",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          2192,
          448
        ],
        "id": "8bfad866-3d70-4d86-ab55-9ef79e5bfaf0",
        "name": "Loop Over Items1"
      },
      {
        "parameters": {
          "jsCode": "const startTime = 8;\nconst finishTime = 18;\n\nconst now = new Date();\nconst nowHour = now.getHours();\nconst nowDay = now.getDay();\nif (nowHour >= startTime && nowHour < finishTime && nowDay !== 0) {\n      return {sheduler: true}\n    }\n\n return {sheduler: false}"
        },
        "id": "2528a0d7-eac7-41ed-b35a-4936ad0057d8",
        "name": "Scheduler",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          144
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4d5edb8b-89df-4cc4-bacc-75c4783e956e",
                "name": "CÓDIGO AF",
                "value": "={{ $json[\"CODIGO AF\"] }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1088,
          496
        ],
        "id": "958db286-919f-4c4c-bd99-f6dd81111b3a",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "compare": "selectedFields",
          "fieldsToCompare": "row_number",
          "options": {}
        },
        "type": "n8n-nodes-base.removeDuplicates",
        "typeVersion": 2,
        "position": [
          864,
          512
        ],
        "id": "ca393ab4-2ef4-488b-976e-4ab4bc36ed9c",
        "name": "Remove Duplicates"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.removeDuplicates",
        "typeVersion": 2,
        "position": [
          1904,
          448
        ],
        "id": "0688ff2e-8505-4be2-b357-6277158072a7",
        "name": "Remove Duplicates1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "16f454d5-963a-4cb2-9ee5-cf4fbaf576d4",
                "leftValue": "={{ $json.sheduler }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          400,
          144
        ],
        "id": "4011dbb9-8b40-4c2e-9f83-2dfaea445946",
        "name": "Filter tempo"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c42ebcde-8c3e-4ef9-91df-f102a34f34e5",
                "leftValue": "={{ $json.Bcolib_descricao }}",
                "rightValue": "BANCO INBURSA",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {
            "ignoreCase": false
          }
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          800,
          144
        ],
        "id": "22de4ce4-9a39-448e-bcd0-7d9d9ecc6b89",
        "name": "Filter Banco",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT Af_codigo\nFROM dbo.af \nWHERE Af_codigo = {{ $json[\"CÓDIGO AF\"] }}\nAND usr_pagamento_ao_cliente IS NOT NULL;\n",
          "options": {}
        },
        "type": "n8n-nodes-base.microsoftSql",
        "typeVersion": 1.1,
        "position": [
          1312,
          384
        ],
        "id": "7097d0ca-a187-41f4-a19b-ceb523ac78e9",
        "name": "Consulta AFs da Planilha",
        "alwaysOutputData": false,
        "credentials": {
          "microsoftSql": {
            "id": "Eck1dwqEQjiv5hCV",
            "name": "dboAgilus"
          }
        }
      },
      {
        "parameters": {
          "content": "## HORARIO DE TRABALHO \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 300,
          "width": 540
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1,
        "id": "71c0957b-9cf3-4dec-8693-952e86ee8672",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## COLETA DA DADOS AGILUS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 300,
          "width": 1004
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          592,
          0
        ],
        "typeVersion": 1,
        "id": "d2fcd37e-38d5-45d5-b42c-aa7d5462d924",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## INTERAÇÃO GOOGLE SHEETS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 380,
          "width": 480
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -48,
          352
        ],
        "typeVersion": 1,
        "id": "4726d0f2-d6f7-4951-a919-8ee9c2d817e6",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## CONSULTA CASOS ATUADOS AGILUS DA PLANILHA\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 420,
          "width": 1100
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          464,
          352
        ],
        "typeVersion": 1,
        "id": "19c13fbb-e04d-4ea7-be29-2cd330d158cb",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "## REMOVE CASOS ATUADOS AGILUS DA PLANILHA\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 740,
          "width": 1252
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1632,
          352
        ],
        "typeVersion": 1,
        "id": "a3820a93-d396-4693-9b8c-92982dee7352",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "operation": "formatDate",
          "date": "={{ $json['DATA INTEGRADO'] }}",
          "format": "custom",
          "customFormat": "dd/MM/yyyy",
          "options": {
            "includeInputFields": true
          }
        },
        "type": "n8n-nodes-base.dateTime",
        "typeVersion": 2,
        "position": [
          1360,
          128
        ],
        "id": "ae61d411-83d2-4c19-bb6c-4c75545f415a",
        "name": "Date & Time"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://sheets.googleapis.com/v4/spreadsheets/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs:batchUpdate",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleSheetsOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"requests\": [\n    {\n      \"setDataValidation\": {\n        \"range\": {\n          \"sheetId\": 0,\n          \"startRowIndex\": 1,\n          \"endRowIndex\": {{ $('Get row(s) in sheet').last().json.row_number }},\n          \"startColumnIndex\": 5,\n          \"endColumnIndex\": 6\n        },\n        \"rule\": {\n          \"condition\": {\n            \"type\": \"ONE_OF_LIST\",\n            \"values\": [\n              { \"userEnteredValue\": \"ENVIADO E-MAIL\" },\n              { \"userEnteredValue\": \"REAPRESENTADA\" },\n              { \"userEnteredValue\": \"AGUARDANDO PAG.\" }\n            ]\n          },\n          \"showCustomUi\": true\n        }\n      }\n    },\n    {\n      \"addConditionalFormatRule\": {\n        \"rule\": {\n          \"ranges\": [\n            {\n              \"sheetId\": 0,\n              \"startRowIndex\": 1,\n              \"endRowIndex\": {{ $('Get row(s) in sheet').last().json.row_number }},\n              \"startColumnIndex\": 5,\n              \"endColumnIndex\": 6\n            }\n          ],\n          \"booleanRule\": {\n            \"condition\": { \"type\": \"TEXT_EQ\", \"values\": [{ \"userEnteredValue\": \"ENVIADO E-MAIL\" }] },\n            \"format\": { \"backgroundColor\": { \"red\": 1, \"green\": 0.898, \"blue\": 0.627 } }\n          }\n        },\n        \"index\": 0\n      }\n    },\n    {\n      \"addConditionalFormatRule\": {\n        \"rule\": {\n          \"ranges\": [\n            {\n              \"sheetId\": 0,\n              \"startRowIndex\": 1,\n              \"endRowIndex\": {{ $('Get row(s) in sheet').last().json.row_number }},\n              \"startColumnIndex\": 5,\n              \"endColumnIndex\": 6\n            }\n          ],\n          \"booleanRule\": {\n            \"condition\": { \"type\": \"TEXT_EQ\", \"values\": [{ \"userEnteredValue\": \"REAPRESENTADA\" }] },\n            \"format\": { \"backgroundColor\": { \"red\": 0.831, \"green\": 0.929, \"blue\": 0.737 } }\n          }\n        },\n        \"index\": 1\n      }\n    },\n    {\n      \"addConditionalFormatRule\": {\n        \"rule\": {\n          \"ranges\": [\n            {\n              \"sheetId\": 0,\n              \"startRowIndex\": 1,\n              \"endRowIndex\": {{ $('Get row(s) in sheet').last().json.row_number }},\n              \"startColumnIndex\": 5,\n              \"endColumnIndex\": 6\n            }\n          ],\n          \"booleanRule\": {\n            \"condition\": { \"type\": \"TEXT_EQ\", \"values\": [{ \"userEnteredValue\": \"AGUARDANDO PAG.\" }] },\n            \"format\": { \"backgroundColor\": { \"red\": 0.902, \"green\": 0.812, \"blue\": 0.949 } }\n          }\n        },\n        \"index\": 2\n      }\n    }\n  ]\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          320,
          512
        ],
        "id": "2e4944d4-5409-4a34-87e3-2d3319708be9",
        "name": "HTTP Request",
        "executeOnce": true,
        "credentials": {
          "googleOAuth2Api": {
            "id": "KrL2hNKNOxFgZ8Ex",
            "name": "Google account Desenvolvimento"
          },
          "googleSheetsOAuth2Api": {
            "id": "TckYcAKTANWzd2jN",
            "name": "Google Sheets account DEV"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT Af_codigo\nFROM dbo.af \nWHERE Af_codigo = {{ $json[\"CÓDIGO AF\"] }}\nAND faf_codigo != 3;\n",
          "options": {}
        },
        "type": "n8n-nodes-base.microsoftSql",
        "typeVersion": 1.1,
        "position": [
          1312,
          576
        ],
        "id": "6caf7ca6-2c89-4d5a-9e5d-801dd8db9f38",
        "name": "Consulta AFs da Planilha1",
        "alwaysOutputData": false,
        "credentials": {
          "microsoftSql": {
            "id": "Eck1dwqEQjiv5hCV",
            "name": "dboAgilus"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.1,
        "position": [
          1728,
          448
        ],
        "id": "5567fd89-731a-49a4-9fe3-5919c8dadb80",
        "name": "Merge"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs",
            "mode": "list",
            "cachedResultName": "BKO - Acompanhamento TDs V2",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "DADOS",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          160,
          512
        ],
        "id": "ae17dfb5-809c-477d-9978-2786b6d7c08d",
        "name": "Get row(s) in sheet",
        "executeOnce": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "TckYcAKTANWzd2jN",
            "name": "Google Sheets account DEV"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "4ae81125-5c07-4e29-a2aa-1a3edcb48094",
                "leftValue": "={{ $json.Bcolib_descricao }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1008,
          144
        ],
        "id": "2de0bf76-302a-4894-8b11-e44ab15fd779",
        "name": "If"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs",
            "mode": "list",
            "cachedResultName": "BKO - Acompanhamento TDs V2",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "DADOS",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          1264,
          -288
        ],
        "id": "1b3b3357-56ae-4f89-ada7-c0882ffb7ed9",
        "name": "Get row(s) in sheet1",
        "executeOnce": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "TckYcAKTANWzd2jN",
            "name": "Google Sheets account DEV"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    Af_codigo,\n    usr_pagamento_ao_cliente\nFROM dbo.af\nWHERE Af_codigo = {{ $json[\"CODIGO AF\"] }}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.microsoftSql",
        "typeVersion": 1.1,
        "position": [
          1488,
          -288
        ],
        "id": "815ce83d-b34c-4b7b-b8fc-02f62f853f61",
        "name": "Microsoft SQL",
        "credentials": {
          "microsoftSql": {
            "id": "Eck1dwqEQjiv5hCV",
            "name": "dboAgilus"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs",
            "mode": "list",
            "cachedResultName": "BKO - Acompanhamento TDs V2",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "DADOS",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "CODIGO AF",
                "lookupValue": "={{ $json.Af_codigo }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          2016,
          32
        ],
        "id": "08955b1f-73a3-4e03-824d-b63f723c9792",
        "name": "Localiza af atualizada1",
        "executeOnce": false,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "TckYcAKTANWzd2jN",
            "name": "Google Sheets account DEV"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "documentId": {
            "__rl": true,
            "value": "1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs",
            "mode": "list",
            "cachedResultName": "BKO - Acompanhamento TDs V2",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "DADOS",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWItkzzB3Iy2vH1HtkvpWBsQZWfCuw-xm93ObnkliHs/edit#gid=0"
          },
          "startIndex": "={{ $json.row_number }}",
          "numberToDelete": "={{ $json.row_number }}"
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          2224,
          32
        ],
        "id": "ffee6aaa-23f7-424b-a0d1-05cfa2988257",
        "name": "Remove AF Atualizada1",
        "executeOnce": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "TckYcAKTANWzd2jN",
            "name": "Google Sheets account DEV"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1856,
          32
        ],
        "id": "367b3b6a-5381-4bf1-844e-914a3edc79d4",
        "name": "Wait2",
        "webhookId": "a2aa64d5-d950-496d-9fe7-e76a482c5a16"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          2784,
          -224
        ],
        "id": "5f9204b7-61d7-488b-8a94-11f3101fccf3",
        "name": "No Operation, do nothing1"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1824,
          -288
        ],
        "id": "13287307-3565-4717-89c3-1b5b477be46a",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "content": "## REMOVE CASOS ATUADOS AGILUS DA PLANILHA\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 740,
          "width": 1252
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1664,
          -432
        ],
        "typeVersion": 1,
        "id": "c4eebe0d-e420-4963-bed3-f0ba48f1f6f1",
        "name": "Sticky Note5"
      }
    ],
    "connections": {
      "Select status propostas": {
        "main": [
          [
            {
              "node": "Filter Banco",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Localiza af atualizada": {
        "main": [
          [
            {
              "node": "Remove AF Atualizada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove AF Atualizada": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Localiza af atualizada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Organiza Dados": {
        "main": [
          [
            {
              "node": "Date & Time",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Adiciona dados": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lista dados": {
        "main": [
          [
            {
              "node": "Remove Duplicates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Lista dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Scheduler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items1": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Scheduler": {
        "main": [
          [
            {
              "node": "Filter tempo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Consulta AFs da Planilha",
              "type": "main",
              "index": 0
            },
            {
              "node": "Consulta AFs da Planilha1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove Duplicates": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove Duplicates1": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter tempo": {
        "main": [
          [
            {
              "node": "Select status propostas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Banco": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consulta AFs da Planilha": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Date & Time": {
        "main": [
          [
            {
              "node": "Adiciona dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Remove Duplicates1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consulta AFs da Planilha1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Organiza Dados",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get row(s) in sheet1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet1": {
        "main": [
          [
            {
              "node": "Microsoft SQL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Localiza af atualizada1": {
        "main": [
          [
            {
              "node": "Remove AF Atualizada1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove AF Atualizada1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait2": {
        "main": [
          [
            {
              "node": "Localiza af atualizada1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Microsoft SQL": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Suporte MDG Suporte",
    "name": "Version 60048247",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2025-02-20T16:29:31.422Z",
      "createdAt": "2025-02-20T16:29:31.422Z",
      "id": "XZLWvH2vm1NnuOvm",
      "name": "Comercial"
    }
  ]
}