Comercial/Y0x4L8y7TsQ1BKP3.json
{
  "updatedAt": "2025-04-15T18:36:59.818Z",
  "createdAt": "2025-02-22T11:47:35.649Z",
  "id": "Y0x4L8y7TsQ1BKP3",
  "name": "Higenizador - Vanguard Dados",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3678e50b-62b2-4948-8818-6fdbcaff63c1",
              "name": "NOME",
              "value": "={{ $json.NOME }}",
              "type": "string"
            },
            {
              "id": "cb7e9b59-698b-4b8a-96d4-e6635bbb4f88",
              "name": "TELEFONE1",
              "value": "={{ $json.TELEFONE1 }}",
              "type": "string"
            },
            {
              "id": "5df40063-8bca-4990-ba77-bea627b39936",
              "name": "TELEFONE2",
              "value": "={{ $json.TELEFONE2 }}",
              "type": "string"
            },
            {
              "id": "02e48c65-2d1a-425b-90f8-7b05675a567f",
              "name": "TELEFONE3",
              "value": "={{ $json.TELEFONE3 }}",
              "type": "string"
            },
            {
              "id": "cae16fc6-86bc-4690-b3c1-803e7c94ee5d",
              "name": "TELEFONE4",
              "value": "={{ $json.TELEFONE4 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1400,
        -80
      ],
      "id": "7d6f50b0-42b8-45b1-8fb9-f19f0f4ca3e1",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "573a69f3-7aef-4f2e-9d59-09e5fc7d1d93",
              "leftValue": "={{ $json.TELEFONE1 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "1186e0eb-fb94-49ac-8bdb-60aaa50b7172",
              "leftValue": "={{ $json.TELEFONE1 }}",
              "rightValue": "=^\\(?\\d{2}\\)?\\s?9\\d{4}[-.\\s]?\\d{4}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1920,
        -240
      ],
      "id": "f230a06b-ec61-4e87-ab4f-cb90de0bf9d4",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "efbdc5d4-c685-4d93-8856-6ba84bad45fd",
              "leftValue": "={{ $json.TELEFONE2 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "d21bb412-3332-4f4d-a0c5-274fc5f24ba1",
              "leftValue": "={{ $json.TELEFONE2 }}",
              "rightValue": "^\\(?\\d{2}\\)?\\s?9\\d{4}[-.\\s]?\\d{4}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1920,
        -20
      ],
      "id": "03214f95-b47b-4a04-8e22-a9e6ccb2938b",
      "name": "Filter1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "79e22856-e7bd-4672-bf36-dececad409a3",
              "leftValue": "={{ $json.TELEFONE3 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "1b07a02d-24d9-4464-96c8-2381dacaa4a5",
              "leftValue": "={{ $json.TELEFONE3 }}",
              "rightValue": "^\\(?\\d{2}\\)?\\s?9\\d{4}[-.\\s]?\\d{4}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1920,
        200
      ],
      "id": "9bd784de-64ea-4aa1-a46d-03746cab7ef4",
      "name": "Filter2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e08e1c61-8daf-4a88-ba44-a84055c7cedb",
              "name": "CPF",
              "value": "={{ $json.data[0].CPFCNPJ }}",
              "type": "string"
            },
            {
              "id": "f9b75f67-fcea-4cc2-84dc-eb7c6fa68298",
              "name": "NOME",
              "value": "={{ $json.data[0].NOME }}",
              "type": "string"
            },
            {
              "id": "24131b16-796d-4b08-a233-6a8dc5a7938d",
              "name": "TELEFONE",
              "value": "={{ $json.data[0].TELEFONE }}",
              "type": "string"
            },
            {
              "id": "86205313-2cb5-422f-8d5b-b6469176d918",
              "name": "WHATSAPP ",
              "value": "={{ $json.data[0].whatsapp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2340,
        -240
      ],
      "id": "5cf3943f-7ed2-4f52-a05c-b664219316ee",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "url": "http://10.3.60.14:9001/api/v1/credilink/search/wsdl/phone",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.TELEFONE3 }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ***REDACTED***"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 100000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        200
      ],
      "id": "e3246f3a-625a-49d7-ae50-0127c08fc004",
      "name": "Consulta Telefone 3",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "http://10.3.60.14:9001/api/v1/credilink/search/wsdl/phone",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.TELEFONE2 }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ***REDACTED***"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 100000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        -20
      ],
      "id": "638f6fa8-f17e-46bc-8080-60e90c5c0925",
      "name": "Consulta Telefone 2",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "http://10.3.60.14:9001/api/v1/credilink/search/wsdl/phone",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.TELEFONE1 }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ***REDACTED***"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 100000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        -240
      ],
      "id": "3a40b3aa-7b50-4c2e-8d17-69484549d246",
      "name": "Consulta Telefone 1",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "49fc582b-e7ca-42ce-93ab-90fca132be74",
              "name": "CPF",
              "value": "={{ $json.data[0].CPFCNPJ }}",
              "type": "string"
            },
            {
              "id": "aa015aca-f9d5-4e76-ab1f-30afbf5f9447",
              "name": "NOME",
              "value": "={{ $json.data[0].NOME }}",
              "type": "string"
            },
            {
              "id": "f43c3842-1189-41c6-85a0-d75e67b936ee",
              "name": "TELEFONE",
              "value": "={{ $json.data[0].TELEFONE }}",
              "type": "string"
            },
            {
              "id": "0296cc6a-6f27-49bd-8b78-e201d6159a44",
              "name": "WHATSAPP ",
              "value": "={{ $json.data[0].whatsapp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2340,
        -20
      ],
      "id": "7e245934-27d0-4264-84f6-5b1a2dc478f7",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "82aff278-ec6f-47db-86e5-2a0cc00cfeaf",
              "name": "CPF",
              "value": "={{ $json.data[0].CPFCNPJ }}",
              "type": "string"
            },
            {
              "id": "f9b75f67-fcea-4cc2-84dc-eb7c6fa68298",
              "name": "NOME",
              "value": "={{ $json.data[0].NOME }}",
              "type": "string"
            },
            {
              "id": "24131b16-796d-4b08-a233-6a8dc5a7938d",
              "name": "TELEFONE",
              "value": "={{ $json.data[0].TELEFONE }}",
              "type": "string"
            },
            {
              "id": "89b0a46c-2b2d-4b3d-a0e6-9b3c680303fe",
              "name": "WHATSAPP ",
              "value": "={{ $json.data[0].whatsapp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2340,
        200
      ],
      "id": "4742b1cb-97d2-4d11-b547-c3379943d740",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0dcbca11-d285-4d41-a144-eed2e1571761",
              "name": "CPF",
              "value": "={{ $json.data[0].CPFCNPJ }}",
              "type": "string"
            },
            {
              "id": "f9b75f67-fcea-4cc2-84dc-eb7c6fa68298",
              "name": "NOME",
              "value": "={{ $json.data[0].NOME }}",
              "type": "string"
            },
            {
              "id": "24131b16-796d-4b08-a233-6a8dc5a7938d",
              "name": "TELEFONE",
              "value": "={{ $json.data[0].TELEFONE }}",
              "type": "string"
            },
            {
              "id": "cb4c5416-9238-4c03-bdd0-946d51789a9d",
              "name": "{{ $json.data[0].whatsapp }}",
              "value": "={{ $json.data[0].whatsapp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2340,
        420
      ],
      "id": "8d9d1a17-b3bb-4fc2-b8d0-630f82f1600c",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2620,
        40
      ],
      "id": "7fcc0060-8afc-46fc-89f4-76b505c650dd",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "NOME",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1000,
        920
      ],
      "id": "4da1162d-f7f1-46a1-97b0-2b112f2e2309",
      "name": "Merge1",
      "onError": "continueErrorOutput",
      "notes": "Sem WhatsApp "
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d35397f-cbf2-4259-8832-8d49cbc289bb",
              "name": "NOME",
              "value": "={{ $json.NOME }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1380,
        160
      ],
      "id": "ebcd76dd-de04-436b-84fe-a8bf6d969d0a",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "TELEFONE",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1220,
        900
      ],
      "id": "d7aa77c1-e231-4f6c-b76b-1fd79d15f8d8",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "87ebe782-51d7-4f81-8b02-db2797cfc4e4",
              "name": "CPF",
              "value": "={{ $json.CPF.trim() }}",
              "type": "string"
            },
            {
              "id": "0cf48e89-6f33-48b7-9957-d2310b60dd38",
              "name": "NOME",
              "value": "={{ $json.NOME.trim() }}",
              "type": "string"
            },
            {
              "id": "75f5203b-233a-45a7-9dbf-281f677adfd5",
              "name": "TELEFONE_1",
              "value": "={{ $json[\"TELEFONE 1\"].trim() }}",
              "type": "string"
            },
            {
              "id": "b3f87e3f-54d1-4866-abac-46af0771de5a",
              "name": "TELEFONE_2",
              "value": "={{ $json[\"TELEFONE 2\"].trim() }}",
              "type": "string"
            },
            {
              "id": "f79b9494-d4ac-489d-bb3d-cf53566918e8",
              "name": "TELEFONE_3",
              "value": "={{ $json[\"TELEFONE 3\"].trim() }}",
              "type": "string"
            },
            {
              "id": "678bedd4-7300-435b-9e38-503b2390867f",
              "name": "TELEFONE_4",
              "value": "={{ $json[\"TELEFONE 4\"].trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1580,
        900
      ],
      "id": "210fd00b-6548-4938-8da1-2437fad3f6f5",
      "name": "Organiza Dados"
    },
    {
      "parameters": {
        "content": "## CONSULTA TELEFONE CREDILUS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 1000,
        "width": 860
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1880,
        -400
      ],
      "typeVersion": 1,
      "id": "227c557c-2c6d-4c45-8b85-31a916dcb46b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## RECEBE DADOS DRIVER\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 740,
        "width": 1020
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        680,
        -340
      ],
      "typeVersion": 1,
      "id": "efa01034-c2a7-467d-8ddb-9c45407094c9",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "url": "http://10.3.60.14:9001/api/v1/credilink/search/wsdl/phone",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.TELEFONE4 }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ***REDACTED***"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 100000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        420
      ],
      "id": "c9357608-ac9d-45e6-8921-b0e62e5ae571",
      "name": "Consulta TELEFONE 4",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "queue": "higenizador_vanguard",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "xqueue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "durable": true,
          "parallelMessages": 30
        }
      },
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        800,
        -80
      ],
      "id": "1b946896-3f6e-4688-b67e-6841581d90ad",
      "name": "RabbitMQ Trigger",
      "credentials": {
        "rabbitmq": {
          "id": "8S2CCfj4pf5t6xWv",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b124c737-09cc-4b87-a983-3cdae95a976f",
              "name": "NOME",
              "value": "={{ $json.content.parseJson().NOME.trim() }}",
              "type": "string"
            },
            {
              "id": "7c018edb-55ab-4153-945d-afce75e26ec8",
              "name": "TELEFONE1",
              "value": "={{ $json.content.parseJson().TELEFONE1 }}",
              "type": "string"
            },
            {
              "id": "73522027-cdd8-4a10-9f2e-1da2c03ac9e9",
              "name": "TELEFONE2",
              "value": "={{ $json.content.parseJson().TELEFONE2 }}",
              "type": "string"
            },
            {
              "id": "aea80eff-09d8-43c0-bf35-86fafa40d4c5",
              "name": "TELEFONE3",
              "value": "={{ $json.content.parseJson().TELEFONE3}}",
              "type": "string"
            },
            {
              "id": "2a78ae0d-27c5-43fb-b211-7b91a05d431c",
              "name": "TELEFONE4",
              "value": "={{ $json.content.parseJson().TELEFONE4 }}",
              "type": "string"
            },
            {
              "id": "595448b7-580d-479f-809f-446cfa493a28",
              "name": "EMAIL",
              "value": "={{ $json.content.parseJson().driver.EMAIL.trim() }}",
              "type": "string"
            },
            {
              "id": "66dad640-88e1-4a68-912c-d67192f50cba",
              "name": "AquivoName",
              "value": "={{ $json.content.parseJson().driver.AquivoName.trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1060,
        -80
      ],
      "id": "b1de931c-44c1-433a-8d44-df49a371717e",
      "name": "Dados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cf4f5a5f-2849-4b63-857e-5b0171cb4ab4",
              "leftValue": "={{ $json.TELEFONE4 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "c5d57b41-d44a-4dc6-b4bb-15c1b2609dee",
              "leftValue": "={{ $json.TELEFONE4 }}",
              "rightValue": "^\\(?\\d{2}\\)?\\s?9\\d{4}[-.\\s]?\\d{4}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1920,
        420
      ],
      "id": "feb5dce5-00a6-4076-816b-0ec0c3d98407",
      "name": "Filter3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1360,
        1260
      ],
      "id": "884751c1-2bb7-43a0-838a-6af489a67e9c",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "content": "## Organiza dados e insere na planilha\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 820,
        "width": 1500
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        660,
        620
      ],
      "typeVersion": 1,
      "id": "6e541ba5-5963-4d71-8cd0-f70a7d3680f3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "889444c4-17ac-4d43-9911-571636fa1ade",
              "leftValue": "={{ $json['WHATSAPP '] }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        740,
        900
      ],
      "id": "07ed6320-7c0d-43e5-8ee5-fc33b26dfef1",
      "name": "Tem WhatsApp"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst groupedData = {};\n\n// Agrupa os registros por CPF e armazena os telefones em uma lista\nitems.forEach(item => {\n    const { CPF, NOME, TELEFONE } = item.json;\n\n    if (!groupedData[CPF]) {\n        groupedData[CPF] = { CPF, NOME, TELEFONES: new Set() };\n    }\n\n    // Adiciona os telefones em um Set para evitar duplicatas\n    groupedData[CPF].TELEFONES.add(TELEFONE);\n});\n\n// Converte para o formato de saída esperado\nconst output = Object.values(groupedData).map(({ CPF, NOME, TELEFONES }) => {\n    const result = { CPF, NOME };\n    \n    // Converte o Set para Array e garante que tenha 4 telefones, preenchendo com null se necessário\n    const telefoneArray = Array.from(TELEFONES);\n    while (telefoneArray.length < 4) {\n        telefoneArray.push(null);\n    }\n\n    // Adiciona os telefones como TELEFONE 1, TELEFONE 2, ..., TELEFONE 4\n    telefoneArray.forEach((tel, index) => {\n        result[`TELEFONE ${index + 1}`] = tel;\n    });\n\n    return { json: result };\n});\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        900
      ],
      "id": "e6b7cab4-3ee5-4b04-b46f-d0fcc5d066bf",
      "name": "Merge telefones"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Dados').first().json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ul0tgR435FJSwlJUVgWlznw7wyKkEmB1SBXIm5wcEXA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CPF": "={{ $json.CPF }}",
            "NOME": "={{ $json.NOME }}",
            "TELEFONE 1": "={{ $json['TELEFONE 1'] }}",
            "TELEFONE  2": "={{ $json['TELEFONE 2'] }}",
            "TELEFONE  3": "={{ $json['TELEFONE 3'] }}",
            "TELEFONE 4": "={{ $json['TELEFONE 4'] }}"
          },
          "matchingColumns": [
            "CPF"
          ],
          "schema": [
            {
              "id": "CPF",
              "displayName": "CPF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE 1",
              "displayName": "TELEFONE 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE  2",
              "displayName": "TELEFONE  2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE  3",
              "displayName": "TELEFONE  3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE 4",
              "displayName": "TELEFONE 4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2280,
        900
      ],
      "id": "810974f7-334b-4a09-b22f-3470a8e8487f",
      "name": "Insere planilha",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TckYcAKTANWzd2jN",
          "name": "Google Sheets account DEV"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2300,
        1180
      ],
      "id": "7e2585a6-1dda-410a-860d-18e95ca11001",
      "name": "Wait",
      "webhookId": "9b9ce239-8430-4f75-b72d-ab1cbf81d9fd"
    },
    {
      "parameters": {
        "url": "http://10.3.60.31:15672/api/queues/%2F/higenizador_vanguard",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2480,
        900
      ],
      "id": "b40a2a2c-be03-47e1-a30a-6cdf8ad166eb",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "ZbqYo9qALBnrHiBt",
          "name": "RabbitMQ User"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4612a8f9-6298-4333-b902-90aef6f93dc1",
              "leftValue": "={{ $json.messages }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2660,
        900
      ],
      "id": "a4485eae-0748-48f9-9936-a8727029b17e",
      "name": "Filter4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolutionapi-dev.mdgintermediacoes.com.br/message/sendText/SUPORTE ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "s84p04mxmhmy429fysif1"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"delay\": 5, \"number\": \"5519993418990\",\"textMessage\": {\"text\":\"terminou a higienização\" }}\n",
        "options": {}
      },
      "id": "3f7d2b00-b884-4747-9145-23b27a6b1eff",
      "name": "InformTiBloqueados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        900
      ],
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "vanguard",
          "mode": "list",
          "cachedResultName": "vanguard"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "cpf",
        "valueToMatchOn": "={{ $json.CPF }}",
        "valuesToSend": {
          "values": [
            {
              "column": "name",
              "value": "={{ $json.NOME }}"
            },
            {
              "column": "phone_1",
              "value": "={{ $json.TELEFONE_1 }}"
            },
            {
              "column": "phone_2",
              "value": "={{ $json.TELEFONE_2 }}"
            },
            {
              "column": "phone_3",
              "value": "={{ $json.TELEFONE_3 }}"
            },
            {
              "column": "phone_4",
              "value": "={{ $json.TELEFONE_4 }}"
            },
            {
              "column": "work_name",
              "value": "={{ $('Dados').first().json.AquivoName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1800,
        900
      ],
      "id": "b2fd473f-c06a-49ce-8bce-3c3983f6f16d",
      "name": "MySQL",
      "retryOnFail": true,
      "credentials": {
        "mySql": {
          "id": "J1LWSbgBGGJo2kdj",
          "name": "Sanitizes"
        }
      }
    },
    {
      "parameters": {
        "content": "## OLd\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 860,
        "width": 840
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2220,
        640
      ],
      "typeVersion": 1,
      "id": "d2dfeca6-60a7-4705-8c45-5051fa41a395",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DaxZz3WETrVKZz8z",
          "mode": "list",
          "cachedResultName": "Higenizador - Gera planilha"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1420,
        -760
      ],
      "id": "74337b2d-cc67-4124-91af-42c45ca27c75",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4612a8f9-6298-4333-b902-90aef6f93dc1",
              "leftValue": "={{ $json.messages }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        940,
        -760
      ],
      "id": "2af5ff2f-807f-49d0-b93f-19aee3dc0444",
      "name": "Filter5"
    },
    {
      "parameters": {
        "url": "http://10.3.60.31:15672/api/queues/%2F/higenizador_vanguard",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -760
      ],
      "id": "6e1b345d-8a63-45f6-8a0a-223cf3921f67",
      "name": "HTTP Request1",
      "credentials": {
        "httpBasicAuth": {
          "id": "ZbqYo9qALBnrHiBt",
          "name": "RabbitMQ User"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b124c737-09cc-4b87-a983-3cdae95a976f",
              "name": "NOME",
              "value": "={{ $('RabbitMQ Trigger').first().json.content.parseJson().NOME }}",
              "type": "string"
            },
            {
              "id": "7c018edb-55ab-4153-945d-afce75e26ec8",
              "name": "TELEFONE1",
              "value": "={{ $('RabbitMQ Trigger').first().json.content.parseJson().TELEFONE1 }}",
              "type": "string"
            },
            {
              "id": "73522027-cdd8-4a10-9f2e-1da2c03ac9e9",
              "name": "TELEFONE2",
              "value": "={{ $('RabbitMQ Trigger').first().json.content.parseJson().TELEFONE2 }}",
              "type": "string"
            },
            {
              "id": "aea80eff-09d8-43c0-bf35-86fafa40d4c5",
              "name": "TELEFONE3",
              "value": "={{ $('RabbitMQ Trigger').first().json.content.parseJson().TELEFONE3 }}",
              "type": "string"
            },
            {
              "id": "2a78ae0d-27c5-43fb-b211-7b91a05d431c",
              "name": "TELEFONE4",
              "value": "={{ $('RabbitMQ Trigger').first().json.content.parseJson().TELEFONE4 }}",
              "type": "string"
            },
            {
              "id": "595448b7-580d-479f-809f-446cfa493a28",
              "name": "EMAIL",
              "value": "={{ $('RabbitMQ Trigger').first().json.content.parseJson().driver.EMAIL }}",
              "type": "string"
            },
            {
              "id": "66dad640-88e1-4a68-912c-d67192f50cba",
              "name": "AquivoName",
              "value": "={{ $('RabbitMQ Trigger').first().json.content.parseJson().driver.AquivoName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1140,
        -760
      ],
      "id": "b0446e56-a625-489d-9903-6836d71cf87d",
      "name": "Dados1"
    },
    {
      "parameters": {
        "content": "## INFORMA FILA \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 380,
        "width": 980
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        660,
        -920
      ],
      "typeVersion": 1,
      "id": "6a711407-3bf9-4e14-a8b8-e15216de91e0",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        900
      ],
      "id": "07942de9-153c-4832-be0f-bfffe605d7f2",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1640,
        -760
      ],
      "id": "7e81b157-9a6a-4564-b46d-b95180fa5a05",
      "name": "No Operation, do nothing2"
    }
  ],
  "connections": {
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Consulta Telefone 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Consulta Telefone 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Consulta Telefone 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Telefone 1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Telefone 2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Telefone 3": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Tem WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Merge telefones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organiza Dados": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta TELEFONE 4": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ Trigger": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "Consulta TELEFONE 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem WhatsApp": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge telefones": {
      "main": [
        [
          {
            "node": "Organiza Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Insere planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insere planilha": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Filter4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter4": {
      "main": [
        [
          {
            "node": "InformTiBloqueados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Filter5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter5": {
      "main": [
        [
          {
            "node": "Dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados1": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-02-21T15:34:00Z"
    },
    "node:Google Drive Trigger1": {
      "lastTimeChecked": "2025-02-21T15:34:01Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "RabbitMQ Trigger": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-h5I6m5j_ukJlJRP7eMermg",
            "deliveryTag": 500,
            "redelivered": false,
            "exchange": "",
            "routingKey": "higenizador_vanguard"
          },
          "properties": {
            "headers": {}
          },
          "content": "{\"NOME\":\"ROSALINA DA SILVA GAMA\",\"TELEFONE1\":\"11954298160\",\"TELEFONE2\":null,\"TELEFONE3\":null,\"TELEFONE4\":null,\"driver\":{\"EMAIL\":\"felipe.ferreira@mdgintermediacoes.com.br\",\"AquivoName\":\"NÃO TOMADOR LUANA.xlsx\"}}"
        }
      }
    ]
  },
  "versionId": "d9b7d7c0-65a4-4303-94c3-42c9070297e9",
  "activeVersionId": "d9b7d7c0-65a4-4303-94c3-42c9070297e9",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-02-22T11:47:35.649Z",
      "createdAt": "2025-02-22T11:47:35.649Z",
      "role": "workflow:owner",
      "workflowId": "Y0x4L8y7TsQ1BKP3",
      "projectId": "WKaFGMA1xkhJiQjY"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-11-29T01:50:38.405Z",
    "createdAt": "2025-11-29T01:50:38.405Z",
    "versionId": "d9b7d7c0-65a4-4303-94c3-42c9070297e9",
    "workflowId": "Y0x4L8y7TsQ1BKP3",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3678e50b-62b2-4948-8818-6fdbcaff63c1",
                "name": "NOME",
                "value": "={{ $json.NOME }}",
                "type": "string"
              },
              {
                "id": "cb7e9b59-698b-4b8a-96d4-e6635bbb4f88",
                "name": "TELEFONE1",
                "value": "={{ $json.TELEFONE1 }}",
                "type": "string"
              },
              {
                "id": "5df40063-8bca-4990-ba77-bea627b39936",
                "name": "TELEFONE2",
                "value": "={{ $json.TELEFONE2 }}",
                "type": "string"
              },
              {
                "id": "02e48c65-2d1a-425b-90f8-7b05675a567f",
                "name": "TELEFONE3",
                "value": "={{ $json.TELEFONE3 }}",
                "type": "string"
              },
              {
                "id": "cae16fc6-86bc-4690-b3c1-803e7c94ee5d",
                "name": "TELEFONE4",
                "value": "={{ $json.TELEFONE4 }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1400,
          -80
        ],
        "id": "7d6f50b0-42b8-45b1-8fb9-f19f0f4ca3e1",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "573a69f3-7aef-4f2e-9d59-09e5fc7d1d93",
                "leftValue": "={{ $json.TELEFONE1 }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "1186e0eb-fb94-49ac-8bdb-60aaa50b7172",
                "leftValue": "={{ $json.TELEFONE1 }}",
                "rightValue": "=^\\(?\\d{2}\\)?\\s?9\\d{4}[-.\\s]?\\d{4}$",
                "operator": {
                  "type": "string",
                  "operation": "regex"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          1920,
          -240
        ],
        "id": "f230a06b-ec61-4e87-ab4f-cb90de0bf9d4",
        "name": "Filter"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "efbdc5d4-c685-4d93-8856-6ba84bad45fd",
                "leftValue": "={{ $json.TELEFONE2 }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "d21bb412-3332-4f4d-a0c5-274fc5f24ba1",
                "leftValue": "={{ $json.TELEFONE2 }}",
                "rightValue": "^\\(?\\d{2}\\)?\\s?9\\d{4}[-.\\s]?\\d{4}$",
                "operator": {
                  "type": "string",
                  "operation": "regex"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          1920,
          -20
        ],
        "id": "03214f95-b47b-4a04-8e22-a9e6ccb2938b",
        "name": "Filter1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "79e22856-e7bd-4672-bf36-dececad409a3",
                "leftValue": "={{ $json.TELEFONE3 }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "1b07a02d-24d9-4464-96c8-2381dacaa4a5",
                "leftValue": "={{ $json.TELEFONE3 }}",
                "rightValue": "^\\(?\\d{2}\\)?\\s?9\\d{4}[-.\\s]?\\d{4}$",
                "operator": {
                  "type": "string",
                  "operation": "regex"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          1920,
          200
        ],
        "id": "9bd784de-64ea-4aa1-a46d-03746cab7ef4",
        "name": "Filter2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e08e1c61-8daf-4a88-ba44-a84055c7cedb",
                "name": "CPF",
                "value": "={{ $json.data[0].CPFCNPJ }}",
                "type": "string"
              },
              {
                "id": "f9b75f67-fcea-4cc2-84dc-eb7c6fa68298",
                "name": "NOME",
                "value": "={{ $json.data[0].NOME }}",
                "type": "string"
              },
              {
                "id": "24131b16-796d-4b08-a233-6a8dc5a7938d",
                "name": "TELEFONE",
                "value": "={{ $json.data[0].TELEFONE }}",
                "type": "string"
              },
              {
                "id": "86205313-2cb5-422f-8d5b-b6469176d918",
                "name": "WHATSAPP ",
                "value": "={{ $json.data[0].whatsapp }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2340,
          -240
        ],
        "id": "5cf3943f-7ed2-4f52-a05c-b664219316ee",
        "name": "Edit Fields2"
      },
      {
        "parameters": {
          "url": "http://10.3.60.14:9001/api/v1/credilink/search/wsdl/phone",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "={{ $json.TELEFONE3 }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer ***REDACTED***"
              }
            ]
          },
          "options": {
            "allowUnauthorizedCerts": true,
            "timeout": 100000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2120,
          200
        ],
        "id": "e3246f3a-625a-49d7-ae50-0127c08fc004",
        "name": "Consulta Telefone 3",
        "retryOnFail": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "http://10.3.60.14:9001/api/v1/credilink/search/wsdl/phone",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "={{ $json.TELEFONE2 }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer ***REDACTED***"
              }
            ]
          },
          "options": {
            "allowUnauthorizedCerts": true,
            "timeout": 100000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2120,
          -20
        ],
        "id": "638f6fa8-f17e-46bc-8080-60e90c5c0925",
        "name": "Consulta Telefone 2",
        "retryOnFail": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "http://10.3.60.14:9001/api/v1/credilink/search/wsdl/phone",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "={{ $json.TELEFONE1 }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer ***REDACTED***"
              }
            ]
          },
          "options": {
            "allowUnauthorizedCerts": true,
            "timeout": 100000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2120,
          -240
        ],
        "id": "3a40b3aa-7b50-4c2e-8d17-69484549d246",
        "name": "Consulta Telefone 1",
        "retryOnFail": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "49fc582b-e7ca-42ce-93ab-90fca132be74",
                "name": "CPF",
                "value": "={{ $json.data[0].CPFCNPJ }}",
                "type": "string"
              },
              {
                "id": "aa015aca-f9d5-4e76-ab1f-30afbf5f9447",
                "name": "NOME",
                "value": "={{ $json.data[0].NOME }}",
                "type": "string"
              },
              {
                "id": "f43c3842-1189-41c6-85a0-d75e67b936ee",
                "name": "TELEFONE",
                "value": "={{ $json.data[0].TELEFONE }}",
                "type": "string"
              },
              {
                "id": "0296cc6a-6f27-49bd-8b78-e201d6159a44",
                "name": "WHATSAPP ",
                "value": "={{ $json.data[0].whatsapp }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2340,
          -20
        ],
        "id": "7e245934-27d0-4264-84f6-5b1a2dc478f7",
        "name": "Edit Fields3"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "82aff278-ec6f-47db-86e5-2a0cc00cfeaf",
                "name": "CPF",
                "value": "={{ $json.data[0].CPFCNPJ }}",
                "type": "string"
              },
              {
                "id": "f9b75f67-fcea-4cc2-84dc-eb7c6fa68298",
                "name": "NOME",
                "value": "={{ $json.data[0].NOME }}",
                "type": "string"
              },
              {
                "id": "24131b16-796d-4b08-a233-6a8dc5a7938d",
                "name": "TELEFONE",
                "value": "={{ $json.data[0].TELEFONE }}",
                "type": "string"
              },
              {
                "id": "89b0a46c-2b2d-4b3d-a0e6-9b3c680303fe",
                "name": "WHATSAPP ",
                "value": "={{ $json.data[0].whatsapp }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2340,
          200
        ],
        "id": "4742b1cb-97d2-4d11-b547-c3379943d740",
        "name": "Edit Fields4"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0dcbca11-d285-4d41-a144-eed2e1571761",
                "name": "CPF",
                "value": "={{ $json.data[0].CPFCNPJ }}",
                "type": "string"
              },
              {
                "id": "f9b75f67-fcea-4cc2-84dc-eb7c6fa68298",
                "name": "NOME",
                "value": "={{ $json.data[0].NOME }}",
                "type": "string"
              },
              {
                "id": "24131b16-796d-4b08-a233-6a8dc5a7938d",
                "name": "TELEFONE",
                "value": "={{ $json.data[0].TELEFONE }}",
                "type": "string"
              },
              {
                "id": "cb4c5416-9238-4c03-bdd0-946d51789a9d",
                "name": "{{ $json.data[0].whatsapp }}",
                "value": "={{ $json.data[0].whatsapp }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2340,
          420
        ],
        "id": "8d9d1a17-b3bb-4fc2-b8d0-630f82f1600c",
        "name": "Edit Fields5"
      },
      {
        "parameters": {
          "numberInputs": 4
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          2620,
          40
        ],
        "id": "7fcc0060-8afc-46fc-89f4-76b505c650dd",
        "name": "Merge"
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "NOME",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1000,
          920
        ],
        "id": "4da1162d-f7f1-46a1-97b0-2b112f2e2309",
        "name": "Merge1",
        "onError": "continueErrorOutput",
        "notes": "Sem WhatsApp "
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5d35397f-cbf2-4259-8832-8d49cbc289bb",
                "name": "NOME",
                "value": "={{ $json.NOME }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1380,
          160
        ],
        "id": "ebcd76dd-de04-436b-84fe-a8bf6d969d0a",
        "name": "Edit Fields6"
      },
      {
        "parameters": {
          "compare": "selectedFields",
          "fieldsToCompare": "TELEFONE",
          "options": {}
        },
        "type": "n8n-nodes-base.removeDuplicates",
        "typeVersion": 2,
        "position": [
          1220,
          900
        ],
        "id": "d7aa77c1-e231-4f6c-b76b-1fd79d15f8d8",
        "name": "Remove Duplicates"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "87ebe782-51d7-4f81-8b02-db2797cfc4e4",
                "name": "CPF",
                "value": "={{ $json.CPF.trim() }}",
                "type": "string"
              },
              {
                "id": "0cf48e89-6f33-48b7-9957-d2310b60dd38",
                "name": "NOME",
                "value": "={{ $json.NOME.trim() }}",
                "type": "string"
              },
              {
                "id": "75f5203b-233a-45a7-9dbf-281f677adfd5",
                "name": "TELEFONE_1",
                "value": "={{ $json[\"TELEFONE 1\"].trim() }}",
                "type": "string"
              },
              {
                "id": "b3f87e3f-54d1-4866-abac-46af0771de5a",
                "name": "TELEFONE_2",
                "value": "={{ $json[\"TELEFONE 2\"].trim() }}",
                "type": "string"
              },
              {
                "id": "f79b9494-d4ac-489d-bb3d-cf53566918e8",
                "name": "TELEFONE_3",
                "value": "={{ $json[\"TELEFONE 3\"].trim() }}",
                "type": "string"
              },
              {
                "id": "678bedd4-7300-435b-9e38-503b2390867f",
                "name": "TELEFONE_4",
                "value": "={{ $json[\"TELEFONE 4\"].trim() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1580,
          900
        ],
        "id": "210fd00b-6548-4938-8da1-2437fad3f6f5",
        "name": "Organiza Dados"
      },
      {
        "parameters": {
          "content": "## CONSULTA TELEFONE CREDILUS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 1000,
          "width": 860
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1880,
          -400
        ],
        "typeVersion": 1,
        "id": "227c557c-2c6d-4c45-8b85-31a916dcb46b",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## RECEBE DADOS DRIVER\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 740,
          "width": 1020
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          680,
          -340
        ],
        "typeVersion": 1,
        "id": "efa01034-c2a7-467d-8ddb-9c45407094c9",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "url": "http://10.3.60.14:9001/api/v1/credilink/search/wsdl/phone",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "={{ $json.TELEFONE4 }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer ***REDACTED***"
              }
            ]
          },
          "options": {
            "allowUnauthorizedCerts": true,
            "timeout": 100000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2120,
          420
        ],
        "id": "c9357608-ac9d-45e6-8921-b0e62e5ae571",
        "name": "Consulta TELEFONE 4",
        "retryOnFail": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "queue": "higenizador_vanguard",
          "options": {
            "arguments": {
              "argument": [
                {
                  "key": "xqueue-type",
                  "value": "quorum"
                }
              ]
            },
            "acknowledge": "executionFinishesSuccessfully",
            "durable": true,
            "parallelMessages": 30
          }
        },
        "type": "n8n-nodes-base.rabbitmqTrigger",
        "typeVersion": 1,
        "position": [
          800,
          -80
        ],
        "id": "1b946896-3f6e-4688-b67e-6841581d90ad",
        "name": "RabbitMQ Trigger",
        "credentials": {
          "rabbitmq": {
            "id": "8S2CCfj4pf5t6xWv",
            "name": "RabbitMQ account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b124c737-09cc-4b87-a983-3cdae95a976f",
                "name": "NOME",
                "value": "={{ $json.content.parseJson().NOME.trim() }}",
                "type": "string"
              },
              {
                "id": "7c018edb-55ab-4153-945d-afce75e26ec8",
                "name": "TELEFONE1",
                "value": "={{ $json.content.parseJson().TELEFONE1 }}",
                "type": "string"
              },
              {
                "id": "73522027-cdd8-4a10-9f2e-1da2c03ac9e9",
                "name": "TELEFONE2",
                "value": "={{ $json.content.parseJson().TELEFONE2 }}",
                "type": "string"
              },
              {
                "id": "aea80eff-09d8-43c0-bf35-86fafa40d4c5",
                "name": "TELEFONE3",
                "value": "={{ $json.content.parseJson().TELEFONE3}}",
                "type": "string"
              },
              {
                "id": "2a78ae0d-27c5-43fb-b211-7b91a05d431c",
                "name": "TELEFONE4",
                "value": "={{ $json.content.parseJson().TELEFONE4 }}",
                "type": "string"
              },
              {
                "id": "595448b7-580d-479f-809f-446cfa493a28",
                "name": "EMAIL",
                "value": "={{ $json.content.parseJson().driver.EMAIL.trim() }}",
                "type": "string"
              },
              {
                "id": "66dad640-88e1-4a68-912c-d67192f50cba",
                "name": "AquivoName",
                "value": "={{ $json.content.parseJson().driver.AquivoName.trim() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1060,
          -80
        ],
        "id": "b1de931c-44c1-433a-8d44-df49a371717e",
        "name": "Dados"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "cf4f5a5f-2849-4b63-857e-5b0171cb4ab4",
                "leftValue": "={{ $json.TELEFONE4 }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "c5d57b41-d44a-4dc6-b4bb-15c1b2609dee",
                "leftValue": "={{ $json.TELEFONE4 }}",
                "rightValue": "^\\(?\\d{2}\\)?\\s?9\\d{4}[-.\\s]?\\d{4}$",
                "operator": {
                  "type": "string",
                  "operation": "regex"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          1920,
          420
        ],
        "id": "feb5dce5-00a6-4076-816b-0ec0c3d98407",
        "name": "Filter3"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1360,
          1260
        ],
        "id": "884751c1-2bb7-43a0-838a-6af489a67e9c",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "content": "## Organiza dados e insere na planilha\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 820,
          "width": 1500
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          660,
          620
        ],
        "typeVersion": 1,
        "id": "6e541ba5-5963-4d71-8cd0-f70a7d3680f3",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "889444c4-17ac-4d43-9911-571636fa1ade",
                "leftValue": "={{ $json['WHATSAPP '] }}",
                "rightValue": "1",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          740,
          900
        ],
        "id": "07ed6320-7c0d-43e5-8ee5-fc33b26dfef1",
        "name": "Tem WhatsApp"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst groupedData = {};\n\n// Agrupa os registros por CPF e armazena os telefones em uma lista\nitems.forEach(item => {\n    const { CPF, NOME, TELEFONE } = item.json;\n\n    if (!groupedData[CPF]) {\n        groupedData[CPF] = { CPF, NOME, TELEFONES: new Set() };\n    }\n\n    // Adiciona os telefones em um Set para evitar duplicatas\n    groupedData[CPF].TELEFONES.add(TELEFONE);\n});\n\n// Converte para o formato de saída esperado\nconst output = Object.values(groupedData).map(({ CPF, NOME, TELEFONES }) => {\n    const result = { CPF, NOME };\n    \n    // Converte o Set para Array e garante que tenha 4 telefones, preenchendo com null se necessário\n    const telefoneArray = Array.from(TELEFONES);\n    while (telefoneArray.length < 4) {\n        telefoneArray.push(null);\n    }\n\n    // Adiciona os telefones como TELEFONE 1, TELEFONE 2, ..., TELEFONE 4\n    telefoneArray.forEach((tel, index) => {\n        result[`TELEFONE ${index + 1}`] = tel;\n    });\n\n    return { json: result };\n});\n\nreturn output;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1400,
          900
        ],
        "id": "e6b7cab4-3ee5-4b04-b46f-d0fcc5d066bf",
        "name": "Merge telefones"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "={{ $('Dados').first().json.id }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Página1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ul0tgR435FJSwlJUVgWlznw7wyKkEmB1SBXIm5wcEXA/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "CPF": "={{ $json.CPF }}",
              "NOME": "={{ $json.NOME }}",
              "TELEFONE 1": "={{ $json['TELEFONE 1'] }}",
              "TELEFONE  2": "={{ $json['TELEFONE 2'] }}",
              "TELEFONE  3": "={{ $json['TELEFONE 3'] }}",
              "TELEFONE 4": "={{ $json['TELEFONE 4'] }}"
            },
            "matchingColumns": [
              "CPF"
            ],
            "schema": [
              {
                "id": "CPF",
                "displayName": "CPF",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "NOME",
                "displayName": "NOME",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "TELEFONE 1",
                "displayName": "TELEFONE 1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "TELEFONE  2",
                "displayName": "TELEFONE  2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "TELEFONE  3",
                "displayName": "TELEFONE  3",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "TELEFONE 4",
                "displayName": "TELEFONE 4",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "useAppend": true
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          2280,
          900
        ],
        "id": "810974f7-334b-4a09-b22f-3470a8e8487f",
        "name": "Insere planilha",
        "executeOnce": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "TckYcAKTANWzd2jN",
            "name": "Google Sheets account DEV"
          }
        }
      },
      {
        "parameters": {
          "amount": 3
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          2300,
          1180
        ],
        "id": "7e2585a6-1dda-410a-860d-18e95ca11001",
        "name": "Wait",
        "webhookId": "9b9ce239-8430-4f75-b72d-ab1cbf81d9fd"
      },
      {
        "parameters": {
          "url": "http://10.3.60.31:15672/api/queues/%2F/higenizador_vanguard",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2480,
          900
        ],
        "id": "b40a2a2c-be03-47e1-a30a-6cdf8ad166eb",
        "name": "HTTP Request",
        "credentials": {
          "httpBasicAuth": {
            "id": "ZbqYo9qALBnrHiBt",
            "name": "RabbitMQ User"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "4612a8f9-6298-4333-b902-90aef6f93dc1",
                "leftValue": "={{ $json.messages }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          2660,
          900
        ],
        "id": "a4485eae-0748-48f9-9936-a8727029b17e",
        "name": "Filter4"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://evolutionapi-dev.mdgintermediacoes.com.br/message/sendText/SUPORTE ",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "s84p04mxmhmy429fysif1"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"delay\": 5, \"number\": \"5519993418990\",\"textMessage\": {\"text\":\"terminou a higienização\" }}\n",
          "options": {}
        },
        "id": "3f7d2b00-b884-4747-9145-23b27a6b1eff",
        "name": "InformTiBloqueados",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2880,
          900
        ],
        "alwaysOutputData": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "upsert",
          "table": {
            "__rl": true,
            "value": "vanguard",
            "mode": "list",
            "cachedResultName": "vanguard"
          },
          "dataMode": "defineBelow",
          "columnToMatchOn": "cpf",
          "valueToMatchOn": "={{ $json.CPF }}",
          "valuesToSend": {
            "values": [
              {
                "column": "name",
                "value": "={{ $json.NOME }}"
              },
              {
                "column": "phone_1",
                "value": "={{ $json.TELEFONE_1 }}"
              },
              {
                "column": "phone_2",
                "value": "={{ $json.TELEFONE_2 }}"
              },
              {
                "column": "phone_3",
                "value": "={{ $json.TELEFONE_3 }}"
              },
              {
                "column": "phone_4",
                "value": "={{ $json.TELEFONE_4 }}"
              },
              {
                "column": "work_name",
                "value": "={{ $('Dados').first().json.AquivoName }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          1800,
          900
        ],
        "id": "b2fd473f-c06a-49ce-8bce-3c3983f6f16d",
        "name": "MySQL",
        "retryOnFail": true,
        "credentials": {
          "mySql": {
            "id": "J1LWSbgBGGJo2kdj",
            "name": "Sanitizes"
          }
        }
      },
      {
        "parameters": {
          "content": "## OLd\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 860,
          "width": 840
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2220,
          640
        ],
        "typeVersion": 1,
        "id": "d2dfeca6-60a7-4705-8c45-5051fa41a395",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "DaxZz3WETrVKZz8z",
            "mode": "list",
            "cachedResultName": "Higenizador - Gera planilha"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          1420,
          -760
        ],
        "id": "74337b2d-cc67-4124-91af-42c45ca27c75",
        "name": "Execute Workflow"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "4612a8f9-6298-4333-b902-90aef6f93dc1",
                "leftValue": "={{ $json.messages }}",
                "rightValue": 10,
                "operator": {
                  "type": "number",
                  "operation": "lte"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          940,
          -760
        ],
        "id": "2af5ff2f-807f-49d0-b93f-19aee3dc0444",
        "name": "Filter5"
      },
      {
        "parameters": {
          "url": "http://10.3.60.31:15672/api/queues/%2F/higenizador_vanguard",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          720,
          -760
        ],
        "id": "6e1b345d-8a63-45f6-8a0a-223cf3921f67",
        "name": "HTTP Request1",
        "credentials": {
          "httpBasicAuth": {
            "id": "ZbqYo9qALBnrHiBt",
            "name": "RabbitMQ User"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b124c737-09cc-4b87-a983-3cdae95a976f",
                "name": "NOME",
                "value": "={{ $('RabbitMQ Trigger').first().json.content.parseJson().NOME }}",
                "type": "string"
              },
              {
                "id": "7c018edb-55ab-4153-945d-afce75e26ec8",
                "name": "TELEFONE1",
                "value": "={{ $('RabbitMQ Trigger').first().json.content.parseJson().TELEFONE1 }}",
                "type": "string"
              },
              {
                "id": "73522027-cdd8-4a10-9f2e-1da2c03ac9e9",
                "name": "TELEFONE2",
                "value": "={{ $('RabbitMQ Trigger').first().json.content.parseJson().TELEFONE2 }}",
                "type": "string"
              },
              {
                "id": "aea80eff-09d8-43c0-bf35-86fafa40d4c5",
                "name": "TELEFONE3",
                "value": "={{ $('RabbitMQ Trigger').first().json.content.parseJson().TELEFONE3 }}",
                "type": "string"
              },
              {
                "id": "2a78ae0d-27c5-43fb-b211-7b91a05d431c",
                "name": "TELEFONE4",
                "value": "={{ $('RabbitMQ Trigger').first().json.content.parseJson().TELEFONE4 }}",
                "type": "string"
              },
              {
                "id": "595448b7-580d-479f-809f-446cfa493a28",
                "name": "EMAIL",
                "value": "={{ $('RabbitMQ Trigger').first().json.content.parseJson().driver.EMAIL }}",
                "type": "string"
              },
              {
                "id": "66dad640-88e1-4a68-912c-d67192f50cba",
                "name": "AquivoName",
                "value": "={{ $('RabbitMQ Trigger').first().json.content.parseJson().driver.AquivoName }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1140,
          -760
        ],
        "id": "b0446e56-a625-489d-9903-6836d71cf87d",
        "name": "Dados1"
      },
      {
        "parameters": {
          "content": "## INFORMA FILA \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 380,
          "width": 980
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          660,
          -920
        ],
        "typeVersion": 1,
        "id": "6a711407-3bf9-4e14-a8b8-e15216de91e0",
        "name": "Sticky Note4"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1960,
          900
        ],
        "id": "07942de9-153c-4832-be0f-bfffe605d7f2",
        "name": "No Operation, do nothing1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1640,
          -760
        ],
        "id": "7e81b157-9a6a-4564-b46d-b95180fa5a05",
        "name": "No Operation, do nothing2"
      }
    ],
    "connections": {
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            },
            {
              "node": "Filter1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Filter2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Edit Fields6",
              "type": "main",
              "index": 0
            },
            {
              "node": "Filter3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Consulta Telefone 1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter1": {
        "main": [
          [
            {
              "node": "Consulta Telefone 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter2": {
        "main": [
          [
            {
              "node": "Consulta Telefone 3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consulta Telefone 1": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consulta Telefone 2": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consulta Telefone 3": {
        "main": [
          [
            {
              "node": "Edit Fields4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Edit Fields4": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Edit Fields5": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 3
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Tem WhatsApp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields6": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Remove Duplicates",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove Duplicates": {
        "main": [
          [
            {
              "node": "Merge telefones",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Organiza Dados": {
        "main": [
          [
            {
              "node": "MySQL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consulta TELEFONE 4": {
        "main": [
          [
            {
              "node": "Edit Fields5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "RabbitMQ Trigger": {
        "main": [
          [
            {
              "node": "Dados",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dados": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter3": {
        "main": [
          [
            {
              "node": "Consulta TELEFONE 4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tem WhatsApp": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge telefones": {
        "main": [
          [
            {
              "node": "Organiza Dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Insere planilha",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insere planilha": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Filter4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter4": {
        "main": [
          [
            {
              "node": "InformTiBloqueados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MySQL": {
        "main": [
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow": {
        "main": [
          [
            {
              "node": "No Operation, do nothing2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "Filter5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter5": {
        "main": [
          [
            {
              "node": "Dados1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dados1": {
        "main": [
          [
            {
              "node": "Execute Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2025-02-20T16:29:31.422Z",
      "createdAt": "2025-02-20T16:29:31.422Z",
      "id": "XZLWvH2vm1NnuOvm",
      "name": "Comercial"
    }
  ]
}